html {
	height: 100%;
	max-height: 100%;
	font-family: arial, sans-serif;
	font-size: 9pt;
}

body {
	background-color: #fff;
	color: #404040;
	margin: 0;
	padding: 0;
}

/* Main Elements */
#logoheader {
    height: 73px;
    position: relative;
    padding: 15px 0 0;
}

#logo {
    background: url("../img/logo.png") no-repeat scroll 8px 5px transparent;
    border: medium none;
    display: block;
    float: left;
    height: 65px;
    margin: 0;
    padding: 0;
    width: 310px;
}

#shoppingcartlogo {
    bottom: 0;
    float: right;
    position: absolute;
    right: 0;
}

#shoppingcartlogo div {
    border: 1px solid #CCCCCC;
    padding: 3px 60px 1px 10px;
    width: 170px;
}

#shoppingcartlogo span.linkcart {
    bottom: -7px;
    position: absolute;
    right: 18px;
    width: 38px;
    height: 53px;
    background: url("../img/cart.png") no-repeat scroll 0 0 transparent;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

#content {
    width: 990px;
    margin: 0 auto;
}

ul#progress {
    background-color: #F5F5F5;
    border: 1px solid #C4C4C4;
    float: left;
    list-style-type: none;
    margin: 5px 0 0;
    padding: 0;
}

ul#progress li.current {
    color: #575757;
    font-weight: bold;
}

ul#progress li.first {
    background: none repeat scroll 0 0 transparent;
    width: 163px;
}

ul#progress li {
    background: url("../img/progress-arrow.png") no-repeat scroll 0 5px transparent;
    color: #C8C8C8;
    display: inline;
    float: left;
    height: 22px;
    padding-top: 6px;
    text-align: center;
    width: 165px;
}

#pmcontent {
    padding: 5px 0;
    min-height: 500px;
    *height: 500px;
}

#paymentMethods { padding: 5px 0; }

#stageheader { display:none }

#foot { 
    width: 990px;
    margin: 0 auto;
}

#base_footer {
    background-color: #F5F5F5;
    background-repeat: repeat-y;
    clear: both;
    color: #6D6D6D;
    overflow: hidden;
    width: 100%;
    height: 14em;
}

#footc {
	margin-bottom: 0px;
	padding: 0px 0px;
	height: 68px;
}

.paddiv1, .paddiv2 {
	height: 0px;
}

#base_footer .base_footer_inner {
    height: 113px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-align: left;
    width: 990px;
}

#base_footer .base_footer_inner.highlighted {
    background-color: #FAFAFA;
    border-bottom: 1px solid #E7E6E6;
    border-top: 1px solid #E7E6E6;
}

#base_footer .base_footer_inner .footer_column {
    display: inline-block;
    padding-left: 35px;
    text-align: left;
    vertical-align: top;
    width: 207.5px;
}

#base_footer .base_footer_inner .footer_column a {
    color: #6D6D6D;
    display: block;
    font-weight: normal;
    margin: 0.5em 0;
}
#base_footer a {
    font-size: 8pt;
    padding: 0.25em 0;
    text-decoration: none;
}

#base_footer .base_footer_inner .footer_column a.media_icons {
    display: inline;
}

#base_footer p, #base_footer p.heading {
    font-size: 9.2pt;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0.25em;
    padding-top: 1em;
}

#displayAmount { 
    font-family: times new roman,serif;
    font-size: 22pt;
    margin: 20px 0;
}

input.paySubmit {
    background: url("../img/button.png") no-repeat scroll 0 0 transparent;
    width: 225px;
    height: 30px;
    padding-bottom: 10px;
    font-size: 10pt;
    border: medium none;
    color: #FFFFFF;
}

input.paySubmit:hover {
    background: url("../img/button.png") no-repeat scroll 0 -33px transparent;
    cursor: pointer;
}

a:active, a:focus { border: medium none }

#nextstep {
	font-weight: bold;
	height: 22px;
	color: #fff;
	font-size: 1.1em;
	display: none;
}

#nextstepc {
	text-align: center;
	padding-top: 4px;
	padding-bottom: 2px;
	background-color: #999;
}

.popupMsg {
	display: none;
	border: 1px solid #666;
	background-color: #eee;
	margin-bottom: 5px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 6px;
}

.popupMsgOPP {
	position: relative; 
	top: -155px; 
	margin-left: 0px;
	z-index: 10;
}

#content h2 {
	color: #367EA6;
	padding-top: 6px;
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.8em;
}

#content h3 {
	margin-left: 5px;
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#content pre {
	font-family: courier, monospace;
	font-size: 1em;
}

.pmmdetails {
	padding-left: 80px;
	height: auto !important;
}

.fieldSubHeader {
	font-weight:bold;
	margin-bottom:0.5em;
	margin-top:0.5em;
}

/* Table */
table.basetable {
	margin-left: 5px;
	width: 100%;
}

table.basetable td {
	padding-bottom: 0.6em;
	padding-right: 0.6em;
}

/* Order Data Layout */
table.od {
	margin: 10px 0px 10px 0px;
}

table.od td, table.od th  {
	padding: 5px;
	border: 1px solid #999;
}

table.od th {
	font-weight: bold;;
}

/* Image Buttons (Payment Methods) */
.imgB {
	width: 158px;
	height: 32px;
	padding: 0;
	border: 0;
	background: transparent url("../img/bg_buttons.png") no-repeat left 0px;
	overflow: hidden;
	color: #444;
	cursor: pointer; /* hand-shaped cursor */
	cursor: hand; /* for IE 5.x */
	font-weight: bold;
	font-size: 1.2em;
}

.imgB:hover, .imgB:active {
	color: #66f;
}

.pmB {
	width: 400px;
	height: 42px;
	padding-left: 85px;
	text-align: left;
	margin-bottom: 6px;
	font-size: 1.1em;
	background-color: transparent !important;
}

/* Image Buttons Footer (next/previous/pay) */

#footerb1div {
	float: left;
	text-align: left;
	display:none;
}

#footerb1div input,
#footerb2div input{
    background: url("../img/button.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    font-size: 10pt;
    height: 30px;
    padding-bottom: 10px;
    width: 225px;
}

#footerb1div input:hover,
#footerb2div input:hover {
    background: url("../img/button.png") no-repeat scroll 0 -33px transparent;
    cursor: pointer;
}

#footerb2div {
	float: right;
	text-align: right;
}

.cancelB {
	background-position: left 0px;
}

.nextB {
	background-position: right -32px;
}

.backB {
	background-position: left -96px;
}

.finishB {
	background-position: right -64px;
}

/* Links */

a {
	text-decoration: none;
	color: #39f
}

a:visited {
	text-decoration: none;
	color: #39f
}

/* Form elements */

input,select {
	font-size: 0.95em;
	padding: 1px;
	border: 1px solid #C3C3C3;
	border-top-color: #7C7C7C;
	border-bottom-color: #DDD;
}

button:focus {
	outline: none;
}

/* Validation */

table.basetable .inputField {
	padding: 1px 2px 2px 2px;
	background-color: #EAF5FA;
}

table.basetable .errorField {
	border: 2px solid #f33;
	background-color: #fff3f3;
	padding: 1px 1px 1px 1px;
}

.fieldDiv {
	padding-right: 20px;
	background: transparent;
}

.errorDiv {
	background: transparent url("/hpp/img/icons/error.png") no-repeat right 3px;
	padding-right: 20px;
}

.errorFrame {
	background-color: #fff3f3;
}

/********************************************/
/*               oneclick                   */
/********************************************/
.pmOc {
	margin-bottom: 10px;
}

.pmOc div.pmOcDetail {
	background-color: #E0E6FF;
	border: 1px solid #CCCCFF;
	padding: 6px;
	display: block;
	margin-right: 8px;
	margin-bottom: 8px;
	float: left;
	width: 168px;
}

.pmOc div.pmOcPad {
	height: 1px;
	display: block;
	clear: both;
}

.pmOcRemove {
	float: left;
	margin-left: 10px;
}

.pmOcInput {
	background-color: #fff;
}

.pmOcRadio {
	float: left;
}

.pmOcDetailSummary {

	height: 97px; /*101px;*/
	width: 160px;
	color: white;
	clear:both;
	font-family:monospace;
	font-size: 11px;
	font-weight:bold;
	line-height:1.3;
	padding-top: 10px;
	margin:4px 0 0 4px;
}


.pmOcDetailSummaryCard {
	background-image: url(/hpp/img/card_generic.png);
	background-repeat: no-repeat;
}
.pmOcDetailSummaryElv {
	background-image: url(/hpp/img/elv_generic.png);
	background-repeat: no-repeat;
}

.pmOcLogo {
	height:22px;
	width:40px;
	background-color: white;
	margin: 0px 0px 11px 110px;
}
.pmOcElv {
	color: #888;
	margin-bottom: 19px;
	height:15px;
	margin-left: 10px;
	letter-spacing: 3px;
}
.pmOcPan {
	height:15px;
	padding-top: 9px;
	margin-left: 14px;
}
.pmOcExp {
	height:15px;
	font-size: 10px;
	margin-left: 105px;
}
.pmOcName {
	height:15px;
	margin-left: 14px;
	text-transform: uppercase;
}

.pmOcArrow {
	margin-left: 65px;
	height: 20px;
	background-repeat: no-repeat;
	background-image: url(/hpp/img/arrow_down.png);
}

/* old oneclick - directdebit_NL */
.pmOcDDNL, .pmOcDDNLHeader {
	color: #888;
}

.pmOcDDNLHeader {
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 1.1em;
}

.pmOcDDNL {
	margin-bottom: 5px;
	letter-spacing: 2px;
}

div.pmOcDetail .fieldDiv, div.pmOcDetail .errorDiv {
	display: inline;
}

div.pmOcDetail input {
	background-color: white;
}

div.pmOcPay {
	text-align: right;
}

/********************************************/
/********************************************/


/********************************************/
/*            new oneclick                  */
/********************************************/

.pmOcOverview {
	margin-bottom: 10px;
	display: block;
}

.pmOcOverview div.pmOcDetail {
	background-color: #E0E6FF;
	border: 1px solid #CCCCFF;
	padding: 6px;
	display: block;
	margin-right: 8px;
	margin-bottom: 8px;
	float: left;
	width: 278px;
}

.pmOcOverview div.pmOcDetailSummary {
	margin: 0px;
	padding: 0px;
	height: 58px;
	width: 272px;
	clear:both;
	font-size: 11px;
	font-weight:normal;
	line-height:1.3;
	cursor: pointer;
	color: black;
	font-family: tahoma, verdana, arial, sans-serif;
}

.pmOcOverview div.pmOcPad {
	height: 1px;
	display: block;
	clear: both;
}

.pmOcOverview div.pmOcLogo {
	height:22px;
	width:40px;
	background-color: white;
	margin: 0px;
}

.pmOcOverview div.pmOcField1 {
	height:15px;
	padding-top: 9px;
	margin-left: 0px;
}

.pmOcOverview div.pmOcField2 {
	padding-top: 0px;
	height:15px;
	margin-left: 0px;
}

.pmOcOverview span.pmOcFieldTitle {
	float: left;	
	width: 130px;
}

.ocRemoveDetail {
	cursor: pointer;
	position: relative;
	top: 3px;
	left: 2px;
}

.ocNewDetailsLink {
	cursor: pointer;
	text-decoration: underline;
}

.ocStoredDetails {
	font-size: 1.25em;
}

/* new oneclick - card */
.ocCardLogo {
	cursor: pointer;
}
.ocCardUpdateExpiryDate {

}
.ocCardUpdateExpiryDateLink {
	cursor: pointer;
	text-decoration: underline;
}
.cardNumberTitle {
	width:	200px;
}

/* new oneclick - directdebit_NL */

.ocDDNLAccount {
	float:	left;
	padding: 4px;
}

.ocDDNLAccountLink {
	cursor: pointer;
	border: 1px solid #84e33c;
	margin: 3px 9px 3px 1px;
	color: #999999;
}

.ocDDNLAccountNoLink {
	margin: 2px 8px 2px 0px;
	border: 2px solid #84e33c;
}

/********************************************/
/********************************************/


/* ivr specific css */

.ivricon {
        display: block;
        margin-right: 10px;
        float: left;
}
.ivrmessage {
        display: block;
        font-weight: bold;
}
.ivrdetail {
        display: block;
        margin-top: 5px;
        font-weight: bold;
        font-family: arial, sans-serif;
}


#phoneNumber .ivrdetail {
        color: #57A022;
        font-size: 2.4em;
}

#payCode .ivrdetail {
        color: #1F5F98;
        font-size: 2.4em;
}
#timeToCall .ivrmessage {
        font-weight: normal;
        line-height: 1.1em;
}

#timeToCall .ivrmessage .phoneDetails, #timeLeft {
        font-weight: bold;
        color:  #57A022;
        font-family: arial, sans-serif;
}


.progressW {
        width: 400px; 
        margin-left: 50px; 
        padding: 1px;
        border: 1px solid #666;
        background-color: transparent
}
.progress {
        width: 0px;
        font-size: 1px;
        height: 14px;
        margin: 0px;
        padding:0px;
        background-color: #66C931;
        background-image: url(/hpp/img/progress3.png);
        background-repeat: repeat-x;
}

.ebanking_FIFrame {
	width: 300px;
	float: right;
}

.ebanking_FIHeader {
    font-weight:    bold;
    margin-bottom:  5px;
    margin-top:     5px;
    color:          #1678A5;
}

.ebanking_FIText {
    padding:        5px;
}

.invoicestat {
    width: 55%;
    border: 2px solid black;
    font-family: courier, monospace;
    padding: 17px 10px 17px 61px;
}

.invoicestatPaid      { border-color: green; background-color: #efe; }  
.invoicestatUnPaid    { border-color: orange; background-color: #fff5ee; } 
.invoicestatCannotPay { border-color: red; background-color: #fee; } 


.airlinedatalabel, .airlinelegdatalabel{
    float:left;
    clear:left;
    padding-top:7px;
    font-weight:bold;

}

.airlinedataelement, .airlinelegdataelement{
    float:right;
    padding-top:7px;
}


.airlinedata{
	float:left;
	width:800px;
	height:100px;
	border:solid 2px #367EA6;
	padding:10px;
	margin:10px;
	clear:both;
	position:relative;
}

.airlinelegdata{
	float:left;
	width:800px;
	border:solid 2px #367EA6;
	padding:10px; 
	margin:10px;
	clear:both;
	position:relative;
	height:120px;
}

.airlinedatatitle{
	background: #367EA6;
    color: white;
    font-size: 20px;
    margin: -10px;
    padding: 6px;
}

.airlinelegdatatitle{
	background: #367EA6;
    color: white;
    font-size: 20px;
    margin: -10px;
    padding: 5px;
    left:640px;
    position:absolute;
    
}

.endairlinelegdata{
	clear:both;
}



.labeldepartairport{
	background: #367EA6;
    color: white;
    font-size: 13px;
    left: 10px;
    position: absolute;
    top: 0px;
    padding: 5px;
}

.elementdepartairport{
	background: #367EA6;
    color: white;
    font-size: 13px;
    left: 200px;
    position: absolute;
    top: 0px;
    padding: 5px;
}

.labeldestinationcode{
	background: #367EA6;
    color: white;
    font-size: 13px;
    left: 10px;
    position: absolute;
    top: 20px;
    padding: 5px;
}

.elementdestinationcode{
	background: #367EA6;
    color: white;
    left: 200px;
    font-size: 13px;
    position: absolute;
    top: 20px;
    padding: 5px;
}

.airlinelegdataheader{
	background: #367EA6;
	height: 50px;
    left: 0;
    position: absolute;
    width: 820px;
    top: 0;
}

.labelflightnumber{
	position: absolute;
	top:50px;
	left:10px;
}
.elementflightnumber{
	position: absolute;
	top:50px;
	left:110px;
}
.labelcarriercode{
	position: absolute;
	top:50px;
	left:350px;
}
.elementcarriercode{
	position: absolute;
	top:50px;
	left:450px;
}
.labelfarebasecode{
	display:none;
}
.elementfarebasecode{
	display:none;
}
.labelclassoftravel{
	position: absolute;
	top:75px;
	left:10px;
}
.elementclassoftravel{
	position: absolute;
	top:75px;
	left:110px;
}
.labelstopovercode{
	display:none;
}
.elementstopovercode{
	display:none;
}
.labeldateoftravel{
	position: absolute;
	top:100px;
	left:10px;
}
.elementdateoftravel{
	position: absolute;
	top:100px;
	left:110px;
}
.labeldeparttax{
	display:none;
}
.elementdeparttax{
	display:none;
}


#labelairlinepassengername{
	position:absolute;
	left:10px;
	top:30px;
}
#airlinepassengername{
	position:absolute;
	left:150px;
	top:30px;
}
#labelairlinecustomerreferencenumber{
	position:absolute;
	left:300px;
	top:30px;
}
#airlinecustomerreferencenumber{
	position:absolute;
	left:500px;
	top:30px;
}
#labelairlineticketissueaddress{
	position:absolute;
	left:10px;
	top:55px;
}
#airlineticketissueaddress{
	position:absolute;
	left:150px;
	top:55px;
}
#labelairlineticketnumber{
	position:absolute;
	left:300px;
	top:55px;
}
#airlineticketnumber{
	position:absolute;
	left:500px;
	top:55px;
}
#labelairlinetravelagencycode{
	display:none;
}
#airlinetravelagencycode{
	display:none;
}
#labelairlinetravelagencyname{
	position:absolute;
	left:10px;
	top:80px;
}
#airlinetravelagencyname{
	position:absolute;
	left:150px;
	top:80px;
}
#labelairlineagencyplanname{
	display:none;
}
#airlineagencyplanname{
	display:none;
}
#labelairlineagencyinvoicenumber{
	display:none;
}
#airlineagencyinvoicenumber{
	display:none;
}
.receiptNoPrint {
	display: none;
}
.receiptPrint {
	display: none;
}
