#container #main
{
  padding-left:0!important;
  padding-right:0!important;
}

.configurator ul#progress
{
  background-color:#F5F5F5;
  border:1px solid #C4C4C4;
  float:left;
  list-style-type:none;
  width:988px;
  margin:0;
  padding:0;
}

.configurator .step1
{
  width:990px;
  float:left;
  margin-top:10px;
}

.configurator ul#progress li.first
{
  background:none;
}

.configurator ul#progress li
{
  background:url(../img/progress-arrow.png) no-repeat scroll 0 5px rgba(0,0,0,0);
  color:#C8C8C8;
  display:inline;
  float:left;
  height:22px;
  padding-top:6px;
  text-align:center;
  width:50%;
}

.configurator .top .left
{
  width:115px;
}

.configurator .top .center
{
  width:560px;
  float:left;
}

.configurator .top .right,.configurator .bottom .right
{
  width:275px;
}

.configurator .bottom .right
{
  margin-bottom:15px;
}

.configurator .middle
{
  float:left;
  width:990px;
  min-height:200px;
}

.configurator .step1 .middle .left
{
  width:545px;
}

.configurator .step1 .middle .right
{
  width:363px;
}

.tabsdiv .tabheader
{
  border-bottom:1px solid #C4C4C4;
  list-style-type:none;
  margin:0;
  padding:0;
}

.tabsdiv .tabheader li.ui-state-active
{
  background:none repeat scroll 0 0 #FFF;
  margin-bottom:-1px;
  border-color:#C4C4C4 #C4C4C4 #000;
  border-style:solid solid none;
  border-width:1px 1px medium;
}

.tabsdiv .tabheader li
{
  display:inline;
  float:left;
  padding:5px 10px;
}

.tabsdiv .ui-tabs-panel
{
  border-left:1px solid #C4C4C4;
  border-top:none;
  border-color:0 #C4C4C4 #C4C4C4;
  border-style:none solid solid;
  border-width:medium 1px 1px;
  padding:10px;
}

.configurator .step1 .preview-box
{
  background-color:#FFFCEB;
  border:1px solid #8A7A63;
  position:relative;
  margin:20px 0 0;
  padding:10px;
}

.configurator .step1 .preview-box span.default
{
  background:none repeat scroll 0 0 #FFFCEB!important;
  font-style:italic;
  font-weight:700!important;
}

.configurator .step1 .fields
{
  background-color:#F5F5F5;
  border:1px solid #C4C4C4;
  margin-top:10px;
  padding:10px;
}

.configurator .step1 .fields .field
{
  margin-bottom:5px;
}

.configurator .step1 .fields .field label
{
  display:inline-block;
  width:340px;
  padding:3px 0 4px;
}

.configurator .step1 .field_group
{
  margin-bottom:25px;
  margin-top:5px;
}

.configurator .step1 .field_group a.more
{
  float:right;
}

.configurator .step1 .fields .field input
{
  border:1px solid #C4C4C4;
  border-radius:4px;
  color:#575757;
  height:20px;
  padding-left:5px;
  font-weight:700;
  width:158px;
}

.configurator .step1 .fields .field select
{
  border:1px solid #C4C4C4;
  border-radius:4px;
  color:#575757;
  height:24px;
  padding-left:5px;
  font-weight:700;
  width:165px;
  padding-top:2px;
}

.configurator .step1 > .top
{
  width:968px;
  float:left;
  border:1px solid #C4C4C4;
  margin-bottom:15px;
  min-height:170px;
  padding:10px;
}

.configurator .right button
{
  float:right;
  width:220px;
}

.configurator .right .disclosure-widget
{
  float:right;
  width:208px;
}

.configurator .right .book-price
{
  float:right;
  font-size:30px;
  font-weight:400;
  text-align:right;
  width:220px;
  margin:5px 0;
}

.configurator .right .disclosure-widget > :first-child
{
  background:url(/system/modules/tt_manage_books/html/img/east.png) no-repeat scroll 0 -3px rgba(0,0,0,0);
  cursor:pointer;
  display:block;
  padding-left:18px;
}

.configurator .step1 .fields .field_require
{
  color:#BC0000;
}

.configurator .step1 .fields .field_require_error
{
  color:#BC0000;
  font-weight:700;
}

.configurator ul#progress li.current,.tabsdiv .tabheader li.ui-state-active a,.configurator .step1 .field_group .name
{
  color:#575757;
  font-weight:700;
}

.configurator .step2 .top .left { width: 650px }
.configurator .top .center { margin-left: 10px }
.configurator .top .center h1 { margin-top: 0; font-size: 20pt }
.configurator .top h1 { color: #575757 }