#PPCImageCanvas {
    background: url("../images/no-image.jpg") no-repeat scroll center center #FFFFFF;
    height: 237px !important;
    width: 237px !important;
}
#PPCImageCanvas {
    background: url("../images/no-image.jpg") no-repeat scroll center center #FFFFFF;
    height: 237px !important;
    width: 237px !important;
}
#PPCMain {
    height: auto;
    padding: 15px;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
}
.upload-div{
	line-height: 30px;
	text-align: center;
}
.bt-upload{position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0;width:110px;}
.wrapper-upload{padding: 15px; background: #E7E7E7; margin-top: 15px;width: 20%; float: left;}
#PPCMain input, textarea, select {
	border: solid 1px #b5b5b5;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 15px;
}
#PPCMain h4, #PPCMain h4 span {
    font-size: 15px;
    font-weight: bold;
    margin: 0px 0px 15px 0px;
    padding: 0;
}
#PPCMainHeader {
    width: 100%;
    border-bottom: solid 1px #949494;
    margin-bottom: 25px;
    position: relative;
}
#PPCMainHeader h3 {
    font-size: 35px;
    font-family: 'Stalemate',cursive;
    padding: 0px;
    line-height: 25px;
    font-weight: normal;
    margin: 0;
}
#PPCSliderSate {
    position: absolute;
    right: 40px;
    top: 0px;
    font-weight: bold;
    font-style: italic;
}
#PPCButtonClose {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}
#PPCMainLeft {
    width: 36%;
    float: left;
}
#PPCMainRight {
    float: left;
    width: 100%;
    background: url("../images/dots-line-bg.png") repeat-x scroll center bottom;
    padding-bottom: 20px
}
#PPCMainFooter {
    width: 100%;
    clear: both;
    padding-top: 10px;
}
#PPCFormContainer {
	display: inline-block;
}
#PPCMainNav {
    float: left;
    width: 100%;
    padding-top: 25px;
}
#PPCFileUpload {
    clear: both;
    font-size: 12px;
}
.PPCButtonBack {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-weight: bold;
    cursor: pointer;
}
.PPCButtonBack span {
    
}
.PPCButtonNext {
	float: right;
    display: inline-block;
    height: 36px;
    padding: 0px;
    border: solid 1px #C34D03;
    border-radius: 2px;
    cursor: pointer;
    background: #f18b4d; /* Old browsers */
    background: -moz-linear-gradient(top,  #f18b4d 0%, #f18b4d 45%, #ea6c20 53%, #ea6c20 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f18b4d), color-stop(45%,#f18b4d), color-stop(53%,#ea6c20), color-stop(100%,#ea6c20)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f18b4d 0%,#f18b4d 45%,#ea6c20 53%,#ea6c20 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f18b4d 0%,#f18b4d 45%,#ea6c20 53%,#ea6c20 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f18b4d 0%,#f18b4d 45%,#ea6c20 53%,#ea6c20 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f18b4d 0%,#f18b4d 45%,#ea6c20 53%,#ea6c20 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f18b4d', endColorstr='#ea6c20',GradientType=0 ); /* IE6-9 */

}
.PPCButtonNext span {
    display: inline-block;
    border: 1px solid #F9C4A4;
    padding: 0 15px;
    height: 34px;
    line-height: 34px;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 2px;
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
    text-transform: uppercase;
}
.PPCImageControls {
    width: 26px;
    height: 26px;
    cursor: pointer;
    float: left;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none; 
}
.ControllerRotateLeft {
    background: url('../images/image-controls.png') no-repeat 3px 1px;
}
.ControllerRotateRight {
    background: url('../images/image-controls.png') no-repeat -23px 1px;
}
.ControllerMoveUp {
    background: url('../images/image-controls.png') no-repeat -49px 1px;
}
.ControllerMoveDown {
    background: url('../images/image-controls.png') no-repeat -75px 1px;
}
.ControllerMoveLeft {
    background: url('../images/image-controls.png') no-repeat -101px 1px;
}
.ControllerMoveRight {
    background: url('../images/image-controls.png') no-repeat -129px 1px;
}
.ControllerScaleUp {
    background: url('../images/image-controls.png') no-repeat -153px 1px;
}
.ControllerScaleDown {
    background: url('../images/image-controls.png') no-repeat -177px 1px;
}
.PPCSlider {
    width: 590px !important;
}
.PPCSlide {
    width: 590px !important;
}
.PPCSlideContent {
    width: 318px !important;
}
.PPCForm input {
    width: 96%;
    height: 30px;
    padding-left: 10px;
    float: left;
}
.PPCForm select {
    width: 99%;
    height: 32px;
    padding: 5px 5px 5px 10px;
    float: left;
}
.PPCForm option {
    padding-left: 10px;
}
.PPCForm textarea {
    width: 92%;
    padding: 10px;
    float: left;
    resize: none !important; 
}
.PPCForm label {
    font-size: 14px;
    font-weight: bold;
    float: left;
    color: #cccccc;
    padding-left: 2px;
    padding-bottom: 5px;
}
.PPCInfo, .PPCSuccess, .PPCWarning, .PPCError {
    font-size: 12px;
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.PPCInfo {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/info_icon.png');
}
.PPCSuccess {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/success_icon.png');
}
.PPCWarning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/warning_icon.png');
}
.PPCError {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error_icon.png');
}
.PPCRequired {
    color: #FF0000;
}
.PPCHidden {
    display: none;
}

.fancybox-skin {
    background: #F3F3F3 !important;
}
.qq-upload-button {
    margin: auto !important;
    color: #000 !important;
    border: solid 1px #A4A4A4;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 1%, #eeeeee 50%, #d8d8d8 51%, #d8d8d8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#eeeeee), color-stop(50%,#eeeeee), color-stop(51%,#d8d8d8), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 1%,#eeeeee 50%,#d8d8d8 51%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 1%,#eeeeee 50%,#d8d8d8 51%,#d8d8d8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 1%,#eeeeee 50%,#d8d8d8 51%,#d8d8d8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 1%,#eeeeee 50%,#d8d8d8 51%,#d8d8d8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */

}
.qq-upload-list, .qq-upload-success, .qq-drop-processing {
    display: none !important;
}
.maxlength-feedback {
	margin-left: 5px;
	font-size: 11px;
}
.maxlength-full {
	background-color: #fee;
}
.maxlength-overflow {
	background-color: #fcc;
}
.maxlength-disabled {
	opacity: 0.5;
}