#container #main
{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

ul#progress
{
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
	border: 1px solid #C4C4C4;
	background-color: #f5f5f5;
}

ul#progress li
{
	display: inline;
	width: 165px;
	height: 22px;
	padding-top: 6px;
	text-align: center;
	float: left;
	color: #c8c8c8;
	background: url(../img/progress-arrow.png) no-repeat scroll 0 5px transparent;
}

ul#progress li.first
{
	width: 163px;
	background: none;
}

ul#progress li.current
{
	color: #575757;
	font-weight: bold;
}

#headerlinkgroup { display: none }
#shoppingcartlogo { bottom: -7px !important }

.step1, .step2, .step3, .step4, .step5, .step6 {
    float: left;
    width: 100%;
}

.formheader h1
{
	font-family: times new roman,serif;
    font-size: 20pt;
    font-weight: normal;
    margin: 0;
}

.formheader {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}

.formheader .controls .awesomebutton { width: 220px }

/*
temp
*/

textvorschau

#textvorschau p
{
	padding: 10px;
	background-color: #FFFCEB;
	border: 1px solid #8A7A63;
	position: relative;
	
}
#textvorschau p strong{color:##9A423A}
#textvorschau span.default {
    background: none repeat scroll 0 0 #FFFCEB !important;
    font-style: italic;
    font-weight: bold !important;
}

#basket-general-view
{
	margin: 20px 0;
	border-color: #C4C4C4 -moz-use-text-color !important;
    border-style: solid none !important;
    border-width: 1px medium !important;
}

#basket-general-view .price_cell
{
	width: 120px !important;
	background: none;
}

#basket-general-view .text_cell strong { color: #000 }

.summary .price_cell
{
	color: green;
	width: 111px;
	text-align: center !important;
}

.checkout_steps hr { border-color: #c4c4c4 }

.formbody .title h1
{
	font-family: times new roman,serif;
    font-size: 20pt;
    font-weight: normal;
    margin: 20px 0;
}

.formbody td.label_cell, .formbody td.text_cell, .formbody td.price_cell
{
	border-bottom: 1px solid #c4c4c4;
	border-top: none;
	
}
.text_cell.None{
	color:#BC0000;
}

.formbody td.label_cell, .formbody td.price_cell { background-color: #F5F5F5 }
.formbody div.left { width: 515px }
.formbody table { width: 100% }
.formbody .tabsdiv { width: 400px }

.formbody .tabheader
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #000;
}

.formbody .tabheader li 
{
    display: inline;
    float: left;
    padding: 5px 10px;
    
}

.formbody .ui-tabs-panel
{
	padding: 10px 22px;
	border-color: -moz-use-text-color #C4C4C4 #C4C4C4;
    border-style: none solid solid;
    border-width: medium 1px 1px;
}

.step1 .formbody .right .ui-tabs-panel
{
	height: 550px;
	overflow: auto;
}

.formbody .tabheader li.ui-state-active 
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C4C4C4 #C4C4C4 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    margin-bottom: -1px;
}

.formbody .tabheader li.ui-state-active a 
{
    color: #575757;
    font-weight: bold;
}

.formbody a.edit_link
{
	background: url("../img/edit.png") no-repeat scroll 100% 0 transparent;
	padding-right: 15px;
	color:green;
}

#umschlagbild, #personen { text-align: center }
#umschlagbild img { margin: 0 0 10px }
#umschlagbild a.edit_link { font-weight: bold }
#textvorschau { text-align: justify }
.formfooter { margin: 20px 2px; }
.formfooter .controls .awesomebutton { width: 220px }
.step2 .right { width: 405px }
.step2 fieldset { border: none }
.step2 .formheader .right { width: 405px; max-width: none; text-align: left }
.step2 .formbody .block
{
	padding: 10px;
	border: 1px solid #c4c4c4;
	margin: 0 0 20px;
}

.step2 #baskchange { float: right }

.step2 .formbody h1 {
    font-family: times new roman,serif;
    font-size: 20pt;
    font-weight: normal;
    margin: 0;
}

.step2 .formbody .right h4 { margin: 0 }
.step2 #userinfo { float: left }

.step2 .janeinbox
{
	float: left;
	margin-right: 3px;
}

.step2 .janeinbox input { margin: 0 }
.step2 ul#payment_method { padding: 0 }
.step2 ul#payment_method li,
.stepchangepayment ul#payment_method li
{
	list-style-type: none;
	padding: 5px 0;
	float: left;
}
.stepchangepayment ul#payment_method li{width:90%;}
.step2 ul#payment_method li span
{  
	float: right;
    line-height: 32px;
    margin-right: 270px;
}
.stepchangepayment ul#payment_method li span{  
    line-height: 32px;
    margin-right: 270px;
}
#AmazonInlineWidget{
	float: left;
    margin-left: 25px;
    width: 126px;
}
.amazon-label{
	float: right;
    width: 353px;
}
.stepchangepayment .amazon-label {
    float: left;
    padding-left: 10px;
    width: 353px;
}
.step2 table td { border-top: 1px solid #c4c4c4 }
.step2 table#invoice td { border-top: medium none }

.step2 table.info td.input {
    background: none repeat scroll 0 0 #F5F5F5;
    padding: 5px;
}

.step2 td input.text { width: 95% }
.step2 td input#shipping_address-address_zip, 
.step2 td input#billing_address-address_zip { width: 35% }
.step2 td select { width: 97% }
.step2 input#coupons_used { width: 66%; float:left; }
.step2 input#coupons_used_validate{ width:29%;float:right; }
.step2 .leadcell,.step2 .leadcell label,.padding3px{line-height: 30px;}
.

.step2 ul#payment_method li > input
{
	margin: 0 5px 0 0;
	float: left;
}
/*
.step2 ul#payment_method li > input[type="radio"]{
	float: left;
    -webkit-appearance: none;
    border: none;
    width: 15px;
    height: 15px;
    background: #fff;    
    background-size: 20px; 
}
.step2 ul#payment_method li > input[type="radio"]:checked
{
    background:url(../img/green_tick_small.png) left center no-repeat;
}
*/
.step2 ul#payment_method li > input[type="radio"],
.stepchangepayment ul#payment_method li > input[type="radio"]{
    display:none;
}

.step2 ul#payment_method li > input[type="radio"] + label,
.stepchangepayment ul#payment_method li > input[type="radio"] + label
{
	padding-left:20px;
	
}

.step2 ul#payment_method li > input[type="radio"]:hover + label:hover,
.stepchangepayment ul#payment_method li > input[type="radio"]:hover + label:hover{
	cursor:pointer;
}

.step2 ul#payment_method li > input[type="radio"]:checked + label,
.stepchangepayment ul#payment_method li > input[type="radio"]:checked + label
{
    background:url(../img/green_tick_small.png) left center no-repeat;
}

.step2 #visa{padding-left:25px;}
.step2 #american{ margin-right: 200px !important;padding-left: 72px;}
.step2 #sofo{  margin-right: 200px !important;padding-left: 45px;}
.step2 #giropay{   margin-right: 200px !important;padding-left: 55px;}
.step2 #paypaltext{   margin-right: 100px !important;padding-left: 42px;}
.step2 #vorauskasse{   margin-right: 180px !important;padding-left: 70px;}


.stepchangepayment #visa{padding-left:25px;}
.stepchangepayment #american{ margin-right: 200px !important;padding-left: 72px;}
.stepchangepayment #sofo{  margin-right: 200px !important;padding-left: 45px;}
.stepchangepayment #giropay{   margin-right: 200px !important;padding-left: 55px;}
.stepchangepayment #paypaltext{   margin-right: 100px !important;padding-left: 42px;}
.stepchangepayment #vorauskasse{   margin-right: 180px !important;padding-left: 70px;}

.step3 .right { width: 405px }
.step3 .formheader .right { max-width: none; width: 405px; text-align: left }
.formbody .alert { border-width: 1px }
.step3 .formbody { margin: 20px 0 }
.step3 .formfooter .right { width: auto }
.step4 .right { width: 405px }
#confirm fieldset { border: none }
.step4 .formheader .right { max-width: none; width: 405px; text-align: left }
.step4 .formbody .left .block 
{
	border: 1px solid #DDDDDD;
    padding: 10px 7px;
}

.step4 .formbody .right .block
{
	border: 1px solid #DDDDDD;
    padding: 10px;
    margin: 0 0 20px;
}
a.bold{font-weight: bold;text-decoration: underline;}

.step4 .formbody .right .block h4 { margin: 0 }
.step4 .formbody .left .right { margin: 20px 0 0; }
.step4 .formbody .left .right, .step4 .formbody .left .right button { width: 220px }

#user > div { padding: 10px }

#address-lieferanschrift, #address-rechnungsanschrift {
    float: left;
    width: 228px;
}

.step4 .formbody h3
{
	border-bottom: 1px solid #c4c4c4;
    font-family: Arial,Verdana,Helvetica,sans-serif,sans;
    font-size: 115%;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 12px;
}

.step4 .formbody #books { margin: 20px 0 0 }
.done .left { width: 515px }
.done .right { width: 415px }

.done .left > h1, .done .right > h1
{
	font-family: times new roman,serif;
    font-size: 20pt;
    font-weight: normal;
    margin: 20px 0;
}

.done .block
{
	padding: 10px;
	border: 1px solid #c4c4c4;
	margin: 20px 0;
}

.done .left span.large
{
	font-size: 14px;
	font-weight: bold;
}

.done .right .block img { float: right }
.done .left .social_media p { float: right ; text-align: right;margin:0px;}
.done .left .social_media h4{margin-top:0px;}
.done .left .social_media p a img{margin-right:4px;}
.done .right .block h4 { margin: 0 }
.done .block.bonusbox p{float:left;width:70%;}
.done .block.bonusbox p span b.red{color:#de5852;}
.done .block.bonusbox a{  
	background: none repeat scroll 0 0 #DDDDDD;
    float: right;
    width: 100%;
}
.error_msg { display:none }
.error .error_msg { display:block }
.error { 
    background: none repeat scroll 0 0 #FF7657 !important; 
    border: 4px solid red !important; 
    color: #9A423A !important 
}
.text_cell.giftbox {
    background: url("../img/Geschenkbox_Warenkorb-1.png") no-repeat scroll 180px -1px transparent;
}
.bookbar_total {
    color: green;
    float: left;
    font-size: 120%;
    font-weight: bold;
    margin: 0 0 0 20px;
    padding: 4px;
}

#myorder .tabsdiv .ui-tabs-panel
{
    height: 550px;
    overflow: auto;
}

#widmung p img
{
    cursor: move;
    cursor: -webkit-zoom-in; 
    cursor: -moz-zoom-in;
}

.stepchangepayment ul#payment_method li {
    list-style-type: none;
    padding: 5px 0;
}

.stepchangepayment ul#payment_method li > input {
    float: left;
    margin: 0 5px 0 0;
}

h4 { margin: 15px 0 }

/* ------------- check email my order -------------- */
#check_my_order{ 
    width:100%;
    padding:100px 20px;
    text-align: left;
   
}
#check_my_order form{ 
    width:100%;
    position: relative;
}
#check_my_order label{
    font-weight: bold;
    float:left;
    width:230px;
    height: 20px; 
    line-height: 20px;
}
#check_my_order .txt_myemail,#check_my_order .btn_check{
    height:20px;
    padding:0px;
    margin: 0px;
    line-height: 20px;
    border: solid 1px #C4C4C4;
    font-size: 12px;
}
#check_my_order .txt_myemail{
    width:250px;
}
#check_my_order .btn_check{
   height: 22px;
   margin-left: 10px;
   padding: 0px 5px;
}
#check_my_order .check_my_order_error{
    color : red;
    margin-top:10px;
    margin-left: 230px;
    width: 250px;
    text-align: center;
    border: solid 1px red;
    height: 20px;
    float: left;
    line-height: 20px;
}
/*-------------- end check mail my order-------------*/
/* -------------- checkout 4-------------------------*/
.colum_input_check {
	width: 20px;
}
/*---------------end checkoutt 4---------------------*/