 h1.headline_filter {
 	font-size:20pt; 
 	margin:2px 0px 2px 0px; 
 	font-family:Times New Roman,serif; 
 	font-weight: normal; 
 	font-style: normal;
 	margin-bottom:0.5em;
 }
 
 ul.tag-mega-dropdown li.mega span span {
 	background: url("/system/modules/tt_manage_books/html/img/triangle-gray.png") no-repeat scroll 99% center transparent !important;
 }
 .article-image .label-ebook-border{
 	width: 69px;
 	padding:2px;
 	background-color:white;
 	position: absolute;
	top: 45px;
	left:0px;
	margin-left:1px;
	float: left;
 }
 .article-image .label-ebook-border .label-ebook{
	height: 20px;
	background-color:#060670;
	color: white;
	font-weight: 900;
	line-height: 20px;
	text-align: center;
 }