#container #main
{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

ul#progress
{
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
	border: 1px solid #C4C4C4;
	background-color: #f5f5f5;
}

ul#progress li
{
	display: inline;
	width: 165px;
	height: 22px;         
	padding-top: 6px;
	text-align: center;
	float: left;
	color: #c8c8c8;
	background: url(../img/progress-arrow.png) no-repeat scroll 0 5px transparent;
}

ul.progress-kinder li{width:197.5px !important;}
ul.progress-ebook li { width: 329px !important; }

ul#progress li.first
{
	width: 163px;
	background: none;
}

ul#progress li.current
{
	color: #575757;
	font-weight: bold;
}

.controls .right{text-align:right;}

#step1 .controls
{
	min-height: 170px;
	border: 1px solid #c4c4c4;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 15px;
}

#step1 .controls .left
{
	float: left;
	width: 690px;
}

#step1 .controls .left img
{
	float: left;
	margin-right: 15px;
}

#step1 .controls .left .title
{
	float: left;
	width: 560px;
}

#step1 .controls .left .title h1
{
	margin-top: 0;
	font-size:20pt;
}

#step1 .controls .left .title .top
{
	min-height: 130px;
}

#step1 .controls .right
{
	width: 275px;
}

#step1 .controls .right button
{
	width: 220px;
	float: right;
}

#step1 .controls .right .disclosure-widget
{
	width: 208px;
	float: right;
}

#step1 .controls .right .disclosure-widget > *:first-child
{
	background: url("../img/east.png") no-repeat scroll 0 -1px transparent;
}

#step1 .controls .right .disclosure-widget.disclosed > *:first-child
{
	background: url("../img/south.png") no-repeat scroll 0 -1px transparent;
}

#step1 .formdata
{
	width: 100%;
	float: left;
	min-height: 400px;
}

#step1 .formdata .left 
{
	width: 545px;
}

#step1 .formdata .right 
{
	width: 363px;
}

#step1 .formdata .type_literaturkklassiker .right
{
	width: 485px;
	margin-top: 5px;
}

#step1 .formdata .type_literaturkklassiker .left
{
	width: 415px;
}

#step1 .formdata .type_literaturkklassiker .left label
{
	width: 250px;
}

#step1 .formdata .type_kinderbuch .left label,
#step1 .formdata .type_geschenkbuch .left label
{
	width: 295px;
}

#step1 .formdata .type_kinderbuch .left,
#step1 .formdata .type_geschenkbuch .left
{
	width: 460px;
}

#step1 .formdata .type_kinderbuch .right,
#step1 .formdata .type_geschenkbuch .right
{
	width: 460px;
	margin-top: 5px;
}

#step1 .formdata .type_kinderbuch .right img
{
	width: 458px;
}

#step1 .formdata .type_literaturkklassiker .image
{
	width: 375px;
	margin: 0 auto;
}

#step1 .formdata .type_kinderbuch #vorschau
{
	border: 1px solid #c4c4c4;
	margin: 10px 0 50px;
	height: auto;
	overflow: hidden;
}

#step1 .formdata .type_geschenkbuch #vorschau
{
	margin-top: 10px;
}

#step1 .formdata .type_literaturkklassiker #vorschau
{
	background-color: #ededed;
	border: 1px solid #c4c4c4;
	margin-top: 10px;
	height: 298px;
}

#step1 .formdata .right #tabsdiv
{
	margin-bottom: 30px;
}

#step1 .formdata .tabheader
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #c4c4c4;
}

#step1 .formdata .tabheader li
{
	display: inline;
	padding: 5px 10px;
	float: left;
}

#step1 .formdata .tabheader li.ui-state-active
{
	border-top: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
	border-bottom: none;
	border-left: 1px solid #c4c4c4;
	background: #ffffff;
	margin-bottom: -1px;
}

#step1 .formdata .tabheader li.ui-state-active a
{
	color: #575757;
	font-weight: bold;
}

#step1 .formdata .ui-tabs-panel
{
	border-left: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
	border-top:none;
	padding: 10px;
}

#step1 .formdata .right .border_preview
{
	padding:2px;
	background-color: #FFFCEB;
	position: relative;
	border: 1px solid #c4c4c4;
	margin: 10px 0 20px;
	
}

#step1 .formdata .right #preview
{
	padding: 10px;
	background-color: #FFFCEB;
	border: 1px solid #8A7A63;
	position: relative;
	
}
#step1 .formdata .right .border_preview #preview
{
	padding: 4px;
	background-color: #FFFCEB;
	border: 1px solid #c4c4c4;
	position: relative;
	
}

#step1 #preview span.default {
    background: none repeat scroll 0 0 #FFFCEB !important;
    font-style: italic;
    font-weight: bold !important;
}

#step1 .formdata .left label
{
	width: 340px;
	display: inline-block;
	padding: 3px 0 4px;
}

#step1 .formdata .left a.more
{
	float: right;
	font-style: normal;
}

#step1 .formdata .name
{
	font-weight: bold;
	color: #575757;
	font-style: normal;
}

#step1 .formdata .left input
{
	width: 130px;
	/*margin-bottom: 5px;*/
	color: #575757;
	padding-left: 5px;
	border: 1px solid #c4c4c4;
	border-radius: 4px 4px 4px 4px;
	height: 20px;
}

#step1 .formdata .formitem div.field { margin-bottom: 5px }
#step1 .formdata .formitem input.error { border-color: #BC0000; background-color:#FFFFFF }
#step1 .formdata .formitem span.errordesc { color: #BC0000 }

#step1 .formdata .left input.default
{
	color: #a9a9a9;
}

#step1 .formdata .type_kinderbuch .right .vorschau_personal
{
	background: url("../img/bg_vorschau.png") no-repeat scroll 0 0 transparent;
	padding: 20px;
	margin: 10px 0 20px;
	border:0px !important;
	/*border : solid 1px #c4c4c4;*/
}
#step1 .formdata .type_kinderbuch .right .border_preview .vorschau_personal
{
	background: url("../img/bg_vorschau2.png") no-repeat scroll 0 0 transparent;
	padding: 0px;
	margin: 0px;
	border:0px !important;
}
#step1 .formdata .type_kinderbuch .right .vorschau_personal_border
{
	padding: 1px;
	border : solid 1px #c4c4c4;
}

#step1 .formdata .left .fields
{
	padding: 10px;
	border: 1px solid #c4c4c4;
	background-color: #f5f5f5;
	margin-top: 10px;
	font-style: normal;
}

#step1 .formdata .formitem
{
	margin-bottom: 25px;
	margin-top: 5px;
}

#step1 .kinder .field select{
	width:100px;
}

/*
 * Step 2
 */
 
#step2 .notext 
{ 
    background: yellow;
    color: #BC0000;
    font-weight: bold;
    font-size: 16px;
}

#step2 #twirly
{
    position: absolute;
    top: 45%;
    left: 45%;
}

#step2 .formheader
{
	height: 80px;
	width: 100%;
	margin-top: 20px;
	/*margin-bottom: 20px;*/
}

#step2 #kinderbuch { margin-bottom: 0 }
#step2 .kinderwidmung { margin-top: 27px; *margin-top: 20px }
#step2 .controls
{
	width: 221px;
}

#step2 .controls button
{
	width: 220px;
}

#step2 .controls button.awesomewhite_gradient
{
	background-color: #ffffff;
}

#step2 .formheader .left h1
{
	font-family: times new roman,serif;
	font-size: 20pt;
	font-weight: normal;
	margin: 0;
}

#step2 .formdata .left .tabheader
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #c4c4c4;
	width:442px\9;
}

#step2 .formdata .left .tabheader li
{
	display: inline;
	padding: 5px 8px;
	float: left;
}

#step2 .formdata .left .tabheader li.ui-state-active
{
	border-top: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
	border-bottom: none;
	border-left: 1px solid #c4c4c4;
	background: #ffffff;
	margin-bottom: -1px;
}

#step2 .formdata .left .tabheader li.ui-state-active a
{
	color: #575757;
	font-weight: bold;
}

#step2 .formdata .left .ui-tabs-panel
{
	border-left: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
	border-top:none;
	padding: 10px;
	height: 197px;
	overflow-y:auto;
	overflow-x: hidden;
	width: 420px;
	font-style: italic;
	text-align: center;
}

#step2 #kinder { height: 220px }

#step2 .formdata .left .ui-tabs-panel a.copy_me
{
	float:right;
}

#step2 .formdata .bottom .right { padding-top: 0 }

#step2 .formdata .left h3
{
	margin: 4px 0;
}

#step2 .formdata .left .top
{
	border: 1px solid #c4c4c4;
	padding: 5px;
	background-color: #FFFFFF;
}

#step2 .formdata .left .bottom
{
	border: 1px solid #c4c4c4;
	margin-top: 5px;
	padding: 5px;
	background-color: #FFFFFF;
}

#step2 .formdata .left .options
{
	padding: 15px 0 0 23px;
}

#step2 .formdata #var_fontface_0 { float: left }

#step2 .formdata .left .bottom .fontcolor_container
{
	margin-left: 5px;
	margin-top: 24px;
}

#step2 .formdata .left .bottom .options .fontrow_radiobuttons
{
	float: left;
	margin-top:-5px;
	width:30px;
}

#step2 .formdata .left .bottom .options .fontrow_radiobuttons input
{
	display:list-item;
	margin-top: 10px;
	margin-top: 5px\9;
	margin-bottom:0;
	float:left;
	
}

#step2 .formdata > .bottom
{
	border:1px solid #c4c4c4;
	background-color: #f5f5f5;
	padding: 15px 10px 10px;
	margin-top: 15px;
}

#step2 .formdata .formitem textarea
{
	height: 130px;
	height: 132px\9;
	border: 1px solid #c4c4c4;
	resize: none;
	font-style: italic;
	text-align:center;
	padding: 10px;
	width:420px;
}

#step2 .formdata .right .img_preview
{
	float: right;
	border: 1px solid #c4c4c4;
	background-color: #ffffff;
	position: relative;
	/*margin-top:23px;*/
	height: 745px;
	width: 510px;
}

#step2 .formdata .right .img_preview .img_corner
{
	height: 83px;
	width: 78px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: url("../img/book-corner.png") no-repeat scroll 0 0 transparent;
}

#step2 .formdata > .bottom .left { width: 486px }

#step2 .formdata .formitem .controls
{
	width: 221px;
	margin-top: 20px;
	margin-bottom: 30px;
}

#step2 .fake_h3 
{
    font-weight: bold;
    /*color: #BC0000;*/
    margin: 5px 0;
}


#tabsub li {
    display: inline;
    list-style-type: none;
    padding: 0 10px;
    border-right: 1px solid #c4c4c4;
}

#tabsub li.last { border-right: none; }

#tabsub .ui-state-active a
{
	color: #575757;
    font-weight: bold;
}

#festtage .ui-tabs-panel
{
	border: none !important;
	height: 172px !important;
	width: auto !important;
}

#festtage
{
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	width: 440px !important;
	height: 207px !important;
}

/*
 * Step 3
 */
 
#step3 .formheader .left h1 {
    font-family: times new roman,serif;
    font-size: 20pt;
    font-weight: normal;
    margin: 0;
}

#step3 .controls button {
    width: 220px;
}

#step3 .controls
{
	width: 221px;
	float:right;
}

#step3 .formheader {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}

#step3 .formdata .left .col1
{
	width: 325px;
	float: left;
}

#step3 .formdata .left .col2 .color-option,
#step3 .formdata .left .col2 .decocolor-option
{
	float: left;
}

#step3 .formdata .left .col2 .color-option input,
#step3 .formdata .left .col2 .decocolor-option input
{
	margin: 0;
	float: left;
}

#step3 .formdata .left .col2
{
	width: 190px;
	float: left;
}

#step3 .formdata .left .col2 .decocolor-option input { display: none }
#step3 .formdata .left .selected .decocolor-option input { display: block }

#step3 .formdata .left .col1 input,
#step3 .formdata .left .col1 label
{
	float: left;
	margin-left: 0;
	margin-right: 10px;
}

#step3 .formdata .formitem
{
	border-bottom: 1px solid #c4c4c4;
	padding: 10px 0;
	margin-bottom: 20px;
}

#step3 .formdata .left .col1 label { width: 285px }

#step3 img.version-img
{
	margin-left: 5px;
}

#step3 .formfooter 
{
	margin: 0 0 30px;
}

#step3 .formitem .color-option { width: 63px }
#step3 .formitem .decocolor-option { width: 63px }
#step3 .formitem .color-option input
{
	display: none;
}

#step3 .formitem .selected .color-option input
{
	display: block;
}

#step3 .formitem .selected .color-option .lightbox
{
	opacity: 1;
	-khtml-opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

#step3 .formitem .color-option .lightbox
{
	float: right;
	opacity: 0.5;
	-khtml-opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=50);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

#step3 .formitem .decocolor-option .lightbox { float: right }

/*
 * Step 4
 */
 
#step4 .formheader .left h1 {
    font-family: times new roman,serif;
    font-size: 20pt;
    font-weight: normal;
    margin: 0;
}

#step4 .formheader {
    margin-bottom: 20px;
    margin-top: 20px;
}
#step4 .subtitle{padding-left:7px\9;}

#step4 .formdata .left .col1 input, #step4 .formdata .left .col1 label {
    float: left;
    margin-left: 0;
    margin-right: 10px;
}

#step4 .formdata .formitem .right { width: 345px }
.step4 .form-kinder .formdata .formitem .right { width: 383px !important } 

#step4 .formdata .formitem .right img {
    float: right;
    margin-left: 10px;
}

#step4 .formdata .formitem {
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 20px;
    padding: 10px 0;
}

#step4 .formdata .formitem .left
{
	width: 645px;	
}

.step4 .form-kinder .formdata .formitem .left { width: 600px !important }

#step4 .formdata .formitem .left .col1
{
	float: left;
	width:420px;
}

#step4 .formdata .formitem .left .col2
{
	float: right;
}

#step4 .formfooter
{
	margin: 5px 0 30px;
}

#step4 .upload-widget { display: none; margin-left: 25px ; margin-left: 30px\9 ;float:left;}
#step4 .upload-widget button{width:auto !important;}
#step4 .label_subtitle{
	padding-left:25px;
	padding-left:30px\9;
	text-align:left;
	width:90%; 
	font-style:italic;float:left; 
	display:none;
}
#customize #step4 .awesomebutton { float: none !important;width:245px; }
.awesomebutton { float: none !important;width:245px; }

/*
 *
 */
 
#step5 .formheader .left h1 {
    font-family: times new roman,serif;
    font-size: 20pt;
    font-weight: normal;
    margin: 0;
}

#step5 .formheader {
    margin-bottom: 20px;
    margin-top: 20px;
}

#step5 .formdata .left input, #step5 .formdata .left label {
    float: left;
    margin-left: 0;
    margin-right: 10px;
}

#step5 .formdata .formitem {
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 10px;
    padding: 10px 0;
}

#step5 .formdata .formitem .right img
{
	margin: 0;
	padding: 0;
}

#step5 .formfooter
{
	margin: 10px 0 30px;
}


/*
 *
 */

#step6 .formheader .left h1 {
    font-family: times new roman,serif;
    font-size: 20pt;
    font-weight: normal;
    margin: 0;
}

#step6 .formheader {
    margin-bottom: 20px;
    margin-top: 20px;
}

#step6 .formdata .formitem {
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 15px;
    padding: 10px 0;
}

#step6 .formdata .formitem .left
{
	width: 740px;
}

#step6 .formdata .formitem .left .col1
{
	width: 450px;
	float: left;
}

#step6 .formdata .formitem .left .col2
{
	float: right;
}

#step6 .formdata .left .col1 input,
#step6 .formdata .left .col1 label
{
	float: left;
	margin-left: 0;
	margin-right: 10px;
}

#step6 .formdata .left .col1 label
{
	width: 380px;
}

#step6 .formdata .formsummary
{
	padding: 10px;
	margin-bottom: 15px;
}

#step6 .formdata .formsummary .left
{
	width: 740px;
}

#step6 .formfooter
{
	margin: 5px 0 30px;
}

#fontcolor_blob_black,
#fontcolor_blob_darkred,
#fontcolor_blob_darkgreen,
#fontcolor_blob_blue,
#fontcolor_blob_darkmagenta { cursor : pointer; }

/*
 * Common
 */
.step1, .step2, .step3, .step4 , .step5, .step6
{
	float: left;
	width: 100%;
}

h1 { color: #575757 }
#headerlinkgroup { display: none }
#shoppingcartlogo { bottom: -7px !important }
.right .book-price{
	width:220px;
	float:right;
	text-align:right;
	font-size:30px;
	margin:5px 0;
	font-weight:normal;
}
.subtitle input{font-style:italic;font-size:11px;}

.formdata .warning {
    color: #CC5555;
    /*font-weight: bold;*/
}

.formheader .left { width: 740px }
.formheader .right { width: 245px }

.extra .childDesc, .extra .childImg { float: left; width: 300px; padding: 5px }
.extra .childBusiness { float: left; width: 240px; text-align: right; margin-right: 10px }
.extra .childBusiness input { margin-bottom: 10px }
.extra .child { border-bottom: 1px solid #C4C4C4 }
.extra .formdata { min-height: 200px }
.extra2 .formdata .left { width: 520px }
.extra2 .formdata .right { width: 375px }
.extra2 .formdata .color_blob { cursor: pointer }
.extra2 .formdata .container { margin-top: 10px }
.extra2 .formdata .container label { font-weight: bold }
.extra2 .formdata #var_text { width: 300px }
.extra2 .asset-option-outer { float: left; width: 160px; margin-right: 8px; text-align: center }
.extra2 .asset-option { border: 2px solid gray; float:left }
.extra2 .asset-option img { cursor: pointer }
.extra2 img.fiximage_preview { border: 1px solid black; float:right }
.extra2 .container .selected { border-color: green }

/* WINE */
.wine ul#progress li { width: 494px }
.wine .varianten {
    border: 1px solid #DFDEDE;
    border-radius: 4px 4px 4px 4px;
    float: left;
    padding: 5px;
    width: 508px;
}

.wine #step1 .formdata .left input,
.wine #step1 .formdata .left label{
    float: left;
    width: auto;
}

.wine .varianten .radio-box { width: 254px; float: left }
.wine .varianten .radio-box label { margin-left: 5px }

.wine .fontrow_radiobuttons,
.wine .fontcolor_container{ 
    border: 1px solid #DFDEDE;
    border-radius: 4px 4px 4px 4px;
    float: left;
    padding: 5px;
    width: 508px;
}

.wine .fontcolor_container { width: 510px }

.wine .fontrow_radiobuttons .font-sample {
    width: 254px;
    float: left;
}

.wine .right { position: relative }
.wine .fontcolor_blob { cursor: pointer }
.wine .step1 textarea { width: 510px; height: 140px; padding: 5px }
.wine .formdata, .wine .formfooter { float: left }
.wine .formfooter { border-top: 1px solid #C4C4C4; width: 100%; margin-top: 10px; }
.wine .formfooter button { margin: 10px 0; float: right; }
.wine .right .bigbottle { margin: 10px 0 0 23px }
.wine .etiquette_tabs { float: left; width: 100% }
.wine #etiquette_tab_1 { display: none }
.wine .etiquette_tabs label { margin-left: 5px }
.wine .etiquette_tabs input { height: auto !important }
.wine .etiquette-option { max-width: 157px; *width: 157px; margin: 0 2px; float: left; border: 2px solid transparent }
.wine .etiquette-option.selected { border-color: green }
.wine .etiquette-option img { cursor: pointer }
.wine #step1 .formdata .left { width: 520px }
.wine #step1 .formdata .name { margin: 10px 0 5px }

.wine div.bottle-etiquette {
    border: 1px solid #8A7A63;
    left: 0;
    position: absolute;
    top: 320px;
    width: 220px;
}

.wine img.bottle-etiquette { float: left }
.wine img.imagecropped { position: absolute; top: 0; left: 0; width: 220px; }

.wine #twirly { position: absolute; top: 425px; left: 85px }

.wine .formdata .tabheader li.ui-state-active { border-radius: 4px 4px 0 0 }
.wine .formheader, .wine .formdata, .wine .formfooter { float: left; width: 100% }
.wine .step2 .formheader { margin: 10px 0 }
.wine .formdata .child { border-top: 1px solid #c4c4c4; padding: 10px 0 }
.wine .formdata .wine_box_business, .wine .formdata .wine_box_description, .wine .formdata .wine_box_image { float: left }
.wine .formdata .wine_box_business { width: 250px; padding: 10px; text-align:right }
.wine .formdata .wine_box_description { width: 320px; padding: 10px }
.wine .formdata .error 
{
    background: none repeat scroll 0 0 white;
    border: 4px solid red !important;
    color: #9A423A;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    float: left;
    width: 502px;
    display: none;
}

/* jquery.Jcrop.min.css v0.9.10 (build:20120429) */
.jcrop-holder{direction:ltr;text-align:left;}
.jcrop-vline,.jcrop-hline{background:#FFF url(../img/Jcrop.gif) top left repeat;font-size:0;position:absolute;}
.jcrop-vline{height:100%;width:1px!important;}
.jcrop-hline{height:1px!important;width:100%;}
.jcrop-vline.right{right:0;}
.jcrop-hline.bottom{bottom:0;}
.jcrop-handle{background-color:#333;border:1px #eee solid;font-size:1px;height:5px;width:5px}
.jcrop-tracker{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;height:100%;width:100%;}
.jcrop-handle.ord-n{left:50%;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-s{bottom:0;left:50%;margin-bottom:-4px;margin-left:-4px;}
.jcrop-handle.ord-e{margin-right:-4px;margin-top:-4px;right:0;top:50%;}
.jcrop-handle.ord-w{left:0;margin-left:-4px;margin-top:-4px;top:50%;}
.jcrop-handle.ord-nw{left:0;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-ne{margin-right:-4px;margin-top:-4px;right:0;top:0;}
.jcrop-handle.ord-se{bottom:0;margin-bottom:-4px;margin-right:-4px;right:0;}
.jcrop-handle.ord-sw{bottom:0;left:0;margin-bottom:-4px;margin-left:-4px;}
.jcrop-dragbar.ord-n,.jcrop-dragbar.ord-s{height:7px;width:100%;}
.jcrop-dragbar.ord-e,.jcrop-dragbar.ord-w{height:100%;width:7px;}
.jcrop-dragbar.ord-n{margin-top:-4px;}
.jcrop-dragbar.ord-s{bottom:0;margin-bottom:-4px;}
.jcrop-dragbar.ord-e{margin-right:-4px;right:0;}
.jcrop-dragbar.ord-w{margin-left:-4px;}
.jcrop-light .jcrop-vline,.jcrop-light .jcrop-hline{background:#FFF;filter:Alpha(opacity=70)!important;opacity:.70!important;}
.jcrop-light .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#000;border-color:#FFF;border-radius:3px;}
.jcrop-dark .jcrop-vline,.jcrop-dark .jcrop-hline{background:#000;filter:Alpha(opacity=70)!important;opacity:.7!important;}
.jcrop-dark .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#FFF;border-color:#000;border-radius:3px;}
.jcrop-holder img,img.jcrop-preview{max-width:none;}

.step2 .formitem .left .error {
    background: none repeat scroll 0 0 transparent;
    border: 4px solid red;
    color: #9A423A;
    display: none;
    margin-bottom: 5px;
    padding: 5px;
}
.light-black{ 
	background: url('/tl_files/personalnovel_de/static/assets/website/transparent.png');
	background-repeat: repeat;
   	width: 100%;
   	height: 100%;
   	position: fixed;
   	left: 0;
   	top: 0;
   	z-index: 2000;
 }
 .light-black .error-light-black{ 
 	background-color:#FFF;
 	width: 400px;
 	margin: 0px auto;
 	padding: 20px;
 	padding-top: 40px;
}
.light-black .error-light-black .input{
	text-align: right;
	padding-top: 20px;
}
.light-black .error-light-black .input input{
	width:100px;
}
/* -----------  customize/book  ------------- */
#wichtig h1{
	font-size: 1.17em;
	display: block;
}
/*------------      end customize/book     ---------*/
/*-----------    step 2 image-radio------------*/

.color-option input[type="radio"]	{
	width:11.8px;
}

/*-----------    end step 2 image-radio--------*/
.anzahl{margin-top:92px;float:left;}

.right textarea#var_text{
	
}