#tabsdiv .tabcontent
{
	border: 1px solid lightgray;
	border-radius: 4px 4px 4px 4px;
	margin-bottom: 1em;
	margin-top: 0;
	padding: 1em;
}

#tabsdiv #tabs
{
	margin-bottom: 2px;
}

#tabsdiv .tabbertab p,#tabsdiv .tabbertab h2{
	padding-top:12px;
}

#tabsdiv #tabs li.ui-state-active
{
	border-bottom: none;
}

#tabsdiv #personen
{
	border-top-left-radius: 0;
}

#container #main
{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.rightpanel h1
{
    font-size: 20pt;
    font-style: normal;
    margin: 2px 0 0.5em;
    font-family: "Times New Roman",serif;
    font-weight: normal;
    padding: 0;
}

#book .book_presentation
{
	padding: 10px;
	/*border: 1px solid lightgray;*/
}

#book .book_presentation .rightpanel
{
	width: 520px
}

#book .book_presentation .socialcrap .fb-share-button
{
	width: 65px;
	float: left;
	margin-top: 15px;
	height:20px;
	display: inline-block;
	position: relative;
}

#book .book_presentation .socialcrap .gplus-button
{
	margin: 11px 2px 2px;
}