input.captcha{
   float: left;
   margin: 2px 10px 0 0;
}
#refresh_captcha{
    background: url("../images/Crystal_16_reload.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: right;
    height: 16px;
    margin-right: 360px;
    margin-top: 6px;
    overflow: hidden;
    text-indent: -999px;
    width: 16px;
}
#captcha_img{
    margin-left:12px;
}