/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/


.coin-slider { overflow: visible; zoom: 1; position: relative; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons { 
/*font-size: 0px; padding: 10px; float: left;*/
 	background: url("../img/slider_balken.png") repeat scroll 0 0 transparent;
    height: 31px;
    margin-left: 1px;
    width: 521px;
    float: left;
    position:static !important;
    margin-left:0 !important;
    text-align: center;
    display:none !important;
 }
.cs-buttons a { 
/*margin-left: 5px; height: 10px; width: 10px;border: 1px solid #B8C4CF; color: #B8C4CF; text-indent: -1000px; */
    background: url("../img/slider_dot.png") repeat scroll 0 0 transparent;
    display: inline-block;
    height: 22px;
    width: 20px;
    text-indent: -1000px;
}
.cs-active { background: url("../img/slider_dot_active.png") repeat scroll 0 0 transparent !important; }

.cs-title { width: 545px; padding: 10px; background-color: #000000; color: #FFFFFF; }

.cs-prev, 
.cs-next { background-color: #000000; color: #FFFFFF; padding: 0px 10px; }
