body {
    color: #404040;
    font-family: Arial;
    font-size: 9pt;
}
a{outline: none !important;}
#container {
    background-color: white;
    margin: auto;
    width: 990px;
}
#container .real_content {
    padding-top: 21px;
    text-align: left;
}
.gallery #main{padding-right: 0px !important;}
#main{
	/*width: 524px !important;*/
	padding-left: 25px !important;
	padding-right: 25px !important;

}
div.top-header{
	width:100%;
	height:22px;
	background:#050505;
	text-align:center;
	color:#fff;
	padding-top:5px;
}
div.top-header a,
div.top-header span{
	color:#fff;
	padding:0 20px;
}
.div_box{
	margin-bottom:12px !important;
}

.div_box_bg { background-color: #cad1fd !important }

.ce_text h1{
	font-size: 20pt;
    margin-bottom: 0.5em;
    margin-top: 10px;
    font-family: "Times New Roman",serif;
    font-weight: normal;
    padding: 0;
    clear: left;
}
.ce_headline{
    font-size: 20pt;
    font-style: normal;
    margin: 10px 0 0.5em;
    font-family: "Times New Roman",serif;
    font-weight: normal;
    padding: 0;
}
.ce_text p{
    font-weight: normal;
    padding: 0;
}
#menunav ul {
	background:none;
}
#menunav ul li{
	/*float:right;*/
	/*--*/
	/*background-color:#e0dfdf;*/
	background-color: #000000;
	border-left:none;
	padding: 8px 0 7px;
}

#menunav ul li.last a, #menunav ul li.last span { border-right: none }

#menunav ul li.menunav_first{
	border-right: 1px solid #333;
	width:1px;
	border-right: 1px solid rgba(0, 0, 0, 0.4);
}
#menunav ul li.menunav_first:hover{
	background-color:#e0dfdf;
}
#menunav li.active{
	/*background-image: url("/tl_files/personalnovel_de/css/images/menu_bg_hover.png");
	background:#710c12;*/
	/*background-color:rgb(204,0,0);*/
	
}
/* -- */
#menunav ul li:hover{
	background-color:#000000;
}
#menunav ul li:hover a{
	color:#fdfd0f;
}
/*#menunav ul li>a{
   color:#575757;
}*/
/* -- */
#menunav li.active span{
	color: white;
	display: inline-block;
	font-size: 9pt;
	/*height: 21px;
	padding: 8px 10px 5px;*/
	text-align: center;
	text-shadow:none;
	font-weight:normal;
	padding: 0 15px;
	border-right: 1px solid #FFFFFF;
	color: #BC0000;
}
#menunav ul li a{
	font-size: 9pt;
	text-shadow:none;
	font-weight:normal;
	/*height: 21px;*/
	padding:0 15px;
	border-right: 1px solid #FFFFFF;
}
#menunav {
    /*background-image: url("/tl_files/personalnovel_de/css/images/menu_bg.png");
    background:#a90118;*/
    /*background:#e0dfdf;*/
    background-color: #000000;
    clear: both;
    margin: 0 auto !important;
    width: 990px !important;
}
/*  ---- ---- */
.base_header #logo {
    border: medium none;
    display: block;
    float: left;
    height: 65px;
    margin: 10px 0 0;
    padding: 0;
    text-indent: -999px;
    width: 310px;
	background:url("/tl_files/personalnovel_de/static/assets/header/logo.png") no-repeat;
	background-position: 8px 5px;
}
.headerlinks {
    float: right;
    padding: 14px 0px;
    position: relative;
    width: 350px;
}
#headerlinkgroup{
	color: #ededed;
}
.headerlinks a {
    color: #808080;
    font-weight: normal;
    text-align: right;
    text-decoration: none;
    font-size: 9pt;
    margin-right:4px;
    margin-left:1px;
}
.headerlinks a:last-child {margin-right:0px;}
.section {
    background:none;
    display: block;
    font-family: Arial,Verdana,Helvetica,sans-serif,sans;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 4px 6px 4px 9px;
    text-decoration: none;
    border-top: 1px solid #e7e6e6;
    border-left: 1px solid #e7e6e6;
    border-right: 1px solid #e7e6e6;
}
.navigation .links a {
    border: 0 none;
    color: #404040;
    text-decoration: none;
    outline: none;
}
.navigation .links {
    margin-bottom: 12px;
    border: 1px solid #e7e6e6;
    border-top: 0;
}
/*---- ----*/
.navigation .links a:hover {
	background-color: rgb(204,0,0);
	color: white
}
/* --- -------*/
#tab-menu {
    /*clear: both;*/
    /*margin: 0 auto !important;
    width: 990px !important;*/
    height: 28px;
    left: 290px;
    position: absolute;
    top: 55px;
}

#tab-menu  ul {
    z-index: 100;
}

#tab-menu  ul {
    line-height: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#tab-menu li {
    float: left;
    padding: 0px;
    /*background: url(/tl_files/personalnovel_de/static/assets/header/tab-left.png) no-repeat bottom left;*/
    /*background-color: #EDEDED;*/
    height: 26px;
    margin-right: 2px;
}
/*------- ----------*/
#tab-menu li:hover {   
    /*background-color: rgb(204,0,0);*/
}
#tab-menu li.tab-menu-home:hover {   
    background-color: #EDEDED;
}
#tab-menu li:hover a,#tab-menu li:hover span{   
    color:#FDFD0F;
}
/*------- ----------*/

#tab-menu li a{
	/*background: url("../static/assets/header/tab-right.png") no-repeat scroll right bottom transparent;*/
    display: block;
    height: 14px;
    padding: 8px 6px 5px 8px;
    text-decoration: none;
}
#tab-menu li a:hover{
	background: #000000;
}
#tab-menu li a span{
	color: #575757;
	font-size: 10pt;
}
.base_header {
	padding-top: 0px;
}
#social_media{
	text-align: center;
	margin-bottom: 12px;
    border: 1px solid #e7e6e6;
    border-top: 0;
}

#searhform{
	/*background: url(./images/search.png) no-repeat center left;*/
	/*width: 225px; added Weihnachten*/
        width: 140px;
	float: right;
	height: 20px;
	margin-right: 2px;
	margin-top:4px;
	margin-left: 10px;
}

#searhform > div { display: none } 

#searhform input{
	border: 0;
	padding-left: 5px;
	width: 178px;
	margin-top: 2px;
	margin-left: 2px;
	color: #e6e6e6;
	font-style: italic;
}

#base_footer .border{
	border: 0;
}

#base_footer img {
    margin-bottom: 2em;
    margin-top: 2em;
}
#base_footer .base_footer_inner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-align: left;
    width: 990px;
	height:113px;
}
.footer_bottom{
	margin-top:50px !important;
}
#kontakt-form{
	background:#ededed;
	border:1px #ccc solid;
	padding:15px 45px 25px 30px;
	margin:20px 0px;
}
#kontakt-form table tr{
	height:25px;
}
#kontakt-form #submit-kontakt{
	padding :5px 30px;
	background:#fafafa;
}
.list-Optionen{
	color:#a90118;
	padding: 25px 0;
}
#shoppingcartlogo{
    float: right;
    position: absolute;
    right: 0;
    top: 20px;
}
#shoppingcartlogo div{
	/*border: 1px solid #CCCCCC;*/
    padding: 3px 40px 1px 10px;
	width: 210px;
}
#shoppingcartlogo > a {
    position: absolute;
    right: 10px;
    top: -5px;
}
#shoppingcartlogo a.versand{
    position: relative;
    bottom:0;
    right:0;
    color:#000;
}
#shoppingcartlogo span.green{color:green;font-weight:bold;}
.romance-das{
	width:520px;
	height:80px;
	background:#ededed;
	border:1px #ccc solid;
	padding: 20px 0px 0px 15px;
}
.romance-das li{
	float:left;
	list-style-type:none;
}
.romance-das li a{
	width:170px;
	height:80px;
	display:block;
}
.newletter-form{
	padding-top:5px !important;
	padding-bottom:5px !important;
}
#preise-table table,#preise-table tr, #preise-table td{
	border:1px #ededed solid;
}
#service-versand table{
    border-collapse: collapse;
    border-left: 1px solid #8A7A63;
    border-spacing: 0;
    border-top: 1px solid #8A7A63;
    font-size: 9pt;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#service-versand td,#service-versand th{
	border-bottom: 1px solid #8A7A63;
	border-right: 1px solid #8A7A63;
	padding: 0.2em;
	
}
#service-versand th {
    background-color: lightyellow;
}

.div_box_01 {
	margin-bottom:12px;
}

#header {
	width: 990px;
	margin: 0 auto;
}

.base_header #versand {
    background: url("/tl_files/personalnovel_de/css/images/versand.png") no-repeat scroll 8px 5px transparent;
    border: medium none;
    display: block;
    float: left;
    height: 36px;
    margin: 22px 0 0 20px;
    padding: 0;
    text-indent: -999px;
    width: 224px;
}
.base_header #versand a {
    display: block;
    height: 36px;
}

a:active
{
	outline: none;
	border: none;
}



*{ _noFocusLine: expression(this.hideFocus=true);}

.mega{border-color:#fff !important;}
.sexysimple{border-color:#fff !important;}
/*.right.controls{width:225px !important;}*/
.pluginFaviconButton,
.pluginFaviconButtonEnabled,
.pluginFaviconButtonSmall
{background:#5F78AB !important}

div.winedesign > div {
float: left;
margin-top: 75px;
}
div.winedesign img {
float: right;
}

.fb_ltr{
 margin-top:-3px\9 !important;
 height:22px\9 !important;
}
.ie7 .fwb{background-color:#5F78AB}
.mod_search p.url{display:none !important;}
#geschenkbox h3 {
    border-bottom: 1px solid #8A7A63;
    font-family: Arial,Verdana,Helvetica,sans-serif,sans;
    font-size: 115%;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 12px;
}
.pluginFaviconButtonText.fwb{background:#879AC0 !important;}

/*Kontakt form style*/
.kontakt{/*width:520px;*/}
.kontakt .formbody input[type="text"],
.kontakt .formbody textarea,
.kontakt .formbody select
{
	margin:5px 5px 5px 0px;
	display:block;
	
}
.kontakt .formbody input[type="submit"]{
   float: right;
    margin-left: 300px;
    margin-top: 320px;
    background: #52dc75;
    border: 0px;
    padding:5px;
}
.kontakt .formbody textarea.nachricht{

    width: 460px;
    height:298px;
    margin: 5px 5px 5px 0;
}

.kontakt fieldset.copyemail{
	width:460px;
	padding:0;
	margin:0;
	border:0;
}

.kontakt .formbody .textarea{
    margin-left: 277px;
    margin-top: -339px;
    position: absolute;
    width:460px;
    height:319px;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
.kontakt .formbody textarea.nachricht{width: 460px;height:280px;margin: 5px 5px 5px 0;}
.kontakt .formbody .textarea{margin-left: 277px;margin-top: -324px;position: absolute;width:460px;height:305px;}
.kontakt .formbody input[type="submit"]{margin-top: 305px;}
}


.kontakt .formbody select{width:254px;}
.kontakt .formbody input[type="text"]{width:254px;}
.kontakt .formbody .error{color:red;background:none;width:260px;}
.kontakt .formbody input.error,
.kontakt .formbody label.error,
.kontakt .formbody textarea.error,
.kontakt .formbody select.error{color:black;}

/*.vorname,.name{display:inline !important;}*/
.radio_container{border:0px;padding-left:0px;}
.radio_container span{margin-right:10px;}
.radio_container input{border:0px;margin-left:0px;}

#pressespiegel h3,
#pressespiegel-all h3{
	border-bottom: 1px solid #8A7A63;
    font-family: Arial,Verdana,Helvetica,sans-serif,sans;
    font-size: 115%;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 12px;
}
#pressespiegel-all .back{display:none}
#pressespiegel .info a,
#pressespiegel-all .info a{
	text-decoration:underline;
}

.minicart { height: 65px; width: 360px; float: right; margin-top: -55px; margin-bottom: 10px }
.minicart .left { height: 65px; width: 120px }
.minicart .middlebottom { float:left; width: 240px; }
.minicart .middletop { float:left; height: 35px; width: 240px; position: relative }
.cse .gsc-control-cse, .gsc-control-cse { padding: 0 !important;color:#c3c3c3;font-size:9pt; }
.gsc-search-box-tools .gsc-search-box .gsc-input { padding-right: 0 !important }
table.gsc-search-box td.gsc-search-button { display: none }
.cse .gsc-control-cse, .gsc-control-cse { height: 27px }
#cart-detail {
    border: 1px solid #C4C4C4; 
    width: 95%; 
    min-height: 20px; 
    background-color: white; 
    position: absolute;
    z-index: 999;
    display:none;
    top:33px;
    right:0;
    padding: 5px;
}

.minicart .cart-shipping {
    border-top: 1px solid #C4C4C4;
    margin: 5px 0 0;
    padding: 5px 0 0;
}
.ebook-div{padding:6px 0;background:#fff;left: 11px;position: absolute;margin-top: 55px;width: 115px;height:40px;}

#previewRight table.day_preview {
    position: absolute;
    width: 80%;
    text-align: right;
    margin-top: 125px;
    z-index: 4;
    margin-left:23px;
}
#previewRight table.day_preview tr {
    height: 55px;
}
#previewRight table.day_preview tr td {
	color: #999999;
    width: 50%;    
    font-size: 6pt;
    
}

.perpage{float:right;font-size:12px;}

.jollybook .book img{width: auto !important;}
