.bold{font-weight:bold}
span.navitem{padding:4px 6px 4px 12px}
.navigation .links a, .navigation .dmlinks a{padding-left:7px}
.navigation .title_nav{
    border-left: 1px solid #E7E6E6;
    border-right: 1px solid #E7E6E6;
}
.navigation .title_nav:first-child{border-top:1px solid #E7E6E6}
.navigation .title_nav:first-child .section{border-top:0px}
#left .navigation .links {margin-bottom:0px !important; border-bottom:0px}
.navigation .title_nav .section{
	border-right:0px;border-left:0px;
	padding-left:0;padding-right:0px;
	margin: 0 7px;
	padding-top:15px;
}
.navigation .links .spacer:last-child{margin-bottom:0px}
.ce_image figure.image_container{margin:0px}
#social_media{padding:12px 0;padding-bottom:30px}
#social_media a{color:#FFF}
.ce_tabcontrol_tabs ul{list-style:none;margin:0px;padding:0px;}
.ce_tabcontrol_tabs ul li.tabs{float:left;padding: 5px 10px; color:#a90118;cursor:pointer}
.ce_tabcontrol_tabs ul li.tabs.selected{border: 1px solid #c4c4c4; position: relative; z-index: 1; color:#000;border-bottom:0;margin-bottom:-2px; cursor:auto;background-color:#FFF}
.ce_tabcontrol_pane .panes{border: 1px solid #c4c4c4;padding: 10px; }
.ce_tabcontrol_pane{ margin-top:-1px; }
#kontakt .ce_tabcontrol_tabs{margin-top:10px;margin-bottom:-1px;}
#kontakt-form{margin:10px 0}
#gallerie .ce_gallery{margin-top:20px;text-align:center;position:relative}
#gallerie .ce_gallery a.btn{display:block;top:45px;width:12px;height:19px;cursor:pointer;position:absolute}
#gallerie .ce_gallery a.next{right:0px;background-image:url(images/arrow_right.png)}
#gallerie .ce_gallery a.prev{left:0px;background-image:url(images/arrow_left.png)}
#gallerie .ce_gallery table{border-spacing:0;margin:0 auto}
#gallerie .ce_gallery table td{padding:0}
#gallerie .ce_gallery img{height: 110px;max-width: 175px;border:1px solid #c4c4c4; border-right:0px}
#gallerie .ce_gallery .col_last{border-right:1px solid #c4c4c4}
#gallerie .ce_gallery figure.image_container{margin:0px}
.newletter-form {
    margin: 10px 0;
    background: none repeat scroll 0 0 #EDEDED;
    border: 1px solid #CCCCCC;
    margin: 20px 0;
    padding: 15px 45px 25px 30px;
}
article#main{margin-left:0px;padding-left: 0px !important;
    padding-right: 0px !important;}
#searhform #ctrl_keywords:focus{color:#000}
.mod_search .header{margin-top:10px}
.selected-tags a{color:red}
.person td{font-weight:bold;padding:15px 0 5px 0;}
.selected-tags img{margin-bottom:-3px;}