#container #main
{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

ul#progress
{
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	
}

ul#progress li
{
	display: inline;
	width: 175px;
	height: 22px;
	padding-top: 6px;
	text-align: center;
	float: left;
	color: #c8c8c8;
	background: url(../img/main-module/progress-arrow-main.png) no-repeat scroll 0 100% transparent;
	margin-left:-10px;
}

ul.progress-kinder li{width:197.5px !important;}

ul#progress li.first
{
	width: 163px;
	margin-left:0px;
	background: url(../img/main-module/progress-arrow-main-first.png) no-repeat scroll 0 100% transparent;
}
ul#progress li.last
{
	background: none;
}


ul#progress li.current,ul#progress li.current2:hover
{
	color: #FFF;
	font-weight: bold;
	background: url(../img/main-module/progress-main.png) no-repeat scroll 0 100% transparent;
}
ul#progress li.first.current,ul#progress li.first.current2:hover
{
	color: #FFF;
	font-weight: bold;
	background: url(../img/main-module/progress-first.png) no-repeat scroll 0 100% transparent;
}
ul#progress li.last.current,ul#progress li.last.current:hover
{
	color: #FFF;
	font-weight: bold;
	background: url(../img/main-module/progress-last.png) no-repeat scroll 0 100% transparent;
}
ul#progress li.current2:hover{
	cursor:pointer;
}
ul#progress li.current.current2:hover{
	cursor:text;
}

.light-black{ 
	background: url('/tl_files/personalnovel_de/static/assets/website/transparent.png');
	background-repeat: repeat;
   	width: 100%;
   	height: 100%;
   	position: fixed;
   	left: 0;
   	top: 0;
   	z-index: 2000;
 }
 .light-black .error-light-black{ 
 	background-color:#FFF;
 	width: 400px;
 	margin: 0px auto;
 	padding: 20px;
 	padding-top: 40px;
}
.light-black .error-light-black .input{
	text-align: right;
	padding-top: 20px;
}
.light-black .error-light-black .input input{
	width:100px;
}
/**------------------------------------*/
.controls .right{text-align:right;}
.clear{ clear:both ;height:0px;}
.n_bg
{
	position:relative;
	margin:10px 0px;
	padding:0px 5px;
	padding-bottom:10px;
	width:100%;
	float:left;
}
.button
{
	cursor:pointer;
}
.button:hover,.selected .button
{
	cursor:pointer;
}

.n_title .btn_info:hover
{
	cursor:pointer;	
}
/*-------------------------------------*/
.n_left
{
	display:block;
	float:left;
	width:360px;
	position:relative;
	min-height:200px;
	margin-right:15px;
}
.n_right
{
	display:block;
	float:left;
	width:600px;
	position:relative;
	min-height:195px;
	margin-top:23px;
}
.submit_right
{
	position:relative;
	text-align:right;
	width: 275px;
}
.n_title h3
{
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	padding: 0px;
	height: 25px;
	line-height: 25px;
	margin: 0px;
}
.n_title h3 .left
{
	margin-left:2px;
}
.n_title .btn_info
{
	width:22px;
	height:22px;
	float:right;
	background: url(../img/main-module/step-info.png) no-repeat scroll 0 0 transparent;
	cursor:pointer;
	position:relative;
}
.btn_info div.info
{
	position:absolute;
	min-height:90px;
	width:266px;
	padding:10px 15px;
	z-index:100;
	font-size:12px;
	line-height:16px;
	top:24px;
	left:38px;
	float:left;
	color:white;
	background: url(../img/main-module/info-bg1.png) repeat scroll 0 0 transparent;
}
.btn_info div.info.infosmall{
	min-height:34px;
}
.bg-main-select{
	background: url(../img/main-module/step-bg.png) no-repeat scroll 0 0 transparent;
	height:135px;
	font-size: 95%;
	position:relative;
}
.bg-main-select2{
	background: url(../img/main-module/step-bg-2.png) no-repeat scroll 0 0 transparent;
	height:78px;
	font-size: 95%;
	position:relative;
}
.bg-main-select3{
	background: url(../img/main-module/step-bg-3.png) no-repeat scroll 0 0 transparent;
	height:190px;
	font-size: 95%;
	position:relative;
}
.border_select 
{
	margin-right:5px;
	text-align:center;
	float:left;
}
.border_select .title_select
{
	font-family:Arial,serif;
	padding-top:5px;
	margin:0px;
	display:block;
	color:#404040;
	font-size:95%;
	height:15px;
	line-height:10px;
}
.error{
	display:none;
	margin:5px 0px;
}
.line_br {
	padding:5px;
}
.hidden{
	display:none;
}
.n_info_popup{
	position: absolute; 
	z-index: 99998; 
	top: 0px; 
	left: 0px; 
	width: 100%; 
	height: 2540px; 
	background-color: rgb(0, 0, 0); 
	opacity: 0.3; 
	background-position: initial initial; 
	background-repeat: initial initial;
}
#n_preview{
	width:600px;
	height:448px;
}
.popupInfo{
	background: url('../img/transparent.png');
	background-repeat: repeat;
   	width:550px;
	padding:60px 20px 20px 30px;
	left:0px;
   	position: absolute;
   	font-size:20px;
   	z-index: 1000;
}
.popupInfo .title{
	font-size:25px;
	text-align:center;
	padding-bottom:10px;
}
.popupInfo .closePreview{
	float: right;
	margin-top: -40px;
	width: 23px;
	cursor:pointer;	
	height: 23px;
	text-align: center;
	line-height: 23px;
	font-size: 30px;
	font-family: Arial,serif;
	font-weight: bold;
	color: #444;
}
.popupInfo .closePreview:hover{ cursor:pointer;	 }


.right .book-price {
	width: 220px;
	float: right;
	text-align: right;
	font-size: 35px;
	margin: 0px 0;
	font-weight: normal;
}
.n_right ul{
	display:none;
}

.total-price-step1
{
	position: absolute;
	left: 275px;
	width: 90px;
	top: 7px;
	text-align: left;
	color: green;
	font-weight: bold;
	font-size: 14px;
	margin:0px;
	padding:0px;
}
.total-price-step1 h1{
	font-size:14px;
	padding:0px;
	text-align: left;
	margin:0px;
}

.step-price-value{
	float:right;
	margin:10px 10px 0px 0px;
	width:75px;
	height:100px;
	position: absolute;
	right: 0px;
}
.step-price-value .price-info{
	float:left;
	bottom:14px;
	position:absolute;
	left:0px;
	color:#747474;
}
.step-price-value .price-value{
	color:green;
	float:left;
	font-weight:bold;
	margin-top:95px;
	padding-top:5px;
	height:20px;
	line-height:20px;
}
.line-bottom{
	border-top:solid 2px #707070;
	height:1px;
}
.previewnote{
	opacity:0.7;
}
.previewnote:hover{
	opacity:1;
}
.price-interesens-show{
	position: absolute;
	padding-top: 5px;
	height: 15px;
	text-align:center;
	left:0px;
	top:0px;
	line-height: 10px;
	color: green;
}
/*-------------------order step 1--------------*/
.step1 #n_preview{
	/*background: url(../img/step1/Notebooks_1.jpg) no-repeat scroll 0 0 transparent;*/
}

.step1 .submit_right
{
	position:relative;
	text-align:right;
	padding-right:10px;
	margin-top:10px;
}

.step1 .border_select .title_select{
	color:green;
}

.step1 .n_title .info_einband{ margin-right:165px; }

.step1 #step1-group1 .node3{
	margin-left:8px;
}
.step1 #step1-group1 .node4{
	margin-left:16px;
}

.step1 #step1-group1 .border_select{
	width:59px;
	margin-right: 0px;
}
.step1 #step1-group1 .border_select:hover,.step1 #step1-group1 .selected{
	color:green;
}
.step1 #step1-group1 .border_select .button{
	width:59px;
	height:90px;
	margin:0px;
}
.step1 #step1-group1 .border_select .button{
	margin-top:20px;
}

.step1 #step1-group1 .border_select.size_s .button{
	background: url(../img/step1/size-s.png) no-repeat scroll 0 0 transparent;
}
.step1 #step1-group1 .border_select.size_m .button{
	background: url(../img/step1/size-m.png) no-repeat scroll 0 0 transparent;
}
.step1 #step1-group1 .border_select.size_l .button{
	background: url(../img/step1/size-l.png) no-repeat scroll 0 0 transparent;
}
.step1 #step1-group1 .border_select.size_xl .button{
	background: url(../img/step1/size-xl.png) no-repeat scroll 0 0 transparent;
}
.step1 #step1-group1 .border_select.size_s.selected .button{
	background: url(../img/step1/size-s-new.png) no-repeat scroll 0 0 transparent;
}
.step1 #step1-group1 .border_select.size_m.selected .button{
	background: url(../img/step1/size-m-new.png) no-repeat scroll 0 0 transparent;
}
.step1 #step1-group1 .border_select.size_l.selected .button{
	background: url(../img/step1/size-l-new.png) no-repeat scroll 0 0 transparent;
}
.step1 #step1-group1 .border_select.size_xl.selected .button{
	background: url(../img/step1/size-xl-new.png) no-repeat scroll 0 0 transparent;
}
.step1 #step1-group1 .border_select.size_s:hover .button{
	background: url(../img/step1/size-s-hover.png) no-repeat scroll 0 0 transparent;
}
.step1 #step1-group1 .border_select.size_m:hover .button{
	background: url(../img/step1/size-m-hover.png) no-repeat scroll 0 0 transparent;
}
.step1 #step1-group1 .border_select.size_l:hover .button{
	background: url(../img/step1/size-l-hover.png) no-repeat scroll 0 0 transparent;
}
.step1 #step1-group1 .border_select.size_xl:hover .button{
	background: url(../img/step1/size-xl-hover.png) no-repeat scroll 0 0 transparent;
}

.step1 #Einband{
padding-left:8px;
}
.step1 #Einband .border_select{
	width:75px;
	margin-right: 0px;
	margin-left: 10px;
}
.step1 #Einband .border_select:hover,.step1 #step1-group1 .selected{
	color:green;
}
.step1 #Einband .border_select .button{
	width:75px;
	height:100px;
	margin:0px;
	background:none;
}
.step1 #Einband .border_select .button{
	margin-top:10px;
}

.step1 #Einband .border_select.spiral .button{
	background: url(../img/step1/bindung-spiral.png) no-repeat scroll 0 0 transparent;
}
.step1 #Einband .border_select.hard .button{
	background: url(../img/step1/bindung-hard.png) no-repeat scroll 0 0 transparent;
}
.step1 #Einband .border_select.paegung .button{
	background: url(../img/step1/bindung-paegung.png) no-repeat scroll 0 0 transparent;
}
.step1 #Einband .border_select.spiral.selected .button{
	background: url(../img/step1/bindung-spiral-new.png) no-repeat scroll 0 0 transparent;
}
.step1 #Einband .border_select.hard.selected .button{
	background: url(../img/step1/bindung-hard-new.png) no-repeat scroll 0 0 transparent;
}
.step1 #Einband .border_select.paegung.selected .button{
	background: url(../img/step1/bindung-paegung-new.png) no-repeat scroll 0 0 transparent;
}
.step1 #Einband .border_select.spiral:hover .button{
	background: url(../img/step1/bindung-spiral-hover.png) no-repeat scroll 0 0 transparent;
}
.step1 #Einband .border_select.hard:hover .button{
	background: url(../img/step1/bindung-hard-hover.png) no-repeat scroll 0 0 transparent;
}
.step1 #Einband .border_select.paegung:hover .button{
	background: url(../img/step1/bindung-paegung-hover.png) no-repeat scroll 0 0 transparent;
}

.step1 #step1-group2{
padding-left:8px;
}
.step1 #step1-group2 .border_select{
	width:76px;
	margin-right: 0px;
	margin-left: 10px;
}
.step1 #step1-group2 .border_select:hover,.step1 #step1-group1 .selected{
	color:green;
}
.step1 #step1-group2 .border_select .button{
	width:76px;
	height:110px;
	margin:0px;
	background:none;
}
.step1 #step1-group2 .border_select .button{
	margin-top:10px;
}
.step1 #step1-group2 .border_select.white .button{
	background: url(../img/step1/papierart-white.png) no-repeat scroll 0 0 transparent;
}
.step1 #step1-group2 .border_select.cream .button{
	background: url(../img/step1/papierart-cream.png) no-repeat scroll 0 0 transparent;
}
.step1 #step1-group2 .border_select.white.selected .button{
	background: url(../img/step1/papierart-white-new.png) no-repeat scroll 0 0 transparent;
}
.step1 #step1-group2 .border_select.cream.selected .button{
	background: url(../img/step1/papierart-cream-new.png) no-repeat scroll 0 0 transparent;
}
.step1 #step1-group2 .border_select.white:hover .button{
	background: url(../img/step1/papierart-white-hover.png) no-repeat scroll 0 0 transparent;
}
.step1 #step1-group2 .border_select.cream:hover .button{
	background: url(../img/step1/papierart-cream-hover.png) no-repeat scroll 0 0 transparent;
}
.step1 .step1-price-value{
	float:right;
	margin:40px 10px 0px 0px;
	width:75px;
}

.step1 #Layout-price.step1-price-value{
	float:right;
	margin:24px 10px 0px 0px;
	width:75px;
}

.step1 .step1-price-value .price-value{
	color:red;
	font-weight:bold;
	height:25px;
	line-height:25px;
}




/*---------------------------------------------*/
/*-------------------order step 2--------------*/

.step2 .submit_right
{
	position:relative;
	text-align:right;
	padding-right:10px;
	margin-top:10px;
	width: 280px;
}
.step2 #Layout{
padding-left:8px;
}
.step2 #Layout .border_select{
	width:57px;
	margin-right: 0px;
	margin-left: 5px;
}
.step2 #Layout .border_select:hover,.step1 #Layout .selected{
	color:green;
}
.step2 #Layout .border_select .button{
	width:57px;
	height:90px;
	margin:0px;
	margin-top:20px;
}
.step2 #Layout .border_select .title_select{
	color:green;
}

.step2 #Layout .btnlayout1 .button{
	background: url(../img/step2/btn_layout_1.png) no-repeat scroll 0 0 transparent;
}
.step2 #Layout .btnlayout1.selected .button{
	background: url(../img/step2/btn_layout_1-new.png) no-repeat scroll 0 0 transparent;
}
.step2 #Layout .btnlayout1:hover .button{
	background: url(../img/step2/btn_layout_1-hover.png) no-repeat scroll 0 0 transparent;
}
.step2 #Layout .btnlayout2 .button{
	background: url(../img/step2/btn_layout_2.png) no-repeat scroll 0 0 transparent;
}
.step2 #Layout .btnlayout2.selected .button{
	background: url(../img/step2/btn_layout_2-new.png) no-repeat scroll 0 0 transparent;
}
.step2 #Layout .btnlayout2:hover .button{
	background: url(../img/step2/btn_layout_2-hover.png) no-repeat scroll 0 0 transparent;
}
.step2 #Layout .btnlayout3 .button{
	background: url(../img/step2/btn_layout_3.png) no-repeat scroll 0 0 transparent;
}
.step2 #Layout .btnlayout3.selected .button{
	background: url(../img/step2/btn_layout_3-new.png) no-repeat scroll 0 0 transparent;
}
.step2 #Layout .btnlayout3:hover .button{
	background: url(../img/step2/btn_layout_3-hover.png) no-repeat scroll 0 0 transparent;
}
.step2 #Layout .btnlayout4 .button{
	background: url(../img/step2/btn_layout_4.png) no-repeat scroll 0 0 transparent;
}
.step2 #Layout .btnlayout4.selected .button{
	background: url(../img/step2/btn_layout_4-new.png) no-repeat scroll 0 0 transparent;
}
.step2 #Layout .btnlayout4:hover .button{
	background: url(../img/step2/btn_layout_4-hover.png) no-repeat scroll 0 0 transparent;
}

.step2 #step1-group2{
padding-left:8px;
}
.step2 #step1-group2 .border_select{
	width:72px;
	margin-right: 0px;
	margin-left: 7px;
}
.step2 #step1-group2 .border_select .button{
	width:72px;
	height:100px;
	margin:0px;
	margin-top:10px;
}

.step2 #step1-group2 .blanko .button{
	background: url(../img/step2/btn_lineatur_1.png) no-repeat scroll 0 0 transparent;
}
.step2 #step1-group2 .blanko.selected .button{
	background: url(../img/step2/btn_lineatur_1-new.png) no-repeat scroll 0 0 transparent;
}
.step2 #step1-group2 .blanko:hover .button{
	background: url(../img/step2/btn_lineatur_1-hover.png) no-repeat scroll 0 0 transparent;
}
.step2 #step1-group2 .liniert .button{
	background: url(../img/step2/btn_lineatur_2.png) no-repeat scroll 0 0 transparent;
}
.step2 #step1-group2 .liniert.selected .button{
	background: url(../img/step2/btn_lineatur_2-new.png) no-repeat scroll 0 0 transparent;
}
.step2 #step1-group2 .liniert:hover .button{
	background: url(../img/step2/btn_lineatur_2-hover.png) no-repeat scroll 0 0 transparent;
}
.step2 #step1-group2 .punktiert .button{
	background: url(../img/step2/btn_lineatur_3.png) no-repeat scroll 0 0 transparent;
}
.step2 #step1-group2 .punktiert.selected .button{
	background: url(../img/step2/btn_lineatur_3-new.png) no-repeat scroll 0 0 transparent;
}
.step2 #step1-group2 .punktiert:hover .button{
	background: url(../img/step2/btn_lineatur_3-hover.png) no-repeat scroll 0 0 transparent;
}

.step2 #step1-group3{
padding-left:8px;
}
.step2 #step1-group3 .border_select{
	width:72px;
	margin-right: 0px;
	margin-left: 7px;
}
.step2 #step1-group3 .border_select .button{
	width:72px;
	height:100px;
	margin:0px;
	margin-top:10px;
}

.step2 #step1-group3 .btntimes .button{
	background: url(../img/step2/btn_schriftart_1.png) no-repeat scroll 0 0 transparent;
}
.step2 #step1-group3 .btntimes.selected .button{
	background: url(../img/step2/btn_schriftart_1-new.png) no-repeat scroll 0 0 transparent;
}
.step2 #step1-group3 .btntimes:hover .button{
	background: url(../img/step2/btn_schriftart_1-hover.png) no-repeat scroll 0 0 transparent;
}
.step2 #step1-group3 .btncourier .button{
	background: url(../img/step2/btn_schriftart_2.png) no-repeat scroll 0 0 transparent;
}
.step2 #step1-group3 .btncourier.selected .button{
	background: url(../img/step2/btn_schriftart_2-new.png) no-repeat scroll 0 0 transparent;
}
.step2 #step1-group3 .btncourier:hover .button{
	background: url(../img/step2/btn_schriftart_2-hover.png) no-repeat scroll 0 0 transparent;
}
.step2 #step1-group3 .btnverdana .button{
	background: url(../img/step2/btn_schriftart_3.png) no-repeat scroll 0 0 transparent;
}
.step2 #step1-group3 .btnverdana.selected .button{
	background: url(../img/step2/btn_schriftart_3-new.png) no-repeat scroll 0 0 transparent;
}
.step2 #step1-group3 .btnverdana:hover .button{
	background: url(../img/step2/btn_schriftart_3-hover.png) no-repeat scroll 0 0 transparent;
}

/*---------------------------------------------*/
/*-------------------order step 3--------------*/
@font-face {
 font-family: Garamond-Italic;
 src: url('../font/Garamond_Italic.eot') /* EOT file for IE */
}

@font-face {
 font-family: Garamond-Italic;
 src: url('../font/Garamond_Italic.ttf') /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: "Zapfino Extra LT";
 src: url('../font/zapfino_extra_lt_four.eot') /* EOT file for IE */
}

@font-face {
 font-family: "Zapfino Extra LT";
 src: url('../font/zapfino_extra_lt_four.ttf') /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: "FreestyleScriptEF-Reg";
 src: url('../font/freestylescriptef-reg.eot') /* EOT file for IE */
}

@font-face {
 font-family: "FreestyleScriptEF-Reg";
 src: url('../font/freestylescriptef-reg.ttf') /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: "Century Schoolbook L";
 src: url('../font/centuryscht.eot') /* EOT file for IE */
}

@font-face {
 font-family: "Century Schoolbook L";
 src: url('../font/centuryscht.ttf') /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: "English157TT BT";
 src: url('../font/english-157-bt.eot') /* EOT file for IE */
}

@font-face {
 font-family: "English157TT BT";
 src: url('../font/english-157-bt.ttf') /* TTF file for CSS3 browsers */
}

.step3 .submit_right
{
	position:relative;
	text-align:right;
	padding-right:10px;
	margin-top:10px;
	width: 280px;
}
.step3 .var_text{
	width: 235px;
	height: 60px;
	padding: 5px;
	margin: 20px;
	margin-right: 0px;
	border: inset 2px silver;
	border-right:none;
	border-bottom:none;
	resize: none;
}

.step3 .step3_grobe{
	position:relative;
} 
.step3 .default-color{
	float:right;
	width:75px;
	font-size:10px;
	position: absolute;
	top:0px;
	right:0px;
}
.step3 .default-color .img-default-color{
	width:24px;
	height:24px;
	background: url(../img/step3/btncolor_black.png) no-repeat scroll 0 0 transparent;
}
.step3 .default-color .info-default-color{
	height: 30px;
	padding-top: 20px;
}
.step3 .option-radio{
	height:30px;
	line-height:30px;
	margin:0px 0px 0px 20px;
	width:110px;
}
.step3 .option-radio img{
	float:left;
}
.step3 input[type=radio]{
	float:left;
	margin:5px 10px 0 0;
	width:10px;
	height:10px;
}
.step3 .style-step3{
	margin-top:10px;
	height:65px;
	width:265px;
}
.step3 #color-option{
	margin-left:18px;
	height:35px;
}
.step3 #color-option .left{
	margin-right:5px;
}
.step3 #color-option-price .price-info{
	bottom:-15px;
}
.step3 .price-div{
	font-family: Arial,serif;
	padding-top: 5px;
	margin: 0px;
	display: block;
	color: green;
	font-size: 95%;
	height: 15px;
	line-height: 10px;
	width:280px;
	text-align:center
}
.step3_input h3 {
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: italic;
	width:150px;
	float:left;
}
.step3_input div{margin-bottom:15px;}
.step3_input label {
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: italic;
	width:70px;
	line-height:25px;
	height:20px;
	padding-left:10px;
}

.step3_input input[type=text] {
	font-family: Arial;
	font-size: 9pt;
	width:150px;
	line-height:18px;
	padding:0px 10px;
	height:18px;
}
.step3 .margintop{
	margin-top: 25px;
}
.step3 #preview-kopfzeile{
	position: absolute;
	right: 60px;
	top: 60px;
	text-align: center;
	width: 220px;
	font-size:11px;
	font-weight: bold;
}
.step3 #preview-fubzeile{
	position: absolute;
	right: 60px;
	top: 410px;
	text-align: center;
	width: 220px;
	font-size:11px;
	font-weight: bold;
}
.step3 .border-preview-widdmung{
	position: absolute;
	right: 50px;
	z-index:3;
	top: 60px;
	text-align: center;
	line-height: 16px;
	width: 225px;
	height: 300px;
	font-size: 10px;
}
.step3 .step-price-value {
	height: 70px;
}


/*---------------------------------------------*/
/*-------------------order step 4--------------*/
.step4 .submit_right
{
	position:relative;
	text-align:right;
	padding-right:10px;
	margin-top:10px;
	width:280px;
}
.step4 .n_title .btn_info_price
{
	width:80px;
	color:green;
	font-size:95%;
}
.step4 #weitere-inhalte .title_select{ color:green }

.step4 #interessen-price{
	margin: 8px 10px 0px 0px;
}

.step4 .price-interesens-show{
	margin-top: 110px;
	width:260px;
}
.step4 #endseiten .border_select{
	width: 70px;
	padding: 5px 0px;
	margin-right: 5px;
	text-align: center;
	float: left;
}

.step4 .select-1 {
	margin-left: 15px;
	margin-top: 5px;
	width: 110px;
}
.step4 .select-1 .title{
	width:100%;
	height:20px;
	line-height:20px;
}
.step4 .select-1 .select select{
	margin: 0px;
	height:20px;
	line-height:20px;
	width: 105px;
}
.step4 #main-interessen .paddingTop{
	height:5px;
	
}
.step4 #main-interessen{
	padding-left:15px;
	
}
.step4 #main-interessen .interessen_node {
	width:150px;
	height:20px;
	line-height:20px;
	padding:0px;
	margin:0px;
}
.step4 #main-interessen .interessen_node input[type=radio]{
	width:10px;
	height:10px;
	margin: 4px 3px 0 0;
	padding:0px;
	float:left;
}
.step4 #main-interessen .interessen_node .lable{
	line-height:20px;
	height:20px;
	margin:0px;
	padding:0px;
	top:0px;
}
.step4 #weitere-inhalte{
padding-left:8px;
	float:left;
}
.step4 #weitere-inhalte .border_select{
	width:72px;
	margin-right: 0px;
	margin-left: 7px;
}
.step4 #weitere-inhalte .border_select .button{
	width:72px;
	height:100px;
	margin:0px;
	margin-top:10px;
}

.step4 #weitere-inhalte .module-10 .button{
	background: url(../img/step4/btnmodule-10.png) no-repeat scroll 0 0 transparent;
}
.step4 #weitere-inhalte .module-10.selected .button{
	background: url(../img/step4/btnmodule-10-new.png) no-repeat scroll 0 0 transparent;
}
.step4 #weitere-inhalte .module-10:hover .button{
	background: url(../img/step4/btnmodule-10-hover.png) no-repeat scroll 0 0 transparent;
}
.step4 #weitere-inhalte .module-11 .button{
	background: url(../img/step4/btnmodule-11.png) no-repeat scroll 0 0 transparent;
}
.step4 #weitere-inhalte .module-11.selected .button{
	background: url(../img/step4/btnmodule-11-new.png) no-repeat scroll 0 0 transparent;
}
.step4 #weitere-inhalte .module-11:hover .button{
	background: url(../img/step4/btnmodule-11-hover.png) no-repeat scroll 0 0 transparent;
}
.step4 #weitere-inhalte .module-12 .button{
	background: url(../img/step4/btnmodule-12.png) no-repeat scroll 0 0 transparent;
}
.step4 #weitere-inhalte .module-12.selected .button{
	background: url(../img/step4/btnmodule-12-new.png) no-repeat scroll 0 0 transparent;
}
.step4 #weitere-inhalte .module-12:hover .button{
	background: url(../img/step4/btnmodule-12-hover.png) no-repeat scroll 0 0 transparent;
}


.step4 #endseiten{
padding-left:8px;
}
.step4 #endseiten .border_select{
	width:57px;
	margin-right: 0px;
	margin-left: 5px;
}
.step4 #endseiten .border_select:hover,.step1 #Layout .selected{
	color:green;
}
.step4 #endseiten .border_select .button{
	width:57px;
	height:90px;
	margin:0px;
	margin-top:5px;
}
.step4 #endseiten .border_select .title_select{
	color:green;
}

.step4 #endseiten .blanko .button{
	background: url(../img/step4/btnblanko.png) no-repeat scroll 0 0 transparent;
}
.step4 #endseiten .blanko:hover .button,.step4 #endseiten .blanko.selected .button{
	background: url(../img/step4/btnblanko-new.png) no-repeat scroll 0 0 transparent;
}
.step4 #endseiten .liniert .button{
	background: url(../img/step4/btnliniert.png) no-repeat scroll 0 0 transparent;
}
.step4 #endseiten .liniert:hover .button,.step4 #endseiten .liniert.selected .button{
	background: url(../img/step4/btnliniert-new.png) no-repeat scroll 0 0 transparent;
}
.step4 #endseiten .punktiert .button{
	background: url(../img/step4/btnpunktiert.png) no-repeat scroll 0 0 transparent;
}
.step4 #endseiten .punktiert:hover .button,.step4 #endseiten .punktiert.selected .button{
	background: url(../img/step4/btnpunktiert-new.png) no-repeat scroll 0 0 transparent;
}
.step4 #endseiten .kariert .button{
	background: url(../img/step4/btnkariert.png) no-repeat scroll 0 0 transparent;
}
.step4 #endseiten .kariert:hover .button,.step4 #endseiten .kariert.selected .button{
	background: url(../img/step4/btnkariert-new.png) no-repeat scroll 0 0 transparent;
}
/*---------------------------------------------*/
/*-------------------order step 5--------------*/
.step5 #n_preview{
	background: none;
}
.step5 #Umschlag .title_select{ color:green }

.step5 #Umschlag{
	padding-left:20px;
	float:left;
}
.step5 #Umschlag .border_select{
	width:77px;
	margin-right: 0px;
	margin-left: 0;
	z-index:100;
}
.step5 #Umschlag .border_select .button{
	width:77px;
	height:100px;
	margin:0px;
	margin-top:10px;
}
.step5 #Umschlag .border_select .button img{
	width:72px;
	height:88px;
	float:left;
	margin:0px;
}

.step5 #Umschlag .border_select.Leinen .button{
	background: url(../img/step5/btn-material_leinen.png) no-repeat scroll 0 0 transparent;
}
.step5 #Umschlag .border_select.Leinen.selected .button{
	background: url(../img/step5/btn-material-leinen-new.png) no-repeat scroll 0 0 transparent;
}
.step5 #Umschlag .border_select.Leinen:hover .button{
	background: url(../img/step5/btn-material_leinen-hover.png) no-repeat scroll 0 0 transparent;
}
.step5 #Umschlag .border_select.Nabuka .button{
	background: url(../img/step5/btn-material-nabuka.png) no-repeat scroll 0 0 transparent;
}
.step5 #Umschlag .border_select.Nabuka.selected .button{
	background: url(../img/step5/btn-material-nabuka-new.png) no-repeat scroll 0 0 transparent;
}
.step5 #Umschlag .border_select.Nabuka:hover .button{
	background: url(../img/step5/btn-material-nabuka-hover.png) no-repeat scroll 0 0 transparent;
}
.step5 #Umschlag .border_select.Seide .button{
	background: url(../img/step5/btn-material-seide.png) no-repeat scroll 0 0 transparent;
}
.step5 #Umschlag .border_select.Seide.selected .button{
	background: url(../img/step5/btn-material-seide-new.png) no-repeat scroll 0 0 transparent;
}
.step5 #Umschlag .border_select.Seide:hover .button{
	background: url(../img/step5/btn-material-seide-hover.png) no-repeat scroll 0 0 transparent;
}

.step5 .bg-main-select3 #Umschlag-price{
	z-index:99;
	margin: 65px 10px 0px 0px;
	
}

.step5 .Beschriftung{
	padding-top: 15px;
	width: 350px;
	float:left;
}

.step5.upload .Beschriftung{
	padding-top:10px;
}
.step5 .Beschriftung-2{
	width: 220px;
	float:left;
}
.step5 .Beschriftung-2 input{
	margin-left: 20px;
	width: 140px;
	float: left;
	height: 22px;
	line-height: 22px;
}
.step5 .Beschriftung-1{
	width: 130px;
	float:left;
}
.step5 .Beschriftung-1 input{
	margin-left: 20px;
	width: 50px;
	float: left;
	height: 22px;
	line-height: 22px;
}
.step5 .Beschriftung-padding-top{
	padding-top:20px;
}

.step5.upload .Beschriftung-padding-top{
	padding-top:5px;
}
.step5 .Beschriftung input{ 
	width: 270px;
	margin-left: 20px;
	float: left;
	height: 22px;
	line-height: 22px;
}


.step5 .Farbe{
	padding-left:20px;
	width:260px;
	padding-top:30px;
	float:left;
}

.step5.upload .bg-main-select {
	height: 110px;
}
.step5.upload .bgupload{
	height: 130px;	
}
.step5.upload .bg-main-select2 {
	height: 35px;
}
.step5.upload .bgBeschriftung {
	height: 80px;
	margin-bottom:25px;
}
.step5.upload  .Farbe{
	float:left;
	width:280px;
	padding-top:5px;
}
.step5 .Farbe .border_select{
	width:40px;
	margin-right: 3px;
	margin-left: 0;
	z-index:100;
}
.step5.upload .Farbe .border_select{
	width:25px;
	margin-right: 3px;
	margin-left: 0;
	z-index:100;
}
.step5 .Farbe .border_select .button{
	width:25px;
	height:25px;
	background: url(../img/step5/btn-colorchange.png) no-repeat;
	margin:0px;
	margin-top:0px;
}
.step5 .uploadDiv{
	float:left;
}
.step5 .uploadDiv .imgUpload{
	width: 77px;
	height: 91px;
	margin: 0px;
	margin-top: 10px;
	margin-left:20px;
	float:left;
}
.step5 .uploadDiv .imgUpload img{
	width: 65px;
	height: 91px;
	margin:0px; 
	padding:0px;
}
.step5 .uploadDiv .buttonUpload{
	float:left;
	width:160px;
	text-align:center;
	padding-top:10px;
	margin-top: 10px;
}
.step5 .uploadDiv .buttonUpload .title{
	height: 20px;
	line-height: 20px;
}
.step5 .uploadDiv .buttonUpload .button{
	height: 35px;
	line-height: 35px;
}

.step5 #Design{
	float:left;
	/*height:140px;
	overflow-y: scroll;
	border:solid 1px #6296c7;*/
	width:280px;
	margin-left: 5px;
}
.step5 #Design .controls{
	position:relative;
	float:left;
	margin-bottom: -1px;
	border: 1px solid #c4c4c4;
	border-bottom: none;
	background-color: #F5F5F5;
}
.step5 #Design .controls div{
	float:left;
	padding:5px 10px;
	border:solid 1px transparent;
	border-right:solid 2px transparent;
	border-bottom:solid 2px transparent;
	border-top:none;
	font-size:12px;
	font-size:95%;
}
.step5 #Design .controls div:hover,.step5 #Design .controls div.selectTab{
	/*float:left;
	padding:5px 10px;
	border:solid 1px #666;
	border-right:solid 2px #666;
	border-bottom:solid 2px #666;
	border-top:none;
	*/
}

.step5 .contenttab {
    border: 1px solid #c4c4c4;
    float: left;
    padding: 5px 0 0;
}

.step5 #Design .button
{
	background: none;
	width:50px;
	height:60px;
	cursor:pointer;
	/*line-height:48px;*/
}
.step5 #Design .button:hover,.step5 #Design .selected .button
{
	cursor:pointer;
	background:none;
	background-color:#CCC;
}
.step5 #Design .border_select 
{
	width: 50px;
	padding:0px 5px;
	text-align:center;
	float:left;
}
.step5 #preview-Beschriftung{
	float: left;
	position: absolute;
	left: 130px;
	top: 473px;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	width: 360px;
	text-align: center;
	background-color: white;
}
.step5 #preview-Beschriftung.cover_381{
	top: 504px;
}
.step5 .submit_right
{
	position:relative;
	text-align:right;
	padding-right:10px;
	margin-top:10px;
	width:280px;
}
/* step 5  && step 6 */
.title-style2 {
	top: 183px;
	left: 230px;
	width: 140px;
	text-align: center;
	font-size:9px;
	font-weight:normal;
	font-family: "Arial"
}
.note-style2 {
	top: 163px;
	left: 230px;
	width: 140px;
	text-align: center;
	font-size: 9px;
	font-weight: normal;
	font-family: "Arial"
}
.year-style2 {
	top: 150px;
	left: 230px;
	width: 140px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	font-family: "Arial"
}
.title-style3 {
	top: 254px;
	left: 185px;
	width: 160px;
	text-align: right;
	font-size: 10px;
	font-weight: bold;
	font-family: "Arial"
}
.note-style3 {
	top: 239px;
	left: 185px;
	width: 160px;
	text-align: right;
	font-size: 10px;
	font-weight: bold;
	font-family: "Arial"
}
.year-style3 {
	top: 227px;
	left: 363px;
	width: 70px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: white;
	font-family: "Arial"
}
.title-style1 {
	top: 140px;
	left: 205px;
	width: 160px;
	font-size: 9px;
	font-family: Arial;
	text-align: left;
	font-weight: bold;
	color: #666;
}
.note-style1 {
	top: 130px;
	left: 205px;
	width: 160px;
	font-size: 9px;
	font-family: Arial;
	text-align: left;
	font-weight: bold;
	color: #666;
}
.year-style1 {
	top: 118px;
	left: 225px;
	width: 170px;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	color: pink;
	font-family: "Arial";
}
.title-style4 {
	top: 310px;
	left: 185px;
	width: 160px;
	text-align: right;
	font-size: 10px;
	font-weight: bold;
	font-family: "Arial"
}
.note-style4 {
	top: 295px;
	left: 185px;
	width: 160px;
	text-align: right;
	font-size: 10px;
	font-weight: bold;
	font-family: "Arial"
}
.year-style4 {
	top: 290px;
	left: 363px;
	width: 70px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: white;
	font-family: "Arial"
}

.title-style-graegung {
	top: 220px;
	left: 210px;
	font-size: 14px;
	color: #E2AE4D;
	width: 200px;
	text-align: right;
}
.year-style-graegung {
	top: 120px;
	left: 290px;
	font-size: 18px;
	color: #E2AE4D;
	width: 120px;
	text-align: right;
}
.note-style-graegung {
	top: 149px;
	left: 210px;
	font-size: 14px;
	color: #E2AE4D;
	width: 200px;
	text-align: right;
}
/*---------------------------------------------*/

/*-------------------order step 6--------------*/
.step6 #n_preview{
	background: none;
	height:500px;
}
.step6 .submit_right
{
	position:relative;
	text-align:right;
	padding-right:10px;
	margin-top:10px;
	width:280px;
}
.step6 .black .button{
	background: url(../img/step6/btn-colorchange.png) no-repeat scroll 0 0 black;
}
.step6 .white .button{
	background: url(../img/step6/btn-colorchange.png) no-repeat scroll 0 0 white;
}
.step6 .blue .button{
	background: url(../img/step6/btn-colorchange.png) no-repeat scroll 0 0 blue;
}
.step6 .orange .button{
	background: url(../img/step6/btn-colorchange.png) no-repeat scroll 0 0 orange;
}
.step6 .dark-red .button{
	background: url(../img/step6/btn-colorchange.png) no-repeat scroll 0 0 darkred;
}
.step6 .green .button{
	background: url(../img/step6/btn-colorchange.png) no-repeat scroll 0 0 green;
}
.step6 .black:hover .button,.step6 .black.selected .button{
	background: url(../img/step6/btn-colorchange-new.png) no-repeat scroll 0 0 black;
}
.step6 .white:hover .button,.step6 .white.selected .button{
	background: url(../img/step6/btn-colorchange-new.png) no-repeat scroll 0 0 white;
}
.step6 .blue:hover .button,.step6 .blue.selected .button{
	background: url(../img/step6/btn-colorchange-new.png) no-repeat scroll 0 0 blue;
}
.step6 .orange:hover .button,.step6 .orange.selected .button{
	background: url(../img/step6/btn-colorchange-new.png) no-repeat scroll 0 0 orange;
}
.step6 .dark-red:hover .button,.step6 .dark-red.selected .button{
	background: url(../img/step6/btn-colorchange-new.png) no-repeat scroll 0 0 darkred;
}
.step6 .green:hover .button,.step6 .green.selected .button{
	background: url(../img/step6/btn-colorchange-new.png) no-repeat scroll 0 0 green;
}
/*.step6 #n_preview img {
	width: 303px;
	height: 441px;
	float: left;
	margin: 20px 0px 0px 130px;
}*/
.step6 #penloop{
	height: 40px;
	width: 20px;
	float: left;
	position: absolute;
	top: 250px;
	left: 435px;
}
.step6 #Lesezeichen {
	float: left;
}
.step6 #penloop2{
	height: 16px;
	width: 10px;
	float: left;
	position: absolute;
	top: 413px;
	left: 190px;
}

.step6 #rubberband{
	height: 394px;
	width: 12px;
	float: left;
	position: absolute;
	top: 19px;
	left: 400px;
}
.step6 .bg-main-select2 .step-price-value{
	height:43px;
}
.step6 .bg-main-select2 .step-price-value .price-value {
	margin-top:37px;
}

.step6 .bg-main-select2{
	padding-left:8px;
}
.step6 .bg-main-select2 .border_select{
	width:25px;
	margin-right: 0px;
	margin-left: 7px;
}
.step6 .bg-main-select2 .border_select .button{
	width:25px;
	height:25px;
	margin:0px;
	margin-top:15px;
}
.step6 .bg-main-select2 .price-interesens-show{
	margin-top: 53px;
	width:260px;
}
.step6 .bg-main-select .price-interesens-show{
	margin-top: 110px;
	width:260px;
}

.step6 .border_select.transparent{
	width:60px;
}
.step6 .border_select.transparent .button{
	width:60px;
	height:25px;
	background: url(../img/step6/transparent-radio.png) no-repeat scroll 0 0 transparent;
}
.step6 .border_select.transparent.selected .button{
	background: url(../img/step6/transparent-radio-select.png) no-repeat scroll 0 0 transparent;
}


.step6 #Froschtasche{
	padding-left:8px;
}
.step6 #Froschtasche .border_select{
	width:87px;
	margin-right: 0px;
	margin-left: 7px;
}
.step6 #Froschtasche .border_select .button{
	width:87px;
	margin:0px;
	margin-top:7px;
}
.step6 #Froschtasche .border_select.transparent{
	margin-left:70px;
}
.step6 #Froschtasche .border_select.transparent .button{
	width:87px;
	height:95px;
	background: url(../img/step6/btn-Froschtasche-ohne.png) no-repeat scroll 0 0 transparent;
}
.step6 #Froschtasche .border_select.transparent.selected .button{
	background: url(../img/step6/btn-Froschtasche-ohne-select.png) no-repeat scroll 0 0 transparent;
}

.step6 #Froschtasche .border_select.mit-Tasche .button{
	width:87px;
	height:95px;
	background: url(../img/step6/btn-Froschtasche-mit-Tasche.png) no-repeat scroll 0 0 transparent;
}
.step6 #Froschtasche .border_select.mit-Tasche.selected .button,.step6 #Froschtasche .border_select.mit-Tasche:hover .button{
	background: url(../img/step6/btn-Froschtasche-mit-Tasche-new.png) no-repeat scroll 0 0 transparent;
}

.step6 .number_show {
	float: right;
	width: 22px;
	height: 22px;
	margin-right: 5px;
}
.step6 .number_show.number1{
	background: url(../img/step6/number_step6_1.png) no-repeat scroll 0 0 transparent;
}
.step6 .number_show.number2{
	background: url(../img/step6/number_step6_2.png) no-repeat scroll 0 0 transparent;
}
/*-------------------Upload step--------------------------*/
.step4.upload{
float: left;
width: 100%;
}
.step4.upload .formheader .right {
	max-width: 35%;
	float: right;
	text-align: right;
	width: 245px;
}
.step4.upload #step1 .formdata {
	width: 100%;
	float: left;
}
.step4.upload .awesomebutton {
	float: none !important;
	width: 245px;
}
/* jquery.Jcrop.min.css v0.9.10 (build:20120429) */
.jcrop-holder{direction:ltr;text-align:left;}
.jcrop-vline,.jcrop-hline{background:#FFF url(../img/Jcrop.gif) top left repeat;font-size:0;position:absolute;}
.jcrop-vline{height:100%;width:1px!important;}
.jcrop-hline{height:1px!important;width:100%;}
.jcrop-vline.right{right:0;}
.jcrop-hline.bottom{bottom:0;}
.jcrop-handle{background-color:#333;border:1px #eee solid;font-size:1px;height:5px;width:5px}
.jcrop-tracker{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;height:100%;width:100%;}
.jcrop-handle.ord-n{left:50%;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-s{bottom:0;left:50%;margin-bottom:-4px;margin-left:-4px;}
.jcrop-handle.ord-e{margin-right:-4px;margin-top:-4px;right:0;top:50%;}
.jcrop-handle.ord-w{left:0;margin-left:-4px;margin-top:-4px;top:50%;}
.jcrop-handle.ord-nw{left:0;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-ne{margin-right:-4px;margin-top:-4px;right:0;top:0;}
.jcrop-handle.ord-se{bottom:0;margin-bottom:-4px;margin-right:-4px;right:0;}
.jcrop-handle.ord-sw{bottom:0;left:0;margin-bottom:-4px;margin-left:-4px;}
.jcrop-dragbar.ord-n,.jcrop-dragbar.ord-s{height:7px;width:100%;}
.jcrop-dragbar.ord-e,.jcrop-dragbar.ord-w{height:100%;width:7px;}
.jcrop-dragbar.ord-n{margin-top:-4px;}
.jcrop-dragbar.ord-s{bottom:0;margin-bottom:-4px;}
.jcrop-dragbar.ord-e{margin-right:-4px;right:0;}
.jcrop-dragbar.ord-w{margin-left:-4px;}
.jcrop-light .jcrop-vline,.jcrop-light .jcrop-hline{background:#FFF;filter:Alpha(opacity=70)!important;opacity:.70!important;}
.jcrop-light .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#000;border-color:#FFF;border-radius:3px;}
.jcrop-dark .jcrop-vline,.jcrop-dark .jcrop-hline{background:#000;filter:Alpha(opacity=70)!important;opacity:.7!important;}
.jcrop-dark .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#FFF;border-color:#000;border-radius:3px;}
.jcrop-holder img,img.jcrop-preview{max-width:none;}


.step4.upload .backround-left {
		position: absolute;
		height: 80px;
		width: 220px;
		float: left;
		left: 0px;
		background-color: white;
		top: 290px;
}

.step4.upload .backround-right {
		position: absolute;
		height: 80px;
		width: 70px;
		float: left;
		top: 290px;
		right: 0px;
}
.step4.upload .size_130x190 .backround-right {
		top: 255px;
		height: 80px;
		width: 70px;
}

.step4.upload .size_130x190 .backround-left {
		height: 80px;
		width: 220px;
		top: 255px;
}

.step4.upload .size_148x210 .backround-right {
		top: 310px;
		height: 80px;
		width: 70px;
}

.step4.upload .size_148x210 .backround-left {
		height: 80px;
		width: 261px;
		top: 310px;
}

.step4.upload .size_167x244 .backround-right {
		top: 360px;
		height: 80px;
		width: 70px;
}

.step4.upload .size_167x244 .backround-left {
		height: 80px;
		width: 303px;
		top: 360px;
}

.step4.upload .size_185x262 .backround-right {
		top: 400px;
		height: 80px;
		width: 70px;
}

.step4.upload .size_185x262 .backround-left {
		height: 80px;
		width: 344px;
		top: 400px;
}

.step4.upload .cover-notes{
		text-align: right;
		width: 90%;
		font-size: 10px;
		font-weight: bold;
		font-family: "Arial";
		float: right;
		margin-right: 10px;
		height: 16px;
		line-height: 20px;
}
.step4.upload .cover-title{
		text-align: right;
		font-size: 10px;
		font-weight: bold;
		font-family: "Arial";
		margin-right: 10px;
		float: right;
		margin-top: 35px;
		width: 90%;
		height: 16px;
		line-height: 20px;
}
.step4.upload .cover-year{
		line-height: 80px;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		color: white;
		font-family: "Arial";
}
.select-1 .endmonat {
    background: #F2F2F2;
    height: 17px;
    padding-left: 5px;
    border-radius: 4px;
    border: 1px solid #A4A4A4;
}
#note-preview .month_preview {
    margin: 45px auto;
    position: relative;
    width: 85%;
    z-index: 5;
    text-transform: uppercase;
    color: #999999;
    font-size: 6pt;
}
#note-preview .month_preview .col1 {
    float: right;
    margin-right: 30px;
}

#style-preview .month_preview {
    color: #999999;
    font-size: 6pt;
    margin: 45px auto;
    position: relative;
    text-transform: uppercase;
    width: 85%;
    z-index: 5;
}
#style-preview .month_preview .col1 {
    float: right;
    margin-right: 30px;
}




