@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Josefin Sans SemiBold"), url("../fonts/Josefin_Sans/JosefinSans-SemiBold.ttf"), url("http://themes.googleusercontent.com/static/fonts/josefinsans/v3/C6HYlRF50SGJq1XyXj04z9Od4RnLmtUrdSQkDmC5b8k.woff") format("woff");
}
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Josefin Sans Bold"), url("../fonts/Josefin_Sans/JosefinSans-Bold.ttf"), url("http://themes.googleusercontent.com/static/fonts/josefinsans/v3/C6HYlRF50SGJq1XyXj04z3l4twXkwp3_u9ZoePkT564.woff") format("woff");
}
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Josefin Sans"), url("../fonts/Josefin_Sans/JosefinSans-Regular.ttf"), url("http://themes.googleusercontent.com/static/fonts/josefinsans/v3/xgzbb53t8j-Mo-vYa23n5nhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
@font-face {
  font-family: "Tangerine";
  font-style: normal;
  font-weight: normal;
  src: local("Tangerine"), url("../fonts/Tangerine/Tangerine_Regular.ttf"), url("http://themes.googleusercontent.com/static/fonts/tangerine/v3/HGfsyCL5WASpHOFnouG-RD8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
  font-family: "Tangerine";
  font-style: normal;
  font-weight: bold;
  src: local("Tangerine Bold"), local("Tangerine-Bold"), url("../fonts/Tangerine/Tangerine_Bold.ttf"), url("http://themes.googleusercontent.com/static/fonts/tangerine/v3/UkFsr-RwJB_d2l9fIWsx3nhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
html {
  overflow-y: scroll;
}
body {
  background:#fff;
  color: #222;
  margin: 0 0 3em 0;
  padding: 0;
  font-family: Georgia,Palatino,Times New Roman,Times,serif;
  line-height: 1.6em;
}
#next.wowbook-disabled {
  display: none;
}
#back.wowbook-disabled {
  display: none;
}
a {
  outline: 0;
  text-decoration: none;
}
header {
  color: #333;
  background: #ffffff url("../imgs/stripe.png") repeat-x;
  border-color: #eee;
  bborder-style: double none;
  -moz-box-shadow: 0px 1px 2px #aaaaaa;
  -webkit-box-shadow: 0px 1px 2px #aaaaaa;
  -o-box-shadow: 0px 1px 2px #aaaaaa;
  -ms-box-shadow: 0px 1px 2px #aaaaaa;
  box-shadow: 0px 1px 2px #aaaaaa;
  display: block;
  font-family: Raleway, arial, verdana, tahoma, helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 110%;
  line-height: 44px;
  height: 50px;
  margin-top: 1em;
  position: relative;
  text-align: center;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0px;
  font-weight: normal;
  font-size: 22px;
}
header a,
header a:visited {
  color: #333;
  color: #888;
  padding: 0 1em;
}
header a:hover {
  text-shadow: 0px 0px 1px rgba(200, 0, 30, 0.09), 0px 0px 20px rgba(200, 0, 30, 0.5);
}
header nav {
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
header:before {
  border: solid rgba(200, 200, 200, 0.5);
  border-width: 1px 0px;
  content: '';
  width: 100%;
  height: 38px;
  left: 0;
  top: 5px;
  position: absolute;
  z-index: 0;
}
header:after {
  border: solid rgba(200, 200, 200, 0.2);
  border-width: 2px 0px;
  content: '';
  width: 100%;
  height: 34px;
  left: 0;
  top: 6px;
  position: absolute;
  z-index: 0;
}
header a.brasao {
  background: white;
  background: #ff507b;
  color: white;
  position: relative;
  height: 50px;
  border: 3px double rgba(200, 200, 200, 0.4);
  display: inline-block;
  padding: 10px;
  margin-top: -20px;
  font-family: 'Tangerine', arial, serif;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 1px 1px 2px #aaa;
  width: 50px;
  text-align: center;
  background: transparent url(./../imgs/hearts.png) center center no-repeat;
  border: none;
  width: 140px;
  text-indent: -10px;
}
#container {
  background: url("../imgs/white_gradient.png") no-repeat scroll 50% -130px transparent;
  margin: 0 auto;
  padding-top: 30px;
  position: relative;
  width: 800px;
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 170%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
#aboutus .signature {
  color: #ff507b;
  font-style: italic;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#photos {
  ttext-align: center;
}
.ttitle {
  font-family: 'Tangerine', arial, serif;
  font-weight: bold;
  font-size: 42pt;
  margin-top: 50px;
  position: relative;
  text-shadow: 1px 1px 3px black;
  text-align: center;
}
.photo {
  border-color: #666 #ddd #ddd #666;
  border-style: solid;
  border-width: 1px;
  display: block;
  margin: auto auto;
  position: relative;
  width: 90%;
}
.caption {
  color: #222;
  font-size: 1.2em;
  font-style: italic;
  margin-top: 0.5em;
  text-align: center;
  text-shadow: 2px 2px 2px #ccc;
}
.album .wowbook-page-number {
  color: #222;
}
.album .wowbook-page-content {
  background: #fff;
  border: 8px solid #1a84bd;
  padding: 1em 2em;
}
.album .wowbook-left .wowbook-page-content {
  background-image: url('../imgs/page_left_background.png');
  background-position: right top;
  border-right-width: 0px;
  padding-right: 2em;
}
.album .wowbook-right .wowbook-page-content {
  background-image: url('../imgs/page_right_background.png');
  background-position: right top;
  border-left-width: 0px;
  padding-left: 2em;
}
.album .cover {
  border: none;
  background:#1a84bd;
  color: white;
}
.album .cover img {
  display: block;
  margin: auto;
  margin-top: 0px;
  position: relative;
}
.album .cover.wowbook-page-content{
	padding:0px;
}
.wowbook-page.wowbook-hardpage.wowbook-left{
	background:#1a84bd;
	border-right-width: 0px;
}
.album .title {
  font-family: 'Tangerine', arial, serif;
  font-weight: bold;
  font-size: 50px;
  margin-top: 50px;
  position: relative;
  text-shadow: 1px 1px 3px black;
  text-align: center;
}
.album .title2 {
  font-family: 'Tangerine', arial, serif;
  font-size: 40px;
  margin-top: 1em;
  position: relative;
  text-shadow: 1px 1px 3px black;
  text-align: center;
}
.album input,
.album textarea {
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-color: #FAFAFA;
  border: 1px solid #CCCCCC;
  color: #555555;
  font: 13px/18px Helvetica Neue, Helvetica, Arial, sans-serif !important;
  margin: 0;
  padding: 3px 4px;
  width: 210px;
  padding-bottom: 5px;
  padding-top: 3px;
}
.album input:focus,
.album textarea:focus {
  -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
  -moz-box-shadow: 0 0 8px #ff507b;
  -webkit-box-shadow: 0 0 8px #ff507b;
  -o-box-shadow: 0 0 8px #ff507b;
  -ms-box-shadow: 0 0 8px #ff507b;
  box-shadow: 0 0 8px #ff507b;
  border-color: rgba(82, 168, 236, 0.75) !important;
  border-color: #ff507b !important;
  outline: none;
}
button:focus {
  outline: none;
}
#back,
#next {
  border: none;
  height: 44px;
  width: 44px;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
}
#back {
  background: url(./../imgs/arrow-left.png);
  left: -44px;
}
#next {
  background: url(./../imgs/arrow-right.png);
  right: -44px;
}
.ppink.button {
  background-color: #e22092;
}
.ppink.button:hover {
  background-color: #c81e82;
}
.bbutton,
.bbutton:visited {
  background: #222222 url(overlay.png) repeat-x;
  border: none;
  color: #fff;
  display: inline-block;
  padding: 5px 10px 6px;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
}
.button {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 20px;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: .5em 2em .55em;
  padding: .2em 1.5em .25em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
}
/* pink */
.pink {
  color: #feeef5;
  border: solid 1px #d2729e;
  background: #f895c2;
  background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
  background: -moz-linear-gradient(top, #feb1d3, #f171ab);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff507b), to(#f21053));
  background: -moz-linear-gradient(top, #ff507b, #f21053);
  background: #ff507b;
  border: solid 1px #D92D57;
}
.pink:hover {
  background: #d57ea5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
  background: -moz-linear-gradient(top, #f4aacb, #e86ca4);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff507b), to(#f21053));
  background: -moz-linear-gradient(top, #ff507b, #f21053);
  background: #ff507b;
  border: solid 1px #D92D57;
  -moz-box-shadow: 0 0px 12px #ff507b;
  -webkit-box-shadow: 0 0px 12px #ff507b;
  -o-box-shadow: 0 0px 12px #ff507b;
  -ms-box-shadow: 0 0px 12px #ff507b;
  box-shadow: 0 0px 12px #ff507b;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px #eeeeee;
}
button::-moz-focus-inner {
  border: 0;
}
#guestbook label {
  width: 100px;
  float: left;
  margin-top: 1em;
  clear: both;
}
#guestbook input,
#guestbook textarea {
  float: left;
  margin-top: 1em;
}
#guestbook button {
  margin-left: 100px;
  margin-top: 1em;
}
#guestbook-list {
  font-style: italic;
  list-style: none;
  margin: 0;
  max-height: 480px;
  padding: 0;
  position: relative;
  overflow: auto;
}
#guestbook-list li {
  padding: 1em 0;
  border-bottom: dotted 1px #bbb;
}
#guestbook-list li:last-child {
  border-bottom: none;
}
#guestbook-list span {
  color: #ccc;
  font-size: small;
}
#guestbook-list span.guestbook-name {
  color: #ff507b;
  font-size: medium;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#guestbook-list .guestbook-message {
  padding-top: 0.5em;
  font-size: 90%;
}

.wowbook-horizontal.wowbook-thumbnails {
    width: 800px;
    bottom: auto !important;
    position: inherit !important;
    margin:10px auto !important;
}
.wowbook-thumbnail{background:#fff;}

#leftmenu{
	float: left;
    width: 400px;
    margin-left: 10px;
}

#leftmenu ul.nav.nav-list{
	color:#005aff;
}

#leftmenu ul.nav.nav-list.first{
	list-style-image:url(./../imgs/sign1.png);
}

#leftmenu ul.nav.nav-list ul li.open {
    list-style-image: url(./../imgs/sign2.png);
}

#leftmenu ul.nav.nav-list ul{
	list-style-image:url(./../imgs/sign3.png);
	padding-left:10px;
}

#leftmenu ul.nav.nav-list ul li ul{
	list-style:none;
	padding-left:10px;
}
#leftmenu ul.nav.nav-list ul li ul li a{color:#ff2473;}
#leftmenu ul li ul li .nav-header{
	color:#767676;
}
#leftmenu #price span{color:#006600;font-size:30pt;padding-left:20px;font-family:Tahoma,Palatino,Times New Roman,Times,serif;}
div.input{border:1px solid #ccc;width:235px;height:20px;color:#ccc;font-size:12px;padding:3px;margin:5px;line-height:20px;}
div.input.half{width:85px;}

#widmung p{ 
    font-style: italic;
    padding: 10px;
    resize: none;
    text-align: center;
    margin-top:220px;
}
.wowbook-page-content,#page1{padding:0px !important;}
.wowbook-page-number{display:none;}
.circle {
	background-color: rgba(255,255,255,0.2);
	height:42px;
	width:42px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	text-align:center;
	color:white;
	border: 2px solid #FFFFFF;
	border-radius: 25px;
	-webkit-box-shadow: 0 0 1px rgb(255,255,255);
	-moz-box-shadow: 0 0 1px rgb(255,255,255);
	box-shadow: 0 0 1px rgb(255,255,255); 
	line-height: 40px;
	font-size:20px;
	opacity:0.4;
	cursor:pointer;
	font-family: Tahoma;
}
.circle:hover{
	-webkit-box-shadow: 0 0 3px rgb(255,255,255);
	-moz-box-shadow: 0 0 3px rgb(255,255,255);
	box-shadow: 0 0 3px rgb(255,255,255); 
}
#step-bindung{width:42px;height:42px;position:absolute;z-index:100;margin:10px 0 0 10px;}
#step-grobe{width:42px;height:42px;position:absolute;z-index:100;margin:10px 0 0 320px;}
#step-farbe{width:42px;height:42px;position:absolute;z-index:100;margin:480px 0 0 320px;}
#step-titel{width:42px;height:42px;position:absolute;z-index:100;margin:100px 0 0 265px;}
#step-gummiband{width:42px;height:42px;position:absolute;z-index:100;margin:325px 0 0 320px;}
#step-zeichenband{width:42px;height:42px;position:absolute;z-index:100;margin:480px 0 0 50px;}
.option{cursor: pointer;font-size:10px;}
.circle .tip{
   height: auto;
    left: 30px;
    position: relative;
    width: 200px;
    border: 1px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
}

.circle .tip{
			top:-10px;
			color:#232323;
			background-color:white;
			text-shadow:0 1px 0 rgba(0,0,0,0.1);
			box-shadow:0 1px 1px  rgba(0,0,0,0.5);
			visibility:hidden;
			opacity:0;
			-moz-transform:scale(0.6);
			-o-transform:scale(0.6);
			-webkit-transform:scale(0.6);
			transform:scale(0.6);
			-moz-transition:-moz-transform 0.4s,opacity 0.4s ease;
			-webkit-transition:-webkit-transform 0.4s,opacity 0.4s ease;
			-o-transition:-o-transform 0.4s,opacity 0.4s ease;
			transition:transform 0.4s,opacity 0.4s ease;
}

.circle .tip:after{
			border-top:7px solid white;
		}

.circle:hover .tip, .tip.active{
			visibility:visible;
			-moz-transform:scale(1);
			-webkit-transform:scale(1);
			-o-transform:scale(1);
			transform:scale(1);
			opacity:1;
}
		
.circle .tip:before{
			/*
            z-index:-2;
			content:"";
			width:0;
			height:0;
			position:absolute;
			bottom:-15px;
			left:47%;
			border:7px solid transparent;
            border-top:8px solid rgba(0,0,0,0.4);   
            */
                        
}

#option_step-bindung .option{
	float: left;
    height: auto;
    line-height: 15px;
    padding: 0 10px;
    width: 45px;
}

#option_step-grobe{float:right;margin-top:-10px;margin-right:70px}
#option_step-grobe.tip{height:30px;width:140px}
#option_step-grobe .option{width:30px;float:left;line-height:30px;text-align: center;}

#option_step-farbe{float:right;margin-top:-60px;margin-right:55px}
#option_step-farbe.tip{height:40px;width:250px}
#option_step-farbe .option{width:30px;float:left;line-height:30px;text-align: center;padding: 2px 5px;}

#option_step-titel{float:right;margin-top:13px;margin-right:-10px;background: transparent;border: 0px;}
#option_step-titel.tip{height:auto;width:250px;}
#step-titel.circle .tip{-webkit-box-shadow:none;-moz-box-shadow:none ;box-shadow:none;};
#option_step-titel .option{width:193px;float:left;line-height:30px;text-align: left;padding: 2px 5px;}
#option_step-titel .option #title_3{width:120px;height:45px;float:right;background: rgba(42, 175, 212, .5);border:none;color:#fff;text-align:right;padding-right:10px;margin-bottom:10px;font-size: 20px !important;}
#option_step-titel .option #title_1{width:192px;height:34px;float:right;background: rgba(42, 175, 212, .5);border:none;color:#fff;text-align:right;padding-right:10px;font-size: 20px !important;}
#option_step-titel .option #title_2{width:115px;height:34px;float:right;background: rgba(42, 175, 212, .5);border:none;color:#fff;text-align:right;padding-right:10px;margin-top:20px;font-size: 20px !important;}


#option_step-zeichenband{float:right;margin-top:-45px;margin-right:-40px}
#option_step-zeichenband.tip{height:25px;width:80px}
#option_step-zeichenband .option{width:30px;float:left;line-height:25px;text-align: center;padding: 2px 5px;}

#option_step-gummiband{float:right;margin-top:0px;margin-right:55px}
#option_step-gummiband.tip{height:25px;width:250px}
#option_step-gummiband .option{width:30px;float:left;line-height:25px;text-align: center;padding: 2px 5px;}


