
<!-- indexer::stop -->
<div class="<?php echo $this->class; ?> block"<?php echo $this->cssID; ?><?php if ($this->style): ?> style="<?php echo $this->style; ?>"<?php endif; ?>>
<?php if ($this->headline): ?>

<<?php echo $this->hl; ?>><?php echo $this->headline; ?></<?php echo $this->hl; ?>>
<?php endif; ?>

<form action="<?php echo $this->action; ?>" id="<?php echo $this->formId; ?>" method="post" class="newletter-form">
<div class="formbody">
<?php if ($this->message): ?>
<p class="<?php echo $this->mclass; ?>"><?php echo $this->message; ?></p>
<?php endif; ?>
<input type="hidden" name="FORM_SUBMIT" value="<?php echo $this->formId; ?>" />
<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}" />
<?php if (!$this->showChannels): ?>
<?php foreach ($this->channels as $id=>$title): ?>
<input type="hidden" name="channels[]" value="<?php echo $id; ?>" />
<?php endforeach; ?>
<?php endif; ?>
<?php /*<label for="ctrl_email_<?php echo $this->id; ?>" class="invisible"><?php echo $this->emailLabel; ?></label>
<input type="text" name="email" id="ctrl_email_<?php echo $this->id; ?>" class="text" value="<?php echo $this->email; ?>" />*/?>
<?php if ($this->showChannels): ?>
<label for="ctrl_channels_<?php echo $this->id; ?>" class="invisible"><?php echo $this->channelsLabel; ?></label>
<div id="ctrl_channels_<?php echo $this->id; ?>" class="checkbox_container">
<?php foreach ($this->channels as $id=>$title): ?>
<span><input type="checkbox" name="channels[]" id="opt_<?php echo $this->id; ?>_<?php echo $id; ?>" value="<?php echo $id; ?>" class="checkbox" /> <label for="opt_<?php echo $this->id; ?>_<?php echo $id; ?>"><?php echo $title; ?></label></span>
<?php endforeach; ?>
</div>
<?php endif; ?>

<table>
    <tr>
      <td style="width:100px;display: block;"><b><?php echo $this->sexLabel; ?></b></td>
      <td><input type="radio" value="1" name="sex" /><?php echo $this->man; ?>[nbsp][nbsp][nbsp][nbsp][nbsp][nbsp][nbsp][nbsp][nbsp][nbsp][nbsp][nbsp][nbsp][nbsp][nbsp][nbsp][nbsp][nbsp][nbsp][nbsp][nbsp][nbsp][nbsp][nbsp]
      	<input type="radio" value="0" name="sex" /><?php echo $this->women; ?></td>
      <td rowspan="4">
      	<img src="tl_files/personalnovel_de/img01.png" alt="" width="320" height="120px" style="margin-left:10px" />
      </td>
    </tr>
    <tr>
      <td><b>Name</b></td>
      <td><input type="text" name="name" size="45"/></td>
      <td></td>
    </tr>
    <tr>
      <td><b>Email*</b></td>
      <td><input type="text" name="email" id="ctrl_email_<?php echo $this->id; ?>" class="text" value="<?php echo $this->email; ?>" size="45" /></td>
    </tr>
    <tr>
      <td><i>*<?php echo $this->requiredLabel; ?></i></td>
      <td style="text-align:right"><input type="submit" name="submit" class="submit" value="Eintragen" id="submit-kontakt" /></td>
    </tr>
  </table>
</div>
</form>
<?php if ($this->hasError): ?>

<script type="text/javascript">
/* <![CDATA[ */
try {
  window.scrollTo(null, ($('<?php echo $this->formId; ?>').getElement('p.error').getPosition().y - 20));
} catch(e) {}
/* ]]> */
</script>
<?php endif; ?>

</div>
<!-- indexer::continue -->
