<?php $expire = 1405663682; /* http://web.personalnovel.local/checkout/order/2051559.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Bestellung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Bestellung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/checkout.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/checkout.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href="http://geburtstag.personalnovel.de/"></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
		<span class="green cartsum" cartsum="55.89">
		55,89</span> 
		<span class="green">EUR </span> <br />inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
    	    	     <a class="cart-link" href="http://web.personalnovel.local/checkout?order=2051559&step=Warenkorb"><img src="tl_files/personalnovel_de/cart.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:1000"></a>
	            
    <div id="cart-detail">
    
        
            <strong>1x 
        Die Dynastie                </strong>
        <span class="green">24,95 EUR</span><br/>
            <strong>1x 
        Oliver Twist                </strong>
        <span class="green">24,95 EUR</span><br/>
        
        <div class="cart-shipping">
        <strong>Versand:</strong> Premium-Versand <span class="green">
        5,99 EUR</span>
    </div>
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="checkout">
<!-- indexer::stop -->

<div class="checkout_steps">

	<ul id="progress">
		<li class="first current">Warenkorb</li>
		<li class="">Bestellen</li>
		<li class="">Versand</li>
		<li class="">Bestätigen</li>
		<li class="">Bezahlen</li>
		<li class="last ">Fertig</li>
	</ul>
	<div class="step1">
<form id="step1" method="post" action="/checkout?order=2051559">
	<input type=hidden name="step" value=1 />
	<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		
	<div class="formheader clearfix">
		<div class="left">
			<h1>Warenkorb Übersicht</h1>
			
			<table style="clear: left" id="basket-general-view">
	            <tbody>
	            
	            		            
		        		        																		<tr class="item_cell">
						<td class="text_cell">
							<strong>
							<span class="item_pieces_8058927">1</span>x 
							Die Dynastie														</strong>
						</td>
						<td rowspan="3" class="price_cell basket-general-links">
							<a href="/checkout?order=2051559#book_592">Ändern</a>
						</td>
						<td rowspan="3" class="price_cell" id="overview-book-8058927"> 24,95 EUR </td>
						</tr>
						<tr>
							<td class="text_cell">
								Widmung "Standard"							</td>
						</tr>
						<tr>
							<td class="text_cell">
								Standardtitel							</td>
						</tr>
						
												 
						<tr><td colspan='3'></td></tr>
							        																		<tr class="item_cell">
						<td class="text_cell">
							<strong>
							<span class="item_pieces_8058930">1</span>x 
							Oliver Twist														</strong>
						</td>
						<td rowspan="3" class="price_cell basket-general-links">
							<a href="/checkout?order=2051559#book_579">Ändern</a>
						</td>
						<td rowspan="3" class="price_cell" id="overview-book-8058930"> 24,95 EUR </td>
						</tr>
						<tr>
							<td class="text_cell">
								Widmung "Standard"							</td>
						</tr>
						<tr>
							<td class="text_cell">
								Standardtitel							</td>
						</tr>
						
												 
						<tr><td colspan='3'></td></tr>
							              
		        </tbody>
	        </table>
	        
	        <div class="summary">
				<div class="right price_cell"><strong>49,90 EUR</strong></div>
				<div class="right" style="margin-right: 20px;"><strogn>Gesamtwert Ihres Einkaufs:</strong></div>
	        </div>
		</div>
		
		<div class="right controls">
			<p>
				<button name="submitter" id="True" class="awesomebutton awesomegreen_gradient checkout-button submit awesomeround" type="button">
					<span><span>Zur Kasse gehen &gt;&gt;</span></span>
				</button>
			</p><br />
			<p>
				<a style="float: right;" class="awesomebutton awesomegreen_gradient onlyjs morebooks awesomeround awesomeoutline" href="/romane/">
					<span><span>Weitere Bücher bestellen</span></span>
				</a>
			</p><br />
			
			<p>
				<a style="margin-top: 0.25em;float:right;" class="awesomebutton awesomegreen_gradient onlyjs morewines awesomeround awesomeoutline" href="/eigenerwein/">
					<span><span>Wein dazu bestellen</span></span>
				</a>
			</p>
		</div>
	</div>
	
	
			
	
	
			
		
		
	
	
	    		
	<hr />
	
	<div class="formbody clearfix">
		<div class="title clearfix">
			<a  name="book_592"></a>
			<h1>
				Die Dynastie							</h1>
		</div>
		
		<div class="left">
			<table cellspacing=0 cellpadding=0>
		        <tbody>
				    <tr class="headline">
				      <td class="instruction_label_cell">
				        Übersicht:
				      </td>
				      <td colspan="2" class="instruction_cell">
				        Klicken Sie auf Ihre Eingaben um diese zu modifizieren
				      </td>
				    </tr>
				    <tr class="item_row">
				      <td class="label_cell">
				      				          Personalisierung:
				          				      </td>
				      <td class="text_cell None">
				      	<input type="hidden" name="book-edit-592" value="true" />
				      	
				      					      	<a href="/customize?order=2051559&bookitem=8058927&step=1&edit=1"
				      	    class="edit_link" >
				      					      	
				        				        Vollständig
				        				        </a>				      
				      </td>
				      <td class="price_cell inclusive">
				          inklusive
				      </td>
				    </tr>
				    <tr class="item_row">
				      <td class="label_cell">
				          Widmung:
				      </td>
				      <td class="text_cell None">
				        				                                    <a href="/customize?order=2051559&bookitem=8058927&widmungitem=8058928&step=2&edit=1"
                                class="edit_link">
                                Widmung "Standard"                            </a>
				      					        
				        <br>
				        				        				      </td>
				      <td class="price_cell inclusive">
				          inklusive 
				      </td>
				    </tr>
				    
				    <tr class="item_row">
				      <td class="label_cell">
				          Umschlag:
				      </td>
				      <td class="text_cell None">
				        				                                    <a href="/customize?order=2051559&bookitem=8058927&designitem=8058929&step=4&edit=1"
                                class="edit_link">
                                Standardtitel                            </a>
				      					        
				        <br>
				        				      </td>
				      <td class="price_cell inclusive">
				         inklusive 
				      </td>
				    </tr>
				    
				    				    
				    				    <tr class="item_row">
				      <td class="label_cell">
				          Einband:
				      </td>
				      <td class="text_cell None">
                                                    <a href="/customize?order=2051559&bookitem=8058927&step=3&edit=1"
                                class="edit_link">
                                Taschenbuch 'Edition'                            </a>
				      					        
				        <br>
				      </td>
				      <td class="price_cell ">
				      	  				          24,95 EUR
				      </td>
				    </tr>
				     				    <tr class="item_row">
				      <td class="label_cell">
				          Schrift:
				      </td>
				      <td class="text_cell None">
				                                    <a href="/customize?order=2051559&bookitem=8058927&step=5&edit=1"
                                class="edit_link">
                                New Century Schoolbook                            </a>
				      					        
				      </td>
				      <td class="price_cell inclusive">
				          inklusive
				      </td>
				    </tr>
				    				    				    				    <tr class="item_row">
				      <td class="label_cell">
				          Anzahl:
				      </td>
				      <td class="text_cell None">
				      					        <input type="text"  bookid="8058927" value="1" 
				        name="item_pieces_8058927" 
				        id="item_pieces_8058927" class="n numbook">
				         <span>Stück zu je</span>
				         <span class="single_price_with_upgrades_8058927 price">
				           24,95 EUR
				         </span>
				         <input type="hidden" value="24.95" id="total_8058927">
				      </td>
				      <td class="price_cell ">
						<span class="total_with_upgrades_8058927 price_strong">
														24,95 
						</span>
						EUR
				      </td>
				    </tr>
				    
				    				    
				    				    				    				    				    				    				    <tr class="headline">
				      <th></th>
				      <th colspan="2">Darf es noch etwas sein?</th>
				    </tr>
				    				     <tr class="item_row">
						<td class="label_cell">
													    Geschenkbox
						    						</td>
						<td class="text_cell giftbox">
                                                            <a href="/customize?order=2051559&bookitem=8058927&step=6&edit=1"
                                        class="edit_link">
                                Keine Artikel ausgewählt.
                                </a>
                            						
						</td>
						<td class="price_cell"></td>
				    				    
				    <tr class="linkline">
				      <td colspan="3">
				      
                                                    <a href="/customize?order=2051559&bookitem=8058927&step=6&edit=1"
                                    class="edit_link">
                            Weitere Artikel hinzufügen
                            </a>
                        				        
				      </td>
				    </tr>
				    				    				    
				    				    
		        </tbody>
		      </table>
			</div>
			
			<div class="right">
								<div class="tabsdiv">
					<ul class="tabheader clearfix">
						<li><a href="#umschlagbild">Umschlagbild</a></li>
												<li><a href="#widmung">Widmung</a></li>
												<li><a href="#textvorschau">Textvorschau</a></li>
												<li><a href="#personen">
												Personen
												</a></li>
											</ul>
										<div id="umschlagbild">
												<img src="http://preview.personalnovel.de/preview/BookItem/8058927/3b490c765727ce73284203059d98e5c1.png?width=350&shadow=3&1405058882&1405058882" />
										        
				                                    <a href="/customize?order=2051559&bookitem=8058927&designitem=8058929&step=4&edit=1"
                                    class="edit_link">
                            Umschlag&nbsp;ändern</a><br />
				      							
						
						
						<span style="font-size:10px; font-style:italic">Problem mit Bildhochladen? <br />
                            Bitte schicken Sie das Bild an <a href="mailto:technik@personalnovel.de">technik@personalnovel.de</a>
                        </span>
					</div>
															<div id="widmung" style="text-align:center">
												
												<p>
														<a class="lightbox" href="http://preview.personalnovel.de/preview/WidmungItem/7118343/87bfde7fd52b178fe99321e56101801c.png?width=750&text=PHAM+DUY+HOANG+CHUONG&fontface=Century Schoolbook L&fontcolor=black&fontsize=10" >
							<img src="http://preview.personalnovel.de/preview/WidmungItem/7118343/87bfde7fd52b178fe99321e56101801c.png?width=350&text=PHAM+DUY+HOANG+CHUONG&fontface=Century Schoolbook L&fontcolor=black&fontsize=10" />
                            </a>
                            
                                                            <a href="/customize?order=2051559&bookitem=8058927&widmungitem=8058928&step=2&edit=1"
                                    class="edit_link"> 
                                    Widmung ändern</a>
                            							    
						</p>
											</div>
					
										<div id="textvorschau">
					<p><strong>Bitte beachten Sie, dass wir Ihre Daten exakt wie hier angegeben übernehmen.</strong></p>
										<p>Das Schicksal von drei Generationen auf dem englischen Landsitz <span class='default Familiensitz'>ewgwgw</span> wird in dieser Familiensaga erzählt. Die erste Generation, <span class='default Sein_Vater'>Douglas</span> <span class='default Sein_Nachname'>Lacey</span> und seine Gattin <span class='default Seine_Mutter'>gwegwg</span>, haben drei Kinder: Der ältesten Sohn und Erben <span class='default Sein_Vorname'>Cyril</span> mit <span class='default Seine_Haare'>wgwegwe</span>en Haare und <span class='default Seine_Augen'>wegweg</span>en Augen, der <span class='default Ehefrau1_vn'>Lucy</span> <span class='default Ehefrau1_nn'>Karry</span> heiratet, mit der er drei Kinder bekommt: <span class='default Sohn1_vn'>Harry</span> verheiratet mit <span class='default Schwiegertochter1_vn'>Kate</span> <span class='default Schwiegertochter1_nn'>Jackson</span>, <span class='default Sohn2_vn'>Noel</span>, dessen Frau <span class='default Schwiegertochter2_vn'>Anne</span> ist, und <span class='default Tochter_vn'>Christine</span>, die später <span class='default Schwiegersohn1_vn'>Piers</span> <span class='default Schwiegersohn1_nn'>White</span> heiratet, mit dem sie einen Sohn, <span class='default Tochter_Sohn'>Daniel</span>, bekommt. Nach dem Tod seiner ersten Ehefrau heiratet die Hauptperson <span class='default Ihr_Vorname'>Caroline</span> <span class='default Ihr_Nachname'>Walton</span>, die <span class='default Ihre_Haare'>braun</span>e Haare und <span class='default Ihre_Augen'>grün</span>e Augen hat. Ihre gemeinsame Tochter <span class='default Ihre_Tochter1'>Frances</span> heiratet <span class='default Schwiegersohn2_vn'>Rob</span> <span class='default Schwiegersohn2_nn'>Fields</span>. Ihr Sohn <span class='default Ihr_Sohn'>Dennis</span> hat, aus einer Affäre mit seiner Cousine, eine Tochter <span class='default Nichte_Tochter'>Pheasant</span>, dennoch verliebt er sich in <span class='default Schwiegertochter3_vn'>Helen</span> und heiratet sie schließlich. 
Der zweite Sohn des Ahnherrn, <span class='default Sein_Bruder'>Roger</span>, heiratet <span class='default Schwaegerin_vn'>Nicola</span> <span class='default Schwaegerin_nn'>Legrande</span> und hat mit ihr drei Kinder: Die älteste Tochter <span class='default Enttaeuschte_vn'>Beatrice</span> wird von <span class='default Betrueger_vn'>Brian</span> <span class='default Betrueger_nn'>Heath</span> enttäuscht, der ihre jüngere Schwester <span class='default Pferdenaerrin_vn'>Kathleen</span> vorzieht. Nach unglücklicher Ehe mit <span class='default Betrueger_vn'>Brian</span> heiratet <span class='default Pferdenaerrin_vn'>Kathleen</span> <span class='default Retter_vn'>Maurice</span> <span class='default Retter_nn'>Lewis</span>. Der jüngster Sohn <span class='default Neffe_vn'>Christian</span> heiratet <span class='default Neffenfrau_vn'>Karen</span>. 
Die Tochter des Ahnherrn <span class='default Seine_Schwester'>Mary</span> liebt <span class='default Nomade_vn'>Kester</span> <span class='default Nomade_nn'>Larne</span>, mit dem sie ein gemeinsames Kind, <span class='default Nichte_vn'>Sylvia</span>, hat. Verheiratet ist sie mit <span class='default Schwager_vn'>Adam</span> <span class='default Schwager_nn'>Taylor</span>, ihr gemeinsamer Sohn heißt <span class='default Vatersohn_vn'>Stephan</span>. 
Und schließlich wächst die dritte Generation heran: <span class='default Maedchen1_vn'>Virginia</span> und <span class='default Maedchen2_vn'>Jessica</span>, <span class='default Neffenkind_vn'>Doug</span>, <span class='default Erbenenkel_vn'>Christoph</span> und <span class='default Nesthaekchen'>Franziska</span> und <span class='default Enkelin_vn'>Bridget</span> .</p>
					<center>
					                                <a href="/customize?order=2051559&bookitem=8058927&step=1&edit=1"
                                class="edit_link">
                                Personalisierung&nbsp;ändern</a>
				      	                        
					</center>
					</div>
										
					<div id="personen">
						<p>
							<strong>Bitte beachten Sie, dass wir Ihre Daten exakt wie hier angegeben übernehmen</strong>.
						</p>
						
						<table style="border-collapse: collapse; width: 100%;">
							<tbody>
																								<tr class="item_row">
									<td class="label_cell">Der Nachname des Ahnherrn (und seiner ganzen Familie) ist</td>
									<td title="Standardwert" class="text_cell">Lacey</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname des Ahnherrn ist</td>
									<td title="Standardwert" class="text_cell">Douglas</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Name des Familiensitzes ist</td>
									<td title="Standardwert" class="text_cell">ewgwgw</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Frau des Ahnherrn ist</td>
									<td title="Standardwert" class="text_cell">gwegwg</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Erben ist</td>
									<td title="Standardwert" class="text_cell">Cyril</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Haarfarbe des Erben ist</td>
									<td title="Standardwert" class="text_cell">wgwegwe</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Augenfarbe des Erben ist</td>
									<td title="Standardwert" class="text_cell">wegweg</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des zweiten Sohnes ist</td>
									<td title="Standardwert" class="text_cell">Roger</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Tochter des Ahnherrn ist</td>
									<td title="Standardwert" class="text_cell">Mary</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Kalifornierin ist</td>
									<td title="Standardwert" class="text_cell">Lucy</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der Kalifornierin ist</td>
									<td title="Standardwert" class="text_cell">Karry</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Londonerin ist</td>
									<td title="Standardwert" class="text_cell">Caroline</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der Londonerin ist</td>
									<td title="Standardwert" class="text_cell">Walton</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die  Haarfarbe der Londonerin ist</td>
									<td title="Standardwert" class="text_cell">braun</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Augenfarbe der Londonerin ist</td>
									<td title="Standardwert" class="text_cell">grün</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Haushälterin ist</td>
									<td title="Standardwert" class="text_cell">Nicola</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der Haushälterin ist</td>
									<td title="Standardwert" class="text_cell">Legrande</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Nomaden ist</td>
									<td title="Standardwert" class="text_cell">Kester</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Nomaden ist</td>
									<td title="Standardwert" class="text_cell">Larne</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Ehemanns der Tochter des Ahnherrn ist</td>
									<td title="Standardwert" class="text_cell">Adam</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der  Nachname des Ehemann der Tochter des Ahnherrn ist</td>
									<td title="Standardwert" class="text_cell">Taylor</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des späteren Wahl-New-Yorkers ist</td>
									<td title="Standardwert" class="text_cell">Harry</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des späteren Londoners ist</td>
									<td title="Standardwert" class="text_cell">Noel</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Lieblingstochter des ältesten Sohnes ist</td>
									<td title="Standardwert" class="text_cell">Christine</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der ersten Tochter des ältesten Sohnes aus seiner zweiten Ehe ist</td>
									<td title="Standardwert" class="text_cell">Frances</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des späteren Wahl-Londoners ist</td>
									<td title="Standardwert" class="text_cell">Dennis</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der späteren Sekretärin ist</td>
									<td title="Standardwert" class="text_cell">Beatrice</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der  Pferdenärrin ist</td>
									<td title="Standardwert" class="text_cell">Kathleen</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der  Vorname des zukünftigen Erben ist</td>
									<td title="Standardwert" class="text_cell">Christian</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Enkels des Ahnherrn</td>
									<td title="Standardwert" class="text_cell">Stephan</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Tochter der Tochter des Ahnherrn ist</td>
									<td title="Standardwert" class="text_cell">Sylvia</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Exfrau des späteren Wahl-New-Yorkers ist</td>
									<td title="Standardwert" class="text_cell">Kate</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der Exfrau des späteren Wahl-New-Yorkers ist</td>
									<td title="Standardwert" class="text_cell">Jackson</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Frau des späteren Londoners ist</td>
									<td title="Standardwert" class="text_cell">Anne</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Ehemanns der Lieblingstochter ist</td>
									<td title="Standardwert" class="text_cell">Piers</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Ehemanns der Lieblingstochter ist</td>
									<td title="Standardwert" class="text_cell">White</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Iren ist</td>
									<td title="Standardwert" class="text_cell">Rob</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Iren ist</td>
									<td title="Standardwert" class="text_cell">Fields</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Buchhändlerin ist</td>
									<td title="Standardwert" class="text_cell">Helen</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des herrischen Ehemans der Pferdenärrin ist</td>
									<td title="Standardwert" class="text_cell">Brian</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des herrischen Ehemans der Pferdenärrin ist</td>
									<td title="Standardwert" class="text_cell">Heath</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der  Vorname des zweiten Ehemanns der Pferdenärrin ist</td>
									<td title="Standardwert" class="text_cell">Maurice</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des zweiten Ehemanns der Pferdenärrin ist</td>
									<td title="Standardwert" class="text_cell">Lewis</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Ehefrau eines Enkels des Ahnherrn ist</td>
									<td title="Standardwert" class="text_cell">Karen</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der ersten Urenkelin des Ahnherrn ist</td>
									<td title="Standardwert" class="text_cell">Virginia</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der zweiten Urenkelin des Ahnherrn ist</td>
									<td title="Standardwert" class="text_cell">Jessica</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der dritten Urenkelin des Ahnherrn ist</td>
									<td title="Standardwert" class="text_cell">Bridget</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des ersten Urenkels des Ahnherrn ist</td>
									<td title="Standardwert" class="text_cell">Doug</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des zweiten Urenkels des Ahnherrn ist</td>
									<td title="Standardwert" class="text_cell">Christoph</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der vierten Urenkelin des Ahnherrn ist</td>
									<td title="Standardwert" class="text_cell">Pheasant</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der fünften Urenkelin des Ahnherrn ist</td>
									<td title="Standardwert" class="text_cell">Franziska</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des dritten Urenkels des Ahnherrn ist</td>
									<td title="Standardwert" class="text_cell">Daniel</td>
								</tr>
																							<!--
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
															-->
							</tbody>
						</table>
						<br />
						
						                            <a href="/customize?order=2051559&bookitem=8058927&step=1&edit=1"
                                    class="edit_link">
                              Personalisierung&nbsp;ändern
                            </a>
				      							
					</div>
				</div>
			
			</div>
	</div>
	
	<div class="formfooter clearfix">
		<div class="left controls">
            <a onclick="return confirm('&quot; Die Dynastie &quot; wirklich löschen?');" style="float: left;width:105px;" class="awesomebutton awesomegreen_gradient onlyjs morebooks awesomeround awesomeoutline" 
            href="/checkout?order=2051559&action=remove&bookitem=8058927">
                <span><span>Buch löschen</span></span>
            </a>
		</div>
		<p class="bookbar_total">
		Gesamtpreis inkl. MWSt zzgl. Versandkosten:<span id="book-8058927" class="amount price smallsum" 
		smallsum="24.95">
		24,95  EUR</span></p>
		
		
		<div class="right controls">
			<a style="float: left;width:169px;" class="awesomebutton awesomegreen_gradient onlyjs morebooks awesomeround awesomeoutline" href="/romane/">
				<span><span>Weitere Bücher bestellen</span></span>
			</a>
			<button name="submitter" style="width:169px;margin-left:10px" class="awesomebutton awesomegreen_gradient checkout-button submit awesomeround" type="button">
					<span><span>Zur Kasse gehen &gt;&gt;</span></span>
			</button>
			
		</div>
	</div>
	
		
	
	
		
			
		
		
	
	
	    		
	<hr />
	
	<div class="formbody clearfix">
		<div class="title clearfix">
			<a  name="book_579"></a>
			<h1>
				Oliver Twist							</h1>
		</div>
		
		<div class="left">
			<table cellspacing=0 cellpadding=0>
		        <tbody>
				    <tr class="headline">
				      <td class="instruction_label_cell">
				        Übersicht:
				      </td>
				      <td colspan="2" class="instruction_cell">
				        Klicken Sie auf Ihre Eingaben um diese zu modifizieren
				      </td>
				    </tr>
				    <tr class="item_row">
				      <td class="label_cell">
				      				          Personalisierung:
				          				      </td>
				      <td class="text_cell None">
				      	<input type="hidden" name="book-edit-579" value="true" />
				      	
				      					      	<a href="/customize?order=2051559&bookitem=8058930&step=1&edit=1"
				      	    class="edit_link" >
				      					      	
				        				        Vollständig
				        				        </a>				      
				      </td>
				      <td class="price_cell inclusive">
				          inklusive
				      </td>
				    </tr>
				    <tr class="item_row">
				      <td class="label_cell">
				          Widmung:
				      </td>
				      <td class="text_cell None">
				        				                                    <a href="/customize?order=2051559&bookitem=8058930&widmungitem=8058931&step=2&edit=1"
                                class="edit_link">
                                Widmung "Standard"                            </a>
				      					        
				        <br>
				        				        				      </td>
				      <td class="price_cell inclusive">
				          inklusive 
				      </td>
				    </tr>
				    
				    <tr class="item_row">
				      <td class="label_cell">
				          Umschlag:
				      </td>
				      <td class="text_cell None">
				        				                                    <a href="/customize?order=2051559&bookitem=8058930&designitem=8058932&step=4&edit=1"
                                class="edit_link">
                                Standardtitel                            </a>
				      					        
				        <br>
				        				      </td>
				      <td class="price_cell inclusive">
				         inklusive 
				      </td>
				    </tr>
				    
				    				    
				    				    <tr class="item_row">
				      <td class="label_cell">
				          Einband:
				      </td>
				      <td class="text_cell None">
                                                    <a href="/customize?order=2051559&bookitem=8058930&step=3&edit=1"
                                class="edit_link">
                                Taschenbuch 'Edition'                            </a>
				      					        
				        <br>
				      </td>
				      <td class="price_cell ">
				      	  				          24,95 EUR
				      </td>
				    </tr>
				     				    <tr class="item_row">
				      <td class="label_cell">
				          Schrift:
				      </td>
				      <td class="text_cell None">
				                                    <a href="/customize?order=2051559&bookitem=8058930&step=5&edit=1"
                                class="edit_link">
                                New Century Schoolbook                            </a>
				      					        
				      </td>
				      <td class="price_cell inclusive">
				          inklusive
				      </td>
				    </tr>
				    				    				    				    <tr class="item_row">
				      <td class="label_cell">
				          Anzahl:
				      </td>
				      <td class="text_cell None">
				      					        <input type="text"  bookid="8058930" value="1" 
				        name="item_pieces_8058930" 
				        id="item_pieces_8058930" class="n numbook">
				         <span>Stück zu je</span>
				         <span class="single_price_with_upgrades_8058930 price">
				           24,95 EUR
				         </span>
				         <input type="hidden" value="24.95" id="total_8058930">
				      </td>
				      <td class="price_cell ">
						<span class="total_with_upgrades_8058930 price_strong">
														24,95 
						</span>
						EUR
				      </td>
				    </tr>
				    
				    				    
				    				    				    				    				    				    				    <tr class="headline">
				      <th></th>
				      <th colspan="2">Darf es noch etwas sein?</th>
				    </tr>
				    				     <tr class="item_row">
						<td class="label_cell">
													    Geschenkbox
						    						</td>
						<td class="text_cell giftbox">
                                                            <a href="/customize?order=2051559&bookitem=8058930&step=6&edit=1"
                                        class="edit_link">
                                Keine Artikel ausgewählt.
                                </a>
                            						
						</td>
						<td class="price_cell"></td>
				    				    
				    <tr class="linkline">
				      <td colspan="3">
				      
                                                    <a href="/customize?order=2051559&bookitem=8058930&step=6&edit=1"
                                    class="edit_link">
                            Weitere Artikel hinzufügen
                            </a>
                        				        
				      </td>
				    </tr>
				    				    				    
				    				    
				    <tr class="headline">
				      <th></th>
				      <th colspan="2">Versand Ihrer Artikel</th>
				    </tr>
				    <tr class="item_row">
				      <td class="label_cell">
				          Versand:
				      </td>
				      				      <td class="text_cell">
				          Premium-Versand				      </td>
				      <td class="price_cell ">
				          <input type="hidden" class="shippingprice" value="5.99" />
				          5,99 EUR</td>
				      				    </tr>
				    				    
		        </tbody>
		      </table>
			</div>
			
			<div class="right">
								<div class="tabsdiv">
					<ul class="tabheader clearfix">
						<li><a href="#umschlagbild">Umschlagbild</a></li>
												<li><a href="#widmung">Widmung</a></li>
												<li><a href="#textvorschau">Textvorschau</a></li>
												<li><a href="#personen">
												Personen
												</a></li>
											</ul>
										<div id="umschlagbild">
												<img src="http://preview.personalnovel.de/preview/BookItem/8058930/924ea10ffdb8e745361d2e22cfd7be36.png?width=350&shadow=3&1405058882&1405058882" />
										        
				                                    <a href="/customize?order=2051559&bookitem=8058930&designitem=8058932&step=4&edit=1"
                                    class="edit_link">
                            Umschlag&nbsp;ändern</a><br />
				      							
						
						
						<span style="font-size:10px; font-style:italic">Problem mit Bildhochladen? <br />
                            Bitte schicken Sie das Bild an <a href="mailto:technik@personalnovel.de">technik@personalnovel.de</a>
                        </span>
					</div>
															<div id="widmung" style="text-align:center">
												
												<p>
														<a class="lightbox" href="http://preview.personalnovel.de/preview/WidmungItem/7118343/87bfde7fd52b178fe99321e56101801c.png?width=750&text=PHAM+DUY+HOANG+CHUONG&fontface=Century Schoolbook L&fontcolor=black&fontsize=10" >
							<img src="http://preview.personalnovel.de/preview/WidmungItem/7118343/87bfde7fd52b178fe99321e56101801c.png?width=350&text=PHAM+DUY+HOANG+CHUONG&fontface=Century Schoolbook L&fontcolor=black&fontsize=10" />
                            </a>
                            
                                                            <a href="/customize?order=2051559&bookitem=8058930&widmungitem=8058931&step=2&edit=1"
                                    class="edit_link"> 
                                    Widmung ändern</a>
                            							    
						</p>
											</div>
					
										<div id="textvorschau">
					<p><strong>Bitte beachten Sie, dass wir Ihre Daten exakt wie hier angegeben übernehmen.</strong></p>
										<p>Oliver Twist wächst im Armenhaus einer englischen Kleinstadt, wo er unter mysteriösen Umständen zur Welt kommt. Als er gegen die harten Umstände rebelliert, wird er als Lehrling ausgeschrieben, was ihn zum ansässigen Sarg-Tischler führt. Nach schweren Misshandlungen durch den Mitlehrling und der Frau seines Meisters, flieht Oliver zu Fuß nach London. Er braucht sieben Tage, bis er London erreicht und trifft unterwegs das Mitglied einer Diebesbande, das ihn mit falschen Tatsachen in die Fänge eines Hehlers lenkt, der, bestochen durch Olivers bösem Halbbruder, ihn mit allen Mitteln zu einem verkommenen Dieb machen will. Bei einem misslungenen Diebstahl, wird Oliver durch den freundlichen Herrn <span class='default Gönner'>Brownlow</span> aufgenommen, der allein mit seiner Haushälterin Frau <span class='default Haushälterin'>Bedwin</span>lebt, und verpflegt. Doch bald schnappt sich die Diebesbande schon wieder den armen Oliver und sein momentanes Glück ist zu Ende. Doch ein Schutzengel scheint über den gutherzigen kleinen Jungen zu wachen, denn bei einem Einbruchsversuch muss Oliver von den Dieben zurückgelassen werden. Um seine Wunden kümmert sich diesmal die gutherzige, ältere Frau <span class='default Gönnerin'>Maylie</span>, die mit ihrer Pflegetochter <span class='default Frau_Name'>gdgfgd</span> zurückgezogen auf dem Land wohnt. Auch der Arzt und Freund der Familie, Herr <span class='default Doktor'>Losberne</span>, schließt Oliver schnell in sein Herz. Nun scheint sich alles zum Guten zu wenden, doch immer wieder stellt der geheimnisvolle Monks, Olivers Halbbruder, ihnen Stolpersteine in den Weg. Nachdem das Geheimnis um die Herkunft Olivers - und auch <span class='default Frau_Name'>gdgfgd</span>s - Mithilfe von Nancy und dem bekehrten Dieb <span class='default Schurke_VN'>Karl</span> <span class='default Schurke_NN'>Bates</span> gelüftet ist, steht einem glücklichen Neuanfang und einer Hochzeit zwischen <span class='default Frau_Name'>gdgfgd</span> und Frau <span class='default Gönnerin'>Maylie</span>s Sohn <span class='default Mann_Name'>rgdgd</span> nichts mehr im Wege. </p>
					<center>
					                                <a href="/customize?order=2051559&bookitem=8058930&step=1&edit=1"
                                class="edit_link">
                                Personalisierung&nbsp;ändern</a>
				      	                        
					</center>
					</div>
										
					<div id="personen">
						<p>
							<strong>Bitte beachten Sie, dass wir Ihre Daten exakt wie hier angegeben übernehmen</strong>.
						</p>
						
						<table style="border-collapse: collapse; width: 100%;">
							<tbody>
																								<tr class="item_row">
									<td class="label_cell">Der Vorname des jungen Fräuleins ist</td>
									<td title="Standardwert" class="text_cell">gdgfgd</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Augenfarbe des jungen Fräuleins ist</td>
									<td title="Standardwert" class="text_cell">dunkelblau</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Sohnes der freundlichen Gönnerin ist</td>
									<td title="Standardwert" class="text_cell">rgdgd</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Nachname der freundlichen Gönnerin ist</td>
									<td title="Standardwert" class="text_cell">Maylie</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Nachname des Gönners ist</td>
									<td title="Standardwert" class="text_cell">Brownlow</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Nachname des Wundarztes ist</td>
									<td title="Standardwert" class="text_cell">Losberne</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Nachname der Haushälterin ist</td>
									<td title="Standardwert" class="text_cell">Bedwin</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Diebes ist</td>
									<td title="Standardwert" class="text_cell">Karl</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Diebes ist</td>
									<td title="Standardwert" class="text_cell">Bates</td>
								</tr>
																							<!--
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
															-->
							</tbody>
						</table>
						<br />
						
						                            <a href="/customize?order=2051559&bookitem=8058930&step=1&edit=1"
                                    class="edit_link">
                              Personalisierung&nbsp;ändern
                            </a>
				      							
					</div>
				</div>
			
			</div>
	</div>
	
	<div class="formfooter clearfix">
		<div class="left controls">
            <a onclick="return confirm('&quot; Oliver Twist &quot; wirklich löschen?');" style="float: left;width:105px;" class="awesomebutton awesomegreen_gradient onlyjs morebooks awesomeround awesomeoutline" 
            href="/checkout?order=2051559&action=remove&bookitem=8058930">
                <span><span>Buch löschen</span></span>
            </a>
		</div>
		<p class="bookbar_total">
		Gesamtpreis inkl. MWSt zzgl. Versandkosten:<span id="book-8058930" class="amount price smallsum" 
		smallsum="24.95">
		24,95  EUR</span></p>
		
		
		<div class="right controls">
			<a style="float: left;width:169px;" class="awesomebutton awesomegreen_gradient onlyjs morebooks awesomeround awesomeoutline" href="/romane/">
				<span><span>Weitere Bücher bestellen</span></span>
			</a>
			<button name="submitter" style="width:169px;margin-left:10px" class="awesomebutton awesomegreen_gradient checkout-button submit awesomeround" type="button">
					<span><span>Zur Kasse gehen &gt;&gt;</span></span>
			</button>
			
		</div>
	</div>
	
		
	
	
		
		
</form>

</div>

<script language="javascript">
$(document).ready(function(){
    var widmung_warning = false;
    var design_warning  = false;
    $("#step1").submit(function(){
        if(design_warning)
        {
            var msg = "Mindestens einer der Artikel in Ihrem Warenkorb hat:\n\n"
                    + "- keinen geänderten Untertitel/Textaufdruck und/oder\n"
                    + "- keine geänderten Personennamen (sondern vorgegebene Originalnamen)\n\n"
                    + "Bitte geben Sie diese ein, bevor Sie die Bestellung abschließen.";

            alert(msg);
            return false;
        }
        
        if(widmung_warning)
        {
            var msg = "Mindestens einer der Artikel in Ihrem Warenkorb hat:\n\n- keine Widmung und/oder\n- " 
                    + "keinen geänderten Untertitel/Textaufdruck\n\nKlicken Sie auf OK falls dies gewollt " 
                    + "ist, oder auf Abbrechen um den Warenkorb zu bearbeiten.";
            
            if(confirm(msg))
                return true;
            else 
                return false;
        }
        
        return true;
    });
});
</script>					

</div>
<!-- indexer::continue -->
</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

