<?php $expire = 1405661863; /* http://web.personalnovel.local/customize/book/608.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href="http://geburtstag.personalnovel.de/"></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=608">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Schön, Klug, Bewaffnet" src="/tl_files/thumbnail-book/schoen-klug-bewaffnet-608-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Schön, Klug, Bewaffnet“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-608" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die hübsche Polizistin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Laura Sommer</em>, Polizistin, sexy, sportlich, langbeinig, mit einer traumhaften Figur und langen Haaren, hat stets Hunger und isst leicht doppelt so viel wie normale Menschen, dafür ist sie auch doppelt so stark. Die Tochter eines Stuntmans und eines Modells. Sie arbeitet anfangs als Stuntfrau, doch nach einem einschneidenden Erlebnis bei einem Filmdreh in Bali beschließt sie, ihre Stärke einzusetzen, um Menschen zu helfen und bewirbt sich bei der Polizei. Dort steigt sie aufgrund ihrer Kompetenz und ihrer kühnen Einsätze schnell zur Leiterin einer europaweit eingesetzten Spezialeinheit, der ‚Tiger‘, auf. Ihr Job ist es, Schwerverbrecher auszuschalten. <em>Laura</em> fällt es schwer, von ihrem Beruf loszulassen. Sie fühlt sich verantwortlich für ihre Mitmenschen und macht sich Vorwürfe, wenn es ihr nicht gelingt, jemanden zu retten. Deshalb ist sie auch nicht begeistert, als sie in den Urlaub geschickt wird. Sie ist impulsiv, spontan, manchmal etwas unbedacht, sticht aus der Menge heraus, kontaktfreudig, allerdings hat sie Schwierigkeiten, einen Mann auf Augenhöhe zu finden. Am Ende des Romans trifft sie den Kapitän <em>Jan Ehlers</em>, in den sie sich ein bisschen verliebt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Polizistin lautet																					</label>
																					<input type="text" value="Laura" 
                                name="vars-Heldin_VN" maxlength="30" id="vars-Heldin_VN" 
                                data-fieldname="Heldin_VN" 
                                data-default="Laura" 
                                class="field focuser default" />
							<span class="field_count">1040x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Polizistin lautet																					</label>
																					<input type="text" value="Sommer" 
                                name="vars-Heldin_NN" maxlength="30" id="vars-Heldin_NN" 
                                data-fieldname="Heldin_NN" 
                                data-default="Sommer" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Polizistin ist																					</label>
																					<input type="text" value="blau" 
                                name="vars-Heldin_Augen" maxlength="30" id="vars-Heldin_Augen" 
                                data-fieldname="Heldin_Augen" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Polizistin ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Heldin_Haar" maxlength="30" id="vars-Heldin_Haar" 
                                data-fieldname="Heldin_Haar" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die clevere Köchin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Ella</em> <em>Malicz</em>, Köchin in der Polizeikantine, rundliche Figur und nicht zu schüchtern, um ihr üppiges Dekolleté einzusetzen, um an Informationen zu kommen, <em>Laura</em>s Verbündete, die immer dafür sorgt, dass ihre Freundin nicht Hunger leiden muss. Auch sie selbst neigt in schwierigen Situationen zum Stressessen. Clever, vorausschauend, liest Frauenzeitschriften, bisweilen legt sie einen trockenen Humor an den Tag. Sie verliebt sich in den Koch <em>Ernesto, </em>der auch an ihr großes Interesse zeigt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Köchin lautet																					</label>
																					<input type="text" value="Ella" 
                                name="vars-Freundin_VN" maxlength="30" id="vars-Freundin_VN" 
                                data-fieldname="Freundin_VN" 
                                data-default="Ella" 
                                class="field focuser default" />
							<span class="field_count">309x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Köchin lautet																					</label>
																					<input type="text" value="Malicz" 
                                name="vars-Freundin_NN" maxlength="30" id="vars-Freundin_NN" 
                                data-fieldname="Freundin_NN" 
                                data-default="Malicz" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Köchin ist																					</label>
																					<input type="text" value="grün" 
                                name="vars-Freundin_Augen" maxlength="30" id="vars-Freundin_Augen" 
                                data-fieldname="Freundin_Augen" 
                                data-default="grün" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Köchin ist																					</label>
																					<input type="text" value="blond" 
                                name="vars-Freundin_Haar" maxlength="30" id="vars-Freundin_Haar" 
                                data-fieldname="Freundin_Haar" 
                                data-default="blond" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der tapfere Ingenieur</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Jürgen</em>, Ingenieur, kräftig gebaut, versteht etwas von Informatik und Nautik, sportlich aber mit <em>Laura</em> kann er nicht mithalten. Er macht Urlaub auf der ‚Spirit of the Seas‘ und lernt dort <em>Inka</em> kennen, mit der er sich gut versteht und schnell zusammenkommt. Beide freunden sich mit <em>Laura</em> und <em>Ella</em> an. Nach einem Ausflug essen sie gemeinsam zu Abend, wo <em>Inka</em> einem Mordanschlag, der eigentlich <em>Laura</em> gegolten hätte, zum Opfer fällt. <em>Jürgen</em> hilft <em>Laura</em> und <em>Ella</em>, den Plan der Entführer aufzudecken. Er steht den beiden Freundinnen auch zur Seite, als es immer gefährlicher wird.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Ingenieurs lautet																					</label>
																					<input type="text" value="Jürgen" 
                                name="vars-Ingenieur_VN" maxlength="30" id="vars-Ingenieur_VN" 
                                data-fieldname="Ingenieur_VN" 
                                data-default="Jürgen" 
                                class="field focuser default" />
							<span class="field_count">229x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die unglückselige Mathelehrerin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Inka</em>, Mathelehrerin, zitiert gerne aus Reiseführern, lernt <em>Jürgen</em> auf dem Schiff kennen und verliebt sich in ihn, etwas eifersüchtig auf <em>Laura</em>. Bei einem Abendessen kostet sie von <em>Laura</em>s Currywurst und stirbt sofort. Sie fällt einem Anschlag zum Opfer, der <em>Laura</em> gegolten hätte. Um die Spuren zu verwischen, lassen die Entführer ihre Leiche im Ozean verschwinden.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Lehrerin lautet																					</label>
																					<input type="text" value="Inka" 
                                name="vars-Lehrerin_VN" maxlength="30" id="vars-Lehrerin_VN" 
                                data-fieldname="Lehrerin_VN" 
                                data-default="Inka" 
                                class="field focuser default" />
							<span class="field_count">79x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der verliebte Chefkoch</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Ernesto</em>, Chefkoch, liebenswürdig und hilfsbereit, verliebt sich in <em>Ella</em> und hilft den beiden, sich gegen die Entführer zu wehren.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Chefkochs lautet																					</label>
																					<input type="text" value="Ernesto" 
                                name="vars-Koch_VN" maxlength="30" id="vars-Koch_VN" 
                                data-fieldname="Koch_VN" 
                                data-default="Ernesto" 
                                class="field focuser default" />
							<span class="field_count">44x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Informatiker in Not</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Pit</em>, Informatiker, der sich weigert, die Befehle der Entführer auszuführen. Deshalb wird er schwer verwundet. Als <em>Laura</em> ihn aufsucht und um seine Hilfe bittet, werden beide von den Entführern gefangengenommen. Er wird gerettet und nach der Befreiung in eine Spezialklinik gebracht.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Informatikers ist																					</label>
																					<input type="text" value="Pit" 
                                name="vars-Computerspezialist_VN" maxlength="30" id="vars-Computerspezialist_VN" 
                                data-fieldname="Computerspezialist_VN" 
                                data-default="Pit" 
                                class="field focuser default" />
							<span class="field_count">85x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die kämpferische Wäscherin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Yon</em>, Wäscherin, mit <em>Tan</em> verheiratet, zierlicher Körperbau, sie arbeitet als Wäscherin auf dem Schiff und hat den Traum, so viel Geld anzusparen, um mit ihrer Familie in ihrer Heimatstadt ein kleines Restaurant zu eröffnen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Wäscherin lautet																					</label>
																					<input type="text" value="Yon" 
                                name="vars-Waschfrau_VN" maxlength="30" id="vars-Waschfrau_VN" 
                                data-fieldname="Waschfrau_VN" 
                                data-default="Yon" 
                                class="field focuser default" />
							<span class="field_count">57x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der waghalsige Maschinist</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Tan</em>, Maschinist, glaubt seiner Frau <em>Yon</em> erst nicht, als diese ihm von der Entführung erzählt, doch er lässt sich überzeugen und hilft, die Motoren des Schiffs lahmzulegen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Maschinisten lautet																					</label>
																					<input type="text" value="Tan" 
                                name="vars-Maschiner_VN" maxlength="30" id="vars-Maschiner_VN" 
                                data-fieldname="Maschiner_VN" 
                                data-default="Tan" 
                                class="field focuser default" />
							<span class="field_count">13x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der beherzte Kapitän</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Jan Ehlers</em>, Kapitän auf dem Öltanker ‚Hildegard‘, der durch sein beherztes Eingreifen eine größere Katastrophe verhindern kann. <em>Laura</em> verliebt sich ein bisschen in ihn.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Kaptäns lautet																					</label>
																					<input type="text" value="Jan" 
                                name="vars-Kapitaen_VN" maxlength="30" id="vars-Kapitaen_VN" 
                                data-fieldname="Kapitaen_VN" 
                                data-default="Jan" 
                                class="field focuser default" />
							<span class="field_count">25x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Kaptiäns lautet																					</label>
																					<input type="text" value="Ehlers" 
                                name="vars-Kapitaen_NN" maxlength="30" id="vars-Kapitaen_NN" 
                                data-fieldname="Kapitaen_NN" 
                                data-default="Ehlers" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der fanatische Kidnapper</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Tom</em>, fanatischer Umweltschützer, dunkles, lockiges Haar, stämmig, markante Nase. Er entführt in Bills Auftrag das Schiff und will durch die Katastrophe ein Zeichen gegen den Kreuzfahrttourismus setzen. Er nimmt für sein Ziel jedes Opfer in Kauf, cholerisch und gnadenlos. Er wird am Ende von Bill umgebracht.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Kidnappers lautet																					</label>
																					<input type="text" value="Tom" 
                                name="vars-Moerder_VN" maxlength="30" id="vars-Moerder_VN" 
                                data-fieldname="Moerder_VN" 
                                data-default="Tom" 
                                class="field focuser default" />
							<span class="field_count">185x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der janusköpfige Reeder</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Heiner Blankenhorn</em>, Reeder, Besitzer des Kreuzfahrtschiffs ‚Spirit of the Seas‘, erweckt den Anschein eines gutmütigen älteren Herrn. Zum Dank für die Rettung seines entführten Sohnes <em>Timotheus</em> schenkt er <em>Laura</em> eine Kreuzfahrtreise auf seinem Schiff. In Wirklichkeit fürchtet er einen Anschlag und braucht <em>Laura</em> als Beschützerin. Reeder <em>Blankenhorn</em> ist in Wirklichkeit ein Waffenhändler, der seine krummen Geschäfte nur mit dem Kreuzfahrttourismus tarnt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Reeders lautet																					</label>
																					<input type="text" value="Heiner" 
                                name="vars-Reeder_VN" maxlength="30" id="vars-Reeder_VN" 
                                data-fieldname="Reeder_VN" 
                                data-default="Heiner" 
                                class="field focuser default" />
							<span class="field_count">84x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Reeders lautet																					</label>
																					<input type="text" value="Blankenhorn" 
                                name="vars-Reeder_NN" maxlength="30" id="vars-Reeder_NN" 
                                data-fieldname="Reeder_NN" 
                                data-default="Blankenhorn" 
                                class="field focuser default" />
							<span class="field_count">34x</span>
						</div>
											<div class="field">
							<label>
							Der Sohn des Reeders heißt																					</label>
																					<input type="text" value="Timotheus" 
                                name="vars-Reeder_Sohn" maxlength="30" id="vars-Reeder_Sohn" 
                                data-fieldname="Reeder_Sohn" 
                                data-default="Timotheus" 
                                class="field focuser default" />
							<span class="field_count">13x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der dümmliche Polizeichef</div>
				<div class="description" style="margin-top: 5px;display:none">	<em>Hofer</em>, Dümmlicher Chef, der <em>Laura</em> anfangs unterschätzt hat, nun aber ihre großartige Arbeit als Einsatzleiterin anerkennen muss, er schickt <em>Laura</em> gezwungenermaßen in den Urlaub.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Polizeichefs lautet																					</label>
																					<input type="text" value="Hofer" 
                                name="vars-Polizeichef_NN" maxlength="30" id="vars-Polizeichef_NN" 
                                data-fieldname="Polizeichef_NN" 
                                data-default="Hofer" 
                                class="field focuser default" />
							<span class="field_count">55x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der verlässliche 'Tiger'</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Markus Müller,</em> Kollege bei der Einheit ‚Tiger‘, erfahrener Militärpilot, auf den sich <em>Laura</em> immer verlassen kann.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des verlässlichen Tigers ist																					</label>
																					<input type="text" value="Markus" 
                                name="vars-Kollege_VN" maxlength="30" id="vars-Kollege_VN" 
                                data-fieldname="Kollege_VN" 
                                data-default="Markus" 
                                class="field focuser default" />
							<span class="field_count">61x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des verlässlichen Tigers ist																					</label>
																					<input type="text" value="Müller" 
                                name="vars-Kollege_NN" maxlength="30" id="vars-Kollege_NN" 
                                data-fieldname="Kollege_NN" 
                                data-default="Müller" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der ehrgeizige 'Tiger'</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Tim Köhler,</em> Mitglied der ‚Tiger‘, kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des ehrgeizigen Tigers ist																					</label>
																					<input type="text" value="Tim" 
                                name="vars-TigerStreber_VN" maxlength="30" id="vars-TigerStreber_VN" 
                                data-fieldname="TigerStreber_VN" 
                                data-default="Tim" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des ehrgeizigen Tigers ist																					</label>
																					<input type="text" value="Köhler" 
                                name="vars-TigerStreber_NN" maxlength="30" id="vars-TigerStreber_NN" 
                                data-fieldname="TigerStreber_NN" 
                                data-default="Köhler" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der dienstälteste 'Tiger'</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Ben Breitner,</em> Dienstältester der ‚Tiger‘, kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Dienstältesten ist																					</label>
																					<input type="text" value="Ben" 
                                name="vars-TigerAlter_VN" maxlength="30" id="vars-TigerAlter_VN" 
                                data-fieldname="TigerAlter_VN" 
                                data-default="Ben" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Dienstältesten ist																					</label>
																					<input type="text" value="Breitner" 
                                name="vars-TigerAlter_NN" maxlength="30" id="vars-TigerAlter_NN" 
                                data-fieldname="TigerAlter_NN" 
                                data-default="Breitner" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			<span class='default Heldin_VN'>Laura</span> <span class='default Heldin_NN'>Sommer</span> ist mit ihren langen <span class='default Heldin_Haar'>braun</span>en Haaren und ihren strahlenden <span class='default Heldin_Augen'>blau</span>n Augen eine außergewöhnlich hübsche Frau. Das wissen auch ihre Teamkollegen von der Einsatzeinheit Tiger <span class='default Kollege_VN'>Markus</span> <span class='default Kollege_NN'>MÃ¼ller</span>, <span class='default TigerStreber_VN'>Tim</span> <span class='default TigerStreber_NN'>KÃ¶hler</span> und <span class='default TigerAlter_VN'>Ben</span> <span class='default TigerAlter_NN'>Breitner</span>, doch im Gegensatz zu ihrem dümmlichen Chef <span class='default Polizeichef_NN'>Hofer</span> wissen sie <span class='default Heldin_VN'>Laura</span>s Stärken als Einsatzleiterin zu schätzen. Als sie vom Reeder <span class='default Reeder_VN'>Heiner</span> <span class='default Reeder_NN'>Blankenhorn</span> für die Rettung seines entführten Sohnes <span class='default Reeder_Sohn'>Timotheus</span> eine Kreuzfahrt auf dessen Schiff Spirit of the Seas geschenkt bekommt, sträubt sie sich zwar gegen den auferlegten Urlaub, doch ausschlagen kann sie das Geschenk nicht. So macht sie sich mit ihrer Freundin <span class='default Freundin_VN'>Ella</span> <span class='default Freundin_NN'>Malicz</span> auf in den Urlaub. <span class='default Freundin_VN'>Ella</span> zieht mit ihren <span class='default Freundin_Haar'>blond</span>en Haaren und ihren <span class='default Freundin_Augen'>grÃ¼n</span>en Augen sofort die Aufmerksamkeit des Chefkochs <span class='default Koch_VN'>Ernesto</span> auf sich. Auf dem Schiff lernen die beiden auch <span class='default Lehrerin_VN'>Inka</span> und <span class='default Ingenieur_VN'>JÃ¼rgen</span> kennen. Doch etwas scheint seltsam auf dem Ozeanriesen. Immer wieder bemerken sie einen verdächtigen Matrosen namens <span class='default Moerder_VN'>Tom</span>, der es auf <span class='default Heldin_VN'>Laura</span> abgesehen zu haben scheint. Als <span class='default Lehrerin_VN'>Inka</span> einem Mordanschlag zum Opfer fällt wird klar, in welcher Gefahr sie alle schweben. Das Schiff wurde entführt. <span class='default Heldin_VN'>Laura</span> trommelt nun verschiedene Komplizen zusammen, die ihr helfen können, den Entführern das Handwerk zu legen: die Wäscherin <span class='default Waschfrau_VN'>Yon</span>, ihren Mann <span class='default Maschiner_VN'>Tan</span> und den Computerspezialisten <span class='default Computerspezialist_VN'>Pit</span>. Doch so einfach wie sie sich das vorgestellt hat, ist die Befreiung des Ozeanriesen leider nicht. Am Ende muss sie sogar auf einen Tanker flüchten, der mit der Spirit of the Seas kollidieren soll. Dort trifft sie auf <span class='default Kapitaen_VN'>Jan</span> <span class='default Kapitaen_NN'>Ehlers</span>, der durch sein mutiges Eingreifen einen Zusammenstoß verhindern kann.		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

