<?php $expire = 1405300155; /* http://web.personalnovel.local/checkout/order/2051542/step/Bestellen.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Bestellung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Bestellung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/checkout.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/checkout.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href="http://muttertag.personalnovel.de/"></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
		<span class="green cartsum" cartsum="59.92">
		59,92</span> 
		<span class="green">EUR </span> <br />inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
    	    	     <a class="cart-link" href="http://web.personalnovel.local/checkout?order=2051542&step=Warenkorb"><img src="tl_files/personalnovel_de/cart.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:1000"></a>
	            
    <div id="cart-detail">
    
        
            <strong>1x 
        Hundsurlaub                </strong>
        <span class="green">59,92 EUR</span><br/>
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="checkout">
<!-- indexer::stop -->

<div class="checkout_steps">

	<ul id="progress">
		<li class="first ">Warenkorb</li>
		<li class="current">Bestellen</li>
		<li class="">Versand</li>
		<li class="">Bestätigen</li>
		<li class="">Bezahlen</li>
		<li class="last ">Fertig</li>
	</ul>
		
<div class="step2">

<form id="step1" method="post" action="/checkout?order=2051542&step=Bestellen">
	<input type=hidden name="step" value=2 />
	<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">

	<div class="formheader clearfix">
		<div class="left">
			<h1>Ihr Warenkorb</h1>
		</div>
		
		<div class="right">
			<h1>Hinweise</h1>
		</div>
	
	</div>
	
	<div class="formbody clearfix">
		<div class="left">
			<div class="start block">
            
				<table class="testclass" id="invoice">
				    <tbody>
				   		<tr>
					        <th><!--<a href="/checkout.html?step=1">Warenkorb ändern</a>--></th>
					        <th class="number">Einzelpreis</th>
					        <th class="number">Anzahl</th>
					        <th class="number">Preis</th>
					    </tr>
					 					    						    <tr>
					        <td style="width: 260px;">Hundsurlaub</td>
					        					        <td class="number">59,92 EUR</td>
					        <td class="number">1</td>
					        <td class="number">
					        	59,92 EUR
					        </td>
					    </tr>
					    					    
					    					    
					    					    
				        <tr>
				            <td colspan="4"><hr style="border-style:dotted none none;"></td>
				        </tr>
				        				        <tr class="">
				            <td class="" colspan="3">Gesamtpreis der Ware</td>
				            <td class="number">59,92 EUR</td>
				        </tr>
				        
				        				        
				        <tr class""="">
				            <td colspan="3">Inkl MwSt</td>
				            <td class="number">3,92 EUR</td>
				        </tr>
				           
				        <tr>
				            <td colspan="4"></td>
				        </tr>
				        				       
				        </tr><tr class="summe">
				            <td class="" colspan="3">Zu zahlender Gesamtpreis</td>
				            <td class="number">
				            59,92 EUR</td>
				        </tr>
						
					</tbody>
				</table>
	            <span style="float:right;padding-right:8px;">
	                (zzgl. Versandkosten, Auswahl auf der nächsten Seite)
	            </span>
	            
	            <div class="clear"></div>
        	</div>
        	
        	        	<a href="/checkout?order=2051542&step=Warenkorb&token=fb69c4e7e4298ba9ed0da509eb7ee831" id="baskchange" class="clearfix">Warenkorb ändern</a>
        	
        	<div id="userinfo">
			            <h1>Zahlungsart</h1>
			            <table class="info" cellspacing=0  style="width:515px">
			    <tbody>
			    
			    <tr class="" id="payment_method">
			        <td colspan="2">
                        <br/>
			            <p>Hier können Sie zwischen mehreren Möglichkeiten zur Bezahlung die für Sie passende auswählen.Bitte beachten Sie, dass wir erst nach Zahlungseingang mit der Produktion Ihrer Bestellung beginnen.</p>
			            <ul id="payment_method">
                                                                                                                <li >
                                <input type="radio"  
                                value="3" id="payment_method-3" name="payment_method">
                                
                                <label for="payment_method-3">
                                    <img style="vertical-align: top;padding:0px 5px 0px 0px;" src="tl_files/personalnovel_de/static/css/images/paypal-logo.png" alt="PayPal (Lastschrift / Kreditkarte, auch ohne Mitgliedschaft PayPal)" title="PayPal (Lastschrift / Kreditkarte, auch ohne Mitgliedschaft PayPal)" /><span id="paypaltext">Lastschrift, Visa, Master, American Express</span>                                </label>
                                                            </li>
                                                        	                            <!-- Intergrate Amazon -->
		                        	                                                                                <li style="height:32px">
                                <input type="radio"  
                                value="2" id="payment_method-2" name="payment_method">
                                
                                <label for="payment_method-2">
                                    <img style="height:32px;padding:0px 5px 0px 5px;vertical-align: top;" src="tl_files/personalnovel_de/static/css/images/visa-master.png" alt="Visa, Master" title="Visa, Master" /><span id="visa">Visa, Master</span>                                </label>
                                                            </li>
                                                                                                                <li >
                                <input type="radio"  
                                value="7" id="payment_method-7" name="payment_method">
                                
                                <label for="payment_method-7">
                                    <img style="height:32px;padding:0px 5px 0px 5px;vertical-align: top;" src="tl_files/personalnovel_de/static/css/images/payment_amex.png" alt="American Express" title="American Express" /><span id="american">American Express</span>                                </label>
                                                            </li>
                                                                                                                <li >
                                <input type="radio"  
                                value="8" id="payment_method-8" name="payment_method">
                                
                                <label for="payment_method-8">
                                    <img style="height:32px;padding:0px 5px 0px 5px;vertical-align: top;" src="tl_files/personalnovel_de/static/css/images/sofortueberweisung.png" alt="Sofort&uuml;berweisung" title="Sofort&uuml;berweisung" /><span id="sofo">Sofort&uuml;berweisung</span>                                </label>
                                                            </li>
                                                                                                                <li >
                                <input type="radio"  
                                value="9" id="payment_method-9" name="payment_method">
                                
                                <label for="payment_method-9">
                                    <img style="height:32px;padding:0px 5px 0px 5px;vertical-align: top;" src="tl_files/personalnovel_de/static/css/images/giropay.png" alt="Giropay" title="Giropay" /><span id="giropay">Giropay</span>                                </label>
                                                            </li>
                                                                                                                <li >
                                <input type="radio" checked=checked 
                                value="1" id="payment_method-1" name="payment_method">
                                
                                <label for="payment_method-1">
                                    <img style='height:32px;padding:0px 5px 0px 5px;vertical-align: top;' src='tl_files/personalnovel_de/static/css/images/vorauskasse-icon.png' alt='Vorauskasse' title='Vorauskasse' /><span id='vorauskasse'>Vorauskasse (Überweisung)</span>                                </label>
                                                                <div style="margin-top: 3px;margin-left:23px;" class="alert">
                                    <strong>Wichtiger Hinweis zur Beschleunigung der Produktion:</strong><br>
                                    Wir produzieren erst nach Zahlungseingang (ca 1 bis 3 Banktage)<br>
                                    Nach Vorlage der Bestätigung Überweisung per Fax oder E-Mail<br>
                                   wird Ihr Auftrag zum nächstmöglichen Termin in Auftrag gegeben.<br>
                                </div>
                                                            </li>
                                                        
			            </ul>
			            <div class="clear"></div>
			            <br>
			            <p>Zusätzliche Hinweise zu den Zahlungsarten finden Sie <a class="popup-link" target="popup" href="popup-paymentquickinfo.html">hier</a>.</p>
			            <br>
			        </td>
			    </tr>
			    <tr>
			
			        <td class="leadcell" style="width:50%;color:#BC0000;line-height:30px;">Gutscheincode falls vorhanden</td>
			        <td style="width:50%" class="input   " id="coupon_td">
			            <input type="text" value="" name="coupons_used" id="coupons_used" class="text">
			            <input type="submit" style="" id="coupons_used_validate" name="coupons_used_validate" value="Einlösen">
			            <p style="display:none" id="coupon_par">
			            <span id="coupon_message">
			                			                			            </span>
			            <img style="display:none" alt="True" 
                            src="/system/modules/tt_manage_books/html/img/green_tick_small.png" 
                            id="coupon_tickmark">
			            </p>
			
			        </td>
			    </tr>
			    
			    <tr>
			        <td colspan="2">
			            <h4>Käuferschutz:</h4>
			            <div id="protection">
			            <a class="popup-link"  target="popup" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
			                    <img src="http://personalnovel.de/static/img/trusted_shop.png" class="logo">
			                </a>
			                <div class="claim">
			                    <input type="checkbox" value="y" name="protection_yes" 
			                    id="protection_yes"
			                    >
			                    <label for="protection_yes">
			                        <b>
			                            Trusted Shops Käuferschutz bis 500,00 EUR (0,98 EUR inkl. MwSt.)
			                        </b>
			                    </label>
			                    <p>
			
			                    Der Trusted Shops Käuferschutz sichert Ihren Online-Kauf ab. Mit der Übermittlung und 
			    <a class="popup-link" target="popup" href="http://www.trustedshops.com/shop/data_privacy.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
			Speicherung</a> meiner E-Mail-Adresse zur Abwicklung des Käuferschutzes durch Trusted Shops bin ich einverstanden. 
			    <a class="popup-link" target="popup" href="http://www.trustedshops.com/shop/protection_conditions.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
			Bedingungen</a> für den Käuferschutz.
			                    </p>
			                </div>
			            </div>
			        </td>
			    </tr>
			    <tr>
			    	<td colspan="2">
			    	<br/>
			    	<h1>Lieferdaten</h1>
			    	</td>
			    </tr>
			    <tr>
			      <td colspan="2">
			         <div class="alert">
			            <strong>Hinweis:</strong><br>
			            Die Lieferung der Waren erfolgt über DHL. Bitte beachten Sie, dass Lieferungen an Postfächer daher leider nicht möglich sind.
			         </div>
			      </td>
			    </tr>
			    
			<tr>
			    <td class="leadcell">
			        <label for="customer-customer_email">Ihre E-Mail-Adresse</label>:&nbsp;*</td>
			    <td class="input  ">
			        <input type="text" value="" name="customer-customer_email" maxlength="1000" id="customer-customer_email" class="text">
			        			    </td>
			</tr>
			<tr>
			    <td class="leadcell">
			        <label for="customer-customer_email_repeat">E-Mail-Adresse bestätigen</label>:&nbsp;*</td>
			    <td class="input ">
			        <input type="text" value="" name="customer-customer_email_repeat" maxlength="1000" id="customer-customer_email_repeat" class="text">
			        <p class="error_msg">
			        Ihre E-Mail-Adresse ist falsch.
			        </p>
			    </td>
			</tr>
			    <tr>
			        <td class="head" colspan="2">
			            <h4>Lieferadresse: (* sind Pflichtfelder)</h4>
			        </td>
			    </tr>
			<tr>
			    <td class="leadcell">
			        <label for="shipping_address-address_anrede">Anrede</label>:&nbsp;*</td>
			    <td class="input">
			        <select name="shipping_address-address_anrede" maxlength="1000" id="shipping_address-address_anrede" class="text">
			        <option  value="Herr">Herr</option>
			        <option  value="Frau">Frau</option>
			        </select>
			    </td>
			</tr>
			<tr>
			    <td class="leadcell">
			        <label for="shipping_address-address_vorname">Vorname</label>:&nbsp;*</td>
			    <td class="input ">
			        <input type="text" value="" 
                        name="shipping_address-address_vorname" maxlength="40" 
                        id="shipping_address-address_vorname" class="text">
                    
                    			        			    </td>
			</tr>
			<tr>
			    <td class="leadcell">
			        <label for="shipping_address-address_nachname">Name</label>:&nbsp;*</td>
			    <td class="input ">
					<input type="text" value="" 
                        name="shipping_address-address_nachname" maxlength="40" 
                        id="shipping_address-address_nachname" class="text">
													    </td>
			</tr>
			<tr>
			    <td class="leadcell">
			        <label for="shipping_address-address_firma">Firma, Postnummer o.ä.</label>:&nbsp;</td>
			    <td class="input ">
                    <input type="text" value="" 
                        name="shipping_address-address_firma" maxlength="40" 
                        id="shipping_address-address_firma" class="text">
                    			    </td>
			</tr>
			<tr>
			    <td class="leadcell">
			        <label for="shipping_address-address_address">Straße+Hausnr. / Packstation-Nr.</label>:&nbsp;*</td>
			    <td class="input ">
			        <input type="text" value="" 
			            name="shipping_address-address_address" maxlength="40" 
			            id="shipping_address-address_address" class="text">
			            
                    			        			    </td>
			</tr>
			<tr>
			    <td class="leadcell">
			        <label for="shipping_address-address_zip">PLZ</label>:&nbsp;*</td>
			    <td class="input ">
                    <input type="text" value="" 
                        name="shipping_address-address_zip" maxlength="32" 
                        id="shipping_address-address_zip" class="text">
                        
                                        			        			    </td>
			</tr>
			<tr>
			    <td class="leadcell">
			        <label for="shipping_address-address_city">Ort</label>:&nbsp;*</td>
			    <td class="input ">
			        <input type="text" value="" 
			            name="shipping_address-address_city" maxlength="40" 
			            id="shipping_address-address_city" class="text">
			            
			        			        			    </td>
			</tr>
			<tr>
			    <td class="leadcell">
			        <label for="shipping_address-country">Land</label>:&nbsp;*</td>
			    <td class="input ">
			        <select name="shipping_address-country" maxlength="1000" id="shipping_address-country">
			        <option  value="__None">Bitte ein Lieferland auswählen</option>
			        			        <option  value="1">Deutschland</option>
			        <option  value="2">Österreich</option>
			        <option  value="3">Schweiz</option>
			        <option  value="4">Liechtenstein</option>
			        <option  value="5">Andorra</option>
			        <option  value="6">Belgien</option>
			        <option  value="7">Bulgarien</option>
			        <option  value="8">Dänemark</option>
			        <option  value="9">Estland</option>
			        <option  value="10">Finnland</option>
			        <option  value="11">Frankreich</option>
			        <option  value="12">Griechenland</option>
			        <option  value="13">Irland</option>
			        <option  value="14">Italien</option>
			        <option  value="15">Lettland</option>
			        <option  value="16">Litauen</option>
			        <option  value="17">Luxemburg</option>
			        <option  value="18">Malta</option>
			        <option  value="46">Monaco</option>
			        <option  value="19">Niederlande</option>
			        <option  value="20">Norwegen</option>
			        <option  value="21">Polen</option>
			        <option  value="22">Portugal</option>
			        <option  value="23">Republik Zypern</option>
			        <option  value="24">Rumänien</option>
			        <option  value="25">San Marino</option>
			        <option  value="26">Schweden</option>
			        <option  value="27">Slowakei</option>
			        <option  value="28">Slowenien</option>
			        <option  value="29">Spanien (außer Kanar. Inseln, Ceuta, Melilla)</option>
			        <option  value="30">Tschechien</option>
			        <option  value="31">Ungarn</option>
			        <option  value="34">Vereinigte Staaten von Amerika</option>
			        			        </select>
			        <p class="error_msg">Bitte ein Lieferland auswählen</p>
			    </td>
			</tr>
			<tr>
			    <td class="head" colspan="2">
			        <h4>Rechnungsadresse: (* sind Pflichtfelder)</h4>
			    </td>
			</tr>
			<tr>
			    <td colspan="2">
			        <fieldset>
			            <div class="janeinbox">
			                <input type="checkbox" value="y" name="billing_address-shipping_is_billing_address_" 
			                id="billing_address-shipping_is_billing_address_" 
			                checked=checked>
			            </div>
			            <div class="janeintext">
			                <label for="billing_address-shipping_is_billing_address_">Rechnungsadresse ist Lieferadresse</label>
			            </div>
                    </fieldset>
			    </td>
			</tr>
			</tbody><tbody id="billing_address" 
			style="display: none;">
			
			<tr>
			    <td class="leadcell">
			        <label for="billing_address-address_anrede">Anrede</label>:&nbsp;</td>
			    <td class="input ">
                    <select name="billing_address-address_anrede" maxlength="1000" id="billing_address-address_anrede" class="text">
                        <option  value="Herr">Herr</option>
                        <option  value="Frau">Frau</option>
                    </select>
			    </td>
			</tr>
			<tr>
			    <td class="leadcell">
			        <label for="billing_address-address_vorname">Vorname</label>:&nbsp;*</td>
			    <td class="input ">
			        <input type="text" value="" 
			        name="billing_address-address_vorname" maxlength="1000" id="billing_address-address_vorname" class="text">
			    
			        			        			        
			    </td>
			</tr>
			<tr>
			    <td class="leadcell">
			        <label for="billing_address-address_nachname">Nachname</label>:&nbsp;*</td>
			    <td class="input ">
                    <input type="text" value="" 
                    name="billing_address-address_nachname" maxlength="1000" id="billing_address-address_nachname" class="text">
                    
                    					                    
			    </td>
			</tr>
			<tr>
			    <td class="leadcell">
			        <label for="billing_address-address_firma">Firma, Postnummer o.ä.</label>:</td>
			    <td class="input ">
                    <input type="text" value="" 
                    name="billing_address-address_firma" maxlength="1000" id="billing_address-address_firma" class="text">
                    			    </td>
			</tr>
			<tr>
			    <td class="leadcell">
			        <label for="billing_address-address_address">Straße+Hausnr. / Packstation-Nr.</label>:&nbsp;*</td>
			    <td class="input ">
                    <input type="text" value="" 
                    name="billing_address-address_address" maxlength="1000" id="billing_address-address_address" class="text">
                    
                                        			        
			    </td>
			</tr>
			<tr>
			    <td class="leadcell">
			        <label for="billing_address-address_zip">PLZ</label>:&nbsp;*</td>
			    <td class="input ">
                    <input type="text" value="" 
                    name="billing_address-address_zip" maxlength="1000" id="billing_address-address_zip" class="text">
                    
                    			        			    </td>
			</tr>
			<tr>
			    <td class="leadcell">
			        <label for="billing_address-address_city">Ort</label>:&nbsp;*</td>
			    <td class="input ">
                    <input type="text" value="" 
                    name="billing_address-address_city" maxlength="1000" id="billing_address-address_city" class="text">
                    
                                        			        
			    </td>
			</tr>
			<tr>
			    <td class="leadcell">
			        <label for="billing_address-country">Land</label>:&nbsp;*</td>
			    <td class="input ">
                    <select name="billing_address-country" maxlength="1000" id="billing_address-country">
			        <option  value="__None">Bitte ein Lieferland auswählen</option>
			        <option  value="1">Deutschland</option>
			        <option  value="2">Österreich</option>
			        <option  value="3">Schweiz</option>
			        <option  value="4">Liechtenstein</option>
			        <option  value="5">Andorra</option>
			        <option  value="6">Belgien</option>
			        <option  value="7">Bulgarien</option>
			        <option  value="8">Dänemark</option>
			        <option  value="9">Estland</option>
			        <option  value="10">Finnland</option>
			        <option  value="11">Frankreich</option>
			        <option  value="12">Griechenland</option>
			        <option  value="13">Irland</option>
			        <option  value="14">Italien</option>
			        <option  value="15">Lettland</option>
			        <option  value="16">Litauen</option>
			        <option  value="17">Luxemburg</option>
			        <option  value="18">Malta</option>
			        <option  value="46">Monaco</option>
			        <option  value="19">Niederlande</option>
			        <option  value="20">Norwegen</option>
			        <option  value="21">Polen</option>
			        <option  value="22">Portugal</option>
			        <option  value="23">Republik Zypern</option>
			        <option  value="24">Rumänien</option>
			        <option  value="25">San Marino</option>
			        <option  value="26">Schweden</option>
			        <option  value="27">Slowakei</option>
			        <option  value="28">Slowenien</option>
			        <option  value="29">Spanien (außer Kanar. Inseln, Ceuta, Melilla)</option>
			        <option  value="30">Tschechien</option>
			        <option  value="31">Ungarn</option>
			        <option  value="34">Vereinigte Staaten von Amerika</option>
			        </select>
			        <p class="error_msg">Bitte ein land auswählen</p>
			    </td>
			</tr>
			
			</tbody>
			<tbody><tr>
			    <td colspan="2">
			        <p>
			            </p><fieldset>
			            <div class="janeinbox">
			                <input type="checkbox" value="y" name="order_invoice" id="order_invoice" >
			            </div>
			            <div class="janeintext">
			                <label for="order_invoice">Keine Beträge auf dem Lieferschein ausweisen.</label>
			            </div>
			            </fieldset>
			        <p></p>
			    </td>
			</tr>
			<tr>
			    <td colspan="2">
			        <p>
			        </p><fieldset>
			            <div class="janeinbox">
			                <input type="checkbox" value="y" name="customer-newsletter" id="customer-newsletter"
			                >
			            </div>
			            <div style="padding-bottom:1em;">
			                <label for="customer-newsletter">
			                    <b>JA</b>, ich möchte den <b>kostenlosen Newsletter</b> mit <b>exklusiven Angeboten und Neuigkeiten</b> 
			                    zu PersonalNOVEL abonnieren. Informationen zum <a class="popup-link" target="popup" href="popup-newsinfo.html">Newsletter hier</a>.
			                </label>
			            </div>
			        </fieldset>
			        <p></p>
			    </td>
			</tr>
			<tr>
			    <td class="padding3px">
			        Wie sind Sie auf uns aufmerksam geworden?
			    </td>
			    <td class="input ">
			        <input type="text" value="" name="order_found" id="order_found" class="text">
			        
			    </td>
			</tr>
			            </tbody></table>
			        </div>
        	
		</div>
		
		<div class="right">
		
			<div class="start block spaced">
			    <h4>Datenschutz</h4>
			 <img width="104" src="/tl_files/personalnovel_de/static/css/images/datenschutz.png" title="Datenschutz" alt="Datenschutz" class="left" style="margin: 5px 10px 5px 0">       
			<p>
			  Ihre persönlichen Daten werden ausschliesslich
			  zur Abwicklung Ihrer Bestellung verwendet.
			</p>
			<p>
			  <a href="popup-datenschutz.html" target="popup" class="popup-link bold">Infos zum Datenschutz finden Sie hier</a>.
			</p>
			</div>
			
			<div class="block spaced">
				    <h4>Versand</h4>
				    <img width="104" src="/tl_files/personalnovel_de/static/css/images/dhl.png" title="DHL" alt="DHL" class="left" style="margin: 5px 10px 5px 0">
				    <p>
					Wir drucken nach Eingang Ihrer Bezahlung,  
					bitte beachten Sie die Dauer bei „Vorkasse“
				    </p>
				    <p>
				    <a class="popup-link bold" target="popup" href="popup-liefertermine.html">Infos zum Versand finden Sie hier.</a>
				    </p>
			</div>
			
			<div class="block payment spaced">
			    <h4>Vorauskasse / Überweisung:</h4>
			     <img width="104" src="/tl_files/personalnovel_de/static/css/images/vorauskasse.png" title="Vorauskasse" alt="Vorauskasse" class="left" style="margin: 5px 10px 5px 0">  
			    <p>
			   Überweisungen benötigen bis zu drei Banktage.
			   Zur Beschleunigung Beleg per Fax / E-Mail
			    </p>
			    <p>
				    <a class="popup-link bold" target="popup" href="popup-paymentquickinfo.html">Infos zu Zahlungsarten finden Sie hier.</a>
				</p>
			    <br/>
		        <h4>Kreditkarte:</h4>
		        <img width="104" src="/tl_files/personalnovel_de/static/css/images/kreditkarte.png" title="Kreditkarte" alt="Kreditkarte" class="left" style="margin: 5px 10px 5px 0">
		        <p>
		        Verschlüsselte sichere Methode für unsere 
		        akzeptierten Visa, Master und American Express 
		        </p>
		         <p>
			    	<a class="popup-link bold" target="popup" href="popup-paymentquickinfo.html">Infos zu Zahlungsarten finden Sie hier.</a>
				</p>
				<br/>
			    <h4>PayPal:</h4>
			    <img width="104" src="/tl_files/personalnovel_de/static/css/images/paypal.png" title="PayPal" alt="PayPal" class="left" style="margin: 5px 10px 5px 0">  
			    <p>Sicher, schnell und unkompliziert: Kreditkarte und Lastschrift auch als Gast möglich.</p>
			    <p>
				    <a class="popup-link bold" target="popup" href="popup-paymentquickinfo.html">Infos zu Zahlungsarten finden Sie hier.</a>
				</p>
				<br/>
				<h4>Amazon Payments:</h4>
			    <img width="104" src="/tl_files/personalnovel_de/static/css/images/amazon.png" title="Amazon" alt="Amazon" class="left" style="margin: 5px 10px 5px 0">  
			    <p>
			   Bezahlen über amazon indem Sie sich lediglich
			   in Ihren amazon Account einlogen. 

			    </p>
			    <p>
				    <a class="popup-link bold" target="popup" href="popup-paymentquickinfo.html">Infos zu Zahlungsarten finden Sie hier.</a>
				</p>
		  	</div>
		</div>
	</div>
	
	<div class="formfooter clearfix">
		<div class="left controls">
			<p>
				<button name="submitter" value="submitter" class="awesomebutton awesomegreen_gradient awesomeround" type="submit">
				<span><span>Weiter zur Versandauswahl &gt;&gt;</span></span>
				</button>
            </p>
		</div>
	</div>

</form>
</div>

<style>
.right img { margin: 5px 10px 5px 0 }
.left .logo { float: left; margin: 5px 10px 5px 0 }
.success { color: #007F00; }
</style>

<script language="javascript">
    $(document).ready(function(){
        $("button[name=submitter]").click(function(){
            var str_addr = $("#shipping_address-address_address").val();
            if(!str_addr.match("[0-9]"))
            {
                if(confirm("Sie haben keine Hausnummer eingegeben. Klicken Sie auf OK, falls dies gewollt ist, oder auf Abbrechen um die Adresse zu ändern."))
                {
                    return true;
                }
                else
                {
                    return false;
                }
            }
            else
            {
                return true;
            }
        });
        
        $('#customer-customer_email_repeat').bind('copy paste cut',function(e) {
        	e.preventDefault(); //disable cut,copy,paste
        });
    });
</script>				

</div>
<!-- indexer::continue -->
</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

