<?php $expire = 1403232140; /* http://web.personalnovel.local/checkout/order/2043269.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Bestellung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Bestellung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/checkout.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/checkout.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href="http://geburtstag.personalnovel.de/"></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
		<span class="green cartsum" cartsum="29.94">
		29,94</span> 
		<span class="green">EUR </span> <br />inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
    	    	     <a class="cart-link" href="http://web.personalnovel.local/checkout?order=2043269&step=Warenkorb"><img src="tl_files/personalnovel_de/cart.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:1000"></a>
	            
    <div id="cart-detail">
    
        
            <strong>1x 
        Kap der Entscheidung                </strong>
        <span class="green">29,94 EUR</span><br/>
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="checkout">
<!-- indexer::stop -->

<div class="checkout_steps">

	<ul id="progress">
		<li class="first current">Warenkorb</li>
		<li class="">Bestellen</li>
		<li class="">Versand</li>
		<li class="">Bestätigen</li>
		<li class="">Bezahlen</li>
		<li class="last ">Fertig</li>
	</ul>
	<div class="step1">
<form id="step1" method="post" action="/checkout?order=2043269">
	<input type=hidden name="step" value=1 />
	<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		
	<div class="formheader clearfix">
		<div class="left">
			<h1>Warenkorb Übersicht</h1>
			
			<table style="clear: left" id="basket-general-view">
	            <tbody>
	            
	            		            
		        		        																		<tr class="item_cell">
						<td class="text_cell">
							<strong>
							<span class="item_pieces_8022577">1</span>x 
							Kap der Entscheidung														</strong>
						</td>
						<td rowspan="3" class="price_cell basket-general-links">
							<a href="/checkout?order=2043269#book_256">Ändern</a>
						</td>
						<td rowspan="3" class="price_cell" id="overview-book-8022577"> 29,94 EUR </td>
						</tr>
						<tr>
							<td class="text_cell">
								Widmung "Handschrift"							</td>
						</tr>
						<tr>
							<td class="text_cell">
								Standardtitel							</td>
						</tr>
						
												 
						<tr><td colspan='3'></td></tr>
							              
		        </tbody>
	        </table>
	        
	        <div class="summary">
				<div class="right price_cell"><strong>29,94 EUR</strong></div>
				<div class="right" style="margin-right: 20px;"><strogn>Gesamtwert Ihres Einkaufs:</strong></div>
	        </div>
		</div>
		
		<div class="right controls">
			<p>
				<button name="submitter" id="True" class="awesomebutton awesomegreen_gradient checkout-button submit awesomeround" type="button">
					<span><span>Zur Kasse gehen &gt;&gt;</span></span>
				</button>
			</p><br />
			<p>
				<a style="float: right;" class="awesomebutton awesomegreen_gradient onlyjs morebooks awesomeround awesomeoutline" href="/romane/">
					<span><span>Weitere Bücher bestellen</span></span>
				</a>
			</p><br />
			
			<p>
				<a style="margin-top: 0.25em;float:right;" class="awesomebutton awesomegreen_gradient onlyjs morewines awesomeround awesomeoutline" href="/eigenerwein/">
					<span><span>Wein dazu bestellen</span></span>
				</a>
			</p>
		</div>
	</div>
	
	
			
	
	
			
		
		
	
	
	    		
	<hr />
	
	<div class="formbody clearfix">
		<div class="title clearfix">
			<a  name="book_256"></a>
			<h1>
				Kap der Entscheidung							</h1>
		</div>
		
		<div class="left">
			<table cellspacing=0 cellpadding=0>
		        <tbody>
				    <tr class="headline">
				      <td class="instruction_label_cell">
				        Übersicht:
				      </td>
				      <td colspan="2" class="instruction_cell">
				        Klicken Sie auf Ihre Eingaben um diese zu modifizieren
				      </td>
				    </tr>
				    <tr class="item_row">
				      <td class="label_cell">
				      				          Personalisierung:
				          				      </td>
				      <td class="text_cell None">
				      	<input type="hidden" name="book-edit-256" value="true" />
				      	
				      					      	<a href="/customize?order=2043269&bookitem=8022577&step=1&edit=1"
				      	    class="edit_link" >
				      					      	
				        				        Vollständig
				        				        </a>				      
				      </td>
				      <td class="price_cell inclusive">
				          inklusive
				      </td>
				    </tr>
				    <tr class="item_row">
				      <td class="label_cell">
				          Widmung:
				      </td>
				      <td class="text_cell None">
				        				                                    <a href="/customize?order=2043269&bookitem=8022577&widmungitem=8022578&step=2&edit=1"
                                class="edit_link">
                                Widmung "Handschrift"                            </a>
				      					        
				        <br>
				        				        				      </td>
				      <td class="price_cell ">
				          4,99 EUR 
				      </td>
				    </tr>
				    
				    <tr class="item_row">
				      <td class="label_cell">
				          Umschlag:
				      </td>
				      <td class="text_cell None">
				        				                                    <a href="/customize?order=2043269&bookitem=8022577&designitem=8022579&step=4&edit=1"
                                class="edit_link">
                                Standardtitel                            </a>
				      					        
				        <br>
				        				      </td>
				      <td class="price_cell inclusive">
				         inklusive 
				      </td>
				    </tr>
				    
				    				    
				    				    <tr class="item_row">
				      <td class="label_cell">
				          Einband:
				      </td>
				      <td class="text_cell None">
                                                    <a href="/customize?order=2043269&bookitem=8022577&step=3&edit=1"
                                class="edit_link">
                                Taschenbuch 'Edition'                            </a>
				      					        
				        <br>
				      </td>
				      <td class="price_cell ">
				      	  				          24,95 EUR
				      </td>
				    </tr>
				     				    <tr class="item_row">
				      <td class="label_cell">
				          Schrift:
				      </td>
				      <td class="text_cell None">
				                                    <a href="/customize?order=2043269&bookitem=8022577&step=5&edit=1"
                                class="edit_link">
                                New Century Schoolbook                            </a>
				      					        
				      </td>
				      <td class="price_cell inclusive">
				          inklusive
				      </td>
				    </tr>
				    				    				    				    <tr class="item_row">
				      <td class="label_cell">
				          Anzahl:
				      </td>
				      <td class="text_cell None">
				      					        <input type="text"  bookid="8022577" value="1" 
				        name="item_pieces_8022577" 
				        id="item_pieces_8022577" class="n numbook">
				         <span>Stück zu je</span>
				         <span class="single_price_with_upgrades_8022577 price">
				           29,94 EUR
				         </span>
				         <input type="hidden" value="29.94" id="total_8022577">
				      </td>
				      <td class="price_cell ">
						<span class="total_with_upgrades_8022577 price_strong">
														29,94 
						</span>
						EUR
				      </td>
				    </tr>
				    
				    				    
				    				    				    				    				    				    				    <tr class="headline">
				      <th></th>
				      <th colspan="2">Darf es noch etwas sein?</th>
				    </tr>
				    				     <tr class="item_row">
						<td class="label_cell">
													    Geschenkbox
						    						</td>
						<td class="text_cell giftbox">
                                                            <a href="/customize?order=2043269&bookitem=8022577&step=6&edit=1"
                                        class="edit_link">
                                Keine Artikel ausgewählt.
                                </a>
                            						
						</td>
						<td class="price_cell"></td>
				    				    
				    <tr class="linkline">
				      <td colspan="3">
				      
                                                    <a href="/customize?order=2043269&bookitem=8022577&step=6&edit=1"
                                    class="edit_link">
                            Weitere Artikel hinzufügen
                            </a>
                        				        
				      </td>
				    </tr>
				    				    				    
				    				    
				    <tr class="headline">
				      <th></th>
				      <th colspan="2">Versand Ihrer Artikel</th>
				    </tr>
				    <tr class="item_row">
				      <td class="label_cell">
				          Versand:
				      </td>
				      				      <td class="text_cell None">
				        Versandkosten ab 5,95 EUR, <br> innerhalb Deutschlands kostenlos ab 50,00 EUR
				        <br>(Auswahl Lieferort nächste Seite)
				      </td>
				      <td class="price_cell "></td>
				      				    </tr>
				    				    
		        </tbody>
		      </table>
			</div>
			
			<div class="right">
								<div class="tabsdiv">
					<ul class="tabheader clearfix">
						<li><a href="#umschlagbild">Umschlagbild</a></li>
												<li><a href="#widmung">Widmung</a></li>
												<li><a href="#textvorschau">Textvorschau</a></li>
												<li><a href="#personen">
												Personen
												</a></li>
											</ul>
										<div id="umschlagbild">
												<img src="http://preview.personalnovel.de/preview/BookItem/8022577/dedbef4c7ba1b8cdbd3d82f1457d8c01.png?width=350&shadow=3&1402627339&1402627339" />
										        
				                                    <a href="/customize?order=2043269&bookitem=8022577&designitem=8022579&step=4&edit=1"
                                    class="edit_link">
                            Umschlag&nbsp;ändern</a><br />
				      							
						
						
						<span style="font-size:10px; font-style:italic">Problem mit Bildhochladen? <br />
                            Bitte schicken Sie das Bild an <a href="mailto:technik@personalnovel.de">technik@personalnovel.de</a>
                        </span>
					</div>
															<div id="widmung" style="text-align:center">
												
												<p>
														<a class="lightbox" href="http://preview.personalnovel.de/preview/WidmungItem/7118343/87bfde7fd52b178fe99321e56101801c.png?width=750&text=TT&fontface=Zapfino Extra LT&fontcolor=blue&fontsize=10" >
							<img src="http://preview.personalnovel.de/preview/WidmungItem/7118343/87bfde7fd52b178fe99321e56101801c.png?width=350&text=TT&fontface=Zapfino Extra LT&fontcolor=blue&fontsize=10" />
                            </a>
                            
                                                            <a href="/customize?order=2043269&bookitem=8022577&widmungitem=8022578&step=2&edit=1"
                                    class="edit_link"> 
                                    Widmung ändern</a>
                            							    
						</p>
											</div>
					
										<div id="textvorschau">
					<p><strong>Bitte beachten Sie, dass wir Ihre Daten exakt wie hier angegeben übernehmen.</strong></p>
										<p><span class='default Held_VN'>Phan</span> <span class='default Held_NN'>Minh Hoang</span>, ein Fußballprofi mit <span class='default Held_Augen'>braun</span>en Augen und <span class='default Held_Haare'>schwarz</span>en Haaren, hofft darauf, als Nationalspieler für die Weltmeisterschaft nominiert zu werden. Seine Eltern <span class='default Mutter_VN'>Helga</span> und <span class='default Vater_VN'>Manfred</span> <span class='default Held_NN'>Minh Hoang</span> sowie das befreundete Ehepaar <span class='default Paar_sie'>Sonja</span> und <span class='default Paar_er'>Jens</span> <span class='default Paar_NN'>Kruse</span> drücken ihm die Daumen, besondere Unterstützung aber bekommt er von seiner <span class='default Freundin_Augen'>braun</span>äugigen und <span class='default Freundin_Haare'>hellbraun</span>haarigen Freundin <span class='default Freundin_VN'>Annabell</span>, die er <span class='default Freundin_Kose'>Schatz</span> nennt. Sie tröstet ihren <span class='default Held_Kose'>Spatz</span>, als er im Duell <span class='default Held_Verein'>Bremen</span> gegen <span class='default Kontrahent_Verein'>Stuttgart</span> von <span class='default Kontrahent_VN'>Christian</span> <span class='default Kontrahent_NN'>Stein</span>, seinem direkten Konkurrenten um den Platz in der Nationalmannschaft, gefoult und verletzt wird und der WM-Zug scheinbar ohne ihn abfährt. Doch Nationaltrainer <span class='default Bundestrainer_VN'>Johannes</span> <span class='default Bundestrainer_NN'>Löwe</span> und Manager <span class='default Manager_VN'>Olaf</span> <span class='default Manager_NN'>Biermann</span> nominieren <span class='default Held_VN'>Phan</span> schließlich doch noch für ihr Team, als <span class='default Verletzter_VN'>Simon</span> <span class='default Verletzter_NN'>Rolf</span> verletzungsbedingt ausfällt. So fährt <span class='default Held_VN'>Phan</span> zusammen mit Towart <span class='default Torwart1_VN'>Frank</span> <span class='default Torwart1_NN'>Falke</span>, Ersatztorwart <span class='default Torwart2_VN'>Toni</span> <span class='default Torwart2_NN'>Riese</span>, den Abwehrspielern <span class='default AussenRechts_VN'>Clemens</span> <span class='default AussenRechts_NN'>Lähm</span>, <span class='default AussenLinks_VN'>Philipp</span> <span class='default AussenLinks_NN'>Fritz</span>, <span class='default InnenRechts_VN'>Peter</span> <span class='default InnenRechts_NN'>Baumann</span> und <span class='default InnenLinks_VN'>Sebastian</span> <span class='default InnenLinks_NN'>Trödl</span>, den beiden Mittelfeldspielern <span class='default MitteRechts_VN'>Andreas</span> <span class='default MitteRechts_NN'>Schmitz</span> und <span class='default MitteLinks_VN'>Holger</span> <span class='default MitteLinks_NN'>Müller</span> sowie den Stürmern <span class='default Stuermer1_VN'>Mario</span> <span class='default Stuermer1_NN'>Meyer</span>, <span class='default Stuermer2_VN'>Bernd</span> <span class='default Stuermer2_NN'>Kloski</span> und <span class='default Stuermer3_VN'>Mike</span> <span class='default Stuermer3_NN'>Lukas</span> nach Südafrika, um den Pokal zu holen. Große Stützen der relativ jungen Mannschaft sind Kapitän <span class='default Spielmacher_VN'>Michael</span> <span class='default Spielmacher_NN'>Pollack</span> und der erfahrene <span class='default Vorstopper_VN'>Paul</span> <span class='default Vorstopper_NN'>Denkena</span>. Dr. <span class='default Arzt_VN'>Lothar</span> <span class='default Arzt_NN'>Priebe</span> und Betreuer <span class='default Betreuer_VN'>Oskar</span> sind vom ersten Gruppenspiel gegen <span class='default Gruppe1_Land'>Australien</span> an voll im Einsatz, denn die <span class='default Gruppe1_Adjektiv'>australisch</span>e Mannschaft macht Druck. Gegen die <span class='default Gruppe2_Leute'>Serben</span> verliert die deutsche Elf sogar – 2:1 für <span class='default Gruppe2_Land'>Serbien</span>! <span class='default Gruppe3_Land'>Ghana</span> hingegen ist ein schwacher Gegner, und so geht es ins Achtelfinale gegen <span class='default Achtelfinale_Land'>England</span>. Nach dem Sieg gegen die <span class='default Achtelfinale_Adjektiv'>englisch</span>e Elf besiegt Deutschland auch den Viertelfinalgegner <span class='default Viertelfinale_Land'>Frankreich</span>. Im Halbfinale gegen <span class='default Halbfinale_Land'>Brasilien</span> macht ihnen der <span class='default Halbfinale_Adjektiv'>brasilianisch</span>e Topspieler <span class='default Topspieler1_VN'>Ricardo</span> <span class='default Topspieler1_NN'>Kakao</span> das Leben schwer, aber dank des 2:1-Siegs erreicht Deutschland schließlich das Finale. <span class='default Finale_Land'>Spanien</span> besiegt im zweiten Halbfinale <span class='default Verlierer_Land'>Italien</span>, und so kommt es zum großen Showdown zwischen der deutschen und der <span class='default Finale_Adjektiv'>spanisch</span>en Elf. Können die <span class='default Finale_Leute'>Spanier</span> mit ihrem Superstar <span class='default Topspieler2_VN'>Felipe</span> <span class='default Topspieler2_NN'>Villo</span> den entscheidenen Treffer landen? Oder wird Deutschland am Ende Weltmeister 2010?</p>
					<center>
					                                <a href="/customize?order=2043269&bookitem=8022577&step=1&edit=1"
                                class="edit_link">
                                Personalisierung&nbsp;ändern</a>
				      	                        
					</center>
					</div>
										
					<div id="personen">
						<p>
							<strong>Bitte beachten Sie, dass wir Ihre Daten exakt wie hier angegeben übernehmen</strong>.
						</p>
						
						<table style="border-collapse: collapse; width: 100%;">
							<tbody>
																								<tr class="item_row">
									<td class="label_cell">Der Vorname des Helden ist</td>
									<td title="Standardwert" class="text_cell">Phan</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Helden ist</td>
									<td title="Standardwert" class="text_cell">Minh Hoang</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Seine Augenfarbe ist</td>
									<td title="Standardwert" class="text_cell">braun</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Seine Haarfarbe ist</td>
									<td title="Standardwert" class="text_cell">schwarz</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Sein Kosename ist</td>
									<td title="Standardwert" class="text_cell">Spatz</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Er spielt im Verein der Stadt (Achtung: Name der Stadt, nicht des Vereins!)</td>
									<td title="Standardwert" class="text_cell">Bremen</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Freundin des Helden ist</td>
									<td title="Standardwert" class="text_cell">Annabell</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Ihre Augenfarbe ist</td>
									<td title="Standardwert" class="text_cell">braun</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Ihre Haarfarbe ist</td>
									<td title="Standardwert" class="text_cell">hellbraun</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Ihr Kosename ist</td>
									<td title="Standardwert" class="text_cell">Schatz</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Mutter des Helden ist</td>
									<td title="Standardwert" class="text_cell">Helga</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Vaters des Helden ist</td>
									<td title="Standardwert" class="text_cell">Manfred</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des besten Freundes des Helden ist</td>
									<td title="Standardwert" class="text_cell">Jens</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname seiner Ehefrau ist</td>
									<td title="Standardwert" class="text_cell">Sonja</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der beiden ist</td>
									<td title="Standardwert" class="text_cell">Kruse</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Rivalen ist</td>
									<td title="Standardwert" class="text_cell">Christian</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Rivalen ist</td>
									<td title="Standardwert" class="text_cell">Stein</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Rivale spielt für den Verein der Stadt (Achtung: Name der Stadt, nicht des Vereins!)</td>
									<td title="Standardwert" class="text_cell">Stuttgart</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Trainers ist</td>
									<td title="Standardwert" class="text_cell">Johannes</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Trainers ist</td>
									<td title="Standardwert" class="text_cell">Löwe</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Managers ist</td>
									<td title="Standardwert" class="text_cell">Olaf</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Managers ist</td>
									<td title="Standardwert" class="text_cell">Biermann</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Torwarts ist</td>
									<td title="Standardwert" class="text_cell">Frank</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Torwarts ist</td>
									<td title="Standardwert" class="text_cell">Falke</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname des Ersatztorwarts ist</td>
									<td title="Standardwert" class="text_cell">Toni</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Ersatztorwarts ist</td>
									<td title="Standardwert" class="text_cell">Riese</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des rechten Außenverteidigers ist</td>
									<td title="Standardwert" class="text_cell">Clemens</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des rechten Außenverteidigers ist</td>
									<td title="Standardwert" class="text_cell">Lähm</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname des linken Außenverteidigers ist</td>
									<td title="Standardwert" class="text_cell">Philipp</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des linken Außenverteidigers ist</td>
									<td title="Standardwert" class="text_cell">Fritz</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname des rechten Innenverteidigers ist</td>
									<td title="Standardwert" class="text_cell">Peter</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des rechten Innenverteidigers ist</td>
									<td title="Standardwert" class="text_cell">Baumann</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname des linken Innenverteidigers ist</td>
									<td title="Standardwert" class="text_cell">Sebastian</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des linken Innenverteidigers ist</td>
									<td title="Standardwert" class="text_cell">Trödl</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des rechten Mittelfeldspielers ist</td>
									<td title="Standardwert" class="text_cell">Andreas</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des rechten Mittelfeldspielers ist</td>
									<td title="Standardwert" class="text_cell">Schmitz</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname des linken Mittelfeldspielers ist</td>
									<td title="Standardwert" class="text_cell">Holger</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des linken Mittelfeldspielers ist</td>
									<td title="Standardwert" class="text_cell">Müller</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname des Vorstoppers ist</td>
									<td title="Standardwert" class="text_cell">Paul</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Vorstoppers ist</td>
									<td title="Standardwert" class="text_cell">Denkena</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname des Kapitäns ist</td>
									<td title="Standardwert" class="text_cell">Michael</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Kapitäns ist</td>
									<td title="Standardwert" class="text_cell">Pollack</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des 1. Stürmers ('Chancentod') ist</td>
									<td title="Standardwert" class="text_cell">Mario</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des 1. Stürmers ('Chancentod') ist</td>
									<td title="Standardwert" class="text_cell">Meyer</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname des 2., kopfballstarken Stürmers ist</td>
									<td title="Standardwert" class="text_cell">Bernd</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des 2., kopfballstarken Stürmers ist</td>
									<td title="Standardwert" class="text_cell">Kloski</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname des 3. Stürmers (Ersatzmann) ist</td>
									<td title="Standardwert" class="text_cell">Mike</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des 3. Stürmers (Ersatzmann) ist</td>
									<td title="Standardwert" class="text_cell">Lukas</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des verletzten Nationalspielers ist</td>
									<td title="Standardwert" class="text_cell">Simon</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des verletzten Nationalspielers ist</td>
									<td title="Standardwert" class="text_cell">Rolf</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Mannschaftsarztes ist</td>
									<td title="Standardwert" class="text_cell">Lothar</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Mannschaftsarztes ist</td>
									<td title="Standardwert" class="text_cell">Priebe</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Chefbetreuers ist</td>
									<td title="Standardwert" class="text_cell">Oskar</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des 1. Reporters ist</td>
									<td title="Standardwert" class="text_cell">Rudi</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des 1. Reporters ist</td>
									<td title="Standardwert" class="text_cell">Kraus</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname des 2. Reporters ist</td>
									<td title="Standardwert" class="text_cell">Max</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des 2. Reporters ist</td>
									<td title="Standardwert" class="text_cell">Herrlich</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Topspielers des Halbfinalgegners ist</td>
									<td title="Standardwert" class="text_cell">Ricardo</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Topspielers des Halbfinalgegners ist</td>
									<td title="Standardwert" class="text_cell">Kakao</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Topspielers des Finalgegners ist</td>
									<td title="Standardwert" class="text_cell">Felipe</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Topspielers des Finalgegners ist</td>
									<td title="Standardwert" class="text_cell">Villo</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der 1. Gruppengegner ist das Land</td>
									<td title="Standardwert" class="text_cell">Australien</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Das dem Land zugehörige Eigenschaftswort ist</td>
									<td title="Standardwert" class="text_cell">australisch</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der 2. Gruppengegner ist das Land</td>
									<td title="Standardwert" class="text_cell">Serbien</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Bewohner des Landes nennt man (Mehrzahl)</td>
									<td title="Standardwert" class="text_cell">Serben</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der 3. Gruppengegner ist das Land</td>
									<td title="Standardwert" class="text_cell">Ghana</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Achtelfinalgegner ist das Land</td>
									<td title="Standardwert" class="text_cell">England</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Das dem Land zugehörige Eigenschaftswort ist</td>
									<td title="Standardwert" class="text_cell">englisch</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Viertelfinalgegner ist das Land</td>
									<td title="Standardwert" class="text_cell">Frankreich</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Halbfinalgegner ist das Land</td>
									<td title="Standardwert" class="text_cell">Brasilien</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Das dem Land zugehörige Eigenschaftswort ist</td>
									<td title="Standardwert" class="text_cell">brasilianisch</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Finalgegner ist das Land</td>
									<td title="Standardwert" class="text_cell">Spanien</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Das dem Land zugehörige Eigenschaftswort ist</td>
									<td title="Standardwert" class="text_cell">spanisch</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Bewohner des Landes heißen (Mehrzahl)</td>
									<td title="Standardwert" class="text_cell">Spanier</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der große Verlierer des Turniers ist das Land (Achtung: Bitte keines der bereits genannten Länder wählen!)</td>
									<td title="Standardwert" class="text_cell">Italien</td>
								</tr>
																							<!--
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
															-->
							</tbody>
						</table>
						<br />
						
						                            <a href="/customize?order=2043269&bookitem=8022577&step=1&edit=1"
                                    class="edit_link">
                              Personalisierung&nbsp;ändern
                            </a>
				      							
					</div>
				</div>
			
			</div>
	</div>
	
	<div class="formfooter clearfix">
		<div class="left controls">
            <a onclick="return confirm('&quot; Kap der Entscheidung &quot; wirklich löschen?');" style="float: left;width:105px;" class="awesomebutton awesomegreen_gradient onlyjs morebooks awesomeround awesomeoutline" 
            href="/checkout?order=2043269&action=remove&bookitem=8022577">
                <span><span>Buch löschen</span></span>
            </a>
		</div>
		<p class="bookbar_total">
		Gesamtpreis inkl. MWSt zzgl. Versandkosten:<span id="book-8022577" class="amount price smallsum" 
		smallsum="29.94">
		29,94  EUR</span></p>
		
		
		<div class="right controls">
			<a style="float: left;width:169px;" class="awesomebutton awesomegreen_gradient onlyjs morebooks awesomeround awesomeoutline" href="/romane/">
				<span><span>Weitere Bücher bestellen</span></span>
			</a>
			<button name="submitter" style="width:169px;margin-left:10px" class="awesomebutton awesomegreen_gradient checkout-button submit awesomeround" type="button">
					<span><span>Zur Kasse gehen &gt;&gt;</span></span>
			</button>
			
		</div>
	</div>
	
		
	
	
		
		
</form>

</div>

<script language="javascript">
$(document).ready(function(){
    var widmung_warning = false;
    var design_warning  = false;
    $("#step1").submit(function(){
        if(design_warning)
        {
            var msg = "Mindestens einer der Artikel in Ihrem Warenkorb hat:\n\n"
                    + "- keinen geänderten Untertitel/Textaufdruck und/oder\n"
                    + "- keine geänderten Personennamen (sondern vorgegebene Originalnamen)\n\n"
                    + "Bitte geben Sie diese ein, bevor Sie die Bestellung abschließen.";

            alert(msg);
            return false;
        }
        
        if(widmung_warning)
        {
            var msg = "Mindestens einer der Artikel in Ihrem Warenkorb hat:\n\n- keine Widmung und/oder\n- " 
                    + "keinen geänderten Untertitel/Textaufdruck\n\nKlicken Sie auf OK falls dies gewollt " 
                    + "ist, oder auf Abbrechen um den Warenkorb zu bearbeiten.";
            
            if(confirm(msg))
                return true;
            else 
                return false;
        }
        
        return true;
    });
});
</script>					

</div>
<!-- indexer::continue -->
</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

