<?php $expire = 1405916389; /* http://web.personalnovel.local/checkout/order/2058968.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Bestellung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Bestellung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/checkout.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/checkout.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
		<span class="green cartsum" cartsum="51.92">
		51,92</span> 
		<span class="green">EUR </span> <br />inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
    	    	     <a class="cart-link" href="http://web.personalnovel.local/checkout?order=2058968&step=Warenkorb"><img src="tl_files/personalnovel_de/cart.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:1000"></a>
	            
    <div id="cart-detail">
    
        
            <strong>1x 
        Stilles Ende, schnelles Erbe                </strong>
        <span class="green">51,92 EUR</span><br/>
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="checkout">
<!-- indexer::stop -->

<div class="checkout_steps">

	<ul id="progress">
		<li class="first current">Warenkorb</li>
		<li class="">Bestellen</li>
		<li class="">Versand</li>
		<li class="">Bestätigen</li>
		<li class="">Bezahlen</li>
		<li class="last ">Fertig</li>
	</ul>
	<div class="step1">
<form id="step1" method="post" action="/checkout?order=2058968">
	<input type=hidden name="step" value=1 />
	<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		
	<div class="formheader clearfix">
		<div class="left">
			<h1>Warenkorb Übersicht</h1>
			
			<table style="clear: left" id="basket-general-view">
	            <tbody>
	            
	            		            
		        		        																		<tr class="item_cell">
						<td class="text_cell">
							<strong>
							<span class="item_pieces_8090534">1</span>x 
							Stilles Ende, schnelles Erbe														</strong>
						</td>
						<td rowspan="3" class="price_cell basket-general-links">
							<a href="/checkout?order=2058968#book_657">Ändern</a>
						</td>
						<td rowspan="3" class="price_cell" id="overview-book-8090534"> 51,92 EUR </td>
						</tr>
						<tr>
							<td class="text_cell">
								Widmung "Handschrift"							</td>
						</tr>
						<tr>
							<td class="text_cell">
								Standardtitel							</td>
						</tr>
						
																		<tr>
							<td class="text_cell" >
								Ihr persönliches Ansichtsexemplar zum Selbstkostenpreis Stilles Ende, schnelles Erbe							</td>
						</tr>
												<tr>
							<td class="text_cell" >
								Geschenkbox Blau							</td>
						</tr>
						 
						<tr><td colspan='3'></td></tr>
							              
		        </tbody>
	        </table>
	        
	        <div class="summary">
				<div class="right price_cell"><strong>51,92 EUR</strong></div>
				<div class="right" style="margin-right: 20px;"><strogn>Gesamtwert Ihres Einkaufs:</strong></div>
	        </div>
		</div>
		
		<div class="right controls">
			<p>
				<button name="submitter" id="True" class="awesomebutton awesomegreen_gradient checkout-button submit awesomeround" type="button">
					<span><span>Zur Kasse gehen &gt;&gt;</span></span>
				</button>
			</p><br />
			<p>
				<a style="float: right;" class="awesomebutton awesomegreen_gradient onlyjs morebooks awesomeround awesomeoutline" href="/romane/">
					<span><span>Weitere Bücher bestellen</span></span>
				</a>
			</p><br />
			
			<p>
				<a style="margin-top: 0.25em;float:right;" class="awesomebutton awesomegreen_gradient onlyjs morewines awesomeround awesomeoutline" href="/eigenerwein/">
					<span><span>Wein dazu bestellen</span></span>
				</a>
			</p>
		</div>
	</div>
	
	
			
	
	
			
		
		
	
	
	    		
	<hr />
	
	<div class="formbody clearfix">
		<div class="title clearfix">
			<a  name="book_657"></a>
			<h1>
				Stilles Ende, schnelles Erbe							</h1>
		</div>
		
		<div class="left">
			<table cellspacing=0 cellpadding=0>
		        <tbody>
				    <tr class="headline">
				      <td class="instruction_label_cell">
				        Übersicht:
				      </td>
				      <td colspan="2" class="instruction_cell">
				        Klicken Sie auf Ihre Eingaben um diese zu modifizieren
				      </td>
				    </tr>
				    <tr class="item_row">
				      <td class="label_cell">
				      				          Personalisierung:
				          				      </td>
				      <td class="text_cell None">
				      	<input type="hidden" name="book-edit-657" value="true" />
				      	
				      					      	<a href="/customize?order=2058968&bookitem=8090534&step=1&edit=1"
				      	    class="edit_link" >
				      					      	
				        				        Vollständig
				        				        </a>				      
				      </td>
				      <td class="price_cell inclusive">
				          inklusive
				      </td>
				    </tr>
				    <tr class="item_row">
				      <td class="label_cell">
				          Widmung:
				      </td>
				      <td class="text_cell None">
				        				                                    <a href="/customize?order=2058968&bookitem=8090534&widmungitem=8090535&step=2&edit=1"
                                class="edit_link">
                                Widmung "Handschrift"                            </a>
				      					        
				        <br>
				        				        				      </td>
				      <td class="price_cell ">
				          4,99 EUR 
				      </td>
				    </tr>
				    
				    <tr class="item_row">
				      <td class="label_cell">
				          Umschlag:
				      </td>
				      <td class="text_cell None">
				        				                                    <a href="/customize?order=2058968&bookitem=8090534&designitem=8090536&step=4&edit=1"
                                class="edit_link">
                                Standardtitel                            </a>
				      					        
				        <br>
				        				      </td>
				      <td class="price_cell inclusive">
				         inklusive 
				      </td>
				    </tr>
				    
				    				    
				    				    <tr class="item_row">
				      <td class="label_cell">
				          Einband:
				      </td>
				      <td class="text_cell None">
                                                    <a href="/customize?order=2058968&bookitem=8090534&step=3&edit=1"
                                class="edit_link">
                                Taschenbuch 'Edition'                            </a>
				      					        
				        <br>
				      </td>
				      <td class="price_cell ">
				      	  				          24,95 EUR
				      </td>
				    </tr>
				     				    <tr class="item_row">
				      <td class="label_cell">
				          Schrift:
				      </td>
				      <td class="text_cell None">
				                                    <a href="/customize?order=2058968&bookitem=8090534&step=5&edit=1"
                                class="edit_link">
                                New Century Schoolbook                            </a>
				      					        
				      </td>
				      <td class="price_cell inclusive">
				          inklusive
				      </td>
				    </tr>
				    				    				    				    <tr class="item_row">
				      <td class="label_cell">
				          Anzahl:
				      </td>
				      <td class="text_cell None">
				      					        <input type="text"  bookid="8090534" value="1" 
				        name="item_pieces_8090534" 
				        id="item_pieces_8090534" class="n numbook">
				         <span>Stück zu je</span>
				         <span class="single_price_with_upgrades_8090534 price">
				           29,94 EUR
				         </span>
				         <input type="hidden" value="29.94" id="total_8090534">
				      </td>
				      <td class="price_cell ">
						<span class="total_with_upgrades_8090534 price_strong">
														29,94 
						</span>
						EUR
				      </td>
				    </tr>
				    
				    				    
				    				    				    				    				    				    				    <tr class="headline">
				      <th></th>
				      <th colspan="2">Darf es noch etwas sein?</th>
				    </tr>
				    				    				    <tr class="item_row bookaddon">
						<td class="label_cell">
							Zusatzartikel:
						</td>
						<td class="text_cell">
                                                            <a href="/customize?order=2058968&bookitem=8090534&step=6&edit=1"
                                    class="edit_link">
                                    <span class='numaddon' numaddon=1>1</span>x Ihr persönliches Ansichtsexemplar zum Selbstkostenpreis Stilles Ende, schnelles Erbe                                </a>
                                                        <input class="geschen-price" bookid="8090534" type="hidden" pieces="1" value="14.99" />
						</td>
						
						<td class="price_cell ">14,99 EUR</td>
				    </tr>
				    				    <tr class="item_row bookaddon">
						<td class="label_cell">
							Zusatzartikel:
						</td>
						<td class="text_cell">
                                                            <a href="/customize?order=2058968&bookitem=8090534&step=6&edit=1"
                                    class="edit_link">
                                    <span numaddon=1 class='geschen-num numaddon'>1</span>x Geschenkbox Blau                                </a>
                                                        <input class="geschen-price" bookid="8090534" type="hidden" pieces="1" value="6.99" />
						</td>
						
						<td class="price_cell geschen">6,99 EUR</td>
				    </tr>
				     
				    				    
				    <tr class="linkline">
				      <td colspan="3">
				      
                                                    <a href="/customize?order=2058968&bookitem=8090534&step=6&edit=1"
                                    class="edit_link">
                            Weitere Artikel hinzufügen
                            </a>
                        				        
				      </td>
				    </tr>
				    				    				    
				    				    
				    <tr class="headline">
				      <th></th>
				      <th colspan="2">Versand Ihrer Artikel</th>
				    </tr>
				    <tr class="item_row">
				      <td class="label_cell">
				          Versand:
				      </td>
				      				      <td class="text_cell None">
				        Versandkosten ab 5,95 EUR, <br> innerhalb Deutschlands kostenlos ab 50,00 EUR
				        <br>(Auswahl Lieferort nächste Seite)
				      </td>
				      <td class="price_cell "></td>
				      				    </tr>
				    				    
		        </tbody>
		      </table>
			</div>
			
			<div class="right">
								<div class="tabsdiv">
					<ul class="tabheader clearfix">
						<li><a href="#umschlagbild">Umschlagbild</a></li>
												<li><a href="#widmung">Widmung</a></li>
												<li><a href="#textvorschau">Textvorschau</a></li>
												<li><a href="#personen">
												Personen
												</a></li>
											</ul>
										<div id="umschlagbild">
												<img src="http://preview.personalnovel.de/preview/BookItem/8090534/5b4639f2a0b12799007e2513da9221f6.png?width=350&shadow=3&1405311589&1405311589" />
										        
				                                    <a href="/customize?order=2058968&bookitem=8090534&designitem=8090536&step=4&edit=1"
                                    class="edit_link">
                            Umschlag&nbsp;ändern</a><br />
				      							
						
						
						<span style="font-size:10px; font-style:italic">Problem mit Bildhochladen? <br />
                            Bitte schicken Sie das Bild an <a href="mailto:technik@personalnovel.de">technik@personalnovel.de</a>
                        </span>
					</div>
															<div id="widmung" style="text-align:center">
												
												<p>
														<a class="lightbox" href="http://preview.personalnovel.de/preview/WidmungItem/7118343/87bfde7fd52b178fe99321e56101801c.png?width=750&text=Pham+Duy+Hoang+Chuong&fontface=Century Schoolbook L&fontcolor=blue&fontsize=10" >
							<img src="http://preview.personalnovel.de/preview/WidmungItem/7118343/87bfde7fd52b178fe99321e56101801c.png?width=350&text=Pham+Duy+Hoang+Chuong&fontface=Century Schoolbook L&fontcolor=blue&fontsize=10" />
                            </a>
                            
                                                            <a href="/customize?order=2058968&bookitem=8090534&widmungitem=8090535&step=2&edit=1"
                                    class="edit_link"> 
                                    Widmung ändern</a>
                            							    
						</p>
											</div>
					
										<div id="textvorschau">
					<p><strong>Bitte beachten Sie, dass wir Ihre Daten exakt wie hier angegeben übernehmen.</strong></p>
										<p><span class='default Mutter_VN'>dsfsdf</span> <span class='default Mutter_NN'>Weber</span> arbeitet mit ihren Kolleginnen <span class='default Kollegin_eins_VN'>Susanne</span> <span class='default Kollegin_eins_NN'>Ernstig</span> und <span class='default Kollegin_zwei_VN'>Margit</span> <span class='default Kollegin_zwei_NN'>Werner</span> in einem Altenheim in <span class='default Stadt'>Altenberg</span>. Die Arbeit bereitet ihr große Freude und sie versteht sich prima mit den Senioren, besonders mit <span class='default Seniorin_VN'>Erna</span> <span class='default Seniorin_NN'>Graf</span> im <span class='default Seniorin_Farbe'>taubenblau</span>en Kostüm und <span class='default Senior_VN'>Ottmar</span> <span class='default Senior_NN'>Herzog</span>. Der Kollege <span class='default Moerder_VN'>Karl</span> <span class='default Moerder_NN'>Aumann</span> aus der anderen Station bittet sie, mit ihm Stationen zu tauschen, auch die Heimleiterin <span class='default Heimleiterin_VN'>Erika</span> <span class='default Heimleiterin'>Mannheimer</span> ist einverstanden. 
<span class='default Mutter_VN'>dsfsdf</span> pflegt eine besonders enge und freundschaftliche Beziehung zu ihrer Tochter <span class='default Tochter_VN'>Sonja</span> <span class='default Tochter_NN'>Weber</span>, die ihre Mutter „<span class='default Mutter_Spitzname'>fsdfsd</span>“ nennt. Beide sehen sich nicht besonders ähnlich: Während <span class='default Mutter_VN'>dsfsdf</span> <span class='default Mutter_Haar'>braun</span>e Haare und <span class='default Mutter_Augen'>grau</span>e Augen hat, hat ihre Tochter <span class='default Tochter_Haar'>blond</span>e Haare und <span class='default Tochter_Augen'>grün</span>e Augen. <span class='default Tochter_Farbe'>Blau</span> ist die Lieblingsfarbe der Tochter, ihre Mutter liebt <span class='default Mutter_Farbe'>Rot</span>. Jedoch verbindet sie die Liebe zu ihrer Arbeit und das Entspannen bei ihrer Lieblingsserie. Die Lieblingsserie von <span class='default Mutter_VN'>dsfsdf</span> ist <span class='default Mutter_Serie'>Desperate Housewifes</span>, die von <span class='default Tochter_VN'>Sonja</span> ist <span class='default Tochter_Serie'>Die Simpsons</span>. Ansonsten hört <span class='default Mutter_VN'>dsfsdf</span> sehr gerne <span class='default Mutter_Musik'>die Beatles</span> und kümmert sich um ihre Katze <span class='default Mutter_Katze'>Schnurr</span>. Außerdem trägt sie gerne den Duft <span class='default Mutter_Duft'>Morgentau</span>. 
Die plötzlichen Tode im Altenheim erschüttern alle Bewohner, allen voran <span class='default Heimbewohnerin_eins_VN'>Anna</span> <span class='default Heimbewohnerin_eins_NN'>Schmidt</span> und <span class='default Heimbewohnerin_zwei_VN'>Flora</span> <span class='default Heimbewohnerin_zwei_NN'>Meier</span>, aber auch die Männerrunde, bestehend aus <span class='default Senior_VN'>Ottmar</span> und seinen Freunden <span class='default Altherr_eins_VN'>Rüdiger</span> <span class='default Altherr_eins_NN'>Schwarz</span>, <span class='default Altherr_zwei_VN'>Horst</span> <span class='default Altherr_zwei_NN'>Schneider</span> und <span class='default Altherr_drei_VN'>Heinz</span> <span class='default Altherr_drei_NN'>Bär</span>, lässt das nicht kalt. Der Kommissar <span class='default Kommissar_VN'>Ingo</span> <span class='default Kommissar_NN'>Hermann</span> beginnt seine Ermittlungen im ‚Schloss' und schnell gerät <span class='default Mutter_VN'>dsfsdf</span> aufgrund ihrer unerwarteten Erbschaften in Verdacht. In dieser schweren Zeit sucht sie Rat bei der Kunsttherapeutin <span class='default Kunstfrau_VN'>Annika</span> <span class='default Kunstfrau_NN'>Witting</span>. Mit ihrem Anwalt Herrn <span class='default Anwalt_NN'>sfsd</span> spricht sie nur kurz.
Auch <span class='default Kommissar_VN'>Ingo</span> <span class='default Kommissar_NN'>Hermann</span> steckt in der Klemme, denn er findet die Tochter der Verdächtigen sehr anziehend, besonders das <span class='default Tochter_Haar_G'>Blond</span> ihrer Haare und das <span class='default Tochter_Augen_G'>Grün</span> ihrer Augen. Zum Glück kann durch den beherzten Einsatz der Senioren und die verdeckte Ermittlung durch die Polizistin <span class='default Polizistin_VN'>sfsd</span> <span class='default Polizistin_NN'>sfsd</span> der Fall schnell geklärt werden.
</p>
					<center>
					                                <a href="/customize?order=2058968&bookitem=8090534&step=1&edit=1"
                                class="edit_link">
                                Personalisierung&nbsp;ändern</a>
				      	                        
					</center>
					</div>
										
					<div id="personen">
						<p>
							<strong>Bitte beachten Sie, dass wir Ihre Daten exakt wie hier angegeben übernehmen</strong>.
						</p>
						
						<table style="border-collapse: collapse; width: 100%;">
							<tbody>
																								<tr class="item_row">
									<td class="label_cell">Der Vorname der Mutter lautet</td>
									<td title="Standardwert" class="text_cell">dsfsdf</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der Mutter lautet</td>
									<td title="Standardwert" class="text_cell">Weber</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">So nennt die Tochter ihre Mutter</td>
									<td title="Standardwert" class="text_cell">fsdfsd</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Augenfarbe der Mutter ist (kleiner Anfangsbuchstabe)</td>
									<td title="Standardwert" class="text_cell">grau</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Haarfarbe der Mutter ist (kleiner Anfangsbuchstabe)</td>
									<td title="Standardwert" class="text_cell">braun</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Mutter trägt gerne den Duft</td>
									<td title="Standardwert" class="text_cell">Morgentau</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Lieblingsfarbe der Mutter ist (großer Anfangsbuchstabe)</td>
									<td title="Standardwert" class="text_cell">Rot</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Mutter hört gerne</td>
									<td title="Standardwert" class="text_cell">die Beatles</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Lieblingsserie der Mutter heißt</td>
									<td title="Standardwert" class="text_cell">Desperate Housewifes</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Kater der Mutter trägt den Namen</td>
									<td title="Standardwert" class="text_cell">Schnurr</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Tochter lautet</td>
									<td title="Standardwert" class="text_cell">Sonja</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der Tochter lautet</td>
									<td title="Standardwert" class="text_cell">Weber</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Augenfarbe der Tochter ist (kleiner Anfangsbuchstabe)</td>
									<td title="Standardwert" class="text_cell">grün</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Augenfarbe der Tochter ist (großer Anfangsbuchstabe)</td>
									<td title="Standardwert" class="text_cell">Grün</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Haarfarbe der Tochter ist (kleiner Anfangsbuchstabe)</td>
									<td title="Standardwert" class="text_cell">blond</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Haarfarbe der Tochter ist (großer Anfangsbuchstabe)</td>
									<td title="Standardwert" class="text_cell">Blond</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Lieblingsfarbe der Tochter ist (großer Anfangsbuchstabe)</td>
									<td title="Standardwert" class="text_cell">Blau</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Lieblingsserie der Tochter heißt</td>
									<td title="Standardwert" class="text_cell">Die Simpsons</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der wagemutigen Seniorin lautet</td>
									<td title="Standardwert" class="text_cell">Erna</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der wagemutigen Seniorin lautet</td>
									<td title="Standardwert" class="text_cell">Graf</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Seniorin trägt gerne Kostüme folgender Farbe (kleiner Anfangsbuchstabe)</td>
									<td title="Standardwert" class="text_cell">taubenblau</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des wagemutigen Seniors lautet</td>
									<td title="Standardwert" class="text_cell">Ottmar</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des wagemutigen Seniors lautet</td>
									<td title="Standardwert" class="text_cell">Herzog</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Kommissars lautet</td>
									<td title="Standardwert" class="text_cell">Ingo</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Kommissars lautet</td>
									<td title="Standardwert" class="text_cell">Hermann</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der verdeckten Ermittlerin lautet</td>
									<td title="Standardwert" class="text_cell">sfsd</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der Verdeckten Ermittlerin lautet</td>
									<td title="Standardwert" class="text_cell">sfsd</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Mörders lautet</td>
									<td title="Standardwert" class="text_cell">Karl</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Mörders lautet</td>
									<td title="Standardwert" class="text_cell">Aumann</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Heimleiterin lautet</td>
									<td title="Standardwert" class="text_cell">Erika</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der Heimleiterin lautet</td>
									<td title="Standardwert" class="text_cell">Mannheimer</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Kollegin auf Station Zwei lautet</td>
									<td title="Standardwert" class="text_cell">Susanne</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der Kollegin auf Station Zwei lautet</td>
									<td title="Standardwert" class="text_cell">Ernstig</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Kollegin auf Station Eins lautet</td>
									<td title="Standardwert" class="text_cell">Margit</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der Kollegin auf Station Eins lautet</td>
									<td title="Standardwert" class="text_cell">Werner</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Kunsttherapeutin lautet</td>
									<td title="Standardwert" class="text_cell">Annika</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der Kunsttherapeutin lautet</td>
									<td title="Standardwert" class="text_cell">Witting</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Heimbewohnerin 1 lautet</td>
									<td title="Standardwert" class="text_cell">Anna</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der Heimbewohnerin 1 lautet</td>
									<td title="Standardwert" class="text_cell">Schmidt</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Heimbewohnerin 2 lautet</td>
									<td title="Standardwert" class="text_cell">Flora</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der Heimbewohnerin 2 lautet</td>
									<td title="Standardwert" class="text_cell">Meier</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Heimbewohners 1 lautet</td>
									<td title="Standardwert" class="text_cell">Rüdiger</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Heimbewohners 1 lautet</td>
									<td title="Standardwert" class="text_cell">Schwarz</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Heimbewohners 2 lautet</td>
									<td title="Standardwert" class="text_cell">Horst</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Heimbewohners 2 lautet</td>
									<td title="Standardwert" class="text_cell">Schneider</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Heimbewohners 3 lautet</td>
									<td title="Standardwert" class="text_cell">Heinz</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Heimbewohners 3 lautet</td>
									<td title="Standardwert" class="text_cell">Bär</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Nachname des Anwalts lautet</td>
									<td title="Standardwert" class="text_cell">sfsd</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Die Stadt, in der die Handlung spielt, heißt</td>
									<td title="Standardwert" class="text_cell">Altenberg</td>
								</tr>
																							<!--
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
															-->
							</tbody>
						</table>
						<br />
						
						                            <a href="/customize?order=2058968&bookitem=8090534&step=1&edit=1"
                                    class="edit_link">
                              Personalisierung&nbsp;ändern
                            </a>
				      							
					</div>
				</div>
			
			</div>
	</div>
	
	<div class="formfooter clearfix">
		<div class="left controls">
            <a onclick="return confirm('&quot; Stilles Ende, schnelles Erbe &quot; wirklich löschen?');" style="float: left;width:105px;" class="awesomebutton awesomegreen_gradient onlyjs morebooks awesomeround awesomeoutline" 
            href="/checkout?order=2058968&action=remove&bookitem=8090534">
                <span><span>Buch löschen</span></span>
            </a>
		</div>
		<p class="bookbar_total">
		Gesamtpreis inkl. MWSt zzgl. Versandkosten:<span id="book-8090534" class="amount price smallsum" 
		smallsum="51.92">
		51,92  EUR</span></p>
		
		
		<div class="right controls">
			<a style="float: left;width:169px;" class="awesomebutton awesomegreen_gradient onlyjs morebooks awesomeround awesomeoutline" href="/romane/">
				<span><span>Weitere Bücher bestellen</span></span>
			</a>
			<button name="submitter" style="width:169px;margin-left:10px" class="awesomebutton awesomegreen_gradient checkout-button submit awesomeround" type="button">
					<span><span>Zur Kasse gehen &gt;&gt;</span></span>
			</button>
			
		</div>
	</div>
	
		
	
	
		
		
</form>

</div>

<script language="javascript">
$(document).ready(function(){
    var widmung_warning = false;
    var design_warning  = false;
    $("#step1").submit(function(){
        if(design_warning)
        {
            var msg = "Mindestens einer der Artikel in Ihrem Warenkorb hat:\n\n"
                    + "- keinen geänderten Untertitel/Textaufdruck und/oder\n"
                    + "- keine geänderten Personennamen (sondern vorgegebene Originalnamen)\n\n"
                    + "Bitte geben Sie diese ein, bevor Sie die Bestellung abschließen.";

            alert(msg);
            return false;
        }
        
        if(widmung_warning)
        {
            var msg = "Mindestens einer der Artikel in Ihrem Warenkorb hat:\n\n- keine Widmung und/oder\n- " 
                    + "keinen geänderten Untertitel/Textaufdruck\n\nKlicken Sie auf OK falls dies gewollt " 
                    + "ist, oder auf Abbrechen um den Warenkorb zu bearbeiten.";
            
            if(confirm(msg))
                return true;
            else 
                return false;
        }
        
        return true;
    });
});
</script>					

</div>
<!-- indexer::continue -->
</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

