<?php $expire = 1394735562; /* http://web.personalnovel.local/customize/book/522.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href="http://geburtstag.personalnovel.de/"></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=522">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Weiße Rosen auf der Titanic" src="/tl_files/thumbnail-book/weisse-rosen-auf-der-titanic-522-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Weiße Rosen auf der Titanic“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-522" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weibliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Lily Braun</i>, Schauspielerin; energisch; kräftige Stimme; kommt ursprünglich vom Dorf; ihr Vater hat einen Gutshof; ist zusammen mit ihrer besten Freundin <i>Sofie</i> nach Berlin gezogen, um dort ihr Glück als Schauspielerin zu versuchen; hat einen kleinen weißen Hund namens <i>Gustavo</i>, der immer wieder Unsinn anstellt; bekommt von einem Unbekannten ständig weiße Rosen geschickt; ihr amerikanischer Verehrer <i>Bill</i> schenkt ihr zwei Fahrkarten für die Titanic; als ihr die Stelle und die Wohnung gekündigt werden und ihr ein ominöser Schuldschein geschickt wird, beschließt sie, zusammen mit <i>Sofie</i> die Reise nach New York anzutreten; ist überwältigt von der Pracht der Titanic, fühlt sich jedoch in dem Luxus fremd; freundet sich auf dem Schiff mit <i>Harri</i> und <i>Gretchen</i> an; bekommt auch dort wieder weiße Rosen geschickt; findet heraus, dass <i>Alexander von Drachstetten</i> hinter den Rosen, dem Schuldschein und auch dem Titanic-Ticket steckt; <i>Alexander</i> zwingt sie zu einem Abendessen, bei dem er sie mit einem Revolver bedroht; nach dem Zusammenstoß mit dem Eisberg kann sie ihm entkommen; kann sich auf eines der Rettungsboote retten und überlebt den Untergang der Titanic.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Schauspielerin ist																					</label>
																					<input type="text" value="Lily" 
                                name="vars-Heldin_VN" maxlength="30" id="vars-Heldin_VN" 
                                data-fieldname="Heldin_VN" 
                                data-default="Lily" 
                                class="field focuser default" />
							<span class="field_count">1126x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Schauspielerin ist																					</label>
																					<input type="text" value="Braun" 
                                name="vars-Heldin_NN" maxlength="30" id="vars-Heldin_NN" 
                                data-fieldname="Heldin_NN" 
                                data-default="Braun" 
                                class="field focuser default" />
							<span class="field_count">23x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Schauspielerin ist																					</label>
																					<input type="text" value="blond" 
                                name="vars-Heldin_Haar" maxlength="30" id="vars-Heldin_Haar" 
                                data-fieldname="Heldin_Haar" 
                                data-default="blond" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Schauspielerin ist																					</label>
																					<input type="text" value="blau" 
                                name="vars-Heldin_Augen" maxlength="30" id="vars-Heldin_Augen" 
                                data-fieldname="Heldin_Augen" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Der Hund (männlich) der Schauspielerin heißt																					</label>
																					<input type="text" value="Gustavo" 
                                name="vars-Heldin_Hund" maxlength="30" id="vars-Heldin_Hund" 
                                data-fieldname="Heldin_Hund" 
                                data-default="Gustavo" 
                                class="field focuser default" />
							<span class="field_count">81x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Beste Freundin der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Sofie Suttner</i>, <i>Lily</i>s beste Freundin seit Kindertagen; Schneiderin; arbeitet als Kostümbildnerin am Theater in Berlin; träumt vom eigenen Modeatelier; auch ihr wird gekündigt und sie geht mit <i>Lily</i> auf die Titanic; hat stets viele Verehrer; flirtet ein wenig mit <i>Felix</i>; wird nach dem Zusammenstoß der Titanic von <i>Lily</i> getrennt, kann sich jedoch ebenfalls retten und überlebt; trifft <i>Lilly</i> auf der Carpathia wieder. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der besten Freundin ist																					</label>
																					<input type="text" value="Sofie" 
                                name="vars-Freundin_VN" maxlength="30" id="vars-Freundin_VN" 
                                data-fieldname="Freundin_VN" 
                                data-default="Sofie" 
                                class="field focuser default" />
							<span class="field_count">479x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der besten Freundin ist																					</label>
																					<input type="text" value="Suttner" 
                                name="vars-Freundin_NN" maxlength="30" id="vars-Freundin_NN" 
                                data-fieldname="Freundin_NN" 
                                data-default="Suttner" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der besten Freundin ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Freundin_Haar" maxlength="30" id="vars-Freundin_Haar" 
                                data-fieldname="Freundin_Haar" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der besten Freundin ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Freundin_Augen" maxlength="30" id="vars-Freundin_Augen" 
                                data-fieldname="Freundin_Augen" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Fiesling</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Alexander von Drachstetten</i>, Fiesling; durchdringender Blick; glattrasiert; gemein; egoistisch; sehr reich; leicht wahnsinnig; <i>Lily</i> lernt ihn auf der Titanic kennen und findet zunächst Gefallen an ihm, sie erkennt jedoch schnell seine wahres egoistisches Gesicht; er kennt <i>Lily</i> von früher, als er Urlaub auf dem Gutshof ihres Vaters machte; war schon damals gemein und egoistisch, und als er einen Kuss von <i>Lily</i> wollte, hielt <i>Sofie</i> ihm stattdessen ein Schwein vor die Nase; hat das den beiden nicht verziehen und lockt sie auf die Titanic, um sich zu rächen; zwingt <i>Lily</i> mit dem Schuldschein zu einem Abendessen; als sie nicht macht, was er von ihr verlangt, dreht er immer mehr durch und bedroht sie mit einem Revolver; erzwingt sich mit dem Revolver Zugang zu einem der Rettungsboote und verhindert, dass weitere Menschen aufgenommen werden; wird von einer der Frauen mit ins Wasser gerissen und stirbt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Wahnsinnigen ist																					</label>
																					<input type="text" value="Alexander" 
                                name="vars-Fiesling_VN" maxlength="30" id="vars-Fiesling_VN" 
                                data-fieldname="Fiesling_VN" 
                                data-default="Alexander" 
                                class="field focuser default" />
							<span class="field_count">165x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Wahnsinnigen ist																					</label>
																					<input type="text" value="von Drachstetten" 
                                name="vars-Fiesling_NN" maxlength="30" id="vars-Fiesling_NN" 
                                data-fieldname="Fiesling_NN" 
                                data-default="von Drachstetten" 
                                class="field focuser default" />
							<span class="field_count">43x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Freundlicher Steward</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Felix Glasen</i>, Steward auf der Titanic; sehr nett und hilfsbereit; ein bisschen in <i>Sofie</i> verliebt; wird nach dem Untergang der Titanic aus dem Wasser gefischt und überlebt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Stewards ist																					</label>
																					<input type="text" value="Felix" 
                                name="vars-Steward_VN" maxlength="30" id="vars-Steward_VN" 
                                data-fieldname="Steward_VN" 
                                data-default="Felix" 
                                class="field focuser default" />
							<span class="field_count">65x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Stewards ist																					</label>
																					<input type="text" value="Glasen" 
                                name="vars-Steward_NN" maxlength="30" id="vars-Steward_NN" 
                                data-fieldname="Steward_NN" 
                                data-default="Glasen" 
                                class="field focuser default" />
							<span class="field_count">17x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Familie in der dritten Klasse - Sohn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Harri</i>, Passagier der dritten Klasse auf der Titanic; Sohn von <i>Conrad</i> und <i>Käte</i>; großer Bruder von <i>Gretchen</i>; etwa zehn Jahre alt; streunt mit <i>Gretchen</i> auf der Titanic herum und lernt dabei <i>Lily</i> kennen; er und <i>Gretchen</i> halten vor dem Blumenladen Wache, um herauszufinden, wer <i>Lily</i> die weißen Rosen schickt; überlebt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Jungen ist																					</label>
																					<input type="text" value="Harri" 
                                name="vars-Junge_VN" maxlength="30" id="vars-Junge_VN" 
                                data-fieldname="Junge_VN" 
                                data-default="Harri" 
                                class="field focuser default" />
							<span class="field_count">71x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Familie in der dritten Klasse - Tochter</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Gretchen</i>, Passagierin der dritten Klasse auf der Titanic; Tochter von <i>Conrad</i> und <i>Käte</i>; kleine Schwester von <i>Harri</i>; sehr ruhig; streunt mit <i>Harri</i> auf der Titanic herum und lernt dabei <i>Lily</i> kennen; sie und <i>Harri</i> halten vor dem Blumenladen Wache, um herauszufinden, wer <i>Lily</i> die weißen Rosen schickt; befindet sich mit <i>Lily</i> im Rettungsboot und überlebt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Mädchens ist																					</label>
																					<input type="text" value="Gretchen" 
                                name="vars-Maedchen_VN" maxlength="30" id="vars-Maedchen_VN" 
                                data-fieldname="Maedchen_VN" 
                                data-default="Gretchen" 
                                class="field focuser default" />
							<span class="field_count">68x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Familie in der dritten Klasse - Mutter</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Käte Müller</i>; Passagierin der dritten Klasse auf der Titanic; verheiratet mit <i>Conrad</i>; Mutter von <i>Harri</i> und <i>Gretchen</i>; schwanger; begegnet <i>Lily</i> mit Misstrauen und Abneigung; weigert sich, ohne ihren Mann in eines der Rettungsboote zu steigen; wird nach dem Untergang der Titanic aus dem Wasser gefischt und überlebt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Mutter ist																					</label>
																					<input type="text" value="Käthe" 
                                name="vars-Mutter_VN" maxlength="30" id="vars-Mutter_VN" 
                                data-fieldname="Mutter_VN" 
                                data-default="Käthe" 
                                class="field focuser default" />
							<span class="field_count">19x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Mutter ist																					</label>
																					<input type="text" value="Müller" 
                                name="vars-Mutter_NN" maxlength="30" id="vars-Mutter_NN" 
                                data-fieldname="Mutter_NN" 
                                data-default="Müller" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Familie in der dritten Klasse - Vater</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Conrad Müller</i>, Passagier der dritten Klasse auf der Titanic; verheiratet mit <i>Käte</i>; Vater von <i>Harri</i> und <i>Gretchen</i>; wird nach dem Untergang der Titanic aus dem Wasser gefischt und überlebt; sehr kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Vaters ist																					</label>
																					<input type="text" value="Conrad" 
                                name="vars-Vater_VN" maxlength="30" id="vars-Vater_VN" 
                                data-fieldname="Vater_VN" 
                                data-default="Conrad" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Vaters ist																					</label>
																					<input type="text" value="Müller" 
                                name="vars-Vater_NN" maxlength="30" id="vars-Vater_NN" 
                                data-fieldname="Vater_NN" 
                                data-default="Müller" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Öl-Millionär aus Texas</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Roderick Nordman</i>, Passagier der ersten Klasse; amerikanischer Öl-Millionär aus Texas; elegant; freundlich; mit <i>Dolly</i> zusammen, die er sehr liebt; verlässt die sinkende Titanic nicht; sein Schicksal bleibt offen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Millionärs ist																					</label>
																					<input type="text" value="Roderick" 
                                name="vars-Millionaer_VN" maxlength="30" id="vars-Millionaer_VN" 
                                data-fieldname="Millionaer_VN" 
                                data-default="Roderick" 
                                class="field focuser default" />
							<span class="field_count">23x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Millionärs ist																					</label>
																					<input type="text" value="Nordman" 
                                name="vars-Millionaer_NN" maxlength="30" id="vars-Millionaer_NN" 
                                data-fieldname="Millionaer_NN" 
                                data-default="Nordman" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Tänzerin aus New York</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Dolly Havers</i>, Passagierin der ersten Klasse; Tänzerin aus New York; liebt <i>Roderick</i> sehr und hat Angst, dass er glaubt, dass sie nur wegen seines Geldes mit ihm zusammen ist; um ihre Liebe zu beweisen, verharrt sie mit ihm auf der sinkenden Titanic; ihr Schicksal bleibt offen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Tänzerin ist																					</label>
																					<input type="text" value="Dolly" 
                                name="vars-Taenzerin_VN" maxlength="30" id="vars-Taenzerin_VN" 
                                data-fieldname="Taenzerin_VN" 
                                data-default="Dolly" 
                                class="field focuser default" />
							<span class="field_count">38x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Tänzerin ist																					</label>
																					<input type="text" value="Havers" 
                                name="vars-Taenzerin_NN" maxlength="30" id="vars-Taenzerin_NN" 
                                data-fieldname="Taenzerin_NN" 
                                data-default="Havers" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Verehrer der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Bill Cody</i>, reicher Amerikaner; ein Verehrer von <i>Lily</i>; freundlich; unaufdringlich; macht Lily immer wieder Geschenke und lädt sie nach Amerika ein; von ihm stammen angeblich die Fahrkarten für die Titanic, was sich als Täuschung von <i>Alexander</i> herausstellt; wird nur erwähnt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des reichen Amerikaners ist																					</label>
																					<input type="text" value="Bill" 
                                name="vars-Amerikaner_VN" maxlength="30" id="vars-Amerikaner_VN" 
                                data-fieldname="Amerikaner_VN" 
                                data-default="Bill" 
                                class="field focuser default" />
							<span class="field_count">22x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des reichen Amerikaners ist																					</label>
																					<input type="text" value="Cody" 
                                name="vars-Amerikaner_NN" maxlength="30" id="vars-Amerikaner_NN" 
                                data-fieldname="Amerikaner_NN" 
                                data-default="Cody" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Vermieterin der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none">Frau <i>Lörkner</i>, <i>Lily</i>s Vermieterin in Berlin; Dauerwelle; wacht argwöhnisch über alles, was <i>Lily</i> und <i>Sofie</i> tun; wirft <i>Lily</i> und <i>Sofie</i> schließlich aus der Wohnung; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname der Vermieterin ist																					</label>
																					<input type="text" value="Lörker" 
                                name="vars-Vermieterin_NN" maxlength="30" id="vars-Vermieterin_NN" 
                                data-fieldname="Vermieterin_NN" 
                                data-default="Lörker" 
                                class="field focuser default" />
							<span class="field_count">25x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Garadrobiere im Theater</div>
				<div class="description" style="margin-top: 5px;display:none">Frau <i>Stratmann</i>, Garderobiere am Berliner Theater; gute Seele des Theaters; kümmert sich um <i>Gustavo</i>, wenn <i>Lily</i> auf der Bühne steht; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname der Gardarobiere ist																					</label>
																					<input type="text" value="Stratmann" 
                                name="vars-Garderobiere_NN" maxlength="30" id="vars-Garderobiere_NN" 
                                data-fieldname="Garderobiere_NN" 
                                data-default="Stratmann" 
                                class="field focuser default" />
							<span class="field_count">18x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Dramaturg am Berliner Theater</div>
				<div class="description" style="margin-top: 5px;display:none">Herr <i>Thaler</i>, Dramaturg am Berliner Theater; muss <i>Lily</i> wegen des Drucks von oben feuern, was ihm sehr schwer fällt; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Dramaturgen ist																					</label>
																					<input type="text" value="Thaler" 
                                name="vars-Dramaturg_NN" maxlength="30" id="vars-Dramaturg_NN" 
                                data-fieldname="Dramaturg_NN" 
                                data-default="Thaler" 
                                class="field focuser default" />
							<span class="field_count">27x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Schauspielerin am Berliner Theater</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Hedwig</i>, Schauspielkollegin am Berliner Theater; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der einen Schauspielerin ist																					</label>
																					<input type="text" value="Hedwig" 
                                name="vars-Schauspielerin1_VN" maxlength="30" id="vars-Schauspielerin1_VN" 
                                data-fieldname="Schauspielerin1_VN" 
                                data-default="Hedwig" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weitere Schauspielerin am Berliner Theater</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Paula</i>, Schauspielkollegin am Berliner Theater; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der anderen Schauspielerin ist																					</label>
																					<input type="text" value="Paula" 
                                name="vars-Schauspielerin2_VN" maxlength="30" id="vars-Schauspielerin2_VN" 
                                data-fieldname="Schauspielerin2_VN" 
                                data-default="Paula" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Schauspieler am Berliner Theater</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Robert</i>, Schauspielkollege am Berliner Theater; kommt aus reicher Familie; wurde enterbt, als er zum Theater ging; nicht blond; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des einen Schauspielers ist																					</label>
																					<input type="text" value="Robert" 
                                name="vars-Schauspieler1_VN" maxlength="30" id="vars-Schauspieler1_VN" 
                                data-fieldname="Schauspieler1_VN" 
                                data-default="Robert" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weiterer Schauspieler am Berliner Theater</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Oskar</i>, Schauspielkollege am Berliner Theater; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des anderen Schauspielers ist																					</label>
																					<input type="text" value="Oskar" 
                                name="vars-Schauspieler2_VN" maxlength="30" id="vars-Schauspieler2_VN" 
                                data-fieldname="Schauspieler2_VN" 
                                data-default="Oskar" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			Die Schauspielerin <span class='default Heldin_VN'>Lily</span> <span class='default Heldin_NN'>Braun</span> mit dem <span class='default Heldin_Haar'>blond</span>en Haar und den <span class='default Heldin_Augen'>blau</span>en Augen lebt zusammen mit ihrer besten Freundin <span class='default Freundin_VN'>Sofie</span> <span class='default Freundin_NN'>Suttner</span>, die <span class='default Freundin_Haar'>braun</span>es Haar und <span class='default Freundin_Augen'>braun</span>e Augen hat, und ihrem Hund <span class='default Heldin_Hund'>Gustavo</span> in Berlin. Als ihr Herr <span class='default Dramaturg_NN'>Thaler</span>, der Dramaturg am Theater, die Stelle kündigt und ihre Vermieterin Frau <span class='default Vermieterin_NN'>LÃ¶rker</span> sie aus der Wohnung schmeißt, kommt das Geschenk ihres amerikanischen Verehrers <span class='default Amerikaner_VN'>Bill</span> <span class='default Amerikaner_NN'>Cody</span> wie gerufen: zwei Fahrkarten für die Titanic. Auch ihre Kollegen <span class='default Schauspieler1_VN'>Robert</span>, <span class='default Schauspieler2_VN'>Oskar</span>, <span class='default Schauspielerin1_VN'>Hedwig</span> und <span class='default Schauspielerin2_VN'>Paula</span> und die nette Garderobiere Frau <span class='default Garderobiere_NN'>Stratmann</span> raten ihr, die Reise anzutreten. Gemeinsam mit <span class='default Freundin_VN'>Sofie</span> geht sie an Bord des Luxusdampfers. Dort lernt sie den freundlichen Steward <span class='default Steward_VN'>Felix</span> <span class='default Steward_NN'>Glasen</span>, den Millionär <span class='default Millionaer_VN'>Roderick</span> <span class='default Millionaer_NN'>Nordman</span> und seine Geliebte <span class='default Taenzerin_VN'>Dolly</span> <span class='default Taenzerin_NN'>Havers</span> sowie eine Familie aus der dritten Klasse, <span class='default Vater_VN'>Conrad</span> <span class='default Vater_NN'>MÃ¼ller</span>, <span class='default Mutter_VN'>KÃ¤the</span> <span class='default Mutter_NN'>MÃ¼ller</span>, <span class='default Junge_VN'>Harri</span> und <span class='default Maedchen_VN'>Gretchen</span>, kennen. Bald jedoch muss <span class='default Heldin_VN'>Lily</span> herausfinden, dass die Fahrkarten nicht von <span class='default Amerikaner_VN'>Bill</span> stammen, sondern ein Wahnsinniger sie auf das Schiff gelockt hat. Steckt wirklich der charmante <span class='default Fiesling_VN'>Alexander</span> <span class='default Fiesling_NN'>von Drachstetten</span> hinter der Sache? Nach dem Zusammenstoß der Titanic mit einem Eisberg beginnt für <span class='default Heldin_VN'>Lily</span> ihr ganz eigener Kampf um Leben und Tod...		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

