<?php $expire = 1406069557; /* http://web.personalnovel.local/customize/book/501.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=501">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Hundsurlaub" src="/tl_files/thumbnail-book/hundsurlaub-501-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Hundsurlaub“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-501" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Vater</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Peter Mayer</em><em>, Bello</em>s Herrchen; <em>Gisela</em>s Ehemann; Vater von <em>Annika</em> und <em>Simon</em><em>;</em> fühlt sich urlaubsreif und bucht daher für seine Familie eine Ferienwohnung in Seebad; wollte lieber in die Berge fahren, wurde aber von der Familie überstimmt. Er geht Probleme mit Vorliebe systematisch und logisch an, scheitert damit jedoch regelmäßig am ganz gewöhnlichen Familienchaos; reagiert auf die diversen Schwierigkeiten im Urlaub gelegentlich gereizt, was vor allem <em>Gisela</em> zu spüren bekommt, als sie den Wohnungsschlüssel verliert. Er will im Urlaub einen Schwerpunkt auf Kultur und Wandern legen, kann die Familie allerdings nicht dafür begeistern. <em>Peter </em>geht morgens immer mit <em>Bello</em> Gassi und Brötchen holen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Vaters ist																					</label>
																					<input type="text" value="Peter" 
                                name="vars-Vater_VN" maxlength="30" id="vars-Vater_VN" 
                                data-fieldname="Vater_VN" 
                                data-default="Peter" 
                                class="field focuser default" />
							<span class="field_count">616x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Vaters ist																					</label>
																					<input type="text" value="Mayer" 
                                name="vars-Vater_NN" maxlength="30" id="vars-Vater_NN" 
                                data-fieldname="Vater_NN" 
                                data-default="Mayer" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe des Vaters ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Vater_Haar" maxlength="30" id="vars-Vater_Haar" 
                                data-fieldname="Vater_Haar" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Kinder nennen den Vater																					</label>
																					<input type="text" value="Vati" 
                                name="vars-Vater_Spitz" maxlength="30" id="vars-Vater_Spitz" 
                                data-fieldname="Vater_Spitz" 
                                data-default="Vati" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mutter</div>
				<div class="description" style="margin-top: 5px;display:none">	<em>Gisela</em><em>, Bello</em>s Frauchen; <em>Peter</em><em>s</em> Ehefrau; Mutter von <em>Annika</em> und <em>Simon</em><em>;</em> macht häufig und inkonsequent Diät; will den Urlaub am liebsten mit Shoppen und am Strand verbringen; der ruhige Pol der Familie. Sie verliert den Schlüssel der Ferienwohnung, was zu einer angespannten Stimmung zwischen ihr und <em>Peter</em> führt, doch am Ende versöhnen sie sich.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Mutter ist																					</label>
																					<input type="text" value="Gisela" 
                                name="vars-Mutter_VN" maxlength="30" id="vars-Mutter_VN" 
                                data-fieldname="Mutter_VN" 
                                data-default="Gisela" 
                                class="field focuser default" />
							<span class="field_count">436x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Mutter ist																					</label>
																					<input type="text" value="blond" 
                                name="vars-Mutter_Haar" maxlength="30" id="vars-Mutter_Haar" 
                                data-fieldname="Mutter_Haar" 
                                data-default="blond" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Kinder nennen die Mutter																					</label>
																					<input type="text" value="Mutti" 
                                name="vars-Mutter_Spitz" maxlength="30" id="vars-Mutter_Spitz" 
                                data-fieldname="Mutter_Spitz" 
                                data-default="Mutti" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Tochter</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Annika</i>, Tochter von <i>Peter</i> und <i>Gisela</i>; im Teenageralter; ist ständig damit beschäftigt, zu telefonieren oder SMS zu schreiben; will den Urlaub am liebsten auch mit Shoppen und am Strand verbringen; für <i>Bello</i> ist sie die Beste, da sie ihm immer wieder Essen zusteckt; freundet sich im Urlaub mit <i>Mirko Berger</i> an, beide wollen auch nach dem Urlaub Kontakt halten. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Tochter ist																					</label>
																					<input type="text" value="Annika" 
                                name="vars-Tochter_VN" maxlength="30" id="vars-Tochter_VN" 
                                data-fieldname="Tochter_VN" 
                                data-default="Annika" 
                                class="field focuser default" />
							<span class="field_count">383x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Tochter ist																					</label>
																					<input type="text" value="rot" 
                                name="vars-Tochter_Haar" maxlength="30" id="vars-Tochter_Haar" 
                                data-fieldname="Tochter_Haar" 
                                data-default="rot" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Das Alter der Tochter ist																					</label>
																					<input type="text" value="Dreizehn" 
                                name="vars-Tochter_Alter" maxlength="30" id="vars-Tochter_Alter" 
                                data-fieldname="Tochter_Alter" 
                                data-default="Dreizehn" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Sohn</div>
				<div class="description" style="margin-top: 5px;display:none"> 	<em>Simon,</em> Sohn von <em>Peter</em> und <em>Gisela;</em> im Teenageralter; verbringt viel Zeit am Computer; will im Urlaub die meiste Zeit nur abhängen und Musik hören. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Sohnes ist																					</label>
																					<input type="text" value="Simon" 
                                name="vars-Sohn_VN" maxlength="30" id="vars-Sohn_VN" 
                                data-fieldname="Sohn_VN" 
                                data-default="Simon" 
                                class="field focuser default" />
							<span class="field_count">312x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe des Sohnes ist																					</label>
																					<input type="text" value="schwarz" 
                                name="vars-Sohn_Haar" maxlength="30" id="vars-Sohn_Haar" 
                                data-fieldname="Sohn_Haar" 
                                data-default="schwarz" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Hund</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Bello,</i> Hund der Familie und Ich-Erzähler (kann sowohl männlich als auch weiblich sein); liebt leckeres Essen und bekommt auch immer wieder etwas zugesteckt; sehr anhänglich; die Uneinigkeiten in der Familie verunsichern ihn und er versucht immer wieder, sie zu beruhigen und zu versöhnen; dabei kommt es zu einigen lustigen Situationen. Am Ende erweist sich <i>Bello</i> als Retter in der Not: Er findet den verlorenen Schlüssel, kommt einer Autoknackerbande auf die Schliche und rettet somit den Urlaub.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Hund (männlich oder weiblich) heißt																					</label>
																					<input type="text" value="Bello" 
                                name="vars-Hund_VN" maxlength="30" id="vars-Hund_VN" 
                                data-fieldname="Hund_VN" 
                                data-default="Bello" 
                                class="field focuser default" />
							<span class="field_count">78x</span>
						</div>
											<div class="field">
							<label>
							Die Fellfarbe des Hundes ist																					</label>
																					<input type="text" value="schwarz" 
                                name="vars-Hund_Haar" maxlength="30" id="vars-Hund_Haar" 
                                data-fieldname="Hund_Haar" 
                                data-default="schwarz" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Andere Familie in Seebad</div>
				<div class="description" style="margin-top: 5px;display:none">	Herr und Frau <i>Berger,</i> Eltern von <i>Mirko</i> und <i>Elena</i><em>;</em> machen auch in Seebad Urlaub; haben im selben unzumutbaren Hotel wie <i>Bellos</i> Familie gebucht und machen sich gemeinsam mit ihnen auf die Suche nach einer neuen Unterkunft; treffen die Familie immer wieder am Strand.<br /> <i>Mirko Berger,</i> Sohn von Herrn und Frau <i>Berger;</i> gut aussehend; in <i>Annikas</i> Alter; freundet sich mit <i>Annika</i> an und arrangiert immer wieder „zufällige“ Treffen mit ihr.<br /> <i>Elena Berger,</i> Tochter von Herrn und Frau <i>Berger;</i> steckt <i>Bello</i> immer wieder Leckerchen zu.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname der Familie ist																					</label>
																					<input type="text" value="Berger" 
                                name="vars-Familie_NN" maxlength="30" id="vars-Familie_NN" 
                                data-fieldname="Familie_NN" 
                                data-default="Berger" 
                                class="field focuser default" />
							<span class="field_count">38x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des Sohnes der anderen Familie ist																					</label>
																					<input type="text" value="Mirko" 
                                name="vars-Sohn2_VN" maxlength="30" id="vars-Sohn2_VN" 
                                data-fieldname="Sohn2_VN" 
                                data-default="Mirko" 
                                class="field focuser default" />
							<span class="field_count">22x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname der Tochter der anderen Familie ist																					</label>
																					<input type="text" value="Elena" 
                                name="vars-Tochter2_VN" maxlength="30" id="vars-Tochter2_VN" 
                                data-fieldname="Tochter2_VN" 
                                data-default="Elena" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ehepaar in Seebad</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Holger</i> und <i>Anne Alt,</i>Mieter der Ferienwohnung, die versehentlich auch an <i>Bellos</i> Familie vermietet wird; lassen die Familie eine Nacht bei sich schlafen; treffen sich danach noch zweimal in Seebad.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Mannes ist																					</label>
																					<input type="text" value="Holger" 
                                name="vars-Mieter_VN" maxlength="30" id="vars-Mieter_VN" 
                                data-fieldname="Mieter_VN" 
                                data-default="Holger" 
                                class="field focuser default" />
							<span class="field_count">10x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname der Frau ist																					</label>
																					<input type="text" value="Anne" 
                                name="vars-Mieterin_VN" maxlength="30" id="vars-Mieterin_VN" 
                                data-fieldname="Mieterin_VN" 
                                data-default="Anne" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Ehepaars ist																					</label>
																					<input type="text" value="Alt" 
                                name="vars-Mieter_NN" maxlength="30" id="vars-Mieter_NN" 
                                data-fieldname="Mieter_NN" 
                                data-default="Alt" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Beste Freundin der älteren Tochter</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Beate, Annikas</i> beste Freundin; wird nur erwähnt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der besten Freundin der Tochter ist																					</label>
																					<input type="text" value="Beate" 
                                name="vars-Freundin1_VN" maxlength="30" id="vars-Freundin1_VN" 
                                data-fieldname="Freundin1_VN" 
                                data-default="Beate" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Beste Freundin der Mutter</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Andrea, Giselas</i> beste Freundin; wird nur erwähnt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der besten Freundin der Mutter ist																					</label>
																					<input type="text" value="Andrea" 
                                name="vars-Freundin2_VN" maxlength="30" id="vars-Freundin2_VN" 
                                data-fieldname="Freundin2_VN" 
                                data-default="Andrea" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			<span class='default Vater_VN'>Peter</span> <span class='default Vater_NN'>Mayer</span> mit den <span class='default Vater_Haar'>braun</span>en Haaren ist urlaubsreif. Deswegen packt er seine Frau <span class='default Mutter_VN'>Gisela</span> mit den <span class='default Mutter_Haar'>blond</span>en Haaren, seinen Sohn <span class='default Sohn_VN'>Simon</span> mit den <span class='default Sohn_Haar'>schwarz</span>en Haaren, seine <span class='default Tochter_Alter'>Dreizehn</span>jährige Tochter <span class='default Tochter_VN'>Annika</span> mit den <span class='default Tochter_Haar'>rot</span>en Haaren und den Familienhund <span class='default Hund_VN'>Bello</span> mit dem <span class='default Hund_Haar'>schwarz</span>en Fell ins Auto und fährt mit ihnen ans Meer. Doch bereits bei der Suche nach der Unterkunft gibt es erste Probleme: Die gebuchte Ferienwohnung befindet sich in einem Rohbau, wie auch die Familie <span class='default Familie_NN'>Berger</span> mit den Kindern <span class='default Sohn2_VN'>Mirko</span> und <span class='default Tochter2_VN'>Elena</span> feststellen muss, die andere Ferienwohnung wird bereits von <span class='default Mieter_VN'>Holger</span> und <span class='default Mieterin_VN'>Anne</span> <span class='default Mieter_NN'>Alt</span> bewohnt. Auch der Rest des Urlaubs verläuft nicht ganz so, wie sich die Familie das vorgestellt hat - zu guter Letzt bekommen sich <span class='default Vater_Spitz'>Vati</span> und <span class='default Mutter_Spitz'>Mutti</span> auch noch in die Haare! Fest steht: Wieder zu Hause werden <span class='default Mutter_VN'>Gisela</span> und <span class='default Tochter_VN'>Annika</span> ihren besten Freundinnen <span class='default Freundin2_VN'>Andrea</span> und <span class='default Freundin1_VN'>Beate</span> eine Menge zu erzählen haben.		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

