<?php $expire = 1401785684; /* http://web.personalnovel.local/customize/book/586.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href="http://geburtstag.personalnovel.de/"></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=586">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Grießbrei und kandierte Chilischoten" src="/tl_files/thumbnail-book/griessbrei-und-kandierte-chilischoten-586-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Grießbrei und kandierte Chilischoten“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-586" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Heldin</div>
				<div class="description" style="margin-top: 5px;display:none"> <em>Susanne Rieger</em>, Mitte 50; temperamentvoll, lässt sich nicht auf halbe Sachen ein, kann gut organisieren und ist sehr pragmatisch; relativ schlank, mag Italien und seine Küche. Sie arbeitete lange bei einer Immobilienfirma in Wien. Als sie fristlos gekündigt wird, geht sie erst einmal in Urlaub. Dort trifft sie ihren ehemaligen Kollegen <em>Werner Hausmann</em> wieder und freundet sich mit ihm an. Als sie nach einiger Zeit keinen neuen Job findet und der bisherige Pächter des alten Familienbesitzes ‚Rosenschlösschen’ kündigt, beschließt sie, das Gutshaus selbst zu bewirtschaften. Sie bietet Kochkurse und Menüs an und lernt so den Sternekoch <em>Lars König</em> kennen, der ihr Avancen macht. Nachdem sie lange Zeit nichts von <em>Werner</em> gehört hat, lässt sie sich fast auf <em>Lars</em> ein, und sie planen zusammen ein Kochbuch. Mit der Untermieterin ihrer Tante, <em>Nina,</em> freundet sie sich – nach anfänglicher Skepsis – auch an, und <em>Nina </em>hilft ihr im ‚Rosenschlösschen‘. Nach einiger Zeit erfährt <em>Susanne</em> von <em>Werners</em> Unfall und sucht ihn auf; sie kommen wieder in Kontakt, und <em>Susanne</em> gibt <em>Lars</em> schließlich zu verstehen, dass sie ihn nicht liebt; <em>Werner</em> kommt ihr nach einer Einbruchsserie im ‚Rosenschlösschen‘ zu Hilfe und erholt sich dort ganz von seinem Unfall; am Ende finden <em>Susanne</em> und <em>Werner</em> endgültig zusammen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Heldin ist																					</label>
																					<input type="text" value="Susanne" 
                                name="vars-Heldin_VN" maxlength="30" id="vars-Heldin_VN" 
                                data-fieldname="Heldin_VN" 
                                data-default="Susanne" 
                                class="field focuser default" />
							<span class="field_count">489x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Heldin ist																					</label>
																					<input type="text" value="Rieger" 
                                name="vars-Heldin_NN" maxlength="30" id="vars-Heldin_NN" 
                                data-fieldname="Heldin_NN" 
                                data-default="Rieger" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Heldin ist																					</label>
																					<input type="text" value="schwarz" 
                                name="vars-Heldin_Augen" maxlength="30" id="vars-Heldin_Augen" 
                                data-fieldname="Heldin_Augen" 
                                data-default="schwarz" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Heldin ist																					</label>
																					<input type="text" value="dunkelblond" 
                                name="vars-Heldin_Haar" maxlength="30" id="vars-Heldin_Haar" 
                                data-fieldname="Heldin_Haar" 
                                data-default="dunkelblond" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Das Parfum der Heldin ist																					</label>
																					<input type="text" value="Chanel No. 5" 
                                name="vars-Heldin_Duft" maxlength="30" id="vars-Heldin_Duft" 
                                data-fieldname="Heldin_Duft" 
                                data-default="Chanel No. 5" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Tante der Heldin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Anna </em><em>Burggruber</em>, <em>Susannes</em> Tante väterlicherseits und knapp 80 Jahre alt; lebt in der Steiermark und liebt ihren Garten; war erst Handarbeitslehrerin und später Gärtnerin in der Gärtnerei ihres Bruders, <em>Susannes</em> Vater. Sie hat einen leichten österreichischen Akzent; ist <em>Susannes</em> Plänen gegenüber eher skeptisch, steht ihrer Nichte aber immer gern zur Seite.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Tante ist																					</label>
																					<input type="text" value="Anna" 
                                name="vars-Tante_VN" maxlength="30" id="vars-Tante_VN" 
                                data-fieldname="Tante_VN" 
                                data-default="Anna" 
                                class="field focuser default" />
							<span class="field_count">83x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Tante ist																					</label>
																					<input type="text" value="Burggruber" 
                                name="vars-Tante_NN" maxlength="30" id="vars-Tante_NN" 
                                data-fieldname="Tante_NN" 
                                data-default="Burggruber" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Untermieterin der Tante</div>
				<div class="description" style="margin-top: 5px;display:none"> <em>Nina</em>, die Hilfe von Tante <em>Anna</em> und <em>Felix</em>’ Mutter, etwa Mitte 20; pragmatisch und selbstständig; hat anfangs noch lila gefärbte Haare, später schwarze; kleidet sich punkig. <em>Nina </em>hat selbst eine Werkstatt, wo sie Recyclingkunsthandwerk betreibt. Am Anfang versteht sich <em>Susanne</em> gar nicht mit ihr. Langsam freundet sie sich <em>Nina </em>trotz allem mit <em>Susanne</em> an und hilft ihr beim Kochen und Kurse geben im ‚Rosenschlösschen‘. Sie wird am Ende vom neuen Dorfarzt umschwärmt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Untermieterin ist																					</label>
																					<input type="text" value="Nina" 
                                name="vars-Tantenhilfe_VN" maxlength="30" id="vars-Tantenhilfe_VN" 
                                data-fieldname="Tantenhilfe_VN" 
                                data-default="Nina" 
                                class="field focuser default" />
							<span class="field_count">135x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der kleine Sohn der Untermieterin</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Felix, Ninas</i> siebenjähriger Sohn; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Sohnes der Untermieterin ist																					</label>
																					<input type="text" value="Felix" 
                                name="vars-Hilfe_Sohn" maxlength="30" id="vars-Hilfe_Sohn" 
                                data-fieldname="Hilfe_Sohn" 
                                data-default="Felix" 
                                class="field focuser default" />
							<span class="field_count">41x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Architekt</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Werner Hausmann</em>, ein ehemaliger Architekt bei Immo &amp; Wert; sehr galant und zuvorkommend, manchmal etwas antiquiert; sehr ruhig und bedacht. <em>Susanne</em> trifft&nbsp; ihn auf einer Italienreise nach ihrer Kündigung zufällig wieder; sie verbringen die Tage in Abano gemeinsam. Zurück zu Hause gehen er und <em>Susanne</em> ab und zu essen. Er erstellt ein Gutachten über das ‚Rosenschlösschen‘ und plant mit Susanne den Umbau. Nach einem schweren Autounfall meldet er sich lange nicht bei <em>Susanne</em>, bis diese vor seiner Tür steht. Er verbringt Ostern auf dem ‚Rosenschlösschen‘ und kommt nach der Einbruchsserie zu <em>Susanne</em>. Als er die Folgen seines Unfalls endgültig überwunden hat, gesteht er <em>Susanne</em> seine Liebe und macht ihr einen Antrag.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Architekten ist																					</label>
																					<input type="text" value="Werner" 
                                name="vars-Architekt_VN" maxlength="30" id="vars-Architekt_VN" 
                                data-fieldname="Architekt_VN" 
                                data-default="Werner" 
                                class="field focuser default" />
							<span class="field_count">167x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Architekten ist																					</label>
																					<input type="text" value="Hausmann" 
                                name="vars-Architekt_NN" maxlength="30" id="vars-Architekt_NN" 
                                data-fieldname="Architekt_NN" 
                                data-default="Hausmann" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
											<div class="field">
							<label>
							Die erwachsene Tochter des Achitekten heißt																					</label>
																					<input type="text" value="Viktoria" 
                                name="vars-Architekt_Tochter" maxlength="30" id="vars-Architekt_Tochter" 
                                data-fieldname="Architekt_Tochter" 
                                data-default="Viktoria" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Sternekoch</div>
				<div class="description" style="margin-top: 5px;display:none"> <em>Lars König</em>, ein Sternekoch, den <em>Susanne</em> für ihre Kurse engagiert; betreibt an der Alster in Hamburg ein Restaurant, das Landhaus <em>König</em>, ist aber gebürtiger Bayer; sowohl Koch wie auch Entertainer. Er macht <em>Susanne</em> massiv Avancen, ist aber auch sehr anstrengend. Er möchte <em>Susanne</em> heiraten und scheint nie auf den Gedanken zu kommen, dass <em>Susanne</em> weniger für ihn empfindet als er für sie. Nach der Präsentation ihres gemeinsamen Kochbuchs macht <em>Susanne</em> ihm klar, dass sie nur Freunde sind.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Kochs ist																					</label>
																					<input type="text" value="Lars" 
                                name="vars-Koch_VN" maxlength="30" id="vars-Koch_VN" 
                                data-fieldname="Koch_VN" 
                                data-default="Lars" 
                                class="field focuser default" />
							<span class="field_count">139x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Kochs ist																					</label>
																					<input type="text" value="König" 
                                name="vars-Koch_NN" maxlength="30" id="vars-Koch_NN" 
                                data-fieldname="Koch_NN" 
                                data-default="König" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die beste Freundin der Heldin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Doris</em>, <em>Susannes</em> beste Freundin; Professorin für Germanistik; eine wunderbare Freundin, aber sie kann auch ziemlich anstrengend sein. Von Natur aus ein freundlicher Mensch, doch sobald sie jemanden nicht besonders mag, verschanzt sie sich hinter Überheblichkeit, wie eben bei <em>Lars</em>. Sie kommt <em>Susanne</em> hin und wieder besuchen und nimmt an den Kursen und Feiern im ‚Rosenschlösschen‘ teil. Sie selbst sucht noch nach dem richtigen Mann, ihre letzte Geschichte mit einem Finanzbeamten ist schief gegangen. Wenn <em>Susanne</em> in Wien ist, wohnt sie bei <em>Doris.</em></div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der besten Freundin ist																					</label>
																					<input type="text" value="Doris" 
                                name="vars-beste_Freundin_VN" maxlength="30" id="vars-beste_Freundin_VN" 
                                data-fieldname="beste_Freundin_VN" 
                                data-default="Doris" 
                                class="field focuser default" />
							<span class="field_count">129x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Eine ehemalige Kollegin der Heldin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Nora</em>, eine ehemalige Arbeitskollegin, die <em>Susanne</em> hin und wieder trifft und die anfangs ebenso Probleme hat, einen neuen Job zu finden; kommt auch zu den Feiern im ‚Rosenschlösschen; hat eine anstrengende Teenagertochter und ist verheiratet.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Kollegin ist																					</label>
																					<input type="text" value="Nora" 
                                name="vars-Kollegin_VN" maxlength="30" id="vars-Kollegin_VN" 
                                data-fieldname="Kollegin_VN" 
                                data-default="Nora" 
                                class="field focuser default" />
							<span class="field_count">23x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die ehemalige Assistentin der Heldin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Doreen Wagner</em>, <em>Susannes</em> Assistentin, die mit <em>Susanne</em> gemeinsam entlassen wird; ist Alleinerziehende mit einem Sohn; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der ehemaligen Assistentin ist																					</label>
																					<input type="text" value="Doreen" 
                                name="vars-Assistentin_VN" maxlength="30" id="vars-Assistentin_VN" 
                                data-fieldname="Assistentin_VN" 
                                data-default="Doreen" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der ehemaligen Assistentin ist																					</label>
																					<input type="text" value="Wagner" 
                                name="vars-Assistentin_NN" maxlength="30" id="vars-Assistentin_NN" 
                                data-fieldname="Assistentin_NN" 
                                data-default="Wagner" 
                                class="field focuser default" />
							<span class="field_count">18x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Haushälterin</div>
				<div class="description" style="margin-top: 5px;display:none"><p> Frau <em>Gruber</em>, die unverzichtbare Haushaltshilfe im ‚Rosenschlösschen‘; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname der Haushälterin ist																					</label>
																					<input type="text" value="Gruber" 
                                name="vars-Perle_NN" maxlength="30" id="vars-Perle_NN" 
                                data-fieldname="Perle_NN" 
                                data-default="Gruber" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Lehrerin</div>
				<div class="description" style="margin-top: 5px;display:none">Frau <em>Kramreiter</em>, <em>Felix</em>’ Lehrerin; belegt einen Kochkurs im ‚Rosenschlösschen‘; kleine Rolle</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname der Lehrerin ist																					</label>
																					<input type="text" value="Kramreiter" 
                                name="vars-Lehrerin" maxlength="30" id="vars-Lehrerin" 
                                data-fieldname="Lehrerin" 
                                data-default="Kramreiter" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			<span class='default Heldin_VN'>Susanne</span> <span class='default Heldin_NN'>Rieger</span>, eine <span class='default Heldin_Augen'>schwarz</span>äugige Mittfünzigerin mit <span class='default Heldin_Haar'>dunkelblond</span>em Haar, wird zusammen mit ihrer Assistentin, <span class='default Assistentin_VN'>Doreen</span> <span class='default Assistentin_NN'>Wagner</span>, gefeuert. Sie beschließt daraufhin, sich in der Steiermark ein neues Leben als Gastwirtin aufzubauen. Unterstützt wird sie von ihrer Tante <span class='default Tante_VN'>Anna</span> <span class='default Tante_NN'>Burggruber</span>, dem Architekten <span class='default Architekt_VN'>Werner</span> <span class='default Architekt_NN'>Hausmann</span>, der Haushälterin Frau <span class='default Perle_NN'>Gruber</span> und der punkigen <span class='default Tantenhilfe_VN'>Nina</span> sowie deren kleinem Sohn <span class='default Hilfe_Sohn'>Felix</span>. Einen Hauch <span class='default Heldin_Duft'>Chanel No. 5</span> aufgelegt und los gehts! Bald bemüht sich auch der Sternekoch <span class='default Koch_VN'>Lars</span> <span class='default Koch_NN'>KÃ¶nig</span> um <span class='default Heldin_VN'>Susanne</span>, und ihre Kochkurse werden nicht nur von ihrer besten Freundin <span class='default beste_Freundin_VN'>Doris</span> und ihrer Kollegin <span class='default Kollegin_VN'>Nora</span> besucht, sondern kommen sogar bei der Dorflehrerin Frau <span class='default Lehrerin'>Kramreiter</span> gut an. Doch warum meldet sich <span class='default Architekt_VN'>Werner</span> plötzlich nicht mehr? Und wer bricht regelmäßig in <span class='default Heldin_VN'>Susanne</span>s Küche ein?		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

