<?php $expire = 1405916167; /* http://web.personalnovel.local/customize/book/657.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=657">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Stilles Ende, schnelles Erbe" src="/tl_files/thumbnail-book/stilles-ende-schnelles-erbe-657-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Stilles Ende, schnelles Erbe“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-657" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mutter</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Ruth Weber</em>, Mitte 50, eine engagierte Altenpflegerin im Seniorenheim ‚Schloss’; sehr energische, durchgreifende Persönlichkeit mit viel Humor. Nachdem sie unerwartet mehrere Erbschaften macht, wird die Polizei stutzig und beginnt zu ermitteln. Weder ihre Tochter <em>Sonja</em>, noch ihre beiden „Lieblingssenioren“ <em>Erna</em> und <em>Ottmar</em>, können glauben, dass <em>Ruth</em> zu einem Mord fähig wäre. Doch Kommissar <em>Hermann</em> hat schlechte Nachrichten: Die Verstorbenen wurden vergiftet und <em>Ruth</em> wird vom Dienst freigestellt. Für sie bricht damit eine Welt zusammen, doch sie kann auf ihre Tochter <em>Sonja</em>, auf <em>Erna</em> und <em>Ottmar</em> zählen, die die Lösung des Falls durch ihren couragierten Einsatz stetig vorantreiben. Als der wahre Täter überführt ist, wird <em>Ruth</em> rehabilitiert und darf ihren Dienst im ‚Schloss‘ wieder aufnehmen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Mutter lautet																					</label>
																					<input type="text" value="Ruth" 
                                name="vars-Mutter_VN" maxlength="30" id="vars-Mutter_VN" 
                                data-fieldname="Mutter_VN" 
                                data-default="Ruth" 
                                class="field focuser default" />
							<span class="field_count">555x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Mutter lautet																					</label>
																					<input type="text" value="Weber" 
                                name="vars-Mutter_NN" maxlength="30" id="vars-Mutter_NN" 
                                data-fieldname="Mutter_NN" 
                                data-default="Weber" 
                                class="field focuser default" />
							<span class="field_count">18x</span>
						</div>
											<div class="field">
							<label>
							So nennt die Tochter ihre Mutter																					</label>
																					<input type="text" value="Mama" 
                                name="vars-Mutter_Spitzname" maxlength="30" id="vars-Mutter_Spitzname" 
                                data-fieldname="Mutter_Spitzname" 
                                data-default="Mama" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Mutter ist (kleiner Anfangsbuchstabe)																					</label>
																					<input type="text" value="grau" 
                                name="vars-Mutter_Augen" maxlength="30" id="vars-Mutter_Augen" 
                                data-fieldname="Mutter_Augen" 
                                data-default="grau" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Mutter ist (kleiner Anfangsbuchstabe)																					</label>
																					<input type="text" value="braun" 
                                name="vars-Mutter_Haar" maxlength="30" id="vars-Mutter_Haar" 
                                data-fieldname="Mutter_Haar" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Die Mutter trägt gerne den Duft																					</label>
																					<input type="text" value="Morgentau" 
                                name="vars-Mutter_Duft" maxlength="30" id="vars-Mutter_Duft" 
                                data-fieldname="Mutter_Duft" 
                                data-default="Morgentau" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Die Lieblingsfarbe der Mutter ist (großer Anfangsbuchstabe)																					</label>
																					<input type="text" value="Rot" 
                                name="vars-Mutter_Farbe" maxlength="30" id="vars-Mutter_Farbe" 
                                data-fieldname="Mutter_Farbe" 
                                data-default="Rot" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Mutter hört gerne																					</label>
																					<input type="text" value="die Beatles" 
                                name="vars-Mutter_Musik" maxlength="30" id="vars-Mutter_Musik" 
                                data-fieldname="Mutter_Musik" 
                                data-default="die Beatles" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Lieblingsserie der Mutter heißt																					</label>
																					<input type="text" value="Desperate Housewifes" 
                                name="vars-Mutter_Serie" maxlength="30" id="vars-Mutter_Serie" 
                                data-fieldname="Mutter_Serie" 
                                data-default="Desperate Housewifes" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Der Kater der Mutter trägt den Namen																					</label>
																					<input type="text" value="Schnurr" 
                                name="vars-Mutter_Katze" maxlength="30" id="vars-Mutter_Katze" 
                                data-fieldname="Mutter_Katze" 
                                data-default="Schnurr" 
                                class="field focuser default" />
							<span class="field_count">17x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Tochter</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Sonja Weber</em>, Mitte 20; Kindergärtnerin und <em>Ruths</em> Tochter; hat ein sehr gutes Verhältnis zu ihrer Mutter. Sie ist geschockt, als man ihre Mutter verdächtigt, mehrere Heimbewohner vergiftet zu haben. Sie steht <em>Ruth</em> immer zur Seite. Anfangs ist sie nicht davon begeistert, dass sie Kommissar <em>Ingo Hermann </em>netter findet als sie sollte, doch schließlich lernen sich die beiden besser kennen. Sie ist es, die <em>Ingo</em> überredet, den Verdacht gegen <em>Karl Aumann</em> zu verfolgen. Am Ende kommt sie mit <em>Ingo</em> zusammen.</p></div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Tochter lautet																					</label>
																					<input type="text" value="Sonja" 
                                name="vars-Tochter_VN" maxlength="30" id="vars-Tochter_VN" 
                                data-fieldname="Tochter_VN" 
                                data-default="Sonja" 
                                class="field focuser default" />
							<span class="field_count">204x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Tochter lautet																					</label>
																					<input type="text" value="Weber" 
                                name="vars-Tochter_NN" maxlength="30" id="vars-Tochter_NN" 
                                data-fieldname="Tochter_NN" 
                                data-default="Weber" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Tochter ist (kleiner Anfangsbuchstabe)																					</label>
																					<input type="text" value="grün" 
                                name="vars-Tochter_Augen" maxlength="30" id="vars-Tochter_Augen" 
                                data-fieldname="Tochter_Augen" 
                                data-default="grün" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Tochter ist (großer Anfangsbuchstabe)																					</label>
																					<input type="text" value="Grün" 
                                name="vars-Tochter_Augen_G" maxlength="30" id="vars-Tochter_Augen_G" 
                                data-fieldname="Tochter_Augen_G" 
                                data-default="Grün" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Tochter ist (kleiner Anfangsbuchstabe)																					</label>
																					<input type="text" value="blond" 
                                name="vars-Tochter_Haar" maxlength="30" id="vars-Tochter_Haar" 
                                data-fieldname="Tochter_Haar" 
                                data-default="blond" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Tochter ist (großer Anfangsbuchstabe)																					</label>
																					<input type="text" value="Blond" 
                                name="vars-Tochter_Haar_G" maxlength="30" id="vars-Tochter_Haar_G" 
                                data-fieldname="Tochter_Haar_G" 
                                data-default="Blond" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Lieblingsfarbe der Tochter ist (großer Anfangsbuchstabe)																					</label>
																					<input type="text" value="Blau" 
                                name="vars-Tochter_Farbe" maxlength="30" id="vars-Tochter_Farbe" 
                                data-fieldname="Tochter_Farbe" 
                                data-default="Blau" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Lieblingsserie der Tochter heißt																					</label>
																					<input type="text" value="Die Simpsons" 
                                name="vars-Tochter_Serie" maxlength="30" id="vars-Tochter_Serie" 
                                data-fieldname="Tochter_Serie" 
                                data-default="Die Simpsons" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Wagemutige Seniorin</div>
				<div class="description" style="margin-top: 5px;display:none"> <em>Erna Graf</em>, trotz ihrer Jahre immer noch eine richtige Lady, seit einem Jahr Bewohnerin des Seniorenheims, aber immer noch sehr selbstständig und aktiv; sehr direkt, tatkräftig und pragmatisch. Sie findet den Verdacht gegen <em>Ruth</em> lächerlich und setzt, zusammen mit ihrem besten Freund <em>Ottmar</em>, alles dran den wahren Täter zu finden. Dazu überlegen sie sich ein raffiniertes Täuschungsmanöver. <em>Erna</em> streut im Altenheim das Gerücht, viel Geld vererben zu wollen und spielt lässt kurz darauf alle glauben, sie sei an einer Grippe erkrankt. <em>Karl Aumann</em> schluckt den Köder und versucht, <em>Erna</em> mit Tabletten umzubringen. Dies wird jedoch von der versteckten Ermittlerin <em>Simone Müller</em> verhindert, die den wahren Mörder überführt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der wagemutigen Seniorin lautet																					</label>
																					<input type="text" value="Erna" 
                                name="vars-Seniorin_VN" maxlength="30" id="vars-Seniorin_VN" 
                                data-fieldname="Seniorin_VN" 
                                data-default="Erna" 
                                class="field focuser default" />
							<span class="field_count">323x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der wagemutigen Seniorin lautet																					</label>
																					<input type="text" value="Graf" 
                                name="vars-Seniorin_NN" maxlength="30" id="vars-Seniorin_NN" 
                                data-fieldname="Seniorin_NN" 
                                data-default="Graf" 
                                class="field focuser default" />
							<span class="field_count">26x</span>
						</div>
											<div class="field">
							<label>
							Die Seniorin trägt gerne Kostüme folgender Farbe (kleiner Anfangsbuchstabe)																					</label>
																					<input type="text" value="taubenblau" 
                                name="vars-Seniorin_Farbe" maxlength="30" id="vars-Seniorin_Farbe" 
                                data-fieldname="Seniorin_Farbe" 
                                data-default="taubenblau" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Wagemutiger Senior</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Ottmar Herzog</em>, rüstiger alter Herr, vernunftorientiert und bodenständig. Er wohnt ebenfalls seit einem Jahr im ‚Schloss’ und ist <em>Ernas</em> bester Freund. Er unterstützt <em>Erna</em> bei der Überführung von <em>Karl Aumann</em>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des wagemutigen Seniors lautet																					</label>
																					<input type="text" value="Ottmar" 
                                name="vars-Senior_VN" maxlength="30" id="vars-Senior_VN" 
                                data-fieldname="Senior_VN" 
                                data-default="Ottmar" 
                                class="field focuser default" />
							<span class="field_count">162x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des wagemutigen Seniors lautet																					</label>
																					<input type="text" value="Herzog" 
                                name="vars-Senior_NN" maxlength="30" id="vars-Senior_NN" 
                                data-fieldname="Senior_NN" 
                                data-default="Herzog" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Kommissar</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Ingo Hermann, </em>Kommissar, der im Fall der vergifteten Senioren ermittelt. Er ist freundlich und kompetent. Als er die hübsche Tochter seiner Hauptverdächtigen kennenlernt, kommt er ins Zweifeln. Schließlich lässt er sich von <em>Sonja </em>überreden, auch in andere Richtungen zu ermitteln und kann so den Fall schnell zum Abschluss führen. Am Ende gibt es für ihn und <em>Sonja </em>ein Happy End.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Kommissars lautet																					</label>
																					<input type="text" value="Ingo" 
                                name="vars-Kommissar_VN" maxlength="30" id="vars-Kommissar_VN" 
                                data-fieldname="Kommissar_VN" 
                                data-default="Ingo" 
                                class="field focuser default" />
							<span class="field_count">104x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Kommissars lautet																					</label>
																					<input type="text" value="Hermann" 
                                name="vars-Kommissar_NN" maxlength="30" id="vars-Kommissar_NN" 
                                data-fieldname="Kommissar_NN" 
                                data-default="Hermann" 
                                class="field focuser default" />
							<span class="field_count">55x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Heimleiterin</div>
				<div class="description" style="margin-top: 5px;display:none"> <em>Erika Mannheimer</em>, resolute, aber herzliche Heimleiterin. Sie kann zwar dem Verdacht gegen <em>Ruth</em> keinen Glauben schenken, beurlaubt sie aber trotzdem, wenn auch widerwillig. Sie unterstützt die Polizei, indem sie die verdeckte Ermittlerin <em>Simone Müller</em> einschleust und <em>Karl Aumann</em> als „Pflegeschülerin“ zur Seite stellt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Heimleiterin lautet																					</label>
																					<input type="text" value="Erika" 
                                name="vars-Heimleiterin_VN" maxlength="30" id="vars-Heimleiterin_VN" 
                                data-fieldname="Heimleiterin_VN" 
                                data-default="Erika" 
                                class="field focuser default" />
							<span class="field_count">79x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Heimleiterin lautet																					</label>
																					<input type="text" value="Mannheimer" 
                                name="vars-Heimleiterin" maxlength="30" id="vars-Heimleiterin" 
                                data-fieldname="Heimleiterin" 
                                data-default="Mannheimer" 
                                class="field focuser default" />
							<span class="field_count">47x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Kollegin 1</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Susanne Ernstig</em>, eine Kollegin von <em>Ruth</em>, lebensfroh, Fan von aufregenden Strandurlauben (nette Bekanntschaft inklusive)</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Kollegin auf Station Zwei lautet																					</label>
																					<input type="text" value="Susanne" 
                                name="vars-Kollegin_eins_VN" maxlength="30" id="vars-Kollegin_eins_VN" 
                                data-fieldname="Kollegin_eins_VN" 
                                data-default="Susanne" 
                                class="field focuser default" />
							<span class="field_count">43x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Kollegin auf Station Zwei lautet																					</label>
																					<input type="text" value="Ernstig" 
                                name="vars-Kollegin_eins_NN" maxlength="30" id="vars-Kollegin_eins_NN" 
                                data-fieldname="Kollegin_eins_NN" 
                                data-default="Ernstig" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Kollegin 2</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Margit Werner</em>, eine Kollegin von <em>Ruth</em>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Kollegin auf Station Eins lautet																					</label>
																					<input type="text" value="Margit" 
                                name="vars-Kollegin_zwei_VN" maxlength="30" id="vars-Kollegin_zwei_VN" 
                                data-fieldname="Kollegin_zwei_VN" 
                                data-default="Margit" 
                                class="field focuser default" />
							<span class="field_count">33x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Kollegin auf Station Eins lautet																					</label>
																					<input type="text" value="Werner" 
                                name="vars-Kollegin_zwei_NN" maxlength="30" id="vars-Kollegin_zwei_NN" 
                                data-fieldname="Kollegin_zwei_NN" 
                                data-default="Werner" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Kunsttherapeutin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Annika Witting</em>, die Kunsttherapeutin im Seniorenheim, unkompliziert und kreativ. Sie kann sich gut in die Heimbewohner einfühlen. Außerdem erweist sie sich als wertvolle Ratgeberin für <em>Ruth.</em></div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Kunsttherapeutin lautet																					</label>
																					<input type="text" value="Annika" 
                                name="vars-Kunstfrau_VN" maxlength="30" id="vars-Kunstfrau_VN" 
                                data-fieldname="Kunstfrau_VN" 
                                data-default="Annika" 
                                class="field focuser default" />
							<span class="field_count">30x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Kunsttherapeutin lautet																					</label>
																					<input type="text" value="Witting" 
                                name="vars-Kunstfrau_NN" maxlength="30" id="vars-Kunstfrau_NN" 
                                data-fieldname="Kunstfrau_NN" 
                                data-default="Witting" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mörder</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Karl Aumann</em>, spielsüchtiger Altenpfleger mit hohen Schulden. Nachdem <em>Ruth</em> beim ersten Todesfall ein wertvolles Bild geerbt hatte, kommt er auf die Idee Testamente zu fälschen, Senioren zu vergiften und den Verdacht auf <em>Ruth</em> zu lenken um später unbehelligt eine große Erbschaft für sich selbst einzustreichen. Sein Plan geht auf, bis <em>Erna</em> und <em>Ottmar</em> ihm gemeinsam mit der Polizei eine Falle stellen. Er wird überführt, gibt alles zu und wird zu einer langen Freiheitsstrafe verurteilt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Mörders lautet																					</label>
																					<input type="text" value="Karl" 
                                name="vars-Moerder_VN" maxlength="30" id="vars-Moerder_VN" 
                                data-fieldname="Moerder_VN" 
                                data-default="Karl" 
                                class="field focuser default" />
							<span class="field_count">145x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Mörders lautet																					</label>
																					<input type="text" value="Aumann" 
                                name="vars-Moerder_NN" maxlength="30" id="vars-Moerder_NN" 
                                data-fieldname="Moerder_NN" 
                                data-default="Aumann" 
                                class="field focuser default" />
							<span class="field_count">74x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Heimbewohnerin 1</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Anna Schmidt</em>, Bewohnerin des Seniorenheims, Freundin von <em>Flora Meier</em>, sehr redselig; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Heimbewohnerin 1 lautet																					</label>
																					<input type="text" value="Anna" 
                                name="vars-Heimbewohnerin_eins_VN" maxlength="30" id="vars-Heimbewohnerin_eins_VN" 
                                data-fieldname="Heimbewohnerin_eins_VN" 
                                data-default="Anna" 
                                class="field focuser default" />
							<span class="field_count">19x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Heimbewohnerin 1 lautet																					</label>
																					<input type="text" value="Schmidt" 
                                name="vars-Heimbewohnerin_eins_NN" maxlength="30" id="vars-Heimbewohnerin_eins_NN" 
                                data-fieldname="Heimbewohnerin_eins_NN" 
                                data-default="Schmidt" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Heimbewohnerin 2</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Flora Meier</em>, Bewohnerin des Seniorenheims, Freundin von <em>Anna Schmidt</em>; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Heimbewohnerin 2 lautet																					</label>
																					<input type="text" value="Flora" 
                                name="vars-Heimbewohnerin_zwei_VN" maxlength="30" id="vars-Heimbewohnerin_zwei_VN" 
                                data-fieldname="Heimbewohnerin_zwei_VN" 
                                data-default="Flora" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Heimbewohnerin 2 lautet																					</label>
																					<input type="text" value="Meier" 
                                name="vars-Heimbewohnerin_zwei_NN" maxlength="30" id="vars-Heimbewohnerin_zwei_NN" 
                                data-fieldname="Heimbewohnerin_zwei_NN" 
                                data-default="Meier" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mitglied der Männerrunde 1</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Rüdiger Schwarz</em>, ‚Schloss’-Bewohner, Mitglied in <em>Ottmars</em> Männerrunde; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Heimbewohners 1 lautet																					</label>
																					<input type="text" value="Rüdiger" 
                                name="vars-Altherr_eins_VN" maxlength="30" id="vars-Altherr_eins_VN" 
                                data-fieldname="Altherr_eins_VN" 
                                data-default="Rüdiger" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Heimbewohners 1 lautet																					</label>
																					<input type="text" value="Schwarz" 
                                name="vars-Altherr_eins_NN" maxlength="30" id="vars-Altherr_eins_NN" 
                                data-fieldname="Altherr_eins_NN" 
                                data-default="Schwarz" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mitglied der Männerrunde 2</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Horst Schneider</em>, ‚Schloss’-Bewohner, Mitglied in <em>Ottmars</em> Männerrunde; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Heimbewohners 2 lautet																					</label>
																					<input type="text" value="Horst" 
                                name="vars-Altherr_zwei_VN" maxlength="30" id="vars-Altherr_zwei_VN" 
                                data-fieldname="Altherr_zwei_VN" 
                                data-default="Horst" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Heimbewohners 2 lautet																					</label>
																					<input type="text" value="Schneider" 
                                name="vars-Altherr_zwei_NN" maxlength="30" id="vars-Altherr_zwei_NN" 
                                data-fieldname="Altherr_zwei_NN" 
                                data-default="Schneider" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mitglied der Männerrunde 3</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Heinz Bär</em>, ‚Schloss’-Bewohner, Mitglied in <em>Ottmars</em> Männerrunde; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Heimbewohners 3 lautet																					</label>
																					<input type="text" value="Heinz" 
                                name="vars-Altherr_drei_VN" maxlength="30" id="vars-Altherr_drei_VN" 
                                data-fieldname="Altherr_drei_VN" 
                                data-default="Heinz" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Heimbewohners 3 lautet																					</label>
																					<input type="text" value="Bär" 
                                name="vars-Altherr_drei_NN" maxlength="30" id="vars-Altherr_drei_NN" 
                                data-fieldname="Altherr_drei_NN" 
                                data-default="Bär" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Verdeckte Ermittlerin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Simone Müller</em>, eine verdeckte Ermittlerin. Sie wird <em>Karl Aumann </em>als „Pflegeschülerin“ zugeteilt und hindert ihn daran, <em>Erna</em> die Tabletten zu verabreichen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der verdeckten Ermittlerin lautet																					</label>
																					<input type="text" value="Simone" 
                                name="vars-Polizistin_VN" maxlength="30" id="vars-Polizistin_VN" 
                                data-fieldname="Polizistin_VN" 
                                data-default="Simone" 
                                class="field focuser default" />
							<span class="field_count">58x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Verdeckten Ermittlerin lautet																					</label>
																					<input type="text" value="Müller" 
                                name="vars-Polizistin_NN" maxlength="30" id="vars-Polizistin_NN" 
                                data-fieldname="Polizistin_NN" 
                                data-default="Müller" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Anwalt</div>
				<div class="description" style="margin-top: 5px;display:none">Herr <em>Wagner</em>, <em>Ruths</em> Anwalt; sehr kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Anwalts lautet																					</label>
																					<input type="text" value="Wagner" 
                                name="vars-Anwalt_NN" maxlength="30" id="vars-Anwalt_NN" 
                                data-fieldname="Anwalt_NN" 
                                data-default="Wagner" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ort</div>
				<div class="description" style="margin-top: 5px;display:none">Stadt, Kleinstadt oder auch Ortschaft. Eine alte Villa wurde dort zum Seniorenheim `Schloss` umgebaut, außerdem werden ein Park, ein Kindergarten, ein Einkaufszentrum, Restaurants, Hotels und eine Eisdiele erwähnt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Die Stadt, in der die Handlung spielt, heißt																					</label>
																					<input type="text" value="Altenberg" 
                                name="vars-Stadt" maxlength="30" id="vars-Stadt" 
                                data-fieldname="Stadt" 
                                data-default="Altenberg" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			<span class='default Mutter_VN'>Ruth</span> <span class='default Mutter_NN'>Weber</span> arbeitet mit ihren Kolleginnen <span class='default Kollegin_eins_VN'>Susanne</span> <span class='default Kollegin_eins_NN'>Ernstig</span> und <span class='default Kollegin_zwei_VN'>Margit</span> <span class='default Kollegin_zwei_NN'>Werner</span> in einem Altenheim in <span class='default Stadt'>Altenberg</span>. Die Arbeit bereitet ihr große Freude und sie versteht sich prima mit den Senioren, besonders mit <span class='default Seniorin_VN'>Erna</span> <span class='default Seniorin_NN'>Graf</span> im <span class='default Seniorin_Farbe'>taubenblau</span>en Kostüm und <span class='default Senior_VN'>Ottmar</span> <span class='default Senior_NN'>Herzog</span>. Der Kollege <span class='default Moerder_VN'>Karl</span> <span class='default Moerder_NN'>Aumann</span> aus der anderen Station bittet sie, mit ihm Stationen zu tauschen, auch die Heimleiterin <span class='default Heimleiterin_VN'>Erika</span> <span class='default Heimleiterin'>Mannheimer</span> ist einverstanden. 
<span class='default Mutter_VN'>Ruth</span> pflegt eine besonders enge und freundschaftliche Beziehung zu ihrer Tochter <span class='default Tochter_VN'>Sonja</span> <span class='default Tochter_NN'>Weber</span>, die ihre Mutter <span class='default Mutter_Spitzname'>Mama</span> nennt. Beide sehen sich nicht besonders ähnlich: Während <span class='default Mutter_VN'>Ruth</span> <span class='default Mutter_Haar'>braun</span>e Haare und <span class='default Mutter_Augen'>grau</span>e Augen hat, hat ihre Tochter <span class='default Tochter_Haar'>blond</span>e Haare und <span class='default Tochter_Augen'>grÃ¼n</span>e Augen. <span class='default Tochter_Farbe'>Blau</span> ist die Lieblingsfarbe der Tochter, ihre Mutter liebt <span class='default Mutter_Farbe'>Rot</span>. Jedoch verbindet sie die Liebe zu ihrer Arbeit und das Entspannen bei ihrer Lieblingsserie. Die Lieblingsserie von <span class='default Mutter_VN'>Ruth</span> ist <span class='default Mutter_Serie'>Desperate Housewifes</span>, die von <span class='default Tochter_VN'>Sonja</span> ist <span class='default Tochter_Serie'>Die Simpsons</span>. Ansonsten hört <span class='default Mutter_VN'>Ruth</span> sehr gerne <span class='default Mutter_Musik'>die Beatles</span> und kümmert sich um ihre Katze <span class='default Mutter_Katze'>Schnurr</span>. Außerdem trägt sie gerne den Duft <span class='default Mutter_Duft'>Morgentau</span>. 
Die plötzlichen Tode im Altenheim erschüttern alle Bewohner, allen voran <span class='default Heimbewohnerin_eins_VN'>Anna</span> <span class='default Heimbewohnerin_eins_NN'>Schmidt</span> und <span class='default Heimbewohnerin_zwei_VN'>Flora</span> <span class='default Heimbewohnerin_zwei_NN'>Meier</span>, aber auch die Männerrunde, bestehend aus <span class='default Senior_VN'>Ottmar</span> und seinen Freunden <span class='default Altherr_eins_VN'>RÃ¼diger</span> <span class='default Altherr_eins_NN'>Schwarz</span>, <span class='default Altherr_zwei_VN'>Horst</span> <span class='default Altherr_zwei_NN'>Schneider</span> und <span class='default Altherr_drei_VN'>Heinz</span> <span class='default Altherr_drei_NN'>BÃ¤r</span>, lässt das nicht kalt. Der Kommissar <span class='default Kommissar_VN'>Ingo</span> <span class='default Kommissar_NN'>Hermann</span> beginnt seine Ermittlungen im Schloss' und schnell gerät <span class='default Mutter_VN'>Ruth</span> aufgrund ihrer unerwarteten Erbschaften in Verdacht. In dieser schweren Zeit sucht sie Rat bei der Kunsttherapeutin <span class='default Kunstfrau_VN'>Annika</span> <span class='default Kunstfrau_NN'>Witting</span>. Mit ihrem Anwalt Herrn <span class='default Anwalt_NN'>Wagner</span> spricht sie nur kurz.
Auch <span class='default Kommissar_VN'>Ingo</span> <span class='default Kommissar_NN'>Hermann</span> steckt in der Klemme, denn er findet die Tochter der Verdächtigen sehr anziehend, besonders das <span class='default Tochter_Haar_G'>Blond</span> ihrer Haare und das <span class='default Tochter_Augen_G'>GrÃ¼n</span> ihrer Augen. Zum Glück kann durch den beherzten Einsatz der Senioren und die verdeckte Ermittlung durch die Polizistin <span class='default Polizistin_VN'>Simone</span> <span class='default Polizistin_NN'>MÃ¼ller</span> der Fall schnell geklärt werden.
		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

