<?php $expire = 1405661537; /* http://web.personalnovel.local/customize/book/650.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=650">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Der Herzensdieb" src="/tl_files/thumbnail-book/der-herzensdieb-650-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Der Herzensdieb“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-650" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weibliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Lara Richards</i> arbeitet als Sekretärin in einer Werbeagentur; die frühere Krankenschwester lebt mit ihrer gehbehinderten Mutter zusammen; sie ist schlank, perfekt proportioniert, hat langes, lockiges Haar und lustige Sommersprossen; sie fühlt sich schon bald zu <i>Marc Meyerhoff</i>, ihrem neuen, gut aussehenden Chef hingezogen, versucht sich aber gegen diese Gefühle zu wehren, da sie ihn in festen Händen vermutet; sie ist verantwortungsbewusst und kümmert sich aufopfernd um ihre Mutter; am Ende gesteht sie sich ein, dass sie <i>Marc</i> liebt, und ist überglücklich, dass er ihre Gefühle erwidert.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Lara" 
                                name="vars-Ihr_Vorname" maxlength="30" id="vars-Ihr_Vorname" 
                                data-fieldname="Ihr_Vorname" 
                                data-default="Lara" 
                                class="field focuser default" />
							<span class="field_count">574x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der weiblichen Hauptrolle (und ihrer Mutter) ist																					</label>
																					<input type="text" value="Richards" 
                                name="vars-Ihr_Nachname" maxlength="30" id="vars-Ihr_Nachname" 
                                data-fieldname="Ihr_Nachname" 
                                data-default="Richards" 
                                class="field focuser default" />
							<span class="field_count">15x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Ihre_Haare" maxlength="30" id="vars-Ihre_Haare" 
                                data-fieldname="Ihre_Haare" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="blau" 
                                name="vars-Ihre_Augen" maxlength="30" id="vars-Ihre_Augen" 
                                data-fieldname="Ihre_Augen" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Das Parfum der weiblichen Hauptrolle heißt																					</label>
																					<input type="text" value="Lotos" 
                                name="vars-Ihr_Duft" maxlength="30" id="vars-Ihr_Duft" 
                                data-fieldname="Ihr_Duft" 
                                data-default="Lotos" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Die Lieblingsfarbe der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="dunkelrot" 
                                name="vars-Ihre_Farbe" maxlength="30" id="vars-Ihre_Farbe" 
                                data-fieldname="Ihre_Farbe" 
                                data-default="dunkelrot" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Männliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Marc Meyerhoff</i> ist <i>Lara</i>s neuer Chef, um die dreißig, groß und äußerst attraktiv; er hat ein männlich markantes Gesicht, eine feine Narbe am Hals und einen durchtrainierten Körper; er ist von Beginn an von <i>Lara</i> fasziniert und enttäuscht, dass sie seine Gefühle erst nicht zu erwidern scheint; er wird von seiner Exfreundin <i>Marlene</i> umgarnt, die die alte Beziehung wieder aufleben lassen möchte; er weist sie jedoch ab, da er <i>Lara</i> liebt; die beiden kommen am Ende zusammen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der männlichen Hauptrolle ist																					</label>
																					<input type="text" value="Marc" 
                                name="vars-Sein_Vorname" maxlength="30" id="vars-Sein_Vorname" 
                                data-fieldname="Sein_Vorname" 
                                data-default="Marc" 
                                class="field focuser default" />
							<span class="field_count">351x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der männlichen Hauptrolle (und aller anderen Familienmitglieder) ist																					</label>
																					<input type="text" value="Meyerhoff" 
                                name="vars-Sein_Nachname" maxlength="30" id="vars-Sein_Nachname" 
                                data-fieldname="Sein_Nachname" 
                                data-default="Meyerhoff" 
                                class="field focuser default" />
							<span class="field_count">91x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der männlichen Hauptrolle ist																					</label>
																					<input type="text" value="schwarz" 
                                name="vars-Seine_Haare" maxlength="30" id="vars-Seine_Haare" 
                                data-fieldname="Seine_Haare" 
                                data-default="schwarz" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der männlichen Hauptrolle ist																					</label>
																					<input type="text" value="grün" 
                                name="vars-Seine_Augen" maxlength="30" id="vars-Seine_Augen" 
                                data-fieldname="Seine_Augen" 
                                data-default="grün" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
											<div class="field">
							<label>
							Das Aftershave der männlichen Hauptrolle heißt																					</label>
																					<input type="text" value="Moschus" 
                                name="vars-Sein_Duft" maxlength="30" id="vars-Sein_Duft" 
                                data-fieldname="Sein_Duft" 
                                data-default="Moschus" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Die Lieblingsfarbe der männlichen Hauptrolle ist																					</label>
																					<input type="text" value="weiß" 
                                name="vars-Seine_Farbe" maxlength="30" id="vars-Seine_Farbe" 
                                data-fieldname="Seine_Farbe" 
                                data-default="weiß" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Vater der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Franz Meyerhoff</i> ist <i>Marc</i>s Vater und <i>Lara</i>s alter Chef; er ist robust und hat eine hünenhafte Gestalt; er übergibt seinem Sohn zwar die Werbeagentur, aber kann sich noch nicht richtig überwinden, das Ruder ganz aus der Hand zu geben.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Vaters der männlichen Hauptrolle ist																					</label>
																					<input type="text" value="Franz" 
                                name="vars-Sein_Vater" maxlength="30" id="vars-Sein_Vater" 
                                data-fieldname="Sein_Vater" 
                                data-default="Franz" 
                                class="field focuser default" />
							<span class="field_count">36x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mutter der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Hanna Meyerhoff</i> ist <i>Marc</i>s Mutter, eine elegante, energische Frau mit großzügiger Garderobe; sie hat nach einem Bienenstich eine allergische Reaktion, aber <i>Lara</i> leistet sofort Erste Hilfe.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Mutter der männlichen Hauptrolle ist																					</label>
																					<input type="text" value="Hanna" 
                                name="vars-Seine_Mutter" maxlength="30" id="vars-Seine_Mutter" 
                                data-fieldname="Seine_Mutter" 
                                data-default="Hanna" 
                                class="field focuser default" />
							<span class="field_count">10x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mutter der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Irene Richards</i> ist <i>Lara</i>s Mutter und trotz ihrer Gehbehinderung und leichten Schwerhörigkeit eine ausgesprochen lebenslustige Person; sie fühlt sich schuldig, dass <i>Lara</i> sich so oft um sie kümmern muss, und möchte daher eine Wohngemeinschaft mit anderen Frauen, die in einer ähnlichen Situation sind, gründen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Mutter der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Irene" 
                                name="vars-Ihre_Mutter_vn" maxlength="30" id="vars-Ihre_Mutter_vn" 
                                data-fieldname="Ihre_Mutter_vn" 
                                data-default="Irene" 
                                class="field focuser default" />
							<span class="field_count">44x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Nebenbuhlerin der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Marlene van Apen</i> ist extrem attraktiv, blond, gertenschlank und Creative Director in der Werbeagentur; sie umgarnt <i>Marc</i>, mit dem sie vor Jahren mal eine Beziehung hatte, erfolglos; sie hat eine rauchige, verführerische Stimme und blaue Augen.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Blondine ist																					</label>
																					<input type="text" value="Marlene" 
                                name="vars-Blondine_vn" maxlength="30" id="vars-Blondine_vn" 
                                data-fieldname="Blondine_vn" 
                                data-default="Marlene" 
                                class="field focuser default" />
							<span class="field_count">87x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Blondine ist																					</label>
																					<input type="text" value="van Apen" 
                                name="vars-Blondine_nn" maxlength="30" id="vars-Blondine_nn" 
                                data-fieldname="Blondine_nn" 
                                data-default="van Apen" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Guter Freund der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none">Sebastian, Designer in der Werbeagentur Mitte 30; er ist gut aussehend, hat blaue Augen und kurze blonde Haare; ist ein Freund von Lara und ihr Lieblingskollege; hat für Lara mehr als nur freundschaftliche Gefühle, welche sie jedoch nicht erwidert; auch aus diesem Grund beschließt er, zu kündigen und nach London zu gehen; er ist traurig, dass Lara ihn nicht begleiten will.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des guten Freundes der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Sebastian" 
                                name="vars-Ihr_Freund" maxlength="30" id="vars-Ihr_Freund" 
                                data-fieldname="Ihr_Freund" 
                                data-default="Sebastian" 
                                class="field focuser default" />
							<span class="field_count">61x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Freundin der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Natascha</i> ist <i>Lara</i>s fröhliche Freundin und Kollegin; sie ist klein, jung und hat kurze, dunkle Locken; sie ist mit <i>Philipp</i> zusammen, einem äußerst skurrilen Typ.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Freundin der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Natascha" 
                                name="vars-Ihre_Freundin" maxlength="30" id="vars-Ihre_Freundin" 
                                data-fieldname="Ihre_Freundin" 
                                data-default="Natascha" 
                                class="field focuser default" />
							<span class="field_count">39x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Seltsamer Freund der Freundin</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Philipp</i> ist <i>Natascha</i>s seltsamer Freund; ganz kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des seltsamen Freundes ist																					</label>
																					<input type="text" value="Philipp" 
                                name="vars-Skurriler_Typ" maxlength="30" id="vars-Skurriler_Typ" 
                                data-fieldname="Skurriler_Typ" 
                                data-default="Philipp" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Bruder der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Lukas</i> ist <i>Marc</i>s Bruder; er ist mit <i>Konstanze</i> verheiratet, mit der er einen kleinen Sohn hat; sitzt einmal am Tisch, allerdings ohne etwas zu sagen.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Bruders der männlichen Hauptrolle ist																					</label>
																					<input type="text" value="Lukas" 
                                name="vars-Sein_Bruder" maxlength="30" id="vars-Sein_Bruder" 
                                data-fieldname="Sein_Bruder" 
                                data-default="Lukas" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Schwägerin der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Konstanze</i> ist <i>Marc</i>s Schwägerin, die gerade schwanger ist; sie ist mit <i>Lukas</i> verheiratet, mit dem sie bereits einen Sohn hat; sie wird nur erwähnt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Schwägerin der männlichen Hauptrolle ist																					</label>
																					<input type="text" value="Konstanze" 
                                name="vars-Seine_Schwägerin" maxlength="30" id="vars-Seine_Schwägerin" 
                                data-fieldname="Seine_Schwägerin" 
                                data-default="Konstanze" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<div class="name">Handlungsort der Geschichte</div>
				<div class="description" style="margin-top: 5px;display:none"></div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Die Stadt, in der die Geschichte spielt, heißt																					</label>
																					<input type="text" value="München" 
                                name="vars-Stadt" maxlength="30" id="vars-Stadt" 
                                data-fieldname="Stadt" 
                                data-default="München" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			Die Protagonistin dieser Geschichte, <span class='default Ihr_Vorname'>Lara</span> <span class='default Ihr_Nachname'>Richards</span>, hat <span class='default Ihre_Haare'>braun</span>es Haar und <span class='default Ihre_Augen'>blau</span>e Augen, liebt <span class='default Ihre_Farbe'>dunkelrot</span>e  Dinge und duftet nach <span class='default Ihr_Duft'>Lotos</span>. Sie verliebt sich in ihren neuen Chef, <span class='default Sein_Vorname'>Marc</span> <span class='default Sein_Nachname'>Meyerhoff</span>, der verführerisch nach <span class='default Sein_Duft'>Moschus</span> riecht und gerne <span class='default Seine_Farbe'>weiÃ</span>e Kleidung trägt, was ausgezeichnet zu seinen <span class='default Seine_Haare'>schwarz</span>en Haaren und <span class='default Seine_Augen'>grÃ¼n</span>en Augen passt. Das findet auch seine Ex-Freundin <span class='default Blondine_vn'>Marlene</span> <span class='default Blondine_nn'>van Apen</span>, die ihn zurückgewinnen möchte. <span class='default Ihr_Vorname'>Lara</span> lebt in <span class='default Stadt'>MÃ¼nchen</span> und pflegt ihre gehbehinderte Mutter <span class='default Ihre_Mutter_vn'>Irene</span>. Ihre Freizeit verbringt sie mit ihrer Freundin <span class='default Ihre_Freundin'>Natascha</span>, deren seltsamem Freund <span class='default Skurriler_Typ'>Philipp</span> und ihrem Arbeitskollegen <span class='default Ihr_Freund'>Sebastian</span>, der heimlich in sie verliebt ist. <span class='default Sein_Vorname'>Marc</span>s Vater, der Firmenchef <span class='default Sein_Vater'>Franz</span> <span class='default Sein_Nachname'>Meyerhoff</span>, zieht sich mit seiner Frau <span class='default Seine_Mutter'>Hanna</span> allmählich ins Privatleben zurück und genießt die Besuche seines anderen Sohnes <span class='default Sein_Bruder'>Lukas</span> und dessen Frau <span class='default Seine_Schwägerin'></span>.		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

