<?php $expire = 1405663268; /* http://web.personalnovel.local/customize/ebook/646.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress" class=progress-ebook >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				
		<li class="">Umschlag</li>
		
				
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?ebook=646">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Mord &amp; Muskat" src="/tl_files/thumbnail-book/mord-muskat-646-detail.png">
								<div class="ebook-div">
				<button style="width: 115px;font-size:9pt;" class="awesomebutton awesomelightblue_gradient awesomeicon awesomeround" type="button">
				    <span class="icon arrow_down"><span class="icon">E-Book</span></span>
				</button>
				</div>
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Mord &amp; Muskat“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            0.00 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">0,00 EUR</h1>
																<button style="width: 260px;font-size:9pt" class="awesomebutton awesomelightblue_gradient nextpage awesomeicon  awesomeround" value="Weiter zur Widmung &gt;&gt;" type="submit" id="nextpage" name="submitter">
                	<span class="icon arrow_down"><span class="icon">E-Book: Weiter zur Widmung</span></span>
                </button><br/>
                <button style="width: 260px;font-size:9pt" class="awesomebutton awesomegreen_gradient awesomeicon awesomeround" type="button" onclick="location.href='/customize?book=646'">
                <span class="icon shopping_bag"><span class="icon">Als gedrucktes Buch ab 24,95</span></span>
                </button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-646" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weibliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Sabine Wellers</i>, gute Köchin und begeistert von ihrem neuen Projekt, einem keltischen Kochbuch. Sie ist fröhlich, experimentierfreudig, sehr geschickt auf hohen Absätzen und trinkt gerne leichten Weißwein. Ihre große Leidenschaft sind romantische Liebesromane, deshalb hat sie große Freude daran, über das Leben des bei der Ausgrabung gefundenen Römers und seiner keltischen Frau zu spekulieren. Auch wenn sie für diese Theorien immer wieder den Spott von <i>Lucy</i> und <i>Annemarie</i> erntet, so trifft sie mit ihren Vermutungen manchmal genau ins Schwarze. Welche Geschichte die Keltin und den Römer wirklich verbindet, bleibt aber auch für sie ein Geheimnis.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Sabine" 
                                name="vars-Mutter_VN" maxlength="30" id="vars-Mutter_VN" 
                                data-fieldname="Mutter_VN" 
                                data-default="Sabine" 
                                class="field focuser default" />
							<span class="field_count">201x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Wellers-Mutter" 
                                name="vars-Mutter_NN" maxlength="30" id="vars-Mutter_NN" 
                                data-fieldname="Mutter_NN" 
                                data-default="Wellers-Mutter" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Der Rufname der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Mama" 
                                name="vars-Mutter_Ruf" maxlength="30" id="vars-Mutter_Ruf" 
                                data-fieldname="Mutter_Ruf" 
                                data-default="Mama" 
                                class="field focuser default" />
							<span class="field_count">23x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Mutter_Haar" maxlength="30" id="vars-Mutter_Haar" 
                                data-fieldname="Mutter_Haar" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Mutter_Augen" maxlength="30" id="vars-Mutter_Augen" 
                                data-fieldname="Mutter_Augen" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ehemann der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Michael</i>, <i>Sabine</i>s Ehemann, ist ein leidenschaftlicher Wander- und Naturfreund. Während sich seine Frau und seine Tochter der Aufklärung der beiden Fälle hingeben, genießt er einen Wanderurlaub und bekommt von der anzen Aufregung nichts mit. Er wird nur namentlich erwähnt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Ehemannes ist																					</label>
																					<input type="text" value="Michael" 
                                name="vars-Vater_VN" maxlength="30" id="vars-Vater_VN" 
                                data-fieldname="Vater_VN" 
                                data-default="Michael" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Der Rufname des Ehemannes ist																					</label>
																					<input type="text" value="Papa" 
                                name="vars-Vater_Ruf" maxlength="30" id="vars-Vater_Ruf" 
                                data-fieldname="Vater_Ruf" 
                                data-default="Papa" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Tochter der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Lucy Wellers</i>, ernsthaft und verantwortungsbewusst, Ärztin mit einer Leidenschaft für altertümliche Geschichte und einem Faible für ihren alten <i>Fiat</i>; perfektionistisch in ihrem Beruf, schaltet nur schwer von der Arbeit ab, kocht nur ungerne. Die Symptome ihres Patienten <i>Marc Sommer</i> machen sie stutzig; so untersucht sie seinen Fall genauer und findet heraus, dass er vergiftet wurde. Immer mehr wird sie in die Ermittlungen hineingezogen. Dazu muss sie auch einen Waffenstillstand mit ihrem früheren Schulfreund und derzeitigen Lieblingsfeind <i>Andi Beier</i> schließen. Durch ihre Zusammenarbeit gelingt es den beiden, das Verbrechen aufzuklären. Das Kochbuchprojekt ihrer Mutter unterstützt <i>Lucy</i> durch fleißiges Probieren der keltischen Kreationen, den romantischen Spekulationen ihrer Mutter zu den Hintergründen des Keltengrabes steht sie jedoch eher skeptisch gegenüber.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Tochter ist																					</label>
																					<input type="text" value="Lucy" 
                                name="vars-Tochter_VN" maxlength="30" id="vars-Tochter_VN" 
                                data-fieldname="Tochter_VN" 
                                data-default="Lucy" 
                                class="field focuser default" />
							<span class="field_count">418x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Tochter ist																					</label>
																					<input type="text" value="Wellers-Tochter" 
                                name="vars-Tochter_NN" maxlength="30" id="vars-Tochter_NN" 
                                data-fieldname="Tochter_NN" 
                                data-default="Wellers-Tochter" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Tochter ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Tochter_Haar" maxlength="30" id="vars-Tochter_Haar" 
                                data-fieldname="Tochter_Haar" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Tochter ist																					</label>
																					<input type="text" value="grün-braun" 
                                name="vars-Tochter_Augen" maxlength="30" id="vars-Tochter_Augen" 
                                data-fieldname="Tochter_Augen" 
                                data-default="grün-braun" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Das Auto der Tochter ist ein																					</label>
																					<input type="text" value="Fiat" 
                                name="vars-Tochter_Auto" maxlength="30" id="vars-Tochter_Auto" 
                                data-fieldname="Tochter_Auto" 
                                data-default="Fiat" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
											<div class="field">
							<label>
							Der Lieblingskrimi der Tochter ist																					</label>
																					<input type="text" value="Münsteraner Tatort" 
                                name="vars-Tochter_Krimi" maxlength="30" id="vars-Tochter_Krimi" 
                                data-fieldname="Tochter_Krimi" 
                                data-default="Münsteraner Tatort" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Der Lieblingsmusiker der Tochter ist																					</label>
																					<input type="text" value="Luciano Pavarotti" 
                                name="vars-Tochter_Musik" maxlength="30" id="vars-Tochter_Musik" 
                                data-fieldname="Tochter_Musik" 
                                data-default="Luciano Pavarotti" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Beste Freundin der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Annemarie Geldern</i>, Archäologin, die ihr Leben der Erforschung des Altertums verschrieben hat. Dass auch <i>Lucy</i> eine Leidenschaft für antike Geschichte entwickelt hat, sieht sie gerne. Sie leitet die Ausgrabung, bei der das ungewöhnliche Doppelgrab gefunden wird. Anders als <i>Sabine</i> bleibt sie stets wissenschaftlich und faktenorientiert, bei Spekulationen hält sie sich sehr zurück. Sie stellt den Kontakt zu dem englischen Historiker <i>John Spencer</i> her, der selbst einen interessanten Grabesfund gemacht hat.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der besten Freundin ist																					</label>
																					<input type="text" value="Annemarie" 
                                name="vars-Tante_VN" maxlength="30" id="vars-Tante_VN" 
                                data-fieldname="Tante_VN" 
                                data-default="Annemarie" 
                                class="field focuser default" />
							<span class="field_count">184x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der besten Freundin ist																					</label>
																					<input type="text" value="Geldern" 
                                name="vars-Tante_NN" maxlength="30" id="vars-Tante_NN" 
                                data-fieldname="Tante_NN" 
                                data-default="Geldern" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der besten Freundin ist																					</label>
																					<input type="text" value="eisgrau" 
                                name="vars-Tante_Haar" maxlength="30" id="vars-Tante_Haar" 
                                data-fieldname="Tante_Haar" 
                                data-default="eisgrau" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der besten Freundin ist																					</label>
																					<input type="text" value="kühl-blau" 
                                name="vars-Tante_Augen" maxlength="30" id="vars-Tante_Augen" 
                                data-fieldname="Tante_Augen" 
                                data-default="kühl-blau" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Britischer Historiker/Bekannter der Archäologin</div>
				<div class="description" style="margin-top: 5px;display:none"><i>John Spencer</i>, britischer Historiker, der so sehr in seiner Arbeit aufgeht, dass er manchmal sogar den Toten näher erscheint als den Lebenden. Mit seiner feinen, zuweilen spleenigen Art wirkt er wie ein Gentleman aus einem alten englischen BBC-Film, doch er hat auch Humor und ein offenes Ohr für <i>Sabine</i>s Theorien.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Historikers ist																					</label>
																					<input type="text" value="John" 
                                name="vars-Historiker_VN" maxlength="30" id="vars-Historiker_VN" 
                                data-fieldname="Historiker_VN" 
                                data-default="John" 
                                class="field focuser default" />
							<span class="field_count">50x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Historikers ist																					</label>
																					<input type="text" value="Spencer" 
                                name="vars-Historiker_NN" maxlength="30" id="vars-Historiker_NN" 
                                data-fieldname="Historiker_NN" 
                                data-default="Spencer" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Polizist/Bekannter der Tochter</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Andi Beier</i>, Polizeikommissar, der für den Fall <i>Marc Sommer</i> zuständig ist und zuerst nicht an eine Vergiftung glaubt. Bei der Befragung geht er sehr forsch vor und zieht so nicht zum ersten Mal <i>Lucy</i>s Ärger auf sich. Die beiden, die sich aus der Schule kennen, kultivieren eine Art Hass-Liebe, doch für diesen Fall beschließen sie einen Waffenstillstand und nähern sich einander wieder etwas an. Gemeinsam gelingt es ihnen, den Fall zu lösen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Polizisten ist																					</label>
																					<input type="text" value="Andi" 
                                name="vars-Polizist_VN" maxlength="30" id="vars-Polizist_VN" 
                                data-fieldname="Polizist_VN" 
                                data-default="Andi" 
                                class="field focuser default" />
							<span class="field_count">110x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Polizisten ist																					</label>
																					<input type="text" value="Beier" 
                                name="vars-Polizist_NN" maxlength="30" id="vars-Polizist_NN" 
                                data-fieldname="Polizist_NN" 
                                data-default="Beier" 
                                class="field focuser default" />
							<span class="field_count">16x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Kollegin der Tochter</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Sonja</i>, OP-Schwester, sehr verlässlich, sachlich und mit trockenem Humor. Sie ist mit <i>Lucy</i> befreundet.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Kollegin ist																					</label>
																					<input type="text" value="Sonja" 
                                name="vars-Kollegin_VN" maxlength="30" id="vars-Kollegin_VN" 
                                data-fieldname="Kollegin_VN" 
                                data-default="Sonja" 
                                class="field focuser default" />
							<span class="field_count">73x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Kollege der Tochter</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Steffen</i>, Assistenzarzt, Kollege von <i>Lucy</i> und immer fröhlich.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Kollegen ist																					</label>
																					<input type="text" value="Steffen" 
                                name="vars-Kollege_VN" maxlength="30" id="vars-Kollege_VN" 
                                data-fieldname="Kollege_VN" 
                                data-default="Steffen" 
                                class="field focuser default" />
							<span class="field_count">20x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Patient der Tochter</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Marc Sommer</i>, Patient von <i>Lucy</i>, der nach einem Autounfall auf seine relativ leichten Verletzungen äußerst heftig reagiert. Die Untersuchungen der Ärzte ergeben, dass er mit Muskatnuss vergiftet wurde und deshalb die Kontrolle über sein Auto verloren hat. Kurz darauf erleidet er einen zweiten schweren Zusammenbruch, der wieder auf Gift – diesmal Fingerhut – zurückzuführen ist. Als Verdächtige rückt schnell seine Exfreundin ins Visier der Ermittler. Sie ist für die erste Vergiftung verantwortlich. Die zweite Vergiftung geht jedoch auf ein anderes Konto – das seiner neuen Freundin.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Patienten ist																					</label>
																					<input type="text" value="Marc" 
                                name="vars-Patient_VN" maxlength="30" id="vars-Patient_VN" 
                                data-fieldname="Patient_VN" 
                                data-default="Marc" 
                                class="field focuser default" />
							<span class="field_count">102x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Patienten ist																					</label>
																					<input type="text" value="Sommer" 
                                name="vars-Patient_NN" maxlength="30" id="vars-Patient_NN" 
                                data-fieldname="Patient_NN" 
                                data-default="Sommer" 
                                class="field focuser default" />
							<span class="field_count">49x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ex-Freundin des Patienten</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Anja Michelsen</i>, Exfreundin von <i>Marc</i>, Betreiberin eines Ladens für Naturheilmittel, versteht sich auf Kräuterkunde, misstraut der modernen Medizin, stets auffallend elegant gekleidet und gestylt. Da sie in <i>Marc</i>s Patientenverfügung aufgeführt ist, wird sie nach dessen Unfall benachrichtigt. Sie ist sehr um Beherrschung bemüht, verliert aber dann doch die Nerven. Es stellt sich heraus, dass sie das Ende der Beziehung zu <i>Marc</i> nicht akzeptieren wollte. Die Überdosis Muskatnuss sollte ihn nicht umbringen, sondern nur seine Hemmungen ihr gegenüber senken. Dass er einen Autounfall bauen würde, hatte sie nicht eingeplant.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Ex-Freundin ist																					</label>
																					<input type="text" value="Anja" 
                                name="vars-Ex_VN" maxlength="30" id="vars-Ex_VN" 
                                data-fieldname="Ex_VN" 
                                data-default="Anja" 
                                class="field focuser default" />
							<span class="field_count">79x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Ex-Freundin ist																					</label>
																					<input type="text" value="Michelsen" 
                                name="vars-Ex_NN" maxlength="30" id="vars-Ex_NN" 
                                data-fieldname="Ex_NN" 
                                data-default="Michelsen" 
                                class="field focuser default" />
							<span class="field_count">22x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Derzeitige Freundin des Patienten</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Laura Schön</i>, neue Freundin von <i>Marc</i>, arbeitet im Marketing, ist der Exfreundin in gewisser Weise ähnlich, hat eine angenehme Stimme. Sie hat es satt, dass ihr Freund immer noch Rücksicht auf <i>Anja</i> nimmt und vermutet auch, dass zwischen den beiden noch nicht alles aus ist. Um die Exfreundin endgültig los zu werden, vergiftet sie <i>Marc</i> erneut und versucht, diesen Giftanschlag <i>Anja</i> in die Schuhe zu schieben. Im Gegensatz zu <i>Anja</i> handelt sie kalt und berechnend.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der derzeitigen Freundin ist																					</label>
																					<input type="text" value="Laura" 
                                name="vars-Derzeitige_VN" maxlength="30" id="vars-Derzeitige_VN" 
                                data-fieldname="Derzeitige_VN" 
                                data-default="Laura" 
                                class="field focuser default" />
							<span class="field_count">69x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der derzeitigen Freundin ist																					</label>
																					<input type="text" value="Schön" 
                                name="vars-Derzeitige_NN" maxlength="30" id="vars-Derzeitige_NN" 
                                data-fieldname="Derzeitige_NN" 
                                data-default="Schön" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			<span class='default Mutter_Ruf'>Mama</span> <span class='default Mutter_VN'>Sabine</span> <span class='default Mutter_NN'>Wellers-Mutter</span>, leidenschaftliche Hobbyköchin mit <span class='default Mutter_Haar'>braun</span>en Haaren und <span class='default Mutter_Augen'>braun</span>en Augen,  widmet sich voll und ganz ihrem neuen Projekt: der Veröffentlichung eines keltischen Kochbuchs. Begeistert probiert sie neue und teilweise gewöhnungsbedürftige Rezepte aus und präsentiert sie stolz ihrer Tochter <span class='default Tochter_VN'>Lucy</span> <span class='default Tochter_NN'>Wellers-Tochter</span> und ihrer besten Freundin und Archäologin <span class='default Tante_VN'>Annemarie</span> <span class='default Tante_NN'>Geldern</span>. <span class='default Tante_VN'>Annemarie</span>, mit ihren <span class='default Tante_Haar'>eisgrau</span>en Haaren und <span class='default Tante_Augen'>kÃ¼hl-blau</span>en Augen, leitet die Ausgrabung eines ungewöhnlichen Doppelgrabes. <span class='default Tochter_VN'>Lucy</span>, eine engagierte Ärztin mit einem Faible für ihren alten <span class='default Tochter_Auto'>Fiat</span> und <span class='default Tochter_Musik'>Luciano Pavarotti</span>, gewinnt mit ihren <span class='default Tochter_Augen'>grÃ¼n-braun</span>en Augen und <span class='default Tochter_Haar'>braun</span>en Haaren schnell das Vertrauen ihrer Patienten. Als das Unfallopfer <span class='default Patient_VN'>Marc</span> <span class='default Patient_NN'>Sommer</span> bei ihr eingeliefert wird, macht sich <span class='default Tochter_VN'>Lucy</span> an die Aufklärung der Ursache des mysteriösen Unglücks und fühlt sich bald als die Hauptrolle einer neuen Folge <span class='default Tochter_Krimi'>MÃ¼nsteraner Tatort</span>. Unterstützt wird sie bei ihrem Vorhaben von dem Polizeikommissar <span class='default Polizist_VN'>Andi</span> <span class='default Polizist_NN'>Beier</span>, der Krankenschwester <span class='default Kollegin_VN'>Sonja</span> und dem Assistenzarzt <span class='default Kollege_VN'>Steffen</span>. Schon bald kommt der Verdacht auf, dass sowohl <span class='default Patient_VN'>Marc</span>s Ex-Freundin <span class='default Ex_VN'>Anja</span> <span class='default Ex_NN'>Michelsen</span> als auch seine derzeitige Lebensgefährtin <span class='default Derzeitige_VN'>Laura</span> <span class='default Derzeitige_NN'>SchÃ¶n</span> in den Unfall verwickelt sind. Außerdem scheinen das Doppelgrab und der Unfall eine gemeinsame Komponente aufzuweisen: Muskat. Diesem Hinweis gehen alle Beteiligten und auch der spleenige britische Historiker <span class='default Historiker_VN'>John</span> <span class='default Historiker_NN'>Spencer</span> nach, der außerdem <span class='default Mutter_VN'>Sabine</span> das letzte i-Tüpfelchen für ihr Kochbuch verschafft. <span class='default Tochter_VN'>Lucy</span>s <span class='default Vater_Ruf'>Papa</span> <span class='default Vater_VN'>Michael</span> genießt währenddessen seinen Wanderurlaub und bekommt von der ganzen Aufregung gar nichts mit. 		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

