<?php $expire = 1400836468; /* http://web.personalnovel.local/checkout/order/2043251/step/Bestaetigen.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Bestellung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Bestellung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/checkout.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/checkout.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
		<span class="green cartsum" cartsum="36.94">
		36,94</span> 
		<span class="green">EUR </span> <br />inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
    	    	     <a class="cart-link" href="http://web.personalnovel.local/checkout?order=2043251&step=Warenkorb"><img src="tl_files/personalnovel_de/cart.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:1000"></a>
	            
    <div id="cart-detail">
    
        
            <strong>1x 
        Kalender                </strong>
        <span class="green">30,95 EUR</span><br/>
        
        <div class="cart-shipping">
        <strong>Versand:</strong> Premium-Versand <span class="green">
        5,99 EUR</span>
    </div>
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="checkout">
<!-- indexer::stop -->

<div class="checkout_steps">

	<ul id="progress">
		<li class="first ">Warenkorb</li>
		<li class="">Bestellen</li>
		<li class="">Versand</li>
		<li class="current">Bestätigen</li>
		<li class="">Bezahlen</li>
		<li class="last ">Fertig</li>
	</ul>
					
<div class="step4">


<form id="step4" method="post" action="/checkout?order=2043251&step=Bestaetigen">
	<input type=hidden name="step" value="4" />
	<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
	
	<div class="formheader clearfix">
	
		<div class="left">
			<h1>Bestellung überprüfen</h1>
		</div>
		
		<div class="right">
			<h1>Hinweise</h1>
		</div>
	
	</div>
	
	<div class="formbody cleafix">
		<div class="left">
			<div class="" id="confirm">
                <p>
                Sollte alles Ihren Wünschen entsprechen,
                akzeptieren Sie bitte die AGB und den Datenschutz und klicken Sie auf „Bestellung
                abschicken” am Ende der Seite.
                </p>
                <fieldset class="">
                    <table>
                        <tbody><tr>
                            <td class='colum_input_check'>
                                <input type="checkbox" value="y" name="datenschutz_" id="datenschutz_" >
                            </td>
                            <td>
                                <label for="datenschutz_">
                                    Ja, ich bin mit der Datenspeicherung und -verwendung entsprechend der <a class="popup-link" target="popup" href="popup-datenschutz.html">Datenschutzerklärung</a> von PersonalNOVEL einverstanden.
                                </label>
                            </td>
                        </tr>
                    </tbody></table>
                </fieldset>
                <fieldset class="">
                    <table>
                        <tbody><tr>
                            <td class='colum_input_check'>
                                <input type="checkbox" value="y" name="agb_" id="agb_" >
                          </td>
                        <td>
                            <label for="agb_">
                                Ja, ich akzeptiere die <a class="popup-link" target="popup" href="/agb">AGB</a> und habe meine Angaben gründlich geprüft.
                            </label>
                         </td>
                        </tr>
                    </tbody></table>
                </fieldset>
                <fieldset class="">
                    <table>
                        <tbody><tr>
                            <td class='colum_input_check'>
                                <input type="checkbox" value="y" name="widerruf_" id="widerruf_" >
                          </td>
                        <td>
                            <label for="widerruf_">
                               Widerrufsbelehrung (rechts) gelesen und einverstanden                           
                            </label>
                         </td>
                        </tr>
                    </tbody></table>
                </fieldset>
                
            </div>
            
            <div class="spaced block" id="user">
				<div id="address-lieferanschrift" class="adr">
				    <h3>Lieferanschrift</h3>
				    <div>
				    Phan Hoang				    </div>
				    
				    <div>Ho Chi Minh City</div>
				    
				    <div class="street-address">Ho Chi Minh City</div>
				    <div class="postal-code">12227</div>
				    <div class="locality">Berlin</div>
				    <div class="country-name">Deutschland</div>
				    				        <a href="/checkout?order=2043251&step=Bestellen" style="float:left !important;" class="change">ändern</a>
				    				    
				</div>
				<div id="address-rechnungsanschrift" class="adr">
				    <h3>Rechnungsanschrift</h3>
				    <div>
				    Phan Hoang				    </div>
				    <div>Ho Chi Minh City</div>
				    <div class="street-address">Ho Chi Minh City</div>
				    <div class="postal-code">12227</div>
				    <div class="locality">Berlin</div>
				    <div class="country-name">Deutschland</div>
				    				        <a href="/checkout?order=2043251&step=Bestellen" style="float:left !important;" class="change">ändern</a>
				    				    
				</div>
				
								                <div id="versandart">
                    <h3>Versandart</h3>
                    				        <a href="/checkout?order=2043251&step=Versand" class="change">ändern</a>
				                        
                    <div>Premium-Versand, <b>versichert, mit Sendungsverfolgung.</b></div>
                </div>
                                
                <div id="zahlungsart">
                    <h3>Zahlungsart</h3>
                    				        <a href="/checkout?order=2043251&step=Bestellen" class="change">ändern</a>
				                        
                    <div>Vorauskasse (Überweisung)</div>
                </div>
                <div style="margin: 0 10px;" class="alert">
                    <strong>Hinweis:</strong><br>
                    Sobald Sie Ihre Bestellung abgeschickt haben, kann die Zahlungsart nicht mehr geändert werden.
                </div>
            </div>
            
            <div class="block spaced" id="books">
                
				<table class="testclass" id="invoice">
				    <tbody>
					    <tr>
					        <th>
					                                        <a href="/checkout?order=2043251&step=Warenkorb">Warenkorb ändern</a>
                            					        </th>
					        <th class="number">Einzelpreis</th>
					        <th class="number">Anzahl</th>
					        <th class="number">Preis</th>
					    </tr>
					    
					    
					    					    <tr>
					        <td>Kalender</td>
					        					        <td class="number">30,95 EUR</td>
					        <td class="number">1</td>
					        <td class="number">
					       		30,95 EUR
					        </td>
					    </tr>
					    					    
					    					    
					    					    
				        <tr>
				            <td colspan="4"><hr style="border-style:dotted none none;"></td>
				        </tr>
				        				        <tr class="">
				            <td class="" colspan="3">Gesamtpreis der Ware</td>
				            <td class="number">30,95 EUR</td>
				        </tr>
				        
				        				        <tr>
				            <td colspan="3" class="">
				            zzgl Versandkosten
				            </td>
				            <td class="number">5,99 EUR</td>
				        </tr>
				        				        
				        <tr class""="">
				            <td colspan="3">Inkl MwSt</td>
				            <td class="number">2,42 EUR</td>
				        </tr>      
				        <tr>
				            <td colspan="4"></td>
				        </tr>
				        
				        				 
				       

				        <tr class="summe">
				            <td class="" colspan="3">Zu zahlender Gesamtpreis</td>
				            <td class="number">
				            36,94 EUR</td>
				        </tr>
					</tbody>
				</table>

            </div>
            
            <div>
            	<div class="right">
            		<button name="confirm_order_" id="confirm_order_" class="awesomebutton awesomegreen_gradient awesomeround" type="submit">
					<span><span>jetzt kaufen</span></span>
					</button>
            	</div>
            </div>
            
		</div>
		<div class="right">
		
			<div class="start block alert spaced">
                <h4>Widerrufsbelehrung</h4>
                <p>
                  <b>I.</b>
                Unsere personalisierten Bücher, personalisierten Wein- und Champagnerflaschen, personalisierten Weinverpackungen und personalisierten Lesezeichen werden nach den persönlichen Wünschen und Angaben unserer Kunden erstellt. Ein Widerrufsrecht besteht daher für diese Artikel gemäß § 312d Abs. 4 Nr. 1 BGB nicht.
                </p>
                <p>
                  <b>II.</b>
                  Für andere von uns angebotene Artikel (z.B. Gutscheine) besteht folgendes Widerrufsrecht:
                  siehe § 8 unserer <a target="popup" class="popup-link" href="kundengeschenke/agb.html#p8">AGB</a>.
                </p>
            </div>
            
            <div class="block spaced">
                <h4>Rechnungsstellung und Zustandekommen Kaufvertrag</h4>
                <p>
                Die Darstellung der Produkte im Online-Shop
                    stellt kein rechtlich bindendes Angebot, sondern
                    einen unverbindlichen Online-Katalog
                    dar. Durch Anklicken des Buttons „Bestellung
                    abschicken“ geben Sie eine verbindliche Bestellung
                    der im Warenkorb enthaltenen Waren
                    ab. Die Bestätigung des Eingangs Ihrer
                    Bestellung erfolgt zusammen mit der Annahme
                    der Bestellung unmittelbar nach dem
                    Absenden durch eine automatisierte E-Mail. Mit
                    dieser E-Mail-Bestätigung ist der Kaufvertrag
                    zustande gekommen.
                </p>
            </div>
            
            <div class="block spaced">
                <h4>Sicherung Ihrer Daten</h4>
                <p>
                Ihre Daten zur Bestellung werden bei uns gespeichert und der Zugang
                    Ihnen per E-Mail als Link zugeschickt. Sollten Sie Ihre Unterlagen zu
                    Ihren Bestellungen verlieren, wenden Sie sich bitte per E-Mail/Fax/Telefon 
                    an uns. Wir senden Ihnen eine Kopie der Daten Ihrer Bestellung gerne zu.
                </p>
            </div>
		</div>
	</div>
	
	<div class="formfooter clearfix">
		<div class="left">
		</div>
	</div>

</div>	

</div>
<!-- indexer::continue -->
</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

