<?php $expire = 1403596938; /* http://web.personalnovel.local/customize/book/55.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=55">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Im Visier des Killers" src="/tl_files/thumbnail-book/im-visier-des-killers-55-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Im Visier des Killers“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-55" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weibliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Vera Fechner</i>, eine junge aufstrebende Schriftstellerin; lebt in <i>Berlin</i>; nach der Trennung von ihrem Freund <i>Jan</i> will sie sich etwas Erholung gönnen und macht Urlaub am Bodensee; verliebt sich dort in den bekannten Radsportler <i>Kai Maiwald</i> und beginnt mit ihm eine leidenschaftliche Affäre (erotische Szenen!), aus der am Ende eine wundervolle Beziehung entsteht; entdeckt bei einem Spaziergang eine verstümmelte Frauenleiche und wird kurz darauf vom schizophrenen Mörder <i>Holger Frisch </i> entführt und gefangen gehalten; nimmt für die Aufarbeitung der schrecklichen Ereignisse therapeutische Hilfe bei Frau <i>Bernhard</i> in Anspruch; mit Hilfe ihrer Eltern, Freunde und <i>Kai</i> findet sie aber wieder ins gewohnte Leben zurück. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Fechner" 
                                name="vars-Ihr_Nachname" maxlength="30" id="vars-Ihr_Nachname" 
                                data-fieldname="Ihr_Nachname" 
                                data-default="Fechner" 
                                class="field focuser default" />
							<span class="field_count">28x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Vera" 
                                name="vars-Ihr_Vorname" maxlength="30" id="vars-Ihr_Vorname" 
                                data-fieldname="Ihr_Vorname" 
                                data-default="Vera" 
                                class="field focuser default" />
							<span class="field_count">569x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="rot" 
                                name="vars-Ihr_Haar" maxlength="30" id="vars-Ihr_Haar" 
                                data-fieldname="Ihr_Haar" 
                                data-default="rot" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="grün" 
                                name="vars-Ihre_Augen" maxlength="30" id="vars-Ihre_Augen" 
                                data-fieldname="Ihre_Augen" 
                                data-default="grün" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Die Heldin wohnt in																					</label>
																					<input type="text" value="Berlin" 
                                name="vars-Stadt" maxlength="30" id="vars-Stadt" 
                                data-fieldname="Stadt" 
                                data-default="Berlin" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
											<div class="field">
							<label>
							Die Marke des Cabrios der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Käfer" 
                                name="vars-Ihr_Cabrio" maxlength="30" id="vars-Ihr_Cabrio" 
                                data-fieldname="Ihr_Cabrio" 
                                data-default="Käfer" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Männliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Kai Maiwald</i>, ein bekannter, gutaussehender Radsportler; treu und ehrlich; war schon einmal 5 Jahre lang verheiratet, findet nach der Scheidung aber in <i>Vera</i> die Liebe seines Lebens; setzt nach ihrem Verschwinden alle Hebel in Bewegung, um sie zu finden, und bricht dafür sogar eines seiner Rennen ab.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Radprofis ist																					</label>
																					<input type="text" value="Maiwald" 
                                name="vars-Sein_Nachname" maxlength="30" id="vars-Sein_Nachname" 
                                data-fieldname="Sein_Nachname" 
                                data-default="Maiwald" 
                                class="field focuser default" />
							<span class="field_count">10x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des Radprofis ist																					</label>
																					<input type="text" value="Kai" 
                                name="vars-Sein_Vorname" maxlength="30" id="vars-Sein_Vorname" 
                                data-fieldname="Sein_Vorname" 
                                data-default="Kai" 
                                class="field focuser default" />
							<span class="field_count">180x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe des Radprofis ist																					</label>
																					<input type="text" value="blond" 
                                name="vars-Sein_Haar" maxlength="30" id="vars-Sein_Haar" 
                                data-fieldname="Sein_Haar" 
                                data-default="blond" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des Radprofis ist																					</label>
																					<input type="text" value="blau" 
                                name="vars-Seine_Augen" maxlength="30" id="vars-Seine_Augen" 
                                data-fieldname="Seine_Augen" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Hund der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Piefke</i>, <i>Vera</i>s Hund (männlich!); er führt <i>Vera</i> und <i>Kai</i> auf schicksalhafte Weise zusammen und ist auch an <i>Vera</i>s Rettung nicht ganz unbeteiligt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Hund (männl.) der weiblichen Hauptrolle heißt																					</label>
																					<input type="text" value="Piefke" 
                                name="vars-Ihr_Hund" maxlength="30" id="vars-Ihr_Hund" 
                                data-fieldname="Ihr_Hund" 
                                data-default="Piefke" 
                                class="field focuser default" />
							<span class="field_count">93x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ex-Freund der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Jan Brennecke</i>, <i>Vera</i>s Ex-Freund; arbeitet als Softwareentwickler; trennt sich von <i>Vera</i>, weil er mit ihrem Erfolg als Schriftstellerin nicht klarkommt; während <i>Vera</i> ihm lange hinterhertrauert, tröstet er sich schnell mit einer anderen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Exfreunds der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Brennecke" 
                                name="vars-Exfreund_nn" maxlength="30" id="vars-Exfreund_nn" 
                                data-fieldname="Exfreund_nn" 
                                data-default="Brennecke" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des Exfreunds der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Jan" 
                                name="vars-Exfreund_vn" maxlength="30" id="vars-Exfreund_vn" 
                                data-fieldname="Exfreund_vn" 
                                data-default="Jan" 
                                class="field focuser default" />
							<span class="field_count">59x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Beste Freundin der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Maria</i>, <i>Vera</i>s beste Freundin; arbeitet als freischaffende Fotografin; sympathischer Charakter; quirlig und temperamentvoll; südländische Schönheit (schwarze Haarpracht, blitzende, dunkle Augen, üppige Figur) mit Erfolg bei Männern; verliebt sich völlig überraschend in <i>Werner</i> und ist mit ihm sehr glücklich; sorgt sich um <i>Vera</i>, als diese spurlos verschwindet, und befragt sogar eine Wahrsagerin.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der besten Freundin ist																					</label>
																					<input type="text" value="Maria" 
                                name="vars-Ihre_Freundin" maxlength="30" id="vars-Ihre_Freundin" 
                                data-fieldname="Ihre_Freundin" 
                                data-default="Maria" 
                                class="field focuser default" />
							<span class="field_count">99x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Freund der besten Freundin der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Werner</i>, <i>Maria</i>s neuer Freund; ist mit seinem Bierbauch, der Lockenpracht und dem Bart eigentlich gar nicht ihr Typ, doch die beiden sind sehr glücklich; steht auf Motorräder.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Freunds der besten Freundin ist																					</label>
																					<input type="text" value="Werner" 
                                name="vars-Bekannter" maxlength="30" id="vars-Bekannter" 
                                data-fieldname="Bekannter" 
                                data-default="Werner" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Bibliothekarin und Freundin der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Gudrun</i>, Bibliothekarin; frühere Arbeitskollegin und Freundin von <i>Vera</i>; verkörpert das typische Bild einer intellektuellen Frau um die 50 (Lesebrille, dunkles Kostüm, Haarknoten).</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Bibliothekarin ist																					</label>
																					<input type="text" value="Gudrun" 
                                name="vars-Alte_Freundin" maxlength="30" id="vars-Alte_Freundin" 
                                data-fieldname="Alte_Freundin" 
                                data-default="Gudrun" 
                                class="field focuser default" />
							<span class="field_count">16x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Eltern der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Inge</i> und <i>Heinz Müller</i>, <i>Vera</i>s Eltern; leben in einer Kleinstadt und lieben ihre Kinder sehr; reisen sofort an den Bodensee, um ihrer Tochter beizustehen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname der Eltern der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Müller" 
                                name="vars-Eltern_NN" maxlength="30" id="vars-Eltern_NN" 
                                data-fieldname="Eltern_NN" 
                                data-default="Müller" 
                                class="field focuser default" />
							<span class="field_count">44x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname der Mutter der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Inge" 
                                name="vars-Ihre_Mutter" maxlength="30" id="vars-Ihre_Mutter" 
                                data-fieldname="Ihre_Mutter" 
                                data-default="Inge" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des Vaters der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Heinz" 
                                name="vars-Ihr_Vater" maxlength="30" id="vars-Ihr_Vater" 
                                data-fieldname="Ihr_Vater" 
                                data-default="Heinz" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Junggebliebene ältere Dame</div>
				<div class="description" style="margin-top: 5px;display:none">Frau <i>Klohmburger</i>, junggebliebene ältere Dame (72 Jahre alt), die das Ferienhaus von <i>Vera</i>s Eltern hütet; attraktive Frau mit modischem Kurzhaarschnitt; kennt <i>Vera</i> von Kindesbeinen an und kümmert sich liebevoll um sie.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname der älteren Dame ist																					</label>
																					<input type="text" value="Klohmburger" 
                                name="vars-Alte_Frau_nn" maxlength="30" id="vars-Alte_Frau_nn" 
                                data-fieldname="Alte_Frau_nn" 
                                data-default="Klohmburger" 
                                class="field focuser default" />
							<span class="field_count">74x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Sohn und Schwiegertochter der älteren Dame</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Franz </i> und <i>Irene Klohmburger</i>, Sohn und Schwiegertochter von Frau <i> Klohmburger</i>; Eltern von <i>Daniel</i>; sehr religiös; können <i>Daniel</i> nach dem Tod seiner Freundin nicht richtig trösten, weswegen das Verhältnis angespannt ist.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Sohns der älteren Dame ist																					</label>
																					<input type="text" value="Franz" 
                                name="vars-Sohn_Alte" maxlength="30" id="vars-Sohn_Alte" 
                                data-fieldname="Sohn_Alte" 
                                data-default="Franz" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname der Schwiegertochter der älteren Dame ist																					</label>
																					<input type="text" value="Irene" 
                                name="vars-Schwiegertochter_Alte" maxlength="30" id="vars-Schwiegertochter_Alte" 
                                data-fieldname="Schwiegertochter_Alte" 
                                data-default="Irene" 
                                class="field focuser default" />
							<span class="field_count">10x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">19-jähriger Enkel der älteren Dame</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Daniel</i>, der 19-jährige Enkel von Frau <i>Klohmburger</i>; macht eine Ausbildung zum Schreiner; kleidet sich vorrangig schwarz (Gothic-Look); das erste Mordopfer des Mörders von Lindau war seine Freundin, weswegen er kurzzeitig unter Verdacht gerät und sich danach immer mehr zurückzieht; streitet sich viel mit seinen Eltern und verschwindet plötzlich spurlos; ist jedoch an allen Verbrechen unschuldig und kehrt am Ende wieder zu seiner Familie zurück. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Enkels der älteren Dame ist																					</label>
																					<input type="text" value="Daniel" 
                                name="vars-Enkel_Alte" maxlength="30" id="vars-Enkel_Alte" 
                                data-fieldname="Enkel_Alte" 
                                data-default="Daniel" 
                                class="field focuser default" />
							<span class="field_count">47x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mit der männlichen Hauptrolle befreundetes Architektenehepaar</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Hilde</i> und <i>Martin Wagner</i>, ein sympathisches Architektenehepaar; sehr gut mit <i>Kai Maiwald</i> befreundet, schließen auch <i>Vera</i> gleich in ihr Herz; am Ende stellt sich heraus, dass <i>Martin Wagner</i> am Tod des ersten Opfers beteiligt ist; gemeinsam mit seinem Angestellten <i>Holger Frisch</i> hatte er einen Autounfall verursacht und anschließend vertuscht; wird schließlich von seinem Mitarbeiter erpresst und schweigt aus Angst, dass dieser <i>Hilde</i> etwas antut; <i>Martin</i> stellt sich jedoch am Ende der Polizei.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Architektenpaares ist																					</label>
																					<input type="text" value="Wagner" 
                                name="vars-Architektin_nn" maxlength="30" id="vars-Architektin_nn" 
                                data-fieldname="Architektin_nn" 
                                data-default="Wagner" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des Architekten ist																					</label>
																					<input type="text" value="Martin" 
                                name="vars-Architekt" maxlength="30" id="vars-Architekt" 
                                data-fieldname="Architekt" 
                                data-default="Martin" 
                                class="field focuser default" />
							<span class="field_count">91x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname der Architektin ist																					</label>
																					<input type="text" value="Hilde" 
                                name="vars-Architektin" maxlength="30" id="vars-Architektin" 
                                data-fieldname="Architektin" 
                                data-default="Hilde" 
                                class="field focuser default" />
							<span class="field_count">127x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Technischer Zeichner des Architekten und psychopathischer Mörder</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Holger Frisch </i>, als technischer Zeichner bei <i>Martin Wagner</i> tätig; Anfang 30; er ist der psychopathische Mörder, weiß dies aber nicht, da er an Schizophrenie leidet; im Kindesalter von seinem Vater schwer misshandelt, hat er zum Selbstschutz unbewusst mehrere Personen erschaffen: <i>Ralph</i>, der kaltblütige Mörder, der sich von der Mutter im Stich gelassen fühlt; <i>Micha</i>, das Kind in ihm, das die Misshandlungen des Vaters über sich ergehen lassen musste; <i>Manuel</i>, die einzige Person in ihm, die von der Präsenz der anderen weiß, bereitet als „Gewissen“ dem Ganzen schließlich ein Ende und tötet den Vater; nach seiner Verhaftung erhängt sich <i>Holger</i> in seiner Gefängniszelle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Psychopathen ist																					</label>
																					<input type="text" value="Frisch" 
                                name="vars-Irrer_nn" maxlength="30" id="vars-Irrer_nn" 
                                data-fieldname="Irrer_nn" 
                                data-default="Frisch" 
                                class="field focuser default" />
							<span class="field_count">38x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des Psychopathen ist																					</label>
																					<input type="text" value="Holger" 
                                name="vars-Irrer_vn" maxlength="30" id="vars-Irrer_vn" 
                                data-fieldname="Irrer_vn" 
                                data-default="Holger" 
                                class="field focuser default" />
							<span class="field_count">66x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe des Psychopathen ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Irrer_Haar" maxlength="30" id="vars-Irrer_Haar" 
                                data-fieldname="Irrer_Haar" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des Psychopathen ist																					</label>
																					<input type="text" value="hellblau" 
                                name="vars-Irrer_Augen" maxlength="30" id="vars-Irrer_Augen" 
                                data-fieldname="Irrer_Augen" 
                                data-default="hellblau" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Psychopath - Identität Mörder (männl.)																					</label>
																					<input type="text" value="Ralph" 
                                name="vars-Irrer_Mörder" maxlength="30" id="vars-Irrer_Mörder" 
                                data-fieldname="Irrer_Mörder" 
                                data-default="Ralph" 
                                class="field focuser default" />
							<span class="field_count">46x</span>
						</div>
											<div class="field">
							<label>
							Psychopath - Identität Kind (männl.)																					</label>
																					<input type="text" value="Micha" 
                                name="vars-Irrer_Kind" maxlength="30" id="vars-Irrer_Kind" 
                                data-fieldname="Irrer_Kind" 
                                data-default="Micha" 
                                class="field focuser default" />
							<span class="field_count">19x</span>
						</div>
											<div class="field">
							<label>
							Psychopath - Identität Gewissen (männl.)																					</label>
																					<input type="text" value="Manuel" 
                                name="vars-Irrer_Reue" maxlength="30" id="vars-Irrer_Reue" 
                                data-fieldname="Irrer_Reue" 
                                data-default="Manuel" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Vater des Psychopathen</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Peter</i>, <i>Holger</i>s Vater; verprügelte und misshandelte seinen Sohn und seine Frau schwer; als seine Frau ihn mit <i>Micha</i> verlassen wollte, hat er sie erschlagen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Vaters des Psychopathen ist																					</label>
																					<input type="text" value="Peter" 
                                name="vars-Irrer_Vater" maxlength="30" id="vars-Irrer_Vater" 
                                data-fieldname="Irrer_Vater" 
                                data-default="Peter" 
                                class="field focuser default" />
							<span class="field_count">18x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Kriminalhauptkommissar</div>
				<div class="description" style="margin-top: 5px;display:none">Kommissar <i>Krüger</i>, große und hagere Erscheinung; leitet die Ermittlungen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Hauptkommissars ist																					</label>
																					<input type="text" value="Krüger" 
                                name="vars-Kripo1_nn" maxlength="30" id="vars-Kripo1_nn" 
                                data-fieldname="Kripo1_nn" 
                                data-default="Krüger" 
                                class="field focuser default" />
							<span class="field_count">101x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Kommissar und Kollege des ermittelnden Hauptkommissars</div>
				<div class="description" style="margin-top: 5px;display:none">Herr <i>Wilkes</i>, Kommissar <i>Krüger</i>s Mitarbeiter; wird bei der Ergreifung <i>Holger Frisch</i>s von diesem mit einem Messer niedergestochen; überlebt am Ende jedoch.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Kommissars ist																					</label>
																					<input type="text" value="Wilkes" 
                                name="vars-Kripo2_nn" maxlength="30" id="vars-Kripo2_nn" 
                                data-fieldname="Kripo2_nn" 
                                data-default="Wilkes" 
                                class="field focuser default" />
							<span class="field_count">18x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Zeugin</div>
				<div class="description" style="margin-top: 5px;display:none">Frau <i>Schneider</i>, eine Zeugin; tritt nur einmal kurz auf.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname der Zeugin ist																					</label>
																					<input type="text" value="Schneider" 
                                name="vars-Zeugin_nn" maxlength="30" id="vars-Zeugin_nn" 
                                data-fieldname="Zeugin_nn" 
                                data-default="Schneider" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Nachbarin des Psychopathen</div>
				<div class="description" style="margin-top: 5px;display:none">Frau <i>Hoffmann</i>, eine Nachbarin von <i>Holger Frisch </i>, die Kommissar <i>Krüger</i> bereitwillig Auskunft gibt; tritt nur einmal auf.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname der Nachbarin ist																					</label>
																					<input type="text" value="Hoffmann" 
                                name="vars-Nachbarin_nn" maxlength="30" id="vars-Nachbarin_nn" 
                                data-fieldname="Nachbarin_nn" 
                                data-default="Hoffmann" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Psychologin der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none">Frau <i>Bernhard</i>, Psychologin; um die 50; klein und drahtig; hilft <i>Vera</i> nach ihrer Entführung wieder auf die Beine; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname der Psychologin ist																					</label>
																					<input type="text" value="Bernhard" 
                                name="vars-Psychologin_nn" maxlength="30" id="vars-Psychologin_nn" 
                                data-fieldname="Psychologin_nn" 
                                data-default="Bernhard" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Wahrsagerin</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Diana</i>, moderne Wahrsagerin; liefert bei der Suche nach <i>Vera</i> den entscheidenden Hinweis; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Wahrsagerin ist																					</label>
																					<input type="text" value="Diana" 
                                name="vars-Wahrsagerin" maxlength="30" id="vars-Wahrsagerin" 
                                data-fieldname="Wahrsagerin" 
                                data-default="Diana" 
                                class="field focuser default" />
							<span class="field_count">15x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Vierjährige Nichte der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Anna</i>, <i>Vera</i>s Nichte; vier Jahre alt; spielt nur am Ende eine kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Nichte der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Anna" 
                                name="vars-Nichte" maxlength="30" id="vars-Nichte" 
                                data-fieldname="Nichte" 
                                data-default="Anna" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			Die Heldin der Geschichte, <span class='default Ihr_Vorname'>Vera</span> <span class='default Ihr_Nachname'>Fechner</span>, hat <span class='default Ihr_Haar'>rot</span>es Haar und <span class='default Ihre_Augen'>grÃ¼n</span>e Augen, lebt in der Großstadt <span class='default Stadt'>Berlin</span> und fährt ein <span class='default Ihr_Cabrio'>KÃ¤fer</span>-Cabrio. Den gutaussehenden Radprofi <span class='default Sein_Vorname'>Kai</span> <span class='default Sein_Nachname'>Maiwald</span> mit <span class='default Sein_Haar'>blond</span>em Haar und <span class='default Seine_Augen'>blau</span>en Augen lernt sie kennen, als sie mit ihrem Rüden <span class='default Ihr_Hund'>Piefke</span> Urlaub am Bodensee macht, um die Trennung von ihrem Freund <span class='default Exfreund_vn'>Jan</span> <span class='default Exfreund_nn'>Brennecke</span> zu verarbeiten. Seelische Unterstützung findet sie auch bei ihren Freunden <span class='default Ihre_Freundin'>Maria</span> und <span class='default Bekannter'>Werner</span> sowie bei der mütterlichen <span class='default Alte_Freundin'>Gudrun</span>. Ihre Eltern, <span class='default Ihre_Mutter'>Inge</span> und <span class='default Ihr_Vater'>Heinz</span> <span class='default Eltern_NN'>MÃ¼ller</span>, besitzen ein Ferienhaus am Bodensee, das von der netten Frau <span class='default Alte_Frau_nn'>Klohmburger</span> verwaltet wird. Deren Sohn <span class='default Sohn_Alte'>Franz</span> ist mit <span class='default Schwiegertochter_Alte'>Irene</span> verheiratet. Der Enkel <span class='default Enkel_Alte'>Daniel</span> ist das Sorgenkind der Familie. Durch <span class='default Sein_Vorname'>Kai</span> lernt <span class='default Ihr_Vorname'>Vera</span> das Ehepaar <span class='default Architekt'>Martin</span> und <span class='default Architektin'>Hilde</span> <span class='default Architektin_nn'>Wagner</span> kennen. Diese beschäftigen in ihrem Betrieb den Psychopathen <span class='default Irrer_vn'>Holger</span> <span class='default Irrer_nn'>Frisch</span>, der <span class='default Irrer_Haar'>braun</span>es Haar und <span class='default Irrer_Augen'>hellblau</span>e Augen hat. Von seinem Vater <span class='default Irrer_Vater'>Peter</span> schwer misshandelt, hat sich seine Persönlichkeit in den Mörder <span class='default Irrer_Mörder'></span>, das Gewissen <span class='default Irrer_Reue'>Manuel</span> und das Kind <span class='default Irrer_Kind'>Micha</span> aufgespalten. Nachdem <span class='default Ihr_Vorname'>Vera</span> eine Leiche gefunden hat, ermitteln Kommissar <span class='default Kripo1_nn'>KrÃ¼ger</span> und sein Assistent Herr <span class='default Kripo2_nn'>Wilkes</span> und befragen die Zeugin Frau <span class='default Zeugin_nn'>Schneider</span> und die Nachbarin des Täters, Frau <span class='default Nachbarin_nn'>Hoffmann</span>. Doch den entscheidenden Hinweis liefert die Wahrsagerin <span class='default Wahrsagerin'>Diana</span>. Beim Verarbeiten der schrecklichen Erlebnisse helfen <span class='default Ihr_Vorname'>Vera</span> schließlich auch ihr Bruder und dessen Tochter <span class='default Nichte'>Anna</span> sowie die Psychologin, Frau <span class='default Psychologin_nn'>Bernhard</span>.		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

