<?php $expire = 1405315985; /* http://web.personalnovel.local/customize/book/210.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=210">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Armee des Grauens" src="/tl_files/thumbnail-book/armee-des-grauens-210-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Armee des Grauens“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-210" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Männliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none">Dr. <i>Maurice Lindholm</i>, Exobiologe und Planetenkundler mit Kenntnissen in der Humanmedizin; sportlich, mit braunem Gürtel in Karate; war acht Jahre mit <i>Virna</i> verheiratet, seit einem Jahr ist er von ihr geschieden, hegt aber immer noch Gefühle für sie; wird von der Liga für Planetenschutz beauftragt, sich auf dem Planeten Halikarnos auf die Suche nach einem verschollenen Forschungsteam zu machen, zu dem auch <i>Virna </i> gehörte; ehrbarer Charakter, der Wissenschaft zum Wohle der Menschheit betreibt; antimilitaristisch </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Helden lautet																					</label>
																					<input type="text" value="Maurice" 
                                name="vars-Held_VN" maxlength="30" id="vars-Held_VN" 
                                data-fieldname="Held_VN" 
                                data-default="Maurice" 
                                class="field focuser default" />
							<span class="field_count">493x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Helden lautet																					</label>
																					<input type="text" value="Lindholm" 
                                name="vars-Held_NN" maxlength="30" id="vars-Held_NN" 
                                data-fieldname="Held_NN" 
                                data-default="Lindholm" 
                                class="field focuser default" />
							<span class="field_count">49x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des Helden ist																					</label>
																					<input type="text" value="blau" 
                                name="vars-Held_Augen" maxlength="30" id="vars-Held_Augen" 
                                data-fieldname="Held_Augen" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe des Helden ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Held_Haare" maxlength="30" id="vars-Held_Haare" 
                                data-fieldname="Held_Haare" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Das Aftershave des Helden heißt																					</label>
																					<input type="text" value="Wilkinson" 
                                name="vars-Held_Aftershave" maxlength="30" id="vars-Held_Aftershave" 
                                data-fieldname="Held_Aftershave" 
                                data-default="Wilkinson" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							An seinem nächsten Geburtstag wird der Held (Zahl)																					</label>
																					<input type="text" value="45" 
                                name="vars-Held_Alter" maxlength="30" id="vars-Held_Alter" 
                                data-fieldname="Held_Alter" 
                                data-default="45" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weibliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Samantha Margolin</i>, Lieutenant und stellvertretende Einsatzleiterin des Rettungsteams; tough und sportlich (schwarzer Gürtel in Karate); loyal, teamfähig und rechtschaffen; als die Machenschaften von Captain <i>Masterson</i> ans Licht kommen, übernimmt sie das Kommando</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Heldin lautet																					</label>
																					<input type="text" value="Samantha" 
                                name="vars-Heldin_VN" maxlength="30" id="vars-Heldin_VN" 
                                data-fieldname="Heldin_VN" 
                                data-default="Samantha" 
                                class="field focuser default" />
							<span class="field_count">304x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Heldin lautet																					</label>
																					<input type="text" value="Margolin" 
                                name="vars-Heldin_NN" maxlength="30" id="vars-Heldin_NN" 
                                data-fieldname="Heldin_NN" 
                                data-default="Margolin" 
                                class="field focuser default" />
							<span class="field_count">29x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Heldin ist																					</label>
																					<input type="text" value="blaugrau" 
                                name="vars-Heldin_Augen" maxlength="30" id="vars-Heldin_Augen" 
                                data-fieldname="Heldin_Augen" 
                                data-default="blaugrau" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Heldin ist																					</label>
																					<input type="text" value="dunkelblond" 
                                name="vars-Heldin_Haare" maxlength="30" id="vars-Heldin_Haare" 
                                data-fieldname="Heldin_Haare" 
                                data-default="dunkelblond" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Das Parfüm der Heldin heißt																					</label>
																					<input type="text" value="Chanel No 5" 
                                name="vars-Heldin_Parfüm" maxlength="30" id="vars-Heldin_Parfüm" 
                                data-fieldname="Heldin_Parfüm" 
                                data-default="Chanel No 5" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ex-Frau der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none">Dr. <i>Virna Casagrande</i>, Wissenschaftlerin und Exfrau von <i>Maurice</i>; hat ihren Mädchennamen wieder angenommen und ist im Wissenschaftsteam von Prof. Hamilton Lawrence, das vermisst wird; <i>Virna</i> hat <i>Maurice </i> heimliche Botschaften hinterlassen, damit er sie wiederfindet und die bösen Pläne von Lawrence und <i>Masterson</i> durchkreuzt; wird am Ende von <i>Maurice </i> gerettet; die beiden werden kein Liebespaar mehr, bleiben aber gute Freunde</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Die Ex-Frau des Helden heißt mit Vornamen																					</label>
																					<input type="text" value="Virna" 
                                name="vars-Exfrau_VN" maxlength="30" id="vars-Exfrau_VN" 
                                data-fieldname="Exfrau_VN" 
                                data-default="Virna" 
                                class="field focuser default" />
							<span class="field_count">91x</span>
						</div>
											<div class="field">
							<label>
							Der Mädchenname der Ex-Frau lautet																					</label>
																					<input type="text" value="Casagrande" 
                                name="vars-Exfrau_MaedchenN" maxlength="30" id="vars-Exfrau_MaedchenN" 
                                data-fieldname="Exfrau_MaedchenN" 
                                data-default="Casagrande" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Captain des Rettungsteams</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Harry Masterson</i>, Captain und Einsatzleiter des Rettungsteams; unsympathisch, herrisch und streng; ist zur Überraschung des Teams nicht daran interessiert, auf Halikarnos nach den vermeintlich Überlebenden zu suchen oder herauszufinden, was ihnen passiert ist; als sein falsches Spiel auffliegt, riskiert er das Leben einiger Teammitglieder und flieht; am Ende bekommen ihn <i>Margolin</i> und <i>Lindholm</i> zu fassen und stellen ihn vor das Militärgericht</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Captain lautet																					</label>
																					<input type="text" value="Harry" 
                                name="vars-Antiheld_VN" maxlength="30" id="vars-Antiheld_VN" 
                                data-fieldname="Antiheld_VN" 
                                data-default="Harry" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Captain lautet																					</label>
																					<input type="text" value="Masterson" 
                                name="vars-Antiheld_NN" maxlength="30" id="vars-Antiheld_NN" 
                                data-fieldname="Antiheld_NN" 
                                data-default="Masterson" 
                                class="field focuser default" />
							<span class="field_count">232x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Corporal des Rettungsteams</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Ryan Murphy</i>, Corporal und Mitglied des Rettungsteams; ausgebildeter Pilot, der jede Maschine zum Laufen bringt; Spaßvogel in der Gruppe; hatte einmal eine Liebelei mit <i>Samantha Margolin</i> </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Spaßvogel im Team heißt mit Vornamen																					</label>
																					<input type="text" value="Ryan" 
                                name="vars-Team1_VN" maxlength="30" id="vars-Team1_VN" 
                                data-fieldname="Team1_VN" 
                                data-default="Ryan" 
                                class="field focuser default" />
							<span class="field_count">185x</span>
						</div>
											<div class="field">
							<label>
							Der Spaßvogel im Team heißt mit Nachnamen																					</label>
																					<input type="text" value="Murphy" 
                                name="vars-Team1_NN" maxlength="30" id="vars-Team1_NN" 
                                data-fieldname="Team1_NN" 
                                data-default="Murphy" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Sergeant des Rettungsteams</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Sheila Juskowiak</i>, Sergeant und Mitglied des Rettungsteams; quasi die Elektrikerin im Team; pflichtbewusst und resolut, bisweilen draufgängerisch; lernt <i>Maurice</i> erst nach einiger Zeit leiden, ist dann aber eine verlässliche Unterstützung; sportlich (schwarzer Gürtel in Karate)</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Die Elektrikerin im Team heißt mit Vornamen																					</label>
																					<input type="text" value="Sheila" 
                                name="vars-Team2_VN" maxlength="30" id="vars-Team2_VN" 
                                data-fieldname="Team2_VN" 
                                data-default="Sheila" 
                                class="field focuser default" />
							<span class="field_count">149x</span>
						</div>
											<div class="field">
							<label>
							Die Elektrikerin im Team heißt mit Nachnamen																					</label>
																					<input type="text" value="Juskowiak" 
                                name="vars-Team2_NN" maxlength="30" id="vars-Team2_NN" 
                                data-fieldname="Team2_NN" 
                                data-default="Juskowiak" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Computerspezialist des Rettungsteams</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Roberto Cerno</i>, Mitglied des Rettungsteams; Computerspezialist, sympathischer, aber offenbar abergläubischer Mann</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Computerspezialist im Team heißt mit Vornamen																					</label>
																					<input type="text" value="Roberto" 
                                name="vars-Team3_VN" maxlength="30" id="vars-Team3_VN" 
                                data-fieldname="Team3_VN" 
                                data-default="Roberto" 
                                class="field focuser default" />
							<span class="field_count">110x</span>
						</div>
											<div class="field">
							<label>
							Der Computerspezialist im Team heißt mit Nachnamen																					</label>
																					<input type="text" value="Cerno" 
                                name="vars-Team3_NN" maxlength="30" id="vars-Team3_NN" 
                                data-fieldname="Team3_NN" 
                                data-default="Cerno" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Waffenspezialist des Rettungsteams</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Mike Dane</i>, Mitglied des Rettungsteams; Elitesoldat und Waffenspezialist; hat Frau und Kind; eher introvertiert, bisweilen ängstlich, verliert schnell die Nerven</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Angsthase im Team heißt mit Vornamen																					</label>
																					<input type="text" value="Mike" 
                                name="vars-Team4_VN" maxlength="30" id="vars-Team4_VN" 
                                data-fieldname="Team4_VN" 
                                data-default="Mike" 
                                class="field focuser default" />
							<span class="field_count">91x</span>
						</div>
											<div class="field">
							<label>
							Der Angsthase im Team heißt mit Nachnamen																					</label>
																					<input type="text" value="Dane" 
                                name="vars-Team4_NN" maxlength="30" id="vars-Team4_NN" 
                                data-fieldname="Team4_NN" 
                                data-default="Dane" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Freund der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Paul</i> und <i>Elaine Steward</i>, Freunde von <i>Maurice</i>; leben in Sydney; <i>Maurice</i> nimmt das Angebot seines ehemaligen Studienkollegen an, ihn in Sydney zu besuchen und dort Urlaub zu machen – bis ihn die Liga für den Einsatz auf Halikarnos rekrutiert</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Freund des Helden heißt mit Vornamen																					</label>
																					<input type="text" value="Paul" 
                                name="vars-FreundAustralier_VN" maxlength="30" id="vars-FreundAustralier_VN" 
                                data-fieldname="FreundAustralier_VN" 
                                data-default="Paul" 
                                class="field focuser default" />
							<span class="field_count">13x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Frau des Freundes</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Paul</i> und <i>Elaine Steward</i>, Freunde von <i>Maurice</i>; leben in Sydney; <i>Maurice</i> nimmt das Angebot seines ehemaligen Studienkollegen an, ihn in Sydney zu besuchen und dort Urlaub zu machen – bis ihn die Liga für den Einsatz auf Halikarnos rekrutiert</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Die Frau des Freundes heißt mit Vornamen																					</label>
																					<input type="text" value="Elaine" 
                                name="vars-Frau_Australier_VN" maxlength="30" id="vars-Frau_Australier_VN" 
                                data-fieldname="Frau_Australier_VN" 
                                data-default="Elaine" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Die beiden heißen mit Nachnamen																					</label>
																					<input type="text" value="Steward" 
                                name="vars-Freund_Australier_NN" maxlength="30" id="vars-Freund_Australier_NN" 
                                data-fieldname="Freund_Australier_NN" 
                                data-default="Steward" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<div class="name">Name des Raumschiffs</div>
				<div class="description" style="margin-top: 5px;display:none"></div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Name des Raumschiffs lautet																					</label>
																					<input type="text" value="Daedalus" 
                                name="vars-Raumschiff_Name" maxlength="30" id="vars-Raumschiff_Name" 
                                data-fieldname="Raumschiff_Name" 
                                data-default="Daedalus" 
                                class="field focuser default" />
							<span class="field_count">20x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			Der <span class='default Held_Augen'>blau</span>äugige und <span class='default Held_Haare'>braun</span>haarige Planetenkundler <span class='default Held_VN'>Maurice</span> <span class='default Held_NN'>Lindholm</span> wollte eigentlich nur ein paar Tage bei seinen Freunden <span class='default FreundAustralier_VN'>Paul</span> und <span class='default Frau_Australier_VN'>Elaine</span> <span class='default Freund_Australier_NN'>Steward</span> Urlaub machen - doch daraus wird nichts. Die Liga für Planetenschutz bittet ihn, an einer vom Militär geleiteten Expedition auf den Planeten Halikarnos teilzunehmen. Ein Team von Wissenschaftlern, darunter seine Ex-Frau <span class='default Exfrau_VN'>Virna</span> <span class='default Exfrau_MaedchenN'>Casagrande</span>, ist dort verschollen. Der bald <span class='default Held_Alter'>45</span>-jährige <span class='default Held_VN'>Maurice</span> packt also seine Siebensachen - sein Aftershave <span class='default Held_Aftershave'>Wilkinson</span> darf natürlich auch nicht fehlen - und macht sich mit dem Team von Captain <span class='default Antiheld_VN'>Harry</span> <span class='default Antiheld_NN'>Masterson</span> mit dem Raumschiff <span class='default Raumschiff_Name'>Daedalus</span> auf den Weg nach Halikarnos. Die Reise entpuppt sich als gefährlich und voller Rätsel, doch <span class='default Held_VN'>Maurice</span> gibt nicht auf. Die <span class='default Heldin_Augen'>blaugrau</span>äugige und <span class='default Heldin_Haare'>dunkelblond</span>haarige <span class='default Heldin_VN'>Samantha</span> <span class='default Heldin_NN'>Margolin</span>, die stets ein zarter Duft von <span class='default Heldin_Parfüm'></span> umweht, erweist sich als besonders mutige Begleiterin, doch auch die anderen Teammitglieder, <span class='default Team1_VN'>Ryan</span> <span class='default Team1_NN'>Murphy</span>, <span class='default Team2_VN'>Sheila</span> <span class='default Team2_NN'>Juskowiak</span>, <span class='default Team3_VN'>Roberto</span> <span class='default Team3_NN'>Cerno</span> und <span class='default Team4_VN'>Mike</span> <span class='default Team4_NN'>Dane</span> machen sich bereit für den Kampf mit den unheimlichen Flonen...		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

