<?php $expire = 1394736384; /* http://web.personalnovel.local/customize/book/154.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href="http://hochzeit.personalnovel.de/"></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=154">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Flitterwochen in der Hölle" src="/tl_files/thumbnail-book/flitterwochen-in-der-hoelle-154-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Flitterwochen in der Hölle“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-154" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Männliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Oliver</i>, ein gutaussehender, intelligenter Deutscher; spricht auch Englisch und Spanisch; kann bei der Rettung seiner Frau auf seine Erfahrungen aus 2 Jahren Bundeswehr samt Nahkampfausbildung zurückgreifen (beim ersten Angriff schlägt er die Sektenanhänger allein in die Flucht); freundet sich im Rahmen der Befreiungsaktion mit dem hilfsbereiten Professor <i>Husemann</i> an; zusammen gelingt ihnen die Rettung <i>Martha</i>s.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Ehemannes ist																					</label>
																					<input type="text" value="Oliver" 
                                name="vars-Sein_Name" maxlength="30" id="vars-Sein_Name" 
                                data-fieldname="Sein_Name" 
                                data-default="Oliver" 
                                class="field focuser default" />
							<span class="field_count">335x</span>
						</div>
											<div class="field">
							<label>
							Der Kosename des Ehemannes lautet																					</label>
																					<input type="text" value="Liebling" 
                                name="vars-Sein_Kose" maxlength="30" id="vars-Sein_Kose" 
                                data-fieldname="Sein_Kose" 
                                data-default="Liebling" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe des Ehemannes ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Sein_Haar" maxlength="30" id="vars-Sein_Haar" 
                                data-fieldname="Sein_Haar" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des Ehemannes ist																					</label>
																					<input type="text" value="grün" 
                                name="vars-Seine_Augen" maxlength="30" id="vars-Seine_Augen" 
                                data-fieldname="Seine_Augen" 
                                data-default="grün" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weibliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Martha</i>, eine hübsche, intelligente, selbstbewusste, zielstrebige Deutsche; wird aufgrund ihrer weißen Haut und eines Muttermals auf der Schulter von der alten Wahrsagerin Sybille für die Wiedergeburt der Göttin Nyrana gehalten; wird von Mitgliedern der Sekte gekidnappt und ihr droht der Opfertod durch <i>Alessandro</i>; wird am Ende jedoch von ihrem Ehemann und dem Professor gerettet.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Ehepaars lautet																					</label>
																					<input type="text" value="Voss" 
                                name="vars-Nachname" maxlength="30" id="vars-Nachname" 
                                data-fieldname="Nachname" 
                                data-default="Voss" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname der Ehefrau ist																					</label>
																					<input type="text" value="Martha" 
                                name="vars-Ihr_Name" maxlength="30" id="vars-Ihr_Name" 
                                data-fieldname="Ihr_Name" 
                                data-default="Martha" 
                                class="field focuser default" />
							<span class="field_count">280x</span>
						</div>
											<div class="field">
							<label>
							Der Kosename der Ehefrau lautet																					</label>
																					<input type="text" value="Schatz" 
                                name="vars-Ihr_Kose" maxlength="30" id="vars-Ihr_Kose" 
                                data-fieldname="Ihr_Kose" 
                                data-default="Schatz" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Ehefrau ist																					</label>
																					<input type="text" value="blond" 
                                name="vars-Ihr_Haar" maxlength="30" id="vars-Ihr_Haar" 
                                data-fieldname="Ihr_Haar" 
                                data-default="blond" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Ehefrau ist																					</label>
																					<input type="text" value="blau" 
                                name="vars-Ihre_Augen" maxlength="30" id="vars-Ihre_Augen" 
                                data-fieldname="Ihre_Augen" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<div class="name">Heimatstadt der beiden Hauptpersonen</div>
				<div class="description" style="margin-top: 5px;display:none"></div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Die beiden kommen aus der deutschen Großstadt																					</label>
																					<input type="text" value="München" 
                                name="vars-Ort" maxlength="30" id="vars-Ort" 
                                data-fieldname="Ort" 
                                data-default="München" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Professor</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Theodor</i> <i>Husemann</i>, Deutscher, etwa Mitte 50, ehemaliger Professor für Meeresbiologie; lebt als Aussteiger in einem schönen Pfahlbau auf Dominica; bestreitet seinen Lebensunterhalt mit dem Verkauf seiner Unterwasser-Fotografien; ist von mächtiger Gestalt: groß, breite Schultern, markantes, gebräuntes Gesicht, grau-melierter Vollbart, etwas längere Haare; hat sich früher schon mit dem Sarango-Kult auseinandergesetzt und hilft dem jungen Ehepaar dann sofort mit vollen Kräften; ohne seine Hilfe wären sie verloren.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Professors ist																					</label>
																					<input type="text" value="Theodor" 
                                name="vars-Vor_Prof" maxlength="30" id="vars-Vor_Prof" 
                                data-fieldname="Vor_Prof" 
                                data-default="Theodor" 
                                class="field focuser default" />
							<span class="field_count">37x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Professors ist																					</label>
																					<input type="text" value="Husemann" 
                                name="vars-Nach_Prof" maxlength="30" id="vars-Nach_Prof" 
                                data-fieldname="Nach_Prof" 
                                data-default="Husemann" 
                                class="field focuser default" />
							<span class="field_count">132x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Hohepriester</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Pedro</i> <i>Almidaro</i> alias <i>Alessandro</i>, dunkelhäutiger Kubaner; sehr groß, kalte, grausame Augen, kahl geschoren; selbsternannter Oberpriester der geheimen Sarango-Sekte; denkt mehr an Geld als an den Glauben; nutzt die Gutgläubigkeit seiner Anhänger für seine skrupellosen Machenschaften mit dem Waffenschieber; kommt am Ende in der explodierenden Höhle zu Tode.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Fantasiename des Hohepriesters (stirbt) lautet																					</label>
																					<input type="text" value="Alessandro" 
                                name="vars-Hohepriester_Fanta" maxlength="30" id="vars-Hohepriester_Fanta" 
                                data-fieldname="Hohepriester_Fanta" 
                                data-default="Alessandro" 
                                class="field focuser default" />
							<span class="field_count">69x</span>
						</div>
											<div class="field">
							<label>
							Der bürgerliche Vorname des Hohepriesters (stirbt) lautet																					</label>
																					<input type="text" value="Pedro" 
                                name="vars-Hohepriester_Vor" maxlength="30" id="vars-Hohepriester_Vor" 
                                data-fieldname="Hohepriester_Vor" 
                                data-default="Pedro" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Der bürgerliche Nachname des Hohepriesters (stirbt) lautet																					</label>
																					<input type="text" value="Almidaro" 
                                name="vars-Hohepriester_Nach" maxlength="30" id="vars-Hohepriester_Nach" 
                                data-fieldname="Hohepriester_Nach" 
                                data-default="Almidaro" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Korrupter Polizeichef</div>
				<div class="description" style="margin-top: 5px;display:none"><i>José</i> <i>Cascareda</i>, dicker, korrupter Polizeichef von Marigot; Mitte 40; Schnauzbärtchen; steckt mit <i>Alessandro</i> und <i>Sergio</i> unter einer Decke; wird am Ende ebenfalls verhaftet.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der korrupte Polizeichef heißt mit Vornamen																					</label>
																					<input type="text" value="Jose" 
                                name="vars-Polizeichef_Vor" maxlength="30" id="vars-Polizeichef_Vor" 
                                data-fieldname="Polizeichef_Vor" 
                                data-default="Jose" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
											<div class="field">
							<label>
							Der korrupte Polizeichef heißt mit Nachnamen																					</label>
																					<input type="text" value="Cascareda" 
                                name="vars-Polizeichef_Nach" maxlength="30" id="vars-Polizeichef_Nach" 
                                data-fieldname="Polizeichef_Nach" 
                                data-default="Cascareda" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Waffenschmuggler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Sergio</i> <i>Rodriguez</i>, großer, schlanker, hellhäutiger Amerikaner kubanischer Abstammung mit gepflegtem Menjou-Bärtchen; skrupelloser Waffenschmuggler; will die Anhänger der Sarango-Sekte kaltblütig dazu instrumentalisieren, einen Bürgerkrieg anzuzetteln; wird am Ende auf der Flucht von der amerikanischen Polizei verhaftet.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Waffenschiebers ist																					</label>
																					<input type="text" value="Sergio" 
                                name="vars-Waffenschieber" maxlength="30" id="vars-Waffenschieber" 
                                data-fieldname="Waffenschieber" 
                                data-default="Sergio" 
                                class="field focuser default" />
							<span class="field_count">32x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Waffenschiebers ist																					</label>
																					<input type="text" value="Rodriguez" 
                                name="vars-Waffenschieber_Nach" maxlength="30" id="vars-Waffenschieber_Nach" 
                                data-fieldname="Waffenschieber_Nach" 
                                data-default="Rodriguez" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Hund der beiden Hauptrollen</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Bella</i>, streunende Mischlingshündin, wird von dem jungen Paar entdeckt, als sie mitten auf der Straße sitzt; <i>Oliver</i> überfährt sie beinahe; <i>Martha</i> rettet sie und nimmt sie mit in das Feriendorf; muss für ihre Treue mit dem Leben bezahlen, als sie wegen ihres Bellens von <i>Alessandro</i>s Leuten erdolcht wird.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Die zugelaufene Hündin (stirbt) heißt																					</label>
																					<input type="text" value="Bella" 
                                name="vars-Hund_1" maxlength="30" id="vars-Hund_1" 
                                data-fieldname="Hund_1" 
                                data-default="Bella" 
                                class="field focuser default" />
							<span class="field_count">36x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			Es hätten unbeschwerte Flitterwochen der beiden frisch Vermählten aus <span class='default Ort'>MÃ¼nchen</span> auf Dominica in der Karibik werden sollen. <span class='default Ihr_Name'>Martha</span> mit ihren <span class='default Ihr_Haar'>blond</span>en Haaren und ihren <span class='default Ihre_Augen'>blau</span>en Augen und <span class='default Sein_Name'>Oliver</span> <span class='default Nachname'>Voss</span> - <span class='default Seine_Augen'>grÃ¼n</span>e Augen und <span class='default Sein_Haar'>braun</span>e Haare - waren ein tolles Paar. (Sie nennen sich gegenseitig liebevoll <span class='default Ihr_Kose'>Schatz</span> und <span class='default Sein_Kose'>Liebling</span>.) 
Doch der Zauber der Karibik zieht die Flitterwöchler unversehens in seinen Bann.
Nachdem die zugelaufene Hündin <span class='default Hund_1'>Bella</span> getötet wird, überschlagen sich die Ereignisse: Das Paar gerät in die Fänge <span class='default Hohepriester_Vor'>Pedro</span> <span class='default Hohepriester_Nach'>Almidaro</span>s, der als geheimnisvoller Sektenführer <span class='default Hohepriester_Fanta'>Alessandro</span> dubiose Geschäfte mit dem korrupten Polizeichef <span class='default Polizeichef_Vor'>Jose</span> <span class='default Polizeichef_Nach'>Cascareda</span> und dem skrupellosen Waffenschieber <span class='default Waffenschieber'>Sergio</span> <span class='default Waffenschieber_Nach'>Rodriguez</span> macht. Nur mit der Hilfe Professor <span class='default Vor_Prof'>Theodor</span> <span class='default Nach_Prof'>Husemann</span>s gelingt es <span class='default Sein_Name'>Oliver</span>, <span class='default Ihr_Name'>Martha</span> aus den Fängen der Sekte zu befreien.		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

