<?php $expire = 1402035922; /* http://web.personalnovel.local/customize/book/196.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"   class='progress-kinder'>
		<li class="first current">
		Aussehen des Kindes		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=196">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Der kleine Weihnachtsengel - M" src="/tl_files/thumbnail-book/der-kleine-weihnachtsengel-m-196-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Der kleine Weihnachtsengel - M“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            14.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="kinderbuecher/popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="kinderbuecher/popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="kinderbuecher/popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">14,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-196" value="false" />
			<div class="type_kinderbuch clearfix">
	<div class="left">
	    
	    	
					<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Männliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none">Es ist der 24. Dezember. <i>Florian</i> <i>Müller</i> kann den Weihnachtsabend kaum noch erwarten. Damit die Stunden bis dahin schneller vergehen, geht <i>Florian</i> zum Schlittenfahren. Aus dem Wald hört er ein Schluchzen. Da sitzt es, das Christkind, ganz überfordert vor lauter Arbeit! <i>Florian</i> bietet dem Christkind seine Hilfe an, schmückt die Christbäumchen und packt die Geschenke ein. Zu zweit ist die Arbeit viel schneller erledigt und macht richtig Spaß! Gemeinsam huschen <i>Florian</i> und das Christkind von Haus zu Haus, um die Weihnachtsbäume und Geschenke zu den Familien zu bringen. Beim letzten Haus angekommen, fällt ihnen auf: Es sind - außer jenen von <i>Florian</i> - keine Geschenke mehr da! Damit die Kinder in dem letzten Haus auch ein schönes Weihnachtsfest haben, gibt <i>Florian</i> einige seiner Geschenke her. Wie sehr sich die Kinder über die Präsente freuen! <i>Florian</i> freut sich mit den Kindern und merkt: Teilen macht Spaß!</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Kindes lautet																					</label>
																					<input type="text" value="Florian" 
                                name="vars-Kind_VN" 
                                maxlength="30" id="vars-Kind_VN" 
                                data-fieldname="Kind_VN" 
                                data-default="Florian" 
                                class="field focuser default" />
						</div>
											<div class="field">
							<label>
							Der Nachname des Kindes lautet																					</label>
																					<input type="text" value="Müller" 
                                name="vars-Kind_NN" 
                                maxlength="30" id="vars-Kind_NN" 
                                data-fieldname="Kind_NN" 
                                data-default="Müller" 
                                class="field focuser default" />
						</div>
									</div>
			</div>
					<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Bezugsperson der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Mama</i>, die Bezugsperson von <i>Florian</i> (kann weiblich oder männlich sein), hat einen kurzen Auftritt am Ende des Buches.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der weiblichen Bezugsperson des Kindes lautet																					</label>
																					<input type="text" value="Mama" 
                                name="vars-Kind_Mutter" 
                                maxlength="30" id="vars-Kind_Mutter" 
                                data-fieldname="Kind_Mutter" 
                                data-default="Mama" 
                                class="field focuser default" />
						</div>
									</div>
			</div>
								<input type="hidden" name="vars-gender" value="junge" />
				
		
		
				
		<div class="formitem">
				<div class="name">Aussehen des Kindes</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Mama</i>, die Bezugsperson von <i>Florian</i> (kann weiblich oder männlich sein), hat einen kurzen Auftritt am Ende des Buches.</div>
				<div class="fields clearfix">
						<div class="felder clearfix kinder">
						
						  <div class="field">
						    <label for="vars-hairtype">Frisur</label>
						      <select name="vars-hairtype" id="vars-hairtype" class="default">
						      						      						      <option value="haarehalblang"  >halblang</option>
						      <option value="haarekurz"  >kurz</option>
						      <option value="haarelang"  >lang</option>
						      						      						      </select>
						    
						  </div>

						  <div class="field">
						    <label for="vars-augen">Augenfarbe</label>
						    
						      <select name="vars-augen" id="vars-augen" class="default">
						      <option value="blau"  >blau</option>
						      <option value="braun"  >braun</option>
						      <option value="gruen"  >grün</option>
						      </select>
						    
						  </div>

					
						  <div class="field">
						    <label for="vars-haare">Haarfarbe</label>
						    
						      <select name="vars-haare" id="vars-haare" class="default">
						      <option value="blond"  >blond</option>
						      <option value="braun"  >braun</option>
						      <option value="rot"  >rot</option>
						      <option value="schwarz"  >schwarz</option>
						      </select>
						    
						  </div>
						</div>
				</div>
		</div>
				
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li>
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
		</div>
		
	</div>
	<div class="right">
		<div class="name">Vorschau Personalisierung</div>
		<div class="border_preview">
		<div id="preview" class="vorschau_personal">
			Endlich ist er da, der 24. Dezember! <span class='default Kind_VN'>Florian</span> <span class='default Kind_NN'>MÃ¼ller</span> freut sich schon auf den Weihnachtsabend. Doch vorher muss er noch einer ganz besonderen Person helfen: dem Christkind! Weihnachtsbäume schmücken, Geschenke verteilen - das Christkind hat viel zu tun. Doch zusammen mit <span class='default Kind_VN'>Florian</span> ist das schnell gemacht. Nach getaner Arbeit geht <span class='default Kind_VN'>Florian</span> glückselig nach Hause. <span class='default Kind_VN'>Florian</span> ist da!, ruft <span class='default Kind_Mutter'>Mama</span>. Jetzt kann das Fest der Liebe beginnen!		</div>
		</div>
					<div class="name">Vorschau Aussehen</div>
			<div id="vorschau">
				<div class="image">
					<img type="junge" src="http://preview.personalnovel.de/thumbs/196/21/['width-375']-hintergrund_gender-junge_hairtype-haarehalblang_augen-blau_haare-blond.jpg" alt=""/>				</div>
			</div>
			</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

