<?php $expire = 1406239290; /* http://web.personalnovel.local/customize/book/11.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=11">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Engel darf man nicht küssen" src="/tl_files/thumbnail-book/engel-darf-man-nicht-kuessen-11-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Engel darf man nicht küssen“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-11" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    <div class="formitem">
	    
                <div class="name" style="margin-bottom:5px">Bitte wählen Sie die Ausprägung der Liebesszenen</div>
                
                
                
        <div>
        <input style="width:auto;height:auto" type="radio" 
                    name="document" value="495" 
                    id="radio-495"
                    checked=checked />
                    
                <label for="radio-495">Lässig &ndash; Die Szenen werden wortgewandt umschrieben.</label>
                </div>
                
                
        <div>
        <input style="width:auto;height:auto" type="radio" 
                    name="document" value="496" 
                    id="radio-496"
                     />
                    
                <label for="radio-496">Rassig &ndash; Zum Teil explizite Darstellungen.</label>
                </div>
                
        </div>
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weibliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Marie Lindenau</i>, junge Galeristin; wohnt in <i>Hamburg</i>; schlank; mittelgroß; hat zu Beginn ein unterkühltes Verhältnis zu ihren Eltern, am Ende versöhnen sie sich; hat mit finanziellen Problemen zu kämpfen; ein Unbekannter namens ‚Amor‘ kommt ihr zu Hilfe, bevor sie Konkurs anmelden muss; macht eine Reise in die Himmelsstadt <i>Malediven</i> und lernt dort den Engel <i>Oliver</i> kennen; verliebt sich in ihn, doch Engel und Menschen dürfen nicht zusammen sein; um als Paar auf der Erde leben zu können, müssen sie Prüfungen bestehen; dies gelingt ihnen und sie können ein normales Leben führen; <i>Marie</i> hat in der Geschichte einen schweren Unfall, bei dem sie beinahe ums Leben kommt; sie wird wieder gesund.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Marie" 
                                name="vars-Name_F" maxlength="30" id="vars-Name_F" 
                                data-fieldname="Name_F" 
                                data-default="Marie" 
                                class="field focuser default" />
							<span class="field_count">977x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Lindenau" 
                                name="vars-Nachname_F" maxlength="30" id="vars-Nachname_F" 
                                data-fieldname="Nachname_F" 
                                data-default="Lindenau" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="blond" 
                                name="vars-Haare_F" maxlength="30" id="vars-Haare_F" 
                                data-fieldname="Haare_F" 
                                data-default="blond" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="blau" 
                                name="vars-Augen_F" maxlength="30" id="vars-Augen_F" 
                                data-fieldname="Augen_F" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Das Parfüm der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Rosen" 
                                name="vars-Duft_F" maxlength="30" id="vars-Duft_F" 
                                data-fieldname="Duft_F" 
                                data-default="Rosen" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Die Lieblingsfarbe der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="rot" 
                                name="vars-Farbe_F" maxlength="30" id="vars-Farbe_F" 
                                data-fieldname="Farbe_F" 
                                data-default="rot" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
											<div class="field">
							<label>
							Der Kosename für die weibliche Hauptrolle ist																					</label>
																					<input type="text" value="Schatz" 
                                name="vars-Kose_F" maxlength="30" id="vars-Kose_F" 
                                data-fieldname="Kose_F" 
                                data-default="Schatz" 
                                class="field focuser default" />
							<span class="field_count">13x</span>
						</div>
											<div class="field">
							<label>
							Die Lieblingsmusik (Interpret) der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Robbie Williams" 
                                name="vars-Musik" maxlength="30" id="vars-Musik" 
                                data-fieldname="Musik" 
                                data-default="Robbie Williams" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Das Schoßtier (männl. oder weibl.) der Hauptrolle heißt																					</label>
																					<input type="text" value="Mogli" 
                                name="vars-Haustier" maxlength="30" id="vars-Haustier" 
                                data-fieldname="Haustier" 
                                data-default="Mogli" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
											<div class="field">
							<label>
							Der Name der Stadt, in der die weibliche Hauptrolle wohnt, ist																					</label>
																					<input type="text" value="Hamburg" 
                                name="vars-Stadt" maxlength="30" id="vars-Stadt" 
                                data-fieldname="Stadt" 
                                data-default="Hamburg" 
                                class="field focuser default" />
							<span class="field_count">15x</span>
						</div>
											<div class="field">
							<label>
							Das Lieblingslokal der weiblichen Hauptrolle heißt																					</label>
																					<input type="text" value="Tambosi" 
                                name="vars-Lokal" maxlength="30" id="vars-Lokal" 
                                data-fieldname="Lokal" 
                                data-default="Tambosi" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Männliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Oliver Bachmann</i>, Engel in der Himmelsstadt <i>Malediven</i>; groß; sportlich; gut gebaut; war früher Elektriker; starb 1958 bei einem Arbeitsunfall; wollte eigentlich mal Arzt werden; entdeckt im Himmel sein großes Talent für die Malerei und versucht sich als Künstler; verliebt sich in <i>Marie</i>; gibt Dasein als Engel für sie auf und kehrt zurück auf die Erde; <i>Marie</i> und <i>Oliver</i> müssen vier harte Prüfungen bestehen, um als Liebespaar auf der Erde leben zu können; <i>Oliver</i> wird mit der modernen Zeit konfrontiert; am Ende bestehen <i>Oliver</i> und <i>Marie</i> die Prüfungen und können zusammen glücklich werden.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der männlichen Hauptrolle ist																					</label>
																					<input type="text" value="Oliver" 
                                name="vars-Name_M" maxlength="30" id="vars-Name_M" 
                                data-fieldname="Name_M" 
                                data-default="Oliver" 
                                class="field focuser default" />
							<span class="field_count">655x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der männlichen Hauptrolle ist																					</label>
																					<input type="text" value="Bachmann" 
                                name="vars-Nachname_M" maxlength="30" id="vars-Nachname_M" 
                                data-fieldname="Nachname_M" 
                                data-default="Bachmann" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
											<div class="field">
							<label>
							 Der Anfangsbuchstabe des Vornamens der männlichen Hauptrolle ist																					</label>
																					<input type="text" value="O" 
                                name="vars-Initiale_M" maxlength="30" id="vars-Initiale_M" 
                                data-fieldname="Initiale_M" 
                                data-default="O" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der männlichen Hauptrolle ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Haare_M" maxlength="30" id="vars-Haare_M" 
                                data-fieldname="Haare_M" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der männlichen Hauptrolle ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Augen_M" maxlength="30" id="vars-Augen_M" 
                                data-fieldname="Augen_M" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
											<div class="field">
							<label>
							Das Aftershave der männlichen Hauptrolle ist																					</label>
																					<input type="text" value="Cool Water" 
                                name="vars-Duft_M" maxlength="30" id="vars-Duft_M" 
                                data-fieldname="Duft_M" 
                                data-default="Cool Water" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Lieblingsfarbe der männlichen Hauptrolle ist																					</label>
																					<input type="text" value="blau" 
                                name="vars-Farbe_M" maxlength="30" id="vars-Farbe_M" 
                                data-fieldname="Farbe_M" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Der Kosename für die männliche Hauptrolle ist																					</label>
																					<input type="text" value="Baby" 
                                name="vars-Kose_M" maxlength="30" id="vars-Kose_M" 
                                data-fieldname="Kose_M" 
                                data-default="Baby" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Der Name der Himmelsstadt ist																					</label>
																					<input type="text" value="Malediven" 
                                name="vars-Paradies" maxlength="30" id="vars-Paradies" 
                                data-fieldname="Paradies" 
                                data-default="Malediven" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Beste Freundin der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Sabine Schopf</i>, <i>Marie</i>s beste Freundin; Tierpflegerin im Zoo; hilft <i>Marie</i>, wo immer sie kann; steht der Beziehung zwischen <i>Marie</i> und <i>Oliver</i> zunächst skeptisch gegenüber; als <i>Marie</i> und <i>Oliver</i> sich zerstreiten, schafft es <i>Sabine</i>, sie wieder zusammenzuführen; ist seit zwei Jahren mit <i>Mark</i> zusammen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der besten Freundin ist																					</label>
																					<input type="text" value="Sabine" 
                                name="vars-Freundin_F" maxlength="30" id="vars-Freundin_F" 
                                data-fieldname="Freundin_F" 
                                data-default="Sabine" 
                                class="field focuser default" />
							<span class="field_count">217x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der  besten Freundin ist																					</label>
																					<input type="text" value="Schopf" 
                                name="vars-FreundinNN_F" maxlength="30" id="vars-FreundinNN_F" 
                                data-fieldname="FreundinNN_F" 
                                data-default="Schopf" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Lebensgefährte der besten Freundin der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Mark Humbold</i>, junger Scheidungsanwalt; ist mit <i>Sabine</i> zusammen; unterstützt seine Freundin; steht auch <i>Marie</i> gerne zur Seite; kleinere Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Freundes der besten Freundin ist																					</label>
																					<input type="text" value="Mark" 
                                name="vars-Freund_M" maxlength="30" id="vars-Freund_M" 
                                data-fieldname="Freund_M" 
                                data-default="Mark" 
                                class="field focuser default" />
							<span class="field_count">61x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Freundes der besten Freundin ist																					</label>
																					<input type="text" value="Humbold" 
                                name="vars-FreundNN_F" maxlength="30" id="vars-FreundNN_F" 
                                data-fieldname="FreundNN_F" 
                                data-default="Humbold" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Freundin der weiblichen Hauptrolle in der Himmelsstadt</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Clarissa</i>, eine Bewohnerin der Himmelsstadt <i>Malediven</i>; hat ihren Ehemann verloren; wurde von den Engeln kurz vor einem Selbstmordversuch in den Himmel gebracht, um sich zu erholen; freundet sich dort mit <i>Marie</i> an; durch Gespräche findet sie wieder Lebensfreude und kehrt auf die Erde zurück; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Freundin in der Himmelsstadt ist																					</label>
																					<input type="text" value="Clarissa" 
                                name="vars-Himmelsfreundin_VN" maxlength="30" id="vars-Himmelsfreundin_VN" 
                                data-fieldname="Himmelsfreundin_VN" 
                                data-default="Clarissa" 
                                class="field focuser default" />
							<span class="field_count">48x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Freche Freundin der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Katja</i>, eine Freundin von <i>Marie</i>, <i>Sabine</i> und <i>Mark</i>; hat braunes Haar und braune Augen; hat immer einen flotten Spruch auf den Lippen; flirtet gern; versucht ihr Glück auch bei <i>Oliver</i>, obwohl sie mit Freddy zusammen ist; gibt aber schnell auf; kleine Rolle.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der frechen Freundin ist																					</label>
																					<input type="text" value="Katja" 
                                name="vars-Flirtfreundin_VN" maxlength="30" id="vars-Flirtfreundin_VN" 
                                data-fieldname="Flirtfreundin_VN" 
                                data-default="Katja" 
                                class="field focuser default" />
							<span class="field_count">22x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Befreundetes Paar</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Petra</i> und <i>Karsten</i>, ein Paar, das mit <i>Marie</i>, <i>Sabine</i> und <i>Mark</i> befreundet ist; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Freundin ist																					</label>
																					<input type="text" value="Petra" 
                                name="vars-BefreundetesPaar_Sie" maxlength="30" id="vars-BefreundetesPaar_Sie" 
                                data-fieldname="BefreundetesPaar_Sie" 
                                data-default="Petra" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des Freundes ist																					</label>
																					<input type="text" value="Karsten" 
                                name="vars-BefreundetesPaar_Er" maxlength="30" id="vars-BefreundetesPaar_Er" 
                                data-fieldname="BefreundetesPaar_Er" 
                                data-default="Karsten" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			Die junge hübsche <span class='default Name_F'>Marie</span> <span class='default Nachname_F'>Lindenau</span> hat <span class='default Haare_F'>blond</span>es Haar und <span class='default Augen_F'>blau</span>e Augen, trägt gern <span class='default Farbe_F'>rot</span>e Kleider und benutzt am liebsten <span class='default Duft_F'>Rosen</span>. Sie betreibt eine kleine Galerie in <span class='default Stadt'>Hamburg</span>. Leider ist sie dabei nicht sehr erfolgreich. Ihr Haustier <span class='default Haustier'>Mogli</span> und ihre beste Freundin <span class='default Freundin_F'>Sabine</span> <span class='default FreundinNN-F'></span> trösten sie. Mit <span class='default Freundin_F'>Sabine</span> trifft sie sich regelmäßig in ihrem Lieblingslokal <span class='default Lokal'>Tambosi</span> zum Essen und Plaudern. <span class='default Freundin_F'>Sabine</span> ist glücklich liiert mit dem jungen Anwalt <span class='default Freund_M'>Mark</span> <span class='default FreundNN_F'>Humbold</span>. <span class='default Name_F'>Marie</span> hat die Suche nach der großen Liebe schon aufgegeben, da begegnet sie prompt Amor persönlich. Dieser lädt sie in die Himmelsstadt <span class='default Paradies'>Malediven</span> ein, wo sie nicht nur <span class='default Himmelsfreundin_VN'>Clarissa</span>, sondern auch <span class='default Name_M'>Oliver</span> <span class='default Nachname_M'>Bachmann</span> kennenlernt, einen nach <span class='default Duft_M'>Cool Water</span> duftenden Engel mit <span class='default Haare_M'>braun</span>en Haaren, <span class='default Augen_M'>braun</span>en Augen und einem wunderschönen <span class='default Farbe_M'>blau</span>en Gewand. Sie verlieben sich sofort ineinander. Doch bevor die beiden ein glückliches Paar werden, sich einander zärtlich '<span class='default Kose_F'>Schatz</span>' und '<span class='default Kose_M'>Baby</span>' nennen und gemeinsam <span class='default Musik'>Robbie Williams</span> hören können, müssen sie erst eine schwere Prüfung bestehen. Während dessen malt <span class='default Name_M'>Oliver</span> Bilder, die er mit <span class='default Initiale_M'>O</span> signiert und die zum Kassenschlager werden. <span class='default Name_F'>Marie</span> und <span class='default Name_M'>Oliver</span> gehen oft aus und haben mit ihren Freunden <span class='default Flirtfreundin_VN'>Katja</span>, <span class='default BefreundetesPaar_Sie'>Petra</span> und <span class='default BefreundetesPaar_Er'>Karsten</span> sehr viel Spaß in der Disco.		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

