<?php $expire = 1394275098; /* http://web.personalnovel.local/customize/ebook/611.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress" class=progress-ebook >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				
		<li class="">Umschlag</li>
		
				
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?ebook=611">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Wo gehobelt wird, da fallen Zähne" src="/tl_files/thumbnail-book/wo-gehobelt-wird-da-fallen-zaehne-611-detail.png">
								<div class="ebook-div">
				<button style="width: 115px;font-size:9pt;" class="awesomebutton awesomelightblue_gradient awesomeicon awesomeround" type="button">
				    <span class="icon arrow_down"><span class="icon">E-Book</span></span>
				</button>
				</div>
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Wo gehobelt wird, da fallen Zähne“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            19.99 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">19,99 EUR</h1>
																<button style="width: 260px;font-size:9pt" class="awesomebutton awesomelightblue_gradient nextpage awesomeicon  awesomeround" value="Weiter zur Widmung &gt;&gt;" type="submit" id="nextpage" name="submitter">
                	<span class="icon arrow_down"><span class="icon">E-Book: Weiter zur Widmung</span></span>
                </button><br/>
                <button style="width: 260px;font-size:9pt" class="awesomebutton awesomegreen_gradient awesomeicon awesomeround" type="button" onclick="location.href='/customize?book=611'">
                <span class="icon shopping_bag"><span class="icon">Als gedrucktes Buch ab 24,95</span></span>
                </button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-611" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Möchtegernvampir</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Horrid Debonair,</em> Möchtegernvampir, zögerlich, melancholisch, hat ein ausgeprägtes Faible für alles Vampirische und Untote; sein größter Wunsch ist es, Vampir zu werden (weil es ihm als der leichteste Weg erscheint, Unsterblichkeit zu erlangen). Er wird eines Vampirkompendiums habhaft, durch das man einen Vampir seiner Wahl herbei beschwören kann. Durch einen Zufall ruft er nicht eine mächtige Vampirfürstin, sondern deren Tochter <em>Nadia</em> herbei. Diese zaubert ihm ein paar unechte Fangzähne an und behauptet, ihn zum Vampir gemacht zu haben. Überglücklich bricht <em>Horrid</em> in das Leben eines Vampirs auf, doch schon beim ersten Einsatz, brechen die Reißzähne ab. Um wieder ein vollständiges Gebiss zu erhalten, begibt sich <em>Horrid</em> auf eine abenteuerliche Reise zum Spiegelwald und trifft dabei auf viele eigensinnige Weggefährten.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Möchtegernvampirs lautet																					</label>
																					<input type="text" value="Horrid" 
                                name="vars-Held_VN" maxlength="30" id="vars-Held_VN" 
                                data-fieldname="Held_VN" 
                                data-default="Horrid" 
                                class="field focuser default" />
							<span class="field_count">488x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Möchtegernvampirs lautet																					</label>
																					<input type="text" value="Debonair" 
                                name="vars-Held_NN" maxlength="30" id="vars-Held_NN" 
                                data-fieldname="Held_NN" 
                                data-default="Debonair" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
											<div class="field">
							<label>
							Seine Augenfarbe ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Held_Augen" maxlength="30" id="vars-Held_Augen" 
                                data-fieldname="Held_Augen" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Seine Haarfarbe ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Held_Haar" maxlength="30" id="vars-Held_Haar" 
                                data-fieldname="Held_Haar" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Der Duft des Helden ist																					</label>
																					<input type="text" value="Eau des Chauvessouris" 
                                name="vars-Held_Duft" maxlength="30" id="vars-Held_Duft" 
                                data-fieldname="Held_Duft" 
                                data-default="Eau des Chauvessouris" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Er hört gerne Musik der Gruppe																					</label>
																					<input type="text" value="Die religiöse Indoktrinationsanstalt" 
                                name="vars-Held_Musik" maxlength="30" id="vars-Held_Musik" 
                                data-fieldname="Held_Musik" 
                                data-default="Die religiöse Indoktrinationsanstalt" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die eigenwillige Vampir-Tochter</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Nadia Noctua,</em> siebzehnjährige Tochter der mächtigen Vampirfürstin Sexta Exsanguis, hält selbst herzlich wenig vom Lifestyle der Blutsauger. Sie verabscheut alles Düstere, fürchtet sich in der Dunkelheit und bringt ihre tägliche Ration Blut nur gestreckt mit viel Alkohol hinunter; sehr hübsch, aber klein und zierlich, wird daher oft als unreifes Mädchen gesehen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Vampir-Tochter lautet																					</label>
																					<input type="text" value="Nadia" 
                                name="vars-Tochter_VN" maxlength="30" id="vars-Tochter_VN" 
                                data-fieldname="Tochter_VN" 
                                data-default="Nadia" 
                                class="field focuser default" />
							<span class="field_count">92x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Vampir-Tochter lautet																					</label>
																					<input type="text" value="Noctua" 
                                name="vars-Tochter_NN" maxlength="30" id="vars-Tochter_NN" 
                                data-fieldname="Tochter_NN" 
                                data-default="Noctua" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die stürmische Barbarine</div>
				<div class="description" style="margin-top: 5px;display:none"><em>RabRab, </em>Barbarine vom Stamm der <em>Akretier</em> aus Siraios, groß und muskulös, in ziemlich knappem Krieger-Outfit unterwegs, wild und immer bereit für einen blutigen Kampf oder Beutezug, plant ziemlich kurzsichtig, ist etwas schwer von Begriff, manchmal sogar etwas einfältig, stolz, abenteuerlustig, vertrauensselig, pragmatisch, anfangs eine glühende Anhängerin des großen VERBIETERS (einem der ‚verachtenswerten Götter‘), hält viel auf ihre Stammestradition und erzählt gerne ausschweifend von alten Stammesüberlieferungen. <em>RabRab</em> begegnet <em>Horrid</em> auf seiner Reise zu dem Magier <em>Gerlaw</em> und begleitet ihn.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Barbarine lautet																					</label>
																					<input type="text" value="RabRab" 
                                name="vars-Heldin_VN" maxlength="30" id="vars-Heldin_VN" 
                                data-fieldname="Heldin_VN" 
                                data-default="RabRab" 
                                class="field focuser default" />
							<span class="field_count">239x</span>
						</div>
											<div class="field">
							<label>
							Sie kommt vom Stamm der ... (Nachname)																					</label>
																					<input type="text" value="Akretier" 
                                name="vars-Heldin_NN" maxlength="30" id="vars-Heldin_NN" 
                                data-fieldname="Heldin_NN" 
                                data-default="Akretier" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Barbarine ist																					</label>
																					<input type="text" value="grün" 
                                name="vars-Heldin_Augen" maxlength="30" id="vars-Heldin_Augen" 
                                data-fieldname="Heldin_Augen" 
                                data-default="grün" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Barbarine ist																					</label>
																					<input type="text" value="rot" 
                                name="vars-Heldin_Haar" maxlength="30" id="vars-Heldin_Haar" 
                                data-fieldname="Heldin_Haar" 
                                data-default="rot" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die weise Zauberlaute</div>
				<div class="description" style="margin-top: 5px;display:none"><em>RabRabs</em> Laute <em>Lula,</em> ein weises Instrument, das der Barbarine immer wieder weiterhilft, wenn sie überfordert ist.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Name der Zauberlaute ist																					</label>
																					<input type="text" value="Lula" 
                                name="vars-Laute" maxlength="30" id="vars-Laute" 
                                data-fieldname="Laute" 
                                data-default="Lula" 
                                class="field focuser default" />
							<span class="field_count">23x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der hochstapelnde Zauberist</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Gerlaw Schwindelfrei,</em> legendärer, hochgeschätzter und gefürchteter Zauberer aus Omik‘an, aber ein Hochstapler, der sich auf fremden Lorbeeren ausruht und den Leuten das Geld aus der Tasche zieht. Listig und geschäftstüchtig, ungeduldig, sehr eitel und selbstgefällig. Bei dem Versuch, <em>Horrids</em> abgebrochenen Fangzahn zu reparieren, bricht er durch seine Ungeschicklichkeit auch noch den zweiten Zahn ab. Um sich aus der Affäre zu ziehen, gaukelt er <em>Horrid</em> vor, zur Reparatur Elfenbein aus dem Spiegelwald zu benötigen. Im Spiegelwald befindet sich der ‚Spiegel, der Gesichter stiehlt‘, den <em>Gerlaw</em> in seinen Besitz bringen möchte. Zusammen machen sie sich auf den Weg in den Spiegelwald. <em>Gerlaw</em> hat vor langer Zeit mit der Dämonin <em>Marrow</em> einen Pakt geschlossen, um seine Glatze gegen eine prächtige Wellenmähne einzutauschen. Auch <em>Marrow</em> macht ihm auf der Suche nach dem magischen Spiegel das Leben schwer.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Zauberers lautet																					</label>
																					<input type="text" value="Gerlaw" 
                                name="vars-Magier_VN" maxlength="30" id="vars-Magier_VN" 
                                data-fieldname="Magier_VN" 
                                data-default="Gerlaw" 
                                class="field focuser default" />
							<span class="field_count">303x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Zauberers lautet																					</label>
																					<input type="text" value="Schwindelfrei" 
                                name="vars-Magier_NN" maxlength="30" id="vars-Magier_NN" 
                                data-fieldname="Magier_NN" 
                                data-default="Schwindelfrei" 
                                class="field focuser default" />
							<span class="field_count">19x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die gnadenlose Dämonin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Marrow Netherworld,</em> Stadtwächterin und eine mächtige Erzdämonin aus einem der am weitesten entfernten Orten der Verdammnis mit ausgeprägtem Hang zur Misanthropie, füllt eine ganze Registratur mit Verträgen und Pakten, die sehr gewissenhaft geführt wird. Außerdem ist sie Dämonenanhängerbevollmächtigte und Sachbereichsleiterin der Abteilung ‚Anthropomorphe Trugbilder konstruktiver Art und distinguierte Illusionen subversiver Gesinnung’. Sie begleitet die Gruppe nur, um ein Auge auf <em>Gerlaw</em> zu haben, der einen Pakt mit ihr geschlossen hat. Für eine wallende Haarpracht versprach er ihr lebenslangen Bereitschaftsdienst. Um die Stadt verlassen zu dürfen, bietet er ihr an, den vermeintlichen Vampir <em>Horrid</em> am Ende der Reise angreifen zu dürfen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Dämonin lautet																					</label>
																					<input type="text" value="Marrow" 
                                name="vars-Daemonin_VN" maxlength="30" id="vars-Daemonin_VN" 
                                data-fieldname="Daemonin_VN" 
                                data-default="Marrow" 
                                class="field focuser default" />
							<span class="field_count">134x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Dämonin lautet																					</label>
																					<input type="text" value="Netherworld" 
                                name="vars-Daemonin_NN" maxlength="30" id="vars-Daemonin_NN" 
                                data-fieldname="Daemonin_NN" 
                                data-default="Netherworld" 
                                class="field focuser default" />
							<span class="field_count">13x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der hypochondrische Fürst</div>
				<div class="description" style="margin-top: 5px;display:none">	<em>Orkun</em> al Hashir ibn Abbas ben Hilal ben Rasin ben Zeki, Fürst von Mekhua und Haremsbesitzer, sehr beleibter, reicher und mächtiger Mann, der jedoch unter seiner privilegierten Stellung leidet und stets von kleinen Gebrechen geplagt wird. Mit seinen 99 Haremsdamen ist er überfordert. So bietet er <em>Horrid</em> an, sie ihres Blutes zu berauben, und hofft, auf diese Weise die Zahl der Haremsdamen vermindern zu können. <em>Orkun</em> flieht letztendlich mit <em>Horrid</em> und <em>RabRab</em> aus dem Palast und entschwindet dann in ein freies Leben. kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Fürsten lautet																					</label>
																					<input type="text" value="Orkun" 
                                name="vars-Fuerst_VN" maxlength="30" id="vars-Fuerst_VN" 
                                data-fieldname="Fuerst_VN" 
                                data-default="Orkun" 
                                class="field focuser default" />
							<span class="field_count">61x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			<span class='default Held_VN'>Horrid</span> <span class='default Held_NN'>Debonair</span> ist ein junger Mann mit <span class='default Held_Augen'>braun</span>en Augen und <span class='default Held_Haar'>braun</span>en Haaren. Er hört die Musik der Gruppe <span class='default Held_Musik'>Die religiÃ¶se Indoktrinationsanstalt</span> und hat eine Vorliebe für alles Düstere. Deshalb mag er besonders den Duft <span class='default Held_Duft'>Eau des Chauvessouris</span>. Sein größter Wunsch ist es, ein Vampir zu werden und ewiges Leben zu erlangen. Dieser große Traum scheint zum Greifen nah, als er ein Kompendium ergattert, mit dessen Hilfe er einen Vampir seiner Wahl herbeibeschwören kann. <span class='default Held_VN'>Horrid</span> möchte die mächtige Vampirfürstin Sexta Exsangius rufen und von ihr zu einem Vampir verwandelt werden, doch stattdessen trifft er auf ihre Tochter <span class='default Tochter_VN'>Nadia</span> <span class='default Tochter_NN'>Noctua</span>, die ihm nur zwei Fangzähne anzaubert und so eine Illusion erschafft. Doch <span class='default Held_VN'>Horrid</span> ist überglücklich und sieht seinem zukünftigen vampirischen Dasein guten Mutes entgegen. Doch dann geschieht das Unglück: Im Palast von <span class='default Fuerst_VN'>Orkun</span> bricht er sich einen Vampir-Zahn am Keuschheits-Panzer einer der Haremsdamen ab. Von nun an versucht er alles, um sein Gebiss wiederherzustellen. In Begleitung von der <span class='default Heldin_Haar'>rot</span>haarigen und <span class='default Heldin_Augen'>grÃ¼n</span>äugigen Barbarine <span class='default Heldin_VN'>RabRab</span> vom Stamm der <span class='default Heldin_NN'>Akretier</span> und deren Zauberlaute <span class='default Laute'>Lula</span> sucht er den Zauberer <span class='default Magier_VN'>Gerlaw</span> <span class='default Magier_NN'>Schwindelfrei</span> auf. Dieser soll den Zahn reparieren, doch auch er scheitert. Schlimmer noch - bei dem Versuch, den Zahn anzubringen, bricht er auch noch den zweiten Fangzahn ab. Nun überredet der schaumschlagende Magier die beiden, mit ihm in den Spiegelwald zu ziehen, um dort Elfenbein für die Zähne des Möchtegernvampirs zu beschaffen. Dabei werden sie von der Dämonin <span class='default Daemonin_VN'>Marrow</span> <span class='default Daemonin_NN'>Netherworld</span> begleitet, die ein Auge auf <span class='default Magier_VN'>Gerlaw</span> hat, der einen Pakt mit ihr eingegangen ist. Zusammen erleben sie viele lustige und bizarre Momente in der magischen Welt von Uji. Auf gehts!		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

