<?php $expire = 1410589847; /* http://web.personalnovel.local/geburtstagsgeschenke.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher und Geschenke zum Geburtstag - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Entdecken Sie die personalisierten Geburtstagsgeschenke von PersonalNOVEL und schenken Sie die Hauptrolle in personalisierten Büchern!">
<meta name="keywords" content="geburtstagsgeschenke, personalisierte geburtstagsgeschenke, persönliche geburtstagsgeschenke, personalisierte geschenke geburtstag, geburtstag, geschenkideen geburtstag, personalisierte bücher geburtstag, persönliche bücher geburtstag, geburtstagsgeschenke mit namen, geburtstagsgeschenke selber machen, geburtstag geschenke, geschenke geburtstag, geschenke geburtstag bücher, bücher geburtstag, personalisiertes, personalisierte geschenke">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher und Geschenke zum Geburtstag - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Entdecken Sie die personalisierten Geburtstagsgeschenke von PersonalNOVEL und schenken Sie die Hauptrolle in personalisierten Büchern!" /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<style media="screen">
#wrapper{width:;margin:0 auto;}
#left{width:200px;}
#main{margin-left:200px;}
</style>
<link rel="stylesheet" href="system/modules/coin_slider/html/css/coin-slider-styles.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="system/modules/coin_slider/html/js/jquery-1.4.1.min.js"></script>
<script src="system/modules/coin_slider/html/js/coin-slider.min.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">

<div class="base_header">
<div id="header-links-box">
                        
  <div id="logo"><a href="/romane/"></a></div>
   <!--
  <div id="versand"><a href="/service-versand.html"></a></div>
  
  <div class="headerlinks">
      <div id="headerlinkgroup">
      	<a class="hidden" id="basklink"><img title="Warenkorb" kasse="" alt="Warenkorb" src="tl_files/personalnovel_de/static/img/icons/shoppingbag.png"></a>&nbsp;&nbsp;
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So einfach geht‘s</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/newsletter.html">Newsletter</a>&nbsp;|&nbsp; 
        <a style="vertical-align: top;" href="/agb.html">AGB</a>&nbsp;|&nbsp;
        <a style="vertical-align: top;" href="/kontakt.html">Kontakt</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/faq.html">Hilfe</a>&nbsp;
      </div>
  </div>
   -->
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->

<style>
#tab-menu li.oktoberfest:hover {
      background-color: hsl(197, 100%, 47%) !important;
  }
  #tab-menu { margin-top: 5px !important }
</style>
<div id="tab-menu">
  <ul>
    <li><a title="Besondere Anlässe" href="geschenkbuecher/"><span>Besondere Anlässe</span></a></li> 
    <li><a title="Valentinstag" href="/muttertag"><span>Muttertag</span></a></li>
    <li><a title="Hochzeit" href="/hochzeitsgeschenke"><span>Hochzeit</span></a></li>
   </ul>
</div>
<!--
<div id="tab-menu">
 
  <ul>
    <li class='tab-menu-home'><a href="http://personalnovel.de"><img src="/tl_files/personalnovel_de/static/img/icons/home.png" /></a></li>
    <li><a href="http://personalnovel.de/showroom/"><span>Showroom München</span></a></li>
    <li><a title="Weinetiketten" href="http://personalnovel.de/eigenerwein/"><span>Wein &amp; Champagner Etiketten</span></a></li>
      <li><a title="Firmenkunden" href="http://personalnovel.de/kundengeschenke/"><span>Firmenkunden</span></a></li>     
      <li><a title="Besondere Anlässe" href="http://www.personalnovel.de/geschenkbuecher/"><span>Besondere Anlässe</span></a></li> 
      <li><a title="Hochzeit" href="/hochzeitsgeschenke"><span>Hochzeit</span></a></li>
      <li><a title="Personalisierte E-Books" href="/personalisierte-ebooks"><span>E-Books</span></a></li>
       <li><a title="Personalisierte Blog" href="/blog"><span>Blog</span></a></li>

  </ul>
  <!--
  <div id="shoplogos" style = "margin-top:-80px;">
    <a href="http://egoo.de/zertifikat/personalnovel" title="Siegel egoo" target="_blank" alt="Siegel egoo"><img height="48" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016" title="Siegel egoo" alt="Siegel egoo"></a>
   <a href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F" target="_blank"><img width="48" height="48" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408" title="Logo Trusted Shops" alt="Logo Trusted Shops"></a>
  </div>
  
</div>
-->
<div class="kundengeschenke" id="menunav">
<div class="container">

 
<div class='flash-language'>
  <a class='active' onclick="return false" href='' title="Germany"></a>
  <a class='inactive' href='http://www.personalnovel.co.uk' title="United Kingdom"></a>
</div>
<style>
  .flash-language a {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
    width:24px;
    height:24px;
  }
  .flash-language {
    position: absolute;
    right: 0px;
    height: 30px;
    line-height: 30px;
    width: 70px;
  }
  .flash-language .active{
    background:url("/tl_files/personalnovel_de/image/uk/Germany-Flag.png") no-repeat;
  }
  .flash-language .inactive{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag-active.png") no-repeat;
  }
  .flash-language .inactive:hover{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag.png") no-repeat;	
  }
</style>

  <style>.margin-right-menu{float:right; width:55px; /* width: 45px; */ height:24px; }</style>
<div class="margin-right-menu"></div>
<ul class="level_1">
 <!-- <li class="last"><a class="last" title="Black Friday" href="/personalisierte-kinderbuecher/black-Friday_2013">Black Friday</a></li>-->
  <li class="active" ><a style="color:white" href="/geburtstagsgeschenke/" title="Geburtstag">Geburtstag</a></li>
  <li><a  title="Weihnachten" href="/weihnachten">Weihnachten</a></li>
  <li><a  title="Kontakt" href="kontakt">Kontakt</a></li>
<!--<li><a title="Personalisierte E-Books" href="/personalisierte-ebooks">E-Books</a></li>-->
  <li ><a  title="Personalisierte Kalender" href="/kalender/">Kalender</a></li>
<li><a title="Personalisierte Geschenkbücher" href="/romane/geschenk-anlass?filter=anlass">Geschenkbücher</a></li>
<li><a title="Personalisierte Jugendbücher" href="/jugendbuecher/">Jugendbücher</a></li>
<li><a title="Personalisierte Kinderbücher" href="/kinderbuecher/">Kinderbücher</a></li>
<li><a title="Klassische Literatur personalisiert" href="/personalisierteklassiker/">Klassiker der Literatur</a></li>
<li class="first"><a class="first" title="Personalisierte Bücher &amp; Romane" href="/romane/">Romane</a></li>
<li class="menunav_first"></li>
</ul>

</div>
</div> 
</div>
</header>

<div id="container">
<div class="real_content">

<aside id="left">
<div class="inside navigation">

<div class="title_nav"><div class="section ">Geschenk finden</div></div>
<div class="links ">
  <a href="/geburtstag/geschenk-anlass?filter=anlass" title="geburtstag" class="navitem">Anlass</a>
  <a href="/geburtstag/geschenk-alter?filter=alter" title="geburtstag" class="navitem">Alter</a>
  <a href="/geburtstag/geschenk-sie" title="" class="navitem">Frauen</a>
  <a href="/geburtstag/geschenk-ihn" title="" class="navitem">Männer</a>
  <a href="/geburtstag/geschenk-teenager" title="" class="navitem">Teenager</a>
  <a href="/geburtstag/geschenk-paare" title="" class="navitem">Paare</a>
  <a href="/geburtstag/geschenk-familie" title="" class="navitem">Familie</a>
  <a href="/geburtstag/geschenk-freunde" title="" class="navitem">Freunde</a>
  <a href="/geburtstag/neuerscheinungen" title="" class="navitem">Neuerscheinungen</a>
  <a href="/geburtstag/gesamtsortiment" title="" class="navitem">Gesamtsortiment</a>
  <hr class = "spacer"/>
</div>
<div class="title_nav"><div class="section ">Genre</div></div>
<div class="links ">
	
        <a href="/geburtstag/krimi-thriller" title="geburtstag" class="navitem">Krimi - Thriller</a>
	<a href="/geburtstag/liebe" title="geburtstag" class="navitem">Liebe</a>
	
        <a href="/geburtstag/frauen" title="geburtstag" class="navitem">Frauen</a>
	<a href="/geburtstag/historisch" title="geburtstag" class="navitem">Historisch</a>
        <a href="/geburtstag/cameo-klassiker" title="geburtstag" class="navitem">Cameo Klassiker</a>
        <a href="/geburtstag/abenteuer" title="geburtstag" class="navitem">Abenteuer</a>
	<a href="/geburtstag/science-fiction" title="geburtstag" class="navitem">Science - Fiction</a>
        <a href="/geburtstag/mystery-fantasy" title="geburtstag" class="navitem">Mystery - Fantasy</a>
        <a href="/geburtstag/familie-freunde" title="geburtstag" class="navitem">Familie - Freunde</a>
        <a href="/geburtstag/sport-fussball" title="geburtstag" class="navitem">Sport - Fussball</a>
        <a href="/geburtstag/gleichgeschlechtlich" title="geburtstag" class="navitem">Gleichgeschlechtlich</a>
	<a class="navitem" title="" href="/geburtstag/englische-romane">Englische Romane</a>
        <a class="navitem" title="" href="/geburtstag/jugendbuecher">Jugendbücher</a>
      
	<hr class="spacer">
</div>

<div class="title_nav"><div class="section ">Ihr Buch</div></div>
<div class="links ">
	<a href="/geburtstag/personalisierung" title="" class="navitem">Personalisierung</a>
	<a href="geburtstag/widmung" title="personalisierter Roman" class="navitem">Widmung</a>
	<a href="/geburtstag/preise-einbaende" title="" class="navitem">Einbände &amp; Preise</a>
	<a href="/geburtstag/umschlag-gestaltung" title="personalisierter Roman" class="navitem">Umschlag &amp; Gestaltung</a>
        <a href="/geburtstag/galerie" title="personalisierter Roman" class="navitem">Galerie</a>
	<hr class="spacer">
</div>
<div class="title_nav"><div class="section ">Service</div></div>
<div class="links ">
  	<a href="/geburtstag/service-versand" title="" class="navitem">Liefertermine &amp; Versand </a>
	<a href="/geburtstag/zahlung" title="" class="navitem">Zahlung</a>
        <a href="/showroom/" class="navitem"  title="Showroom München">Showroom München</a>
        <hr class="spacer">
</div>
<div class="title_nav"><div class="section ">Kommunikation</div></div>
<div id="social_media">

  <a target="_blank" title="" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659">
    <img title="Folgen Sie uns auf Facebook!" alt="Facebook" src="tl_files/personalnovel_de/static/img/icons/facebook.png">
  </a>
  <a target="_blank" href="http://www.twitter.com/PersonalNOVEL">
  <img alt="Follow PersonalNOVEL on Twitter" src="tl_files/personalnovel_de/static/img/icons/twitter.png" />
  </a>
    <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/youtube.png" />
  </a>
    <a target="_blank" href="http://blog.personalnovel.de/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/google.png" />
  </a>
    <a target="_blank" href="http://pinterest.com/personalnovel/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/p.png" />
  </a>

</div>
<div id="help_info" class="div_box_01" >

   <img border="0" class="bewertung" style="position: relative; width: 176px; height: 194px; margin: 14px 0px -10px 12px;" alt="PersonalNOVEL bewertungen" src="https://www.trustedshops.com/bewertung/widget/widgets/X2C834FF848E080243F1AFD2A3C74272F.gif">

<a target="_blank" href="https://www.trustedshops.de/bewertung/info_X2C834FF848E080243F1AFD2A3C74272F.html" title="Händlerbewertungen von PersonalNOVEL einsehen">
  <img border="0" src="tl_files/personalnovel_de/static/assets/website/Hintergrund_TrustedShop.png" alt="PersonalNOVEL bewertungen" style="height: 219px; position: relative; margin-top: -198px; width: 200px;" class="bewertung">
</a>
</div>
<div id="help_info" class="div_box_01">
  <div style="width:186px;border:2px #ccc solid;text-align:center;padding:5px">
    <p><i>„Mein personalisiertes Geschenk ist beim Beschenkten sehr gut angekommen. Es war mal etwas anderes als diese herkömmlichen Geschenke!“atrin K. aus Wernigerode</i></p>
    <br />
    <a href="/kundenstimmen"><span style="color:#a90118;font-weight:bold">mehr Kundenstimmen</span></a>
  </div>
</div>
<div class="div_box">
    <div class="press_box">
        <h2>Pressestimmen</h2>
        <a href="/pressestimmen">
          <img width="180" height="50" src="tl_files/personalnovel_de/static/assets/presselogos/Presse-3.jpg?1320662033" title="Pressestimmen-Logos 3" alt="Pressestimmen-Logos 3">
        </a>
    </div>
</div>
<div style="*display:none; ">
  <div style="position:relative; height:160px; width:100%;">
    <div style="position:relative; height:80px; width:100%;">
    	<a href="https://www.facebook.com/PersonalNOVEL" title="PersonaNOVEL" target="_blank">
      	<img style="width:200px; height:80px;" src="/tl_files/personalnovel_de/static/assets/website/teaser_plugin_facebook_like.png">
      	</a>
    </div>
    <div style="position:absolute;margin:-10px 0px 0px 3px; z-index:4; width:195px; ">
      <iframe id='like-pn' src="//www.facebook.com/plugins/like.php?locale=de_DE&href=https://www.facebook.com/PersonalNOVEL&amp;send=false&amp;layout=standard&amp;width=190&amp;show_faces=false&amp;font=tahoma&amp;colorscheme=light&amp;action=like&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:195px; height:70px;" allowTransparency="true"></iframe>
    </div>
    <div style='clear:both;'></div>
  </div>
</div>
<div id="yelp-biz-badge-fsc-8Grwh5KCPCm3cZXlAu5yMw">PersonalNOVEL e.K.</div>
<script type="text/javascript">
 !function(doc, id){
  var js;
  var scriptElement = doc.getElementsByTagName("script")[0];
  if (!doc.getElementById(id)) {
   js = doc.createElement("script");
    js.id = id;
    js.src = "http://dyn.yelpcdn.com/biz_badge_js/fsc/8Grwh5KCPCm3cZXlAu5yMw.js";
    scriptElement.parentNode.insertBefore(js, scriptElement);
  }
} (document, "yelp-biz-badge-script-fsc-8Grwh5KCPCm3cZXlAu5yMw");
</script> 
</div>
</aside>

<section id="main">
<div class="inside">
 
</div>

<div class="custom">

<section id="Section3">
<div class="inside">

<div class="slider-left-static";>
  <img src="tl_files/personalnovel_de/static/assets/website/Geburtstag.jpg" style="width:245px; height: 250px; position: relative;">
</div>
<style>
.button-link-static-page{
    position:absolute;
    left:0px;
    z-index:1000;
    float:left;
    margin-top:-50px;
    margin-left:47px;
}
.button-link-static-page img{

}
</style>
<a href="/geburtstag/personalisierung-kostenlos-testen" class="button-link-static-page">
	<img src="tl_files/personalnovel_de/static/assets/website/Muttertag_links.png">
</a>
</div>
</section>

<section id="Section4">
<div class="inside">
<section style='position:relative;'  class="mod_coinSlider block">
    
    
        			
		
        <div id="geburtstag-slider-landingpage-1">
		
        
            <a href="">
                <img alt="" src="" />
                           </a>
			
        
            <a href="">
                <img alt="" src="" />
                           </a>
			
                </div>
        			<div class='geburtstag-slider-landingpage-1-button'></div>
		    
</section>

<script>
    jQuery.noConflict();
    jQuery(document).ready(function(){
        jQuery("#geburtstag-slider-landingpage-1 a").hide();
        
        jQuery("#geburtstag-slider-landingpage-1").attr("context","0");
        jQuery("#geburtstag-slider-landingpage-1").css("background-image","url(\""+jQuery("#geburtstag-slider-landingpage-1 a:first img").attr("src")+"\")");
       
       //coin slide next
        var random_image_book1=function(){
            var count = parseInt(jQuery("#geburtstag-slider-landingpage-1 a").length);
            var items = parseInt(jQuery("#geburtstag-slider-landingpage-1").attr("context"));
                         if(items==count-1) items=0; else items=items + 1;
            
            src_image = jQuery("#geburtstag-slider-landingpage-1 a:eq("+items+") img").attr("src");
            var image="{background:url('"+ src_image +"')}"; 
            jQuery("#geburtstag-slider-landingpage-1").animate({opacity:0},1000,function(){jQuery("#geburtstag-slider-landingpage-1").css("background-image","url(\""+src_image+"\")");});
            jQuery("#geburtstag-slider-landingpage-1").animate({opacity:1},2000);
            
                       		jQuery(".geburtstag-slider-landingpage-1-button div").removeClass("active");
            	jQuery(".geburtstag-slider-landingpage-1-button div:eq("+items+")").addClass("active");
                        
            jQuery("#geburtstag-slider-landingpage-1").attr("context",items);
            return false;
        };
        //coin slide pre
        var random_image_book2=function(){
            var count = parseInt(jQuery("#geburtstag-slider-landingpage-1 a").length);
            var items = parseInt(jQuery("#geburtstag-slider-landingpage-1").attr("context"));
                         if(items==0) items=count-1; else items=items - 1;
            
            src_image = jQuery("#geburtstag-slider-landingpage-1 a:eq("+items+") img").attr("src");
            var image="{background:url('"+ src_image +"')}";
            
            jQuery("#geburtstag-slider-landingpage-1").animate({opacity:0},1000,function(){jQuery("#geburtstag-slider-landingpage-1").css("background-image","url(\""+src_image+"\")");});
            jQuery("#geburtstag-slider-landingpage-1").animate({opacity:1},2000);
          
            //if coin slide button
                      		jQuery(".geburtstag-slider-landingpage-1-button div").removeClass("active");
            	jQuery(".geburtstag-slider-landingpage-1-button div:eq("+items+")").addClass("active");
                        jQuery("#geburtstag-slider-landingpage-1").attr("context",items);
            return false;
        };
        
                          		//start slide-button
         		var count = parseInt(jQuery("#geburtstag-slider-landingpage-1 a").length);
         		
         		var nav='';
         		for(i = 0; i < count; i++){
         			nav = nav + "<div context='"+ i +"' ></div>";
         		}
         		jQuery(".geburtstag-slider-landingpage-1-button").html(nav);
         		
         		jQuery(".geburtstag-slider-landingpage-1-button div").click(function(){
         			items = jQuery(this).attr('context');
         			jQuery(".geburtstag-slider-landingpage-1-button div").removeClass('active');
         			jQuery(this).addClass('active');
         			src_image = jQuery("#geburtstag-slider-landingpage-1 a:eq("+items+") img").attr("src");
		            var image="{background:url('"+ src_image +"')}"; 
		            jQuery("#geburtstag-slider-landingpage-1").animate({opacity:0},1000,function(){jQuery("#geburtstag-slider-landingpage-1").css("background-image","url(\""+src_image+"\")");});
		            jQuery("#geburtstag-slider-landingpage-1").animate({opacity:1},2000);
		            jQuery("#geburtstag-slider-landingpage-1").attr("context",items);
         		});
         		
         		jQuery(".geburtstag-slider-landingpage-1-button div:first").addClass('active');
       	         setInterval(random_image_book1,6000);
    });
</script>
<style>
#geburtstag-slider-landingpage-1{
	width:520px;
	height:250px;
	background-size:520px 250px;
	background-repeat:no-repeat;
	position:relative;
}
#geburtstag-slider-landingpage-1 a{
  	display:none;
}
#cs-navigation-slider a#cs-prev-romane-slider,#cs-navigation-slider a#cs-next-romane-slider{
  	display:block;
}
.geburtstag-slider-landingpage-1-button{
	float: left;
	position: absolute;
	bottom: 0px;
    margin-right: 0px;
    right:0px;
	/*left: 50%;
	margin-left: -50px;*/
	z-index: 99999
}

.geburtstag-slider-landingpage-1-button div{
	width:20px;
	height:20px;
	float:left;
	background-image:url("tl_files/personalnovel_de/css/images/bullet-black.png");
	background-size:100% 100%;
	margin-right:0px;
}
.geburtstag-slider-landingpage-1-button div.active{
	background-image:url("tl_files/personalnovel_de/css/images/bullet_red.png");
	background-size:100% 100%;
}

</style>

</div>
</section>

<section id="Section5">
<div class="inside">

<style>
  #muttertag-menu-main{
    padding:20px 0px;
    height:90px;
  }
  #muttertag-menu-main a{ 
  	text-decoration: none;
        padding:0px; 
        text-align:center;
        width:137px; 
        height:85px; 
        margin-right:20px;
    	float:left;
        background-size:100% 100%;
        }
  #muttertag-menu-main a span{
  	color: #666; 
        font-size:12px; 
        font-family: Arial; 
        height:15px;
    	margin: 3px 3px 0px;
    	width:120px;
    	float:left;
        }
 
  #muttertag-menu-main a:hover{
    background-color:#FFF;
  }
  #muttertag-menu-main a:hover span{
    color: #000; 
  }
</style>
<div id='muttertag-menu-main'>
  <a href='/geburtstag/geschenk-anlass?filter=anlass' style="background-image:url('tl_files/Geburtstag/Geburtstag_Romane.png');"></a>
  <a href='/geburtstag/geschenkbuch?Genre=Geschenkbuch' style="background-image:url('tl_files/personalnovel_de/static/assets/website/Geschenkbucher_passiv.jpg');"></a>
  <a href='/geburtstag/cameo-klassiker' style="background-image:url('tl_files/personalnovel_de/static/assets/website/Klassiker_passiv.jpg');"></a>
 <!-- <a href='/geburtstag/wines' style="background-image:url('tl_files/personalnovel_de/static/assets/website/Wein_passiv.jpg');"></a> -->
  <a href='/geburtstag/kinderbuecher/personalisierung-kostenlos-testen' style="margin-right:0px; background-image:url('tl_files/Geburtstag/Geburtstag_Kinderbuecher.png');"></a>
</div>

</div>
</section>

<section id="Section1">
<div class="inside">

<article class="mod_article block" id="geburtstag">

<h1 class="ce_headline">Personalisierte Geschenke zum Geburtstag - Ihre Namen im Buch!</h1>

<section class="ce_text block">

<h2>Personalisierte Romane zum Geburtstag</h2>

<p align="JUSTIFY"><span><span>Überraschen Sie Ihre Liebsten zum Geburtstag mit einer PersonalNovel, in der Sie selbst bestimmen, wer die Hauptrolle und verschiedenen Nebenrollen spielt.</span></span></p>
<p align="JUSTIFY"><span><span>Passen Sie in Ihrem eigenen Roman Namen, Aussehen, Wohnort und viele weitere Eigenschaften der Haupt- und Nebenrollen an. Eine&nbsp;<a title="Persönliche Geburtstags-Widmung" href="http://geburtstag.personalnovel.de/geburtstag/widmung"><span>persönliche Widmung zum Geburtstag</span></a>&nbsp;sowie ein&nbsp;<a title="Personalisierter Untertitel" href="http://geburtstag.personalnovel.de/geburtstag/umschlag-gestaltung"><span>personalisierter Untertitel</span></a>&nbsp;und Ihr <a title="Ihre eigenes Foto" href="http://geburtstag.personalnovel.de/geburtstag/umschlag-gestaltung">eigenes Foto auf dem <span>Buchumschlag</span></a> machen Ihr personalisiertes Geburtstagsgeschenk einzigartig. </span></span></p>
<p align="JUSTIFY"><span><span>Ob für Familienmitglieder, den Partner oder Freunde, für runde Geburtstage, die Geburtstagsparty oder Kindergeburtstage - bei PersonalNOVEL finden Sie für jedes Geburtstagskind das passende personalisierte Buch als Geschenk!<br></span></span></p>
<p>Ab <span class="article-price" style="color: #009640;">24,95 EUR</span> inkl. 7% MWSt zzgl. <a class="popup-link" title="Versandkosten" href="popup-versandkosten.html">Versandkosten</a>.</p>
</section>

<section class="ce_text block">

<h2>Personalisierte Geburtstagsgeschenke für Kinder</h2>

<p align="JUSTIFY"><span><span>Unsere&nbsp;<a href="kinderbuecher/"><span>personalisierten Kinderbücher</span></a> sind besonders schöne Geburtstagsgeschenke: In unseren Kinderbüchern können Sie für Mädchen und Jungen neben den Namen, Bezugspersonen und Vorlieben auch das Aussehen mit Frisur, Haar- und Augenfarbe anpassen. Eine einzigartige Geburtstagsüberraschung, die Ihr Kind bestimmt nicht vergessen wird!<br></span></span></p>
<p>Ab <span class="article-price" style="color: #009640;">14,95 EUR</span> inkl. 7% MWSt zzgl. <a class="popup-link" title="Versandkosten" href="popup-versandkosten.html">Versandkosten</a>.</p>
</section>

<section class="ce_text block">

<h2>Geschenkbücher zum Geburtstag</h2>

<p align="JUSTIFY"><span><span>Ob für Familie, Partner/in oder Freunde: unsere <a title="Personalisierte Geschenkbücher" href="http://geburtstag.personalnovel.de/geburtstag/geschenkbuch?Genre=Geschenkbuch">personalisierten Geschenkbücher</a> sind einzigartige Geburtstagsgeschenke! Diese hochwertigen und geschmackvoll illustrierten Sammlungen berühmter Gedichte und Sprüche sind personalisierte Geschenke zum Geburtstag, die in Erinnerung bleiben!</span></span></p>
<p>Ab <span class="article-price" style="color: #009640;">29,99 EUR</span> inkl. 7% MWSt zzgl. <a class="popup-link" title="Versandkosten" href="popup-versandkosten.html">Versandkosten</a>.</p>
</section>

<section class="ce_text block">

<h2>Personalisierte Klassiker der Literatur</h2>

<p align="JUSTIFY"><span><span>Schenken Sie zum Geburtstag eine Nebenrolle in <a title="Personalisierte Literaturklassiker" href="http://geburtstag.personalnovel.de/geburtstag/cameo-klassiker">berühmten Literaturklassikern</a>! Ob <a title="Sherlock Holmes" href="http://geburtstag.personalnovel.de/geburtstag/cameo-klassiker?Anlass=Geburtstag&amp;Genre=Cameo+Klassiker&amp;Autor=Doyle%2C+Arthur+Conan">Sherlock Holmes</a>, <a title="Oliver Twist" href="http://geburtstag.personalnovel.de/geburtstag/book/579/oliver-twist">Oliver Twist</a> oder <a title="Winnetou" href="http://geburtstag.personalnovel.de/geburtstag/book/570/der-schatz-im-silbersee">Winnetou </a>- unsere personalisierten Cameo-Klassiker sind einzigartige Geburtstagsgeschenke, die von Herzen kommen!</span></span></p>
<p>Ab <span class="article-price" style="color: #009640;">24,95 EUR</span> inkl. 7% MWSt zzgl. <a class="popup-link" title="Versandkosten" href="popup-versandkosten.html">Versandkosten</a>.</p>
</section>

</article>

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

</div>
</section>

</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/tg.css" media="screen" type="text/css" rel="stylesheet" />

<style>
#main {
    padding-left: 25px !important;
    padding-right: 0px !important;
    position: relative;
    margin-left: 200px;
    width: auto;
}
#Section2{
    width:220px;
    float:right;
    display:block;
    top:0px;
}
#Section1 {
    display:block;
    float:left;
    width: 765px;
}
#Section3,#Section4{ float:left; }
#Section5{ width:100%; position:relative; float:left; }
</style>


<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

</body>
</html>

