<?php $expire = 1393853413; /* http://web.personalnovel.local/personalisierte-ebooks.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>E-books - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="E-books - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="" /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<style media="screen">
#left{width:200px;}
#right{width:220px;}
#main{margin-left:200px;margin-right:220px;}
</style>
<link rel="stylesheet" href="system/modules/coin_slider/html/css/coin-slider-styles.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="system/modules/coin_slider/html/js/jquery-1.4.1.min.js"></script>
<script src="system/modules/coin_slider/html/js/coin-slider.min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/tg.css" media="screen" type="text/css" rel="stylesheet" />
<style>
.base_header {

} 
</style>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">

<div class="base_header">
<div id="header-links-box">
                        
  <div id="logo"><a href=""></a></div>
  <div id="logo-ebook">E-Book</div>
</div>
</div>
<style>
  #logo-ebook{
      width: 80px;
      float: left;
      background-color: #060670;
      color: white;
      height: 25px;
      line-height: 25px;
      text-align: center;
      font-size: 16px;
      font-weight: 900;
      margin-top: 30px;
      margin-left: 5px;
  }
</style><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->

<style>
#tab-menu li.oktoberfest:hover {
      background-color: hsl(197, 100%, 47%) !important;
  }
  #tab-menu { margin-top: 5px !important }
</style>
<div id="tab-menu">
  <ul>
    <li><a title="Besondere Anlässe" href="http://www.personalnovel.de/geschenkbuecher/"><span>Besondere Anlässe</span></a></li> 
    <li><a title="Valentinstag" href="http://www.personalnovel.de/valentinstag"><span>Valentinstag</span></a></li>
    <li><a title="Hochzeit" href="/hochzeitsgeschenke"><span>Hochzeit</span></a></li>
   </ul>
</div>
<div class="kundengeschenke" id="menunav">
<div class="container">
<ul class="level_1">
<li class="first"><a class="first" title="Personalisierte Bücher &amp; Romane" href="/romane/">Romane</a></li>
<li><a title="Klassische Literatur personalisiert" href="/personalisierteklassiker/">Klassiker der Literatur</a></li>
<li><a title="Personalisierte Kinderbücher" href="/kinderbuecher/">Kinderbücher</a></li>
<li><a title="Personalisierte Jugendbücher" href="/jugendbuecher/">Jugendbücher</a></li>
<li ><a  title="Personalisierte Kalender" href="/kalender/">Kalender</a></li>
<li><a href="/eigenerwein/" title="Weinetiketten"><span>Wein &amp; Champagner Etiketten</span></a></li>
<li><a href="/kundengeschenke/" title="Firmenkunden"><span>Firmenkunden</span></a></li>
<li class="last"><a href="/personalisierte-ebooks" title="Personalisierte E-Books"><span>E-Books</span></a></li>
</ul>

<div class='flash-language'>
  <a class='active' onclick="return false" href='' title="Germany"></a>
  <a class='inactive' href='http://www.personalnovel.co.uk' title="United Kingdom"></a>
</div>
<style>
  .flash-language a {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
    width:24px;
    height:24px;
  }
  .flash-language {
    position: absolute;
    right: 0px;
    height: 30px;
    line-height: 30px;
    width: 70px;
  }
  .flash-language .active{
    background:url("/tl_files/personalnovel_de/image/uk/Germany-Flag.png") no-repeat;
  }
  .flash-language .inactive{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag-active.png") no-repeat;
  }
  .flash-language .inactive:hover{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag.png") no-repeat;	
  }
</style>

</div>
</div>
 
</div>
</header>

<div id="container">
<div class="real_content">

<aside id="left">
<div class="inside navigation">

<div class="title_nav"><div class="section ">Geschenk nach Anlass</div></div>
<div class="links ">
	
	<a class="navitem" title="personalisierter Roman" href="/personalisierte-ebooks/gesamtsortiment?Anlass=Geburtstag">Geburtstag</a>
	<a class="navitem" title="personalisierter Roman" href="/personalisierte-ebooks/gesamtsortiment?Anlass=Weihnachten">Weihnachten </a>
	<a class="navitem" title="personalisierter Roman" href="/personalisierte-ebooks/gesamtsortiment?Anlass=Hochzeit+%2F+Verlobung">Hochzeit / Verlobung</a>
	<a class="navitem" title="personalisierter Roman" href="/personalisierte-ebooks/gesamtsortiment?Anlass=Muttertag">Muttertag</a>
	<a class="navitem" title="personalisierter Roman" href="/personalisierte-ebooks/gesamtsortiment?filter=anlass">Noch mehr Anlässe</a>
    <hr class="spacer">
</div>
<div class="title_nav"><div class="section ">Geschenke für alle</div></div>
<div class="links ">
	<a class="navitem" title="personalisierter Roman" href="/personalisierte-ebooks/gesamtsortiment?filter=alter">Je nach Alter</a>
	<a class="navitem" title="personalisierter Roman" href="/personalisierte-ebooks/gesamtsortiment?Für+wen=Für+sie">Frauen</a>
	<a class="navitem" title="personalisierter Roman" href="/personalisierte-ebooks/gesamtsortiment?Für+wen=Für+ihn">Männer</a>
	<a class="navitem" title="personalisierter Roman" href="/personalisierte-ebooks/gesamtsortiment?Für+wen=Für+Teenager">Teenager</a>
	<a class="navitem" title="personalisierter Roman" href="/personalisierte-ebooks/gesamtsortiment?Für+wen=Für+Paare">Paare</a>
	<a class="navitem" title="personalisierter Roman" href="/personalisierte-ebooks/gesamtsortiment?Für+wen=Für+Familie">Familie</a>
	<a class="navitem" title="personalisierter Roman" href="/personalisierte-ebooks/gesamtsortiment?Für+wen=Für+Freunde">Freunde</a>
  	<a class="navitem" title="personalisierter Roman" href="/personalisierte-ebooks/gesamtsortiment">Gesamtsortiment</a>
    <hr class="spacer">
</div>
<div class="title_nav"><div class="section ">Ihr Buch</div></div>
<div class="links ">
	<a href="romane/personalisierung" title="personalisierter Roman" class="navitem">Personalisierung</a>
        <a href="romane/widmung" title="personalisierter Roman" class="navitem">Widmung</a>
  	<a href="romane/preise-einbaende" title="personalisierter Roman" class="navitem">Einbände &amp; Preise</a>
	<a href="romane/umschlag-gestaltung" title="personalisierter Roman" class="navitem">Umschlag &amp; Gestaltung</a>
        <a href="romane/geschenkbox" title="personalisierter Roman" class="navitem">Geschenkbox</a>
        <a href="romane/galerie" title="personalisierter Roman" class="navitem">Galerie</a>
	<hr class="spacer">
</div>
<div class="title_nav"><div class="section ">Service</div></div>
<div class="links ">
	<a href="/service-versand" title="personalisierter Roman" class="navitem">Liefertermine &amp; Versand </a>
	<a href="/zahlung" title="personalisierter Roman" class="navitem">Zahlung</a>
        <a href="/showroom/" class="navitem"  title="Showroom München">Showroom München</a>
        <hr class="spacer">
</div>
<div class="title_nav"><div class="section"></div></div>
<div class="navigation centered" style="border-left: 1px solid #E7E6E6;border-right: 1px solid #E7E6E6;margin-bottom:0;">
    <a class="nooutline" href="http://www.personalnovel.de/zahlung" style="padding-left: 0;">
      <img width="198" height="115" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" title="Payment" alt="Payment">
    </a>
</div>
<div class="title_nav"><div class="section ">Kommunikation</div></div>
<div id="social_media">

  <a target="_blank" title="" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659">
    <img title="Folgen Sie uns auf Facebook!" alt="Facebook" src="tl_files/personalnovel_de/static/img/icons/facebook.png">
  </a>
  <a target="_blank" href="http://www.twitter.com/PersonalNOVEL">
  <img alt="Follow PersonalNOVEL on Twitter" src="tl_files/personalnovel_de/static/img/icons/twitter.png" />
  </a>
    <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/youtube.png" />
  </a>
    <a target="_blank" href="http://blog.personalnovel.de/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/google.png" />
  </a>
    <a target="_blank" href="http://pinterest.com/personalnovel/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/p.png" />
  </a>

</div>
<div style="*display:none; ">
  <div style="position:relative; height:160px; width:100%;">
    <div style="position:relative; height:80px; width:100%;">
    	<a href="https://www.facebook.com/PersonaNOVEL" title="PersonaNOVEL" target="_blank">
      	<img style="width:200px; height:80px;" src="/tl_files/personalnovel_de/static/assets/website/teaser_plugin_facebook_like.png">
      	</a>
    </div>
    <div style="position:absolute;margin:-10px 0px 0px 3px; z-index:4; width:195px; ">
      <iframe id='like-pn' src="//www.facebook.com/plugins/like.php?locale=de_DE&href=http%3A%2F%2Fwww.facebook.com%2FPersonaNOVEL&amp;send=false&amp;layout=standard&amp;width=190&amp;show_faces=false&amp;font=tahoma&amp;colorscheme=light&amp;action=like&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:195px; height:70px;" allowTransparency="true"></iframe>
    </div>
    <div style='clear:both;'></div>
  </div>
</div>
<div id="yelp-biz-badge-fsc-8Grwh5KCPCm3cZXlAu5yMw">PersonalNOVEL e.K.</div>
<script type="text/javascript">
 !function(doc, id){
  var js;
  var scriptElement = doc.getElementsByTagName("script")[0];
  if (!doc.getElementById(id)) {
   js = doc.createElement("script");
    js.id = id;
    js.src = "http://dyn.yelpcdn.com/biz_badge_js/fsc/8Grwh5KCPCm3cZXlAu5yMw.js";
    scriptElement.parentNode.insertBefore(js, scriptElement);
  }
} (document, "yelp-biz-badge-script-fsc-8Grwh5KCPCm3cZXlAu5yMw");
</script> 
</div>
</aside>

<aside id="right">
<div class="inside">
<!-- indexer::stop -->

<script>
    jQuery.noConflict();
    jQuery(function(){
    	
    	 
         jQuery(".random_image_book div.text_image_book").hide();
         jQuery(".random_image_book a").css("opacity","0");

         jQuery(".random_image_book a:first").css("opacity","1");
         jQuery(".random_image_book a:first").css("z-index","2");
         jQuery(".random_image_book div.text_image_book:first").show();

         jQuery(".random_image_book .text_image_book").click(function(){
         	var href = jQuery(this).attr("id");
         	window.location.href = href;
         });
         
          var href_first = jQuery(".random_image_book a:first").attr("href");
          jQuery(".bg_random_image_book a").attr("href",href_first);
          
        var random_image_book=function(){
            var count= jQuery(".random_image_book a").length;
            var items=Math.floor((Math.random()*count));
            jQuery(".random_image_book div.text_image_book").hide();
            
             
             
             jQuery(".random_image_book a").css("z-index","1").animate({opacity:0},1000);
             
             //for webkit
             //for firefox
             if (jQuery.browser.webkit || jQuery.browser.safari || jQuery.browser.opera || jQuery.browser.mozilla) {
		 jQuery(".bg_random_image_book").animate({opacity:0},1000);
	     }
             jQuery(".random_image_book a:eq("+items+")").css("z-index","2").animate({opacity:1},2000);
             var href_img = jQuery(".random_image_book a:eq("+items+")").attr("href");
             jQuery(".bg_random_image_book a").attr("href",href_img);
             jQuery(".random_image_book div.text_image_book:eq("+items+")").show();
             
             //for webkit
             //for firefox
              if (jQuery.browser.webkit || jQuery.browser.safari || jQuery.browser.opera || jQuery.browser.mozilla) {
		 jQuery(".bg_random_image_book").animate({opacity:1},1000);
	     }
        };
        setInterval(random_image_book,12000);
    });

</script>

<!--<style type="text/css">

        .random_image_book {  
            margin:0px auto; 
            height:240px;  
            text-align: center;
            background-color: #F4F4F4;

             }

        .random_image_book .img_image_book {
            text-align:left;
            margin: 0px 20px 0px 32px;
            position:absolute;
            top:0px;
            left:0px;
        }
        .bg_random_image_book {
            text-align:left;
            width:218px;
            height:250px; 
            margin:0px auto;
            background:url("tl_files/personalnovel_de/static/assets/website/Buchvorschau_neu.png") no-repeat scroll 100% 100%;
            background-color: transparent;
            position:absolute;
            left:0px;
            top:0px;
            z-index:100;
            display:none;
        }
        .bg_random_image_book a{
            width:217px;
            height:249px;
            text-decoration: none;
            float:left;
            z-index:1;
        }
        .bg_random_image_book a:hover{
        	 cursor:pointer;
        }

        .random_image_book .text_image_book:hover,.random_image_book a:hover{
        	 cursor:pointer;
        }
        
        .random_image_book a
        {
            left:0; 
            top:0;
            float:left;
            z-index:1; 
            color: #666; 
            text-decoration: none; 
            opacity:1;
            position: absolute;
            width:220px;
            height:240px;
            background:url("tl_files/personalnovel_de/static/assets/website/Buchvorschau_Hintergrund_Explorer.png") no-repeat scroll 100% 100%;
            background-color: transparent;
        }
        .random_image_book .title_image_book
        { 
            padding:0px 10px 0px 10px;
            color: #404040;
            font-style: normal;
            font-size: 1.5em; 
            text-decoration: none; 
            margin-top: 5px;
            margin-left:2%;
            display:none;
        }

        .random_image_book .text_image_book { 
            padding:5px 20px;
            width:180px;
            font-family: Arial;
            font-size: 12px;
            z-index:103;
            text-align:center;
            position:absolute;
            color:#707070;
            display:none;
            left:0px;
            top:0px;
            background-color: transparent;
        }
         .random_image_book a img{
             height:183px;
             width:122px;
             margin:46px 0px 0px 11px;
             *margin:46px 0px 0px 11px;
             *height:183px;
             left:0px;
             top:0px;
              
        }
        
        .random_image_book a:hover{ text-decoration: none; }

         @-moz-document url-prefix() { 
            .bg_random_image_book {
                display:block;
            }
            .random_image_book a{
                background:none;

            }
            .random_image_book a img {
                 height:184px;
                 width:130px;
                 left:0px;
                 top:0px;
                 margin:51px 0px 0px 3px;
                -moz-transform: matrix(1, 0.07, 0, 1, 0, 0);
                }

          }
        @media screen and (-webkit-min-device-pixel-ratio:0) {

            .bg_random_image_book {
                display:block;
            }
            .random_image_book a{
                background:none;
            }
            .random_image_book a img {
                 height:184px;
                 width:130px;
                 left:0px;
                 top:0px;
                 margin:51px 0px 0px 3px;
                -moz-transform: matrix3d(1, 0.07, 0, 0, 0, 1, 0, 0, 0, 2, 1, 1, 0, 300, 0, 1);
                transform: matrix3d(1, 0.07, 0, 0, 0, 1, 0, 0, 0, 2, 1, 1, 0, 0, 0, 1);
                -webkit-transform: matrix3d(1, 0.07, 0, 0, 0, 1, 0, 0, 0, 2, 1, 1, 0, 0, 0, 1);
                -o-transform: matrix3d(1, 0, 0, 0.07, 0, 1, 0, 0, 0, 2, 1, 1, 0, 0, 0, 1);
                }

        }
</style>-->

<div class='random_image_book div_box'>
    <div class='title_image_book'>
       
    </div>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/648/so-schnell-kanns-gehen">
                         <b>Empfehlung:</b><br>
            So schnell kann's gehen    </div>
    
    <a href="http://web.personalnovel.local/book/648/so-schnell-kanns-gehen">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/so-schnell-kanns-gehen-648-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/646/mord-muskat">
                         <b>Empfehlung:</b><br>
            Mord &amp; Muskat    </div>
    
    <a href="http://web.personalnovel.local/book/646/mord-muskat">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/mord-muskat-646-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/639/kleiner-kater-grosses-leben">
                         <b>Empfehlung:</b><br>
            Kleiner Kater, großes Leben    </div>
    
    <a href="http://web.personalnovel.local/book/639/kleiner-kater-grosses-leben">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/kleiner-kater-grosses-leben-639-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/637/a-nightcats-prowl">
                         <b>Empfehlung:</b><br>
            A Nightcat's Prowl    </div>
    
    <a href="http://web.personalnovel.local/book/637/a-nightcats-prowl">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/a-nightcats-prowl-637-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/626/hundsurlaub">
                         <b>Empfehlung:</b><br>
            Hundsurlaub    </div>
    
    <a href="http://web.personalnovel.local/book/626/hundsurlaub">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/hundsurlaub-626-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/625/hundsurlaub">
                         <b>Empfehlung:</b><br>
            Hundsurlaub    </div>
    
    <a href="http://web.personalnovel.local/book/625/hundsurlaub">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/hundsurlaub-625-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/612/four-degrees-north">
                         <b>Empfehlung:</b><br>
            Four Degrees North    </div>
    
    <a href="http://web.personalnovel.local/book/612/four-degrees-north">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/four-degrees-north-612-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/611/wo-gehobelt-wird-da-fallen-zaehne">
                         <b>Empfehlung:</b><br>
            Wo gehobelt wird, da fallen Zähne    </div>
    
    <a href="http://web.personalnovel.local/book/611/wo-gehobelt-wird-da-fallen-zaehne">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/wo-gehobelt-wird-da-fallen-zaehne-611-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/610/der-cleopatra-papyrus">
                         <b>Empfehlung:</b><br>
            Der Cleopatra-Papyrus    </div>
    
    <a href="http://web.personalnovel.local/book/610/der-cleopatra-papyrus">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/der-cleopatra-papyrus-610-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/609/die-nulldimension">
                         <b>Empfehlung:</b><br>
            Die Nulldimension    </div>
    
    <a href="http://web.personalnovel.local/book/609/die-nulldimension">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/die-nulldimension-609-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/608/schoen-klug-bewaffnet">
                         <b>Empfehlung:</b><br>
            Schön, Klug, Bewaffnet    </div>
    
    <a href="http://web.personalnovel.local/book/608/schoen-klug-bewaffnet">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/schoen-klug-bewaffnet-608-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/607/prinzen-und-froesche-im-kaufhaus">
                         <b>Empfehlung:</b><br>
            Prinzen und Frösche im Kaufhaus    </div>
    
    <a href="http://web.personalnovel.local/book/607/prinzen-und-froesche-im-kaufhaus">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/prinzen-und-froesche-im-kaufhaus-607-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/602/das-labyrinth-von-sess">
                         <b>Empfehlung:</b><br>
            Das Labyrinth von Sess    </div>
    
    <a href="http://web.personalnovel.local/book/602/das-labyrinth-von-sess">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/das-labyrinth-von-sess-602-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/601/bonny-ann">
                         <b>Empfehlung:</b><br>
            Bonny Ann    </div>
    
    <a href="http://web.personalnovel.local/book/601/bonny-ann">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/bonny-ann-601-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/597/nachtgesandte">
                         <b>Empfehlung:</b><br>
            Nachtgesandte    </div>
    
    <a href="http://web.personalnovel.local/book/597/nachtgesandte">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/nachtgesandte-597-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/586/griessbrei-und-kandierte-chilischoten">
                         <b>Empfehlung:</b><br>
            Grießbrei und kandierte Chilischoten    </div>
    
    <a href="http://web.personalnovel.local/book/586/griessbrei-und-kandierte-chilischoten">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/griessbrei-und-kandierte-chilischoten-586-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/585/stilles-ende-schnelles-erbe">
                         <b>Empfehlung:</b><br>
            Stilles Ende, schnelles Erbe    </div>
    
    <a href="http://web.personalnovel.local/book/585/stilles-ende-schnelles-erbe">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/stilles-ende-schnelles-erbe-585-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/582/die-bruderschaft-des-kondors">
                         <b>Empfehlung:</b><br>
            Die Bruderschaft des Kondors    </div>
    
    <a href="http://web.personalnovel.local/book/582/die-bruderschaft-des-kondors">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/die-bruderschaft-des-kondors-582-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/579/oliver-twist">
                         <b>Empfehlung:</b><br>
            Oliver Twist    </div>
    
    <a href="http://web.personalnovel.local/book/579/oliver-twist">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/oliver-twist-579-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/575/wiesngeister">
                         <b>Empfehlung:</b><br>
            Wiesngeister    </div>
    
    <a href="http://web.personalnovel.local/book/575/wiesngeister">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/wiesngeister-575-detail.png">
            </div>
        </div>
    </a>
    </div>
<div class="bg_random_image_book"><a href=""></a></div>

<!-- indexer::continue -->


  
<div id="help_info" class="div_box_01" >
   
 
   <img class="bewertung" style = " height: 193px; margin: 12px 0 -9px 14px; position: relative; width: 193px;" alt="PersonalNOVEL bewertungen" border="0" src="https://www.trustedshops.com/bewertung/widget/widgets/X2C834FF848E080243F1AFD2A3C74272F.gif"/>

<a target="_blank" href="https://www.trustedshops.de/bewertung/info_X2C834FF848E080243F1AFD2A3C74272F.html" title="Händlerbewertungen von PersonalNOVEL einsehen">
   <img class="bewertung" style = " height: 219px; margin-left: 1px; margin-top: -199px; position: relative; width: 218px;" alt="PersonalNOVEL bewertungen" border="0" src="tl_files/personalnovel_de/static/assets/website/Hintergrund_TrustedShop.png"/>
</a>
</div>

<div class="teaser-blog-pn div_box_01">
  <a href="/blog" title="Blog" target="_blank">
    <img src="tl_files/personalnovel_de/static/assets/website/personalnovel-blog.png" alt="Blog">
  </a>
</div>
<div id="help_info" class="div_box_01">
    <a href="/kontakt">
        <img width="218" src="/tl_files/personalnovel_de/img14.png" title="Kontaktbox" alt="Kontaktbox">
    </a>
</div>
 <div id="advantages" class="div_box">
    <h2>Ihre Vorteile</h2>
    <img width="218" height="118" src="/tl_files/personalnovel_de/static/assets/website/120206_Vorteilsbox.png?1329230395" title="Vorteilsbox" alt="Vorteilsbox">
</div>
<div id="help_info" class="div_box_01">
  <div style="width:206px;border:2px #ccc solid;text-align:center;padding:5px">
    <p><i>„Mein personalisiertes Geschenk ist beim Beschenkten sehr gut angekommen. Es war mal etwas anderes als diese herkömmlichen Geschenke!“ Katrin K. aus Wernigerode</i></p>
    <br />
    <a href="/kundenstimmen"><span style="color:#a90118;font-weight:bold">mehr Kundenstimmen</span></a>
  </div>
</div>
<div class="div_box">
    <div class="press_box">
        <h2>Pressestimmen</h2>
        <a href="/pressestimmen">
          <img width="200" height="50" src="tl_files/personalnovel_de/static/assets/presselogos/Presse-3.jpg?1320662033" title="Pressestimmen-Logos 3" alt="Pressestimmen-Logos 3">
        </a>
    </div>
</div> 
</div>
</aside>

<section id="main">
<div class="inside">

<article class="mod_article block" id="personalisierte-ebooks">

<h1 class="ce_headline">Das persönliche Geschenk –  jetzt auch als E-Book!</h1>
<section style='position:relative;'  class="ce_coinSlider block">
    
    
        			
		
        <div id="ebook">
		
        
            <a href="">
                <img alt="" src="tl_files/personalnovel_de/image_slider/E-Books/120320_eBook-Mood_01.png" />
                               <span></span>
                            </a>
			
        
            <a href="">
                <img alt="" src="tl_files/personalnovel_de/image_slider/E-Books/120320_eBook-Mood_02.png" />
                               <span></span>
                            </a>
			
        
            <a href="">
                <img alt="" src="tl_files/personalnovel_de/image_slider/E-Books/120320_eBook-Mood_03.png" />
                               <span></span>
                            </a>
			
                </div>
            
</section>


<script type="text/javascript">
<!--//--><![CDATA[//><!--

jQuery.noConflict();
    jQuery(document).ready(function(){
        jQuery('#ebook').coinslider({
            width : 520,
            height : 250,
            spw : 7,
            sph : 5,
            delay : 3000,
            sDelay : 30,
            opacity : 0.7,
            titleSpeed : 500,
            effect :'random',
                                        navigation : true,
                        links : false,
                        hoverPause : false
                });
});
//--><!]]>
</script>

<section class="ce_text block">

<h1>Sie, Ihre Familie und Freunde spielen die Hauptrolle in unserem neuen E-Book-Angebot!</h1>

<p style="text-align: justify;">PersonalNovels sind individuell personalisierte Bücher und Romane, in denen Sie selbst oder andere die Hauptrolle und diverse Nebenrollen übernehmen. Dabei können Sie Eigenschaften und Aussehen der Charaktere bestimmen: Namen, Augen- und Haarfarbe, Wohnort und vieles mehr.</p>
<p style="text-align: justify;">Individualisieren Sie Ihr E-Book zusätzlich mit einer Widmung, passen Sie Untertitel und Coverbild Ihren Wünschen an. So entsteht ein einzigartiges Unikat und digitales Liebhaberstück. Ein hochwertiges Geschenk, über das sich jeder freut!</p>
<p style="text-align: justify;">Derzeit bieten wir eine Auswahl von über 100 E-Books an, stöbern Sie einfach auf unserer Homepage und lassen sie sich in die Welten unserer Romane entführen: von Krimis, über Fantasy und Liebesgeschichten bis hin zu Sport und historischen Romanen — hier wird garantiert jeder fündig!</p>
<p style="text-align: justify;">Mit PersonalNOVEL können Sie sich, ihre Familie und Freunde nun auch auf dem E-Book-Reader spannende Abenteuer bestehen lassen.</p>
<p style="text-align: justify;">Testen Sie ruhig einmal, wie sich ihre Familie und Freunde als Romanhelden machen!</p>
</section>
<div id="teaser">
<!-- ### Teaser start ### -->
<script type="text/javascript">
	 var Jq = jQuery.noConflict();
     var have_all = (typeof (document.all) != 'undefined');
     var have_byid = (typeof (document.getElementById) != 'undefined');

     function v2html (v)
     {
         if (have_all || have_byid)
             return v ? '<i>' + v + '</'+'i>' : '<b>?</'+b+'>';
         return v ? v : '~';
     }

     var text = new Array();
     
     text["Krimi"] = "Nach dem Verhör suchte SIE sogleich den Staatsanwalt auf. " +
         "ER kam schon mit neugierigen Blicken auf sie zu. „Und? Was hat sie gesagt?” " +
         "„Der Gärtner ist der Mörder.” Sie schmunzelte über ihren eigenen Scherz " +
         "und strich sich eine ihrer IHRHAARen Locken aus dem " +
         "Gesicht. " +
         "Seine SEINEAUGENen Augen blitzten. „Lassen Sie den Unfug. Also, was sagt " +
         "die Zeugin?” " +
         "„Sie sagt, dass die Schäfers wirklich essen gehen wollten. Und sie " +
         "hat erzählt, dass Frau Schäfer im Keller ihres Hauses in STADT Kameras " +
         "versteckt hat, um ihren Mann zu überwachen.” " +
         "„Ich wusste es!” Der Staatsanwalt jubelte. „Was wussten Sie?”, fragte SIE " +
         "etwas irritiert. „Dass bei den beiden schon seit JAHRENn der Haussegen schief " +
         "hing. Er hat das mit den Kameras spitz gekriegt und ist durchgedreht. " +
         "Klarer Fall.” ER lächelte zufrieden. ";
     
    text["Science Fiction"] = "„Sir? Sind Sie der Wissenschaftler aus STADT?” ER " +
        "fuhr erschrocken herum. „Ja.” " +
        "Vor ihm stand eine hübsche Frau mit IHRHAARen Haaren. Sie trug eine " +
        "Dienstuniform: blaues Jackett, knielanger schwarzer Rock und schwarze " +
        "Stiefeletten. „Ich bin Lieutenant SIE Margolin”, stellte sie sich vor und " +
        "reichte ihm ihre Hand, deren Druck erstaunlich fest war. „Willkommen auf dem " +
        "Mond! Wir haben nicht viel Zeit. Kommen Sie mit.” " +
        "ER musterte die junge Frau mit seinen SEINEAUGENen Augen. Sie war ihm " +
        "auf Anhieb sympathisch, nur ihre Uniform stieß ihn ab. „Ich bin seit JAHRENn " +
        "die stellvertretende Einsatzleiterin”, erklärte SIE, während sie zu den " +
        "Aufzügen gingen. Als der Aufzug in die Tiefe sackte, glaubte ER, ihm würde " +
        "der Boden unter den Füßen weggezogen. Für einen Moment war er schwerelos. " +
        "Kurz darauf fühlte er wieder sein einschränkendes Gewicht. SIE lächelte. " +
        "„Das gibt sich wieder.”";

    text["Abenteuer"] = "„Ich habe mir die Begleitung eines Mannes gesichert, " +
        "der seit JAHREN in Afrika lebt, das Land kennt und mehrere der " +
        "Sprachen beherrscht. " +
        "Vielleicht sagt Ihnen der Name Eduard Mayer etwas?” ER lächelte " +
        "selbstzufrieden. " +
        "SIE fragte sich, ob sie es sich nur einbildete, dass die SEINEAUGENen " +
        "Augen des Engländers sie plötzlich eingehender musterten. Sie schüttelte so " +
        "heftig den Kopf, dass ihre IHRHAARen Locken über ihre Schulter fielen. " +
        "„Nie gehört. Und woher wissen Sie, dass Herr Meyer mit ihren Plänen " +
        "einverstanden ist?” " +
        "ER zuckte die Achseln. „Ich bin sicher, dass es ihm herzlich gleichgültig " +
        "ist, in welchen Teil des Kaokoveldes er uns wann führt. Im Gegensatz zu " +
        "Ihnen und mir sieht er die Welt eher pragmatisch. Ich treffe ihn heute Abend " +
        "in STADT. Vielleicht wollen Sie auch kommen? Dann könnten Sie ihn selbst " +
        "kennen lernen.”";

    text["Mystery"] = "SIE berichtete von ihren Träumen, von der Statue, von dem " +
        "unheimlichen Mann. Während sie redete, wurde sie ruhiger. ER hatte sich von " +
        "ihr gelöst, saß nun vor ihr auf der Bettkante und blickte sie unverwandt an, " +
        "als könne er nicht glauben, was er da hörte. " +
        "„Es sind wohl bloß komische Träume, gruselig, aber Produkte meiner " +
        "Fantasie”, schloss SIE leise. „Ich habe deine und Melindas Erzählungen in " +
        "meinem Unterbewusstsein gespeichert und dann selbst davon geträumt.” " +
        "„Nein”, sagte ER. „Das ist nicht wahr. Es steckt mehr dahinter, ich weiß " +
        "es.” Sein Gesicht war weiß, und wie zu Eis erstarrt. Seine SEINEAUGENen Augen " +
        "starrten ins Leere. „Ich hatte fast die gleichen Träume”, flüsterte er. " +
        "„Nacht für Nacht, seit JAHRENn.”" +
        "„Die gleichen Träume?” SIE richtete sich erschrocken auf. Ihre " +
        "IHRHAARen Haare standen in alle Richtungen. „Du hast auch diesen " +
        "Fremden in STADT gesehen?” ";
    
    text["Historisch"] = "Die Streitmacht sammelte sich zum Zug auf die Stadt. " +
        "In der Ferne sah ER die beeindruckenden Zinnen dieser glanzvollen, mächtigen " +
        "Stadt, von denen er das IHRHAARe Haar der hübschen SIE glänzen zu " +
        "sehen glaubte. " +
        "Seit JAHRENn bereitete er sich auf diesen Moment vor. Dies war der " +
        "Moment der Rache, " +
        "aber auch des Wiedersehens. Dieser süße Moment... doch wie " +
        "viele Opfer, wie viele Schlachten würde er noch schlagen müssen? Seine " +
        "SEINEAUGENen Augen blitzen vor Siegesgewissheit und Anspannung. Vorsichtig " +
        "schloss er den Brustpanzer, setzte den mit Federn geschmückten Helm auf und " +
        "prüfte sein Schwert. " +
        "Endlich kam der Soldat mit seinem Pferd, endlich war ER fertig vorbereitet " +
        "für den Moment, der sein Leben verändern sollte- für den Sturm auf STADT! ";

    text["Liebe"] = "ER Callaghan schnaufte lautstark. Wie kam SIE nur auf " +
        "diesen Unsinn? Nun kannten die beiden sich schon seit JAHRENn, doch so " +
        "etwas hätte er ihr nie zugetraut. " +
        "Die Sonne schien durch die hohen Fenster des ganz in Holz getäfelten " +
        "Herrenzimmers. SIEs IHRHAARes Haar schimmerte beinahe " +
        "unwirklich im Sonnenlicht. Tränen der Ohnmacht und der Wut stiegen in ERs " +
        "SEINEAUGENe Augen. " +
        "Sein Blick ging hinaus auf den Gemüsegarten, den seine Großmutter " +
        "angelegt hatte. " +
        "All das sollte verloren sein? Das ganze Lebenswerk seiner Familie? Das " +
        "stolze Landgut Callaghan Hall? Nur weil eine smarte Anwältin aus STADT sich " +
        "dafür hergab, eine Motocross-Teststrecke in der wunderbaren, unberührten " +
        "Landschaft Cornwalls bauen zu wollen?";

    text["Jugend"] = "SIE warf einen Blick auf ihre Armbanduhr. 14.53 Uhr. Gleich würde " +
        "der Zug in STADT halten! Sie war aufgeregt. Schließlich war das ihre erste Ferienreise " +
        "ohne Erwachsene. Schon seit JAHRENn freute sie sich auf den Reiterurlaub. " +
        "Doch je näher sie ihrem Ziel kam, desto komischer wurde ihr zumute. " +
        "Es waren ja auch noch andere Kinder auf dem Reiterhof angemeldet. Ob sie sich mit " +
        "denen auch verstehen würde? Was sollte sie tun, wenn sie ganz schrecklich Heimweh bekam? Und " +
        "Reitlehrer ER? Sie erinnerte sich an seine freundlichen SEINEAUGENen Augen, aber " +
        "vielleicht war er ja ganz streng und schrie immerzu im Unterricht? " +
        "SIE hievte ihre " +
        "Reisetasche aus dem Gepäcknetz. Noch ein kurzer Blick in den Spiegel des Zugabteils " +
        "und rasch ein paar Striche mit dem Kamm durch das IHRHAARe Haar. Sie setzte die " +
        "neue Schirmmütze auf und atmete einmal tief durch - los geht's!";

     function update (f)
     {
         var s = text[f.text.value];
         s = s.replace (/SIE/g, v2html (f.SIE.value));
         s = s.replace (/ER/g, v2html (f.ER.value));
         s = s.replace (/IHRHAAR/g, v2html (f.IHRHAAR.value));
         s = s.replace (/SEINEAUGEN/g, v2html (f.SEINEAUGEN.value));
         s = s.replace (/JAHREN/g, v2html (f.JAHREN.value));
         s = s.replace (/STADT/g, v2html (f.STADT.value));
         if (have_byid)
             document.getElementById ('flow').innerHTML = s;
         else if (have_all)
             document.all.flow.innerHTML = s;
         else
            document.yodi.flow.value = s.replace (/<br>/g, '\n');
     }

     Jq(document).ready(function() {
         Jq("form[name=yodi] input:text").bind("keyup", function() {
             update(this.form);
         });
     });

 </script>
 <form action="" name="yodi">
 <div style="clear:left;" class="teaser clearfix">
     <div class="fields">
         <input type="text" onchange="update(this.form);" value="Sie" name="SIE" size="15">
         <input type="text" onchange="update(this.form);" value="Er" name="ER" size="15">
         <input type="text" onchange="update(this.form);" value="Ihre Haarfarbe" name="IHRHAAR" size="15">
         <input type="text" onchange="update(this.form);" value="Seine Augenfarbe" name="SEINEAUGEN" size="15">
         <input type="text" onchange="update(this.form);" value="Dauer" name="JAHREN" size="15">
         <input type="text" onchange="update(this.form);" value="Ort" name="STADT" size="15">
     </div>
     <div class="text">
         <select onchange="update(this.form);" name="text">
             <option value="Liebe">Liebe</option>
             <option value="Krimi">Krimi</option>
             <option value="Science Fiction">Science - Fiction</option>
             <option value="Abenteuer">Abenteuer</option>
             <option value="Mystery">Mystery</option>
             <option value="Historisch">Historisch</option>
             <option value="Jugend">Jugend</option>
         </select>
         <div class="idoy">Geben Sie bitte Ihre Daten ein.</div>
         <div style="margin-left:125px;margin-top:15px;" id="flow">
             <script type="text/javascript">
                if (have_all || have_byid)
				Jq(".idoy").text('Geben Sie bitte Ihre Daten ein.');
				else
				Jq(".idoy").html('<textarea name="flow" rows="15" cols="50" wrap="virtual">So funktioniert PersonalNovel - Probieren Sie es doch einfach mal aus!</'+'textarea>');
				// window.setTimeout ('update(document.yodi)', 500);              
			</script>
         </div>
     </div>
 </div></form>
 <div style="clear:left;"></div>
 <!-- ### Teaser end ### -->
 </div>
<section class="ce_text block">

<p style="text-align: justify;"><span>Haben Sie Anmerkungen, Probleme, Fragen zu unseren E-Books? Wir freuen uns über Ihr Feedback, bitte an &#x69;&#110;&#x66;&#x6F;&#x40;&#112;&#x65;&#x72;&#115;&#111;&#x6E;&#97;&#x6C;&#110;&#x6F;&#118;&#x65;&#108;&#46;&#100;&#101;!</span></p>
</section>

<section class="ce_text block">

<h1>Viele Optionen für Ihr personalisiertes E-Book</h1>

<ul>
<li>Über 100 personalisierbare Romane zur&nbsp;<a href="http://www.personalnovel.de/personalisierte-ebooks/ebooks/">Auswahl</a></li>
<li>2 bis 36 verschiedene&nbsp;<a href="http://www.personalnovel.de/personalisierte-ebooks/ebooks/">Hauptrollen</a>&nbsp;und Nebenrollen zu verteilen</li>
<li>Bestimmen Sie Haarfarbe, Augenfarbe und sogar die Kosenamen</li>
<li>Wählen Sie den Ton der Liebesszenen: Lässig oder Rassig …</li>
<li>Ihre frei formulierte&nbsp;<a href="http://www.personalnovel.de/personalisierte-ebooks/widmung">persönliche Widmung</a>&nbsp;— optional in farbiger “Handschrift”</li>
<li>Ihr eigenes Foto als E-Book-Cover</li>
</ul>
<p>&nbsp;</p>
<p><img title="tl_files/personalnovel_de/10072012_Gestaltungsleiste_E-Book.png" src="tl_files/personalnovel_de/10072012_Gestaltungsleiste_E-Book.png" alt="tl_files/personalnovel_de/10072012_Gestaltungsleiste_E-Book.png"></p>
</section>

<section class="ce_text block">

<h1>Wie kann ich mein E-Book lesen?</h1>

<ul>
<li>eReader-Geräte können unsere E-Books darstellen, sofern sie das ePUB-Format unterstützen (z.B. Sony,&nbsp;<span class="caps">OYO</span>, Kobo, TrekStor etc.)</li>
<li>Windows, MacOS und Linux: mit der kostenlosen Software Calibre</li>
<li>Android-Smartphones: mit einer kostenlosen App wie z.B. Aldiko oder FBReader</li>
<li>iPhone, iPad etc. mit der kostenlosen iBooks-App</li>
<li>Amazon Kindle wird aktuell leider nicht unterstützt</li>
</ul>
</section>

<section class="ce_text block">

<h1>Personalisierte E-Books als ausgefallene Geschenkidee</h1>

<p>Individualisierte Bücher eignen sich perfekt als Geschenk. Mit keiner anderen Geschenkidee werden Sie dem Beschenkten (oder sich selbst) ein persönlicheres Präsent machen können, beispielsweise zu&nbsp;<a href="http://www.personalnovel.de/personalisierte-ebooks/ebooks/?Anlass=Weihnachten">Weihnachten</a>, zum&nbsp;<a href="http://www.personalnovel.de/personalisierte-ebooks/ebooks/?Anlass=Geburtstag">Geburtstag</a>, zum&nbsp;<a href="http://www.personalnovel.de/personalisierte-ebooks/ebooks/?Anlass=Valentinstag">Valentinstag</a>&nbsp;oder&nbsp;<a href="http://www.personalnovel.de/personalisierte-ebooks/ebooks/?Anlass=Muttertag">Muttertag</a>.</p>
<p>Freuen Sie sich über den erstaunten Blick des Beschenkten beim Entdecken des eigenen Namens im personalisierten Roman — ob Liebesroman, Krimi, Abenteuerroman, historischer Roman oder personalisierter Thriller. Mit unseren E-Books liefern wir Ihnen diesen besonderen Augenblick derzeit gratis.</p>
<p>Probieren Sie es doch einfach einmal aus — als originelles Geschenk zum Geburtstag, als personalisierte Geschenkidee zum Jubiläum, zum&nbsp;<a href="http://www.personalnovel.de/personalisierte-ebooks/ebooks/?Anlass=Abschiedsgeschenk">Abschied</a>, zum&nbsp;<a href="http://www.personalnovel.de/personalisierte-ebooks/ebooks/?Anlass=Jahrestag">Jahrestag</a>&nbsp;oder als einzigartiges Geschenk einfach so — der oder die Beschenkte wird sich freuen!</p>
<p>Wir wünschen Ihnen viel Spaß beim Schmökern, Herunterladen und Verschenken,<br><br>Ihr PersonalNOVEL-Team</p>
</section>

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

