<?php $expire = 1404285655; /* http://web.personalnovel.local/customize/book/171.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=171">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Tod durch Eisen Sieben" src="/tl_files/thumbnail-book/tod-durch-eisen-sieben-171-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Tod durch Eisen Sieben“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-171" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Männliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>David Wilms</i>, leidenschaftlicher Golfspieler; Mitte/Ende 30; fürsorglicher Ehemann von <i>Valerie</i>; sehr kameradschaftlich und sympathischer Charakter; Leiter der Marketingabteilung bei <i>Pauls</i> &amp; Partner; wird von seinem Chef zu einem Firmen-Golfturnier eingeladen, bei dem er <i>Karen Maas</i>' Leiche entdeckt; mit seiner Hilfe wird <i>Oliver Schwarz</i> als der Mörder überführt, doch seltsame Träume lassen <i>David</i> an dessen alleiniger Schuld zweifeln; zufällig hört er, wie <i>Joachim Maas</i> am Grab seiner Frau ein Geständnis ablegt; zusammen mit <i>Valerie</i> versucht er, nun auch den Anstifter des Mordes zu überführen; rettet seine Frau aus einer heiklen Situation und findet schließlich auch den endgültigen Beweis für <i>Joachim Maas</i>' Mitschuld am Tod seiner Frau.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Helden ist																					</label>
																					<input type="text" value="David" 
                                name="vars-Sein_Vorname" maxlength="30" id="vars-Sein_Vorname" 
                                data-fieldname="Sein_Vorname" 
                                data-default="David" 
                                class="field focuser default" />
							<span class="field_count">769x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Helden ist																					</label>
																					<input type="text" value="Wilms" 
                                name="vars-Sein_Nachname" maxlength="30" id="vars-Sein_Nachname" 
                                data-fieldname="Sein_Nachname" 
                                data-default="Wilms" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe des Helden ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Seine_Haare" maxlength="30" id="vars-Seine_Haare" 
                                data-fieldname="Seine_Haare" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des Helden ist																					</label>
																					<input type="text" value="grün" 
                                name="vars-Seine_Augen" maxlength="30" id="vars-Seine_Augen" 
                                data-fieldname="Seine_Augen" 
                                data-default="grün" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Das After Shave des Helden heißt																					</label>
																					<input type="text" value="Boss" 
                                name="vars-Sein_Duft" maxlength="30" id="vars-Sein_Duft" 
                                data-fieldname="Sein_Duft" 
                                data-default="Boss" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Der Kosename des Helden ist																					</label>
																					<input type="text" value="Liebling" 
                                name="vars-Sein_Kose" maxlength="30" id="vars-Sein_Kose" 
                                data-fieldname="Sein_Kose" 
                                data-default="Liebling" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
											<div class="field">
							<label>
							Das Auto des Helden ist ein																					</label>
																					<input type="text" value="BMW" 
                                name="vars-Sein_Auto" maxlength="30" id="vars-Sein_Auto" 
                                data-fieldname="Sein_Auto" 
                                data-default="BMW" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Das Auto des Helden hat die Farbe																					</label>
																					<input type="text" value="silbergrau" 
                                name="vars-FarbeSein_Auto" maxlength="30" id="vars-FarbeSein_Auto" 
                                data-fieldname="FarbeSein_Auto" 
                                data-default="silbergrau" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weibliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Valerie Wilms</i>, <i>David</i>s Ehefrau seit 3 Jahren; hübsche und erfolgreiche Malerin; hat seltsame Vorahnungen bzgl. des Mordes an <i>Karen Maas</i>, besucht jedoch während des Golfturniers ihre Eltern und ihren Bruder; erst als <i>David</i> <i>Joachim Maas</i> auf die Spur kommt, wird sie in die Geschichte mit hineingezogen; gerät in Gefahr, als der Direktor sie mit der Pistole bedroht; <i>David</i>s beherztes Eingreifen rettet sie und gemeinsam bringen sie die Wahrheit ans Licht.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Ehefrau ist																					</label>
																					<input type="text" value="Valerie" 
                                name="vars-SeineEhefrau_VN" maxlength="30" id="vars-SeineEhefrau_VN" 
                                data-fieldname="SeineEhefrau_VN" 
                                data-default="Valerie" 
                                class="field focuser default" />
							<span class="field_count">297x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Ehefrau ist																					</label>
																					<input type="text" value="honigblond" 
                                name="vars-Ehefrau_Haare" maxlength="30" id="vars-Ehefrau_Haare" 
                                data-fieldname="Ehefrau_Haare" 
                                data-default="honigblond" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Ehefrau ist																					</label>
																					<input type="text" value="blau-grau" 
                                name="vars-Ehefrau_Augen" maxlength="30" id="vars-Ehefrau_Augen" 
                                data-fieldname="Ehefrau_Augen" 
                                data-default="blau-grau" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Das Parfüm der Ehefrau heißt																					</label>
																					<input type="text" value="Roma" 
                                name="vars-Ihr_Duft" maxlength="30" id="vars-Ihr_Duft" 
                                data-fieldname="Ihr_Duft" 
                                data-default="Roma" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Der Kosename der Ehefrau ist																					</label>
																					<input type="text" value="Schatz" 
                                name="vars-Ihr_Kose" maxlength="30" id="vars-Ihr_Kose" 
                                data-fieldname="Ihr_Kose" 
                                data-default="Schatz" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Bester Freund der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Marc Thiede</i>, <i>David</i>s Kollege, Golfpartner und Freund; in leitender Position im Vertrieb von <i>Pauls</i> &amp; Partner; wird ebenfalls auf das Golfturnier eingeladen; kommt dort <i>David</i> bei einem Handgemenge mit dem Täter zur Hilfe; verheiratet mit <i>Rebecca</i>.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der beste Freund des Helden heißt mit Vornamen																					</label>
																					<input type="text" value="Marc" 
                                name="vars-SeinFreund_VN" maxlength="30" id="vars-SeinFreund_VN" 
                                data-fieldname="SeinFreund_VN" 
                                data-default="Marc" 
                                class="field focuser default" />
							<span class="field_count">224x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ehefrau des besten Freundes der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Rebecca Thiede</i>, <i>Marc</i>s Ehefrau und Freundin von <i>Valerie</i>; hat ihren Mann bei der Hochzeit von <i>David</i> und <i>Valerie</i> kennengelernt; arbeitet im Vertrieb eines großen Verlagshauses; kleine Rolle.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Die Ehefrau des besten Freundes heißt mit Vornamen																					</label>
																					<input type="text" value="Rebecca" 
                                name="vars-EhefrauFreund_VN" maxlength="30" id="vars-EhefrauFreund_VN" 
                                data-fieldname="EhefrauFreund_VN" 
                                data-default="Rebecca" 
                                class="field focuser default" />
							<span class="field_count">24x</span>
						</div>
											<div class="field">
							<label>
							Das befreundete Ehepaar heißt mit Nachnamen																					</label>
																					<input type="text" value="Thiede" 
                                name="vars-SeinFreund_NN" maxlength="30" id="vars-SeinFreund_NN" 
                                data-fieldname="SeinFreund_NN" 
                                data-default="Thiede" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Direktor der konkurrierenden Firma</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Joachim Maas</i>, der Direktor der zweiten am Turnier teilnehmenden Firma; seit 8 Jahren mit <i>Karen</i> verheiratet; einige Jahre älter als seine Frau; würde im Gegensatz zu <i>Karen</i> gern eine Familie gründen; ist genervt von den Allüren und der Unzufriedenheit seiner Frau; als er von ihrem Ehebruch erfährt, brennen bei ihm die Sicherungen durch, und er beauftragt <i>Oliver Schwarz</i>, seine Frau umzubringen; bereut jedoch seine Tat und erschießt sich in seiner Verzweiflung schließlich selbst.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Direktors ist (= Anstifter des Mordes)																					</label>
																					<input type="text" value="Joachim" 
                                name="vars-Direktor_VN" maxlength="30" id="vars-Direktor_VN" 
                                data-fieldname="Direktor_VN" 
                                data-default="Joachim" 
                                class="field focuser default" />
							<span class="field_count">60x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Direktors ist																					</label>
																					<input type="text" value="Maas" 
                                name="vars-Direktor_NN" maxlength="30" id="vars-Direktor_NN" 
                                data-fieldname="Direktor_NN" 
                                data-default="Maas" 
                                class="field focuser default" />
							<span class="field_count">125x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Junge Ehefrau des Direktors</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Karen Maas</i>, die schöne, temperamentvolle und junge Ehefrau des Direktors; schulterlanges Haar; Töchterchen aus reichem Hause; verwöhnt und selbstverliebt; fühlt sich von ihrem Mann vernachlässigt; möchte ausgehen und noch viel erleben, bevor sie eine Familie gründet; hat eine Affäre mit <i>Oliver Schwarz</i> und will ihm zuliebe ihren Mann verlassen; als <i>Schwarz</i> ihre Beziehung beendet, droht sie damit, ihren Mann von der Affäre zu unterrichten; wird während des Golfturniers mit einem Golfschläger erschlagen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Ehefrau des Direktors ist (= das Mordopfer)																					</label>
																					<input type="text" value="Karen" 
                                name="vars-Mordopfer_VN" maxlength="30" id="vars-Mordopfer_VN" 
                                data-fieldname="Mordopfer_VN" 
                                data-default="Karen" 
                                class="field focuser default" />
							<span class="field_count">97x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Vater der Ehefrau des Direktors</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Hubert Steiner</i>, <i>Karen</i>s Vater; ein reicher Industrieller; vergöttert seine einzige Tochter; nach ihrem Tod ist er ein gebrochener Mann; geht im Gerichtssaal auf <i>Oliver Schwarz</i> los und erleidet einen Schwächeanfall, von dem er sich aber wieder erholt.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vater des Mordopfers heißt mit Vornamen																					</label>
																					<input type="text" value="Hubert" 
                                name="vars-VaterOpfer_VN" maxlength="30" id="vars-VaterOpfer_VN" 
                                data-fieldname="VaterOpfer_VN" 
                                data-default="Hubert" 
                                class="field focuser default" />
							<span class="field_count">22x</span>
						</div>
											<div class="field">
							<label>
							Der Vater des Mordopfers heißt mit Nachnamen																					</label>
																					<input type="text" value="Steiner" 
                                name="vars-VaterOpfer_NN" maxlength="30" id="vars-VaterOpfer_NN" 
                                data-fieldname="VaterOpfer_NN" 
                                data-default="Steiner" 
                                class="field focuser default" />
							<span class="field_count">22x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Assistent des Direktors</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Oliver Schwarz</i>, der Assistent von Direktor <i>Maas</i>; gut aussehend, aber unnahbar und kalt; als <i>Karen Maas</i> ihn erpressen will, gesteht er seinem Chef die Affäre, woraufhin der Mordplan entwickelt wird; ist bereit, für den Mord einige Jahre ins Gefängnis zu gehen, sofern ihm <i>Joachim Maas</i> einen Teil der Lebensversicherung seiner verstorbenen Frau abgibt; wird von <i>David</i> k.o. geschlagen und überführt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Assistent des Direktors heißt mit Vornamen (= Mörder)																					</label>
																					<input type="text" value="Oliver" 
                                name="vars-Assistent_VN" maxlength="30" id="vars-Assistent_VN" 
                                data-fieldname="Assistent_VN" 
                                data-default="Oliver" 
                                class="field focuser default" />
							<span class="field_count">37x</span>
						</div>
											<div class="field">
							<label>
							Der Assistent des Direktors heißt mit Nachnamen																					</label>
																					<input type="text" value="Schwarz" 
                                name="vars-Assistent_NN" maxlength="30" id="vars-Assistent_NN" 
                                data-fieldname="Assistent_NN" 
                                data-default="Schwarz" 
                                class="field focuser default" />
							<span class="field_count">57x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Chef der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Werner Pauls</i>, <i>David</i>s Chef; ein älterer Herr mit grauen Strähnen; agiles Auftreten; lädt seine Mitarbeiter zu dem Firmen-Golfturnier ein, an dem auch er selbst teilnimmt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Chef des Helden heißt mit Vornamen																					</label>
																					<input type="text" value="Werner" 
                                name="vars-SeinChef_VN" maxlength="30" id="vars-SeinChef_VN" 
                                data-fieldname="SeinChef_VN" 
                                data-default="Werner" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Der Chef des Helden heißt mit Nachnamen																					</label>
																					<input type="text" value="Pauls" 
                                name="vars-SeinChef_NN" maxlength="30" id="vars-SeinChef_NN" 
                                data-fieldname="SeinChef_NN" 
                                data-default="Pauls" 
                                class="field focuser default" />
							<span class="field_count">69x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Kollegin der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Vera Kühne</i>, Kollegin von <i>David</i>, die wie er am Golfturnier teilnimmt; Witwe mit 2 Kindern; seit Kurzem mit einem Golflehrer liiert.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Eine Kollegin des Helden und Turnierteilnehmerin heißt mit Vornamen																					</label>
																					<input type="text" value="Vera" 
                                name="vars-SeineKollegin1_VN" maxlength="30" id="vars-SeineKollegin1_VN" 
                                data-fieldname="SeineKollegin1_VN" 
                                data-default="Vera" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Diese Kollegin und Turnierteilnehmerin heißt mit Nachnamen																					</label>
																					<input type="text" value="Kühne" 
                                name="vars-SeineKollegin1_NN" maxlength="30" id="vars-SeineKollegin1_NN" 
                                data-fieldname="SeineKollegin1_NN" 
                                data-default="Kühne" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ebenbürtiger Turniergegner der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Sven Larsen</i>, sympathischer Mittzwanziger; arbeitet in der dritten am Turnier teilnehmenden Firma; ist <i>David</i> ein ebenbürtiger Turniergegner.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Einer der Turniergegner heißt mit Vornamen																					</label>
																					<input type="text" value="Sven" 
                                name="vars-SeinGolfgegner_VN" maxlength="30" id="vars-SeinGolfgegner_VN" 
                                data-fieldname="SeinGolfgegner_VN" 
                                data-default="Sven" 
                                class="field focuser default" />
							<span class="field_count">32x</span>
						</div>
											<div class="field">
							<label>
							Dieser Turniergegner heißt mit Nachnamen																					</label>
																					<input type="text" value="Larsen" 
                                name="vars-SeinGolfgegner_NN" maxlength="30" id="vars-SeinGolfgegner_NN" 
                                data-fieldname="SeinGolfgegner_NN" 
                                data-default="Larsen" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Sekretärin der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Agnes Heller</i>, <i>David</i>s Sekretärin; arbeitet schon seit langer Zeit für ihn; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Die Sekretärin des Helden heißt mit Vornamen																					</label>
																					<input type="text" value="Agnes" 
                                name="vars-SeineSekretaerin_VN" maxlength="30" id="vars-SeineSekretaerin_VN" 
                                data-fieldname="SeineSekretaerin_VN" 
                                data-default="Agnes" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Sekretärin des Helden heißt mit Nachnamen																					</label>
																					<input type="text" value="Heller" 
                                name="vars-SeineSekretaerin_NN" maxlength="30" id="vars-SeineSekretaerin_NN" 
                                data-fieldname="SeineSekretaerin_NN" 
                                data-default="Heller" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Sekretärin des Direktors</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Tanja Blisse</i>, Direktor <i>Maas</i>’ Sekretärin; gibt der Polizei den Hinweis, dass <i>Karen Maas</i> eine Lebensversicherung hatte; kleine Rolle. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Die Sekretärin des Direktors heißt mit Vornamen																					</label>
																					<input type="text" value="Tanja" 
                                name="vars-Chefsekretaerin_VN" maxlength="30" id="vars-Chefsekretaerin_VN" 
                                data-fieldname="Chefsekretaerin_VN" 
                                data-default="Tanja" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Die Sekretärin des Direktors heißt mit Nachnamen																					</label>
																					<input type="text" value="Blisse" 
                                name="vars-Chefsekretaerin_NN" maxlength="30" id="vars-Chefsekretaerin_NN" 
                                data-fieldname="Chefsekretaerin_NN" 
                                data-default="Blisse" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weitere Kollegin der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Ursula Berger</i>, eine weitere Kollegin von <i>David</i>; nimmt ebenfalls am Turnier teil; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Eine weitere Kollegin des Helden und Turnierteilnehmerin heißt mit Vornamen																					</label>
																					<input type="text" value="Ursula" 
                                name="vars-SeineKollegin2_VN" maxlength="30" id="vars-SeineKollegin2_VN" 
                                data-fieldname="SeineKollegin2_VN" 
                                data-default="Ursula" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Diese Kollegin und Turnierteilnehmerin heißt mit Nachnamen																					</label>
																					<input type="text" value="Berger" 
                                name="vars-SeineKollegin2_NN" maxlength="30" id="vars-SeineKollegin2_NN" 
                                data-fieldname="SeineKollegin2_NN" 
                                data-default="Berger" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Kollege der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Stefan Neumann</i>, <i>David</i>s Kollege; ebenfalls Turnierteilnehmer; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Ein Kollege des Helden und Turnierteilnehmer heißt mit Vornamen																					</label>
																					<input type="text" value="Stefan" 
                                name="vars-SeinKollege_VN" maxlength="30" id="vars-SeinKollege_VN" 
                                data-fieldname="SeinKollege_VN" 
                                data-default="Stefan" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Dieser Kollege und Turnierteilnehmer heißt mit Nachnamen																					</label>
																					<input type="text" value="Neumann" 
                                name="vars-SeinKollege_NN" maxlength="30" id="vars-SeinKollege_NN" 
                                data-fieldname="SeinKollege_NN" 
                                data-default="Neumann" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ermittelnder Kommissar</div>
				<div class="description" style="margin-top: 5px;display:none">Kommissar <i>Schmidt</i>, ermittelt im Mordfall <i>Karen Maas</i>; ihm wäre es lieber gewesen, <i>David</i> hätte die Ermittlungen der Polizei überlassen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des ermittelnden Kommissars ist																					</label>
																					<input type="text" value="Schmidt" 
                                name="vars-Kommissar_NN" maxlength="30" id="vars-Kommissar_NN" 
                                data-fieldname="Kommissar_NN" 
                                data-default="Schmidt" 
                                class="field focuser default" />
							<span class="field_count">32x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Freundin der Ehefrau des Direktors</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Patricia</i>, <i>Karen</i>s beste Freundin, mit der sie um die Häuser zieht; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Die Freundin des Mordopfers heißt mit Vornamen																					</label>
																					<input type="text" value="Patricia" 
                                name="vars-FreundinOpfer_VN" maxlength="30" id="vars-FreundinOpfer_VN" 
                                data-fieldname="FreundinOpfer_VN" 
                                data-default="Patricia" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ehepaar und gute Bekannte der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Anne</i> und <i>Thomas</i>, ein Ehepaar; sind Mitglieder in <i>David</i>s und <i>Marc</i>s Golfclub und gute Bekannte der beiden Freunde.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Golfendes Ehepaar - Der Vorname der Frau ist																					</label>
																					<input type="text" value="Anne" 
                                name="vars-BefreundEhepaar_Frau" maxlength="30" id="vars-BefreundEhepaar_Frau" 
                                data-fieldname="BefreundEhepaar_Frau" 
                                data-default="Anne" 
                                class="field focuser default" />
							<span class="field_count">15x</span>
						</div>
											<div class="field">
							<label>
							Golfendes Ehepaar - Der Vorname des Mannes ist																					</label>
																					<input type="text" value="Thomas" 
                                name="vars-BefreundEhepaar_Mann" maxlength="30" id="vars-BefreundEhepaar_Mann" 
                                data-fieldname="BefreundEhepaar_Mann" 
                                data-default="Thomas" 
                                class="field focuser default" />
							<span class="field_count">13x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Freundin der weibllichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Kate</i>, <i>Valerie</i>s Freundin, die in New York lebt; betreibt dort eine kleine Kunstgalerie; ledig; führt ein unstetes Liebesleben; von ihr wird nur gesprochen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Die Freundin der Ehefrau des Helden heißt mit Vornamen																					</label>
																					<input type="text" value="Kate" 
                                name="vars-FreundinEhefrau_VN" maxlength="30" id="vars-FreundinEhefrau_VN" 
                                data-fieldname="FreundinEhefrau_VN" 
                                data-default="Kate" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ex-Freund der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Alex</i>, <i>Valerie</i>s Ex-Freund, der sie in der Vergangenheit sehr verletzt hat; er wird nur erwähnt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Ex-Freund der Ehefrau des Helden heißt mit Vornamen																					</label>
																					<input type="text" value="Alex" 
                                name="vars-ExfreundSeineEhefrau_VN" maxlength="30" id="vars-ExfreundSeineEhefrau_VN" 
                                data-fieldname="ExfreundSeineEhefrau_VN" 
                                data-default="Alex" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<div class="name">Handlungsort der Geschichte</div>
				<div class="description" style="margin-top: 5px;display:none"></div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Die Geschichte spielt in																					</label>
																					<input type="text" value="München" 
                                name="vars-Ort" maxlength="30" id="vars-Ort" 
                                data-fieldname="Ort" 
                                data-default="München" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			Der <span class='default Seine_Haare'>braun</span>haarige, <span class='default Seine_Augen'>grÃ¼n</span>äugige <span class='default Sein_Vorname'>David</span> <span class='default Sein_Nachname'>Wilms</span>, der stets nach <span class='default Sein_Duft'>Boss</span> duftet, ist leidenschaftlicher Golfer und glücklich mit <span class='default SeineEhefrau_VN'>Valerie</span> verheiratet, die in ihrer früheren Beziehung mit <span class='default ExfreundSeineEhefrau_VN'>Alex</span> schlechte Erfahrungen gemacht hat. Gerne machen die beiden Ausflüge mit seinem <span class='default FarbeSein_Auto'>silbergrau</span>en <span class='default Sein_Auto'>BMW</span> in <span class='default Ort'>MÃ¼nchen</span>. Er liebt ihre <span class='default Ehefrau_Augen'>blau-grau</span>en Augen und ihr <span class='default Ehefrau_Haare'>honigblond</span>es Haar ebenso wie ihren Duft nach <span class='default Ihr_Duft'>Roma</span>. Die beiden nennen sich zärtlich <span class='default Sein_Kose'>Liebling</span> und <span class='default Ihr_Kose'>Schatz</span>.
<span class='default SeineEhefrau_VN'>Valerie</span>s beste Freundin lebt in den USA und heißt <span class='default FreundinEhefrau_VN'>Kate</span>. Sein Freund <span class='default SeinFreund_VN'>Marc</span> <span class='default SeinFreund_NN'>Thiede</span> arbeitet in derselben Firma wie er und ist mit <span class='default EhefrauFreund_VN'>Rebecca</span> verheiratet. Die beiden Männer verbringen ihre Zeit gerne auf dem Golfplatz, wo sie gemeinsam mit <span class='default BefreundEhepaar_Frau'>Anne</span> und <span class='default BefreundEhepaar_Mann'>Thomas</span> auf die Runde gehen. <span class='default SeinChef_VN'>Werner</span> <span class='default SeinChef_NN'>Pauls</span>, der Chef von <span class='default Sein_Vorname'>David</span> und <span class='default SeinFreund_VN'>Marc</span>, schickt die beiden als Vertreter der Firma auf ein Golfturnier. Dort lernen sie Direktor <span class='default Direktor_VN'>Joachim</span> <span class='default Direktor_NN'>Maas</span> kennen, dessen Ehefrau <span class='default Mordopfer_VN'>Karen</span> bald darauf tot aufgefunden wird. Der Vater der Toten, <span class='default VaterOpfer_VN'>Hubert</span> <span class='default VaterOpfer_NN'>Steiner</span>, hat sofort <span class='default Assistent_VN'>Oliver</span> <span class='default Assistent_NN'>Schwarz</span> in Verdacht, den Assistenten des Direktors. Kommissar <span class='default Kommissar_NN'>Schmidt</span> versucht, Licht ins Dunkel dieses Falls zu bringen und befragt alle anderen Turnierteilnehmer, so auch <span class='default Sein_Vorname'>David</span>s Spielgegner <span class='default SeinGolfgegner_VN'>Sven</span> <span class='default SeinGolfgegner_NN'>Larsen</span>, seine Sekretärin <span class='default SeineSekretaerin_VN'>Agnes</span> <span class='default SeineSekretaerin_NN'>Heller</span> und seine ebenfalls am Turnier teilnehmenden Kollegen <span class='default SeineKollegin1_VN'>Vera</span> <span class='default SeineKollegin1_NN'>KÃ¼hne</span>, <span class='default SeineKollegin2_VN'>Ursula</span> <span class='default SeineKollegin2_NN'>Berger</span> und <span class='default SeinKollege_VN'>Stefan</span> <span class='default SeinKollege_NN'>Neumann</span>. Den entscheidenden Hinweis liefert schließlich die Sekretärin des Direktors, <span class='default Chefsekretaerin_VN'>Tanja</span> <span class='default Chefsekretaerin_NN'>Blisse</span>. Während der Trauerfeier hält die beste Freundin der Toten, <span class='default FreundinOpfer_VN'>Patricia</span>, eine ergreifende Rede auf die Verstorbene.		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

