<?php $expire = 1405836345; /* http://web.personalnovel.local/book/items/612.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Four Degrees North - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="A hobbyist pilot was hoping for a relaxed lifestyle when he emigrated to Costa Rica and opened his private adventure touring business. But then he meets an intriguing British woman who instantly has him under her spell. When her cousin is suddenly abducted by Colombian guerilla fighters who demand a ransom, they set off for an enthralling rescue mission. Just who will need to be saved in the end?">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Four Degrees North - PersonalNOVEL" /> 
<meta property="og:image" content="http://web.personalnovel.local/tl_files/thumbnail-book/four-degrees-north-612-face.png" /> 
<meta property="og:description" content="A hobbyist pilot was hoping for a relaxed lifestyle when he emigrated to Costa Rica and opened his private adventure touring business. But then he meets an intriguing British woman who instantly has him under her spell. When her cousin is suddenly abducted by Colombian guerilla fighters who demand a ransom, they set off for an enthralling rescue mission. Just who will need to be saved in the end?" /> 
<meta property="og:url" content="http://web.personalnovel.local/book/612/four-degrees-north">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<style media="screen">
#left{width:200px;}
#main{margin-left:200px;}
</style>
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/tabs.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/detail.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.cycle.min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/tg.css" media="screen" type="text/css" rel="stylesheet" />
<style>
#main {
padding-right: 0px !important;
} 
</style>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">

<div class="base_header">
<div id="header-links-box">
                        
  <div id="logo"><a href="/romane/"></a></div>
   <!--
  <div id="versand"><a href="/service-versand.html"></a></div>
  
  <div class="headerlinks">
      <div id="headerlinkgroup">
      	<a class="hidden" id="basklink"><img title="Warenkorb" kasse="" alt="Warenkorb" src="tl_files/personalnovel_de/static/img/icons/shoppingbag.png"></a>&nbsp;&nbsp;
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So einfach geht‘s</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/newsletter.html">Newsletter</a>&nbsp;|&nbsp; 
        <a style="vertical-align: top;" href="/agb.html">AGB</a>&nbsp;|&nbsp;
        <a style="vertical-align: top;" href="/kontakt.html">Kontakt</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/faq.html">Hilfe</a>&nbsp;
      </div>
  </div>
   -->
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->

<style>
#tab-menu li.oktoberfest:hover {
      background-color: hsl(197, 100%, 47%) !important;
  }
  #tab-menu { margin-top: 5px !important }
</style>
<div id="tab-menu">
  <ul>
    <li><a title="Besondere Anlässe" href="geschenkbuecher/"><span>Besondere Anlässe</span></a></li> 
    <li><a title="Muttertag" href="/muttertag"><span>Muttertag</span></a></li>
    <li><a title="Hochzeit" href="/hochzeitsgeschenke"><span>Hochzeit</span></a></li>
   </ul>
</div>
<div class="kundengeschenke" id="menunav">
<div class="container">
<ul class="level_1">
<li class="first"><a class="first" title="Personalisierte Bücher &amp; Romane" href="/romane/">Romane</a></li>
<li><a title="Klassische Literatur personalisiert" href="/personalisierteklassiker/">Klassiker der Literatur</a></li>
<li><a title="Personalisierte Kinderbücher" href="/kinderbuecher/">Kinderbücher</a></li>
<li><a title="Personalisierte Jugendbücher" href="/jugendbuecher/">Jugendbücher</a></li>
<li ><a  title="Personalisierte Kalender" href="/kalender/">Kalender</a></li>
<li><a href="/eigenerwein/" title="Weinetiketten"><span>Wein &amp; Champagner Etiketten</span></a></li>
<li><a href="/kundengeschenke/" title="Firmenkunden"><span>Firmenkunden</span></a></li>
<li class="last"><a href="/personalisierte-ebooks" title="Personalisierte E-Books"><span>E-Books</span></a></li>
</ul>

<div class='flash-language'>
  <a class='active' onclick="return false" href='' title="Germany"></a>
  <a class='inactive' href='http://www.personalnovel.co.uk' title="United Kingdom"></a>
</div>
<style>
  .flash-language a {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
    width:24px;
    height:24px;
  }
  .flash-language {
    position: absolute;
    right: 0px;
    height: 30px;
    line-height: 30px;
    width: 70px;
  }
  .flash-language .active{
    background:url("/tl_files/personalnovel_de/image/uk/Germany-Flag.png") no-repeat;
  }
  .flash-language .inactive{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag-active.png") no-repeat;
  }
  .flash-language .inactive:hover{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag.png") no-repeat;	
  }
</style>

</div>
</div>
 
</div>
</header>

<div id="container">
<div class="real_content">

<aside id="left">
<div class="inside navigation">

<div class="title_nav"><div class="section ">Geschenk nach Anlass</div></div>
<div class="links ">
        <a href="/geburtstagsgeschenke/" title="personalisierter Geburtstag" class="navitem">Geburtstag</a>
        <a href="/weihnachten/" title="personalisierter Weihnachten" class="navitem">Weihnachten</a>
        <a href="/hochzeitsgeschenke/" title="personalisierter Hochzeit" class="navitem">Hochzeit</a>
       <!-- <a href="/valentinstag/" title="personalisierter Valentinstag" class="navitem">Valentinstag</a>-->
        <a href="/muttertag/" title="personalisierter Muttertag" class="navitem">Muttertag</a>
       <a href="/romane/geschenk-anlass?filter=anlass" title="personalisierter Roman" class="navitem">Noch mehr Anlässe</a>
       <hr class="spacer">
</div>
<div class="title_nav"><div class="section "> Geschenke für alle </div></div>
 <div class="links ">
	<!--<a href="/romane/geschenk-anlass?filter=anlass" title="personalisierter Roman" class="navitem">Anlass</a>-->
	<a href="/romane/geschenk-alter?filter=alter" title="personalisierter Roman" class="navitem">Je nach Alter</a>
	<a href="/romane/geschenk-sie?Für+wen=Für+sie" title="personalisierter Roman" class="navitem">Frauen in der Hauptrolle</a>
	<a href="/romane/geschenk-ihn?Für+wen=Für+ihn" title="personalisierter Roman" class="navitem">Männer in der Hauptrolle</a>		
	<a href="/romane/geschenk-paare?Für+wen=Für+Paare" title="personalisierter Roman" class="navitem">Für Paare</a>	
	<a href="/romane/geschenk-freunde?Für+wen=Für+Freunde" title="personalisierter Roman" class="navitem">Für Freunde in Freundschaft</a>  
	<a href="/kinderbuecher/" title="personalisierter Roman" class="navitem">Kinderbücher für die Jüngsten</a>
	<a href="/romane/geschenk-teenager?Für+wen=Für+Teenager" title="personalisierter Roman" class="navitem">Teenager- und für Jugendbücher</a>
	<a href="/romane/geschenk-familie?Für+wen=Für+Familie" title="personalisierter Roman" class="navitem">Für die ganze Familie</a>
	<a href="/romane/neuerscheinungen" title="personalisierter Roman" class="navitem">Neu bei PersonalNOVEL</a>
        <hr class="spacer">
</div>
<div class="title_nav"><div class="section "> Geschenkideen </div></div>
 <div class="links ">
	 <a href="/romane/gesamtsortiment" title="personalisierter Roman" class="navitem">Gesamtsortiment</a>
                <a href="/eigenerwein/" title="Weinetiketten" class="navitem">Wein &amp; Champagner</a>
                <a href="/kalender_fuer_2014_2015/" title="Kalender personalisieren" class="navitem">Kalender für 2014</a>
        
       <hr class="spacer">
</div>
<div class="title_nav"><div class="section ">Genres</div></div>
<div class="links ">
	<a href="/romane/krimi-thriller" title="personalisierter Roman" class="navitem">Krimi - Thriller</a>
	<a href="/romane/liebe" title="personalisierter Roman" class="navitem">Liebe</a>
	<a href="/romane/frauen" title="personalisierter Roman" class="navitem">Frauen</a>
	<a href="/romane/historisch" title="personalisierter Roman" class="navitem">Historisch</a>
        <a href="/romane/cameo-klassiker" title="personalisierter Roman" class="navitem">Cameo Klassiker</a>
	<a href="/romane/abenteuer" title="personalisierter Roman" class="navitem">Abenteuer</a>
	<a href="/romane/science-fiction" title="personalisierter Roman" class="navitem">Science - Fiction</a>
	<a href="/romane/mystery-fantasy" title="personalisierter Roman" class="navitem">Mystery - Fantasy</a>
	<a href="/romane/familie-freunde" title="personalisierter Roman" class="navitem">Familie - Freunde</a>
	<a href="/romane/sport-fussball" title="personalisierter Roman" class="navitem">Sport - Fussball</a>
	<a href="/romane/gleichgeschlechtlich" title="personalisierter Roman" class="navitem">Gleichgeschlechtlich</a>
        <a href="/romane/english-books" title="personalisierter Roman" class="navitem">Englische Romane</a>
        <hr class="spacer">
	<!--
  	<a href="/weinetiketten/wines.html?Weinart=Champagner" class="navitem">Champagneretiketten</a>
  	<a href="/weinetiketten/wines.html" class="navitem">Weinetiketten</a>
	<hr class="spacer">
        -->
</div>
<div class="title_nav"><div class="section ">Ihr Buch</div></div>
<div class="links ">
	<a href="romane/personalisierung" title="personalisierter Roman" class="navitem">Personalisierung</a>
        <a href="romane/widmung" title="personalisierter Roman" class="navitem">Widmung</a>
  	<a href="romane/preise-einbaende" title="personalisierter Roman" class="navitem">Einbände &amp; Preise</a>
	<a href="romane/umschlag-gestaltung" title="personalisierter Roman" class="navitem">Umschlag &amp; Gestaltung</a>
        <a href="romane/geschenkbox" title="personalisierter Roman" class="navitem">Geschenkbox</a>
        <a href="romane/galerie" title="personalisierter Roman" class="navitem">Galerie</a>
	<hr class="spacer">
</div>
<div class="title_nav"><div class="section ">Service</div></div>
<div class="links ">
	<a href="/service-versand" title="personalisierter Roman" class="navitem">Liefertermine &amp; Versand </a>
	<a href="/zahlung" title="personalisierter Roman" class="navitem">Zahlung</a>
        <a href="/showroom/" class="navitem"  title="Showroom München">Showroom München</a>
        <hr class="spacer">
</div>
<div class="title_nav"><div class="section"></div></div>
<div class="navigation centered" style="border-left: 1px solid #E7E6E6;border-right: 1px solid #E7E6E6;margin-bottom:0;">
    <a class="nooutline" href="http://www.personalnovel.de/zahlung" style="padding-left: 0;">
      <img width="198" height="115" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" title="Payment" alt="Payment">
    </a>
</div>
<div class="title_nav"><div class="section ">Kommunikation</div></div>
<div id="social_media">

  <a target="_blank" title="" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659">
    <img title="Folgen Sie uns auf Facebook!" alt="Facebook" src="tl_files/personalnovel_de/static/img/icons/facebook.png">
  </a>
  <a target="_blank" href="http://www.twitter.com/PersonalNOVEL">
  <img alt="Follow PersonalNOVEL on Twitter" src="tl_files/personalnovel_de/static/img/icons/twitter.png" />
  </a>
    <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/youtube.png" />
  </a>
    <a target="_blank" href="http://blog.personalnovel.de/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/google.png" />
  </a>
    <a target="_blank" href="http://pinterest.com/personalnovel/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/p.png" />
  </a>

</div>
<div style="*display:none; ">
  <div style="position:relative; height:160px; width:100%;">
    <div style="position:relative; height:80px; width:100%;">
    	<a href="https://www.facebook.com/PersonalNOVEL" title="PersonaNOVEL" target="_blank">
      	<img style="width:200px; height:80px;" src="/tl_files/personalnovel_de/static/assets/website/teaser_plugin_facebook_like.png">
      	</a>
    </div>
    <div style="position:absolute;margin:-10px 0px 0px 3px; z-index:4; width:195px; ">
      <iframe id='like-pn' src="//www.facebook.com/plugins/like.php?locale=de_DE&href=https://www.facebook.com/PersonalNOVEL&amp;send=false&amp;layout=standard&amp;width=190&amp;show_faces=false&amp;font=tahoma&amp;colorscheme=light&amp;action=like&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:195px; height:70px;" allowTransparency="true"></iframe>
    </div>
    <div style='clear:both;'></div>
  </div>
</div>
<div id="yelp-biz-badge-fsc-8Grwh5KCPCm3cZXlAu5yMw">PersonalNOVEL e.K.</div>
<script type="text/javascript">
 !function(doc, id){
  var js;
  var scriptElement = doc.getElementsByTagName("script")[0];
  if (!doc.getElementById(id)) {
   js = doc.createElement("script");
    js.id = id;
    js.src = "http://dyn.yelpcdn.com/biz_badge_js/fsc/8Grwh5KCPCm3cZXlAu5yMw.js";
    scriptElement.parentNode.insertBefore(js, scriptElement);
  }
} (document, "yelp-biz-badge-script-fsc-8Grwh5KCPCm3cZXlAu5yMw");
</script> 
</div>
</aside>

<section id="main">
<div class="inside">

<article class="mod_article block" id="book">
<!-- indexer::stop -->
<div class="content twocolumn">
	<div class="book_presentation clearfix type_1">
		<div class="leftpanel">
			<a href="http://web.personalnovel.local/tl_files/thumbnail-book/four-degrees-north-612-view.png" class="lightbox">
				<img alt="Four Degrees North" src="http://web.personalnovel.local/tl_files/thumbnail-book/four-degrees-north-612-detail.png" class="bigcover" />
			</a>
			
            		</div>
		
		<div class="rightpanel">
			<h1>
				Four Degrees North				            </h1>
            <p>
				A hobbyist pilot was hoping for a relaxed lifestyle when he emigrated to Costa Rica and opened his private adventure touring business. But then he meets an intriguing British woman who instantly has him under her spell. When her cousin is suddenly abducted by Colombian guerilla fighters who demand a ransom, they set off for an enthralling rescue mission. Just who will need to be saved in the end?            
            </p>
            <div class="clearfix">
            	<div class="left" style="width:320px;padding-top:20px;">
            		<p>
		            			            		Autor: <i>Jeff McClung</i><br />
		            			            			            		Illustration: <i>shutterstock.com/Ammit Jack+LongQuattro +TonLammerts </i><br />
		            			            			            				            			            	<i>ca. 212 Seiten</i>
		            </p>
            	</div>
            	<div class="right" style="padding-top:44px;">
            		<div class="text">
	                		               </div>
            		
	               
            	</div>
            </div>
		</div>
		
	</div>
	
	<div class="bottompanel">
		    <div class="block1">
                <div class="fb-share-button  fb_iframe_widget " 
                    data-href="" data-type="button"><span style="height: 18px; width: 61px;">
                    <!--<a onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;p[title]=Four+Degrees+North+-+PersonalNOVEL&amp;p[summary]=A+hobbyist+pilot+was+hoping+for+a+relaxed+lifestyle+when+he+emigrated+to+Costa+Rica+and+opened+his+private+adventure+touring+business.+But+then+he+meets+an+intriguing+British+woman+who+instantly+has+him+under+her+spell.+When+her+cousin+is+suddenly+abducted+by+Colombian+guerilla+fighters+who+demand+a+ransom%2C+they+set+off+for+an+enthralling+rescue+mission.+Just+who+will+need+to+be+saved+in+the+end%3F&amp;p[url]=http://web.personalnovel.local/book/612/four-degrees-north&amp;&p[images][0]=http://web.personalnovel.local/tl_files/thumbnail-book/four-degrees-north-612-detail.png', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)">
                		<img src="/tl_files/personalnovel_de/static/assets/website/share_facebook_off.png">
                	</a>-->
                	<a onClick="window.open('http://www.facebook.com/sharer.php?u=http://web.personalnovel.local/book/612/four-degrees-north', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)">
                		<img src="/tl_files/personalnovel_de/static/assets/website/share_facebook_off.png">
                	</a>
       				</span>
                </div>
                
                               <style>
               		
	              	.google-button{
	              		height: 24px;
	              		width: 50px; 
	              		position:absolute; 
	              		float:left; 
	              		margin:2px 3px 0px 62px;
	              		*display:none;
	              	}
	              	.like-facebook-button{
	              		height: 18px; 
	              		width: 50px; 
	              		position:absolute; 
	              		float:left; 
	              		margin:7px 3px 0px 134px;
	              		*display:none;
	              	}
	            
              </style>
               
		    	<div class="google-button">
                	<div class="g-plusone" data-width="300" data-href="http://web.personalnovel.local/book/612/four-degrees-north"></div>
				</div>
				<script type="text/javascript">
				  window.___gcfg = {lang: 'de'};
				  (function() {
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = 'https://apis.google.com/js/plusone.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>
				 <!-- facebook like -->
                <div class='like-facebook-button'>
			    	<iframe src="//www.facebook.com/plugins/like.php?href=http://web.personalnovel.local/book/612/four-degrees-north&amp;send=false&amp;layout=button_count&amp;&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true">
			    	</iframe>
		    	</div>
             
		    </div>
		    
		    <div class="block2">
		                <div>
                <span class="showprice article-price">Ab
                24.95 EUR
                </span>
                <span class="showvat article-price">inkl. 7% MWSt</span>
                <br />
                zzgl.
                <a href="/popup-versandkosten" class="popup-link">Versandkosten</a>
            </div>
            		    </div>
		    
		    <div class="block3">
		                          
                <form action="/customize" method="GET">
                    <button type="submit" class="awesomebutton awesomegreen_gradient awesomeicon awesomeround" style="width: 275px;font-size:8.5pt">
                    <span class="icon shopping_bag"><span class="icon">Buch personalisieren und bestellen</span></span>
                    </button>
                    <input type="hidden" name="book" value="612">
                </form>
            
                                <form action="/customize" method="GET">
                    <button type="submit" class="awesomebutton awesomelightblue_gradient awesomeicon awesomeround" style="width: 275px;font-size:8.5pt">
                    <span class="icon arrow_down"><span class="icon">E-Book personalisieren und herunterladen</span></span>
                    </button>
                    <input type="hidden" name="ebook" value="612">
                </form>
                                    
                       		    </div>
            
    </div>
    
</div>


<div class="clear"></div>
<div style="margin: 5px 0 0 18px;width:768px" class="column ebook-help">
    <div class="disclosure-widget">
        <strong>Wie kann ich mein E-Book lesen?</strong>
        <ul style="display: none;">
            <li> eReader-Geräte können unsere E-Books darstellen, sofern
            sie das ePUB-Format unterstützen (z.B. Sony, OYO, Kobo, TrekStor etc.) </li>
            <li> Windows, MacOS und Linux: mit der kostenlosen Software
            <a target="_blank" href="http://calibre-ebook.com/download">Calibre</a>. </li>
            <li> Android-Smartphones: mit einer kostenlosen App wie z.B.
            Aldiko oder FBReader. </li>
            <li> iPhone, iPad etc. mit der kostenlosen iBooks-App. </li>
            <li> Amazon Kindle wird aktuell leider nicht unterstützt. </li>
        </ul>
    </div>
</div>


<div class="content twocolumn">
<div id="tabsdiv">
	<ul id="tabs" class="tab">
	    	
	    	    	    
				<li>
			<a href="#personen">Personen</a>
		</li>
				<li>
			<a href="#allgemein">Allgemein</a>
		</li>
				
						<li>
			<a href="#varianten">
								Leseprobe
							</a>
		</li>
						
				
				<li>
			<a href="#nennungshaeufigkeit">Nennungshäufigkeit</a>
		</li>
				
				<li>
			<a href="#so_wird_bestellt">So wird bestellt</a>
		</li>
			</ul>
	
			
		<div id="personen" class="tabcontent">
						<div class="note">
				<i>(Kursiv:</i>
				wird durch Ihre Angaben ersetzt<i>)</i>
			</div>
						
							
										                    <h2>Characters</h2>
	                    <p><p>
	<b>The Pilot</b></p>
<p>
	<em>Ethan OConnor,</em> a mechanical engineer who grew up and lived in South Dakota. Three months previously he emigrated to Costa Rica and settled down in Quepos, where he befriended <em>Burt.</em> <em>Ethan</em> is down-to-earth, extremely resourceful, and can build just about anything; he is very passionate about flying, loves his own Cessna 182 Skylane, and made his hobby into a profession by setting up a private adventure touring service. He meets <em>Emma</em> and is instantly smitten. When <em>Emmas</em> cousin <em>Analiese</em> is taken hostage by the ENP, he does not hesitate to accompany her and look out for her safety. He eventually figures out that <em>Analieses</em> kidnapping had only been a ruse to take <em>Emma</em> hostage and bribe her father for money. Together, they manage a spectacular jailbreak in <em>Ethans</em> makeshift plane he built from garage clutter. They arrive just in time to prevent an assassination planned by the ENP. After this turbulent adventure, he asks <em>Emma</em> if she wants to spend the rest of her life with him. She says yes.</p>
<p>
	&nbsp;</p>
<p>
	<b>The Spanish Teacher</b></p>
<p>
	<em>Emma Baker,</em> daughter of the CEO of British Fruit International, does not enjoy a very warm relationship with her parents. She decided to rely on herself and become a Spanish teacher after studying <em>Social Sciences</em>. <em>Emma</em> is extremely loyal and soft-hearted. Mostly she is easygoing and acts composed and confident, except when someone she loves is in danger. She has a clear outlook on life and knows what she wants. When the ENP contacts her about her cousin <em>Analiese,</em> she does not hesitate to leave immediately for Colombia and deliver the 25,000 pounds ransom. She has a hard time accepting that <em>Analiese</em> used her to bribe money from her father, but when <em>Analiese</em> is in serious danger, she looks out for her and gets her to the hospital. After their adventurous trip, <em>Ethan</em> asks her to spend the rest of his life with her. She answers with a kiss.</p>
<p>
	&nbsp;</p>
<p>
	<b>The Experienced Friend</b></p>
<p>
	<em>Burt Finley,</em> emigrated from Chicago to Quepos fifteen years ago and enjoys a laidback lifestyle on his houseboat. He is a big fan of the <em>Cubs</em> and gets along with <em>Ethan</em> very well, although they are not fans of the same sports team. What no one guesses is that he used to be an MI6 agent who later became the head of security for Sir <em>Alex Bakers</em> company. When he retired, Sir <em>Alex</em> entrusted him with keeping an eye on his daughter. <em>Burt</em> helps <em>Ethan</em> and <em>Emma</em> escape from the ENP.</p>
<p>
	&nbsp;</p>
<p>
	<b>The Dangerous Cousin</b></p>
<p>
	<em>Analiese</em> Huber, <em>Emmas</em> cousin who spent lots of summer vacations with her when they were children. Later, they lost contact. She studied Environmental Geosciences emphasizing Environmental Social Issues, where she developed hatred for foreign industries taking advantage of and exploiting developing countries. In her view, Sir <em>Alex Bakers</em> British Fruits International does exactly this. When she is introduced to <em>Juan Diego</em> and the ENP, she senses the opportunity to actively do something against this injustice. She has a wild romance with the ENP leader <em>Juan Diego.</em> So she helps lure <em>Emma</em> into the claws of the ENP to blackmail money from <em>Baker.</em> Later on, she fails to be as ruthless as expected from a terrorist and also realizes that <em>Emma</em> is very different from her father. This gets her in serious danger; she is hurt very badly by her fellow ENP members, but she survives.</p>
<p>
	&nbsp;</p>
<p>
	<b>The Radical Hacker</b></p>
<p>
	<em>Gerda Muller,</em> studied Computational Sciences, but her main purpose is making quick money from hacking into government computers to help terrorists build their war chests. She introduces <em>Analiese</em> to <em>Juan Diego,</em> using her to lure <em>Emma</em> into a trap. She is very dangerous, calculating, and cold in executing her plans. She even attempts to murder <em>Analiese.</em></p>
<p>
	&nbsp;</p>
<p>
	<b>The Ruthless ENP Leader</b></p>
<p>
	<em>Juan Diego de Marquez,</em> head of the Colombian ENP, an anarchistic guerrilla leader who has political ambitions. He has a romance with <em>Analiese,</em> but as soon as she is hesitant to act out his plans, he wants to get rid of her.</p>
<p>
	&nbsp;</p>
<p>
	<b>The Company Boss</b></p>
<p>
	<em>Sir Alex Baker,</em> the past CEO of British Fruits International and chairman of the board of directors of BBI. He invested in South America, also working together with the government to thwart terrorism, was knighted for his philanthropic efforts, but is also very ruthless in business. He has been a rather neglectful parent to <em>Emma.</em> He even refuses to pay the ransom to free her, but sends <em>Burt</em> for help.</p>
<p>
	&nbsp;</p>
<p>
	<b>The Helpful Restaurant Owner</b></p>
<p>
	<em>Enrique Rojas,</em> owner of the Dos Locos restaurant <em>Ethan</em> frequents in downtown Quepos, is one of the locals <em>Ethan</em> has befriended. <em>Enrique</em> helps him by driving him to Manuel Antonio Airport. Small role.</p>
<p>
	&nbsp;</p>
<p>
	<b>The Escape Aid</b></p>
<p>
	<em>Armando Santos,</em> a mercenary in Tumaco and an old friend of <em>Burt Finley,</em> helps <em>Ethan</em> and <em>Emma</em> escape to Ecuador. Small role.</p>
<p>
	&nbsp;</p>
<p>
	<b>The Airport Controller</b></p>
<p>
	<em>Sam,</em> an airport controller who <em>Ethan</em> befriended since moving to Quepos. Very small role.</p>
<p>
	&nbsp;</p>
<p>
	<b>The following characters are not personalised:</b></p>
<p>
	Mr. Phillips, one of <em>Ethan</em>s customers</p>
<p>
	Don Escobar, rival candidate to Juan Diego in the upcoming election, is almost assassinated by the ENP.</p>
<p>
	Hotel receptionist, ENP henchmen, other locals</p>
</p>
                    										
		</div>
			
		<div id="allgemein" class="tabcontent">
						<div class="note">
				<i>(Kursiv:</i>
				wird durch Ihre Angaben ersetzt<i>)</i>
			</div>
						
							
										                    <h2>Abstract</h2>
	                    <p><p>
	An enthralling adventure that leads our two protagonists into a tangled web of deception and dubious schemes of the South American ENP. Soon enough they will find themselves in serious danger but they will never lose their humor and at the end, love will bloom.</p>
</p>
                    											
										                    <h2>Time</h2>
	                    <p><p>
	Present, Summer</p>
</p>
                    											
										                    <h2>Settings</h2>
	                    <p><p>
	Mainly Costa Rica and Colombia</p>
</p>
                    										
		</div>
		
			<div id="varianten" class="tabcontent">
		
		<div class="note">
			<i>(Kursiv:</i>
			wird durch Ihre Angaben ersetzt<i>)</i>
		</div>
		
		
				<h2>Extract</h2>
		<p> “We had better get going, <em>Emma</em>,” <em>Ethan</em> said as he pulled himself to his feet and started packing some food for their trip. <em>Emma</em> nodded in silent agreement and rose as well, though she was unsure what needed to be done. She tucked in her blouse and straightened her <em>red</em> hair, trying to start the day as she would any other.</p> <p> “Let me do that,” <em>Emma</em> offered. “I’m sure you have some aeronautical problems to attend to.” She pulled out the things he had stuffed into a cooler and made more formal meals for the day. She was doing all she could to maintain a semblance of order in a day that would be anything but a normal one.</p> <p> “Yeah, thanks,” <em>Ethan</em> said as he shifted his thoughts from food to navigation. “The Cessna is fueled and ready to go. I just checked it out completely two days ago. She’s the one thing we can definitely count on.” As soon as he said that, he wished he had left it unsaid. He wasn’t a superstitious man, but sometimes, he felt he had to cover all his bases. This was one of those times.</p> <p> <em>Ethan</em> jumped across the dock to <em>Burt</em>’s boat and raised his hand to knock heavily when the door opened suddenly. <em>Ethan</em> had to brace himself to keep from knocking on <em>Burt</em>’s nose.</p> <p> “Come on in. I’ve been expecting you,” <em>Burt</em> said nonchalantly as if it were just another day in paradise. He sat at his galley table, which was covered with navigation charts and notebooks filled with markings.</p> <p> “Sit,” he said to <em>Ethan</em>. This was no time for formalities. <em>Burt</em> took a hangar he had unwound to use as a leg scratcher and poked it down his cast. “I think the itching is worse than the break. Let’s go over your plan.”</p> <p> “Plan? What plan do you think I have?” <em>Ethan</em> said incredulously. “I have no idea what I’m getting into. I’m counting on nothing going wrong. We’ll fly to Ecuador and take a taxi to Colombia. Hop a bus to Cali. Find the thugs. Trade the money for <em>Analiese</em> then take a commercial flight to Tulcan followed by a celebratory flight back here. And then we’ll all live happily ever after.”</p> <p> “Well, good. I’ll see you in a couple days,” <em>Burt</em> said as he stared at <em>Ethan</em> in mock satisfaction. “Maybe, however, you should plan on a few contingencies, not fairy tales.”</p> <p> <em>Burt</em> pulled a revolver from under the table and dropped it on the table with a thud. The thud shook <em>Ethan</em> from the shock he felt when he first saw the gun.</p> <p> “Jeez, <em>Burt</em>, what’s that for?”</p> <p> “Just a little of what Lloyd’s of London can’t give you right now,” <em>Burt</em> said. “You never know.”</p> <p> “I’ve never shot one of those things. I’d have a better chance of putting a slug in my foot than somewhere in an enemy’s body. Besides, how would I explain that to anyone who searched me?” <em>Ethan</em> was more than uncomfortable using a gun but picked it up and felt its weight. He handled it as if it were fine china.</p> <p> “It’s easier to learn than high-precision stick throwing,” <em>Burt</em> suggested. “Just take it on the plane, then you decide if you want to take it with you once you get a little closer to actually invading Colombia.” <em>Ethan</em> pushed the gun to the side of the table in resignation and then turned his attention to the charts.</p> <p> “So, where’s Tulcan?” <em>Ethan</em> said as he craned his neck to see where <em>Burt</em> was looking.</p> <p> “It’s two degrees north latitude, seventy-four degrees west longitude,” <em>Burt</em> said as he put a thick finger on the little northern Ecuadorian outpost.</p> <p> “I radioed a colleague in Quito, who’s intimate with the transportation scene, if you know what I mean. And he said there is little radar surveillance over northern Ecuador. There aren’t any routine flights that go over the area. It shouldn’t be any trouble for you to scoot into Tulcan unnoticed.”</p> <p> “My boat’s call letters are X21DogFight if you need someone to chat with on a lonely evening,” <em>Burt</em> said as he wrote down the letters on a piece of paper containing everything he had told <em>Ethan</em>.</p> <p> “Once you’re in Colombia, God save you,” <em>Burt</em> said. “I don’t have any contacts within the country, just a few business associates in a couple coastal cities.”</p> <p> “Thanks, <em>Burt</em>,” <em>Ethan</em> said as he stood to leave.</p> <p> “Forget something, <em>Ethan</em>?” <em>Burt</em> asked.</p> <p> “I’m not kissing you good-bye, <em>Burt</em>,” <em>Ethan</em> snarled as he took the hint and shoved the revolver into his waistband.</p> <p> After <em>Ethan</em> ducked out of the cabin, <em>Burt</em> opened a cabinet and flipped a switch on an electronic device. A digital readout displayed geographic coordinates. He watched the little red dot that was currently blinking over Quepos. Soon it would travel southward to the border. <em>Burt</em> had hidden a GPS chip in the butt of the gun he had given <em>Ethan</em>. He now hoped <em>Ethan</em> would have the courage to carry it into Colombia.</p> 					
	</div>
			
		
		<div id="nennungshaeufigkeit"  class="tabcontent">
		<h2>Nennungshäufigkeit</h2>
		<p>
			Hier haben wir für Sie alle Möglichkeiten der 
			Personalisierung dieses Buches zusammengefasst. Dazu haben 
			wir auch aufgelistet, wie häufig die entsprechenden 
			Angaben im Buch vorkommen.
		</p>
		<p>
			Sie brauchen nicht alle diese Möglichkeiten zu nutzen
			&ndash; für jede Angabe können Sie auch einfach den 
			Vorgabewert verwenden.
		</p>
		
		<table id="personcount">
			<tbody>
				
								    					<tr class="person" colspan="2">
						<td>The Pilot</td>
					</tr>
											<tr>
							<td>The first name of the pilot is</td>
							<td class="count">952 x</td>
						</tr>
											<tr>
							<td>The last name of the pilot is</td>
							<td class="count">2 x</td>
						</tr>
											<tr>
							<td>The pilot's eye colour is</td>
							<td class="count">1 x</td>
						</tr>
											<tr>
							<td>The pilot's hair colour is</td>
							<td class="count">2 x</td>
						</tr>
											<tr>
							<td>The pilot likes the sports club: The ...</td>
							<td class="count">1 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>The Spanish Teacher</td>
					</tr>
											<tr>
							<td>The teacher's first name is</td>
							<td class="count">608 x</td>
						</tr>
											<tr>
							<td>The teacher's last name is</td>
							<td class="count">10 x</td>
						</tr>
											<tr>
							<td>The teacher's eye colour is</td>
							<td class="count">1 x</td>
						</tr>
											<tr>
							<td>The teacher's hair colour is</td>
							<td class="count">3 x</td>
						</tr>
											<tr>
							<td>The teacher studied ...</td>
							<td class="count">1 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>The Experienced Friend</td>
					</tr>
											<tr>
							<td>The first name of the friend is</td>
							<td class="count">241 x</td>
						</tr>
											<tr>
							<td>The last name of the friend is</td>
							<td class="count">14 x</td>
						</tr>
											<tr>
							<td>He is a big fan of the sports team: The ...</td>
							<td class="count">6 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>The Dangerous Cousin</td>
					</tr>
											<tr>
							<td>The first name of the cousin is</td>
							<td class="count">370 x</td>
						</tr>
											<tr>
							<td>The last name of the cousin is</td>
							<td class="count">2 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>The Radical Hacker</td>
					</tr>
											<tr>
							<td>The first name of the hacker is</td>
							<td class="count">238 x</td>
						</tr>
											<tr>
							<td>The last name of the hacker is</td>
							<td class="count">2 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>The Ruthless ENP Leader</td>
					</tr>
											<tr>
							<td>The ENP leader's first name is</td>
							<td class="count">230 x</td>
						</tr>
											<tr>
							<td>The ENP leader's last name is</td>
							<td class="count">4 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>The Company Boss</td>
					</tr>
											<tr>
							<td>The first name of the company boss is</td>
							<td class="count">61 x</td>
						</tr>
											<tr>
							<td>The last name of the company boss is</td>
							<td class="count">21 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>The Helpful Restaurant Owner</td>
					</tr>
											<tr>
							<td>The first name of the restaurant owner is</td>
							<td class="count">13 x</td>
						</tr>
											<tr>
							<td>The last name of the restaurant owner is</td>
							<td class="count">2 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>The Escape Aid</td>
					</tr>
											<tr>
							<td>The aid's first name is</td>
							<td class="count">43 x</td>
						</tr>
											<tr>
							<td>The aid's last name is</td>
							<td class="count">1 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>The Airport Controller</td>
					</tr>
											<tr>
							<td>The controller's first name is</td>
							<td class="count">6 x</td>
						</tr>
																		
			</tbody>
		</table>
		<a href="#top" class="toplink" style="display: none;">Nach oben</a>
	</div>
		
		<div id="so_wird_bestellt" class="tabcontent">
		<h4>Bestellhilfe</h4>
		<style type="text/css">
			div#text ul { list-style-type: disc; }
			#tabsdiv br { margin-bottom: 10px }
		</style>
		<p>Sie bestellen bei PersonalNOVEL, indem Sie...</p>
		<ul>
			<li>ein Buch auswählen und in einzelnen Schritten personalisieren.</li>
			<li>von Ihnen personalisierte Bücher in den Warenkorb legen.</li>
			<li>Ihre Liefer- und Zahlungsdaten eingeben.</li>
			<li>Ihre E-Mail-Adresse angeben, damit wir Sie per E-Mail über
				Datenschutz und AGB informieren können.
			</li>
			<li>auf der Kontrollseite die Richtigkeit Ihrer Angaben bestätigen</li>
			<li>am Ende auf den Button „Bestellung absenden” klicken. Die
				Bestellung wird erst mit dem Button „Bestellung absenden”
				verbindlich an uns geschickt. Die Information über den Zeitpunkt
				des Vertragsschlusses finden Sie im entsprechenden Abschnitt
				in AGB. Mehr Infos zum Bestellvorgang finden Sie auf unseren Hilfeseiten.
			</li>
		</ul>
		Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden.
	</div>
		
		
</div>
</div>
<script language="javascript">

$(document).ready(function(){
    $("#nextpic").click(function(){ $("#nextpic2").click() });

    $('#previewleft').cycle({
        fx:      'fade',
        speed:   'slow',
        timeout: 0,
        next:    '#nextpic'
    });
    
    $('#previewright').cycle({
        fx:      'fade',
        speed:   'slow',
        timeout: 0,
        next:    '#nextpic2'
    });
    
    $('.disclosure-widget strong').click(function(){
		$(this).parent().toggleClass("disclosed");
		$(this).parent().children("ul").toggle(200);
	});
});

</script>
<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

