<?php $expire = 1404287419; /* http://web.personalnovel.local/customize/book/408.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=408">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Kampf um jeden Meter" src="/tl_files/thumbnail-book/kampf-um-jeden-meter-408-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Kampf um jeden Meter“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-408" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Erste männliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Sebastian Vetter</i>, junger Rennfahrer; Sohn von <i>Andreas</i> und <i>Rosie</i>; Bruder von <i>Silvi</i>; hatte einen schweren Unfall, der ihm die Meisterschaft in der GP2 kostete; gibt <i>Christian</i> die Schuld daran, obwohl er selbst nicht ganz unbeteiligt war; war mit <i>Hanna</i> zusammen, die ihn verlässt, während er im Krankenhaus liegt, und mit <i>Christian</i> zusammenkommt; kommt ein Jahr nach dem Unfall als Ersatzfahrer zu Virgo Racing, wird nach einigen Rennen zum Stammfahrer; liefert sich einen erbitterten Konkurrenzkampf mit <i>Christian</i>; kann am Schluss sogar einen Grand Prix gewinnen; sehr stur und an einer Versöhnung mit <i>Christian</i> und <i>Hanna</i> nicht interessiert; erst am Schluss werden sie Freunde; hat einen kurzen Flirt mit <i>Britta</i> (keine Zärtlichkeiten); kommt am Schluss mit <i>Katrin</i> zusammen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des jungen Rennfahrers ist																					</label>
																					<input type="text" value="Sebastian" 
                                name="vars-Held1_VN" maxlength="30" id="vars-Held1_VN" 
                                data-fieldname="Held1_VN" 
                                data-default="Sebastian" 
                                class="field focuser default" />
							<span class="field_count">494x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des jungen Rennfahrers (und der anderen Familienmitglieder) ist																					</label>
																					<input type="text" value="Vetter" 
                                name="vars-Held1_NN" maxlength="30" id="vars-Held1_NN" 
                                data-fieldname="Held1_NN" 
                                data-default="Vetter" 
                                class="field focuser default" />
							<span class="field_count">18x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe des jungen Rennfahrers ist																					</label>
																					<input type="text" value="dunkelbraun" 
                                name="vars-Held1_Haar" maxlength="30" id="vars-Held1_Haar" 
                                data-fieldname="Held1_Haar" 
                                data-default="dunkelbraun" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des jungen Rennfahrers ist																					</label>
																					<input type="text" value="grün" 
                                name="vars-Held1_Augen" maxlength="30" id="vars-Held1_Augen" 
                                data-fieldname="Held1_Augen" 
                                data-default="grün" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Heimatstadt des jungen Rennfahrers ist																					</label>
																					<input type="text" value="Neustadt" 
                                name="vars-Held1_Stadt" maxlength="30" id="vars-Held1_Stadt" 
                                data-fieldname="Held1_Stadt" 
                                data-default="Neustadt" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Zweite männliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Christian Donner</i>, junger Rennfahrer; Sohn von <i>Bernd</i> und <i>Maria</i>; Bruder von <i>Tim</i>; kurze Haare; ein Jahr älter als <i>Sebastian</i>; war in einen Unfall mit <i>Sebastian</i> verwickelt, den er unverletzt übersteht; kommt mit <i>Sebastian</i>s Exfreundin <i>Hanna</i> zusammen; nach einer ersten erfolglosen Saison bei Reno in der Formel 1 kommt er zu Virgo Racing, wo er sehr erfolgreich ist und einige WM-Punkte holt; im letzten Rennen verhilft er <i>Sebastian</i> zum Sieg; fairer Sportsmann, der die Versöhnung sucht; kurzzeitig von <i>Hanna</i> wegen eines Streits getrennt; am Ende kann sie ihn von ihren wahren Gefühlen überzeugen und sie kommen wieder zusammen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des erfahreneren Rennfahrers ist																					</label>
																					<input type="text" value="Christian" 
                                name="vars-Held2_VN" maxlength="30" id="vars-Held2_VN" 
                                data-fieldname="Held2_VN" 
                                data-default="Christian" 
                                class="field focuser default" />
							<span class="field_count">455x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des erfahreneren Rennfahrers (und der anderen Familienmitglieder) ist																					</label>
																					<input type="text" value="Donner" 
                                name="vars-Held2_NN" maxlength="30" id="vars-Held2_NN" 
                                data-fieldname="Held2_NN" 
                                data-default="Donner" 
                                class="field focuser default" />
							<span class="field_count">15x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe des erfahreneren Rennfahrers ist																					</label>
																					<input type="text" value="blond" 
                                name="vars-Held2_Haar" maxlength="30" id="vars-Held2_Haar" 
                                data-fieldname="Held2_Haar" 
                                data-default="blond" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des erfahreneren Rennfahrers ist																					</label>
																					<input type="text" value="tiefblau" 
                                name="vars-Held2_Augen" maxlength="30" id="vars-Held2_Augen" 
                                data-fieldname="Held2_Augen" 
                                data-default="tiefblau" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Heimatstadt des erfahreneren Rennfahrers ist																					</label>
																					<input type="text" value="Kleinburg" 
                                name="vars-Held2_Stadt" maxlength="30" id="vars-Held2_Stadt" 
                                data-fieldname="Held2_Stadt" 
                                data-default="Kleinburg" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Freundin der zweiten Hauptrolle und Exfreundin der ersten Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Hanna Kant</i>, <i>Christian</i>s Freundin; schulterlanges Haar; war mit <i>Sebastian</i> zusammen; verlässt ihn, als er im Krankenhaus liegt, um mit dem erfolgreicheren <i>Christian</i> zusammenzukommen; hat es vor allem auf dessen Erfolg und ihre eigenen Karrierechancen abgesehen; verliebt sich dann aber wirklich in ihn und verändert sich; kann <i>Christian</i> am Schluss von ihrer echten Liebe überzeugen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Freundin ist																					</label>
																					<input type="text" value="Hanna" 
                                name="vars-Freundin_VN" maxlength="30" id="vars-Freundin_VN" 
                                data-fieldname="Freundin_VN" 
                                data-default="Hanna" 
                                class="field focuser default" />
							<span class="field_count">161x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Freundin ist																					</label>
																					<input type="text" value="Kant" 
                                name="vars-Freundin_NN" maxlength="30" id="vars-Freundin_NN" 
                                data-fieldname="Freundin_NN" 
                                data-default="Kant" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Vater der ersten Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Andreas Vetter</i>, Vater von <i>Sebastian</i> und <i>Silvi</i>; verheiratet mit <i>Rosie</i>; Hobbyrennfahrer; die Formel 1 war auch sein Traum, aber er hat es nie so weit geschafft; unterstützt <i>Sebastian</i> und hat großes Vertrauen in ihn; besitzt ein Autohaus; wohlhabend.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Vaters der ersten Hauptrolle ist																					</label>
																					<input type="text" value="Andreas" 
                                name="vars-Vater1_VN" maxlength="30" id="vars-Vater1_VN" 
                                data-fieldname="Vater1_VN" 
                                data-default="Andreas" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mutter der ersten Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Rosie Vetter</i>; Mutter von <i>Sebastian</i> und <i>Silvi</i>; verheiratet mit <i>Andreas</i>; hat immer ein bisschen Angst um <i>Sebastian</i>, wenn er Rennen fährt; ruhige Person.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Mutter der ersten Hauptrolle ist																					</label>
																					<input type="text" value="Rosie" 
                                name="vars-Mutter1_VN" maxlength="30" id="vars-Mutter1_VN" 
                                data-fieldname="Mutter1_VN" 
                                data-default="Rosie" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Schwester der ersten Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Silvi Vetter</i>, <i>Sebastian</i>s kleine Schwester; Tochter von <i>Andreas</i> und <i>Rosie</i>; interessiert sich nicht besonders für den Motorsport, aber am Ende ist sie doch begeistert; sie und <i>Sebastian</i> streiten sich ab und zu liebevoll; spitze Zunge; bandelt mit <i>Christian</i>s Bruder <i>Tim</i> an.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Schwester ist																					</label>
																					<input type="text" value="Silvi" 
                                name="vars-Schwester1_VN" maxlength="30" id="vars-Schwester1_VN" 
                                data-fieldname="Schwester1_VN" 
                                data-default="Silvi" 
                                class="field focuser default" />
							<span class="field_count">32x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Vater der zweiten Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Bernd Donner</i>, Vater von <i>Christian</i> und <i>Tim</i>; verheiratet mit <i>Maria</i>; war selbst Rennfahrer, aber nicht so erfolgreich wie sein Sohn; kritisiert <i>Christian</i> mehr als er ihn lobt, was oft zu Streit führt; sieht am Schluss ein, dass ein Lob hin und wieder nicht schadet.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Vaters der zweiten Hauptrolle ist																					</label>
																					<input type="text" value="Bernd" 
                                name="vars-Vater2_VN" maxlength="30" id="vars-Vater2_VN" 
                                data-fieldname="Vater2_VN" 
                                data-default="Bernd" 
                                class="field focuser default" />
							<span class="field_count">13x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mutter der zweiten Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Maria Donner</i>, Mutter von <i>Christian</i> und <i>Tim</i>; verheiratet mit <i>Bernd</i>; ruhige Person, der es schwerfällt, sich gegen ihren Mann durchzusetzen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Mutter der zweiten Hauptrolle ist																					</label>
																					<input type="text" value="Maria" 
                                name="vars-Mutter2_VN" maxlength="30" id="vars-Mutter2_VN" 
                                data-fieldname="Mutter2_VN" 
                                data-default="Maria" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Bruder der zweiten Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Tim Donner</i>, <i>Christian</i>s kleiner Bruder; 15 Jahre alt; Sohn von <i>Bernd</i> und <i>Maria</i>; auch Rennfahrer; ist in der GP2 Meister geworden und wird in seiner ersten Saison in der Formel BMV Vizemeister; verliebt sich in <i>Silvi Vetter</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Bruders ist																					</label>
																					<input type="text" value="Tim" 
                                name="vars-Bruder2_VN" maxlength="30" id="vars-Bruder2_VN" 
                                data-fieldname="Bruder2_VN" 
                                data-default="Tim" 
                                class="field focuser default" />
							<span class="field_count">43x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Manager der ersten Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Frank Machmann</i>, <i>Sebastian</i>s Manager; klein; unmoderner Schnauzer; Ende dreißig; hat eine sehr enge, fast väterliche Beziehung zu seinem Schützling.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Managers der ersten Hauptrolle ist																					</label>
																					<input type="text" value="Frank" 
                                name="vars-Manager1_VN" maxlength="30" id="vars-Manager1_VN" 
                                data-fieldname="Manager1_VN" 
                                data-default="Frank" 
                                class="field focuser default" />
							<span class="field_count">81x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Managers der ersten Hauptrolle ist																					</label>
																					<input type="text" value="Machmann" 
                                name="vars-Manager1_NN" maxlength="30" id="vars-Manager1_NN" 
                                data-fieldname="Manager1_NN" 
                                data-default="Machmann" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Manager der zweiten Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Alexander Leitner</i>, Manager von <i>Christian</i> und Niko Rosenberg; guter Manager, aber etwas unbeholfen im menschlichen Umgang; <i>Christian</i> hätte gerne ein freundschaftlicheres Verhältnis zu ihm.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Managers der zweiten Hauptrolle ist																					</label>
																					<input type="text" value="Alexander" 
                                name="vars-Manager2_VN" maxlength="30" id="vars-Manager2_VN" 
                                data-fieldname="Manager2_VN" 
                                data-default="Alexander" 
                                class="field focuser default" />
							<span class="field_count">30x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Managers der zweiten Hauptrolle ist																					</label>
																					<input type="text" value="Leitner" 
                                name="vars-Manager2_NN" maxlength="30" id="vars-Manager2_NN" 
                                data-fieldname="Manager2_NN" 
                                data-default="Leitner" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Teamchef von Virgo Racing</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Johnny Boots</i>, Teamchef von Virgo Racing, einem jungen Team, das seine erste Formel-1-Saison fährt; lässt sich von <i>Christian</i> überzeugen, dass <i>Sebastian</i> Stammfahrer werden soll; setzt am Ende auch für die nächste Saison auf die beiden jungen Fahrer.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Teamchefs von VirgoRacing ist																					</label>
																					<input type="text" value="Johnny" 
                                name="vars-Teamchef_VN" maxlength="30" id="vars-Teamchef_VN" 
                                data-fieldname="Teamchef_VN" 
                                data-default="Johnny" 
                                class="field focuser default" />
							<span class="field_count">28x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Teamchefs von Virgo Racing ist																					</label>
																					<input type="text" value="Boots" 
                                name="vars-Teamchef_NN" maxlength="30" id="vars-Teamchef_NN" 
                                data-fieldname="Teamchef_NN" 
                                data-default="Boots" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Renndirektor von Virgo Racing</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Graham Low</i>, Renndirektor von Virgo Racing.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Renndirektors ist																					</label>
																					<input type="text" value="Graham" 
                                name="vars-Renndirektor_VN" maxlength="30" id="vars-Renndirektor_VN" 
                                data-fieldname="Renndirektor_VN" 
                                data-default="Graham" 
                                class="field focuser default" />
							<span class="field_count">39x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Renndirektors ist																					</label>
																					<input type="text" value="Low" 
                                name="vars-Renndirektor_NN" maxlength="30" id="vars-Renndirektor_NN" 
                                data-fieldname="Renndirektor_NN" 
                                data-default="Low" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Teamchef von ORT</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Mike Dodt</i>, Teamchef von ORT, <i>Sebastian</i>s Team in der GP2; vorher Manager einiger Fahrer.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Teamchefs von ORT ist																					</label>
																					<input type="text" value="Mike" 
                                name="vars-TeamchefGP2_VN" maxlength="30" id="vars-TeamchefGP2_VN" 
                                data-fieldname="TeamchefGP2_VN" 
                                data-default="Mike" 
                                class="field focuser default" />
							<span class="field_count">16x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Teamchefs von ORT ist																					</label>
																					<input type="text" value="Dodt" 
                                name="vars-TeamchefGP2_NN" maxlength="30" id="vars-TeamchefGP2_NN" 
                                data-fieldname="TeamchefGP2_NN" 
                                data-default="Dodt" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ausgebooteter Rennfahrer</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Lucas di Razi</i>, Rennfahrer; wird als Stammfahrer von <i>Sebastian</i> abgelöst und zum Ersatzfahrer, da er wenig überzeugt und viele Fehler macht; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Rennfahrers ist																					</label>
																					<input type="text" value="Lucas" 
                                name="vars-Rennfahrer_VN" maxlength="30" id="vars-Rennfahrer_VN" 
                                data-fieldname="Rennfahrer_VN" 
                                data-default="Lucas" 
                                class="field focuser default" />
							<span class="field_count">36x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Rennfahrers ist																					</label>
																					<input type="text" value="di Razi" 
                                name="vars-Rennfahrer_NN" maxlength="30" id="vars-Rennfahrer_NN" 
                                data-fieldname="Rennfahrer_NN" 
                                data-default="di Razi" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ehemaliger Rennfahrer</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Mika Raikingen</i>, ehemaliger Rennfahrer; mehrfacher Weltmeister; <i>Sebastian</i>s Idol; wird von Virgo Racing als Berater engagiert.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des mehrfachen Weltmeisters ist																					</label>
																					<input type="text" value="Mika" 
                                name="vars-Weltmeister_VN" maxlength="30" id="vars-Weltmeister_VN" 
                                data-fieldname="Weltmeister_VN" 
                                data-default="Mika" 
                                class="field focuser default" />
							<span class="field_count">23x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des mehrfachen Weltmeisters ist																					</label>
																					<input type="text" value="Raikingen" 
                                name="vars-Weltmeister_NN" maxlength="30" id="vars-Weltmeister_NN" 
                                data-fieldname="Weltmeister_NN" 
                                data-default="Raikingen" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ingenieur und Karosseriedesigner</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Andy Neuer</i>, Ingenieur und Karosseriedesigner; Stardesigner der Formel 1; arbeitet für Blue Bull; wird Chefdesigner bei Virgo Racing; es wird nur von ihm geredet.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Stardesigners ist																					</label>
																					<input type="text" value="Andy" 
                                name="vars-Designer_VN" maxlength="30" id="vars-Designer_VN" 
                                data-fieldname="Designer_VN" 
                                data-default="Andy" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Stardesigners ist																					</label>
																					<input type="text" value="Neuer" 
                                name="vars-Designer_NN" maxlength="30" id="vars-Designer_NN" 
                                data-fieldname="Designer_NN" 
                                data-default="Neuer" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Freundin der ersten Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Katrin</i>, <i>Sebastian</i>s neue Freundin; spricht <i>Sebastian</i> in der Disco an; feiert mit ihm seinen ersten Grand-Prix-Sieg; sehr kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Freundin der ersten Hauptrolle ist																					</label>
																					<input type="text" value="Katrin" 
                                name="vars-NeueFreundin" maxlength="30" id="vars-NeueFreundin" 
                                data-fieldname="NeueFreundin" 
                                data-default="Katrin" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Flirt der ersten Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Britta</i>, Bedienung im ‚No Limits‘, einer Lieblingskneipe von <i>Sebastian</i>; hat einen kurzen Flirt mit <i>Sebastian</i>, der aber schnell endet, da <i>Sebastian</i> noch nicht über <i>Hanna</i> hinweg ist; sehr kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Bedienung ist																					</label>
																					<input type="text" value="Britta" 
                                name="vars-Flirt" maxlength="30" id="vars-Flirt" 
                                data-fieldname="Flirt" 
                                data-default="Britta" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Kumpel der zweiten Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Sascha</i>, Freund von <i>Christian</i>; sehr kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Kumpels ist																					</label>
																					<input type="text" value="Sascha" 
                                name="vars-Kumpel" maxlength="30" id="vars-Kumpel" 
                                data-fieldname="Kumpel" 
                                data-default="Sascha" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Fernsehreporter</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Kai Eben</i>, Fernsehreporter; interviewt <i>Sebastian</i> und <i>Christian</i> hin und wieder nach den Rennen; kleine Rolle.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Reporters ist																					</label>
																					<input type="text" value="Kai" 
                                name="vars-Reporter_VN" maxlength="30" id="vars-Reporter_VN" 
                                data-fieldname="Reporter_VN" 
                                data-default="Kai" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Reporters ist																					</label>
																					<input type="text" value="Eben" 
                                name="vars-Reporter_NN" maxlength="30" id="vars-Reporter_NN" 
                                data-fieldname="Reporter_NN" 
                                data-default="Eben" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			Den junge Rennfahrer <span class='default Held1_VN'>Sebastian</span> <span class='default Held1_NN'>Vetter</span> mit den <span class='default Held1_Haar'>dunkelbraun</span>en Haaren und den <span class='default Held1_Augen'>grÃ¼n</span>en Augen kämpft um einen Stammplatz in der Königsklasse des Motorsports. Unterstützt wird er dabei von seinem Vater <span class='default Vater1_VN'>Andreas</span> <span class='default Held1_NN'>Vetter</span>, seiner Mutter <span class='default Mutter1_VN'>Rosie</span> <span class='default Held1_NN'>Vetter</span>, seiner Schwester <span class='default Schwester1_VN'>Silvi</span> <span class='default Held1_NN'>Vetter</span>, die ihm in seiner Heimatstadt <span class='default Held1_Stadt'>Neustadt</span> die Daumen drücken, und seinem Manager <span class='default Manager1_VN'>Frank</span> <span class='default Manager1_NN'>Machmann</span>. Im Team von <span class='default Teamchef_VN'>Johnny</span> <span class='default Teamchef_NN'>Boots</span> und <span class='default Renndirektor_VN'>Graham</span> <span class='default Renndirektor_NN'>Low</span> muss er sich zunächst gegen den Fahrer <span class='default Rennfahrer_VN'>Lucas</span> <span class='default Rennfahrer_NN'>di Razi</span> durchsetzen, um dann auf der Piste seinem größten Konurrenten gegenüberzustehen: <span class='default Held2_VN'>Christian</span> <span class='default Held2_NN'>Donner</span>, mit dem er einst in der GP2, als er noch für <span class='default TeamchefGP2_VN'>Mike</span> <span class='default TeamchefGP2_NN'>Dodt</span> fuhr, in einen Unfall verwickelt war. <span class='default Held2_VN'>Christian</span> mit den <span class='default Held2_Haar'>blond</span>en Haaren und den <span class='default Held2_Augen'>tiefblau</span>en Augen ist nicht nur ein guter Rennfahrer, sondern wird auch von seinem Vater <span class='default Vater2_VN'>Bernd</span> <span class='default Held2_NN'>Donner</span>, seiner Mutter <span class='default Mutter2_VN'>Maria</span> <span class='default Held2_NN'>Donner</span>, seinem Bruder <span class='default Bruder2_VN'>Tim</span> <span class='default Held2_NN'>Donner</span>, die noch in seiner Heimatstadt <span class='default Held2_Stadt'>Kleinburg</span> leben, seinem besten Kumpel <span class='default Kumpel'>Sascha</span> und seinem Manager <span class='default Manager2_VN'>Alexander</span> <span class='default Manager2_NN'>Leitner</span> angefeuert. Außerdem ist er inzwischen mit <span class='default Held1_VN'>Sebastian</span>s Exfreundin <span class='default Freundin_VN'>Hanna</span> <span class='default Freundin_NN'>Kant</span> zusammen. Aber <span class='default Held1_VN'>Sebastian</span> lernt in einer Kneipe <span class='default Flirt'>Britta</span> kennen, mit der er ein wenig flirtet, und kommt schließlich mit <span class='default NeueFreundin'>Katrin</span> zusammen - <span class='default Freundin_VN'>Hanna</span> ist vergessen! Vielmehr beschäftigen sie die lästigen Fragen des Reporters <span class='default Reporter_VN'>Kai</span> <span class='default Reporter_NN'>Eben</span> und die Gerüchte um zwei Neuzugänge bei Virgo Racing: der Stardesigner <span class='default Designer_VN'>Andy</span> <span class='default Designer_NN'>Neuer</span> und der mehrfache Weltmeister <span class='default Weltmeister_VN'>Mika</span> <span class='default Weltmeister_NN'>Raikingen</span>.		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

