<?php $expire = 1410589858; /* http://web.personalnovel.local/customize/book/639.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href="http://geburtstag.personalnovel.de/"></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=639">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Kleiner Kater, großes Leben" src="/tl_files/thumbnail-book/kleiner-kater-grosses-leben-639-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Kleiner Kater, großes Leben“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-639" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Kater</div>
				<div class="description" style="margin-top: 5px;display:none">Kater <em>Leo,</em> von seiner Familie auch liebevoll ‚<em>Mauzi‘</em> gerufen, abenteuerlustig, neugierig und manchmal etwas eigensinnig. Dass seine Familie umziehen will, trifft ihn hart, denn er muss sein gewohntes Revier verlassen. Doch noch mehr als an seinem Revier hängt der Kater an seinem geliebten Frauchen<em> Lara</em> und an den Kindern<em> Cindy </em>und <em>Sascha</em>. Wider erwarten gewöhnt sich <em>Leo </em>schnell in der neuen Umgebung ein. Dort erlebt er viele Abenteuer: Er fängt Fische im benachbarten Gartenteich, kämpft mit einem streunenden Kater, wird in den Keller gesperrt, verletzt sich beim Fluchtversuch und landet sogar, nachdem er sich verlaufen hat, im Tierheim. Auch zuhause gibt es immer etwas Neues. Ein neuer Mann ist in das Leben der Mutter getreten und Kater <em>Leo</em> ist eifersüchtig. Außerdem überlegt <em>Lara</em>, das Haus wieder zu verkaufen und in eine Wohnung zu ziehen, da die Raten zu hoch sind. Doch alles kommt anders:<em> Kai</em>, <em>Lara</em>s neuer Freund zieht zur Familie ins Haus, und <em>Leo</em> merkt nach anfänglichem Misstrauen, dass er gar nicht so übel ist. So wird am Ende alles gut für ihn.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Name des Katers ist																					</label>
																					<input type="text" value="Leo" 
                                name="vars-Kater_VN" maxlength="30" id="vars-Kater_VN" 
                                data-fieldname="Kater_VN" 
                                data-default="Leo" 
                                class="field focuser default" />
							<span class="field_count">208x</span>
						</div>
											<div class="field">
							<label>
							Der Kosename des Katers ist																					</label>
																					<input type="text" value="Mauzi" 
                                name="vars-Kater_Kose" maxlength="30" id="vars-Kater_Kose" 
                                data-fieldname="Kater_Kose" 
                                data-default="Mauzi" 
                                class="field focuser default" />
							<span class="field_count">26x</span>
						</div>
											<div class="field">
							<label>
							Die Fellfarbe des Katers ist																					</label>
																					<input type="text" value="rot-weiß" 
                                name="vars-Kater_Fell" maxlength="30" id="vars-Kater_Fell" 
                                data-fieldname="Kater_Fell" 
                                data-default="rot-weiß" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des Katers ist																					</label>
																					<input type="text" value="grün" 
                                name="vars-Kater_Augen" maxlength="30" id="vars-Kater_Augen" 
                                data-fieldname="Kater_Augen" 
                                data-default="grün" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Der Kater frisst am liebsten																					</label>
																					<input type="text" value="Huhn mit Leber" 
                                name="vars-Kater_Fressen" maxlength="30" id="vars-Kater_Fressen" 
                                data-fieldname="Kater_Fressen" 
                                data-default="Huhn mit Leber" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Mutter</div>
				<div class="description" style="margin-top: 5px;display:none">	<em>Lara Wolf</em>, geschieden und alleinerziehende Mutter von<em> Cindy</em> und <em>Sascha</em>, verständnisvoll, nachsichtig, hat langes Haar und genießt das gemeinsame Frühstück am Sonntagmorgen. Alles, was ihr auf dem Herzen liegt, erzählt sie ihrem Kater<em> Leo</em>. Am glücklichsten ist sie, wenn es ihren Kindern gut geht, doch oft plagt sie das schlechte Gewissen, weil sie nur wenig Zeit für die beiden hat. Als <em>Lara</em> eine Stelle als Filialleiterin ein einem Drogeriemarkt angeboten wird, zieht die Familie um und erfüllt sich ihren großen Traum: ein eigenes Haus. In <em>Tannheim</em> wird <em>Lara</em> von <em>Kai</em> angesprochen, der sich sehr um sie bemüht. Anfangs ist <em>Lara</em> ihm gegenüber sehr zurückhaltend, doch als sie sich näher kennenlernen, verliebt auch sie sich in ihn. Doch finanzielle Sorgen belasten <em>Lara</em>s Glück. Die Raten des Hauses sind zu hoch, und sie überlegt, noch einmal umzuziehen. Unerwartet schlägt <em>Kai </em>vor, zur Familie zu ziehen und sich an den Kosten zu beteiligen. Doch zuerst müssen die Kinder, vor allem <em>Sascha</em>, von der Idee überzeugt werden, und auch <em>Leo</em> ist eifersüchtig auf den neuen Mann.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Mutter lautet																					</label>
																					<input type="text" value="Lara" 
                                name="vars-Mutter_VN" maxlength="30" id="vars-Mutter_VN" 
                                data-fieldname="Mutter_VN" 
                                data-default="Lara" 
                                class="field focuser default" />
							<span class="field_count">521x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Mutter lautet																					</label>
																					<input type="text" value="Wolf" 
                                name="vars-Mutter_NN" maxlength="30" id="vars-Mutter_NN" 
                                data-fieldname="Mutter_NN" 
                                data-default="Wolf" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							So wird die Mutter von ihren Kindern gerufen																					</label>
																					<input type="text" value="Mama" 
                                name="vars-Mutter_Ruf" maxlength="30" id="vars-Mutter_Ruf" 
                                data-fieldname="Mutter_Ruf" 
                                data-default="Mama" 
                                class="field focuser default" />
							<span class="field_count">37x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Mutter ist																					</label>
																					<input type="text" value="blond" 
                                name="vars-Mutter_Haar" maxlength="30" id="vars-Mutter_Haar" 
                                data-fieldname="Mutter_Haar" 
                                data-default="blond" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Mutter ist																					</label>
																					<input type="text" value="blau" 
                                name="vars-Mutter_Augen" maxlength="30" id="vars-Mutter_Augen" 
                                data-fieldname="Mutter_Augen" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Tochter</div>
				<div class="description" style="margin-top: 5px;display:none">	<em>Cindy,</em> die Tochter von <em>Lara</em> und im jüngeren Teenager-Alter, sehr aufgeschlossen, fröhlich und begeisterungsfähig. Sie hat schon immer von einem Haus geträumt und ist deshalb schnell für den Umzug. In der neuen Schule findet sie ohne Probleme Anschluss. Auch zu <em>Kai</em> ist sie sehr freundlich und akzeptiert ihn schnell als Teil der neuen Familie. Sie wünscht sich ein harmonisches Zusammenleben in der Familie und versucht immer wieder, zwischen den Familienmitgliedern auszugleichen und zu vermitteln.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Tochter lautet																					</label>
																					<input type="text" value="Cindy" 
                                name="vars-Tochter_VN" maxlength="30" id="vars-Tochter_VN" 
                                data-fieldname="Tochter_VN" 
                                data-default="Cindy" 
                                class="field focuser default" />
							<span class="field_count">595x</span>
						</div>
											<div class="field">
							<label>
							Die Lieblingspizzasorte der Tochter ist																					</label>
																					<input type="text" value="Funghi" 
                                name="vars-Tochter_Pizza" maxlength="30" id="vars-Tochter_Pizza" 
                                data-fieldname="Tochter_Pizza" 
                                data-default="Funghi" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Sohn</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Sascha,</em> der Sohn von<em> Lara</em> und im jüngeren Teenager-Alter, verantwortungsbewusst, hilfsbereit und ein begeisterter Sportler. Einem Umzug steht er anfangs eher skeptisch gegenüber, doch das schöne Reihenhaus überzeugt ihn. Er braucht auch etwas länger, um <em>Kai</em> als neuen Mann an <em>Lara</em>s Seite zu akzeptieren, so wehrt er sich anfangs gegen dessen Einzug in das Haus. Erst nachdem die beiden Männer ausgemacht haben, dass es nur ein Einzug auf Probe ist, wird <em>Sascha</em> versöhnlicher. Zu Weihnachten und Geburtstag zusammen bekommt er von <em>Kai</em> die Teilnahme an einem Skikurs geschenkt, was ihn sehr freut.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Sohnes lautet																					</label>
																					<input type="text" value="Sascha" 
                                name="vars-Sohn_VN" maxlength="30" id="vars-Sohn_VN" 
                                data-fieldname="Sohn_VN" 
                                data-default="Sascha" 
                                class="field focuser default" />
							<span class="field_count">479x</span>
						</div>
											<div class="field">
							<label>
							Die Lieblingspizzasorte des Sohnes ist																					</label>
																					<input type="text" value="Salami" 
                                name="vars-Sohn_Pizza" maxlength="30" id="vars-Sohn_Pizza" 
                                data-fieldname="Sohn_Pizza" 
                                data-default="Salami" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der neue Freund</div>
				<div class="description" style="margin-top: 5px;display:none"> <em>Kai Holzmann,</em> selbstständiger Schreiner in <em>Tannheim,</em> großzügig und musikinteressiert. Er verliebt sich auf den ersten Blick in<em> Lara</em> und versucht, ihr Herz zu gewinnen. Auch auf ihre Kinder geht er offen und freundlich zu. Er lädt die ganze Familie zum Pop-Konzert einer berühmten Gruppe ein – für alle ein tolles Erlebnis. Schnell ist er sich sicher, dass er mit <em>Lara</em> zusammenleben möchte und unterbreitet ihr den Vorschlag, zur Familie zu ziehen. <em>Sascha,</em> der erst nicht einverstanden ist, bietet er an, nur auf Probe einzuziehen. Kater <em>Leo</em> ist anfangs sehr misstrauisch und eifersüchtig. Erst als sich <em>Kai</em> als guter Freund erweist, akzeptiert er den neuen Mann.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des neuen Freundes ist																					</label>
																					<input type="text" value="Kai" 
                                name="vars-Freund_VN" maxlength="30" id="vars-Freund_VN" 
                                data-fieldname="Freund_VN" 
                                data-default="Kai" 
                                class="field focuser default" />
							<span class="field_count">442x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des neuen Freundes ist																					</label>
																					<input type="text" value="Holzmann" 
                                name="vars-Freund_NN" maxlength="30" id="vars-Freund_NN" 
                                data-fieldname="Freund_NN" 
                                data-default="Holzmann" 
                                class="field focuser default" />
							<span class="field_count">24x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe des neuen Freundes ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Freund_Haar" maxlength="30" id="vars-Freund_Haar" 
                                data-fieldname="Freund_Haar" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des neuen Freundes ist																					</label>
																					<input type="text" value="grau-blau" 
                                name="vars-Freund_Augen" maxlength="30" id="vars-Freund_Augen" 
                                data-fieldname="Freund_Augen" 
                                data-default="grau-blau" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die gute Freundin</div>
				<div class="description" style="margin-top: 5px;display:none"> <em>Susanne,</em> die Freundin von <em>Lara,</em> die in <em>Tannheim</em> wohnt und der Familie das Haus verkauft. Sie ist verheiratet und hat eine kleine Tochter. <em>Lara</em> trifft sich öfter mit <em>Susanne</em> und vertraut ihr auch ihre Geldsorgen an.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der guten Freundin ist																					</label>
																					<input type="text" value="Susanne" 
                                name="vars-Freundin_VN" maxlength="30" id="vars-Freundin_VN" 
                                data-fieldname="Freundin_VN" 
                                data-default="Susanne" 
                                class="field focuser default" />
							<span class="field_count">72x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Tochter der guten Freundin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Anna, Susannes </em>kleine Tochter, die vorschlägt, Leo vom Gegrillten abzugeben und so sein Herz im Sturm erobert.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Die Tochter der guten Freundin heißt																					</label>
																					<input type="text" value="Anna" 
                                name="vars-Freundin_Tochter" maxlength="30" id="vars-Freundin_Tochter" 
                                data-fieldname="Freundin_Tochter" 
                                data-default="Anna" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die nette Nachbarin</div>
				<div class="description" style="margin-top: 5px;display:none">Frau<em> Hörbig,</em> eine Nachbarin der Familie und das Frauchen von <em>Mona.</em> Sie unterstützt die beiden Kinder, als<em> Leo</em> im Keller des bösen Nachbarn, Herrn<em> Müller,</em> eingesperrt wird.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname der netten Nachbarin ist																					</label>
																					<input type="text" value="Hörbig" 
                                name="vars-Nachbarin_NN" maxlength="30" id="vars-Nachbarin_NN" 
                                data-fieldname="Nachbarin_NN" 
                                data-default="Hörbig" 
                                class="field focuser default" />
							<span class="field_count">10x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die schüchterne Nachbarskatze</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Mona,</em> eine hübsche, kleine Katze, die etwas schüchtern und ängstlich ist. Sie wird<em> Leo</em> zur besten Freundin, die ihn versteht und tröstet. Die beiden sind viel zusammen unterwegs, ziehen ihre Runden auf dem Feld oder in benachbarten Gärten.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Name der Katze ist																					</label>
																					<input type="text" value="Mona" 
                                name="vars-Katze_VN" maxlength="30" id="vars-Katze_VN" 
                                data-fieldname="Katze_VN" 
                                data-default="Mona" 
                                class="field focuser default" />
							<span class="field_count">205x</span>
						</div>
											<div class="field">
							<label>
							Die Fellfarbe der Katze ist																					</label>
																					<input type="text" value="weiß" 
                                name="vars-Katze_Fell" maxlength="30" id="vars-Katze_Fell" 
                                data-fieldname="Katze_Fell" 
                                data-default="weiß" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Katze ist																					</label>
																					<input type="text" value="blau" 
                                name="vars-Katze_Augen" maxlength="30" id="vars-Katze_Augen" 
                                data-fieldname="Katze_Augen" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der böse Nachbar</div>
				<div class="description" style="margin-top: 5px;display:none">Herr<em> Müller,</em> ein cholerischer Mann, der Katzen nicht mag. In seinem Garten befindet sich ein Fischteich, der auf<em> Leo</em> eine magische Anziehungskraft ausübt. Als der Nachbar den Kater einmal wieder in seinem Garten aufspürt, lockt er ihn in den Keller, sperrt ihn dort ein und droht, ihn verhungern zu lassen. <em>Leo,</em> der daraufhin Panik bekommt, versucht durch ein gekipptes Fenster zu fliehen. Doch er bleibt im Spalt stecken und verletzt sich.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des bösen Nachbars ist																					</label>
																					<input type="text" value="Müller" 
                                name="vars-BoeserNachbar_NN" maxlength="30" id="vars-BoeserNachbar_NN" 
                                data-fieldname="BoeserNachbar_NN" 
                                data-default="Müller" 
                                class="field focuser default" />
							<span class="field_count">41x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die kleine Katzenliebhaberin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Paula,</em> ein kleines Mädchen aus dem Ort, das Katzen liebt und sie gerne in ihrem Kinderwagen umherschiebt.Ihre Mutter, Frau <em>Wiedemann, </em>, sorgt dafür, dass die Katzen wieder in ihr Zuhause zurückgelangen und verspricht <em>Paula</em> am Ende, eine Katze aus dem Tierheim zu holen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der kleinen Katzenliebhaberin ist																					</label>
																					<input type="text" value="Paula" 
                                name="vars-Katzenmaedchen_VN" maxlength="30" id="vars-Katzenmaedchen_VN" 
                                data-fieldname="Katzenmaedchen_VN" 
                                data-default="Paula" 
                                class="field focuser default" />
							<span class="field_count">20x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname ihrer Mutter lautet																					</label>
																					<input type="text" value="Wiedemann" 
                                name="vars-Katzenmutter_NN" maxlength="30" id="vars-Katzenmutter_NN" 
                                data-fieldname="Katzenmutter_NN" 
                                data-default="Wiedemann" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die beste Freundin der Tochter</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Anja, Cindys </em>Freundin, mit der sie sich öfters trifft.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der besten Freundin der Tochter ist																					</label>
																					<input type="text" value="Anja" 
                                name="vars-Tochter_Freundin" maxlength="30" id="vars-Tochter_Freundin" 
                                data-fieldname="Tochter_Freundin" 
                                data-default="Anja" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der beste Freund des Sohnes</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Marco, </em>Frund von <em>Sascha, </em>der auch am Skikurs teilnimmt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Freundes des Sohnes ist																					</label>
																					<input type="text" value="Marco" 
                                name="vars-Sohn_Freund" maxlength="30" id="vars-Sohn_Freund" 
                                data-fieldname="Sohn_Freund" 
                                data-default="Marco" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Schwester des neuen Freundes</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Assunta, Kais </em>Schwester, die eine Hütte in Südtirol betreibt. Sie will das Weihnachtsfest bei ihrem Bruder verbringen und landet so auch bei <em>Laras </em>Familie. Bevor <em>Kai </em>seine Schwester offiziell vorstellen kann, sieht <em>Lara </em>die beiden beim Einkaufen und meint kurzzeitig, es handle sich bei ihr um eine Nebenbuhlerin, doch das Missverständnis kann schnell aufgeklärt werden.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Schwester des Freundes ist																					</label>
																					<input type="text" value="Assunta" 
                                name="vars-Freund_Schwester" maxlength="30" id="vars-Freund_Schwester" 
                                data-fieldname="Freund_Schwester" 
                                data-default="Assunta" 
                                class="field focuser default" />
							<span class="field_count">28x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weitere Tiere</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Schnurrli, Leos </em>Freund in der alten Heimat, dessen Verlust ihn sehr schmerzt.</p> 
<p> <em>Willi, </em>ein freundlicher Hund, den <em>Leo </em>und <em>Mona </em>kennenlernen.</p> 
<p> <em>Rasputin, </em>ein entlaufener Kater in der neuen Heimat, <em>Leos </em>Feind, der einmal mit ihm kämpft.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der ehemalige befreundete Kater heißt																					</label>
																					<input type="text" value="Schnurrli" 
                                name="vars-Kater_Freund" maxlength="30" id="vars-Kater_Freund" 
                                data-fieldname="Kater_Freund" 
                                data-default="Schnurrli" 
                                class="field focuser default" />
							<span class="field_count">69x</span>
						</div>
											<div class="field">
							<label>
							Der böse, streunende Kater heißt																					</label>
																					<input type="text" value="Rasputin" 
                                name="vars-Kater_Feind" maxlength="30" id="vars-Kater_Feind" 
                                data-fieldname="Kater_Feind" 
                                data-default="Rasputin" 
                                class="field focuser default" />
							<span class="field_count">10x</span>
						</div>
											<div class="field">
							<label>
							Der freundliche Hund heißt																					</label>
																					<input type="text" value="Willi" 
                                name="vars-Hund_VN" maxlength="30" id="vars-Hund_VN" 
                                data-fieldname="Hund_VN" 
                                data-default="Willi" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Kulisse</div>
				<div class="description" style="margin-top: 5px;display:none">	<em>Tannheim</em>, der Ort, in den die Familie zieht. Es gibt dort eine Pizzaria und einen Drogeriemarkt. Umgeben ist der Ort von Feldern und Wald.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Ort des Geschehens ist																					</label>
																					<input type="text" value="Tannheim" 
                                name="vars-Ort" maxlength="30" id="vars-Ort" 
                                data-fieldname="Ort" 
                                data-default="Tannheim" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
											<div class="field">
							<label>
							Popgruppe, deren Konzert die Familie besucht																					</label>
																					<input type="text" value="Kings of Leon" 
                                name="vars-Popgruppe" maxlength="30" id="vars-Popgruppe" 
                                data-fieldname="Popgruppe" 
                                data-default="Kings of Leon" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			Kater <span class='default Kater_VN'>Leo</span> hat <span class='default Kater_Augen'>grÃ¼n</span>e Augen und ein <span class='default Kater_Fell'>rot-weiÃ</span>es Fell. Von seiner Familie wird er liebevoll <span class='default Kater_Kose'>Mauzi</span> genannt. Am liebsten frisst er <span class='default Kater_Fressen'>Huhn mit Leber</span>. Er wohnt bei <span class='default Mutter_VN'>Lara</span> <span class='default Mutter_NN'>Wolf</span> und den Kindern <span class='default Tochter_VN'>Cindy</span> und <span class='default Sohn_VN'>Sascha</span>, die ihre Mutter <span class='default Mutter_Ruf'>Mama</span> nennen. Am liebsten essen die Kinder Pizza. <span class='default Tochter_VN'>Cindy</span> mag Pizza <span class='default Tochter_Pizza'>Funghi</span>, ihr Bruder mag Pizza <span class='default Sohn_Pizza'>Salami</span>. Als die Familie nach <span class='default Ort'>Tannheim</span> zieht, müssen die beiden in eine neue Schule. <span class='default Tochter_VN'>Cindy</span> findet dort schnell Anschluss durch ihre Freundin <span class='default Tochter_Freundin'>Anja</span>. Auch <span class='default Sohn_VN'>Sascha</span> findet schnell einen Freund, <span class='default Sohn_Freund'>Marco</span>. Kater <span class='default Kater_VN'>Leo</span> fällt das nicht so leicht. Er vermisst seinen alten Kameraden <span class='default Kater_Freund'>Schnurrli</span> sehr. Zum Glück findet er in der <span class='default Katze_Fell'>weiÃ</span>en Katze <span class='default Katze_VN'>Mona</span> mit den großen <span class='default Katze_Augen'>blau</span>en Augen eine gute Freundin. Doch er hat auch Ärger mit dem streunenden Kater <span class='default Kater_Feind'>Rasputin</span>. In <span class='default Ort'>Tannheim</span> wohnen auch eine alte Freundin von <span class='default Mutter_VN'>Lara</span>, <span class='default Freundin_VN'>Susanne</span> mit ihrer Tochter <span class='default Freundin_Tochter'>Anna</span>, die nette Nachbarin, Frau <span class='default Nachbarin_NN'>HÃ¶rbig</span>, die kleine Katzennärrin, <span class='default Katzenmaedchen_VN'>Paula</span>, und ihre Mutter, Frau <span class='default Katzenmutter_NN'>Wiedemann</span> und ein lieber Hund namens <span class='default Hund_VN'>Willi</span>. Nur der böse Nachbar, Herr <span class='default BoeserNachbar_NN'>MÃ¼ller</span> bereitet dem Kater Probleme. Eines Tages spricht ein fremder Mann mit <span class='default Freund_Augen'>grau-blau</span>en Augen und <span class='default Freund_Haar'>braun</span>em Haar <span class='default Mutter_VN'>Lara</span> an. Er stellt sich als <span class='default Freund_VN'>Kai</span> <span class='default Freund_NN'>Holzmann</span> vor und wirbt um <span class='default Mutter_VN'>Lara</span>, denn er hat sich auf den ersten Blick in die Frau mit den langen <span class='default Mutter_Haar'>blond</span>en Haaren und den <span class='default Mutter_Augen'>blau</span>en Augen verliebt. Als die beiden endlich zusammenkommen, unternimmt <span class='default Freund_VN'>Kai</span> auch viel mit den Kindern. Einmal besuchen sie sogar das Konzert von <span class='default Popgruppe'>Kings of Leon</span>. Auch wenn es nicht immer leicht ist, werden sie zu einer kleinen Patchworkfamilie. An Weihnachten kommt sogar Familienzuwachs: die Schwester von <span class='default Freund_VN'>Kai</span>, <span class='default Freund_Schwester'>Assunta</span>.		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

