<?php $expire = 1393863479; /* http://web.personalnovel.local/zahlung_kinderbucher.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Kinderbücher - Zahlung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Personalisierte Kinderbücher für Mädchen und Jungen von PersonalNOVEL sind einzigartige und persönliche Geschenke für Kinder und Heranwachsende! ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Kinderbücher - Zahlung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Personalisierte Kinderbücher für Mädchen und Jungen von PersonalNOVEL sind einzigartige und persönliche Geschenke für Kinder und Heranwachsende! " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<style media="screen">
#left{width:200px;}
#main{margin-left:200px;}
</style>
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/plugins/tabcontrol/tabcontrol.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/tg.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<style>
#main {
padding-right: 0px !important;
} 
</style>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">

<div class="base_header">
<div id="header-links-box">
                        
  <div id="logo"><a href=""></a></div>
   <!--
  <div id="versand"><a href="/service-versand.html"></a></div>
  
  <div class="headerlinks">
      <div id="headerlinkgroup">
      	<a class="hidden" id="basklink"><img title="Warenkorb" kasse="" alt="Warenkorb" src="tl_files/personalnovel_de/static/img/icons/shoppingbag.png"></a>&nbsp;&nbsp;
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So einfach geht‘s</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/newsletter.html">Newsletter</a>&nbsp;|&nbsp; 
        <a style="vertical-align: top;" href="/agb.html">AGB</a>&nbsp;|&nbsp;
        <a style="vertical-align: top;" href="/kontakt.html">Kontakt</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/faq.html">Hilfe</a>&nbsp;
      </div>
  </div>
   -->
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->

<style>
#tab-menu li.oktoberfest:hover {
      background-color: hsl(197, 100%, 47%) !important;
  }
  #tab-menu { margin-top: 5px !important }
</style>
<div id="tab-menu">
  <ul>
    <li><a title="Besondere Anlässe" href="http://www.personalnovel.de/geschenkbuecher/"><span>Besondere Anlässe</span></a></li> 
    <li><a title="Valentinstag" href="http://www.personalnovel.de/valentinstag"><span>Valentinstag</span></a></li>
    <li><a title="Hochzeit" href="/hochzeitsgeschenke"><span>Hochzeit</span></a></li>
   </ul>
</div>
<div class="kundengeschenke" id="menunav">
<div class="container">
<ul class="level_1">
<li class="first"><a class="first" title="Personalisierte Bücher &amp; Romane" href="/romane/">Romane</a></li>
<li><a title="Klassische Literatur personalisiert" href="/personalisierteklassiker/">Klassiker der Literatur</a></li>
<li><a title="Personalisierte Kinderbücher" href="/kinderbuecher/">Kinderbücher</a></li>
<li><a title="Personalisierte Jugendbücher" href="/jugendbuecher/">Jugendbücher</a></li>
<li ><a  title="Personalisierte Kalender" href="/kalender/">Kalender</a></li>
<li><a href="/eigenerwein/" title="Weinetiketten"><span>Wein &amp; Champagner Etiketten</span></a></li>
<li><a href="/kundengeschenke/" title="Firmenkunden"><span>Firmenkunden</span></a></li>
<li class="last"><a href="/personalisierte-ebooks" title="Personalisierte E-Books"><span>E-Books</span></a></li>
</ul>

<div class='flash-language'>
  <a class='active' onclick="return false" href='' title="Germany"></a>
  <a class='inactive' href='http://www.personalnovel.co.uk' title="United Kingdom"></a>
</div>
<style>
  .flash-language a {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
    width:24px;
    height:24px;
  }
  .flash-language {
    position: absolute;
    right: 0px;
    height: 30px;
    line-height: 30px;
    width: 70px;
  }
  .flash-language .active{
    background:url("/tl_files/personalnovel_de/image/uk/Germany-Flag.png") no-repeat;
  }
  .flash-language .inactive{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag-active.png") no-repeat;
  }
  .flash-language .inactive:hover{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag.png") no-repeat;	
  }
</style>

</div>
</div>
 
</div>
</header>

<div id="container">
<div class="real_content">

<aside id="left">
<div class="inside navigation">

<div class="title_nav"><div class="section ">Deutsche Kinderbücher</div></div>
<div class="links "><a href="/kinderbuecher/bilderbuecher-maedchen-de" title="Personalisiertes Kinderbuch" class="navitem">Bilderbücher&nbsp;Mädchen</a>
	<a href="/kinderbuecher/bilderbuecher-jungen-de" title="Personalisiertes Kinderbuch" class="navitem">Bilderbücher&nbsp;Jungen</a>
	<a href="/kinderbuecher/poesiealben" title="Personalisiertes Kinderbuch" class="navitem">Poesiealben</a>
	<a href="/kinderbuecher/books?filter=alter" title="Personalisiertes Kinderbuch" class="navitem">Nach&nbsp;Alter</a>
	<hr class="spacer ">
</div>
<div class="title_nav"><div class="section ">Englische Kinderbücher</div></div>
<div class="links ">
	<a href="/kinderbuecher/bilderbuecher-maedchen-en" title="Personalisiertes Kinderbuch" class="navitem">Bilderbücher&nbsp;Mädchen</a>
	<a href="/kinderbuecher/bilderbuecher-jungen-en" title="Personalisiertes Kinderbuch" class="navitem">Bilderbücher&nbsp;Jungen</a>
	<hr class="spacer ">
</div>
<div class="title_nav"><div class="section ">Ihr Buch</div></div>
<div class="links ">
  <a href="/kinderbucher/personalisierung" title="Personalisiertes Kinderbuch" class="navitem">Personalisierung</a>
        <a href="/kinderbucher/widmung" title="Personalisiertes Kinderbuch" class="navitem">Widmung</a>
	<a href="/kinderbucher/preise-einbaende" title="Personalisiertes Kinderbuch" class="navitem">Einbände&nbsp;&amp;&nbsp;Preise</a>
	<a href="/kinderbucher/umschlag-gestaltung" title="Personalisiertes Kinderbuch" class="navitem">Umschlag&nbsp;&amp;&nbsp;Gestaltung</a>
       <!-- <a href="/kinderbucher/geschenkbox" title="Personalisiertes Kinderbuch" class="navitem"> Geschenkbox</a>-->
        	
        <hr class="spacer">
	<!--      
	<a href="/service-versand_kinderbucher.html" class="navitem">Liefertermine&nbsp;&amp;&nbsp;Versand</a>
	<a href="/zahlung_kinderbucher.html" class="navitem">Zahlung</a>
	<hr class="spacer">
         -->
</div>
<div class="title_nav"><div class="section ">Service</div></div>
<div class="links ">
	<a href="/service-versand_kinderbucher" title="Personalisiertes Kinderbuch" class="navitem">Liefertermine&nbsp;&amp;&nbsp;Versand</a>
	<a href="/zahlung_kinderbucher" title="Personalisiertes Kinderbuch" class="navitem">Zahlung</a>
        <a href="/showroom/" class="navitem"  title="Showroom München">Showroom München</a>
	<hr class="spacer">
</div>
<div class="title_nav"><div class="section"></div></div>
<div class="navigation centered" style="border-left: 1px solid #E7E6E6;border-right: 1px solid #E7E6E6;margin-bottom:0;">
    <a class="nooutline" href="/zahlung_kinderbucher" style="padding-left: 0;">
      <img width="198" height="115" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" title="Payment" alt="Payment">
    </a>
</div>
<div class="title_nav"><div class="section ">Kommunikation</div></div>
<div id="social_media">

  <a target="_blank" title="" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659">
    <img title="Folgen Sie uns auf Facebook!" alt="Facebook" src="tl_files/personalnovel_de/static/img/icons/facebook.png">
  </a>
  <a target="_blank" href="http://www.twitter.com/PersonalNOVEL">
  <img alt="Follow PersonalNOVEL on Twitter" src="tl_files/personalnovel_de/static/img/icons/twitter.png" />
  </a>
    <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/youtube.png" />
  </a>
    <a target="_blank" href="http://blog.personalnovel.de/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/google.png" />
  </a>
    <a target="_blank" href="http://pinterest.com/personalnovel/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/p.png" />
  </a>

</div>
<div style="*display:none; ">
  <div style="position:relative; height:160px; width:100%;">
    <div style="position:relative; height:80px; width:100%;">
    	<a href="https://www.facebook.com/PersonaNOVEL" title="PersonaNOVEL" target="_blank">
      	<img style="width:200px; height:80px;" src="/tl_files/personalnovel_de/static/assets/website/teaser_plugin_facebook_like.png">
      	</a>
    </div>
    <div style="position:absolute;margin:-10px 0px 0px 3px; z-index:4; width:195px; ">
      <iframe id='like-pn' src="//www.facebook.com/plugins/like.php?locale=de_DE&href=http%3A%2F%2Fwww.facebook.com%2FPersonaNOVEL&amp;send=false&amp;layout=standard&amp;width=190&amp;show_faces=false&amp;font=tahoma&amp;colorscheme=light&amp;action=like&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:195px; height:70px;" allowTransparency="true"></iframe>
    </div>
    <div style='clear:both;'></div>
  </div>
</div>
<div id="yelp-biz-badge-fsc-8Grwh5KCPCm3cZXlAu5yMw">PersonalNOVEL e.K.</div>
<script type="text/javascript">
 !function(doc, id){
  var js;
  var scriptElement = doc.getElementsByTagName("script")[0];
  if (!doc.getElementById(id)) {
   js = doc.createElement("script");
    js.id = id;
    js.src = "http://dyn.yelpcdn.com/biz_badge_js/fsc/8Grwh5KCPCm3cZXlAu5yMw.js";
    scriptElement.parentNode.insertBefore(js, scriptElement);
  }
} (document, "yelp-biz-badge-script-fsc-8Grwh5KCPCm3cZXlAu5yMw");
</script> 
</div>
</aside>

<section id="main">
<div class="inside">

<article class="mod_article block" id="zahlung">

<h1 class="ce_headline">Bezahlung Ihres personalisierten Produktes</h1>

<section class="ce_text block">

<div>Sobald Ihre Zahlung registriert wurde, geht Ihr personalisiertes Produkt zum nächstmöglichen Termin in die Produktion.</div>
<div>(Produktion Montag - Freitag, außer an Feiertagen in Bayern)</div>
<table style="width: 761px; height: 178px;">
<tbody>
<tr>
<td rowspan="2">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Bei uns können Sie bequem, schnell und vor allem sicher einkaufen und bezahlen:</p>
<ul>
<li>
<div>Ihre persönlichen Zahlungs-Daten werden nicht gespeichert.</div>
</li>
<li>
<div>Über eine SSL-Verschlüsselung gewährleisten wir höchste Sicherheit bei der Übermittlung Ihrer Daten.</div>
</li>
<li>
<div>PersonalNOVEL erfüllt den Sicherheitsstandard der Kreditkartenindustrie (PCI DSS).</div>
</li>
<li>
<div>Als von Trusted Shops zertifizierter Onlineshop sind wir verpflichtet, bei Daten- und Liefersicherheit höchste Anforderungen zu erfüllen.</div>
</li>
</ul>
</td>
<td rowspan="2">
<div><a title="PCI DSS Sicherheitssiegel" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html" target="_blank"><img title="tl_files/personalnovel_de/static/assets/website/seal.png" src="tl_files/personalnovel_de/static/assets/website/seal.png" alt="tl_files/personalnovel_de/static/assets/website/seal.png" width="70" height="70"></a></div>
<div><a title="Trusted Shops Zertifikat PersoanlNOVEL" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F" target="_blank"><img title="tl_files/personalnovel_de/static/assets/website/Logos/Zahlungsinfos_Trusted Shops.png" src="tl_files/personalnovel_de/static/assets/website/Logos/Zahlungsinfos_Trusted%20Shops.png" alt="tl_files/personalnovel_de/static/assets/website/Logos/Zahlungsinfos_Trusted Shops.png" width="70" height="70"></a></div>
</td>
</tr>
</tbody>
</table>
<p>Um Ihren Einkauf bei PersonalNOVEL so einfach wie möglich zu gestalten, bieten wir Ihnen verschiedene Zahlungsmöglichkeiten an:</p>
<p><img title="tl_files/personalnovel_de/static/assets/website/Logos/Zahlung_breite.jpg" src="tl_files/personalnovel_de/static/assets/website/Logos/Zahlung_breite.jpg" alt="tl_files/personalnovel_de/static/assets/website/Logos/Zahlung_breite.jpg" width="766" height="49"></p>
</section>
<!-- indexer::stop -->
<script type="text/javascript">
/* <![CDATA[ */
    function loadTabControl_130() {
        window.TC_130 = new Array();
        i = 0;
        $$('#zahlung').each(function(s) {
            i++;
            elements = s.getElements('.tabs');
            if(elements.length){
                window.TC_130[i] = new TabControl(s, {
                    delay: 2500,
                    behaviour: 'click',
                    tabs: s.getElements('.tabs'),
                    panes: s.getElements('.panes'),
                    selectedClass: 'selected',
                    hoverClass: 'hover'
                });
            }
        });
    }

	/*
	 * Bootstrap
	 */
	window.addEvent('domready', loadTabControl_130);
/* ]]> */
</script>
<!-- indexer::continue -->

<div class="ce_tabcontrol_tabs block">


<ul>
	<li class="tabs">Vorauskasse (Überweisung)</li>
	<li class="tabs">Kreditkarte (Visa, MasterCard, American Express)</li>
	<li class="tabs">PayPal</li>
	<li class="tabs">ELV</li>
	<li class="tabs">Sofortüberweisung</li>
	<li class="tabs">Giropay</li>
</ul>
</div><div class="ce_tabcontrol_pane block">

<div class="panes"><div>

<section class="ce_text block">

<p><strong>Vorauskasse (Überweisung)</strong></p>
<p>Sie erhalten auf der Bestätigungsseite und per E-Mail die Rechnungsdaten und Bankinformationen zur Durchführung Ihrer Überweisung. Bitte geben Sie im Feld "Verwendungszweck" Ihre Bestellnummer und Ihren Namen an, damit wir Ihre Zahlung zweifelsfrei zuordnen können.</p>
<p><strong>Hinweis</strong>: Ihre Bestellung geht erst nach Eingang/Nachweis Ihrer Zahlung in die Produktion. Bitte beachten Sie, dass es in der Regel bis zu drei Bankwerktage (Montag bis Freitag) dauert, bis bei einer Überweisung (auch online!) eine Gutschrift beim Empfänger erfolgt. Zudem haben wir nur Einblick auf den Kontostand vom Vortag.</p>
<p>&nbsp;</p>
<p><span style="color: #cc0000; background-color: #ffffff;"><strong>Schnellstmöglicher Druckbeginn</strong></span></p>
<p>Wenn Sie Ihr Produkt schnellstmöglich anfertigen lassen wollen, schicken Sie uns bitte Ihren abgestempelten Überweisungsbeleg oder die Bestätigung Ihrer Online-Überweisung entweder per E-Mail (<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#x69;&#x6E;&#102;&#x6F;&#64;&#112;&#x65;&#x72;&#115;&#x6F;&#x6E;&#x61;&#108;&#110;&#x6F;&#118;&#x65;&#x6C;&#x2E;&#x64;&#x65;">&#x69;&#x6E;&#102;&#x6F;&#64;&#112;&#x65;&#x72;&#115;&#x6F;&#x6E;&#x61;&#108;&#110;&#x6F;&#118;&#x65;&#x6C;&#x2E;&#x64;&#x65;</a>) oder per Fax (089 340 77 19 15) zu. Nach Erhalt und Prüfung produzieren wir zum nächstmöglichen Termin.</p>
<p>&nbsp;</p>
<p class="stronghigh"><strong>ACHTUNG!</strong> <br> Mit Sendung Ihres Überweisungsbeleges geben Sie Ihren Auftrag ohne weitere Korrekturwünsche frei. Änderungen an Ihrer Bestellung können ab diesem Zeitpunkt nicht mehr berücksichtigt werden.</p>
</section>

</div></div>

</div>
<div class="ce_tabcontrol_pane block">

<div class="panes"><div>

<section class="ce_text block">

<p><strong>Kreditkarte (Visa, Mastercard, American Express, Maestro)</strong></p>
<p>Bestellungen, die mit Kreditkarte aufgegeben werden, gelten als sofort bezahlt und gehen zum nächstmöglichen Termin in die Produktion.</p>
<p>Bei uns können Sie bequem und sicher mit Kreditkarte bezahlen. Wir akzeptieren Visa, Mastercard, American Express und Maestro.</p>
<ul>
<li>Ihre Kreditkarte wird in der Regel einen Bankwerktag später belastet.&nbsp;</li>
<li>Über eine 128-Bit-SSL-Verschlüsselung gewährleisten wir höchste Sicherheit bei der Übermittelung Ihrer Daten.</li>
<li>
<div>PersonalNOVEL erfüllt den Sicherheitsstandard der Kreditkartenindustrie (PCI DSS).</div>
</li>
</ul>
<p>&nbsp;</p>
<p><strong>Sicherheits-Hinweis:</strong> Zu Ihrer Sicherheit akzeptieren wir keine Kreditkartendaten per E-Mail oder Telefon. Mitarbeiter von PersonalNOVEL werden Sie niemals nach Ihren Daten fragen.</p>
</section>

</div></div>

</div>
<div class="ce_tabcontrol_pane block">

<div class="panes"><div>

<section class="ce_text block">

<p><strong>PayPal</strong></p>
<p>Bestellungen, die per PayPal aufgegeben werden, gelten als sofort bezahlt und gehen zum nächstmöglichen Termin in die Produktion.</p>
<p>Wählen Sie PayPal als Zahlungsart, werden Sie am Ende des Bestellprozesses direkt zu PayPal weitergeleitet. Wenn Sie schon PayPal-Kunde sind, können Sie sich anmelden und Ihre Zahlung bestätigen. Als Neukunde können Sie unter <a href="http://www.paypal.de/anmeldung" target="_blank">www.paypal.de/anmeldung</a> ein PayPal-Konto eröffnen, Ihr Bankkonto oder Ihre Kreditkarte mit Ihrem PayPal-Konto verknüpfen und sofort Ihre Zahlung bestätigen.</p>
<p>&nbsp;</p>
<p><strong>Was ist PayPal?</strong></p>
<p>PayPal ist der Online-Zahlungsservice, mit dem Sie in Online-Shops sicher, einfach und schnell bezahlen – und das kostenlos.</p>
<ul>
<li>Ihre Bank- oder Kreditkartendaten sind nur bei PayPal hinterlegt. Deshalb werden sie nicht bei jedem Online-Einkauf erneut übers Internet gesendet.</li>
<li>Sie bezahlen mit zwei Klicks. Denn Sie greifen auf Ihre bei PayPal hinterlegten Bank- oder Kreditkartendaten zurück, anstatt sie bei jedem Kauf wieder einzugeben.</li>
</ul>
</section>

</div></div>

</div>
<div class="ce_tabcontrol_pane block">

<div class="panes"><div>

<section class="ce_text block">

<p><span style="color: #ff0000;"><strong>Derzeit nicht verfügbar</strong></span></p>
<p><strong>ELV - Elektronisches Lastschriftverfahren</strong></p>
<p>Bestellungen, die mit ELV aufgegeben werden, gelten als sofort bezahlt und gehen zum nächstmöglichen Termin in die Produktion.</p>
<p>Bei uns können Sie bequem und sicher mit ELV bezahlen. Mit Eingabe Ihrer Daten (Kontonummer, BLZ, Name der Bank, Sitz der Bank, Name des Kontoinhabers) erteilen Sie uns die einmalige Einzugsermächtigung, den Betrag von Ihrem Konto einzuziehen.</p>
<p><strong>Sicherheits-Hinweis:</strong> Ihre persönlichen Bank-Daten werden nicht gespeichert!</p>
</section>

</div></div>

</div>
<div class="ce_tabcontrol_pane block">

<div class="panes"><div>

<section class="ce_text block">

<p><strong>Sofortüberweisung</strong></p>
<p>Bestellungen, die mit Sofortüberweisung aufgegeben werden, gelten als sofort bezahlt und gehen zum nächstmöglichen Termin in die Produktion.</p>
<p>Sofortüberweisung ist das TÜV-geprüfte Online-Bezahlverfahren der Payment Network AG. Bezahlen Sie einfach, schnell und sicher durch Eingabe Ihrer Online-Banking-Daten.</p>
<p>Wählen Sie Sofortüberweisung als Zahlungsart, werden Sie am Ende des Bestellprozesses direkt zu SOFORT Überweisung weitergeleitet. Dort können Sie sich mir Ihren gewohnten Online-Banking-Daten anmelden und Ihre Zahlung bestätigen.</p>
<p><strong>Sicherheits-Hinweis:</strong> Ihre Online-Banking-Daten sowie Ihre PIN und TAN werden nicht gespeichert!</p>
</section>

</div></div>

</div>
<div class="ce_tabcontrol_pane block">

<div class="panes"><div>

<section class="ce_text block">

<p><strong>Giropay</strong></p>
<p>Bestellungen, die mit Giropay aufgegeben werden, gelten als sofort bezahlt und gehen zum nächstmöglichen Termin in die Produktion.</p>
<p>Wählen Sie Giropay als Zahlungsart, werden Sie am Ende des Bestellprozesses direkt zum Online-Banking Ihrer Bank oder Sparkasse geleitet. Dort können Sie sich mit Ihren Zugangsdaten anmelden sowie mit Eingabe Ihrer TAN die automatisch angezeigte Überweisung (enthält alle Details des Kaufes) durchführen.</p>
<p><strong>Sicherheits-Hinweis:</strong> Ihre Online-Banking-Daten sowie Ihre PIN und TAN werden nicht gespeichert!</p>
<p>Neben der Postbank bieten fast alle Sparkassen und Volksbanken Raiffeisenbanken sowie&nbsp;zahlreiche PSD-Banken, die GLS Gemeinschaftsbank und weitere Privatbanken giropay an: so die comdirect bank, Deutsche Kreditbank (DKB), MLP-Bank, Cronbank, die Merkur Bank, das Bankhaus Ellwanger &amp; Geiger, die Bank Schilling &amp; Co, das Bankhaus Bauer und die cvw Privatbank AG.&nbsp;</p>
</section>

</div></div>

</div>

<section class="ce_text block">

<p style="text-align: right;"><span style="text-decoration: underline;"><span style="color: #ff0000; text-decoration: underline;"><br></span></span></p>
<p style="text-align: right;"><span style="text-decoration: underline; color: #a90118;"><span style="text-decoration: underline;"><a href="javascript:window.print()">Diese Seite ausdrucken</a></span></span></p>
</section>

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

