<?php $expire = 1414981817; /* http://web.personalnovel.local/kalender.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Persönliche Kalender - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Entdecken Sie die personalisierten Kalender von PersonalNOVEL und bestimmen Sie deren Layout, Größe, Design und Inhalt. Die individuellen Kalender eignen sich perfekt als Geschenk oder für Sie selbst.  ">
<meta name="keywords" content="personalisierte Kalender, persönliche Kalender, individuelle Kalender, Kalender mit Namen, eigene Kalender gestalten, Kalender gestalten, eigene Kalender designen, Kalender designen, Kalender Inhalt gestalten, Kalender Inhalt designen, Kalender selbst gestalten, Kalender selbst designen, personalisiere Terminkalender, personalisierte Taschenkalender, personalisierte Notizkalender, personalisierte Terminplaner, personalisierte Jahresplaner, personalisierte Organizer, personalisierte Aufgabenkalender">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Persönliche Kalender - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Entdecken Sie die personalisierten Kalender von PersonalNOVEL und bestimmen Sie deren Layout, Größe, Design und Inhalt. Die individuellen Kalender eignen sich perfekt als Geschenk oder für Sie selbst.  " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<style media="screen">
#left{width:200;}
#main{margin-left:200;}
</style>
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/tg.css" media="screen" type="text/css" rel="stylesheet" />

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">

<div class="base_header">
  <div id="header-links-box">
                          
    <div id="logo">
      <a href="/kalender/"></a>
        <div style = "color:#FFF000">Personalisierte Bücher und Geschenke</div>
    </div>
     
  </div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->

<div id="tab-menu">
  <ul>
     <li><a title="Besondere Anlässe" href="geschenkbuecher/"><span>Besondere Anlässe</span></a></li> 
    <li><a title="Mutterstag" href="/mutterstag"><span>Muttertag</span></a></li>
    <li><a title="Hochzeit" href="/hochzeitsgeschenke"><span>Hochzeit</span></a></li>
    
  </ul>
</div>
<div class="kundengeschenke" id="menunav">
<div class="container">
<ul class="level_1">
<li class="first"><a class="first" title="Personalisierte Bücher &amp; Romane" href="/romane/">Romane</a></li>
<li><a title="Klassische Literatur personalisiert" href="/personalisierteklassiker/">Klassiker der Literatur</a></li>
<li><a title="Personalisierte Kinderbücher" href="/kinderbuecher/">Kinderbücher</a></li>
<li><a title="Personalisierte Jugendbücher" href="/jugendbuecher/">Jugendbücher</a></li>
<li ><a  title="Personalisierte Kalender" href="/kalender/">Kalender</a></li>
<li><a href="/eigenerwein/" title="Weinetiketten"><span>Wein &amp; Champagner Etiketten</span></a></li>
<li><a href="/kundengeschenke/" title="Firmenkunden"><span>Firmenkunden</span></a></li>
<li class="last"><a href="/personalisierte-ebooks" title="Personalisierte E-Books"><span>E-Books</span></a></li>
</ul>

<div class='flash-language'>
  <a class='active' onclick="return false" href='' title="Germany"></a>
  <a class='inactive' href='http://www.personalnovel.co.uk' title="United Kingdom"></a>
</div>
<style>
  .flash-language a {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
    width:24px;
    height:24px;
  }
  .flash-language {
    position: absolute;
    right: 0px;
    height: 30px;
    line-height: 30px;
    width: 70px;
  }
  .flash-language .active{
    background:url("/tl_files/personalnovel_de/image/uk/Germany-Flag.png") no-repeat;
  }
  .flash-language .inactive{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag-active.png") no-repeat;
  }
  .flash-language .inactive:hover{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag.png") no-repeat;	
  }
</style>

</div>
</div>
 
</div>
</header>

<div id="container">
<div class="real_content">

<aside id="left">
<div class="inside navigation">

<div class="title_nav"><div class="section ">Alle Kalender</div></div>
<div class="links ">
  <a href="/kalender/1_woche_seite" title="1 Woche/Seite" class="navitem">1 Woche/Seite</a>
  <a href="/kalender/1_woche_1_seite" title="1 Woche/1 Seite" class="navitem">1 Woche/Doppleseite</a>  
  <a href="/kalender/1_woche_2_seite" title="1 Woche/2 Seite" class="navitem">1 Woche/Seite + Noitizseite</a>
  <a href="/kalender/1_tag_seite" title="1 Tag/Seite" class="navitem">1 Tag/Seite</a>
<hr class="spacer">
</div>
<style>
  .title_nav_a{
    color:#000;
  }
</style>
<div class="title_nav"><div class="section ">Ihr Kalender</div></div>
<div class="links ">
	<a href="kalender/gestaltungsoptionen" title="personalisierter Kalender" class="navitem">Gestaltungsoptionen</a>
        <a href="kalender/widmung" title="personalisierter Kalender" class="navitem"> Widmung </a>
  	<a href="kalender/einbaende-preise" title="personalisierter Kalender" class="navitem">Einbände &amp; Preise</a>
	<a href="kalender/umschlag-gestaltung" title="personalisierter Kalender" class="navitem">Umschlag &amp; Gestaltung</a>
	<!--<a href="notizbuecher/inspirationen" title="personalisierter notizbuecher" class="navitem">Inspirationen</a>-->
         <hr class="spacer">
</div>
<div class="title_nav"><div class="section ">Inspirationen</div></div>
<div class="links ">
  	<a href="kalender/galerie" title="personalisierter Kalender" class="navitem">Galerie</a>
        <a href="kalender/videos" title="personalisierter Kalender" class="navitem">Videos</a>
        <hr class="spacer">
</div>
<div class="title_nav"><div class="section ">Service</div></div>
<div class="links ">
  	<a href="/kalender/service-versand" title="" class="navitem">Liefertermine &amp; Versand </a>
	<a href="/kalender/zahlung" title="" class="navitem">Zahlung</a>
        <a href="/showroom/" class="navitem"  title="Showroom München">Showroom München</a>
        <hr class="spacer">
</div>
<div class="title_nav"><div class="section"></div></div>
<div style="border-left: 1px solid #E7E6E6;border-right: 1px solid #E7E6E6;margin-bottom:0;" class="navigation centered">
    <a style="padding-left: 0;" href="/payment" class="nooutline">
      <img width="198" height="115" alt="Payment" title="Payment" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg">
    </a>
</div>
<div class="title_nav"><div class="section ">Kommunikation</div></div>
<div id="social_media">

  <a href="http://www.facebook.com/pages/PersonalNOVEL/98304609659" title="" target="_blank">
    <img src="tl_files/personalnovel_de/static/img/icons/facebook.png" alt="Facebook" title="Folgen Sie uns auf Facebook!">
  </a>
  <a href="http://www.twitter.com/PersonalNOVEL" target="_blank">
  <img src="tl_files/personalnovel_de/static/img/icons/twitter.png" alt="Follow PersonalNOVEL on Twitter">
  </a>
    <a href="http://www.youtube.com/user/PersonalNOVEL" target="_blank">
  <img src="tl_files/personalnovel_de/static/img/icons/youtube.png" alt="">
  </a>
    <a href="http://blog.personalnovel.de/" target="_blank">
  <img src="tl_files/personalnovel_de/static/img/icons/google.png" alt="">
  </a>
    <a href="http://pinterest.com/personalnovel/" target="_blank">
  <img src="tl_files/personalnovel_de/static/img/icons/p.png" alt="">
  </a>

</div>
<div style="*display:none; ">
  <div style="position:relative; height:160px; width:100%;">
    <div style="position:relative; height:80px; width:100%;">
    	<a href="https://www.facebook.com/PersonalNOVEL" title="PersonaNOVEL" target="_blank">
      	<img style="width:200px; height:80px;" src="/tl_files/personalnovel_de/static/assets/website/teaser_plugin_facebook_like.png">
      	</a>
    </div>
    <div style="position:absolute;margin:-10px 0px 0px 3px; z-index:4; width:195px; ">
      <iframe id='like-pn' src="//www.facebook.com/plugins/like.php?locale=de_DE&href=https://www.facebook.com/PersonalNOVEL&amp;send=false&amp;layout=standard&amp;width=190&amp;show_faces=false&amp;font=tahoma&amp;colorscheme=light&amp;action=like&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:195px; height:70px;" allowTransparency="true"></iframe>
    </div>
    <div style='clear:both;'></div>
  </div>
</div>
<div id="yelp-biz-badge-fsc-8Grwh5KCPCm3cZXlAu5yMw">PersonalNOVEL e.K.</div>
<script type="text/javascript">
 !function(doc, id){
  var js;
  var scriptElement = doc.getElementsByTagName("script")[0];
  if (!doc.getElementById(id)) {
   js = doc.createElement("script");
    js.id = id;
    js.src = "http://dyn.yelpcdn.com/biz_badge_js/fsc/8Grwh5KCPCm3cZXlAu5yMw.js";
    scriptElement.parentNode.insertBefore(js, scriptElement);
  }
} (document, "yelp-biz-badge-script-fsc-8Grwh5KCPCm3cZXlAu5yMw");
</script> 
</div>
</aside>

<section id="main">
<div class="inside">
 
</div>

<div class="custom">

<section id="Section4">
<div class="inside">
<div id="teaser">
<!-- ### Teaser start ### -->
<script src="/system/modules/tt_personalnovel/html/js/kalender_tool.js"></script>
<script type="text/javascript">
     var Jq = jQuery.noConflict();
     // Jquery
     Jq(document).ready(function(){
     	
     	 //24/03/2014
     	function resetDayInWeek(){
     		Jq("#previewRight table").find('td').each (function(index) {
				Jq(this).html("");
			});
     	}
		function getDayInWeek(day, month, year){
			var isLeapyear = (year%4 == 0)? 1:0;		
			var sum_of_day = 0;
			sum_of_day +=  (year-1)*365 + parseInt((year-1)/4);
			for(var i = 1; i < month; i++){
				sum_of_day += 31-((i===2)? (3-isLeapyear) : ((i-1)%7%2));
			}
			
			sum_of_day += day;
			return sum_of_day%7;	
		}	
		
		function addDayInWeek(){
			var table = Jq('<table></table>').addClass('day_preview');
			for(i=0; i<3; i++){
				var row = Jq('<tr></tr>').addClass('row' + i);
				var col0 = Jq('<td></td>').addClass('col'  + i + "0").text('col0' + i);
				var col1 = Jq('<td></td>').addClass('col' + i + "1").text('col1' + i);
				row.append(col0);
				row.append(col1);
				table.append(row);
			}
			Jq("#previewRight").append(table);
		}
		
		function changeDayInWeek(key, start){
			var daysInWeekGe = ['Sa<br/>07','So<br/>08', 'Mo<br/>02', 'Di<br/>03', 'Mi<br/>04', 'Do<br/>05', 'Fr<br/>06'];
			if(key == "woche_seite"){//1 week/ 1 site				
				Jq("#previewRight table .col00").html(daysInWeekGe[start]);
				Jq("#previewRight table .col20").html(daysInWeekGe[(start+1)%7]);
				Jq("#previewRight table .col01").html(daysInWeekGe[(start+3)%7]);
				Jq("#previewRight table .col21").html(daysInWeekGe[(start+4)%7]);

			}else if(key == "woche_seite_notizseite"){//1 week / 1 site + note
				Jq("#previewRight table .col01").html(daysInWeekGe[start]);
				Jq("#previewRight table .col11").html(daysInWeekGe[(start+1)%7]);
				Jq("#previewRight table .col21").html(daysInWeekGe[(start+2)%7]);
				
			}else if(key == "woche_doppelseite"){// 1 week / 2 sites
				Jq("#previewRight table .col01").html(daysInWeekGe[(start+3)%7]);
				Jq("#previewRight table .col21").html(daysInWeekGe[(start+4)%7]);
			}
		}
		addDayInWeek();
		
		//changeDayInWeek(1,0);
     	
     	var previewRight = Jq("#previewRight").PnKalenderTool({
     		seitenaufteilung:"woche_seite",
    		liniert:"blanko",
    		header:"Kalender",
    		footer:"Max Musterman",
    		listInteresse:{"2":"1956: Mit rund 1.000 Freiwilligen werden in Deutschland die ersten drei Standorte der neu aufgebauten Bundeswehr in Betrieb genommen.","3":"1976: In Paris und London starten gleichzeitig zwei Concordes zu den ersten kommerziellen Fl\u00fcgen des \u00dcberschallflugzeuges.","4":"1873: Das Deutsche M\u00fcnzgesetz wird im Deutschen Reich verabschiedet. Es legt als Reichsw\u00e4hrung die Mark, eingeteilt in 100 Pfennige, fest.","5":"2010: Ein Bronzeguss von Alberto Giacomettis Skulptur L\u2019Homme qui marche\u00a0I wechselt f\u00fcr 74,4 Millionen Euro den Besitzer und wird zum bis dahin teuersten Kunstwerk.","6":"1993: Deutschland wird unter Trainer Svetislav Pesic durch einen 71:70-Finalsieg gegen Russland in M\u00fcnchen Basketball-Europameister.","7":"1915: Geburtstag von Sir Stanley Matthews, englischer Fu\u00dfballspieler und erster Europas Fu\u00dfballer des Jahres","8":"2009: Die World Digital Library wird er\u00f6ffnet. Dieses Projekt der US-Nationalbibliothek und der UNESCO stellt kulturell herausragende Dokumente aus aller Welt \u00fcber das Internet kostenlos zur Verf\u00fcgung.","9":"1971: Der WDR strahlt die erste Folge der Sendung mit der Maus aus.","11":"St. Damian, St. Kosmas: Sankt Kosmas und Sankt Damian f\u00e4ngt das Laub zu f\u00e4rben an."},
    		interesse:2
     	});
     
     	var vars_haare = Jq("select[name=vars-haare]");
     	vars_haare.PnSelectTool();
     	
     	resetDayInWeek();
		var conceptName = Jq('#vars-haare option:first').text();
		var myarr = conceptName.split(".");
		var day = getDayInWeek(parseInt(myarr[0]),parseInt(myarr[1]),parseInt(myarr[2]));
		changeDayInWeek("woche_seite",day);
		
		var vars_seitenaufteilung = Jq("select[name=vars-seitenaufteilung]");     	
     	vars_haare.change(function(){
     		previewRight.change("month",Jq(this).val());
     		previewRight.change("weekno",Jq('#vars-haare option:selected').text());
     		
     		
     		var seite_seleted = vars_seitenaufteilung.find(":selected").val();
     		if(seite_seleted == "tag_seite"){
     			var daysInWeekGe = ['Sa','So', 'Mo', 'Di', 'M', 'Do', 'Fr'];
     			var daysNum = ['07','08', '02', '03', '04', '05', '06'];
	     		var conceptName = Jq("#vars-haare").find(":selected").text();
				var myarr = conceptName.split(".");
				var day = getDayInWeek(parseInt(myarr[0]),parseInt(myarr[1]),parseInt(myarr[2]));
     			//alert(Jq('#vars-haare option:selected').text());    			
     			Jq("#ka-month").html(Jq("#ka-month").html() + " &nbsp<b style='font-size:10px;'>" + daysNum[day] + "</b>");
     			Jq("#ka-week").html(Jq("#ka-week").html() + " &nbsp<b style='font-size:8px;'>" + daysInWeekGe[day] + "</b>");
     		}
     		var conceptName = Jq(this).find(":selected").text();
			var myarr = conceptName.split(".");
			var day = getDayInWeek(parseInt(myarr[0]),parseInt(myarr[1]),parseInt(myarr[2]));
			var type = Jq("#vars-seitenaufteilung").find(":selected").val();
			resetDayInWeek();
			changeDayInWeek(type,day);
     	});
     	
     	vars_seitenaufteilung.change(function(){
     		previewRight.change("seitenaufteilung",Jq(this).val());
     		previewRight.change("month",Jq("select[name=vars-haare]").val());
     		previewRight.change("weekno",Jq('#vars-haare option:selected').text());
     		
     		var seite_seleted = vars_seitenaufteilung.find(":selected").val();
     		if(seite_seleted == "tag_seite"){
     			var daysInWeekGe = ['Sa','So', 'Mo', 'Di', 'M', 'Do', 'Fr'];
     			var daysNum = ['07','08', '02', '03', '04', '05', '06'];
	     		var conceptName = Jq("#vars-haare").find(":selected").text();
				var myarr = conceptName.split(".");
				var day = getDayInWeek(parseInt(myarr[0]),parseInt(myarr[1]),parseInt(myarr[2]));
     			//alert(Jq('#vars-haare option:selected').text());    			
     			Jq("#ka-month").html(Jq("#ka-month").html() + " &nbsp<b style='font-size:9px;'>" + daysNum[day] + "</b>");
     			Jq("#ka-week").html(Jq("#ka-week").html() + " &nbsp<b style='font-size:8px;'>" + daysInWeekGe[day] + "</b>");
     		}
     		
     		var conceptName = Jq("#vars-haare").find(":selected").text();
			var myarr = conceptName.split(".");
			var day = getDayInWeek(parseInt(myarr[0]),parseInt(myarr[1]),parseInt(myarr[2]));
			var type = Jq(this).find(":selected").val();
			resetDayInWeek();
			changeDayInWeek(type,day);
     	});
     	
     	var vars_liniert = Jq("select[name=vars-liniert]");
     	vars_liniert.change(function(){
     		previewRight.change("liniert",Jq(this).val());
     	});
     	
     	var vars_header = Jq("input[name=vars-header]");
     	vars_header.changeText();
     	vars_header.bind('keyup',function(){
     		var value = Jq(this).val() != "Ihre Eingabe erscheint rechts oben"?Jq(this).val():"Kalender";
     		previewRight.change("header",value);
     	});
     	
     	var vars_footer = Jq("input[name=vars-footer]");
     	vars_footer.changeText();
     	vars_footer.bind('keyup',function(){
     		var value = Jq(this).val() != "Ihre Eingabe erscheint rechts unten"?Jq(this).val():"Max Musterman";
     		previewRight.change("footer",value);
     	});
     	
     	var vars_augen = Jq("select[name=vars-augen]");
     	vars_augen.change(function(){
     		previewRight.change("interesse",Jq(this).val());
     	});
     	
     	var vars_frisur = Jq("select[name=vars-frisur]");
     	vars_frisur.change(function(){
     		//console.log("Zusatzmodul : "+ Jq(this).val());
     	});
     	     	    	    	     	
     });
     
		
 </script>
  <form action="" id="form_yodi" method="POST" name="yodi">
 <div style="clear:left;" class="teaser2 clearfix">
         <div class='left'>
                 <div class="idoy">Testen Sie jetzt kostenlos Ihren Kalender:</div>
             <div class="fields">   
                 <div class='rowsf'>
                         <span class='title'>Startdatum :</span>
                         <select class="default" id="vars-haare" name="vars-haare" ></select>
                 </div>
                 <div class='rowsf'>
                        <span class='title'>Seitenaufteilung :</span>
                        <select class="default" id="vars-seitenaufteilung" name="vars-seitenaufteilung" >
                                <option value="woche_seite">1 Woche/Seite</option>
                                <option value="woche_seite_notizseite">1 Woche/Seite + Notizseite</option>
                                <option value="woche_doppelseite">1 Woche/Doppelseite</option>
                                <option value="tag_seite">1 Tag/Seite</option>
                        </select>
                 </div>
                 <div class='rowsf'>
                        <span class='title'>Lineatur :</span>
                        <select class="default" id="vars-liniert" name="vars-liniert">
                                <option value="blanko">blanko</option>
                                <option value="liniert">liniert</option>
                                <option value="punktiert">punktiert</option>                               
                        </select>
                 </div>
                 <div class="rowsf text-align-right">
                        Ihren Name und Buchtitel eingeben
                 </div>
                 <div class='rowsf'>
                        <span class='title'>Kopfzeile:</span>
                        <input class="default" name="vars-header" id="vars-header" maxlength=40 data-default='Ihre Eingabe erscheint rechts oben'>
                 </div>
                 <div class='rowsf'>
                        <span class='title'>Fusszeile:</span>
                        <input class="default" name="vars-footer" id="vars-footer" maxlength=40 data-default='Ihre Eingabe erscheint rechts unten'>
                 </div>
                 <div class="rowsf text-align-right">
                        Mehr im Bestellprozess Ihres Kalenders
                 </div>
                 <div class='rowsf'>
                        <span class='title'>Wissen:</span>
                        <select class="default" id="vars-augen" name="vars-augen" >
                                <option value="2">Geschichte</option>
                                <option value="6">Sport Allgemein</option>
                                <option value="3">Wirtschaft International</option>
                                <option value="7">Sport Fussball</option>
                                <option value="4">Wirtschaft Deutsch</option>
                                <option value="5">Musik &amp; Kultur</option>
                                <option value="9">Literatur &amp; Medien</option>
                                <option value="11">Bauern kalender</option>
                                <option value="8">Wissenschaft &amp; Technik</option>
                        </select>
                 </div>
                 <!--
                 <div class='rowsf'>
                        <span class='title'>Kalendarium:</span>
                        <select class="default" id="vars-frisur" name="vars-frisur" >
                                <option value="Namenstage">Namenstage</option>
                                <option value="Sternzeichen">Sternzeichen</option>
                                <option value="Mondzyklus">Mondzyklus</option>
                        </select>
                 </div>
                 -->
             </div>
     </div>
	 <div id='previewRight'></div>
 </div>
 <input type="submit" id="submit_post" name="post_name" value="ok" class='submit_post'>
 </form>
 
 <div style="clear:left;"></div>
 <!-- ### Teaser end ### -->
 </div>
  <style>
input.submit_post{
        visibility:hidden;
} 
        
.teaser2 {
        background-image: url("tl_files/personalnovel_de/static/assets/website/kalender_tool.png");
   -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -khtml-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    display: block;
    float: left;
    height: 320px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 765px;
        }
.teaser2 .left{
    width:400px;
     position:relative;
}
.teaser2 .left .idoy{ 
    font-family: "Times New Roman";
	font-size: 16px;
	text-align: center;
	margin: 27px 0px 10px 40px;
	height: 25px;
	padding-bottom: 5px;
	border-bottom: 1px solid;
	width: 295px;
	font-weight: bold;
	position: relative;
}
.teaser2 .left .fields{
         position:relative;
}
.teaser2 .left .rowsf{
        padding:2px 0px;
        float: left;
        font-size: 12px;
}
.teaser2 .left .rowsf.genre{
        padding-top:30px;
        float: left;
        font-size: 12px;
}
.teaser2 .left .rowsf.genre .title{
        line-height:20px;
}
.teaser2 .left .fields .title {
        width: 130px;
        float: left;
        text-align: right;
        height: 20px;
        line-height: 18px;
}
html[data-useragent*='MSIE 10.0'] .rowsf input {
  	color: #C4C4C4;
        float: left;
        font-style: italic;
        height: 16px;
        line-height:16px;
        margin-left: 10px;
        padding: 0 7px;
        width: 140px;
}
@-moz-document url-prefix() { 
   .rowsf input 
   {
        color: #C4C4C4;
        float: left;
        font-style: italic;
        height: 20px;
        line-height: 20px;
        margin-left: 10px;
        padding: 0 7px;
        width: 140px;    
   }
}
.rowsf input {
        color: #404040;
		float: left;
		font-style: italic;
		height: 20px;
		width: 178px;
		line-height: 14px;
		margin-left: 10px;
		padding: 0 7px;
		font-size: 11px;
}
.rowsf select {
        float: left;
        width: 195px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        margin-left: 10px;
        padding-left: 5px;
}
.teaser2 .text{
     float: left;
    
    margin-top: 55px;
    position: relative;
    width: 121px;
}
.teaser2 .text .title{
    text-align:center;
    margin: 10px 45px 10px 20px;
    height:20px;
    padding-bottom:5px;
    border-bottom:solid 2px #CCC; 
     position:relative;
}
.teaser2 .text .title select{
    height:20px;
    line-height:12px;
    font-size:9px;
    margin:0px auto;
    width:100px; 
}
.teaser2 #ka-header{
    font-family: serif;
    font-size: 10pt;
    line-height: 18pt;
    overflow: hidden;
    position: absolute;
    top: 25px;
    text-align: center;
    width:355px;
}
.teaser2 #ka-header .value{
       /* background-color: yellow;*/
        font-style: normal;
        font-weight: bold;
        }
.teaser2 #ka-footer{
    font-family: serif;
    font-size: 8pt;
    line-height: 18pt;
    overflow: hidden;
    position: absolute;
    top: 285px;
    text-align: center;
    width:355px;
}
.teaser2 #ka-footer .value{
       /* background-color: yellow;*/
        font-style: normal;
        font-weight: bold;
        }
#vorschau{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top:55px;
    left:30px;
    position:absolute;
    
}
.image{
	text-align:center;
}
.image img{
    height: 230px;
    position: relative;
    width: 308px;
    margin:0px auto;
}
#previewRight{
	float: left;
	position: absolute;
	width: 385px;
	left: 380px;
}
#ka-interesse{
	position: absolute;
	top: 68px;
	left: 40px;
	font-size: 8px;
	width: 210px;
	text-align: left;
	color:#999;
}
#ka-month {
    color: #999999;
    font-size: 8pt;
    height: 20px;
    left: 246px;
    position: absolute;
    text-align: right;
    text-transform: uppercase;
    top: 67px;
    width: 84px;
}

#ka-week{
  	color: #999999;
    height: 20px;
    left: 269px;
    position: absolute;
    text-align: right;
    top: 82px;
    width: 60px;
    font-size: 7pt;
}


#ka-week b {
    top: -5px;
    position: relative;
}

#border-event{
	width: 1px;
	height: 45px;
	position: absolute;
	left: 246px;
	top: 67px;
	background: #CCC;
}
.teaser2 .left .rowsf.text-align-right{
	text-align:right;
	width:332px;
	font-size:11px;
	height:14pt;
	line-height: 14pt;
}
/*
#freetesting{top:-70px !important;}
*/
#previewRight table.day_preview {
    position: absolute;
    width: 80%;
    text-align: right;
    margin-top: 125px;
    z-index: 4;
    margin-left:23px;
}
#previewRight table.day_preview tr {
    height: 55px;
}
#previewRight table.day_preview tr td {
	color: #999999;
    width: 50%;    
    font-size: 6pt;
    
}

 </style>

</div>
</section>

<section id="Section1">
<div class="inside">

<article class="mod_article block" id="kalender-1048">

<a href="/kalender_fuer_2014_2015/" class="awesomebutton awesomegreen_gradient awesomeround" style=" left: 141px; top: -59px;" id="freetesting">
<span><span>Bestellen</span></span>
</a>

<section class="ce_text block">

<h1>Personalisierte Kalender von PersonalNOVEL</h1>

<p>Ein personalisierter Kalender von PersonalNOVEL wird Sie tagtäglich begleiten und ist durch vielfältige <a title="Gestaltungsmöglichkeiten" href="http://kalender.personalnovel.net/kalender/gestaltungsoptionen">Gestaltungsmöglichkeiten </a>individuell auf Ihren Alltag, Ihren Nutzen, Ihre Vorlieben und vor allem auf Ihre Person zugeschnitten – Personalisiert eben.</p>
</section>

<section class="ce_text block">

<h2>Ihr persönlicher Kalender – individuell in Inhalt und Design:</h2>

<p><img title="In 4 Schritten zum personalisierten Kalender" src="tl_files/PrivateNOTE/Buch_Steps123_Kalender.png" alt="In 4 Schritten zum personalisierten Kalender" width="765" height="240"></p>
</section>

<section class="ce_text block">

<h2>Sie bestimmen Design und Inhalt des personalisierten Kalenders</h2>

<p style="text-align: justify;">Gestalten Sie das Design Ihres persönlichen Kalenders nach Ihren Wünschen:</p>
<ul style="text-align: justify;">
<li>Wählen Sie aus einer von <a title="Auswahl Größen" href="http://kalender.personalnovel.net/kalender/gestaltungsoptionen">vier verschiedenen Größen</a> die für Sie passende aus und entscheiden Sie über die Tages- und Wochenaufteilungen</li>
<li>Wählen Sie eine geeignete <a title="Wählen Sie aus 4 Einbandvarianten" href="http://kalender.personalnovel.net/kalender/einbaende-preise">Einbandvariante</a></li>
<li>Bestimmen Sie das <a title="Individuelles Layout" href="http://kalender.personalnovel.net/kalender/gestaltungsoptionen">Layout</a> des Kalenders und wählen Sie Ihre Lineatur</li>
<li>Bestimmen Sie die <a title="Individuelle Schriftarten" href="http://kalender.personalnovel.net/kalender/gestaltungsoptionen">Schriftart</a> Ihres persönlichen Kalenders</li>
<li>Gestalten Sie die erste Seite Ihres personalisierten Kalenders mit einer individuellen <a title="Persönliche Widmung" href="http://kalender.personalnovel.net/kalender/widmung">Widmung</a> oder einer persönlichen Startseite</li>
<li>Gestalten Sie den <a title="Umschlaggestaltung" href="http://kalender.personalnovel.net/kalender/umschlag-gestaltung">Umschlag </a>und personalisieren Sie diesen nach Ihren Vorlieben</li>
</ul>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;">Zusätzlich zum Design können Sie auch den Inhalt ihres individuellen Kalenders personalisieren:</p>
<ul style="text-align: justify;">
<li>Bestimmen Sie den <a title="Ihr persönliches Startdatum" href="http://kalender.personalnovel.net/kalender/gestaltungsoptionen">Startmonat</a> Ihres Kalenders oder wählen Sie einen Startmonat anderer Völker oder Religionen</li>
<li>Versehen Sie den personalisierten Kalender mit einem individuellen Titel und dem Namen des Eigentümers als durchlaufende <a title="Personalisierte Kopf-und Fußzeile" href="http://kalender.personalnovel.net/kalender/gestaltungsoptionen">Kopf- und Fußzeile</a></li>
<li>Synchronisieren Sie Ihren Kalender mit den <a title="Individuelle Ferien-und Feiertage" href="http://kalender.personalnovel.net/kalender/gestaltungsoptionen">Ferien- und Feiertagen</a> aus Ihrem Land und Bundesland</li>
<li>Gestalten Sie die <a title="Personalisierbare Endseiten" href="http://kalender.personalnovel.net/kalender/gestaltungsoptionen">Endseiten</a> gemäß Ihren Wünschen</li>
<li>Synchronisieren Sie jeden Tag Ihres Kalenders mit Ereignissen aus Ihrem persönlichen <a title="Ihr persönliches Interessensgebiet" href="http://kalender.personalnovel.net/kalender/gestaltungsoptionen">Interessensgebiet</a></li>
<li>Individualisieren Sie die einzelnen Seiten mit weiteren <a title="Vielfältige Zusatzoptionen" href="http://kalender.personalnovel.net/kalender/gestaltungsoptionen">Zusätzen</a> wie Namenstagen, Sternzeichen oder einem Mondkalender</li>
</ul>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><img title="Vielfältige Gestaltungsoptionen Ihres personalisierten Kalenders" src="tl_files/PrivateNOTE/Kalender_Startseite_Gestalt.png" alt="Vielfältige Gestaltungsoptionen Ihres personalisierten Kalenders" width="765" height="121"></p>
</section>

<section class="ce_text block">

<h2>Ein individueller Kalender für den Eigenbedarf oder als Geschenk</h2>

<p style="text-align: justify;">Unterstützen Sie Ihre Freunde und Familienangehörigen bei der Arbeit oder beim Hobby mit den personalisierten Kalendern von PersonalNOVEL. Oder entwerfen Sie Ihren persönlichen Kalender für Ihre eigenen Bedürfnisse. Ein hochwertiger Kalender ist das ideale Produkt für Ihre Notizen. Sowohl für Sie selbst als auch für Ihre Angehörigen sind unsere personalisierten Kalender wunderbare und unverwechselbare Produkte.</p>
<p style="text-align: justify;">Wir wünschen Ihnen viel Freude an unseren persönlichen Kalendern,</p>
<p style="text-align: justify;">Ihr PersonalNOVEL-Team</p>
<p>&nbsp;</p>
<p><img title="Ihr personalisierter Kalender mit Goldprägung" src="tl_files/PrivateNOTE/Kalender_Startseite_Mood.png" alt="Ihr personalisierter Kalender mit Goldprägung" width="765" height="125"></p>
<p>&nbsp;</p>
</section>

</article>

</div>
</section>

</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

<style>
#main {
    padding-left: 25px !important;
    padding-right: 0px !important;
    position: relative;
    margin-left: 200px;
    width: auto;
}
#Section2{
    width:220px;
    float:right;
    display:block;
    top:0px;
}
#Section1 {
    display:block;
    float:left;
    width: 765px;
}
#Section3,#Section4{ float:left; }
#Section5{ width:100%; position:relative; float:left; }
</style>


<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

</body>
</html>

