<?php $expire = 1394162050; /* http://web.personalnovel.local/customize/book/627.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=627">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Die Bruderschaft des Kondors" src="/tl_files/thumbnail-book/die-bruderschaft-des-kondors-627-detail.png">
				<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Die Bruderschaft des Kondors“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
												<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-627" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Sonnenjungfrau Chaska</div>
				<div class="description" style="margin-top: 5px;display:none">Kusi Chaska, der „Stern“; eine Sonnenjungfrau, eine Dienerin der Inka-Götter; sie lebt nach ihrer Flucht vor den Spaniern in der Dschungelstadt Vilcabamba; die beste Freundin von Wayra. Kunan Aqwa schickt sie, Wayra und den Krieger Sayri auf eine Mission: Sie sollen eine heilige Goldfigur in Sicherheit, nach Machu Picchu bringen. Anfangs versucht Kusi die Gefühle, die sie für den Krieger Sayri entwickelt, zu unterdrücken, doch schließlich erkennt sie in ihm ihren vorbestimmten Gefährten. Die junge Beziehung wird jedoch auf eine schwere Probe gestellt, als Kusi von Rodrigo angegriffen wird, und dieser versucht, die Staue zu stehlen. Sayri reagiert hart und will den Angreifer töten, was Kusi ablehnt und ihr Vertrauen in Sayri erschüttert. Erst als sie in Lebensgefahr gerät und Rodrigo unerwartet zu Hilfe kommt, zeigt auch Sayri Einsicht und Kusi fühlt sich ihm wieder näher. Da sie Rodrigo verschonen, und somit gegen Inka-Regeln verstoßen, fürchten sie, keine gemeinsame Zukunft mehr zu haben. Als Wayra mit Rodrigo zu den Spaniern geht, verliert sie auch noch ihre beste Freundin. In Machu Picchu wird ihr menschlicher Umgang mit Rodrigo aber belohnt: Sie wird, wie Sayri, in die Bruderschaft des Kondors aufgenommen und die beiden können ein gemeinsames Leben beginnen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der ersten Sonnenjungfrau ist																					</label>
																					<input type="text" value="Kusi" 
                                name="vars-Heldin_eins_VN" maxlength="30" id="vars-Heldin_eins_VN" 
                                data-fieldname="Heldin_eins_VN" 
                                data-default="Kusi" 
                                class="field focuser default" />
							<span class="field_count">526x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der ersten Sonnenjungfrau ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Heldin_eins_Augen" maxlength="30" id="vars-Heldin_eins_Augen" 
                                data-fieldname="Heldin_eins_Augen" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der ersten Sonnenjungfrau ist																					</label>
																					<input type="text" value="pechschwarz" 
                                name="vars-Heldin_eins_Haar" maxlength="30" id="vars-Heldin_eins_Haar" 
                                data-fieldname="Heldin_eins_Haar" 
                                data-default="pechschwarz" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Sonnenjungfrau Tika</div>
				<div class="description" style="margin-top: 5px;display:none">Wayra Tika, die „Blume“; eine Sonnenjungfrau wie Kusi, und deren beste Freundin. Sie lässt Rodrigo nach seiner Gefangennahme frei, um die Spannungen zwischen ihnen und Sayri aufzulösen und fühlt sich sehr zu dem Spanier hingezogen. Nachdem Rodrigo ihnen zu Hilfe gekommen ist und mit ihnen weiter wandert, kümmert sich vor allem Wayra um ihn. Als sie sich vor Machu Picchu trennen müssen, entscheidet sich Wayra dafür, mit Rodrigo zu gehen und zu versuchen etwas mehr Verständnis in die Beziehung zwischen Inkas und Spaniern zu bringen. Ob sie ihre Freunde jemals wiedersehen wird, bleibt offen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der zweiten Sonnenjungfrau ist																					</label>
																					<input type="text" value="Wayra" 
                                name="vars-Heldin_zwei_VN" maxlength="30" id="vars-Heldin_zwei_VN" 
                                data-fieldname="Heldin_zwei_VN" 
                                data-default="Wayra" 
                                class="field focuser default" />
							<span class="field_count">275x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der zweiten Sonnenjungfrau ist																					</label>
																					<input type="text" value="hellbraun" 
                                name="vars-Heldin_zwei_Augen" maxlength="30" id="vars-Heldin_zwei_Augen" 
                                data-fieldname="Heldin_zwei_Augen" 
                                data-default="hellbraun" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der zweiten Sonnenjungfrau																					</label>
																					<input type="text" value="kohlschwarz" 
                                name="vars-Heldin_zwei_Haar" maxlength="30" id="vars-Heldin_zwei_Haar" 
                                data-fieldname="Heldin_zwei_Haar" 
                                data-default="kohlschwarz" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Inka-Krieger Waman</div>
				<div class="description" style="margin-top: 5px;display:none">Sayri Waman, der „Falke”: ein Inka-Krieger, der in die Bruderschaft des Kondors aufgenommen werden möchte; er wird als Beschützer der beiden Sonnenjungfrauen auf den Weg nach Machu Picchu geschickt. Anfangs ist er nicht begeistert, aber seine Schwester Ima überzeugt ihn von der Wichtigkeit der Mission. Auf dem Weg kommen er und Kusi sich näher und erkennen, dass sie füreinander bestimmt sind. Das Auftauchen Rodrigos aber stellt ihre Beziehung auf eine harte Probe: Sayri würde den Spanier, den Regeln der Inka folgend, sofort töten, doch die Sonnenjungfrauen halten ihn davon ab, und Wayra lässt den Gefangenen sogar frei. Sayri ist erbost, doch als der Spanier ihm in einer aussichtslosen Situation zu Hilfe kommt, erkennt er, dass Rodrigo sich geändert hat. Er verschont ihn, obwohl er damit eine Aufnahme in die Bruderschaft des Kondors und eine gemeinsame Zukunft mit Kusi aufgibt. Als sie schließlich in Machu Picchu ankommen, wird sein Handeln jedoch gutgeheißen: Er wird Mitglied der Bruderschaft und kann mit Kusi zusammenbleiben.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Kriegers ist																					</label>
																					<input type="text" value="Sayri" 
                                name="vars-Krieger_VN" maxlength="30" id="vars-Krieger_VN" 
                                data-fieldname="Krieger_VN" 
                                data-default="Sayri" 
                                class="field focuser default" />
							<span class="field_count">526x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des Kriegers ist																					</label>
																					<input type="text" value="goldbraun" 
                                name="vars-Krieger_Augen" maxlength="30" id="vars-Krieger_Augen" 
                                data-fieldname="Krieger_Augen" 
                                data-default="goldbraun" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe des Kriegers ist																					</label>
																					<input type="text" value="schwarz" 
                                name="vars-Krieger_Haar" maxlength="30" id="vars-Krieger_Haar" 
                                data-fieldname="Krieger_Haar" 
                                data-default="schwarz" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der spanische Soldat</div>
				<div class="description" style="margin-top: 5px;display:none">Rodrigo Álvarez, ein spanischer Soldat und Patenkind Pizarros. Er wird wegen seiner adligen Herkunft von den anderen Soldaten immer verhöhnt, nur Pedro ist sein Freund. Um sich einen Namen zu machen und zu beweisen, dass er ein wagemutiger Krieger ist, verlässt er heimlich sein Lager, um eine Spur der gesuchten Inkas zu finden. Als er die goldene Staue bei Kusi, Wayra und Sayri entdeckt, greift er an, wird aber überwältigt und gefangen genommen. Wayra jedoch kümmert sich um ihn und lässt ihn schließlich frei, was seine Meinung von den „Wilden“ ändert. Er kommt ihnen sogar zu Hilfe, als sie in eine gefährliche Situation kommen und begleitet sie den weiteren Weg, auf dem er und Wayra sich näher kommen. Als sie sich trennen müssen, beschließt Wayra mit ihm zu gehen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Spaniers ist																					</label>
																					<input type="text" value="Rodrigo" 
                                name="vars-Spanier_VN" maxlength="30" id="vars-Spanier_VN" 
                                data-fieldname="Spanier_VN" 
                                data-default="Rodrigo" 
                                class="field focuser default" />
							<span class="field_count">360x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Spaniers ist																					</label>
																					<input type="text" value="Álvarez" 
                                name="vars-Spanier_NN" maxlength="30" id="vars-Spanier_NN" 
                                data-fieldname="Spanier_NN" 
                                data-default="Álvarez" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des Spaniers ist																					</label>
																					<input type="text" value="grün" 
                                name="vars-Spanier_Augen" maxlength="30" id="vars-Spanier_Augen" 
                                data-fieldname="Spanier_Augen" 
                                data-default="grün" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe des Spaniers ist																					</label>
																					<input type="text" value="dunkelbraun" 
                                name="vars-Spanier_Haar" maxlength="30" id="vars-Spanier_Haar" 
                                data-fieldname="Spanier_Haar" 
                                data-default="dunkelbraun" 
                                class="field focuser default" />
							<span class="field_count"></span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Freund des spanischen Soldaten</div>
				<div class="description" style="margin-top: 5px;display:none">Pedro López, Rodrigos einziger Freund im Lager; deckt Rodrigos Vorhaben, sich alleine aufzumachen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Freundes des Soldaten ist																					</label>
																					<input type="text" value="Pedro" 
                                name="vars-Freund_Spanier_VN" maxlength="30" id="vars-Freund_Spanier_VN" 
                                data-fieldname="Freund_Spanier_VN" 
                                data-default="Pedro" 
                                class="field focuser default" />
							<span class="field_count">35x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Freundes des Soldaten ist																					</label>
																					<input type="text" value="López" 
                                name="vars-Freund_Spanier_NN" maxlength="30" id="vars-Freund_Spanier_NN" 
                                data-fieldname="Freund_Spanier_NN" 
                                data-default="López" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Hohepriesterin</div>
				<div class="description" style="margin-top: 5px;display:none">Yana Pallay, die „Ernte“: die Hohepriesterin in Machu Picchu, die den Qapari entgegen nimmt, sich die Geschichte von Kusi und Sayri anhört und schließlich beide in die Bruderschaft des Kondors aufnimmt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Hohepriesterin ist																					</label>
																					<input type="text" value="Yana" 
                                name="vars-Hohepriesterin" maxlength="30" id="vars-Hohepriesterin" 
                                data-fieldname="Hohepriesterin" 
                                data-default="Yana" 
                                class="field focuser default" />
							<span class="field_count">13x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Hohepriester</div>
				<div class="description" style="margin-top: 5px;display:none">Kunan Awqa, der "Krieger"; der weise Oberpriester von Vilcabamba, der die jungen Menschen für die Mission auswählt und ihnen den Weg nach Machu Picchu beschreibt; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Hohepriesters ist																					</label>
																					<input type="text" value="Kunan" 
                                name="vars-Hohepriester_VN" maxlength="30" id="vars-Hohepriester_VN" 
                                data-fieldname="Hohepriester_VN" 
                                data-default="Kunan" 
                                class="field focuser default" />
							<span class="field_count">83x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Schwester des Kriegers</div>
				<div class="description" style="margin-top: 5px;display:none">Ima Munay, die „Hübsche“; Sayris Schwester, die ihm vor Augen hält, wie besonders diese Mission ist.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Schwester ist																					</label>
																					<input type="text" value="Ima" 
                                name="vars-Schwester_Krieger_VN" maxlength="30" id="vars-Schwester_Krieger_VN" 
                                data-fieldname="Schwester_Krieger_VN" 
                                data-default="Ima" 
                                class="field focuser default" />
							<span class="field_count">21x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der spanische Capitán</div>
				<div class="description" style="margin-top: 5px;display:none">Capitán Flores, der Befehlshaber in Rodrigos Lager, der nichts von ihm hält und ihn das auch deutlich spüren lässt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Capitán ist																					</label>
																					<input type="text" value="Flores" 
                                name="vars-Capitan_NN" maxlength="30" id="vars-Capitan_NN" 
                                data-fieldname="Capitan_NN" 
                                data-default="Flores" 
                                class="field focuser default" />
							<span class="field_count">38x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			Die beiden Sonnenjungfrauen <span class='default Heldin_eins_VN'>Kusi</span> Chaska und <span class='default Heldin_zwei_VN'>Wayra</span> Tika werden, zusammen mit dem Krieger <span class='default Krieger_VN'>Sayri</span> Waman, vom Hohepriester <span class='default Hohepriester_VN'>Kunan</span> auf geheime Mission nach Machu Picchu geschickt. <span class='default Krieger_VN'>Sayri</span>s Schwester <span class='default Schwester_Krieger_VN'>Ima</span> muss ihrem <span class='default Krieger_Augen'>goldbraun</span>äugigen, <span class='default Krieger_Haar'>schwarz</span>haarigen Bruder erst noch gut zureden, bis er sich mit der <span class='default Heldin_eins_Haar'>pechschwarz</span>haarigen, <span class='default Heldin_eins_Augen'>braun</span>äugigen <span class='default Heldin_eins_VN'>Kusi</span> und der <span class='default Heldin_zwei_Haar'>kohlschwarz</span>haarigen, <span class='default Heldin_zwei_Augen'>hellbraun</span>äugigen <span class='default Heldin_zwei_VN'>Wayra</span> auf den Weg macht. Gleichzeitig macht sich der Spanier <span class='default Spanier_VN'>Rodrigo</span> <span class='default Spanier_NN'>Ãlvarez</span>, mit den <span class='default Spanier_Haar'>dunkelbraun</span>en Haaren und den <span class='default Spanier_Augen'>grÃ¼n</span>en Augen, gedeckt von seinem Freund <span class='default Freund_Spanier_VN'>Pedro</span> <span class='default Freund_Spanier_NN'>LÃ³pez</span>, alleine auf den Weg, um seinem Capitán <span class='default Capitan_NN'>Flores</span> zu beweisen, was in ihm steckt. Als diese vier sich im Dschungel treffen, läuft alles anders als erwartet und am Ende hört Hohepriesterin <span class='default Hohepriesterin'>Yana</span> eine ganz besondere Geschichte.		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

