<?php $expire = 1394735434; /* http://web.personalnovel.local/geburtstag/geschenk-ihn/Anlass/Geburtstag/Für_wen/Für ihn/Alter/60 bis 70 Jahre.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher als Geschenk zum Geburtstag für Männer - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Ausgefallene und persönliche Geburtstagsgeschenke für Männer: personalisierte Bücher und Romane von PersonalNOVEL sind genau das Richtige für Ihren Liebsten! ">
<meta name="keywords" content="geburtstagsgeschenke, personalisierte geburtstagsgeschenke, persönliche geburtstagsgeschenke, personalisierte geschenke geburtstag, geburtstag, geschenkideen geburtstag, personalisierte bücher geburtstag, persönliche bücher geburtstag, geburtstagsgeschenke mit namen, geburtstagsgeschenke selber machen, geburtstag geschenke, geschenke geburtstag, geschenke geburtstag bücher, bücher geburtstag, personalisiertes, personalisierte geschenke">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher als Geschenk zum Geburtstag für Männer - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Ausgefallene und persönliche Geburtstagsgeschenke für Männer: personalisierte Bücher und Romane von PersonalNOVEL sind genau das Richtige für Ihren Liebsten! " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<style media="screen">
#left{width:200px;}
#main{margin-left:200px;}
</style>
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/filter_panel.css" media="screen">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/filter_panel.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/tg.css" media="screen" type="text/css" rel="stylesheet" />
<style>
.base_header {

} 

#main {
    padding-left: 25px !important;
    padding-right: 0px !important;
    position: relative;
    margin-left: 200px;
    width: auto;
}

</style>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">

<div class="base_header">
<div id="header-links-box">
                        
  <div id="logo"><a href=""></a></div>
   <!--
  <div id="versand"><a href="/service-versand.html"></a></div>
  
  <div class="headerlinks">
      <div id="headerlinkgroup">
      	<a class="hidden" id="basklink"><img title="Warenkorb" kasse="" alt="Warenkorb" src="tl_files/personalnovel_de/static/img/icons/shoppingbag.png"></a>&nbsp;&nbsp;
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So einfach geht‘s</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/newsletter.html">Newsletter</a>&nbsp;|&nbsp; 
        <a style="vertical-align: top;" href="/agb.html">AGB</a>&nbsp;|&nbsp;
        <a style="vertical-align: top;" href="/kontakt.html">Kontakt</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/faq.html">Hilfe</a>&nbsp;
      </div>
  </div>
   -->
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->

<style>
#tab-menu li.oktoberfest:hover {
      background-color: hsl(197, 100%, 47%) !important;
  }
  #tab-menu { margin-top: 5px !important }
</style>
<div id="tab-menu">
  <ul>
    <li><a title="Besondere Anlässe" href="http://www.personalnovel.de/geschenkbuecher/"><span>Besondere Anlässe</span></a></li> 
    <li><a title="Valentinstag" href="http://www.personalnovel.de/valentinstag"><span>Valentinstag</span></a></li>
    <li><a title="Hochzeit" href="/hochzeitsgeschenke"><span>Hochzeit</span></a></li>
   </ul>
</div>
<!--
<div id="tab-menu">
 
  <ul>
    <li class='tab-menu-home'><a href="http://personalnovel.de"><img src="/tl_files/personalnovel_de/static/img/icons/home.png" /></a></li>
    <li><a href="http://personalnovel.de/showroom/"><span>Showroom München</span></a></li>
    <li><a title="Weinetiketten" href="http://personalnovel.de/eigenerwein/"><span>Wein &amp; Champagner Etiketten</span></a></li>
      <li><a title="Firmenkunden" href="http://personalnovel.de/kundengeschenke/"><span>Firmenkunden</span></a></li>     
      <li><a title="Besondere Anlässe" href="http://www.personalnovel.de/geschenkbuecher/"><span>Besondere Anlässe</span></a></li> 
      <li><a title="Hochzeit" href="/hochzeitsgeschenke"><span>Hochzeit</span></a></li>
      <li><a title="Personalisierte E-Books" href="/personalisierte-ebooks"><span>E-Books</span></a></li>
       <li><a title="Personalisierte Blog" href="/blog"><span>Blog</span></a></li>

  </ul>
  <!--
  <div id="shoplogos" style = "margin-top:-80px;">
    <a href="http://egoo.de/zertifikat/personalnovel" title="Siegel egoo" target="_blank" alt="Siegel egoo"><img height="48" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016" title="Siegel egoo" alt="Siegel egoo"></a>
   <a href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F" target="_blank"><img width="48" height="48" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408" title="Logo Trusted Shops" alt="Logo Trusted Shops"></a>
  </div>
  
</div>
-->
<div class="kundengeschenke" id="menunav">
<div class="container">

 
<div class='flash-language'>
  <a class='active' onclick="return false" href='' title="Germany"></a>
  <a class='inactive' href='http://www.personalnovel.co.uk' title="United Kingdom"></a>
</div>
<style>
  .flash-language a {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
    width:24px;
    height:24px;
  }
  .flash-language {
    position: absolute;
    right: 0px;
    height: 30px;
    line-height: 30px;
    width: 70px;
  }
  .flash-language .active{
    background:url("/tl_files/personalnovel_de/image/uk/Germany-Flag.png") no-repeat;
  }
  .flash-language .inactive{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag-active.png") no-repeat;
  }
  .flash-language .inactive:hover{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag.png") no-repeat;	
  }
</style>

  <style>.margin-right-menu{float:right; width:55px; /* width: 45px; */ height:24px; }</style>
<div class="margin-right-menu"></div>
<ul class="level_1">
 <!-- <li class="last"><a class="last" title="Black Friday" href="/personalisierte-kinderbuecher/black-Friday_2013">Black Friday</a></li>-->
  <li class="active" ><a style="color:white" href="/geburtstagsgeschenke/" title="Geburtstag">Geburtstag</a></li>
  <li><a  title="Weihnachten" href="/weihnachten">Weihnachten</a></li>
  <li><a  title="Kontakt" href="kontakt">Kontakt</a></li>
<!--<li><a title="Personalisierte E-Books" href="/personalisierte-ebooks">E-Books</a></li>-->
  <li ><a  title="Personalisierte Kalender" href="/kalender/">Kalender</a></li>
<li><a title="Personalisierte Geschenkbücher" href="/romane/geschenk-anlass?filter=anlass">Geschenkbücher</a></li>
<li><a title="Personalisierte Jugendbücher" href="/jugendbuecher/">Jugendbücher</a></li>
<li><a title="Personalisierte Kinderbücher" href="/kinderbuecher/">Kinderbücher</a></li>
<li><a title="Klassische Literatur personalisiert" href="/personalisierteklassiker/">Klassiker der Literatur</a></li>
<li class="first"><a class="first" title="Personalisierte Bücher &amp; Romane" href="/romane/">Romane</a></li>
<li class="menunav_first"></li>
</ul>

</div>
</div> 
</div>
</header>

<div id="container">
<div class="real_content">

<aside id="left">
<div class="inside navigation">

<div class="title_nav"><div class="section ">Geschenk finden</div></div>
<div class="links ">
  <a href="/geburtstag/geschenk-anlass?filter=anlass" title="geburtstag" class="navitem">Anlass</a>
  <a href="/geburtstag/geschenk-alter?filter=alter" title="geburtstag" class="navitem">Alter</a>
  <a href="/geburtstag/geschenk-sie" title="" class="navitem">Frauen</a>
  <a href="/geburtstag/geschenk-ihn" title="" class="navitem">Männer</a>
  <a href="/geburtstag/geschenk-teenager" title="" class="navitem">Teenager</a>
  <a href="/geburtstag/geschenk-paare" title="" class="navitem">Paare</a>
  <a href="/geburtstag/geschenk-familie" title="" class="navitem">Familie</a>
  <a href="/geburtstag/geschenk-freunde" title="" class="navitem">Freunde</a>
  <a href="/geburtstag/neuerscheinungen" title="" class="navitem">Neuerscheinungen</a>
  <a href="/geburtstag/gesamtsortiment" title="" class="navitem">Gesamtsortiment</a>
  <hr class = "spacer"/>
</div>
<div class="title_nav"><div class="section ">Genre</div></div>
<div class="links ">
	
        <a href="/geburtstag/krimi-thriller" title="geburtstag" class="navitem">Krimi - Thriller</a>
	<a href="/geburtstag/liebe" title="geburtstag" class="navitem">Liebe</a>
	
        <a href="/geburtstag/frauen" title="geburtstag" class="navitem">Frauen</a>
	<a href="/geburtstag/historisch" title="geburtstag" class="navitem">Historisch</a>
        <a href="/geburtstag/cameo-klassiker" title="geburtstag" class="navitem">Cameo Klassiker</a>
        <a href="/geburtstag/abenteuer" title="geburtstag" class="navitem">Abenteuer</a>
	<a href="/geburtstag/science-fiction" title="geburtstag" class="navitem">Science - Fiction</a>
        <a href="/geburtstag/mystery-fantasy" title="geburtstag" class="navitem">Mystery - Fantasy</a>
        <a href="/geburtstag/familie-freunde" title="geburtstag" class="navitem">Familie - Freunde</a>
        <a href="/geburtstag/sport-fussball" title="geburtstag" class="navitem">Sport - Fussball</a>
        <a href="/geburtstag/gleichgeschlechtlich" title="geburtstag" class="navitem">Gleichgeschlechtlich</a>
	<a class="navitem" title="" href="/geburtstag/englische-romane">Englische Romane</a>
        <a class="navitem" title="" href="/geburtstag/jugendbuecher">Jugendbücher</a>
      
	<hr class="spacer">
</div>

<div class="title_nav"><div class="section ">Ihr Buch</div></div>
<div class="links ">
	<a href="/geburtstag/personalisierung" title="" class="navitem">Personalisierung</a>
	<a href="geburtstag/widmung" title="personalisierter Roman" class="navitem">Widmung</a>
	<a href="/geburtstag/preise-einbaende" title="" class="navitem">Einbände &amp; Preise</a>
	<a href="/geburtstag/umschlag-gestaltung" title="personalisierter Roman" class="navitem">Umschlag &amp; Gestaltung</a>
        <a href="/geburtstag/galerie" title="personalisierter Roman" class="navitem">Galerie</a>
	<hr class="spacer">
</div>
<div class="title_nav"><div class="section ">Service</div></div>
<div class="links ">
  	<a href="/geburtstag/service-versand" title="" class="navitem">Liefertermine &amp; Versand </a>
	<a href="/geburtstag/zahlung" title="" class="navitem">Zahlung</a>
        <a href="/showroom/" class="navitem"  title="Showroom München">Showroom München</a>
        <hr class="spacer">
</div>
<div class="title_nav"><div class="section"></div></div>
<div class="navigation centered" style="border-left: 1px solid #E7E6E6;border-right: 1px solid #E7E6E6;margin-bottom:0;">
    <a class="nooutline" href="http://www.personalnovel.de/zahlung" style="padding-left: 0;">
      <img width="198" height="115" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" title="Payment" alt="Payment">
    </a>
</div>
<div class="title_nav"><div class="section ">Kommunikation</div></div>
<div id="social_media">

  <a target="_blank" title="" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659">
    <img title="Folgen Sie uns auf Facebook!" alt="Facebook" src="tl_files/personalnovel_de/static/img/icons/facebook.png">
  </a>
  <a target="_blank" href="http://www.twitter.com/PersonalNOVEL">
  <img alt="Follow PersonalNOVEL on Twitter" src="tl_files/personalnovel_de/static/img/icons/twitter.png" />
  </a>
    <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/youtube.png" />
  </a>
    <a target="_blank" href="http://blog.personalnovel.de/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/google.png" />
  </a>
    <a target="_blank" href="http://pinterest.com/personalnovel/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/p.png" />
  </a>

</div>
<div style="*display:none; ">
  <div style="position:relative; height:160px; width:100%;">
    <div style="position:relative; height:80px; width:100%;">
    	<a href="https://www.facebook.com/PersonaNOVEL" title="PersonaNOVEL" target="_blank">
      	<img style="width:200px; height:80px;" src="/tl_files/personalnovel_de/static/assets/website/teaser_plugin_facebook_like.png">
      	</a>
    </div>
    <div style="position:absolute;margin:-10px 0px 0px 3px; z-index:4; width:195px; ">
      <iframe id='like-pn' src="//www.facebook.com/plugins/like.php?locale=de_DE&href=http%3A%2F%2Fwww.facebook.com%2FPersonaNOVEL&amp;send=false&amp;layout=standard&amp;width=190&amp;show_faces=false&amp;font=tahoma&amp;colorscheme=light&amp;action=like&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:195px; height:70px;" allowTransparency="true"></iframe>
    </div>
    <div style='clear:both;'></div>
  </div>
</div>
<div id="yelp-biz-badge-fsc-8Grwh5KCPCm3cZXlAu5yMw">PersonalNOVEL e.K.</div>
<script type="text/javascript">
 !function(doc, id){
  var js;
  var scriptElement = doc.getElementsByTagName("script")[0];
  if (!doc.getElementById(id)) {
   js = doc.createElement("script");
    js.id = id;
    js.src = "http://dyn.yelpcdn.com/biz_badge_js/fsc/8Grwh5KCPCm3cZXlAu5yMw.js";
    scriptElement.parentNode.insertBefore(js, scriptElement);
  }
} (document, "yelp-biz-badge-script-fsc-8Grwh5KCPCm3cZXlAu5yMw");
</script> 
</div>
</aside>

<section id="main">
<div class="inside">

<article class="mod_article block" id="main">

<style>
  #muttertag-menu-main{
    padding:20px 0px;
    height:90px;
  }
  #muttertag-menu-main a{ 
  	text-decoration: none;
        padding:0px; 
        text-align:center;
        width:137px; 
        height:85px; 
        margin-right:20px;
    	float:left;
        background-size:100% 100%;
        }
  #muttertag-menu-main a span{
  	color: #666; 
        font-size:12px; 
        font-family: Arial; 
        height:15px;
    	margin: 3px 3px 0px;
    	width:120px;
    	float:left;
        }
 
  #muttertag-menu-main a:hover{
    background-color:#FFF;
  }
  #muttertag-menu-main a:hover span{
    color: #000; 
  }
</style>
<div id='muttertag-menu-main'>
  <a href='/geburtstag/geschenk-anlass?filter=anlass' style="background-image:url('tl_files/Geburtstag/Geburtstag_Romane.png');"></a>
  <a href='/geburtstag/geschenkbuch?Genre=Geschenkbuch' style="background-image:url('tl_files/personalnovel_de/static/assets/website/Geschenkbucher_passiv.jpg');"></a>
  <a href='/geburtstag/cameo-klassiker' style="background-image:url('tl_files/personalnovel_de/static/assets/website/Klassiker_passiv.jpg');"></a>
 <!-- <a href='/geburtstag/wines' style="background-image:url('tl_files/personalnovel_de/static/assets/website/Wein_passiv.jpg');"></a> -->
  <a href='/geburtstag/kinderbuecher/personalisierung-kostenlos-testen' style="margin-right:0px; background-image:url('tl_files/Geburtstag/Geburtstag_Kinderbuecher.png');"></a>
</div>
<!-- indexer::stop -->


<div class="clear"></div>
<ul class="tag-mega-dropdown" id="tag-mega-dropdown-list">
						<li class="mega" style="z-index: 999;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Alter				</span>
			</span>
						<div class="values col1" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Alter=14+Jahre+und+%C3%A4lter" rel="noindex">
							14 Jahre und älter (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Alter=20+bis+30+Jahre" rel="noindex">
							20  -  30 Jahre (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Alter=30+bis+40+Jahre" rel="noindex">
							30  -  40 Jahre (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Alter=40+bis+50+Jahre" rel="noindex">
							40  -  50 Jahre (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Alter=50+bis+60+Jahre" rel="noindex">
							50  -  60 Jahre (6)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre" rel="noindex">
							60  -  70 Jahre (6)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Alter=70+bis+80+Jahre" rel="noindex">
							70  -  80 Jahre (3)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 998;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Epoche				</span>
			</span>
						<div class="values col2" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Epoche=19.+Jahrhundert" rel="noindex">
							19. Jahrhundert (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Epoche=Gegenwart" rel="noindex">
							Gegenwart (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Epoche=Zukunft" rel="noindex">
							Zukunft (1)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 997;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Kulisse				</span>
			</span>
						<div class="values col3" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Kulisse=Krankenhaus" rel="noindex">
							Krankenhaus (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Kulisse=Hotel" rel="noindex">
							Hotel (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Kulisse=Universit%C3%A4t" rel="noindex">
							Universität (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Kulisse=Weltall" rel="noindex">
							Weltall (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Kulisse=Park" rel="noindex">
							Park (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Kulisse=Insel" rel="noindex">
							Insel (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Kulisse=Kleinstadt" rel="noindex">
							Kleinstadt (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Kulisse=Strand" rel="noindex">
							Strand (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Kulisse=Gro%C3%9Fstadt" rel="noindex">
							Großstadt (2)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 996;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Stil				</span>
			</span>
						<div class="values col4" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Stil=Spannend" rel="noindex">
							Spannend (6)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Stil=Dramatisch" rel="noindex">
							Dramatisch (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Stil=Heiter" rel="noindex">
							Heiter (2)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 995;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Anlass				</span>
			</span>
						<div class="values col1" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Anlass=Geburtstag+20%2B" rel="noindex">
							Geburtstag 20+ (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Anlass=Geburtstag+30%2B" rel="noindex">
							Geburtstag 30+ (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Anlass=Geburtstag+40%2B" rel="noindex">
							Geburtstag 40+ (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Anlass=Vatertag" rel="noindex">
							Vatertag (5)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Anlass=Geburtstag+50%2B" rel="noindex">
							Geburtstag 50+ (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Anlass=Geburtstag+60%2B" rel="noindex">
							Geburtstag 60+ (5)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Anlass=Geburtstag+70%2B" rel="noindex">
							Geburtstag 70+ (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Anlass=Abschiedsgeschenk" rel="noindex">
							Abschiedsgeschenk (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Anlass=Geburtstag+10%2B" rel="noindex">
							Geburtstag 10+ (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre" rel="noindex">
							Geburtstag (6)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 994;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Für wen				</span>
			</span>
						<div class="values col2" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&F%C3%BCr+wen=F%C3%BCr+sie" rel="noindex">
							  Für Frauen  (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre" rel="noindex">
							 Für Männer  (6)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&F%C3%BCr+wen=F%C3%BCr+Paare" rel="noindex">
							Für Paare (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&F%C3%BCr+wen=F%C3%BCr+Teenager" rel="noindex">
							Für Teenager (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&F%C3%BCr+wen=F%C3%BCr+Familie" rel="noindex">
							Für Familie (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&F%C3%BCr+wen=F%C3%BCr+Freunde" rel="noindex">
							Für Freunde (5)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 993;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Länder				</span>
			</span>
						<div class="values col3" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&L%C3%A4nder=England" rel="noindex">
							England (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&L%C3%A4nder=Deutschland" rel="noindex">
							Deutschland (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&L%C3%A4nder=%C3%96sterreich" rel="noindex">
							Österreich (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&L%C3%A4nder=Schweiz" rel="noindex">
							Schweiz (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&L%C3%A4nder=Griechenland" rel="noindex">
							Griechenland (1)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 992;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Städte / Gegenden				</span>
			</span>
						<div class="values col4" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&St%C3%A4dte+%2F+Gegenden=London" rel="noindex">
							London (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&St%C3%A4dte+%2F+Gegenden=Personalisierbare+Stadt+%2F+Gegend" rel="noindex">
							Personalisierbare Stadt / Gegend (1)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 991;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Beruf				</span>
			</span>
						<div class="values col1" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Beruf=Wissenschaftler%2Fin" rel="noindex">
							Wissenschaftler/in (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Beruf=Polizist" rel="noindex">
							Polizist (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Beruf=Autor%2Fin" rel="noindex">
							Autor/in (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Beruf=Rentner%2Fin" rel="noindex">
							Rentner/in (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Beruf=Kommissar%2Fin" rel="noindex">
							Kommissar/in (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Beruf=Offizier+%28m%2Fw%29" rel="noindex">
							Offizier (m/w) (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Beruf=Kunstsachverst%C3%A4ndiger" rel="noindex">
							Kunstsachverständiger (1)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 990;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Genre				</span>
			</span>
						<div class="values col2" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Genre=Abenteuer" rel="noindex">
							Abenteuer (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Genre=Mystery" rel="noindex">
							Mystery (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Genre=Krimi+-Thriller" rel="noindex">
							Krimi -Thriller (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Genre=Fantasy+-+Science+Fiction" rel="noindex">
							Fantasy - Science Fiction (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Genre=Cameo+Klassiker" rel="noindex">
							Cameo Klassiker (1)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 989;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Mit Liebesgeschichte				</span>
			</span>
						<div class="values col3" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Mit+Liebesgeschichte=Ja" rel="noindex">
							 Mit Liebesgeschichte  (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Mit+Liebesgeschichte=Nein" rel="noindex">
							 Ohne Liebesgeschichte  (5)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 988;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Titel				</span>
			</span>
						<div class="values col4" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Titel=Dr." rel="noindex">
							Dr. (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Titel=Prof." rel="noindex">
							Prof. (1)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 987;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Beziehungen				</span>
			</span>
						<div class="values col1" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Beziehungen=Arbeitskollegen" rel="noindex">
							Arbeitskollegen (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Beziehungen=Beste+Freunde" rel="noindex">
							Beste Freunde (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Beziehungen=Freunde" rel="noindex">
							Freunde (5)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Beziehungen=Tante+-+Neffe" rel="noindex">
							Tante - Neffe (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Beziehungen=Onkel+-+Neffe" rel="noindex">
							Onkel - Neffe (1)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 986;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Hauptrolle				</span>
			</span>
						<div class="values col2" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Hauptrolle=M%C3%A4nnlich" rel="noindex">
							Männlich (6)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Hauptrolle=M%C3%A4nnlich+%2B+Weiblich" rel="noindex">
							Männlich + Weiblich (1)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 985;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Personenanzahl				</span>
			</span>
						<div class="values col3" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Personenanzahl=10+bis+19" rel="noindex">
							10  -  19 (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn&Alter=60+bis+70+Jahre&Personenanzahl=+2+bis+9" rel="noindex">
							 2  -  9 (2)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 984;background:#fff !important;cursor:default;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle hidden" style="background:#fff !important;cursor:default;">
				<span>
									</span>
			</span>
					</li>
						</ul>
<div class="clear"></div>
<h1 class="headline_filter">Geschenke für Männer</h1>

<div class="articles browse clearfix">
	
	<div class="selected-tags">
		<span>1</span> &ndash; 
		<span>6</span> von insgesamt
		<span>6</span> Büchern
		  für		
								
						<span>
			Geburtstag			</span>
																	 und 										<span>
		 Für Männer 		</span>
		
		<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&Alter=60+bis+70+Jahre"> <img src="system/themes/default/images/delete.gif"/> </a>
				 und 										<span>
		60  -  70 Jahre		</span>
		
		<a href="/geburtstag/geschenk-ihn?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+ihn"> <img src="system/themes/default/images/delete.gif"/> </a>
									</div>
	
		<div class="article-box columns3 editlist">
		<a href="geburtstagbook/610/der-cleopatra-papyrus.html">
			<div class="article-image">
				<img alt="Der Cleopatra-Papyrus" src="http://web.personalnovel.local/tl_files/thumbnail-book/der-cleopatra-papyrus-610-list.png" class="thumb">
			</div>
			<div class="article-info">
				<div class="names">
					<em class="name"> Der Cleopatra-Papyrus </em>
					<br>
					<em class="subname">bis zu 9 Personen</em>
				</div>
				<p class="desc"><p>
	Ein antiker Papyrus, Mord und Schmuggelgeschäfte - ein vertrackter Fall für den pensionierten Kommissar</p>
</p>
				
			</div>
		</a>
		
		<div class="buttons">
			<a style="margin-right: 2px" class="awesomebutton awesomegreen_gradient awesomeinvert awesomeround" href="geburtstagbook/610/der-cleopatra-papyrus.html">
				<span><span>Mehr über das Buch</span></span>
			</a>
			<a class="awesomebutton awesomegreen_gradient awesomeround" href="geburtstagbook/610/der-cleopatra-papyrus.html">
				<span><span>Bestellen</span></span>
			</a>
		</div>
		
	</div>
			<div class="article-box columns3 editlist">
		<a href="geburtstagbook/579/oliver-twist.html">
			<div class="article-image">
				<img alt="Oliver Twist" src="http://web.personalnovel.local/tl_files/thumbnail-book/oliver-twist-579-list.png" class="thumb">
			</div>
			<div class="article-info">
				<div class="names">
					<em class="name"> Oliver Twist </em>
					<br>
					<em class="subname">bis zu 7 Personen</em>
				</div>
				<p class="desc">Helfen Sie einem Waisenjungen bei der Suche nach seinem Glück.
</p>
				
			</div>
		</a>
		
		<div class="buttons">
			<a style="margin-right: 2px" class="awesomebutton awesomegreen_gradient awesomeinvert awesomeround" href="geburtstagbook/579/oliver-twist.html">
				<span><span>Mehr über das Buch</span></span>
			</a>
			<a class="awesomebutton awesomegreen_gradient awesomeround" href="geburtstagbook/579/oliver-twist.html">
				<span><span>Bestellen</span></span>
			</a>
		</div>
		
	</div>
			<div class="article-box columns3 editlist">
		<a href="geburtstagbook/452/in-vino-veritas.html">
			<div class="article-image">
				<img alt="In vino veritas" src="http://web.personalnovel.local/tl_files/thumbnail-book/in-vino-veritas-452-list.png" class="thumb">
			</div>
			<div class="article-info">
				<div class="names">
					<em class="name"> In vino veritas </em>
					<br>
					<em class="subname">bis zu 14 Personen</em>
				</div>
				<p class="desc">Sein bester Freund hat seine Frau mit Wein vergiftet? Niemals! Doch in vino veritas.
</p>
				
			</div>
		</a>
		
		<div class="buttons">
			<a style="margin-right: 2px" class="awesomebutton awesomegreen_gradient awesomeinvert awesomeround" href="geburtstagbook/452/in-vino-veritas.html">
				<span><span>Mehr über das Buch</span></span>
			</a>
			<a class="awesomebutton awesomegreen_gradient awesomeround" href="geburtstagbook/452/in-vino-veritas.html">
				<span><span>Bestellen</span></span>
			</a>
		</div>
		
	</div>
	<div class='clear'> </div>		<div class="article-box columns3 editlist">
		<a href="geburtstagbook/297/das-erbe-von-nebra.html">
			<div class="article-image">
				<img alt="Das Erbe von Nebra" src="http://web.personalnovel.local/tl_files/thumbnail-book/das-erbe-von-nebra-297-list.png" class="thumb">
			</div>
			<div class="article-info">
				<div class="names">
					<em class="name"> Das Erbe von Nebra </em>
					<br>
					<em class="subname">bis zu 12 Personen</em>
				</div>
				<p class="desc">Ein Bronzering verschwindet auf mysteriöse Weise - kann der Held ihn zurückholen?
</p>
				
			</div>
		</a>
		
		<div class="buttons">
			<a style="margin-right: 2px" class="awesomebutton awesomegreen_gradient awesomeinvert awesomeround" href="geburtstagbook/297/das-erbe-von-nebra.html">
				<span><span>Mehr über das Buch</span></span>
			</a>
			<a class="awesomebutton awesomegreen_gradient awesomeround" href="geburtstagbook/297/das-erbe-von-nebra.html">
				<span><span>Bestellen</span></span>
			</a>
		</div>
		
	</div>
			<div class="article-box columns3 editlist">
		<a href="geburtstagbook/210/armee-des-grauens.html">
			<div class="article-image">
				<img alt="Armee des Grauens" src="http://web.personalnovel.local/tl_files/thumbnail-book/armee-des-grauens-210-list.png" class="thumb">
			</div>
			<div class="article-info">
				<div class="names">
					<em class="name"> Armee des Grauens </em>
					<br>
					<em class="subname">bis zu 10 Personen</em>
				</div>
				<p class="desc">Wir schreiben das Jahr 2106: Der neu entdeckte Planet Halikarnos birgt ein düsteres Geheimnis...</p>
				
			</div>
		</a>
		
		<div class="buttons">
			<a style="margin-right: 2px" class="awesomebutton awesomegreen_gradient awesomeinvert awesomeround" href="geburtstagbook/210/armee-des-grauens.html">
				<span><span>Mehr über das Buch</span></span>
			</a>
			<a class="awesomebutton awesomegreen_gradient awesomeround" href="geburtstagbook/210/armee-des-grauens.html">
				<span><span>Bestellen</span></span>
			</a>
		</div>
		
	</div>
			<div class="article-box columns3 editlist">
		<a href="geburtstagbook/58/sehnsucht-nach-caberia.html">
			<div class="article-image">
				<img alt="Sehnsucht nach Caberia" src="http://web.personalnovel.local/tl_files/thumbnail-book/sehnsucht-nach-caberia-58-list.png" class="thumb">
			</div>
			<div class="article-info">
				<div class="names">
					<em class="name"> Sehnsucht nach Caberia </em>
					<br>
					<em class="subname">bis zu 14 Personen</em>
				</div>
				<p class="desc">Werden die Gefährten das geheimnisvolle Caberia jemals finden?

</p>
				
			</div>
		</a>
		
		<div class="buttons">
			<a style="margin-right: 2px" class="awesomebutton awesomegreen_gradient awesomeinvert awesomeround" href="geburtstagbook/58/sehnsucht-nach-caberia.html">
				<span><span>Mehr über das Buch</span></span>
			</a>
			<a class="awesomebutton awesomegreen_gradient awesomeround" href="geburtstagbook/58/sehnsucht-nach-caberia.html">
				<span><span>Bestellen</span></span>
			</a>
		</div>
		
	</div>
	<div class='clear'> </div>	</div>

<div class="clear"></div>
<!-- indexer::continue -->

<section class="ce_text block">

<h2 style="text-align: justify;"><span>Personalisierte Geburtstagsgeschenke für Männer<br></span></h2>
<p style="text-align: justify;"><span>Sie suchen ein persönliches und indiviuelles Geburtstagsgeschenk für Ihren Vater, Freund oder Partner? Lassen Sie ihn in seinem personalisierten Buch zum Fußballstar werden, knifflige Kriminalfälle lösen oder gefährliche Abenteuer durchstehen. Schicken Sie das Geburtstagkind auf spannende Reisen in exotische Länder oder ferne Zeiten. Mit einem personalisierten Buch als Geschenk zum Geburtstag sorgen Sie für eine Geburtstagsüberraschung, die man so schnell nicht vergessen wird.<br></span></p>
</section>

</article>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

