<?php $expire = 1394164844; /* http://web.personalnovel.local/customize/book/283.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href="http://muttertag.personalnovel.de/"></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
		<span class="green cartsum" cartsum="80.80">
		80,80</span> 
		<span class="green">EUR </span> <br />inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
    	    	     <a class="cart-link" href="http://web.personalnovel.local/checkout?order=2019810&step=Warenkorb"><img src="tl_files/personalnovel_de/cart.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:1000"></a>
	            
    <div id="cart-detail">
    
        
            <strong>1x 
        Four Degrees North                </strong>
        <span class="green">24,95 EUR</span><br/>
            <strong>1x 
        Die schottische Heilerin                </strong>
        <span class="green">24,95 EUR</span><br/>
            <strong>1x 
        Im Auftrag des Königs                </strong>
        <span class="green">24,95 EUR</span><br/>
        
        <div class="cart-shipping">
        <strong>Versand:</strong> Premium-Versand <span class="green">
        5,95 EUR</span>
    </div>
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=283">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Im Auftrag des Königs" src="/tl_files/thumbnail-book/im-auftrag-des-koenigs-283-detail.png">
				<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Im Auftrag des Königs“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
												<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-283" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    <div class="formitem">
	    
                <div class="name" style="margin-bottom:5px">Bitte wählen Sie die Ausprägung der Liebesszenen</div>
                
                
                
        <div>
        <input style="width:auto;height:auto" type="radio" 
                    name="document" value="266" 
                    id="radio-266"
                    checked=checked />
                    
                <label for="radio-266">Lässig &ndash; Die Szenen werden wortgewandt umschrieben.</label>
                </div>
                
                
        <div>
        <input style="width:auto;height:auto" type="radio" 
                    name="document" value="267" 
                    id="radio-267"
                     />
                    
                <label for="radio-267">Rassig &ndash; Zum Teil explizite Darstellungen.</label>
                </div>
                
        </div>
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Männliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none">Graf <i>Anselm</i> von <i>Herrenchiemsee</i>, Erbe der gleichnamigen Grafschaft; groß und stattlich mit wallendem Haar; pflichtbewusst und couragiert; behandelt Bedienstete und die Bewohner der Grafschaft stets mit Wohlwollen und Respekt; verliebt sich in eine Fotografie von <i>Charlotte</i> und nimmt sie zur Frau; sehr rücksichtsvoller Liebhaber, der immer um das Wohl seiner Frau besorgt ist; erhält vom König persönlich den Auftrag, nach Berlin zu reisen und Bismarck die Kriegspläne zu übergeben, muss <i>Charlotte</i> dafür eine Weile allein auf Burg <i>Herrenchiemsee</i> zurücklassen. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des jungen Grafen ist																					</label>
																					<input type="text" value="Anselm" 
                                name="vars-Vorname_Er" maxlength="30" id="vars-Vorname_Er" 
                                data-fieldname="Vorname_Er" 
                                data-default="Anselm" 
                                class="field focuser default" />
							<span class="field_count">436x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des jungen Grafen ist (Achtung: gleichzeitig Name der Burg!)																					</label>
																					<input type="text" value="Herrenchiemsee" 
                                name="vars-Burg" maxlength="30" id="vars-Burg" 
                                data-fieldname="Burg" 
                                data-default="Herrenchiemsee" 
                                class="field focuser default" />
							<span class="field_count">98x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe des jungen Grafen ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Haare_Er" maxlength="30" id="vars-Haare_Er" 
                                data-fieldname="Haare_Er" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des jungen Grafen ist																					</label>
																					<input type="text" value="blau" 
                                name="vars-Augen_Er" maxlength="30" id="vars-Augen_Er" 
                                data-fieldname="Augen_Er" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">15x</span>
						</div>
											<div class="field">
							<label>
							Der junge Graf duftet nach																					</label>
																					<input type="text" value="Moschus" 
                                name="vars-Duft_Er" maxlength="30" id="vars-Duft_Er" 
                                data-fieldname="Duft_Er" 
                                data-default="Moschus" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Der junge Graf trägt meist Kleidung in der Farbe																					</label>
																					<input type="text" value="blau" 
                                name="vars-Farbe_Er" maxlength="30" id="vars-Farbe_Er" 
                                data-fieldname="Farbe_Er" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
											<div class="field">
							<label>
							Der Kosename des jungen Grafen lautet																					</label>
																					<input type="text" value="Schatz" 
                                name="vars-Kose_Er" maxlength="30" id="vars-Kose_Er" 
                                data-fieldname="Kose_Er" 
                                data-default="Schatz" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weibliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Charlotte</i>, <i>Anselm</i>s Ehefrau; entstammt dem Uradelsgeschlecht derer von <i>Greifenstein</i>; ihre Eltern sind bereits tot, hat noch einen Bruder, der aber nur erwähnt wird; liebt <i>Anselm</i> von Herzen und trägt schon bald ein Kind unter ihrem Herzen, was sie aber lange Zeit gar nicht bemerkt; eine schöne und beherzte Frau, die sich wie ihr Mann für Frieden und Gerechtigkeit einsetzt; findet in <i>Johanna</i> eine treue Freundin; muss sich während <i>Anselm</i>s Abwesenheit den Annäherungern ihres Schwagers <i>Falk</i> erwehren; entkommt nur knapp einem Mordanschlag durch Falk (mittels Gift + Feuer).</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der jungen Gräfin ist																					</label>
																					<input type="text" value="Charlotte" 
                                name="vars-Vorname_Sie" maxlength="30" id="vars-Vorname_Sie" 
                                data-fieldname="Vorname_Sie" 
                                data-default="Charlotte" 
                                class="field focuser default" />
							<span class="field_count">469x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der jungen Gräfin ist (Achtung: gleichzeitig Name der Burg!)																					</label>
																					<input type="text" value="Greifenstein" 
                                name="vars-Burg_Sie" maxlength="30" id="vars-Burg_Sie" 
                                data-fieldname="Burg_Sie" 
                                data-default="Greifenstein" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der jungen Gräfin ist																					</label>
																					<input type="text" value="blond" 
                                name="vars-Haare_Sie" maxlength="30" id="vars-Haare_Sie" 
                                data-fieldname="Haare_Sie" 
                                data-default="blond" 
                                class="field focuser default" />
							<span class="field_count">17x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der jungen Gräfin ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Augen_Sie" maxlength="30" id="vars-Augen_Sie" 
                                data-fieldname="Augen_Sie" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
											<div class="field">
							<label>
							Die junge Gräfin duftet nach																					</label>
																					<input type="text" value="Rosen" 
                                name="vars-Duft_Sie" maxlength="30" id="vars-Duft_Sie" 
                                data-fieldname="Duft_Sie" 
                                data-default="Rosen" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
											<div class="field">
							<label>
							Die junge Gräfin trägt meist Kleidung in der Farbe																					</label>
																					<input type="text" value="rot" 
                                name="vars-Farbe_Sie" maxlength="30" id="vars-Farbe_Sie" 
                                data-fieldname="Farbe_Sie" 
                                data-default="rot" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
											<div class="field">
							<label>
							Der Kosename der jungen Gräfin lautet																					</label>
																					<input type="text" value="Charly" 
                                name="vars-Kose_Sie" maxlength="30" id="vars-Kose_Sie" 
                                data-fieldname="Kose_Sie" 
                                data-default="Charly" 
                                class="field focuser default" />
							<span class="field_count">20x</span>
						</div>
											<div class="field">
							<label>
							Die junge Gräfin kommt aus der Stadt																					</label>
																					<input type="text" value="München" 
                                name="vars-Heimat_Sie" maxlength="30" id="vars-Heimat_Sie" 
                                data-fieldname="Heimat_Sie" 
                                data-default="München" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Freundin und Zofe der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Johanna</i>, <i>Charlotte</i>s Zofe auf Burg <i>Herrenchiemsee</i>; klug und verlässlich; wird schnell zur Vertrauten <i>Charlotte</i>s und rettet sie das ein oder andere Mal vor dem lüsternen <i>Falk</i>; sie verliebt sich in <i>Benedikt</i> und heiratet ihn schließlich; am Ende stellt sich heraus, dass sie das Zeugnis einer Liebschaft des Grafen <i>Günther</i> mit dem Bauernmädchen <i>Annette</i> ist; wird von <i>Anselm</i> herzlich in die gräfliche Familie aufgenommen. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Zofe ist																					</label>
																					<input type="text" value="Johanna" 
                                name="vars-Freundin1_Sie" maxlength="30" id="vars-Freundin1_Sie" 
                                data-fieldname="Freundin1_Sie" 
                                data-default="Johanna" 
                                class="field focuser default" />
							<span class="field_count">197x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Vertrauter der männlichen Hauptrolle und zukünftiger Ehemann der Zofe</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Benedikt</i>, ein Bauernbursche; wird von <i>Anselm</i> und <i>Gerald</i> während ihrer Reise als Bote auserwählt; pflichtbewusst und sehr loyal; versucht unermüdlich, die Intrige zu entwirren, in die <i>Charlotte</i> eingesponnen wird; verliebt sich in <i>Johanna</i> und heiratet sie zum Schluss.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Boten ist																					</label>
																					<input type="text" value="Benedikt" 
                                name="vars-Freund2_Er" maxlength="30" id="vars-Freund2_Er" 
                                data-fieldname="Freund2_Er" 
                                data-default="Benedikt" 
                                class="field focuser default" />
							<span class="field_count">77x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Intriganter Bruder der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Falk</i> von <i>Herrenchiemsee</i>, <i>Anselm</i>s Bruder (2 Jahre jünger); dem Alkohol zugetan; ist ein Intrigant und zerfressen vom Hass und Neid auf seinen Bruder, den Erstgeborenen und Erben; hetzt <i>Anselm</i> und <i>Gerald</i> skrupellose Verfolger auf den Hals, die sie töten sollen; lüsterner Kerl, der allen Frauen hinterhersteigt; während <i>Anselm</i>s Abwesenheit bedrängt er <i>Charlotte</i>, der es gelingt, sich vor ihm zu verstecken; als alle seine Pläne scheitern und <i>Anselm</i> wohlbehalten zurückkehrt, verübt er einen Mordanschlag auf <i>Charlotte</i>; kommt jedoch bei dem Versuch, Feuer in der Burg zu legen, selbst ums Leben.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des intriganten Bruders ist (stirbt)																					</label>
																					<input type="text" value="Falk" 
                                name="vars-Bruder_Er" maxlength="30" id="vars-Bruder_Er" 
                                data-fieldname="Bruder_Er" 
                                data-default="Falk" 
                                class="field focuser default" />
							<span class="field_count">218x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Vater der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none">Markgraf <i>Günther</i> von <i>Herrenchiemsee</i>, <i>Anselm</i>s und Falks Vater; ein kluger, gerechter Herrscher; versteht sich auf Anhieb mit seiner Schwiegertochter <i>Charlotte</i>; stirbt an "gebrochenem" Herzen, als er <i>Falk</i>s böses Spiel durchschaut und ihm das Gerücht zu Ohren kommt, <i>Anselm</i> wäre auf seiner Reise ums Leben gekommen; hatte als junger Bursche ein Liebesverhältnis mit dem Bauernmädchen <i>Annette</i>, durfte sie aber aufgrund des Standesunterschiedes nicht heiraten; sorgt jedoch Zeit seines Lebens für das Wohl seiner unehelichen Tochter <i>Johanna</i>, die erst nach seinem Tod erfährt, dass er ihr leiblicher Vater war; nach ihm soll <i>Charlotte</i>s und <i>Anselm</i>s Sohn benannt werden. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des alten Grafen ist (stirbt)																					</label>
																					<input type="text" value="Günther" 
                                name="vars-Vater_Er" maxlength="30" id="vars-Vater_Er" 
                                data-fieldname="Vater_Er" 
                                data-default="Günther" 
                                class="field focuser default" />
							<span class="field_count">47x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Bester Freund der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Gerald</i>, <i>Anselm</i>s bester Freund seit Kindertagen; klug, ehrlich und treu; begleitet <i>Anselm</i> auf der Reise nach Berlin; nach der erfolgreichen Mission wird er schließlich nach Berlin in eine gute Position berufen, die er mit Freuden annimmt.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des besten Freundes ist																					</label>
																					<input type="text" value="Gerald" 
                                name="vars-Freund1_Er" maxlength="30" id="vars-Freund1_Er" 
                                data-fieldname="Freund1_Er" 
                                data-default="Gerald" 
                                class="field focuser default" />
							<span class="field_count">142x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Kammerdiener des Vaters</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Bruno</i>, der langjährige und loyale Kammerdiener von Graf <i>Günther</i>; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Dieners ist																					</label>
																					<input type="text" value="Bruno" 
                                name="vars-Vertrauter_Vater" maxlength="30" id="vars-Vertrauter_Vater" 
                                data-fieldname="Vertrauter_Vater" 
                                data-default="Bruno" 
                                class="field focuser default" />
							<span class="field_count">16x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Name eines Fohlens (weibl.) benannt nach einer früheren Dienstmagd</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Elfriede</i>, ehemals Bedienstete im Heimathaus <i>Charlotte</i>s; kauzige, alte Frau; von ihr kennt <i>Charlotte</i> einen Trick, wie man eine Fohlengeburt beschleunigt; fortan trägt ein kleines Fohlen auf Burg <i>Herrenchiemsee</i> ihren Namen.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Name für das Fohlen lautet (weibl.)																					</label>
																					<input type="text" value="Elfriede" 
                                name="vars-Pferde_Hebamme" maxlength="30" id="vars-Pferde_Hebamme" 
                                data-fieldname="Pferde_Hebamme" 
                                data-default="Elfriede" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Hilfsbereiter preußischer Gesandter</div>
				<div class="description" style="margin-top: 5px;display:none">Der alte <i>Heinrich</i>, ein Vertrauter und treuer Diener Bismarcks; älterer Mann; verheiratet, eine Tochter und zwei Söhne; freundlich und redselig; stößt zu <i>Anselm</i> und <i>Gerald</i> dazu und hilft ihnen, ihre Mission erfolgreich zu beenden.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des alten Preußen ist																					</label>
																					<input type="text" value="Heinrich" 
                                name="vars-AlterMann" maxlength="30" id="vars-AlterMann" 
                                data-fieldname="AlterMann" 
                                data-default="Heinrich" 
                                class="field focuser default" />
							<span class="field_count">19x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Geliebte des Vaters und Mutter der Zofe</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Annette</i>, Bauernmädchen und große Liebe Graf <i>Günther</i>s; Mutter von <i>Johanna</i>; nachdem sie und der Graf sich nicht vermählen dürfen, heiratet sie einen anderen gutmütigen Mann, der <i>Johanna</i> annimmt, als wäre sie seine eigene Tochter; stirbt bei der der Geburt ihres zweiten Kindes; von ihr wird nur erzählt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Geliebten des Grafen ist (stirbt)																					</label>
																					<input type="text" value="Annette" 
                                name="vars-Vater_Geliebte" maxlength="30" id="vars-Vater_Geliebte" 
                                data-fieldname="Vater_Geliebte" 
                                data-default="Annette" 
                                class="field focuser default" />
							<span class="field_count">13x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			<span class='default Vorname_Sie'>Charlotte</span> zupft nervös an ihrem <span class='default Farbe_Sie'>rot</span>en, nach <span class='default Duft_Sie'>Rosen</span> duftenden Kleid, und in ihren <span class='default Augen_Sie'>braun</span>en Augen spiegelt sich Furcht. Morgen ist ihre Hochzeit mit dem <span class='default Haare_Er'>braun</span>haarigen <span class='default Vorname_Er'>Anselm</span>, vor der ihre Freundin <span class='default Freundin2_Sie'></span> sie gewarnt hat. Doch die Tochter von <span class='default Vater_Sie'></span> zu <span class='default Burg_Sie'>Greifenstein</span> aus <span class='default Heimat_Sie'>MÃ¼nchen</span> verliebt sich sofort in seine <span class='default Augen_Er'>blau</span>en Augen und den angenehmen Duft nach <span class='default Duft_Er'>Moschus</span>. Bald wird ihr <span class='default Farbe_Er'>blau</span>gewandeter <span class='default Kose_Er'>Schatz</span> von Seiner Majestät Ludwig II. dazu berufen, Preußen gemeinsam mit seinem Freund <span class='default Freund1_Er'>Gerald</span> eine Botschaft zu überbringen. Eine gefährliche Reise beginnt. <span class='default Bruder_Er'>Falk</span>, der Bruder von <span class='default Vorname_Er'>Anselm</span>, arbeitet mit Frankreich zusammen. Er will das Erbe der Familie und die <span class='default Haare_Sie'>blond</span>haarige <span class='default Vorname_Sie'>Charlotte</span> an sich reißen. Sie entkommt ihm mit Hilfe ihrer Freunde <span class='default Freundin1_Sie'>Johanna</span> und <span class='default Freund2_Er'>Benedikt</span>. Als jedoch <span class='default Vorname_Er'>Anselm</span>s Vater, Graf <span class='default Vater_Er'>GÃ¼nther</span> von <span class='default Burg'>Herrenchiemsee</span>, trotz der Fürsorge seines Dieners <span class='default Vertrauter_Vater'>Bruno</span> und der Heilerin <span class='default Pferde_Hebamme'>Elfriede</span> stirbt, muss <span class='default Vorname_Sie'>Charlotte</span> aus Burg <span class='default Burg'>Herrenchiemsee</span> fliehen. Am Ende kann <span class='default Vorname_Er'>Anselm</span> aber seine <span class='default Kose_Sie'>Charly</span> aus dem Exil befreien.		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

