<?php $expire = 1405300062; /* http://web.personalnovel.local/customize/order/2051542/bookitem/8058859/widmungitem/8058860/step/2.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href="http://muttertag.personalnovel.de/"></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
		<span class="green cartsum" cartsum="76.87">
		76,87</span> 
		<span class="green">EUR </span> <br />inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
    	    	      <a class="cart-link"><img src="tl_files/personalnovel_de/cart.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:1000"></a>
	            
    <div id="cart-detail">
    
        
            <strong>1x 
        Schön, Klug, Bewaffnet                </strong>
        <span class="green">51,92 EUR</span><br/>
            <strong>1x 
        Hundsurlaub                </strong>
        <span class="green">24,95 EUR</span><br/>
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first ">
		Personen		</li>
		<li class="current">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
		<div class="step2">
	<form id="step2" method="post" action="/customize?order=2051542&bookitem=8058859&widmungitem=8058860&step=2">
		<input type=hidden name="step" value=2 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="formheader">
			<div class="left">
				<h1>Ihre persönliche Widmung</h1>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right controls">
				<h1 class="book-price" 
				old_price="0.00"
				price="24.95">24,95 EUR</h1>
				
								
				<button style="display:none; margin-bottom: 5px; border-right:solid 1px #CCC;" value="Widmung später eingeben &gt;&gt;" name="nextwithout" id="nextwithout" class="awesomebutton awesomewhite_gradient awesomeround" type="submit">
					<span><span>Widmung später eingeben &gt;&gt;</span></span>
				</button><br/>
				
								<button value="Weiter zur Einbandauswahl &gt;&gt;" name="submitter" id="nextpage" class="awesomebutton awesomegreen_gradient nextpage awesomeround" type="submit">
					<span><span>Weiter zur Einbandauswahl &gt;&gt;</span></span>
				</button>
								
								
			</div>
		</div>
		<div class="formdata">
			<div class="formitem clearfix">
				<div class="left">
				    <!--h3>Vorschau Ihrer Widmung</h3-->
					<h3><p class="fake_h3">1 - Geben Sie hier Ihre Widmung ein - die Vorschau sehen Sie rechts</p></h3>
					<p id="form_error" class="error" style="">
					Ihre Widmung enthält keinen Text.<br />
					Bitte geben Sie Ihre Widmung ein oder wählen Sie die Option "Standard".
					</p>
					<p class="error" id="texttoolong">
					Der Widmungstext ist zu lang. Bitte kürzen Sie Ihren Text.
					</p>
					<p class="error" id="texterror" style="">
					Folgende Sonderzeichen werden nicht unterstützt: </p>
					<p class="error" id="texterrorlength" style="">
				        Die Widmung darf nicht mehr als 300 Zeichen enthalten. <br />Bitte kürzen Sie den Text.</p>
				    
				        <p class="error" id="texterrorline" style="">
							Die Widmung darf nicht mehr als 16 Zeilen enthalten. <br />Bitte kürzen Sie den Text.</p>
					<input type="hidden" name="input_error" value="" />
										<textarea name="var_text" 
					id="var_text" class="notext">Hier bitte Ihre Widmung eingeben</textarea>
				
				    
					
					<!--h3>Widmung noch individueller gestalten: </h3-->
					<p class="fake_h3 fake_h3_sp"><h3>2 - Gestalten Sie Ihre Widmung</h3>
					<span class='fake_h3_2'>- optional in "Handschrift" und Farbe zzgl 4.99 EUR</span></p>
					<div class="top_bottom">
										
						<div class="top">
							<input type="radio" value="8830" name="artikel" id="artikel-0" 
								class="artikel" 
								checked=checked >
							<label for="artikel-0">
								<span class="article-name">Widmung "Standard"</span>
								<span class="article-price">
									
									Im Preis enthalten								</span>
																
							</label>
							
																					<div class="options clearfix">
								<div class="fontrow_radiobuttons">
																								<input type="radio" value="Century Schoolbook L" name="var_fontface" id="var_fontface_0" class="font" 
									checked=checkedchecked=checked								/>
								<img src="/system/modules/tt_manage_books/html/img/font1.png" 
								title="Fonts Widmung" class="fontrow_img" alt="Fonts Widmung" />
																																																																								</div>
							</div>
														
														
						</div>
					
										
						<div class="bottom">
							<input type="radio" value="8833" name="artikel" id="artikel-1" 
								class="artikel" 
								 >
							<label for="artikel-1">
								<span class="article-name">Widmung "Handschrift"</span>
								<span class="article-price">
									
									4.99 EUR								</span>
																<input type="hidden" name="widmungPrice" id="widmungPrice" price="4.99" value="0" />
																
							</label>
							
																					
														<div class="options">
								 <div class="radio_check_left">
									<div class="fontrow_radiobuttons">
																																																			<input type="radio" value="Century Schoolbook L" name="var_fontface" id="var_fontface_0" class="font" 
																							/>
																																																																							<input type="radio" value="Zapfino Extra LT" name="var_fontface" id="var_fontface_1" class="font" 
																							/>
																																																																																																														
									</div>
									
									<img src="/system/modules/tt_manage_books/html/img/font2_1.png" title="Fonts Widmung" class="fontrow_img" alt="Fonts Widmung" />
								</div>
								<div class="radio_check_right">
									<div class="fontrow_radiobuttons">
																																																																																																															<input type="radio" value="FreestyleScriptEF-Reg" name="var_fontface" id="var_fontface_2" class="font" 
																							/>
																																																																							<input type="radio" value="English157TT BT" name="var_fontface" id="var_fontface_3" class="font" 
																							/>
																																																		
									</div>
									
									<img src="/system/modules/tt_manage_books/html/img/font2_2.png" title="Fonts Widmung" class="fontrow_img" alt="Fonts Widmung" />
								</div>
							</div>
							
							<div style="clear:both;"></div>
							<div class="fontcolor_container onlyjs" style="display: block;">
								<label class='fake_3_2_choose' for="var_fontcolor">Wählen Sie Ihre Farbe durch Anklicken aus</label><br />
								<div class="img_color">
									<img style="background-color: black" class="fontcolor_blob" src="/system/modules/tt_manage_books/html/img/transparent_dot_3d.png" id="fontcolor_blob_black" />
									<img style="background-color: darkred" class="fontcolor_blob" src="/system/modules/tt_manage_books/html/img/transparent_dot_3d.png" id="fontcolor_blob_darkred" />
									<img style="background-color: darkgreen" class="fontcolor_blob" src="/system/modules/tt_manage_books/html/img/transparent_dot_3d.png" id="fontcolor_blob_darkgreen" />
									<img style="background-color: blue" class="fontcolor_blob" src="/system/modules/tt_manage_books/html/img/transparent_dot_3d.png" id="fontcolor_blob_blue" />
									<img style="background-color: darkmagenta" class="fontcolor_blob" src="/system/modules/tt_manage_books/html/img/transparent_dot_3d.png" id="fontcolor_blob_darkmagenta" />
									<input type="hidden" name="var_fontcolor" value="black" />
								</div>
							</div>
														
						</div>
					
										</div>
					
					<p class="fake_h3 fake_h3_sp">3 - Vorlagen und Beispiele - "Widmung übernehmen" anklicken</p>
					<div id="tabsdiv">
						<ul class="tabheader clearfix">
														<li class="first"><a href="#festtage">Festtage</a></li>
							<li><a href="#weihnachten">Weihnachten</a></li>
							<li><a href="#liebe">Liebe</a></li>
							<li><a href="#freunde">Freunde</a></li>
							<li class="last"><a href="#fernbeziehung">Fernbeziehung</a></li>
													</ul>
						
												<div id="liebe">
														<span class="clearfix">
								<p class="widmung">Glück ist das Einzige,<br />das sich verdoppelt,<br />wenn man es teilt.<br />In Liebe,<br />Dein(e) ...</p>
								<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
							</span>
														<span class="clearfix">
								<p class="widmung">Für ...<br />Du verschönerst mein Leben seit ... Tagen und ich hoffe, Du hörst nie damit auf!<br />Ich liebe Dich,<br />Dein(e) ...</p>
								<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
							</span>
														<span class="clearfix">
								<p class="widmung">Was wär der Apfel ohne -sine,<br />was wär veränder ohne -lich ?<br />Was wären Vita ohne -mine<br />und was wär ich nur ohne Dich ...<br />Für immer,<br />Dein(e) ...</p>
								<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
							</span>
														<span class="clearfix">
								<p class="widmung">Für die Liebe meines Lebens,<br />Dein(e)...</p>
								<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
							</span>
														<span class="clearfix">
								<p class="widmung">Dich<br />Dich nicht näher denken<br />und Dich nicht weiter denken<br />Dich denken wo Du bist<br />weil Du dort wirklich bist<br />Dich nicht älter denken<br />und Dich nicht jünger denken<br />nicht größer nicht kleiner<br />nicht hitziger und nicht kälter<br />Dich denken und mich nach Dir sehnen<br />Dich sehen wollen<br />und Dich lieb haben<br />so wie Du wirklich bist<br /><br />Ich liebe Dich! Dein(e) ...</p>
								<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
							</span>
														<span class="clearfix">
								<p class="widmung">Dieses Büchlein ist ein Valentinstagsgeschenk<br />nur für Dich gemacht und soll Dir sagen,<br />dass ich immer für Dich da sein werde,<br />und immer und überall an Dich denken muss ...<br />Ich liebe Dich,<br />Dein(e) ...</p>
								<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
							</span>
													</div>
						<div id="freunde">
														<span>
								<p class="widmung">Wahre Freunde zeigen sich immer<br />in der schwersten Not.<br /><br />Liebe(r) …,<br />danke für deine Freundschaft!<br />Dein(e) …</p>
								<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
							</span><br /><br />
														<span>
								<p class="widmung">Liebe(r) …,<br /><br />Blumen blühen nur kurze Zeit,<br />doch Freundschaft hält für die Ewigkeit.<br /><br />…und dieses Buch soll dich auf ewig an unsere wunderbare Freundschaft erinnern!<br /><br />Dein(e) beste(r) Freund(in) …</p>
								<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
							</span><br /><br />
														<span>
								<p class="widmung">Liebe(r) …,<br /><br />Unsere Freundschaft, die soll wurzeln,<br />bis wir in den Sarg reinpurzeln.<br /><br />Dein(e) …</p>
								<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
							</span><br /><br />
														<span>
								<p class="widmung">Liebe(r) …,<br /><br />dieses Buch ist dir gewidmet, dem/der besten Freund(in) der Welt!<br />Ich danke dir für alles, was du für mich getan hast!<br /><br />Dein(e) …</p>
								<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
							</span><br /><br />
													</div>
						<div id="fernbeziehung">
														<span>
								<p class="widmung">Für meine(n) ...<br /><br />Entfernungen sind ohne Bedeutung.<br />Sich nahe zu sein,<br />ist Sache des Herzens.<br /><br />Dein(e) ...</p>
								<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
							</span><br /><br />
													</div>
						<div id="festtage">
							<ul id="tabsub">
								<li class="first"><a href="#geburtstag">Geburtstag</a></li>
								<li><a href="#hochzeit">Hochzeit</a></li>
								<li><a href="#jahrestag">Jahrestag</a></li>
								<li class="last"><a href="#muttertag">Muttertag</a></li>
							</ul>
							
							<div id="geburtstag">
																<span>
									<p class="widmung">Zum Geburtstag für einen ganz besonderen Menschen<br />- ein ganz besonderes Geschenk!<br />In unendlicher Liebe,<br />Dein(e) ...</p>
									<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
								</span><br /><br />
																<span>
									<p class="widmung">Für die Welt bist Du irgendjemand,<br />für irgendjemand bist Du die Welt!<br />Zu Deinem ...ten Geburtstag,<br />Dein(e) ...</p>
									<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
								</span><br /><br />
																<span>
									<p class="widmung">Für ...,<br />der Funke in meinem Leben,<br />der mein Feuer entfacht.<br />Möge es für immer brennen ...<br />Zu Deinem ...ten Geburtstag,<br />in ewiger Liebe,<br />Dein(e) ...</p>
									<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
								</span><br /><br />
																<span>
									<p class="widmung">Zu Deinem ...ten Geburtstag<br />schenke ich Dir ein Stück<br />unserer Liebe - zum Nachlesen!<br />Dein(e) ...</p>
									<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
								</span><br /><br />
															</div>
							
							<div id="hochzeit">
																<span>
									<p class="widmung">Die Liebe ist ein Stoff, den die Natur gewebt und die Phantasie bestickt hat.<br />(Voltaire)<br />Alles Liebe zur Hochzeit und viel Freude, Glück und Gesundheit für Euren gemeinsamen Lebensweg!</p>
									<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
								</span><br /><br />
																<span>
									<p class="widmung">Liebe ist das Einzige, was wächst, indem wir es verschwenden.<br />(Ricarda Huch)<br />Möge Eure Liebe allezeit Euer gemeinsames Leben bestimmen!</p>
									<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
								</span><br /><br />
																<span>
									<p class="widmung">Ein ganz besonderes Buch für ein ganz besonderes Paar, zur Erinnerung an den schönsten Tag Eures Lebens.<br />Herzlichen Glückwunsch zur Hochzeit und alles Gute für Eure gemeinsame Zukunft!</p>
									<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
								</span><br /><br />
																<span>
									<p class="widmung">Es gibt geheime Türen im Palast der Seele, die man allein niemals entdecken wird - nur ein anderer vermag sie zu öffnen mit den Händen der Liebe.<br />Ich liebe Dich!<br />Dein(e) ...</p>
									<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
								</span><br /><br />
																<span>
									<p class="widmung">Zu unserer Hochzeit (Zu unserem Hochzeitstag) möchte ich Dir ein ganz besonderes Geschenk machen: unseren eigenen Liebesroman.<br />In inniger Liebe<br />Dein(e) ...</p>
									<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
								</span><br /><br />
																<span>
									<p class="widmung">Vergiß nie meine wahre Liebe zu Dir, denn sie wird für immer bestehen!<br />Mit Liebe, Hoffnung, Geduld, aber vor allem mit Respekt und Glauben zueinander werden wir alles gemeinsam erreichen.<br />Ich freue mich auf unsere Hochzeit am ...<br />In ewiger Liebe, Dein(e) ...</p>
									<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
								</span><br /><br />
																<span>
									<p class="widmung">Ein ganz besonderes Buch zur Erinnerung an unsere Liebe.<br />Für immer und ewig,<br />Dein(e) ...</p>
									<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
								</span><br /><br />
															</div>
							
							<div id="jahrestag">
																<span>
									<p class="widmung">Für meinen besten Freund,<br />meinen Partner und Gefährten ...<br />In inniger Liebe,<br />Dein(e) ...</p>
									<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
								</span><br /><br />
																<span>
									<p class="widmung">Ein kleiner Dank für die vergangenen ... traumhaften Jahre.<br />Es ist einfacher, eine Sternschnuppe vom Himmel zu fangen,<br />als noch einmal so einen Menschen zu finden wie Dich.<br />In Liebe für immer,<br />Dein(e) ...</p>
									<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
								</span><br /><br />
																<span>
									<p class="widmung">Für einen einzigartigen Menschen,<br />wunderbaren Mann,<br />rassigen Liebhaber<br />und wahren Freund...<br />In Liebe,<br />Dein(e) ...</p>
									<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
								</span><br /><br />
																<span>
									<p class="widmung">Dieses Buch ist einer einzigartigen Frau gewidmet,<br />deren unvergleichliche Schönheit, Leidenschaft, Charakter und Liebe<br />sie zum wundervollsten Menschen dieser Welt machen.<br />Mit tiefer Bewunderung und großer ewiger Liebe,<br />Dein(e) ...</p>
									<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
								</span><br /><br />
															</div>
							
							<div id="muttertag">
																<span>
									<p class="widmung">Du bist die Eine,<br />die niemand jemals wird ersetzen können.<br /><br />In unendlicher Liebe,<br />Dein(e) ...</p>
									<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
								</span><br /><br />
																<span>
									<p class="widmung">Deine Liebe ist das größte Geschenk auf dieser Welt.<br /><br />Danke für alles, Dein(e) ...</p>
									<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
								</span><br /><br />
																<span>
									<p class="widmung">Mütter beschreiten manche Wege,<br />die Engel befürchten zu gehen.<br /><br />In Liebe,<br />Dein(e) ...</p>
									<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
								</span><br /><br />
																<span>
									<p class="widmung">Diesen Muttertag möchte ich mein Bestes tun,<br />um Dir Dank und Anerkennung für all das zu zeigen,<br />was Du für mich getan hast, tust und noch tun wirst ...<br /><br />In Liebe,<br />Dein(e) ...</p>
									<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
								</span><br /><br />
																<span>
									<p class="widmung">Wenn ich einmal Mutter bin, so möchte ich wie Du sein!<br /><br />In Dankbarkeit und Liebe,<br />Deine ...</p>
									<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
								</span><br /><br />
															</div>
						</div>
						
						<div id="weihnachten">
														<span>
								<p class="widmung">Zu Weihnachten,<br />dem Fest der Liebe,<br />von Deinem(r) ...</p>
								<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
							</span><br /><br />
														<span>
								<p class="widmung">Wenn kleine Engel schlafen gehen,<br />kann man das am Himmel sehen.<br />Denn für jeden Engel leuchtet ein Stern,<br />Deinen seh' ich ganz besonders gern!<br />Weihnachten 2012,<br />Dein(e) ...</p>
								<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
							</span><br /><br />
														<span>
								<p class="widmung">Ich wünsche Dir ein frohes und glückliches Weihnachtsfest<br />und alles Glück dieser Welt!<br />In Liebe,<br />Dein(e) ...</p>
								<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
							</span><br /><br />
														<span>
								<p class="widmung">Zu unserem ...ten gemeinsamen Weihnachtsfest!<br />Ich hoffe, es folgen noch viele ...<br />Dein(e) ...</p>
								<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
							</span><br /><br />
														<span>
								<p class="widmung">Zu Weihnachten<br />für den wundervollsten Menschen auf dieser Welt.<br />Schön, dass es dich gibt!<br />In unendlicher Liebe,<br />Dein(e) ...</p>
								<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
							</span><br /><br />
														<span>
								<p class="widmung">Weihnachten 2012<br />Wir für die Ewigkeit ...<br />Ich liebe Dich,<br />Dein(e) ...</p>
								<a href="#" class="copy_me" style="display: inline;">Widmung übernehmen</a>
							</span><br /><br />
													</div>
											</div>
					
				</div>
				<div class="right">
				    <p class="fake_h3"><h3>Hier Ihre Vorschau</h3></p>
					<div class="img_preview">
					    <input type="hidden" id="widmung_image_url" value="http://preview.personalnovel.de" />
					    <a class="lightbox" href="http://preview.personalnovel.de/preview/WidmungItem/7118343/87bfde7fd52b178fe99321e56101801c.png?width=750&text=&fontface=Century Schoolbook L&fontcolor=black&fontsize=10">

						<img class="img_widmung" src="http://preview.personalnovel.de/preview/WidmungItem/7118343/87bfde7fd52b178fe99321e56101801c.png?width=510&text=&fontface=Century Schoolbook L&fontcolor=black"/>
					 </a>
					 	<div class="img_corner"></div>
					 	<img src="/system/modules/tt_manage_books/html/img/twirly_circleball_white_big.gif" id="twirly">
					 </div>
				</div>
			</div>
			
			<div class="formitem">
				<div class="controls right">
				    				    
										<button style=" display:none; margin-bottom: 5px; border-right:solid 1px #CCC;" value="Widmung später eingeben &gt;&gt;" name="nextwithout" id="nextwithout" class="awesomebutton awesomewhite_gradient awesomeround" type="submit">
						<span><span>Widmung später eingeben &gt;&gt;</span></span>
					</button><br/>
					<button value="Weiter zur Einbandauswahl &gt;&gt;" name="submitter" id="nextpage" class="awesomebutton awesomegreen_gradient nextpage awesomeround" type="submit">
						<span><span>Weiter zur Einbandauswahl &gt;&gt;</span></span>
					</button>
										
									</div>
			</div>
		</div>
	</form>
</div>

<style>
	.img_widmung, .lightbox{
	cursor: move;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	}
	.step2 .fake_h3_sp{
		padding-top:20px;
	}
	.step2 .fake_h3_2{
		padding-left:40px;
	}
	.step2 .fake_3_2_choose{
		padding-left:25px;
	}
	.step2 .img_color{
		text-align:center;
	}
	.step2 .img_color img{
		margin-left:15px;
	}
	.radio_check_left,radio_check_right{float:left}
	h3{
		margin: 0px;
		padding:0px;
		font-family: Arial;
		font-size: 9pt;
	}
	#step2 .formdata .left .bottom .options .fontrow_radiobuttons {
		float: left;
		margin-top: -5px;
		width: 25px;
	}
	#step2 .formdata .left .top {
		border: none;
		padding: 5px;
		background-color: white;
	}
	#step2 .formdata .left .bottom {
		border: none;
		margin-top: 5px;
		padding: 5px;
		background-color: white;
	}
	#step2 .formdata .left .top_bottom {	
		border: 1px solid #C4C4C4;
	}
</style>										
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

