<?php $expire = 1405314029; /* http://web.personalnovel.local/customize/book/50.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
		<span class="green cartsum" cartsum="24.95">
		24,95</span> 
		<span class="green">EUR </span> <br />inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
    	    	     <a class="cart-link" href="http://web.personalnovel.local/checkout?order=2051544&step=Warenkorb"><img src="tl_files/personalnovel_de/cart.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:1000"></a>
	            
    <div id="cart-detail">
    
        
            <strong>1x 
        Kalender                </strong>
        <span class="green">24,95 EUR</span><br/>
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=50">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Die Tote ohne Namen" src="/tl_files/thumbnail-book/die-tote-ohne-namen-50-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Die Tote ohne Namen“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-50" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Männliche Hauptrolle (Teil 1+2)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Bount Reiniger</i>, erfolgreicher Privatdetektiv; behält stets einen kühlen Kopf; mutig und geschickt im Umgang mit seinem Revolver; Raucher; sympathischer Charakter. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Privatdetektivs ist																					</label>
																					<input type="text" value="Bount" 
                                name="vars-Sein_Vorname" maxlength="30" id="vars-Sein_Vorname" 
                                data-fieldname="Sein_Vorname" 
                                data-default="Bount" 
                                class="field focuser default" />
							<span class="field_count">751x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Privatdetektivs ist																					</label>
																					<input type="text" value="Reiniger" 
                                name="vars-Sein_Nachname" maxlength="30" id="vars-Sein_Nachname" 
                                data-fieldname="Sein_Nachname" 
                                data-default="Reiniger" 
                                class="field focuser default" />
							<span class="field_count">126x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe des Privatdetektivs ist																					</label>
																					<input type="text" value="blond" 
                                name="vars-Sein_Haar" maxlength="30" id="vars-Sein_Haar" 
                                data-fieldname="Sein_Haar" 
                                data-default="blond" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des Privatdetektivs ist																					</label>
																					<input type="text" value="blau" 
                                name="vars-Seine_Augen" maxlength="30" id="vars-Seine_Augen" 
                                data-fieldname="Seine_Augen" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Das Auto des Detektivs ist ein																					</label>
																					<input type="text" value="Mercedes 500 SL" 
                                name="vars-Sein_Auto" maxlength="30" id="vars-Sein_Auto" 
                                data-fieldname="Sein_Auto" 
                                data-default="Mercedes 500 SL" 
                                class="field focuser default" />
							<span class="field_count">26x</span>
						</div>
											<div class="field">
							<label>
							Das Auto des Detektivs hat die Farbe																					</label>
																					<input type="text" value="schwarz" 
                                name="vars-Auto_Farbe" maxlength="30" id="vars-Auto_Farbe" 
                                data-fieldname="Auto_Farbe" 
                                data-default="schwarz" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Assistentin der männlichen Hauptrolle (Teil 1+2)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>June March</i>, <i>Bount</i>s Assistentin; attraktiv mit langen Haaren; fährt einen roten Sportwagen; wird in der zweiten Geschichte entführt, bleibt aber unversehrt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Assistentin des Detektivs ist																					</label>
																					<input type="text" value="June" 
                                name="vars-Ihr_Vorname" maxlength="30" id="vars-Ihr_Vorname" 
                                data-fieldname="Ihr_Vorname" 
                                data-default="June" 
                                class="field focuser default" />
							<span class="field_count">84x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Assistentin des Detektivs ist																					</label>
																					<input type="text" value="March" 
                                name="vars-Ihr_Nachname" maxlength="30" id="vars-Ihr_Nachname" 
                                data-fieldname="Ihr_Nachname" 
                                data-default="March" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Assistentin des Detektivs ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Ihr_Haar" maxlength="30" id="vars-Ihr_Haar" 
                                data-fieldname="Ihr_Haar" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Assistentin des Detektivs ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Ihre_Augen" maxlength="30" id="vars-Ihre_Augen" 
                                data-fieldname="Ihre_Augen" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Chef des Morddezernats (Teil 1+2)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Toby Rogers</i>, Chef des Morddezernats in New York; guter Freund des Privatdetektivs; korpulent.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Polizeichefs ist																					</label>
																					<input type="text" value="Toby" 
                                name="vars-Polizeichef_vn" maxlength="30" id="vars-Polizeichef_vn" 
                                data-fieldname="Polizeichef_vn" 
                                data-default="Toby" 
                                class="field focuser default" />
							<span class="field_count">33x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Polizeichefs ist																					</label>
																					<input type="text" value="Rogers" 
                                name="vars-Polizeichef_nn" maxlength="30" id="vars-Polizeichef_nn" 
                                data-fieldname="Polizeichef_nn" 
                                data-default="Rogers" 
                                class="field focuser default" />
							<span class="field_count">139x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Lieutenant (Teil 1+2)</div>
				<div class="description" style="margin-top: 5px;display:none">Lieutenant <i>Clarke</i>, Polizist, der bei den Mordermittlungen assistiert; groß und schlank; lockiges Haar; Raucher.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Lieutenants ist																					</label>
																					<input type="text" value="Clarke" 
                                name="vars-Lieutenant" maxlength="30" id="vars-Lieutenant" 
                                data-fieldname="Lieutenant" 
                                data-default="Clarke" 
                                class="field focuser default" />
							<span class="field_count">30x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ermittelnder Lieutenant (Teil 1)</div>
				<div class="description" style="margin-top: 5px;display:none">Lieutenant <i>Browne</i>, der ermittelnde Lieutenant bei der Mordkommision in Yonkers; klein und drahtig; miesepetriger Zeitgenosse; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname eines weiteren Lieutenant ist																					</label>
																					<input type="text" value="Browne" 
                                name="vars-Polizist" maxlength="30" id="vars-Polizist" 
                                data-fieldname="Polizist" 
                                data-default="Browne" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Stripclubbesitzer (Teil 1)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Willis</i>, Stripclubbesitzer; wird von Bount während seiner Ermittlungen befragt; kleine Rolle.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Stripclubbetreibers ist																					</label>
																					<input type="text" value="Willis" 
                                name="vars-Diskochef" maxlength="30" id="vars-Diskochef" 
                                data-fieldname="Diskochef" 
                                data-default="Willis" 
                                class="field focuser default" />
							<span class="field_count">16x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Drogenbaron (Teil 1)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Harry Dominguez</i>, Drogenbaron, dem Kokain gestohlen wurde; um die 50 Jahre alt; sonnengebräunt; graue, lockige Haare; wird am Ende überführt und verhaftet.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Drogenbarons ist																					</label>
																					<input type="text" value="Harry" 
                                name="vars-Drogenbaron_vn" maxlength="30" id="vars-Drogenbaron_vn" 
                                data-fieldname="Drogenbaron_vn" 
                                data-default="Harry" 
                                class="field focuser default" />
							<span class="field_count">21x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Drogenbarons ist																					</label>
																					<input type="text" value="Dominguez" 
                                name="vars-Drogenbaron_nn" maxlength="30" id="vars-Drogenbaron_nn" 
                                data-fieldname="Drogenbaron_nn" 
                                data-default="Dominguez" 
                                class="field focuser default" />
							<span class="field_count">102x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Leibwächter des Drogenbarons (Teil 1)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Fowler</i>, Leibwächter von <i>Dominguez</i>, der diesen zusammen mit den Zwillingsschwestern beklaut hat; klein und sehr kräftig; dunkle Locken; wird erschossen.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Leibwächter des Drogenbarons heißt mit Nachnamen (stirbt)																					</label>
																					<input type="text" value="Fowler" 
                                name="vars-Leibwächter" maxlength="30" id="vars-Leibwächter" 
                                data-fieldname="Leibwächter" 
                                data-default="Fowler" 
                                class="field focuser default" />
							<span class="field_count">40x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Dealer (Teil 1)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Lacroix</i>, Dealer; groß und aschblondes Haar; steckt auch in dem Komplott und wird ebenfalls erschossen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Dealers ist (stirbt)																					</label>
																					<input type="text" value="Lacroix" 
                                name="vars-Dealer" maxlength="30" id="vars-Dealer" 
                                data-fieldname="Dealer" 
                                data-default="Lacroix" 
                                class="field focuser default" />
							<span class="field_count">47x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Junge Venezuelanerin (Teil 1)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Teresa Marquez</i>, junge, hübsche Venezuelanerin; dunkeläugig; blau-schwarzes Haar; wurde mit ihrer Zwillingsschwester nach New York geschleust, wo sie schon in mehreren Nachtclubs gearbeitet hat; bestiehlt zusammen mit <i>Fowler</i> und ihrer Schwester <i>Dominguez</i>, der ihnen daraufhin Schlägertypen auf den Hals hetzt; kann sich im Gegensatz zu ihrer Schwester <i>Isabel</i> retten.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der hübschen Diebin ist																					</label>
																					<input type="text" value="Teresa" 
                                name="vars-Schwester1" maxlength="30" id="vars-Schwester1" 
                                data-fieldname="Schwester1" 
                                data-default="Teresa" 
                                class="field focuser default" />
							<span class="field_count">44x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Zwillingsschwester der Venezuelanerin (Teil 1)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Isabel Marquez</i>, Zwillingsschwester von <i>Teresa</i>, tritt nur als Leiche in Erscheinung.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Zwillingsschwester der hübschen Diebin ist (stirbt)																					</label>
																					<input type="text" value="Isabel" 
                                name="vars-Schwester2" maxlength="30" id="vars-Schwester2" 
                                data-fieldname="Schwester2" 
                                data-default="Isabel" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Zwillingsschwestern ist																					</label>
																					<input type="text" value="Marquez" 
                                name="vars-Schwester_nn" maxlength="30" id="vars-Schwester_nn" 
                                data-fieldname="Schwester_nn" 
                                data-default="Marquez" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Schlägertyp (Teil 1)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Peters</i>, einer der Schlägertypen, die <i>Dominguez</i> den Schwestern auf den Hals hetzt; blond und blauäugig (wird mehrmals als "der Blonde" tituliert). </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des blonden Schlägers ist																					</label>
																					<input type="text" value="Peters" 
                                name="vars-Blonder" maxlength="30" id="vars-Blonder" 
                                data-fieldname="Blonder" 
                                data-default="Peters" 
                                class="field focuser default" />
							<span class="field_count">19x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Zweiter Schlägertyp (Teil 1)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>McCarthy</i>, arbeitet zusammen mit <i>Peters</i> für <i>Dominguez</i>; dunkelhaarig (wird mehrmals als "der Dunkelhaarige" tituliert).</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des dunkelhaarigen Schlägers ist																					</label>
																					<input type="text" value="McCarthy" 
                                name="vars-Brauner" maxlength="30" id="vars-Brauner" 
                                data-fieldname="Brauner" 
                                data-default="McCarthy" 
                                class="field focuser default" />
							<span class="field_count">18x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mordopfer (Teil 2)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Steve Tierney</i>, Privatdetektiv; wird gleich zu Beginn ermordet; wie sich später herausstellt, war er einer Organisation auf der Spur, die sich mit Insider-Geschäften an der Börse bereichert.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des ermordeten Detektivs ist																					</label>
																					<input type="text" value="Steve" 
                                name="vars-Detektiv_vn" maxlength="30" id="vars-Detektiv_vn" 
                                data-fieldname="Detektiv_vn" 
                                data-default="Steve" 
                                class="field focuser default" />
							<span class="field_count">20x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des ermordeten Detektivs ist																					</label>
																					<input type="text" value="Tierney" 
                                name="vars-Detektiv_nn" maxlength="30" id="vars-Detektiv_nn" 
                                data-fieldname="Detektiv_nn" 
                                data-default="Tierney" 
                                class="field focuser default" />
							<span class="field_count">112x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Witwe (Teil 2)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Karen Tierney</i>, Ehefrau von <i>Steve Tierney</i>; Mutter von <i>Michael</i>; feuerrote Haare und dunkle Augen; zierlich und hübsch.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Frau des ermordeten Detektivs ist																					</label>
																					<input type="text" value="Karen" 
                                name="vars-Detektiv_Frau" maxlength="30" id="vars-Detektiv_Frau" 
                                data-fieldname="Detektiv_Frau" 
                                data-default="Karen" 
                                class="field focuser default" />
							<span class="field_count">26x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Sohn des Mordopfers (Teil 2)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Michael Tierney</i>, der fast zehnjährige Sohn der <i>Tierney</i>s. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Sohnes des ermordeten Detektivs ist																					</label>
																					<input type="text" value="Michael" 
                                name="vars-Detektiv_Sohn" maxlength="30" id="vars-Detektiv_Sohn" 
                                data-fieldname="Detektiv_Sohn" 
                                data-default="Michael" 
                                class="field focuser default" />
							<span class="field_count">17x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Auftragsmörder (Teil 2)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Leonard</i>, Auftragsmörder, der <i>Steve Tierney</i> umbringt; ermordert zwei weitere Personen, wird aber am Ende selbst umgebracht; groß und schlank; sehr blass mit hypnotischen Augen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Auftragsmörders ist (stirbt)																					</label>
																					<input type="text" value="Leonard" 
                                name="vars-Verdächtiger" maxlength="30" id="vars-Verdächtiger" 
                                data-fieldname="Verdächtiger" 
                                data-default="Leonard" 
                                class="field focuser default" />
							<span class="field_count">62x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Geliebte des Auftragsmörders (Teil 2)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Grace</i>, die Geliebte von <i>Leonard</i>; jung und hübsch; sie befindet sich in der Wohnung, als die Polizei und <i>Bount</i> <i>Leonard</i> festnehmen wollen; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Geliebten des Auftragsmörders ist																					</label>
																					<input type="text" value="Grace" 
                                name="vars-Verd_Frau" maxlength="30" id="vars-Verd_Frau" 
                                data-fieldname="Verd_Frau" 
                                data-default="Grace" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Banker (Teil 2)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Greg Lafitte</i>, Leiter der Investment-Abteilung einer Bank; ist an den Insider-Geschäften beteiligt; er ist der Mörder von <i>Leonard</i>, wird aber am Ende selbst auf offener Straße erschossen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Bankers ist (stirbt)																					</label>
																					<input type="text" value="Greg" 
                                name="vars-Banker_vn" maxlength="30" id="vars-Banker_vn" 
                                data-fieldname="Banker_vn" 
                                data-default="Greg" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Bankers  ist (stirbt)																					</label>
																					<input type="text" value="Lafitte" 
                                name="vars-Banker_nn" maxlength="30" id="vars-Banker_nn" 
                                data-fieldname="Banker_nn" 
                                data-default="Lafitte" 
                                class="field focuser default" />
							<span class="field_count">57x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ehefrau des Bankers (Teil 2)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Jennifer Lafitte</i>, die Frau des Bankers; brünett; wirkt sehr sportlich; tiefe Stimme; sie hat <i>Steve Tierney</i> beauftragt, ihren Mann zu beschatten, woraufhin dieser auf dessen dubiose Geschäfte stieß.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Frau des Bankers ist																					</label>
																					<input type="text" value="Jennifer" 
                                name="vars-Banker_Frau" maxlength="30" id="vars-Banker_Frau" 
                                data-fieldname="Banker_Frau" 
                                data-default="Jennifer" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Notar (Teil 2)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Reynolds</i>, der Notar, der <i>Bount</i> den Auftrag des ermordeten Detektivs überreicht; sehr kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Notars ist																					</label>
																					<input type="text" value="Reynolds" 
                                name="vars-Notar" maxlength="30" id="vars-Notar" 
                                data-fieldname="Notar" 
                                data-default="Reynolds" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Börsenmakler (Teil 2)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Hamill</i>, ein Börsenmakler, der für die Organisation arbeitet; Mitte 30; elegant gekleidet; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Börsenmaklers ist																					</label>
																					<input type="text" value="Hamill" 
                                name="vars-Makler" maxlength="30" id="vars-Makler" 
                                data-fieldname="Makler" 
                                data-default="Hamill" 
                                class="field focuser default" />
							<span class="field_count">28x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Buchmacher (Teil 2)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Smith</i>, der angebliche Buchmacher; in Wahrheit vermittelt er Auftragsmorde; klein und hager mit übergroßen Tränensäcken; sehr kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Buchmachers ist																					</label>
																					<input type="text" value="Smith" 
                                name="vars-Buchmacher" maxlength="30" id="vars-Buchmacher" 
                                data-fieldname="Buchmacher" 
                                data-default="Smith" 
                                class="field focuser default" />
							<span class="field_count">27x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mittelsmann im Bankkomplott (Teil 2)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Rick Mariner</i>, ein Mittelsmann im undurchsichtigen Bankkomplott; grauhaarig; hochgewachsen. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Mittelsmanns ist																					</label>
																					<input type="text" value="Rick" 
                                name="vars-Mittelsmann_vn" maxlength="30" id="vars-Mittelsmann_vn" 
                                data-fieldname="Mittelsmann_vn" 
                                data-default="Rick" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Mittelsmanns ist																					</label>
																					<input type="text" value="Mariner" 
                                name="vars-Mittelsmann_nn" maxlength="30" id="vars-Mittelsmann_nn" 
                                data-fieldname="Mittelsmann_nn" 
                                data-default="Mariner" 
                                class="field focuser default" />
							<span class="field_count">19x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Stellvertreterin des Bankers (Teil 2)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Moira Jordan</i>, <i>Greg Lafitte</i>s Stellvertreterin; dunkelhaarig mit braunen Augen; jung und attraktiv; sie ist "Charley", der die Morde in Auftrag gegeben hat; wird am Ende überführt und festgenommen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Drahtzieherin ist																					</label>
																					<input type="text" value="Moira" 
                                name="vars-Mörderin_vn" maxlength="30" id="vars-Mörderin_vn" 
                                data-fieldname="Mörderin_vn" 
                                data-default="Moira" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der  Drahtzieherin ist																					</label>
																					<input type="text" value="Jordan" 
                                name="vars-Mörderin_nn" maxlength="30" id="vars-Mörderin_nn" 
                                data-fieldname="Mörderin_nn" 
                                data-default="Jordan" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			<span class='default Sein_Vorname'>Bount</span> <span class='default Sein_Nachname'>Reiniger</span> steigt aus seinem <span class='default Auto_Farbe'>schwarz</span>en <span class='default Sein_Auto'>Mercedes 500 SL</span> und fährt sich nervös durch das <span class='default Sein_Haar'>blond</span>e Haar. Seine <span class='default Ihr_Haar'>braun</span>haarige, <span class='default Ihre_Augen'>braun</span>äugige Assistentin <span class='default Ihr_Vorname'>June</span> <span class='default Ihr_Nachname'>March</span> blickt ihm besorgt in die <span class='default Seine_Augen'>blau</span>en Augen. Der Polizeichef <span class='default Polizeichef_vn'>Toby</span> <span class='default Polizeichef_nn'>Rogers</span> und der Lieutenant <span class='default Lieutenant'>Clarke</span> haben keine guten Nachrichten: Dealer <span class='default Dealer'>Lacroix</span> ist immer noch auf freiem Fuß, und die Schwestern <span class='default Schwester1'>Teresa</span> und <span class='default Schwester2'>Isabel</span> <span class='default Schwester_nn'>Marquez</span> sind in großer Gefahr. Seit sie den Drogenbaron <span class='default Drogenbaron_vn'>Harry</span> <span class='default Drogenbaron_nn'>Dominguez</span> bestohlen haben, werden sie von seinen Schlägern <span class='default Blonder'>Peters</span> und <span class='default Brauner'>McCarthy</span> verfolgt. Der störrische Polizist <span class='default Polizist'>Browne</span> macht die Aufklärung nicht leichter, ebensowenig der Stripclubbesitzer <span class='default Diskochef'>Willis</span> und der Leibwächter <span class='default Leibwächter'></span>. In einem weiteren Fall wird der ehemalige Detektiv <span class='default Detektiv_vn'>Steve</span> <span class='default Detektiv_nn'>Tierney</span> ermordet. Er lässt seine Frau <span class='default Detektiv_Frau'>Karen</span> und seinen Sohn <span class='default Detektiv_Sohn'>Michael</span> zurück. Für den Notar <span class='default Notar'>Reynolds</span> gibt es viel zu tun, denn es folgen weitere Morde: Zunächst werden <span class='default Verdächtiger'></span> und seine Geliebte <span class='default Verd_Frau'>Grace</span> verdächtigt, doch wie der Bankangestellte <span class='default Banker_vn'>Greg</span> <span class='default Banker_nn'>Lafitte</span> wird er bald ebenfalls ermordet. Die Frau des Bankers, <span class='default Banker_Frau'>Jennifer</span>, glaubt, dass es sich bei dem Mörder um den Makler <span class='default Makler'>Hamill</span>, den Buchmacher <span class='default Buchmacher'>Smith</span>, den Mittelsmann <span class='default Mittelsmann_vn'>Rick</span> <span class='default Mittelsmann_nn'>Mariner</span> oder die Kollegin ihres Mannes, <span class='default Mörderin_vn'></span> <span class='default Mörderin_nn'></span>, handeln könnte. 		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

