<?php $expire = 1403585286; /* http://web.personalnovel.local/customize/book/423.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=423">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Sommermärchen mit Nebenwirkung" src="/tl_files/thumbnail-book/sommermaerchen-mit-nebenwirkung-423-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Sommermärchen mit Nebenwirkung“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-423" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weibliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Pippa Pagels</i>, junge Fußballspielerin; spielt in der zweiten Mannschaft des 1. FFC <i>Potsdam</i>; studiert VWL; trainiert eine Kindergartenmannschaft; Fußball ist ihr Leben; Star ihrer Mannschaft; ambitioniert; optimistisch; trainiert ab und zu bei der sehr erfolgreichen ersten Mannschaft des 1. FFC <i>Potsdam</i> mit; durch den Unfall einer Spielerin wird sie für die Nationalmannschaft nominiert; bei ihrem ersten Einsatz bei der WM brilliert sie sogleich als Mannschaftsspielerin; verstaucht sich dabei den Knöchel und nimmt gegen die Schmerzen Tabletten; wird wegen Dopingverdacht kurzzeitig gesperrt, aber rechtzeitig fürs Viertelfinale rehabilitiert; verschenkt Teile ihrer Ausrüstung an einen Fanclub; mit der darin befindlichen Keycard verschafft sich ein Fan Zutritt zu dem Fitnessbereich des Hotels, wo er eine Kamera installiert und Nacktfotos von der Mannschaft macht, deren Veröffentlichung in einer Zeitung für Furore sorgen; <i>Pippa</i> findet erst am Schluss heraus, dass sie an dem Skandal mit schuld ist; im Halbfinale will sie beweisen, dass sie auch Tore schießen kann, versagt jedoch und wird ausgewechselt; im Training will sie zeigen, dass sie ab jetzt nur noch für die Mannschaft spielt und rennt vor lauter Eifer gegen den Torpfosten; liegt dann mit gebrochener Nase im Krankenhaus; kann jedoch im Finale antreten und schießt das Siegtor, das Deutschland den Weltmeistertitel sichert.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Pippa" 
                                name="vars-Heldin_VN" maxlength="30" id="vars-Heldin_VN" 
                                data-fieldname="Heldin_VN" 
                                data-default="Pippa" 
                                class="field focuser default" />
							<span class="field_count">723x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der weiblichen Hauptrolle (und aller anderen Familienmitglieder) ist																					</label>
																					<input type="text" value="Pagels" 
                                name="vars-Heldin_NN" maxlength="30" id="vars-Heldin_NN" 
                                data-fieldname="Heldin_NN" 
                                data-default="Pagels" 
                                class="field focuser default" />
							<span class="field_count">23x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="blond" 
                                name="vars-Heldin_Haar" maxlength="30" id="vars-Heldin_Haar" 
                                data-fieldname="Heldin_Haar" 
                                data-default="blond" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Heldin_Augen" maxlength="30" id="vars-Heldin_Augen" 
                                data-fieldname="Heldin_Augen" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Die Heimatstadt  (und damit der Name des Heimatvereins 1. FFC) der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Potsdam" 
                                name="vars-Heldin_Stadt" maxlength="30" id="vars-Heldin_Stadt" 
                                data-fieldname="Heldin_Stadt" 
                                data-default="Potsdam" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mutter der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Evelyn Pagels</i>, Mutter von <i>Pippa</i> und <i>Gabriel</i>; verheiratet mit <i>Arnd</i>; sehr besorgt um und stolz auf ihre Tochter; gibt dieser die Schmerztabletten, die den Dopingverdacht auslösen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Mutter ist																					</label>
																					<input type="text" value="Evelyn" 
                                name="vars-Heldin_Mutter" maxlength="30" id="vars-Heldin_Mutter" 
                                data-fieldname="Heldin_Mutter" 
                                data-default="Evelyn" 
                                class="field focuser default" />
							<span class="field_count">16x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Vater der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Arnd Pagels</i>, Vater von <i>Pippa</i> und <i>Gabriel</i>; verheiratet mit <i>Evelyn</i>; sehr kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Vaters ist																					</label>
																					<input type="text" value="Arnd" 
                                name="vars-Heldin_Vater" maxlength="30" id="vars-Heldin_Vater" 
                                data-fieldname="Heldin_Vater" 
                                data-default="Arnd" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Bruder der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Gabriel Pagels</i>, <i>Pippa</i>s kleiner Bruder; Sohn von <i>Evelyn</i> und <i>Arnd</i>; Abiturient; dunkle Stimme, Sportmuffel; verspottet <i>Pippa</i>s Fußballbegeisterung, ist aber am Ende stolz auf sie; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des kleinen Bruders ist																					</label>
																					<input type="text" value="Gabriel" 
                                name="vars-Heldin_Bruder" maxlength="30" id="vars-Heldin_Bruder" 
                                data-fieldname="Heldin_Bruder" 
                                data-default="Gabriel" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Verletzte Fußballerin</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Tanja Klemme</i>, Mittelfeldspielerin in der ersten Mannschaft des 1. FFC <i>Potsdam</i>; feiert mit <i>Pippa</i> und anderen Spielerinnen die erfolgreiche Saison und die bevorstehende WM; fällt nach ein paar Flaschen Sekt beim Tanzen vom Stuhl; verletzt sich und kann nicht bei der WM teilnehmen; schlägt <i>Pippa</i> als ihren Ersatz vor; <i>Pippa</i> widmet ihr ihr Siegtor.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der verletzten Mittelfeldspielerin ist																					</label>
																					<input type="text" value="Tanja" 
                                name="vars-Verletzte_VN" maxlength="30" id="vars-Verletzte_VN" 
                                data-fieldname="Verletzte_VN" 
                                data-default="Tanja" 
                                class="field focuser default" />
							<span class="field_count">53x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der verletzten Mittelfeldspielerin ist																					</label>
																					<input type="text" value="Klemme" 
                                name="vars-Verletzte_NN" maxlength="30" id="vars-Verletzte_NN" 
                                data-fieldname="Verletzte_NN" 
                                data-default="Klemme" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Trainerin der deutschen Frauenfußballnationalmannschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Silvana Gier</i>, Trainerin der deutschen Frauenfußballnationalmannschaft; relativ klein; kurze blonde Haare; Legende des deutschen Fußballs; Welt-Trainerin des Jahres; entschließt sich dazu, <i>Pippa</i> bei der WM eine Chance zu geben; lobt ihr Können immer wieder, aber bremst auch ihren Übermut.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Bundestrainerin ist																					</label>
																					<input type="text" value="Silvana" 
                                name="vars-Trainerin_VN" maxlength="30" id="vars-Trainerin_VN" 
                                data-fieldname="Trainerin_VN" 
                                data-default="Silvana" 
                                class="field focuser default" />
							<span class="field_count">116x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Bundestrainerin ist																					</label>
																					<input type="text" value="Gier" 
                                name="vars-Trainerin_NN" maxlength="30" id="vars-Trainerin_NN" 
                                data-fieldname="Trainerin_NN" 
                                data-default="Gier" 
                                class="field focuser default" />
							<span class="field_count">114x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Kapitän der deutschen Frauenfußballnationalmannschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Brigitte Prinzen</i>, Kapitän der deutschen Frauenfußballnationalmannschaft; Stürmerin; spielt ihre letzte WM; gibt <i>Pippa</i> wertvolle Tipps, sodass sich deren Leistung nach anfänglichen Schwierigkeiten verbessert.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Mannschaftskapitäns ist																					</label>
																					<input type="text" value="Brigitte" 
                                name="vars-Kapitaen_VN" maxlength="30" id="vars-Kapitaen_VN" 
                                data-fieldname="Kapitaen_VN" 
                                data-default="Brigitte" 
                                class="field focuser default" />
							<span class="field_count">75x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Mannschaftskapitäns ist																					</label>
																					<input type="text" value="Prinzen" 
                                name="vars-Kapitaen_NN" maxlength="30" id="vars-Kapitaen_NN" 
                                data-fieldname="Kapitaen_NN" 
                                data-default="Prinzen" 
                                class="field focuser default" />
							<span class="field_count">17x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mittelfeldspielerin der deutschen Frauenfußballnationalmannschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Simona Lauter</i>, Mittelfeldspielerin der deutschen Frauenfußballnationalmannschaft; lange, blonde Haare; sehr erfolgreiche Fußballerin (u.a. Weltmeisterin, Europameisterin, DFB-Pokalsiegerin); Zimmerkameradin von <i>Pippa</i> während der WM; die beiden verstehen sich gut; setzt sich bei <i>Silvana Gier</i> dafür ein, dass <i>Pippa</i> im Finale spielen darf.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Zimmerkameradin ist																					</label>
																					<input type="text" value="Simona" 
                                name="vars-Mittelfeld2_VN" maxlength="30" id="vars-Mittelfeld2_VN" 
                                data-fieldname="Mittelfeld2_VN" 
                                data-default="Simona" 
                                class="field focuser default" />
							<span class="field_count">48x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Zimmerkameradin ist																					</label>
																					<input type="text" value="Lauter" 
                                name="vars-Mittelfeld2_NN" maxlength="30" id="vars-Mittelfeld2_NN" 
                                data-fieldname="Mittelfeld2_NN" 
                                data-default="Lauter" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Beste Stürmerin der deutschen Frauenfußballnationalmannschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Fatima Bajmirat</i>, beste Stürmerin der deutschen Frauenfußballnationalmannschaft; sehr jung; spielt in der ersten Mannschaft des FFC <i>Potsdam</i>; bekommt im Viertelfinale eine gelbe Karte und wird ausgewechselt; sehr souverän im Umgang mit der Presse.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der besten Stürmerin ist																					</label>
																					<input type="text" value="Fatima" 
                                name="vars-Sturm1_VN" maxlength="30" id="vars-Sturm1_VN" 
                                data-fieldname="Sturm1_VN" 
                                data-default="Fatima" 
                                class="field focuser default" />
							<span class="field_count">54x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der besten Stürmerin ist																					</label>
																					<input type="text" value="Bajmirat" 
                                name="vars-Sturm1_NN" maxlength="30" id="vars-Sturm1_NN" 
                                data-fieldname="Sturm1_NN" 
                                data-default="Bajmirat" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Abwehrspielerin der deutschen Frauenfußballnationalmannschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Babette Pieters</i>, Abwehrspielerin der deutschen Frauenfußballnationalmannschaft; spielt in der ersten Mannschaft des FFC <i>Potsdam</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Abwehrspielerin ist																					</label>
																					<input type="text" value="Babette" 
                                name="vars-Abwehr3_VN" maxlength="30" id="vars-Abwehr3_VN" 
                                data-fieldname="Abwehr3_VN" 
                                data-default="Babette" 
                                class="field focuser default" />
							<span class="field_count">41x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Abwehrspielerin ist																					</label>
																					<input type="text" value="Pieters" 
                                name="vars-Abwehr3_NN" maxlength="30" id="vars-Abwehr3_NN" 
                                data-fieldname="Abwehr3_NN" 
                                data-default="Pieters" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weitere Abwehrspielerin der deutschen Frauenfußballnationalmannschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Jenny Sieze</i>, Abwehrspielerin der deutschen Frauenfußballnationalmannschaft; spielt in der ersten Mannschaft des FFC <i>Potsdam</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname einer weiteren Abwehrspielerin ist																					</label>
																					<input type="text" value="Jenny" 
                                name="vars-Abwehr4_VN" maxlength="30" id="vars-Abwehr4_VN" 
                                data-fieldname="Abwehr4_VN" 
                                data-default="Jenny" 
                                class="field focuser default" />
							<span class="field_count">10x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname einer weiteren Abwehrspielerin ist																					</label>
																					<input type="text" value="Sieze" 
                                name="vars-Abwehr4_NN" maxlength="30" id="vars-Abwehr4_NN" 
                                data-fieldname="Abwehr4_NN" 
                                data-default="Sieze" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Stürmerin der deutschen Frauenfußballnationalmannschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Manja Abend</i>, Stürmerin der deutschen Frauenfußballnationalmannschaft; spielt in der ersten Mannschaft des FFC <i>Potsdam</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname einer weiteren Stürmerin ist																					</label>
																					<input type="text" value="Manja" 
                                name="vars-Sturm2_VN" maxlength="30" id="vars-Sturm2_VN" 
                                data-fieldname="Sturm2_VN" 
                                data-default="Manja" 
                                class="field focuser default" />
							<span class="field_count">30x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname einer weiteren Stürmerin ist																					</label>
																					<input type="text" value="Abend" 
                                name="vars-Sturm2_NN" maxlength="30" id="vars-Sturm2_NN" 
                                data-fieldname="Sturm2_NN" 
                                data-default="Abend" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weitere Mittelfeldspielerin der deutschen Frauenfußballnationalmannschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Ariadne Hengst</i>, Mittelfeldspielerin der deutschen Frauenfußballnationalmannschaft.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname einer weiteren Mittelfeldspielerin ist																					</label>
																					<input type="text" value="Ariadne" 
                                name="vars-Mittelfeld1_VN" maxlength="30" id="vars-Mittelfeld1_VN" 
                                data-fieldname="Mittelfeld1_VN" 
                                data-default="Ariadne" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname einer weiteren Mittelfeldspielerin ist																					</label>
																					<input type="text" value="Hengst" 
                                name="vars-Mittelfeld1_NN" maxlength="30" id="vars-Mittelfeld1_NN" 
                                data-fieldname="Mittelfeld1_NN" 
                                data-default="Hengst" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Dritte Abwehrspielerin der deutschen Frauenfußballnationalmannschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Verona Fast</i>, Abwehrspielerin der deutschen Frauenfußballnationalmannschaft; foult im Finale eine Gegenspielerin, bekommt Gelb.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname einer dritten Abwehrspielerin ist																					</label>
																					<input type="text" value="Verona" 
                                name="vars-Abwehr1_VN" maxlength="30" id="vars-Abwehr1_VN" 
                                data-fieldname="Abwehr1_VN" 
                                data-default="Verona" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname einer dritten Abwehrspielerin ist																					</label>
																					<input type="text" value="Fast" 
                                name="vars-Abwehr1_NN" maxlength="30" id="vars-Abwehr1_NN" 
                                data-fieldname="Abwehr1_NN" 
                                data-default="Fast" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Vierte Abwehrspielerin der deutschen Frauenfußballnationalmannschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Blanca Schmittchen</i>, Abwehrspielerin der deutschen Frauenfußballnationalmannschaft; spielt in der ersten Mannschaft des FFC <i>Potsdam</i>; sehr kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname einer vierten Abwehrspielerin ist																					</label>
																					<input type="text" value="Blanca" 
                                name="vars-Abwehr5_VN" maxlength="30" id="vars-Abwehr5_VN" 
                                data-fieldname="Abwehr5_VN" 
                                data-default="Blanca" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname einer vierten Abwehrspielerin ist																					</label>
																					<input type="text" value="Schmittchen" 
                                name="vars-Abwehr5_NN" maxlength="30" id="vars-Abwehr5_NN" 
                                data-fieldname="Abwehr5_NN" 
                                data-default="Schmittchen" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Torfrau der deutschen Frauenfußballnationalmannschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Nadja Ungerer</i>, Torfrau der deutschen Frauenfußballnationalmannschaft; kein Redeanteil.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Torfrau ist																					</label>
																					<input type="text" value="Nadja" 
                                name="vars-Tor_VN" maxlength="30" id="vars-Tor_VN" 
                                data-fieldname="Tor_VN" 
                                data-default="Nadja" 
                                class="field focuser default" />
							<span class="field_count">13x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Torfrau ist																					</label>
																					<input type="text" value="Ungerer" 
                                name="vars-Tor_NN" maxlength="30" id="vars-Tor_NN" 
                                data-fieldname="Tor_NN" 
                                data-default="Ungerer" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Fünfte Abwehrspielerin der deutschen Frauenfußballnationalmannschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Josepha Hanning</i>, Abwehrspielerin der deutschen Frauenfußballnationalmannschaft; wird nur erwähnt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname einer fünften Abwehrspielerin ist																					</label>
																					<input type="text" value="Josepha" 
                                name="vars-Abwehr2_VN" maxlength="30" id="vars-Abwehr2_VN" 
                                data-fieldname="Abwehr2_VN" 
                                data-default="Josepha" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname einer fünften Abwehrspielerin ist																					</label>
																					<input type="text" value="Hanning" 
                                name="vars-Abwehr2_NN" maxlength="30" id="vars-Abwehr2_NN" 
                                data-fieldname="Abwehr2_NN" 
                                data-default="Hanning" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">PR-Manager des DFB</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Uwe Vogt</i>, PR-Manager des DFB; bereitet <i>Pippa</i> auf ihren ersten Fernsehauftritt vor.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des PR-Managers ist																					</label>
																					<input type="text" value="Uwe" 
                                name="vars-PR2_VN" maxlength="30" id="vars-PR2_VN" 
                                data-fieldname="PR2_VN" 
                                data-default="Uwe" 
                                class="field focuser default" />
							<span class="field_count">31x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des PR-Managers ist																					</label>
																					<input type="text" value="Vogt" 
                                name="vars-PR2_NN" maxlength="30" id="vars-PR2_NN" 
                                data-fieldname="PR2_NN" 
                                data-default="Vogt" 
                                class="field focuser default" />
							<span class="field_count">36x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weiterer PR-Manager des DFB</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Steffen Bause</i>, PR-Manager des DFB; kräftig; spärlicher Haarwuchs; breites Lächeln.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname eines weiteren PR-Managers ist																					</label>
																					<input type="text" value="Steffen" 
                                name="vars-PR1_VN" maxlength="30" id="vars-PR1_VN" 
                                data-fieldname="PR1_VN" 
                                data-default="Steffen" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname eines weiteren PR-Managers ist																					</label>
																					<input type="text" value="Bause" 
                                name="vars-PR1_NN" maxlength="30" id="vars-PR1_NN" 
                                data-fieldname="PR1_NN" 
                                data-default="Bause" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mannschaftsarzt der deutschen Frauenfußballnationalmannschaft</div>
				<div class="description" style="margin-top: 5px;display:none">Dr. <i>Ludwig</i>, Mannschaftsarzt der deutschen Frauenfußballnationalmannschaft; behandelt <i>Pippa</i> mehrmals.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Mannschaftsarztes ist																					</label>
																					<input type="text" value="Ludwig" 
                                name="vars-Arzt_NN" maxlength="30" id="vars-Arzt_NN" 
                                data-fieldname="Arzt_NN" 
                                data-default="Ludwig" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">TV-Moderator</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Joseph P. Gerner</i>, Moderator der Sendung, in der <i>Pippa</i> auftritt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Moderators ist																					</label>
																					<input type="text" value="Joseph P." 
                                name="vars-Moderator_VN" maxlength="30" id="vars-Moderator_VN" 
                                data-fieldname="Moderator_VN" 
                                data-default="Joseph P." 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Moderators ist																					</label>
																					<input type="text" value="Gerner" 
                                name="vars-Moderator_NN" maxlength="30" id="vars-Moderator_NN" 
                                data-fieldname="Moderator_NN" 
                                data-default="Gerner" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ehemaliger Profifußballer und Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Ulli Kuhn</i>, ehemaliger Profifußballer und Nationalspieler; tritt zusammen mit <i>Pippa</i> in der Fernsehsendung von <i>Joseph P. Gerner</i> auf.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des ehemaligen Profifußballers ist																					</label>
																					<input type="text" value="Ulli" 
                                name="vars-Fußballer_VN" maxlength="30" id="vars-Fußballer_VN" 
                                data-fieldname="Fußballer_VN" 
                                data-default="Ulli" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des ehemaligen Profifußballers ist																					</label>
																					<input type="text" value="Kuhn" 
                                name="vars-Fußballer_NN" maxlength="30" id="vars-Fußballer_NN" 
                                data-fieldname="Fußballer_NN" 
                                data-default="Kuhn" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Trainer der weiblichen Hauptrolle in ihrem Heimatverein</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Andreas Eschenbacher</i>, <i>Pippa</i>s Trainer in der zweiten Mannschaft des 1. FFC <i>Potsdam</i>; hat ihr viel beigebracht; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Trainers der zweiten Mannschaft ist																					</label>
																					<input type="text" value="Andreas" 
                                name="vars-Trainer1_VN" maxlength="30" id="vars-Trainer1_VN" 
                                data-fieldname="Trainer1_VN" 
                                data-default="Andreas" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Trainers der zweiten Mannschaft ist																					</label>
																					<input type="text" value="Eschenbacher" 
                                name="vars-Trainer1_NN" maxlength="30" id="vars-Trainer1_NN" 
                                data-fieldname="Trainer1_NN" 
                                data-default="Eschenbacher" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Trainer der ersten Mannschaft des Heimatvereins der Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Bernhard Schöne</i>, Trainer der ersten Mannschaft des 1. FFC <i>Potsdam</i>; lässt <i>Pippa</i> ab und zu mittrainieren; lobt <i>Pippa</i> vor der Bundestrainerin; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Trainers der ersten Mannschaft ist																					</label>
																					<input type="text" value="Bernhard" 
                                name="vars-Trainer2_VN" maxlength="30" id="vars-Trainer2_VN" 
                                data-fieldname="Trainer2_VN" 
                                data-default="Bernhard" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Trainers der ersten Mannschaft ist																					</label>
																					<input type="text" value="Schöne" 
                                name="vars-Trainer2_NN" maxlength="30" id="vars-Trainer2_NN" 
                                data-fieldname="Trainer2_NN" 
                                data-default="Schöne" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Halbfinalgegner</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Brasilien</i>, Halbfinalgegner der Deutschen; Deutschland gewinnt nach Elfmeterschießen 6:5.

(Achtung: Beim Einsetzen von Ländern wie Schweiz oder USA kommt es wegen des zugehörigen Artikels "die" leider zu grammatikalischen Unreinheiten im Text!)</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Im Halbfinale spielt Deutschland gegen die Mannschaft aus																					</label>
																					<input type="text" value="Brasilien" 
                                name="vars-Gegner2" maxlength="30" id="vars-Gegner2" 
                                data-fieldname="Gegner2" 
                                data-default="Brasilien" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Finalgegner</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Neuseeland</i>, Finalgegner der Deutschen; Deutschland gewinnt nach einem Tor von <i>Pippa</i> in der 88. Minute 3:2.

(Achtung: Beim Einsetzen von Ländern wie Schweiz oder USA kommt es wegen des zugehörigen Artikels "die" leider zu grammatikalischen Unreinheiten im Text!)</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Im Finale spielt Deutschland gegen die Mannschaft aus																					</label>
																					<input type="text" value="Neuseeland" 
                                name="vars-Gegner1" maxlength="30" id="vars-Gegner1" 
                                data-fieldname="Gegner1" 
                                data-default="Neuseeland" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			<span class='default Heldin_VN'>Pippa</span> <span class='default Heldin_NN'>Pagels</span> mit <span class='default Heldin_Haar'>blond</span>em Haar und <span class='default Heldin_Augen'>braun</span>en Augen spielt unter <span class='default Trainer1_VN'>Andreas</span> <span class='default Trainer1_NN'>Eschenbacher</span> in der zweiten Mannschaft des 1. FFC <span class='default Heldin_Stadt'>Potsdam</span>. Oft sieht sie der ersten Mannschaft beim Training unter <span class='default Trainer2_VN'>Bernhard</span> <span class='default Trainer2_NN'>SchÃ¶ne</span> zu und träumt davon, bei den Stars mitspielen zu dürfen. Ihre Eltern <span class='default Heldin_Mutter'>Evelyn</span> und <span class='default Heldin_Vater'>Arnd</span> <span class='default Heldin_NN'>Pagels</span> und ihr Bruder <span class='default Heldin_Bruder'>Gabriel</span> <span class='default Heldin_NN'>Pagels</span> stehen ihrer Fußballbegeisterung skeptisch gegenüber. Durch die Verletzung von <span class='default Verletzte_VN'>Tanja</span> <span class='default Verletzte_NN'>Klemme</span> geht <span class='default Heldin_VN'>Pippa</span>s Traum in Erfüllung: <span class='default Trainerin_VN'>Silvana</span> <span class='default Trainerin_NN'>Gier</span> beruft sie in die Nationalmannschaft. Gemeinsam mit den Stürmerinnen <span class='default Kapitaen_VN'>Brigitte</span> <span class='default Kapitaen_NN'>Prinzen</span>, <span class='default Sturm1_VN'>Fatima</span> <span class='default Sturm1_NN'>Bajmirat</span> und <span class='default Sturm2_VN'>Manja</span> <span class='default Sturm2_NN'>Abend</span>, den Mittelfeldspielerinnen <span class='default Mittelfeld1_VN'>Ariadne</span> <span class='default Mittelfeld1_NN'>Hengst</span> und <span class='default Mittelfeld2_VN'>Simona</span> <span class='default Mittelfeld2_NN'>Lauter</span>, den Abwehrspielerinnen <span class='default Abwehr1_VN'>Verona</span> <span class='default Abwehr1_NN'>Fast</span>, <span class='default Abwehr2_VN'>Josepha</span> <span class='default Abwehr2_NN'>Hanning</span>, <span class='default Abwehr3_VN'>Babette</span> <span class='default Abwehr3_NN'>Pieters</span>, <span class='default Abwehr4_VN'>Jenny</span> <span class='default Abwehr4_NN'>Sieze</span> und <span class='default Abwehr5_VN'>Blanca</span> <span class='default Abwehr5_NN'>Schmittchen</span> und der Torfrau <span class='default Tor_VN'>Nadja</span> <span class='default Tor_NN'>Ungerer</span> fährt sie zur WM. Mit dabei sind auch der Mannschaftsarzt Dr. <span class='default Arzt_NN'>Ludwig</span> und die PR-Manager <span class='default PR2_VN'>Uwe</span> <span class='default PR2_NN'>Vogt</span> und <span class='default PR1_VN'>Steffen</span> <span class='default PR1_NN'>Bause</span>. Neben den Spielen ist für <span class='default Heldin_VN'>Pippa</span> der Auftritt in der Talkshow von <span class='default Moderator_VN'>Joseph P.</span> <span class='default Moderator_NN'>Gerner</span> zusammen mit <span class='default Fußballer_VN'></span> <span class='default Fußballer_NN'></span> ein Highlight. Nach dem Sieg im Halbfinale gegen <span class='default Gegner2'>Brasilien</span> geht es im Finale gegen <span class='default Gegner1'>Neuseeland</span> - wird Deutschland den Titel holen? 		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

