<?php $expire = 1405314024; /* http://web.personalnovel.local/customize/book/638.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
		<span class="green cartsum" cartsum="24.95">
		24,95</span> 
		<span class="green">EUR </span> <br />inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
    	    	     <a class="cart-link" href="http://web.personalnovel.local/checkout?order=2051544&step=Warenkorb"><img src="tl_files/personalnovel_de/cart.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:1000"></a>
	            
    <div id="cart-detail">
    
        
            <strong>1x 
        Kalender                </strong>
        <span class="green">24,95 EUR</span><br/>
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=638">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Dark Omen" src="/tl_files/thumbnail-book/dark-omen-638-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Dark Omen“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-638" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">The orphan with a chip on her shoulder</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Erusa,</em> a self-reliant, hot-tempered girl who does not like to be part of a team. She is impulsive, quick to anger, and a fast runner. <em>Erusa</em> is distrustful of others ever since the death of her parents. Later on, she learns that her parents died as heroes saving their group from a saber-toothed bear. She then opens up to her friends and begins to trust them.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							The orphan's name is																					</label>
																					<input type="text" value="Erusa" 
                                name="vars-Lonely_Name" maxlength="30" id="vars-Lonely_Name" 
                                data-fieldname="Lonely_Name" 
                                data-default="Erusa" 
                                class="field focuser default" />
							<span class="field_count">529x</span>
						</div>
											<div class="field">
							<label>
							The hair colour of the orphan is																					</label>
																					<input type="text" value="black" 
                                name="vars-Lonely_Hair" maxlength="30" id="vars-Lonely_Hair" 
                                data-fieldname="Lonely_Hair" 
                                data-default="black" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							The eye colour of the orphan is																					</label>
																					<input type="text" value="brown" 
                                name="vars-Lonely_Eyes" maxlength="30" id="vars-Lonely_Eyes" 
                                data-fieldname="Lonely_Eyes" 
                                data-default="brown" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">The sorcerer’s apprentice</div>
				<div class="description" style="margin-top: 5px;display:none">	<em>Mickal,</em> the earnest and even-tempered apprentice of the village’s sage. He has a hard time succeeding in actually doing magic, so he is afraid he’ll let his family and his teacher down. But, during their journey, <em>Mickal</em> is forced to do magic to help his friends—and he succeeds. At the end, he gains self-confidence and easily learns new magic.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							The apprentice's name is																					</label>
																					<input type="text" value="Mickal" 
                                name="vars-Magic_Name" maxlength="30" id="vars-Magic_Name" 
                                data-fieldname="Magic_Name" 
                                data-default="Mickal" 
                                class="field focuser default" />
							<span class="field_count">504x</span>
						</div>
											<div class="field">
							<label>
							The hair colour of the apprentice is																					</label>
																					<input type="text" value="dirty blond" 
                                name="vars-Magic_Hair" maxlength="30" id="vars-Magic_Hair" 
                                data-fieldname="Magic_Hair" 
                                data-default="dirty blond" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							The eye colour of the apprentice is																					</label>
																					<input type="text" value="green" 
                                name="vars-Magic_Eyes" maxlength="30" id="vars-Magic_Eyes" 
                                data-fieldname="Magic_Eyes" 
                                data-default="green" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">The wall flower</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Anette,</em> a nice and loyal girl who is afraid of heights and is very jumpy. But, she also has some strengths, like her exceptional skill at throwing objects at enemies. In the end, she is the one who has to climb the inside of the volcano to retrieve the stone. Having mastered this task, she loses her paralyzing fear of heights. Arriving at home, she gains respect for her fearless actions and is treated like an adult.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							The wall flower's name is																					</label>
																					<input type="text" value="Anette" 
                                name="vars-Afraid_Name" maxlength="30" id="vars-Afraid_Name" 
                                data-fieldname="Afraid_Name" 
                                data-default="Anette" 
                                class="field focuser default" />
							<span class="field_count">304x</span>
						</div>
											<div class="field">
							<label>
							The hair colour of the wall flower is																					</label>
																					<input type="text" value="chestnut brown" 
                                name="vars-Afraid_Hair" maxlength="30" id="vars-Afraid_Hair" 
                                data-fieldname="Afraid_Hair" 
                                data-default="chestnut brown" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							The eye colour of the wall flower is																					</label>
																					<input type="text" value="brown" 
                                name="vars-Afraid_Eyes" maxlength="30" id="vars-Afraid_Eyes" 
                                data-fieldname="Afraid_Eyes" 
                                data-default="brown" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">The glory hound</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Jalam,</em> a confident but selfish boy who has a fiery temperament. He is very ambitious and sometimes acts heedlessly. <em>Jalam</em> feels overshadowed by his older brother, <em>Henry</em> (only mentioned), and wants to prove to himself and his family that he can be just as brilliant. During the quest, he realizes that his friends are more important than his aspiration of glory. When tempted, he chooses to save his friends rather than take the stone home on his own.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							The glory hound's name is																					</label>
																					<input type="text" value="Jalam" 
                                name="vars-Jock_Name" maxlength="30" id="vars-Jock_Name" 
                                data-fieldname="Jock_Name" 
                                data-default="Jalam" 
                                class="field focuser default" />
							<span class="field_count">502x</span>
						</div>
											<div class="field">
							<label>
							The hair colour of the glory hound is																					</label>
																					<input type="text" value="light brown" 
                                name="vars-Jock_Hair" maxlength="30" id="vars-Jock_Hair" 
                                data-fieldname="Jock_Hair" 
                                data-default="light brown" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							The eye colour of the glory hound is																					</label>
																					<input type="text" value="blue" 
                                name="vars-Jock_Eyes" maxlength="30" id="vars-Jock_Eyes" 
                                data-fieldname="Jock_Eyes" 
                                data-default="blue" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							The glory hound's brother is called																					</label>
																					<input type="text" value="Henry" 
                                name="vars-Brother_Name" maxlength="30" id="vars-Brother_Name" 
                                data-fieldname="Brother_Name" 
                                data-default="Henry" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">The big sister</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Kiera,</em> <em>Erusa’s</em> sister who lives with her. They are close, but even <em>Kiera</em> sometimes cannot reach out to her defiant sister. She talks with <em>Erusa</em> about the quest and encourages her to go with her friends. Small role.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							The sister's name is																					</label>
																					<input type="text" value="Kiera" 
                                name="vars-Sister_Name" maxlength="30" id="vars-Sister_Name" 
                                data-fieldname="Sister_Name" 
                                data-default="Kiera" 
                                class="field focuser default" />
							<span class="field_count">39x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">The sage teacher</div>
				<div class="description" style="margin-top: 5px;display:none">	<em>Benra, Mickal’s</em> teacher, wise and patient. Small role.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							The name of the teacher is																					</label>
																					<input type="text" value="Benra" 
                                name="vars-Teacher_Name" maxlength="30" id="vars-Teacher_Name" 
                                data-fieldname="Teacher_Name" 
                                data-default="Benra" 
                                class="field focuser default" />
							<span class="field_count">23x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">The friendly dwarf magician</div>
				<div class="description" style="margin-top: 5px;display:none">	<em>Volg,</em> a dwarf who secretly practices magic and befriends <em>Mickal.</em> Together, they train using their magic, which proves very useful to <em>Mickal</em> in the last task that sets him and his friends free. He helps the leader of the dwarves see how it is better to change their ways.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							The name of the dwarf magician is																					</label>
																					<input type="text" value="Volg" 
                                name="vars-MagicDwarf_Name" maxlength="30" id="vars-MagicDwarf_Name" 
                                data-fieldname="MagicDwarf_Name" 
                                data-default="Volg" 
                                class="field focuser default" />
							<span class="field_count">93x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">The friendly dwarf who dreams of the surface</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Nevien,</em> a dwarf who dreams of seeing the outside world (the dwarfs live in an underground system of tunnels and caves) and builds a hidden tunnel to reach the surface. He befriends <em>Jalam.</em> Together, they make it to the top, but when they go back, they are apprehended by Regvar, the dwarven leader, and marked as traitors.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							The name of the curious dwarf is																					</label>
																					<input type="text" value="Nevien" 
                                name="vars-EscapeDwarf_Name" maxlength="30" id="vars-EscapeDwarf_Name" 
                                data-fieldname="EscapeDwarf_Name" 
                                data-default="Nevien" 
                                class="field focuser default" />
							<span class="field_count">117x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">The helpful teenage centaur</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Albatro,</em> a young centaur who understands that the rivalry between humans and centaurs is only based on prejudice. He offers to free the four friends. In exchange, he gets a small piece of the magical stone to save his village from the volcano eruption.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							The centaur's name is																					</label>
																					<input type="text" value="Albatro" 
                                name="vars-Centaur_Name" maxlength="30" id="vars-Centaur_Name" 
                                data-fieldname="Centaur_Name" 
                                data-default="Albatro" 
                                class="field focuser default" />
							<span class="field_count">45x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			<span class='default Lonely_Name'>Erusa</span> has <span class='default Lonely_Hair'>black</span> hair and <span class='default Lonely_Eyes'>brown</span> eyes. She lives with her sister <span class='default Sister_Name'>Kiera</span> in the village of Ralta. Her friends are <span class='default Afraid_Name'>Anette</span>, <span class='default Magic_Name'>Mickal</span> and <span class='default Jock_Name'>Jalam</span>. <span class='default Afraid_Name'>Anette</span> has <span class='default Afraid_Hair'>chestnut brown</span> hair and <span class='default Afraid_Eyes'>brown</span> eyes. She has to learn to take a risk once in a while. <span class='default Magic_Name'>Mickal</span> has <span class='default Magic_Hair'>dirty blond</span> hair and <span class='default Magic_Eyes'>green</span> eyes. He is the apprentice of the sage <span class='default Teacher_Name'>Benra</span> but learning magic is very hard for him. <span class='default Jock_Name'>Jalam</span> has <span class='default Jock_Hair'>light brown</span> hair and <span class='default Jock_Eyes'>blue</span> eyes. He wants to gain glory like his older brother <span class='default Brother_Name'>Henry</span>. On the road each of the four friends has to face their problems and learn to deal with them. But they also meet new friends, like the dwarfs <span class='default MagicDwarf_Name'>Volg</span> and <span class='default EscapeDwarf_Name'>Nevien</span> or the centaur <span class='default Centaur_Name'>Albatro</span>.		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

