<?php $expire = 1406069530; /* http://web.personalnovel.local/book/items/501.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Hundsurlaub - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Das ganze Durcheinander mit dem Urlaub begann, wenn ich es mir recht überlege, damit, dass sich mein Herrchen auf dem Sofa ausstreckte und erklärte, es sei urlaubsreif. So beginnt der Hund seine Geschichte über einen total verrückten Urlaub mit seinen Besitzern. Die wollen zur Erholung ans Meer fahren - und fangen plötzlich an, sich äußerst wunderlich zu verhalten. Eine nicht vorhandene Ferienwohnung, ein doppelt belegtes Appartement, ein verlorener und ein gestohlener Schlüssel sowie gänzlich unterschiedliche Vorstellungen davon, wie so ein Urlaub verbracht zu werden hat, sorgen für allerhand Aufregung - wie soll Hund da noch durchblicken?<br> Ein urkomischer Familienroman - nicht nur für Hundeliebhaber!">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Hundsurlaub - PersonalNOVEL" /> 
<meta property="og:image" content="http://web.personalnovel.local/tl_files/thumbnail-book/hundsurlaub-501-face.png" /> 
<meta property="og:description" content="Das ganze Durcheinander mit dem Urlaub begann, wenn ich es mir recht überlege, damit, dass sich mein Herrchen auf dem Sofa ausstreckte und erklärte, es sei urlaubsreif. So beginnt der Hund seine Geschichte über einen total verrückten Urlaub mit seinen Besitzern. Die wollen zur Erholung ans Meer fahren - und fangen plötzlich an, sich äußerst wunderlich zu verhalten. Eine nicht vorhandene Ferienwohnung, ein doppelt belegtes Appartement, ein verlorener und ein gestohlener Schlüssel sowie gänzlich unterschiedliche Vorstellungen davon, wie so ein Urlaub verbracht zu werden hat, sorgen für allerhand Aufregung - wie soll Hund da noch durchblicken?<br> Ein urkomischer Familienroman - nicht nur für Hundeliebhaber!" /> 
<meta property="og:url" content="http://web.personalnovel.local/book/501/hundsurlaub">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<style media="screen">
#left{width:200px;}
#main{margin-left:200px;}
</style>
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/tabs.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/detail.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.cycle.min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/tg.css" media="screen" type="text/css" rel="stylesheet" />
<style>
#main {
padding-right: 0px !important;
} 
</style>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">

<div class="base_header">
<div id="header-links-box">
                        
  <div id="logo"><a href="/romane/"></a></div>
   <!--
  <div id="versand"><a href="/service-versand.html"></a></div>
  
  <div class="headerlinks">
      <div id="headerlinkgroup">
      	<a class="hidden" id="basklink"><img title="Warenkorb" kasse="" alt="Warenkorb" src="tl_files/personalnovel_de/static/img/icons/shoppingbag.png"></a>&nbsp;&nbsp;
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So einfach geht‘s</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/newsletter.html">Newsletter</a>&nbsp;|&nbsp; 
        <a style="vertical-align: top;" href="/agb.html">AGB</a>&nbsp;|&nbsp;
        <a style="vertical-align: top;" href="/kontakt.html">Kontakt</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/faq.html">Hilfe</a>&nbsp;
      </div>
  </div>
   -->
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->

<style>
#tab-menu li.oktoberfest:hover {
      background-color: hsl(197, 100%, 47%) !important;
  }
  #tab-menu { margin-top: 5px !important }
</style>
<div id="tab-menu">
  <ul>
    <li><a title="Besondere Anlässe" href="geschenkbuecher/"><span>Besondere Anlässe</span></a></li> 
    <li><a title="Muttertag" href="/muttertag"><span>Muttertag</span></a></li>
    <li><a title="Hochzeit" href="/hochzeitsgeschenke"><span>Hochzeit</span></a></li>
   </ul>
</div>
<div class="kundengeschenke" id="menunav">
<div class="container">
<ul class="level_1">
<li class="first"><a class="first" title="Personalisierte Bücher &amp; Romane" href="/romane/">Romane</a></li>
<li><a title="Klassische Literatur personalisiert" href="/personalisierteklassiker/">Klassiker der Literatur</a></li>
<li><a title="Personalisierte Kinderbücher" href="/kinderbuecher/">Kinderbücher</a></li>
<li><a title="Personalisierte Jugendbücher" href="/jugendbuecher/">Jugendbücher</a></li>
<li ><a  title="Personalisierte Kalender" href="/kalender/">Kalender</a></li>
<li><a href="/eigenerwein/" title="Weinetiketten"><span>Wein &amp; Champagner Etiketten</span></a></li>
<li><a href="/kundengeschenke/" title="Firmenkunden"><span>Firmenkunden</span></a></li>
<li class="last"><a href="/personalisierte-ebooks" title="Personalisierte E-Books"><span>E-Books</span></a></li>
</ul>

<div class='flash-language'>
  <a class='active' onclick="return false" href='' title="Germany"></a>
  <a class='inactive' href='http://www.personalnovel.co.uk' title="United Kingdom"></a>
</div>
<style>
  .flash-language a {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
    width:24px;
    height:24px;
  }
  .flash-language {
    position: absolute;
    right: 0px;
    height: 30px;
    line-height: 30px;
    width: 70px;
  }
  .flash-language .active{
    background:url("/tl_files/personalnovel_de/image/uk/Germany-Flag.png") no-repeat;
  }
  .flash-language .inactive{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag-active.png") no-repeat;
  }
  .flash-language .inactive:hover{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag.png") no-repeat;	
  }
</style>

</div>
</div>
 
</div>
</header>

<div id="container">
<div class="real_content">

<aside id="left">
<div class="inside navigation">

<div class="title_nav"><div class="section ">Geschenk nach Anlass</div></div>
<div class="links ">
        <a href="/geburtstagsgeschenke/" title="personalisierter Geburtstag" class="navitem">Geburtstag</a>
        <a href="/weihnachten/" title="personalisierter Weihnachten" class="navitem">Weihnachten</a>
        <a href="/hochzeitsgeschenke/" title="personalisierter Hochzeit" class="navitem">Hochzeit</a>
       <!-- <a href="/valentinstag/" title="personalisierter Valentinstag" class="navitem">Valentinstag</a>-->
        <a href="/muttertag/" title="personalisierter Muttertag" class="navitem">Muttertag</a>
       <a href="/romane/geschenk-anlass?filter=anlass" title="personalisierter Roman" class="navitem">Noch mehr Anlässe</a>
       <hr class="spacer">
</div>
<div class="title_nav"><div class="section "> Geschenke für alle </div></div>
 <div class="links ">
	<!--<a href="/romane/geschenk-anlass?filter=anlass" title="personalisierter Roman" class="navitem">Anlass</a>-->
	<a href="/romane/geschenk-alter?filter=alter" title="personalisierter Roman" class="navitem">Je nach Alter</a>
	<a href="/romane/geschenk-sie?Für+wen=Für+sie" title="personalisierter Roman" class="navitem">Frauen in der Hauptrolle</a>
	<a href="/romane/geschenk-ihn?Für+wen=Für+ihn" title="personalisierter Roman" class="navitem">Männer in der Hauptrolle</a>		
	<a href="/romane/geschenk-paare?Für+wen=Für+Paare" title="personalisierter Roman" class="navitem">Für Paare</a>	
	<a href="/romane/geschenk-freunde?Für+wen=Für+Freunde" title="personalisierter Roman" class="navitem">Für Freunde in Freundschaft</a>  
	<a href="/kinderbuecher/" title="personalisierter Roman" class="navitem">Kinderbücher für die Jüngsten</a>
	<a href="/romane/geschenk-teenager?Für+wen=Für+Teenager" title="personalisierter Roman" class="navitem">Teenager- und für Jugendbücher</a>
	<a href="/romane/geschenk-familie?Für+wen=Für+Familie" title="personalisierter Roman" class="navitem">Für die ganze Familie</a>
	<a href="/romane/neuerscheinungen" title="personalisierter Roman" class="navitem">Neu bei PersonalNOVEL</a>
        <hr class="spacer">
</div>
<div class="title_nav"><div class="section "> Geschenkideen </div></div>
 <div class="links ">
	 <a href="/romane/gesamtsortiment" title="personalisierter Roman" class="navitem">Gesamtsortiment</a>
                <a href="/eigenerwein/" title="Weinetiketten" class="navitem">Wein &amp; Champagner</a>
                <a href="/kalender_fuer_2014_2015/" title="Kalender personalisieren" class="navitem">Kalender für 2014</a>
        
       <hr class="spacer">
</div>
<div class="title_nav"><div class="section ">Genres</div></div>
<div class="links ">
	<a href="/romane/krimi-thriller" title="personalisierter Roman" class="navitem">Krimi - Thriller</a>
	<a href="/romane/liebe" title="personalisierter Roman" class="navitem">Liebe</a>
	<a href="/romane/frauen" title="personalisierter Roman" class="navitem">Frauen</a>
	<a href="/romane/historisch" title="personalisierter Roman" class="navitem">Historisch</a>
        <a href="/romane/cameo-klassiker" title="personalisierter Roman" class="navitem">Cameo Klassiker</a>
	<a href="/romane/abenteuer" title="personalisierter Roman" class="navitem">Abenteuer</a>
	<a href="/romane/science-fiction" title="personalisierter Roman" class="navitem">Science - Fiction</a>
	<a href="/romane/mystery-fantasy" title="personalisierter Roman" class="navitem">Mystery - Fantasy</a>
	<a href="/romane/familie-freunde" title="personalisierter Roman" class="navitem">Familie - Freunde</a>
	<a href="/romane/sport-fussball" title="personalisierter Roman" class="navitem">Sport - Fussball</a>
	<a href="/romane/gleichgeschlechtlich" title="personalisierter Roman" class="navitem">Gleichgeschlechtlich</a>
        <a href="/romane/english-books" title="personalisierter Roman" class="navitem">Englische Romane</a>
        <hr class="spacer">
	<!--
  	<a href="/weinetiketten/wines.html?Weinart=Champagner" class="navitem">Champagneretiketten</a>
  	<a href="/weinetiketten/wines.html" class="navitem">Weinetiketten</a>
	<hr class="spacer">
        -->
</div>
<div class="title_nav"><div class="section ">Ihr Buch</div></div>
<div class="links ">
	<a href="romane/personalisierung" title="personalisierter Roman" class="navitem">Personalisierung</a>
        <a href="romane/widmung" title="personalisierter Roman" class="navitem">Widmung</a>
  	<a href="romane/preise-einbaende" title="personalisierter Roman" class="navitem">Einbände &amp; Preise</a>
	<a href="romane/umschlag-gestaltung" title="personalisierter Roman" class="navitem">Umschlag &amp; Gestaltung</a>
        <a href="romane/geschenkbox" title="personalisierter Roman" class="navitem">Geschenkbox</a>
        <a href="romane/galerie" title="personalisierter Roman" class="navitem">Galerie</a>
	<hr class="spacer">
</div>
<div class="title_nav"><div class="section ">Service</div></div>
<div class="links ">
	<a href="/service-versand" title="personalisierter Roman" class="navitem">Liefertermine &amp; Versand </a>
	<a href="/zahlung" title="personalisierter Roman" class="navitem">Zahlung</a>
        <a href="/showroom/" class="navitem"  title="Showroom München">Showroom München</a>
        <hr class="spacer">
</div>
<div class="title_nav"><div class="section"></div></div>
<div class="navigation centered" style="border-left: 1px solid #E7E6E6;border-right: 1px solid #E7E6E6;margin-bottom:0;">
    <a class="nooutline" href="http://www.personalnovel.de/zahlung" style="padding-left: 0;">
      <img width="198" height="115" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" title="Payment" alt="Payment">
    </a>
</div>
<div class="title_nav"><div class="section ">Kommunikation</div></div>
<div id="social_media">

  <a target="_blank" title="" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659">
    <img title="Folgen Sie uns auf Facebook!" alt="Facebook" src="tl_files/personalnovel_de/static/img/icons/facebook.png">
  </a>
  <a target="_blank" href="http://www.twitter.com/PersonalNOVEL">
  <img alt="Follow PersonalNOVEL on Twitter" src="tl_files/personalnovel_de/static/img/icons/twitter.png" />
  </a>
    <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/youtube.png" />
  </a>
    <a target="_blank" href="http://blog.personalnovel.de/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/google.png" />
  </a>
    <a target="_blank" href="http://pinterest.com/personalnovel/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/p.png" />
  </a>

</div>
<div style="*display:none; ">
  <div style="position:relative; height:160px; width:100%;">
    <div style="position:relative; height:80px; width:100%;">
    	<a href="https://www.facebook.com/PersonalNOVEL" title="PersonaNOVEL" target="_blank">
      	<img style="width:200px; height:80px;" src="/tl_files/personalnovel_de/static/assets/website/teaser_plugin_facebook_like.png">
      	</a>
    </div>
    <div style="position:absolute;margin:-10px 0px 0px 3px; z-index:4; width:195px; ">
      <iframe id='like-pn' src="//www.facebook.com/plugins/like.php?locale=de_DE&href=https://www.facebook.com/PersonalNOVEL&amp;send=false&amp;layout=standard&amp;width=190&amp;show_faces=false&amp;font=tahoma&amp;colorscheme=light&amp;action=like&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:195px; height:70px;" allowTransparency="true"></iframe>
    </div>
    <div style='clear:both;'></div>
  </div>
</div>
<div id="yelp-biz-badge-fsc-8Grwh5KCPCm3cZXlAu5yMw">PersonalNOVEL e.K.</div>
<script type="text/javascript">
 !function(doc, id){
  var js;
  var scriptElement = doc.getElementsByTagName("script")[0];
  if (!doc.getElementById(id)) {
   js = doc.createElement("script");
    js.id = id;
    js.src = "http://dyn.yelpcdn.com/biz_badge_js/fsc/8Grwh5KCPCm3cZXlAu5yMw.js";
    scriptElement.parentNode.insertBefore(js, scriptElement);
  }
} (document, "yelp-biz-badge-script-fsc-8Grwh5KCPCm3cZXlAu5yMw");
</script> 
</div>
</aside>

<section id="main">
<div class="inside">

<article class="mod_article block" id="book">
<!-- indexer::stop -->
<div class="content twocolumn">
	<div class="book_presentation clearfix type_1">
		<div class="leftpanel">
			<a href="http://web.personalnovel.local/tl_files/thumbnail-book/hundsurlaub-501-view.png" class="lightbox">
				<img alt="Hundsurlaub" src="http://web.personalnovel.local/tl_files/thumbnail-book/hundsurlaub-501-detail.png" class="bigcover" />
			</a>
			
            		</div>
		
		<div class="rightpanel">
			<h1>
				Hundsurlaub				            </h1>
            <p>
				Das ganze Durcheinander mit dem Urlaub begann, wenn ich es mir recht überlege, damit, dass sich mein Herrchen auf dem Sofa ausstreckte und erklärte, es sei urlaubsreif. So beginnt der Hund seine Geschichte über einen total verrückten Urlaub mit seinen Besitzern. Die wollen zur Erholung ans Meer fahren - und fangen plötzlich an, sich äußerst wunderlich zu verhalten. Eine nicht vorhandene Ferienwohnung, ein doppelt belegtes Appartement, ein verlorener und ein gestohlener Schlüssel sowie gänzlich unterschiedliche Vorstellungen davon, wie so ein Urlaub verbracht zu werden hat, sorgen für allerhand Aufregung - wie soll Hund da noch durchblicken?<br>
Ein urkomischer Familienroman - nicht nur für Hundeliebhaber!            
            </p>
            <div class="clearfix">
            	<div class="left" style="width:320px;padding-top:20px;">
            		<p>
		            			            		Autor: <i>Carla Benara</i><br />
		            			            			            		Illustration: <i>istockphoto.com/Steve Cole</i><br />
		            			            			            				            			            	<i>ca. 212 Seiten</i>
		            </p>
            	</div>
            	<div class="right" style="padding-top:44px;">
            		<div class="text">
	                		               </div>
            		
	               
            	</div>
            </div>
		</div>
		
	</div>
	
	<div class="bottompanel">
		    <div class="block1">
                <div class="fb-share-button  fb_iframe_widget " 
                    data-href="" data-type="button"><span style="height: 18px; width: 61px;">
                    <!--<a onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;p[title]=Hundsurlaub+-+PersonalNOVEL&amp;p[summary]=%C2%84Das+ganze+Durcheinander+mit+dem+Urlaub+begann%2C+wenn+ich+es+mir+recht+%C3%BCberlege%2C+damit%2C+dass+sich+mein+Herrchen+auf+dem+Sofa+ausstreckte+und+erkl%C3%A4rte%2C+es+sei+urlaubsreif.%C2%93+So+beginnt+der+Hund+seine+Geschichte+%C3%BCber+einen+total+verr%C3%BCckten+Urlaub+mit+seinen+Besitzern.+Die+wollen+zur+Erholung+ans+Meer+fahren+-+und+fangen+pl%C3%B6tzlich+an%2C+sich+%C3%A4u%C3%9Ferst+wunderlich+zu+verhalten.+Eine+nicht+vorhandene+Ferienwohnung%2C+ein+doppelt+belegtes+Appartement%2C+ein+verlorener+und+ein+gestohlener+Schl%C3%BCssel+sowie+g%C3%A4nzlich+unterschiedliche+Vorstellungen+davon%2C+wie+so+ein+Urlaub+verbracht+zu+werden+hat%2C+sorgen+f%C3%BCr+allerhand+Aufregung+-+wie+soll+Hund+da+noch+durchblicken%3F%3Cbr%3E%0D%0AEin+urkomischer+Familienroman+-+nicht+nur+f%C3%BCr+Hundeliebhaber%21&amp;p[url]=http://web.personalnovel.local/book/501/hundsurlaub&amp;&p[images][0]=http://web.personalnovel.local/tl_files/thumbnail-book/hundsurlaub-501-detail.png', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)">
                		<img src="/tl_files/personalnovel_de/static/assets/website/share_facebook_off.png">
                	</a>-->
                	<a onClick="window.open('http://www.facebook.com/sharer.php?u=http://web.personalnovel.local/book/501/hundsurlaub', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)">
                		<img src="/tl_files/personalnovel_de/static/assets/website/share_facebook_off.png">
                	</a>
       				</span>
                </div>
                
                               <style>
               		
	              	.google-button{
	              		height: 24px;
	              		width: 50px; 
	              		position:absolute; 
	              		float:left; 
	              		margin:2px 3px 0px 62px;
	              		*display:none;
	              	}
	              	.like-facebook-button{
	              		height: 18px; 
	              		width: 50px; 
	              		position:absolute; 
	              		float:left; 
	              		margin:7px 3px 0px 134px;
	              		*display:none;
	              	}
	            
              </style>
               
		    	<div class="google-button">
                	<div class="g-plusone" data-width="300" data-href="http://web.personalnovel.local/book/501/hundsurlaub"></div>
				</div>
				<script type="text/javascript">
				  window.___gcfg = {lang: 'de'};
				  (function() {
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = 'https://apis.google.com/js/plusone.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>
				 <!-- facebook like -->
                <div class='like-facebook-button'>
			    	<iframe src="//www.facebook.com/plugins/like.php?href=http://web.personalnovel.local/book/501/hundsurlaub&amp;send=false&amp;layout=button_count&amp;&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true">
			    	</iframe>
		    	</div>
             
		    </div>
		    
		    <div class="block2">
		                <div>
                <span class="showprice article-price">Ab
                24.95 EUR
                </span>
                <span class="showvat article-price">inkl. 7% MWSt</span>
                <br />
                zzgl.
                <a href="/popup-versandkosten" class="popup-link">Versandkosten</a>
            </div>
            		    </div>
		    
		    <div class="block3">
		                          
                <form action="/customize" method="GET">
                    <button type="submit" class="awesomebutton awesomegreen_gradient awesomeicon awesomeround" style="width: 275px;font-size:8.5pt">
                    <span class="icon shopping_bag"><span class="icon">Buch personalisieren und bestellen</span></span>
                    </button>
                    <input type="hidden" name="book" value="501">
                </form>
            
                                <form action="/customize" method="GET">
                    <button type="submit" class="awesomebutton awesomelightblue_gradient awesomeicon awesomeround" style="width: 275px;font-size:8.5pt">
                    <span class="icon arrow_down"><span class="icon">E-Book personalisieren und herunterladen</span></span>
                    </button>
                    <input type="hidden" name="ebook" value="501">
                </form>
                                    
                       		    </div>
            
    </div>
    
</div>


<div class="clear"></div>
<div style="margin: 5px 0 0 18px;width:768px" class="column ebook-help">
    <div class="disclosure-widget">
        <strong>Wie kann ich mein E-Book lesen?</strong>
        <ul style="display: none;">
            <li> eReader-Geräte können unsere E-Books darstellen, sofern
            sie das ePUB-Format unterstützen (z.B. Sony, OYO, Kobo, TrekStor etc.) </li>
            <li> Windows, MacOS und Linux: mit der kostenlosen Software
            <a target="_blank" href="http://calibre-ebook.com/download">Calibre</a>. </li>
            <li> Android-Smartphones: mit einer kostenlosen App wie z.B.
            Aldiko oder FBReader. </li>
            <li> iPhone, iPad etc. mit der kostenlosen iBooks-App. </li>
            <li> Amazon Kindle wird aktuell leider nicht unterstützt. </li>
        </ul>
    </div>
</div>


<div class="content twocolumn">
<div id="tabsdiv">
	<ul id="tabs" class="tab">
	    	
	    	    	    
				<li>
			<a href="#personen">Personen</a>
		</li>
				<li>
			<a href="#allgemein">Allgemein</a>
		</li>
				
						<li>
			<a href="#varianten">
								Leseprobe
							</a>
		</li>
						
				<li>
			<a href="#author">Autor</a>
		</li>
				
				<li>
			<a href="#nennungshaeufigkeit">Nennungshäufigkeit</a>
		</li>
				
				<li>
			<a href="#so_wird_bestellt">So wird bestellt</a>
		</li>
			</ul>
	
			
		<div id="personen" class="tabcontent">
						<div class="note">
				<i>(Kursiv:</i>
				wird durch Ihre Angaben ersetzt<i>)</i>
			</div>
						
							
								    <h2>Personen : </h2>
                                        <h3>6 weibliche und 5 männliche Rollen und 1 Hund</h3>                                                                                                    <h4 class="name">Vater</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <em>Peter Mayer</em><em>, Bello</em>s Herrchen; <em>Gisela</em>s Ehemann; Vater von <em>Annika</em> und <em>Simon</em><em>;</em> fühlt sich urlaubsreif und bucht daher für seine Familie eine Ferienwohnung in Seebad; wollte lieber in die Berge fahren, wurde aber von der Familie überstimmt. Er geht Probleme mit Vorliebe systematisch und logisch an, scheitert damit jedoch regelmäßig am ganz gewöhnlichen Familienchaos; reagiert auf die diversen Schwierigkeiten im Urlaub gelegentlich gereizt, was vor allem <em>Gisela</em> zu spüren bekommt, als sie den Wohnungsschlüssel verliert. Er will im Urlaub einen Schwerpunkt auf Kultur und Wandern legen, kann die Familie allerdings nicht dafür begeistern. <em>Peter </em>geht morgens immer mit <em>Bello</em> Gassi und Brötchen holen.                                        </p>
                                                                                                                        <h4 class="name">Mutter</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    	<em>Gisela</em><em>, Bello</em>s Frauchen; <em>Peter</em><em>s</em> Ehefrau; Mutter von <em>Annika</em> und <em>Simon</em><em>;</em> macht häufig und inkonsequent Diät; will den Urlaub am liebsten mit Shoppen und am Strand verbringen; der ruhige Pol der Familie. Sie verliert den Schlüssel der Ferienwohnung, was zu einer angespannten Stimmung zwischen ihr und <em>Peter</em> führt, doch am Ende versöhnen sie sich.                                        </p>
                                                                                                                        <h4 class="name">Tochter</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <i>Annika</i>, Tochter von <i>Peter</i> und <i>Gisela</i>; im Teenageralter; ist ständig damit beschäftigt, zu telefonieren oder SMS zu schreiben; will den Urlaub am liebsten auch mit Shoppen und am Strand verbringen; für <i>Bello</i> ist sie die Beste, da sie ihm immer wieder Essen zusteckt; freundet sich im Urlaub mit <i>Mirko Berger</i> an, beide wollen auch nach dem Urlaub Kontakt halten.                                         </p>
                                                                                                                        <h4 class="name">Sohn</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                     	<em>Simon,</em> Sohn von <em>Peter</em> und <em>Gisela;</em> im Teenageralter; verbringt viel Zeit am Computer; will im Urlaub die meiste Zeit nur abhängen und Musik hören.                                         </p>
                                                                                                                        <h4 class="name">Hund</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <i>Bello,</i> Hund der Familie und Ich-Erzähler (kann sowohl männlich als auch weiblich sein); liebt leckeres Essen und bekommt auch immer wieder etwas zugesteckt; sehr anhänglich; die Uneinigkeiten in der Familie verunsichern ihn und er versucht immer wieder, sie zu beruhigen und zu versöhnen; dabei kommt es zu einigen lustigen Situationen. Am Ende erweist sich <i>Bello</i> als Retter in der Not: Er findet den verlorenen Schlüssel, kommt einer Autoknackerbande auf die Schliche und rettet somit den Urlaub.                                        </p>
                                                                                                                        <h4 class="name">Andere Familie in Seebad</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    	Herr und Frau <i>Berger,</i> Eltern von <i>Mirko</i> und <i>Elena</i><em>;</em> machen auch in Seebad Urlaub; haben im selben unzumutbaren Hotel wie <i>Bellos</i> Familie gebucht und machen sich gemeinsam mit ihnen auf die Suche nach einer neuen Unterkunft; treffen die Familie immer wieder am Strand.<br /> <i>Mirko Berger,</i> Sohn von Herrn und Frau <i>Berger;</i> gut aussehend; in <i>Annikas</i> Alter; freundet sich mit <i>Annika</i> an und arrangiert immer wieder „zufällige“ Treffen mit ihr.<br /> <i>Elena Berger,</i> Tochter von Herrn und Frau <i>Berger;</i> steckt <i>Bello</i> immer wieder Leckerchen zu.                                        </p>
                                                                                                                        <h4 class="name">Ehepaar in Seebad</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <i>Holger</i> und <i>Anne Alt,</i>Mieter der Ferienwohnung, die versehentlich auch an <i>Bellos</i> Familie vermietet wird; lassen die Familie eine Nacht bei sich schlafen; treffen sich danach noch zweimal in Seebad.                                        </p>
                                                                                                                        <h4 class="name">Beste Freundin der älteren Tochter</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <i>Beate, Annikas</i> beste Freundin; wird nur erwähnt.                                        </p>
                                                                                                                        <h4 class="name">Beste Freundin der Mutter</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <i>Andrea, Giselas</i> beste Freundin; wird nur erwähnt.                                        </p>
                                                                                                    										
		</div>
			
		<div id="allgemein" class="tabcontent">
						<div class="note">
				<i>(Kursiv:</i>
				wird durch Ihre Angaben ersetzt<i>)</i>
			</div>
						
							
										                    <h2>Schauplatz</h2>
	                    <p>Seebad, ein fiktiver Ort am Meer in Deutschland
</p>
                    											
										                    <h2>Epoche</h2>
	                    <p>Gegenwart (Sommer)
</p>
                    											
										                    <h2>Abriss</h2>
	                    <p>Heitere Familienkomödie aus der Perspektive des Familienhundes erzählt - der erholsame Sommerurlaub verläuft nicht ganz so harmonisch wie geplant, aber am Schluss sind alle versöhnt und glücklich.</p>
                    										
		</div>
		
			<div id="varianten" class="tabcontent">
		
		<div class="note">
			<i>(Kursiv:</i>
			wird durch Ihre Angaben ersetzt<i>)</i>
		</div>
		
		
				<h2>Leseprobe</h2>
		Nun griff <i>Gisela</i> ein. „Ist ja gut, <i>Peter</i>. Den beiden tut es bestimmt leid, dass du Ärger mit deinem Chef bekommen hast. Und Urlaub können wir alle gebrauchen. Lass uns lieber überlegen, wohin wir fahren wollen!“<br />Und dann ging es zu, wie es bei uns immer zugeht. <i>Peter</i> erklärte, man müsse systematisch nachdenken. <i>Simon</i> verzog das Gesicht, aber <i>Peter</i> fuhr schon fort: „Wenn man systematisch nachdenkt, kommt man auf drei vernünftige Lösungen, wovon es gilt, eine auszuwählen.“<br />„Und die wären?“ <i>Annika</i> gähnte.<br />„Entweder fahren wir in die deutschen Alpen. Oder wir fahren in die österreichischen Alpen. Oder wir fahren in die Schweizer Alpen.“<br />„Und warum ziehst du die französischen Alpen nicht in Betracht?“, warf <i>Gisela</i> ein, und ich meinte, einen gewissen ironischen Unterton zu bemerken.<br />„Nun, um ehrlich zu sein, habe ich die vergessen“, gab <i>Peter</i> zu. „Also gibt es eventuell sogar noch die vierte Möglichkeit, in die französischen Alpen zu fahren.“<br /><i>Gisela</i> schwieg. <i>Simon</i> schwieg. <i>Annika</i> jedoch erklärte: „Also, du willst uns wieder voll manipulieren. Erstens gibt es noch Dutzende von anderen Möglichkeiten. Und zweitens will ich nicht in die Berge. In den Bergen ist einfach nichts los.“<br /><i>Simon</i> pflichtete ihr bei. <i>Gisela</i> sah von einem zum anderen und sagte nichts. <i>Peter</i> erwiderte, in den Bergen sei sehr wohl etwas los, man könne wandern und Sport machen und so, und immer hätten alle etwas zu meckern, und keiner halte zu ihm, und er bezahle schließlich das Ganze.<br /><i>Simon</i> wollte wissen, wo man in den Alpen Bungee-Jumping machen könne, und <i>Peter</i> wusste es nicht, aber <i>Gisela</i> erklärte, Bungee-Jumping könne er sich ohnehin abschminken, weil sie es einfach nicht erlaube. Und dann fragte sie, wohin <i>Simon</i> denn fahren wolle.<br /><i>Simon</i> kratzte sich am Kopf und wusste es nicht und murmelte, dass er mal seine Kumpels fragen würde, wohin die so fuhren.<br /><i>Gisela</i> grinste, das konnte ich ganz deutlich sehen. <i>Peter</i> grinste auch und machte sich noch etwas breiter auf dem Sofa, als habe er soeben einen Feind von seinem Lieblingsknochen verjagt.<br /><i>Gisela</i> fragte <i>Annika</i>, wohin sie denn fahren wolle. <br /><i>Annika</i> begann eine große Aufzählung von Klassenkameradinnen, die in Ägypten gewesen seien oder in Südamerika, in Kanada oder in Japan.<br /><i>Peter</i> empörte sich, er habe doch nicht im Lotto gewonnen, woraufhin <i>Annika</i> zurückzickte, andere Väter würden eben genügend verdienen, sodass die Familie auch mal ordentlich in den Urlaub fahren könnte. <i>Peter</i> erklärte böse, die anderen Väter hätten auch keine Kinder, die Nachmittage lang sämtliche Leitungen blockierten, während der Chef versuchte, sie zu erreichen, und da war <i>Annika</i> wenigstens kurzzeitig still.<br />Ich hoffte schon, dass dieser blöde Streit endlich ein Ende hatte. Ich mag überhaupt keinen Streit. Ich hatte versucht, mich unter <i>Peter</i> zu verkriechen, aber der saß ja auf dem Sofa, und so kuschelte ich mich unter seine Beine.<br /><i>Peter</i> sah <i>Annika</i> böse an. <i>Annika</i> sah <i>Peter</i> böse an. <i>Simon</i> sah alle böse an. Und <i>Gisela</i> erklärte, ganz abgesehen davon, dass Ägypten einfach zu teuer sei, hätten sie alle etwas Wichtiges vergessen.<br />Nun war ich ja mal gespannt, was das Wichtige war, und auch die anderen schienen immerhin interessiert zu sein.<br />„<i>Bello</i> “, sagte <i>Gisela</i>.<br />Ich schob vorsichtig meine Nase unter <i>Peter</i>s Beinen hervor. Das bin ich, dachte ich und wedelte vorsichtig mit dem Schwanz.<br />„Ihr habt <i>Bello</i> vergessen“, meinte <i>Gisela</i>. „Weder kann <i>Bello</i> mit nach Ägypten fliegen, noch irgendwelche Steilwände hochklettern noch Bungee-Jumping machen. Wir brauchen einen Urlaubsort, wo auch <i>Bello</i> Urlaub machen kann.“<br />Natürlich hatte sie recht, das sah nicht nur ich ein, sondern die anderen auch.<br /><i>Annika</i> und <i>Gisela</i> warfen sich einen Blick zu. Das gibt es bei den beiden manchmal, so eine Art stumme Verständigung.<br />„Wie wäre es mit dem Meer?“, fragte <i>Annika</i> schließlich zögernd. „Am Meer kann man wandern und Sport machen, und <i>Bello</i> wäre dort auch gut aufgehoben.“<br /><i>Gisela</i> nickte. „Das scheint mir eine hervorragende Idee zu sein! Gut, <i>Annika</i>! Doch, das scheint mir wirklich ideal! Du, <i>Peter</i>, könntest den ganzen Tag wandern. Stell dir vor, vielleicht sogar im Watt! Und du, <i>Simon</i>, hättest genügend Sportgelegenheiten!“<br />Und so war es ganz plötzlich beschlossen: Wir würden ans Meer fahren.<br /><i>Peter</i> schmollte noch ein wenig vor sich hin. Vielleicht war er doch nicht so urlaubsreif, wie er gesagt hatte. Er erklärte jedenfalls, wenn die Damen schon entschieden hätten, dass man ans Meer fahre, dann sollten die auch einen Urlaub buchen. Einen geeigneten, günstigen Urlaub. In einer Ferienwohnung.<br />„Wir werden in ein Reisebüro gehen“, erklärte <i>Gisela</i>. „<i>Annika</i> und ich.“<br /><i>Annika</i> nickte. „Dann können wir bei der Gelegenheit schon mal ein bisschen für den Urlaub shoppen.“<br /><i>Gisela</i> nickte. Die Damen waren sich wieder einmal einig. <br />Was übrigens sympathisch bei den beiden ist, ist ihre Vorliebe dafür, mich immer mitzunehmen. Und so kam ich zu jenem denkwürdigen Shoppingtrip, mit beziehungsweise ohne Urlaubsbuchung.				
	</div>
			
		<div id="author" class="tabcontent">
	    		<h2>Carla Benara</h2>
		
				<div class="thumb right">
			<img src="http://preview.personalnovel.de/thumbs/W/e/i/w200-929886b60864fc7f201df6f45bacd9b7-Weiand_Inken.jpg" />
			<div class="clear"></div>
		</div>
						<p>Carla Benara wuchs in Wuppertal auf; heute lebt sie mit Mann, Kindern und Wolfsspitz Gandalf in einem Dörfchen am Nordrand der Eifel. Eine inspirierende Umgebung, wie man der ständig wachsenden Zahl ihrer Veröffentlichungen entnehmen kann. <br /><br />

Weitere Informationen finden Sie auf <a 	href=" http://www.inkenweiand.de/html/carla_benara.html ">www.inkenweiand.de</a>
</p>
				<div class="clear"></div>
			</div>
		
		<div id="nennungshaeufigkeit"  class="tabcontent">
		<h2>Nennungshäufigkeit</h2>
		<p>
			Hier haben wir für Sie alle Möglichkeiten der 
			Personalisierung dieses Buches zusammengefasst. Dazu haben 
			wir auch aufgelistet, wie häufig die entsprechenden 
			Angaben im Buch vorkommen.
		</p>
		<p>
			Sie brauchen nicht alle diese Möglichkeiten zu nutzen
			&ndash; für jede Angabe können Sie auch einfach den 
			Vorgabewert verwenden.
		</p>
		
		<table id="personcount">
			<tbody>
				
								    					<tr class="person" colspan="2">
						<td>Vater</td>
					</tr>
											<tr>
							<td>Der Vorname des Vaters ist</td>
							<td class="count">616 x</td>
						</tr>
											<tr>
							<td>Der Nachname des Vaters ist</td>
							<td class="count">3 x</td>
						</tr>
											<tr>
							<td>Die Haarfarbe des Vaters ist</td>
							<td class="count">1 x</td>
						</tr>
											<tr>
							<td>Die Kinder nennen den Vater</td>
							<td class="count">6 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Mutter</td>
					</tr>
											<tr>
							<td>Der Vorname der Mutter ist</td>
							<td class="count">436 x</td>
						</tr>
											<tr>
							<td>Die Haarfarbe der Mutter ist</td>
							<td class="count">1 x</td>
						</tr>
											<tr>
							<td>Die Kinder nennen die Mutter</td>
							<td class="count">9 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Tochter</td>
					</tr>
											<tr>
							<td>Der Vorname der Tochter ist</td>
							<td class="count">383 x</td>
						</tr>
											<tr>
							<td>Die Haarfarbe der Tochter ist</td>
							<td class="count">1 x</td>
						</tr>
											<tr>
							<td>Das Alter der Tochter ist</td>
							<td class="count">1 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Sohn</td>
					</tr>
											<tr>
							<td>Der Vorname des Sohnes ist</td>
							<td class="count">312 x</td>
						</tr>
											<tr>
							<td>Die Haarfarbe des Sohnes ist</td>
							<td class="count">1 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Hund</td>
					</tr>
											<tr>
							<td>Der Hund (männlich oder weiblich) heißt</td>
							<td class="count">78 x</td>
						</tr>
											<tr>
							<td>Die Fellfarbe des Hundes ist</td>
							<td class="count">1 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Andere Familie in Seebad</td>
					</tr>
											<tr>
							<td>Der Nachname der Familie ist</td>
							<td class="count">38 x</td>
						</tr>
											<tr>
							<td>Der Vorname des Sohnes der anderen Familie ist</td>
							<td class="count">22 x</td>
						</tr>
											<tr>
							<td>Der Vorname der Tochter der anderen Familie ist</td>
							<td class="count">6 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Ehepaar in Seebad</td>
					</tr>
											<tr>
							<td>Der Vorname des Mannes ist</td>
							<td class="count">10 x</td>
						</tr>
											<tr>
							<td>Der Vorname der Frau ist</td>
							<td class="count">6 x</td>
						</tr>
											<tr>
							<td>Der Nachname des Ehepaars ist</td>
							<td class="count">14 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Beste Freundin der älteren Tochter</td>
					</tr>
											<tr>
							<td>Der Vorname der besten Freundin der Tochter ist</td>
							<td class="count">7 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Beste Freundin der Mutter</td>
					</tr>
											<tr>
							<td>Der Vorname der besten Freundin der Mutter ist</td>
							<td class="count">5 x</td>
						</tr>
																		
			</tbody>
		</table>
		<a href="#top" class="toplink" style="display: none;">Nach oben</a>
	</div>
		
		<div id="so_wird_bestellt" class="tabcontent">
		<h4>Bestellhilfe</h4>
		<style type="text/css">
			div#text ul { list-style-type: disc; }
			#tabsdiv br { margin-bottom: 10px }
		</style>
		<p>Sie bestellen bei PersonalNOVEL, indem Sie...</p>
		<ul>
			<li>ein Buch auswählen und in einzelnen Schritten personalisieren.</li>
			<li>von Ihnen personalisierte Bücher in den Warenkorb legen.</li>
			<li>Ihre Liefer- und Zahlungsdaten eingeben.</li>
			<li>Ihre E-Mail-Adresse angeben, damit wir Sie per E-Mail über
				Datenschutz und AGB informieren können.
			</li>
			<li>auf der Kontrollseite die Richtigkeit Ihrer Angaben bestätigen</li>
			<li>am Ende auf den Button „Bestellung absenden” klicken. Die
				Bestellung wird erst mit dem Button „Bestellung absenden”
				verbindlich an uns geschickt. Die Information über den Zeitpunkt
				des Vertragsschlusses finden Sie im entsprechenden Abschnitt
				in AGB. Mehr Infos zum Bestellvorgang finden Sie auf unseren Hilfeseiten.
			</li>
		</ul>
		Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden.
	</div>
		
		
</div>
</div>
<script language="javascript">

$(document).ready(function(){
    $("#nextpic").click(function(){ $("#nextpic2").click() });

    $('#previewleft').cycle({
        fx:      'fade',
        speed:   'slow',
        timeout: 0,
        next:    '#nextpic'
    });
    
    $('#previewright').cycle({
        fx:      'fade',
        speed:   'slow',
        timeout: 0,
        next:    '#nextpic2'
    });
    
    $('.disclosure-widget strong').click(function(){
		$(this).parent().toggleClass("disclosed");
		$(this).parent().children("ul").toggle(200);
	});
});

</script>
<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

