<?php $expire = 1405663978; /* http://web.personalnovel.local/customize/ebook/612.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress" class=progress-ebook >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				
		<li class="">Umschlag</li>
		
				
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?ebook=612">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Four Degrees North" src="/tl_files/thumbnail-book/four-degrees-north-612-detail.png">
								<div class="ebook-div">
				<button style="width: 115px;font-size:9pt;" class="awesomebutton awesomelightblue_gradient awesomeicon awesomeround" type="button">
				    <span class="icon arrow_down"><span class="icon">E-Book</span></span>
				</button>
				</div>
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Four Degrees North“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            19.99 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">19,99 EUR</h1>
																<button style="width: 260px;font-size:9pt" class="awesomebutton awesomelightblue_gradient nextpage awesomeicon  awesomeround" value="Weiter zur Widmung &gt;&gt;" type="submit" id="nextpage" name="submitter">
                	<span class="icon arrow_down"><span class="icon">E-Book: Weiter zur Widmung</span></span>
                </button><br/>
                <button style="width: 260px;font-size:9pt" class="awesomebutton awesomegreen_gradient awesomeicon awesomeround" type="button" onclick="location.href='/customize?book=612'">
                <span class="icon shopping_bag"><span class="icon">Als gedrucktes Buch ab 24,95</span></span>
                </button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-612" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">The Pilot</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Ethan O’Connor,</em> a mechanical engineer who grew up and lived in South Dakota. Three months previously he emigrated to Costa Rica and settled down in Quepos, where he befriended <em>Burt.</em> <em>Ethan</em> is down-to-earth, extremely resourceful, and can build just about anything; he is very passionate about flying, loves his own Cessna 182 Skylane, and made his hobby into a profession by setting up a private adventure touring service. He meets <em>Emma</em> and is instantly smitten. When <em>Emma’s</em> cousin <em>Analiese</em> is taken hostage by the ENP, he does not hesitate to accompany her and look out for her safety. He eventually figures out that <em>Analiese’s</em> kidnapping had only been a ruse to take <em>Emma</em> hostage and bribe her father for money. Together, they manage a spectacular jailbreak in <em>Ethan’s</em> makeshift plane he built from garage clutter. They arrive just in time to prevent an assassination planned by the ENP. After this turbulent adventure, he asks <em>Emma</em> if she wants to spend the rest of her life with him. She says yes.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							The first name of the pilot is																					</label>
																					<input type="text" value="Ethan" 
                                name="vars-Hero_CN" maxlength="30" id="vars-Hero_CN" 
                                data-fieldname="Hero_CN" 
                                data-default="Ethan" 
                                class="field focuser default" />
							<span class="field_count">952x</span>
						</div>
											<div class="field">
							<label>
							The last name of the pilot is																					</label>
																					<input type="text" value="O'Connor" 
                                name="vars-Hero_SN" maxlength="30" id="vars-Hero_SN" 
                                data-fieldname="Hero_SN" 
                                data-default="O'Connor" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							The pilot's eye colour is																					</label>
																					<input type="text" value="dark brown" 
                                name="vars-Hero_Eyes" maxlength="30" id="vars-Hero_Eyes" 
                                data-fieldname="Hero_Eyes" 
                                data-default="dark brown" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							The pilot's hair colour is																					</label>
																					<input type="text" value="brown" 
                                name="vars-Hero_Hair" maxlength="30" id="vars-Hero_Hair" 
                                data-fieldname="Hero_Hair" 
                                data-default="brown" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							The pilot likes the sports club: The ...																					</label>
																					<input type="text" value="Rockies" 
                                name="vars-Hero_Club" maxlength="30" id="vars-Hero_Club" 
                                data-fieldname="Hero_Club" 
                                data-default="Rockies" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">The Spanish Teacher</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Emma Baker,</em> daughter of the CEO of British Fruit International, does not enjoy a very warm relationship with her parents. She decided to rely on herself and become a Spanish teacher after studying <em>Social Sciences</em>. <em>Emma</em> is extremely loyal and soft-hearted. Mostly she is easygoing and acts composed and confident, except when someone she loves is in danger. She has a clear outlook on life and knows what she wants. When the ENP contacts her about her cousin <em>Analiese,</em> she does not hesitate to leave immediately for Colombia and deliver the 25,000 pounds ransom. She has a hard time accepting that <em>Analiese</em> used her to bribe money from her father, but when <em>Analiese</em> is in serious danger, she looks out for her and gets her to the hospital. After their adventurous trip, <em>Ethan</em> asks her to spend the rest of his life with her. She answers with a kiss.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							The teacher's first name is																					</label>
																					<input type="text" value="Emma" 
                                name="vars-Heroine_CN" maxlength="30" id="vars-Heroine_CN" 
                                data-fieldname="Heroine_CN" 
                                data-default="Emma" 
                                class="field focuser default" />
							<span class="field_count">608x</span>
						</div>
											<div class="field">
							<label>
							The teacher's last name is																					</label>
																					<input type="text" value="Baker" 
                                name="vars-Heroine_SN" maxlength="30" id="vars-Heroine_SN" 
                                data-fieldname="Heroine_SN" 
                                data-default="Baker" 
                                class="field focuser default" />
							<span class="field_count">10x</span>
						</div>
											<div class="field">
							<label>
							The teacher's eye colour is																					</label>
																					<input type="text" value="dark green" 
                                name="vars-Heroine_Eyes" maxlength="30" id="vars-Heroine_Eyes" 
                                data-fieldname="Heroine_Eyes" 
                                data-default="dark green" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							The teacher's hair colour is																					</label>
																					<input type="text" value="red" 
                                name="vars-Heroine_Hair" maxlength="30" id="vars-Heroine_Hair" 
                                data-fieldname="Heroine_Hair" 
                                data-default="red" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							The teacher studied ...																					</label>
																					<input type="text" value="Social Sciences" 
                                name="vars-Heroine_Study" maxlength="30" id="vars-Heroine_Study" 
                                data-fieldname="Heroine_Study" 
                                data-default="Social Sciences" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">The Experienced Friend</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Burt Finley,</em> emigrated from Chicago to Quepos fifteen years ago and enjoys a laidback lifestyle on his houseboat. He is a big fan of the <em>Cubs</em> and gets along with <em>Ethan</em> very well, although they are not fans of the same sports team. What no one guesses is that he used to be an MI6 agent who later became the head of security for Sir <em>Alex Baker’s</em> company. When he retired, Sir <em>Alex</em> entrusted him with keeping an eye on his daughter. <em>Burt</em> helps <em>Ethan</em> and <em>Emma</em> escape from the ENP.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							The first name of the friend is																					</label>
																					<input type="text" value="Burt" 
                                name="vars-Friend_CN" maxlength="30" id="vars-Friend_CN" 
                                data-fieldname="Friend_CN" 
                                data-default="Burt" 
                                class="field focuser default" />
							<span class="field_count">241x</span>
						</div>
											<div class="field">
							<label>
							The last name of the friend is																					</label>
																					<input type="text" value="Finley" 
                                name="vars-Friend_SN" maxlength="30" id="vars-Friend_SN" 
                                data-fieldname="Friend_SN" 
                                data-default="Finley" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
											<div class="field">
							<label>
							He is a big fan of the sports team: The ...																					</label>
																					<input type="text" value="Cubs" 
                                name="vars-Friend_Club" maxlength="30" id="vars-Friend_Club" 
                                data-fieldname="Friend_Club" 
                                data-default="Cubs" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">The Dangerous Cousin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Analiese</em> Huber, <em>Emma’s</em> cousin who spent lots of summer vacations with her when they were children. Later, they lost contact. She studied Environmental Geosciences emphasizing Environmental Social Issues, where she developed hatred for foreign industries taking advantage of and exploiting developing countries. In her view, Sir <em>Alex Baker’s</em> British Fruits International does exactly this. When she is introduced to <em>Juan Diego</em> and the ENP, she senses the opportunity to actively do something against this injustice. She has a wild romance with the ENP leader <em>Juan Diego.</em> So she helps lure <em>Emma</em> into the claws of the ENP to blackmail money from <em>Baker.</em> Later on, she fails to be as ruthless as expected from a terrorist and also realizes that <em>Emma</em> is very different from her father. This gets her in serious danger; she is hurt very badly by her fellow ENP members, but she survives.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							The first name of the cousin is																					</label>
																					<input type="text" value="Analiese" 
                                name="vars-Cousin_CN" maxlength="30" id="vars-Cousin_CN" 
                                data-fieldname="Cousin_CN" 
                                data-default="Analiese" 
                                class="field focuser default" />
							<span class="field_count">370x</span>
						</div>
											<div class="field">
							<label>
							The last name of the cousin is																					</label>
																					<input type="text" value="Huber" 
                                name="vars-Cousin_SN" maxlength="30" id="vars-Cousin_SN" 
                                data-fieldname="Cousin_SN" 
                                data-default="Huber" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">The Radical Hacker</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Gerda Muller,</em> studied Computational Sciences, but her main purpose is making quick money from hacking into government computers to help terrorists build their war chests. She introduces <em>Analiese</em> to <em>Juan Diego,</em> using her to lure <em>Emma</em> into a trap. She is very dangerous, calculating, and cold in executing her plans. She even attempts to murder <em>Analiese.</em></div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							The first name of the hacker is																					</label>
																					<input type="text" value="Gerda" 
                                name="vars-Radical_CN" maxlength="30" id="vars-Radical_CN" 
                                data-fieldname="Radical_CN" 
                                data-default="Gerda" 
                                class="field focuser default" />
							<span class="field_count">238x</span>
						</div>
											<div class="field">
							<label>
							The last name of the hacker is																					</label>
																					<input type="text" value="Müller" 
                                name="vars-Radical_SN" maxlength="30" id="vars-Radical_SN" 
                                data-fieldname="Radical_SN" 
                                data-default="Müller" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">The Ruthless ENP Leader</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Juan Diego de Marquez,</em> head of the Colombian ENP, an anarchistic guerrilla leader who has political ambitions. He has a romance with <em>Analiese,</em> but as soon as she is hesitant to act out his plans, he wants to get rid of her.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							The ENP leader's first name is																					</label>
																					<input type="text" value="Juan Diego" 
                                name="vars-Anarchist_CN" maxlength="30" id="vars-Anarchist_CN" 
                                data-fieldname="Anarchist_CN" 
                                data-default="Juan Diego" 
                                class="field focuser default" />
							<span class="field_count">230x</span>
						</div>
											<div class="field">
							<label>
							The ENP leader's last name is																					</label>
																					<input type="text" value="de Marquez" 
                                name="vars-Anarchist_SN" maxlength="30" id="vars-Anarchist_SN" 
                                data-fieldname="Anarchist_SN" 
                                data-default="de Marquez" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">The Company Boss</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Sir Alex Baker,</em> the past CEO of British Fruits International and chairman of the board of directors of BBI. He invested in South America, also working together with the government to thwart terrorism, was knighted for his philanthropic efforts, but is also very ruthless in business. He has been a rather neglectful parent to <em>Emma.</em> He even refuses to pay the ransom to free her, but sends <em>Burt</em> for help.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							The first name of the company boss is																					</label>
																					<input type="text" value="Alex" 
                                name="vars-Father_CN" maxlength="30" id="vars-Father_CN" 
                                data-fieldname="Father_CN" 
                                data-default="Alex" 
                                class="field focuser default" />
							<span class="field_count">61x</span>
						</div>
											<div class="field">
							<label>
							The last name of the company boss is																					</label>
																					<input type="text" value="Baker" 
                                name="vars-Father_SN" maxlength="30" id="vars-Father_SN" 
                                data-fieldname="Father_SN" 
                                data-default="Baker" 
                                class="field focuser default" />
							<span class="field_count">21x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">The Helpful Restaurant Owner</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Enrique Rojas,</em> owner of the Dos Locos restaurant <em>Ethan</em> frequents in downtown Quepos, is one of the locals <em>Ethan</em> has befriended. <em>Enrique</em> helps him by driving him to Manuel Antonio Airport. Small role.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							The first name of the restaurant owner is																					</label>
																					<input type="text" value="Enrique" 
                                name="vars-Driver_CN" maxlength="30" id="vars-Driver_CN" 
                                data-fieldname="Driver_CN" 
                                data-default="Enrique" 
                                class="field focuser default" />
							<span class="field_count">13x</span>
						</div>
											<div class="field">
							<label>
							The last name of the restaurant owner is																					</label>
																					<input type="text" value="Rojas" 
                                name="vars-Driver_SN" maxlength="30" id="vars-Driver_SN" 
                                data-fieldname="Driver_SN" 
                                data-default="Rojas" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">The Escape Aid</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Armando Santos,</em> a mercenary in Tumaco and an old friend of <em>Burt Finley,</em> helps <em>Ethan</em> and <em>Emma</em> escape to Ecuador. Small role.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							The aid's first name is																					</label>
																					<input type="text" value="Armando" 
                                name="vars-Help_CN" maxlength="30" id="vars-Help_CN" 
                                data-fieldname="Help_CN" 
                                data-default="Armando" 
                                class="field focuser default" />
							<span class="field_count">43x</span>
						</div>
											<div class="field">
							<label>
							The aid's last name is																					</label>
																					<input type="text" value="Santos" 
                                name="vars-Help_SN" maxlength="30" id="vars-Help_SN" 
                                data-fieldname="Help_SN" 
                                data-default="Santos" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">The Airport Controller</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Sam,</em> an airport controller who <em>Ethan</em> befriended since moving to Quepos. Very small role.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							The controller's first name is																					</label>
																					<input type="text" value="Sam" 
                                name="vars-Controller_CN" maxlength="30" id="vars-Controller_CN" 
                                data-fieldname="Controller_CN" 
                                data-default="Sam" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			<span class='default Hero_CN'>Ethan</span> <span class='default Hero_SN'>O'Connor</span> is an average guy who grew up in South Dakota and loves planes. He has <span class='default Hero_Eyes'>dark brown</span> eyes and <span class='default Hero_Hair'>brown</span> hair. When he arrives at Quepos he instantly befriends <span class='default Friend_CN'>Burt</span> <span class='default Friend_SN'>Finley</span>, a former MI6 agent and a great fan of the <span class='default Friend_Club'>Cubs</span>. <span class='default Hero_CN'>Ethan</span> is more of a <span class='default Hero_Club'>Rockies</span> guy. He also meets <span class='default Driver_CN'>Enrique</span> <span class='default Driver_SN'>Rojas</span> who owns a restaurant and befriends the airport controller <span class='default Controller_CN'>Sam</span>. When <span class='default Hero_CN'>Ethan</span> meets <span class='default Heroine_CN'>Emma</span> <span class='default Heroine_SN'>Baker</span> he is instantly smitten by her <span class='default Heroine_Hair'>red</span> hair and her mesmerizing <span class='default Heroine_Eyes'>dark green</span> eyes. She studied <span class='default Heroine_Study'>Social Sciences</span> but then decided to become a Spanish Teacher. The trouble begins when her cousin <span class='default Cousin_CN'>Analiese</span> <span class='default Cousin_SN'>Huber</span> is kidnapped by the ENP and <span class='default Heroine_CN'>Emma</span> is contacted for ransom. So the two take off for Colombia but soon find themselves in great trouble. The leader of the ENP, <span class='default Anarchist_CN'>Juan Diego</span> <span class='default Anarchist_SN'>de Marquez</span>, and the cousins friend <span class='default Radical_CN'>Gerda</span> <span class='default Radical_SN'>MÃ¼ller</span> have planned to lure <span class='default Heroine_CN'>Emma</span> into their trap to bribe an even bigger sum from her rich father, Sir <span class='default Father_CN'>Alex</span> <span class='default Father_SN'>Baker</span>. He refuses to pay but sends <span class='default Friend_CN'>Burt</span> for help who contacts <span class='default Help_CN'>Armando</span> <span class='default Help_SN'>Santos</span>. Its a close run but in the end <span class='default Heroine_CN'>Emma</span> and <span class='default Hero_CN'>Ethan</span> are safely home and happily planning to spend their life together.		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

