<?php $expire = 1405663483; /* http://web.personalnovel.local/customize/book/592.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=592">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Die Dynastie" src="/tl_files/thumbnail-book/die-dynastie-592-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Die Dynastie“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-592" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ahnherr</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Douglas Lacey</i>, Ahnherr; Erbauer von <i>Greenland</i>; blond; blaue Augen; Mann von <i>Ireen</i>; ihre Ehe ist sehr glücklich; Vater von <i>Cyril</i>, <i>Roger</i> und <i>Mary</i>; stirbt im Alter und kommt deshalb nur im ersten Teil vor.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Ahnherrn (und seiner ganzen Familie) ist																					</label>
																					<input type="text" value="Lacey" 
                                name="vars-Sein_Nachname" maxlength="30" id="vars-Sein_Nachname" 
                                data-fieldname="Sein_Nachname" 
                                data-default="Lacey" 
                                class="field focuser default" />
							<span class="field_count">25x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des Ahnherrn ist																					</label>
																					<input type="text" value="Douglas" 
                                name="vars-Sein_Vater" maxlength="30" id="vars-Sein_Vater" 
                                data-fieldname="Sein_Vater" 
                                data-default="Douglas" 
                                class="field focuser default" />
							<span class="field_count">44x</span>
						</div>
											<div class="field">
							<label>
							Der Name des Familiensitzes ist																					</label>
																					<input type="text" value="Greenland" 
                                name="vars-Familiensitz" maxlength="30" id="vars-Familiensitz" 
                                data-fieldname="Familiensitz" 
                                data-default="Greenland" 
                                class="field focuser default" />
							<span class="field_count">75x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Frau des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Ireen Lacey</i>, <i>Douglas</i>' Frau; rote Locken; grüne Augen; Mutter von <i>Cyril</i>, <i>Roger</i> und <i>Mary</i>; liebevoll; stirbt kurz nach <i>Douglas</i> an einer Lungenentzündung und kommt deshalb nur im ersten Teil vor.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Frau des Ahnherrn ist																					</label>
																					<input type="text" value="Ireen" 
                                name="vars-Seine_Mutter" maxlength="30" id="vars-Seine_Mutter" 
                                data-fieldname="Seine_Mutter" 
                                data-default="Ireen" 
                                class="field focuser default" />
							<span class="field_count">59x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ältester Sohn des Ahnherrn und Erbe</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Cyril Lacey</i>, die zentrale Figur der Saga; ältester Sohn von <i>Douglas</i> und <i>Ireen</i>; Erbe von <i>Greenland</i>; Pfeifenraucher; ein charmanter, gut aussehender Mann, der alle Frauenherzen bricht; verliebt sich in <i>Caroline</i>; als sie wieder zu ihrem Verlobten abreist, kann er es nicht fassen; lernt kurz darauf <i>Lucy</i> kennen, verliebt sich in sie und heiratet sie; kann <i>Caroline</i> aber nicht ganz vergessen; betrügt <i>Lucy</i> schließlich mit ihr; ihre Ehe ist danach aber noch einige Zeit sehr glücklich; nach <i>Lucy</i>s Tod versucht er noch mal sein Glück mit seiner ersten großen Liebe und heiratet <i>Caroline</i>; Vater von <i>Harry</i>, <i>Noel</i>, <i>Christine</i>, <i>Frances</i> und <i>Dennis</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Erben ist																					</label>
																					<input type="text" value="Cyril" 
                                name="vars-Sein_Vorname" maxlength="30" id="vars-Sein_Vorname" 
                                data-fieldname="Sein_Vorname" 
                                data-default="Cyril" 
                                class="field focuser default" />
							<span class="field_count">357x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe des Erben ist																					</label>
																					<input type="text" value="schwarz" 
                                name="vars-Seine_Haare" maxlength="30" id="vars-Seine_Haare" 
                                data-fieldname="Seine_Haare" 
                                data-default="schwarz" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des Erben ist																					</label>
																					<input type="text" value="blau" 
                                name="vars-Seine_Augen" maxlength="30" id="vars-Seine_Augen" 
                                data-fieldname="Seine_Augen" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">16x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Zweiter Sohn des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Roger Lacey</i>, zweiter Sohn von <i>Douglas</i> und <i>Ireen</i>; rotbraunes Haar; geht eine nicht standesgemäße Ehe mit seiner großen Liebe <i>Nicola</i> ein; die beiden führen eine sehr glückliche, harmonische Ehe; Vater von <i>Beatrice</i>, <i>Kathleen</i> und <i>Christian</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des zweiten Sohnes ist																					</label>
																					<input type="text" value="Roger" 
                                name="vars-Sein_Bruder" maxlength="30" id="vars-Sein_Bruder" 
                                data-fieldname="Sein_Bruder" 
                                data-default="Roger" 
                                class="field focuser default" />
							<span class="field_count">136x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Tochter des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Mary Lacey</i>, jüngstes Kind und einzige Tochter von <i>Douglas</i> und <i>Ireen</i>; die tragische Figur der Saga; dichtes, dunkles Haar; braune Augen; lange Beine; findet in <i>Kester Larne</i> ihre große Liebe; nachdem er sie verlässt, heiratet sie <i>Adam Taylor</i>, mit dem sie einen Sohn <i>Stephan</i> hat; als <i>Kester</i> zurückkehrt, kommen sie wieder zusammen und wollen heiraten, doch er stirbt bei einem Autounfall; sie bekommt eine Tochter <i>Sylvia</i> von ihm; <i>Adam</i> und <i>Stephan</i> ziehen weg.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Tochter des Ahnherrn ist																					</label>
																					<input type="text" value="Mary" 
                                name="vars-Seine_Schwester" maxlength="30" id="vars-Seine_Schwester" 
                                data-fieldname="Seine_Schwester" 
                                data-default="Mary" 
                                class="field focuser default" />
							<span class="field_count">217x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Erste Frau des ältesten Sohnes und Erben</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Lucy Karry</i>, erste Frau von <i>Cyril</i>; langes, braunes Haar; sanfte Rehaugen; sehr schön; schwächlich; stammt aus Kalifornien; Mutter von <i>Harry</i>, <i>Noel</i> und <i>Christine</i>; liebt ihren Mann hingebungsvoll; leidet darunter, dass er so wenig Zeit für sie hat; verliert ihr erstes Baby während der Schwangerschaft; verzeiht ihm und <i>Caroline</i> den Betrug; stirbt bei der Geburt von <i>Christine</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Kalifornierin ist																					</label>
																					<input type="text" value="Lucy" 
                                name="vars-Ehefrau1_vn" maxlength="30" id="vars-Ehefrau1_vn" 
                                data-fieldname="Ehefrau1_vn" 
                                data-default="Lucy" 
                                class="field focuser default" />
							<span class="field_count">166x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Kalifornierin ist																					</label>
																					<input type="text" value="Karry" 
                                name="vars-Ehefrau1_nn" maxlength="30" id="vars-Ehefrau1_nn" 
                                data-fieldname="Ehefrau1_nn" 
                                data-default="Karry" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Zweite Frau des ältesten Sohnes und Erben</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Caroline Walton</i>, zweite Frau von <i>Cyril</i>; wunderschön; wirkt nach außen eher kühl; Tochter einer guten Freundin von <i>Ireen</i>; ist Anfang der 50er Jahre eine Zeit lang zu Besuch auf <i>Greenland</i> und kommt <i>Cyril</i> da schon näher; ist zu dieser Zeit aber mit Valentin verlobt; löst die Verlobung, aber ist zu stolz, zu <i>Cyril</i> zurückzukehren; als sie sich Jahre später wiedertreffen, flammt die alte Leidenschaft neu auf; ist eng mit <i>Lucy</i> befreundet und leidet unter dem Betrug; wird schließlich die zweite Frau von <i>Cyril</i>; Mutter von <i>Frances</i> und <i>Dennis</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Londonerin ist																					</label>
																					<input type="text" value="Caroline" 
                                name="vars-Ihr_Vorname" maxlength="30" id="vars-Ihr_Vorname" 
                                data-fieldname="Ihr_Vorname" 
                                data-default="Caroline" 
                                class="field focuser default" />
							<span class="field_count">218x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Londonerin ist																					</label>
																					<input type="text" value="Walton" 
                                name="vars-Ihr_Nachname" maxlength="30" id="vars-Ihr_Nachname" 
                                data-fieldname="Ihr_Nachname" 
                                data-default="Walton" 
                                class="field focuser default" />
							<span class="field_count">10x</span>
						</div>
											<div class="field">
							<label>
							Die  Haarfarbe der Londonerin ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Ihre_Haare" maxlength="30" id="vars-Ihre_Haare" 
                                data-fieldname="Ihre_Haare" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Londonerin ist																					</label>
																					<input type="text" value="grün" 
                                name="vars-Ihre_Augen" maxlength="30" id="vars-Ihre_Augen" 
                                data-fieldname="Ihre_Augen" 
                                data-default="grün" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Frau des zweiten Sohnes des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Nicola Legrande</i>, Haushälterin von <i>Adam</i> Taylors Schwester; Frau von <i>Roger</i>; schön; zierlich; schwarze Haare; schräge, dunkle Augen; Mutter von <i>Beatrice</i>, <i>Kathleen</i> und <i>Christian</i>; gute Mutter und liebevolle Ehefrau.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Haushälterin ist																					</label>
																					<input type="text" value="Nicola" 
                                name="vars-Schwaegerin_vn" maxlength="30" id="vars-Schwaegerin_vn" 
                                data-fieldname="Schwaegerin_vn" 
                                data-default="Nicola" 
                                class="field focuser default" />
							<span class="field_count">108x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Haushälterin ist																					</label>
																					<input type="text" value="Legrande" 
                                name="vars-Schwaegerin_nn" maxlength="30" id="vars-Schwaegerin_nn" 
                                data-fieldname="Schwaegerin_nn" 
                                data-default="Legrande" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Große Liebe der Tochter des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Kester Larne</i>, <i>Mary</i>s große Liebe; dreiviertel Ire mit einer spanischen Großmutter; dunkle Augen; dunkle Haare mit Rotschimmer; Pfeifenraucher; führt ein unstetes Nomadenleben und hält es nie lange an einem Ort aus; lebt eine Zeit auf <i>Greenland</i> in einer Holzhütte und hilft bei der Apfelernte; ist mit <i>Mary</i> zusammen, aber verlässt sie wieder, da es ihn fortzieht; als er Jahre später zurückkehrt, ist er bereit, seine Liebe zu ihr einzugestehen; will sie heiraten und bei ihr bleiben; verunglückt dann aber tödlich mit dem Auto; Vater von <i>Sylvia</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Nomaden ist																					</label>
																					<input type="text" value="Kester" 
                                name="vars-Nomade_vn" maxlength="30" id="vars-Nomade_vn" 
                                data-fieldname="Nomade_vn" 
                                data-default="Kester" 
                                class="field focuser default" />
							<span class="field_count">53x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Nomaden ist																					</label>
																					<input type="text" value="Larne" 
                                name="vars-Nomade_nn" maxlength="30" id="vars-Nomade_nn" 
                                data-fieldname="Nomade_nn" 
                                data-default="Larne" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ehemann der Tochter des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Adam Taylor</i>, <i>Mary</i>s Ehemann; lange Zeit in Mary verliebt, ohne dass sie seine Gefühle erwidert; als sie von <i>Kester</i> verlassen wird, heiratet sie ihn; in der ganzen Familie eher unbeliebt; zieht schließlich mit Sohn <i>Stephan</i> weg.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Ehemanns der Tochter des Ahnherrn ist																					</label>
																					<input type="text" value="Adam" 
                                name="vars-Schwager_vn" maxlength="30" id="vars-Schwager_vn" 
                                data-fieldname="Schwager_vn" 
                                data-default="Adam" 
                                class="field focuser default" />
							<span class="field_count">54x</span>
						</div>
											<div class="field">
							<label>
							Der  Nachname des Ehemann der Tochter des Ahnherrn ist																					</label>
																					<input type="text" value="Taylor" 
                                name="vars-Schwager_nn" maxlength="30" id="vars-Schwager_nn" 
                                data-fieldname="Schwager_nn" 
                                data-default="Taylor" 
                                class="field focuser default" />
							<span class="field_count">16x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Erster Sohn des ältesten Sohnes des Ahnherrn mit seiner ersten Frau</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Harry Lacey</i>, ältester Sohn von <i>Cyril</i> und <i>Lucy</i>; gleiche Augen- und Haarfarbe wie <i>Cyril</i>; dichtes Haar; Ebenbild seines Vaters; lebt als Erwachsener in New York; lässt sich zunächst von seiner Frau <i>Kate</i> scheiden, kommt dann wieder mit ihr zusammen.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des späteren Wahl-New-Yorkers ist																					</label>
																					<input type="text" value="Harry" 
                                name="vars-Sohn1_vn" maxlength="30" id="vars-Sohn1_vn" 
                                data-fieldname="Sohn1_vn" 
                                data-default="Harry" 
                                class="field focuser default" />
							<span class="field_count">93x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Zweiter Sohn  des ältesten Sohnes des Ahnherrn mit seiner ersten Frau</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Noel Lacey</i>, zweiter Sohn von <i>Cyril</i> und <i>Lucy</i>; braune Augen; braune Haare; ruhiger, freundlicher, sanfter Mensch, der nach seiner Mutter kommt; lebt mit seiner späteren Frau <i>Anne</i> und seinen beiden Töchtern, <i>Virginia</i> und <i>Jessica</i>, glücklich in London.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des späteren Londoners ist																					</label>
																					<input type="text" value="Noel" 
                                name="vars-Sohn2_vn" maxlength="30" id="vars-Sohn2_vn" 
                                data-fieldname="Sohn2_vn" 
                                data-default="Noel" 
                                class="field focuser default" />
							<span class="field_count">35x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Erste Tochter  des ältesten Sohnes des Ahnherrn mit seiner ersten Frau</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Christine Lacey</i>, jüngste Tochter von <i>Cyril</i> und <i>Lucy</i>, bei deren Geburt <i>Lucy</i> stirbt; blonde Haare; blaue Augen; absolute Lieblingstochter von <i>Cyril</i>; liebt ihren Vater abgöttisch und ist lange Zeit eifersüchtig auf jeden, der sich ihm emotional nähert; hat deswegen ein schwieriges Verhältnis zu <i>Caroline</i>; heiratet <i>Piers White</i>; hat mit ihm einen Sohn, <i>Daniel</i>; erkennt erst nach einem Kuss mit ihrem Cousin <i>Christian</i>, wie sehr sie ihren Mann liebt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Lieblingstochter des ältesten Sohnes ist																					</label>
																					<input type="text" value="Christine" 
                                name="vars-Tochter_vn" maxlength="30" id="vars-Tochter_vn" 
                                data-fieldname="Tochter_vn" 
                                data-default="Christine" 
                                class="field focuser default" />
							<span class="field_count">163x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Zweite Tochter  des ältesten Sohnes des Ahnherrn mit seiner zweiten Frau</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Frances Lacey</i>, erste Tochter von <i>Cyril</i> und <i>Caroline</i>; rote Haare; grüne Augen; temperamentvoll und fröhlich.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der ersten Tochter des ältesten Sohnes aus seiner zweiten Ehe ist																					</label>
																					<input type="text" value="Frances" 
                                name="vars-Ihre_Tochter1" maxlength="30" id="vars-Ihre_Tochter1" 
                                data-fieldname="Ihre_Tochter1" 
                                data-default="Frances" 
                                class="field focuser default" />
							<span class="field_count">37x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Dritter Sohn  des ältesten Sohnes des Ahnherrn mit seiner zweiten Frau</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Dennis Lacey</i>, zweites Kind von <i>Cyril</i> und <i>Caroline</i>; blonde Haare; grüne Augen; charmanter Frauenheld; hat ein Verhältnis mit seiner Cousine <i>Sylvia</i>, die von ihm ein Kind, <i>Pheasant</i>, bekommt; findet aber in <i>Helen</i> seine große Liebe; zieht mit ihr nach London.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des späteren Wahl-Londoners ist																					</label>
																					<input type="text" value="Dennis" 
                                name="vars-Ihr_Sohn" maxlength="30" id="vars-Ihr_Sohn" 
                                data-fieldname="Ihr_Sohn" 
                                data-default="Dennis" 
                                class="field focuser default" />
							<span class="field_count">74x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Älteste Tochter des zweiten Sohnes des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Beatrice Lacey</i>, älteste Tochter von <i>Roger</i> und <i>Nicola</i>; blonde Haare; braune Augen; Sommersprossen; verliebt sich in <i>Brian Heath</i>, der sich aber für ihre kleine Schwester <i>Kathleen</i> entscheidet; nach einer kurzen Zeit des Streits verzeiht sie ihrer Schwester und erkennt, dass <i>Brian</i> in Wirklichkeit ein Blender ist; beginnt ein neues, selbstständiges Leben in London; wird Sekretärin; bleibt unverheiratet.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der späteren Sekretärin ist																					</label>
																					<input type="text" value="Beatrice" 
                                name="vars-Enttaeuschte_vn" maxlength="30" id="vars-Enttaeuschte_vn" 
                                data-fieldname="Enttaeuschte_vn" 
                                data-default="Beatrice" 
                                class="field focuser default" />
							<span class="field_count">128x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Zweite Tochter des zweiten Sohnes des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Kathleen Lacey</i>, zweite Tochter von <i>Roger</i> und <i>Nicola</i>; dunkle Augen; rotbraune Locken; Pferdenärrin; ihre Ehe mit <i>Brian Heath</i> verläuft unglücklich; in ihrer zweiten Ehe mit <i>Maurice Lewis</i> findet sie ihr Glück und bekommt eine Tochter, <i>Bridget</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der  Pferdenärrin ist																					</label>
																					<input type="text" value="Kathleen" 
                                name="vars-Pferdenaerrin_vn" maxlength="30" id="vars-Pferdenaerrin_vn" 
                                data-fieldname="Pferdenaerrin_vn" 
                                data-default="Kathleen" 
                                class="field focuser default" />
							<span class="field_count">167x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Sohn des zweiten Sohnes des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Christian Lacey</i>, jüngstes Kind von <i>Roger</i> und <i>Nicola</i>; dunkle Augen; dunkles Haar; wird von seinem Onkel <i>Cyril</i> zum künftigen Erben von <i>Greenland</i> auserwählt; heiratet Karen, mit der er zwei Söhne, <i>Doug</i> und <i>Christoph</i>, und eine Tochter, <i>Franziska</i>, hat; hat in einer schwierigen Beziehungsphase einen schwachen Moment mit <i>Christine</i>, in dem er sie küsst; verschweigt das seiner Frau, aber danach sind sie sehr gllücklich.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der  Vorname des zukünftigen Erben ist																					</label>
																					<input type="text" value="Christian" 
                                name="vars-Neffe_vn" maxlength="30" id="vars-Neffe_vn" 
                                data-fieldname="Neffe_vn" 
                                data-default="Christian" 
                                class="field focuser default" />
							<span class="field_count">62x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Sohn der Tochter des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Stephan Taylor</i>, Sohn von <i>Mary</i> und <i>Adam Taylor</i>; zieht nach dem Scheitern der Ehe mit seinem Vater weg; hat keine aktive Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Enkels des Ahnherrn																					</label>
																					<input type="text" value="Stephan" 
                                name="vars-Vatersohn_vn" maxlength="30" id="vars-Vatersohn_vn" 
                                data-fieldname="Vatersohn_vn" 
                                data-default="Stephan" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Tochter der Tochter des Ahnherrn und ihrer großen Liebe</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Sylvia Lacey</i>; Tochter von <i>Mary</i> und <i>Kester Larne</i>; dunkle Augen; rotbraune Haare; sehr schön; ähnlich tragisch und geheimnisvoll wie ihre Mutter; hat eine Affäre mit ihrem Cousin <i>Dennis</i>, von dem sie schwanger wird; zieht ihre Tochter <i>Pheasant</i> allein auf.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Tochter der Tochter des Ahnherrn ist																					</label>
																					<input type="text" value="Sylvia" 
                                name="vars-Nichte_vn" maxlength="30" id="vars-Nichte_vn" 
                                data-fieldname="Nichte_vn" 
                                data-default="Sylvia" 
                                class="field focuser default" />
							<span class="field_count">56x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Exfrau des ersten Sohnes des ältesten Sohnes des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Kate Jackson</i>, <i>Harry</i>s Exfrau; lebt in New York; kommt ihrem Exmann bei einem Besuch auf <i>Greenland</i> wieder näher.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Exfrau des späteren Wahl-New-Yorkers ist																					</label>
																					<input type="text" value="Kate" 
                                name="vars-Schwiegertochter1_vn" maxlength="30" id="vars-Schwiegertochter1_vn" 
                                data-fieldname="Schwiegertochter1_vn" 
                                data-default="Kate" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Exfrau des späteren Wahl-New-Yorkers ist																					</label>
																					<input type="text" value="Jackson" 
                                name="vars-Schwiegertochter1_nn" maxlength="30" id="vars-Schwiegertochter1_nn" 
                                data-fieldname="Schwiegertochter1_nn" 
                                data-default="Jackson" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ehefrau des zweiten Sohnes  des ältesten Sohnes des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Anne</i>, Ehefrau von <i>Noel</i>; Mutter von <i>Virginia</i> und <i>Jessica</i>; lebt mit ihrer Familie in London.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Frau des späteren Londoners ist																					</label>
																					<input type="text" value="Anne" 
                                name="vars-Schwiegertochter2_vn" maxlength="30" id="vars-Schwiegertochter2_vn" 
                                data-fieldname="Schwiegertochter2_vn" 
                                data-default="Anne" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ehemann der ersten Tochter des ältesten Sohnes des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Piers White</i>, Ehemann von <i>Christine</i>; Vater von <i>Daniel</i>; blaue Augen; sehr helle Haare; starker, zuverlässiger, in sich ruhender Mann, große Unterstützung für <i>Greenland</i>; leider unter <i>Christine</i>s Gleichgültigkeit; verzeiht ihr den Kuss mit <i>Christian</i> und die beiden finden endlich zueinander.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Ehemanns der Lieblingstochter ist																					</label>
																					<input type="text" value="Piers" 
                                name="vars-Schwiegersohn1_vn" maxlength="30" id="vars-Schwiegersohn1_vn" 
                                data-fieldname="Schwiegersohn1_vn" 
                                data-default="Piers" 
                                class="field focuser default" />
							<span class="field_count">66x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Ehemanns der Lieblingstochter ist																					</label>
																					<input type="text" value="White" 
                                name="vars-Schwiegersohn1_nn" maxlength="30" id="vars-Schwiegersohn1_nn" 
                                data-fieldname="Schwiegersohn1_nn" 
                                data-default="White" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ehemann der zweiten Tochter des ältesten Sohnes des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Rob Fields</i>, Ehemann von <i>Frances</i>; Ire; wird nur erwähnt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Iren ist																					</label>
																					<input type="text" value="Rob" 
                                name="vars-Schwiegersohn2_vn" maxlength="30" id="vars-Schwiegersohn2_vn" 
                                data-fieldname="Schwiegersohn2_vn" 
                                data-default="Rob" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Iren ist																					</label>
																					<input type="text" value="Fields" 
                                name="vars-Schwiegersohn2_nn" maxlength="30" id="vars-Schwiegersohn2_nn" 
                                data-fieldname="Schwiegersohn2_nn" 
                                data-default="Fields" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Verlobte des dritten Sohns des ältesten Sohnes des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Helen</i>, Verlobte von <i>Dennis</i>; Buchhändlerin; kann keine Kinder bekommen; gerät in eine Krise, als sie erfährt, dass <i>Sylvia</i> ein Kind von <i>Dennis</i> bekommt (Affäre wurde beendet, bevor <i>Dennis</i> und <i>Helen</i> zusammenkamen); aber ihre Liebe ist stark genug, das zu überstehen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Buchhändlerin ist																					</label>
																					<input type="text" value="Helen" 
                                name="vars-Schwiegertochter3_vn" maxlength="30" id="vars-Schwiegertochter3_vn" 
                                data-fieldname="Schwiegertochter3_vn" 
                                data-default="Helen" 
                                class="field focuser default" />
							<span class="field_count">37x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Erster Ehemann der zweiten Tochter des zweiten Sohnes des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Brian Heath</i>, erster Mann von <i>Kathleen</i>; blonde Haare; graublaue Augen; neun Jahre älter als <i>Beatrice</i>; war eigentlich mit <i>Beatrice</i> zusammen, verliebt sich dann aber in <i>Kathleen</i>; wirkt zunächst sehr sympathisch, hat in Wahrheit aber einen schlechten Charakter; später kann ihn die ganze Familie nicht mehr leiden, da er <i>Kathleen</i> unterdrückt; wird von <i>Kathleen</i> verlassen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des herrischen Ehemans der Pferdenärrin ist																					</label>
																					<input type="text" value="Brian" 
                                name="vars-Betrueger_vn" maxlength="30" id="vars-Betrueger_vn" 
                                data-fieldname="Betrueger_vn" 
                                data-default="Brian" 
                                class="field focuser default" />
							<span class="field_count">93x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des herrischen Ehemans der Pferdenärrin ist																					</label>
																					<input type="text" value="Heath" 
                                name="vars-Betrueger_nn" maxlength="30" id="vars-Betrueger_nn" 
                                data-fieldname="Betrueger_nn" 
                                data-default="Heath" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Zweiter Ehemann der zweiten Tochter des zweiten Sohnes des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Maurice Lewis</i>, zweiter Mann von <i>Kathleen</i>; braune Locken; graue Augen; Freund und Kollege von <i>Harry</i> aus New York; verliebt sich während eines Besuchs auf <i>Greenland</i> in <i>Kathleen</i> und heiratet sie dann.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der  Vorname des zweiten Ehemanns der Pferdenärrin ist																					</label>
																					<input type="text" value="Maurice" 
                                name="vars-Retter_vn" maxlength="30" id="vars-Retter_vn" 
                                data-fieldname="Retter_vn" 
                                data-default="Maurice" 
                                class="field focuser default" />
							<span class="field_count">26x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des zweiten Ehemanns der Pferdenärrin ist																					</label>
																					<input type="text" value="Lewis" 
                                name="vars-Retter_nn" maxlength="30" id="vars-Retter_nn" 
                                data-fieldname="Retter_nn" 
                                data-default="Lewis" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ehefrau des Sohnes des zweiten Sohnes des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Karen</i>, Ehefrau von <i>Christian</i>; Mutter von <i>Doug</i>, <i>Christoph</i> und <i>Franziska</i>; sehr kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Ehefrau eines Enkels des Ahnherrn ist																					</label>
																					<input type="text" value="Karen" 
                                name="vars-Neffenfrau_vn" maxlength="30" id="vars-Neffenfrau_vn" 
                                data-fieldname="Neffenfrau_vn" 
                                data-default="Karen" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Erste Tochter des zweiten Sohnes  des ältesten Sohnes des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Virginia Lacey</i>, erste Tochter von <i>Noel</i> und <i>Anne</i>; grünblaue Augen; rotblaue Haare; sieht ihrer Großmutter <i>Lucy</i> sehr ähnlich.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der ersten Urenkelin des Ahnherrn ist																					</label>
																					<input type="text" value="Virginia" 
                                name="vars-Maedchen1_vn" maxlength="30" id="vars-Maedchen1_vn" 
                                data-fieldname="Maedchen1_vn" 
                                data-default="Virginia" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Zweite Tochter des zweiten Sohnes  des ältesten Sohnes des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Jessica Lacey</i>, zweite Tochter von <i>Noel</i> und <i>Anne</i>; sieht aus wie <i>Cyril</i>; hat seine Augenfarbe.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der zweiten Urenkelin des Ahnherrn ist																					</label>
																					<input type="text" value="Jessica" 
                                name="vars-Maedchen2_vn" maxlength="30" id="vars-Maedchen2_vn" 
                                data-fieldname="Maedchen2_vn" 
                                data-default="Jessica" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Tochter der zweiten Tochter des zweiten Sohnes des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Bridget Lewis</i>, Tochter von <i>Kathleen</i> und <i>Maurice</i>; große, graue Augen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der dritten Urenkelin des Ahnherrn ist																					</label>
																					<input type="text" value="Bridget" 
                                name="vars-Enkelin_vn" maxlength="30" id="vars-Enkelin_vn" 
                                data-fieldname="Enkelin_vn" 
                                data-default="Bridget" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Erster Sohn des Sohnes des zweiten Sohnes des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Doug Lacey</i>, erster Sohn von <i>Christian</i> und <i>Karen</i>; blonde Haare; blaue Augen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des ersten Urenkels des Ahnherrn ist																					</label>
																					<input type="text" value="Doug" 
                                name="vars-Neffenkind_vn" maxlength="30" id="vars-Neffenkind_vn" 
                                data-fieldname="Neffenkind_vn" 
                                data-default="Doug" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Zweiter Sohn des Sohnes des zweiten Sohnes des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Christoph Lacey</i>, zweiter Sohn von <i>Christian</i> und <i>Karen</i>; blonde Haare; blaue Augen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des zweiten Urenkels des Ahnherrn ist																					</label>
																					<input type="text" value="Christoph" 
                                name="vars-Erbenenkel_vn" maxlength="30" id="vars-Erbenenkel_vn" 
                                data-fieldname="Erbenenkel_vn" 
                                data-default="Christoph" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Uneheliche Tochter der Tochter der Tochter des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Pheasant</i>, uneheliche Tochter von <i>Sylvia</i> und <i>Dennis</i>; dunkle Haare.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der vierten Urenkelin des Ahnherrn ist																					</label>
																					<input type="text" value="Pheasant" 
                                name="vars-Nichte_Tochter" maxlength="30" id="vars-Nichte_Tochter" 
                                data-fieldname="Nichte_Tochter" 
                                data-default="Pheasant" 
                                class="field focuser default" />
							<span class="field_count">15x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Tochter des Sohnes des zweiten Sohnes des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Franziska Lacey</i>, jüngste Tochter von <i>Christian</i> und <i>Karen</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der fünften Urenkelin des Ahnherrn ist																					</label>
																					<input type="text" value="Franziska" 
                                name="vars-Nesthaekchen" maxlength="30" id="vars-Nesthaekchen" 
                                data-fieldname="Nesthaekchen" 
                                data-default="Franziska" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Sohn der ersten Tochter  des ältesten Sohnes des Ahnherrn</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Daniel White</i>, Sohn von <i>Christine</i> und <i>Piers</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des dritten Urenkels des Ahnherrn ist																					</label>
																					<input type="text" value="Daniel" 
                                name="vars-Tochter_Sohn" maxlength="30" id="vars-Tochter_Sohn" 
                                data-fieldname="Tochter_Sohn" 
                                data-default="Daniel" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			Das Schicksal von drei Generationen auf dem englischen Landsitz <span class='default Familiensitz'>Greenland</span> wird in dieser Familiensaga erzählt. Die erste Generation, <span class='default Sein_Vater'>Douglas</span> <span class='default Sein_Nachname'>Lacey</span> und seine Gattin <span class='default Seine_Mutter'>Ireen</span>, haben drei Kinder: Der ältesten Sohn und Erben <span class='default Sein_Vorname'>Cyril</span> mit <span class='default Seine_Haare'>schwarz</span>en Haare und <span class='default Seine_Augen'>blau</span>en Augen, der <span class='default Ehefrau1_vn'>Lucy</span> <span class='default Ehefrau1_nn'>Karry</span> heiratet, mit der er drei Kinder bekommt: <span class='default Sohn1_vn'>Harry</span> verheiratet mit <span class='default Schwiegertochter1_vn'>Kate</span> <span class='default Schwiegertochter1_nn'>Jackson</span>, <span class='default Sohn2_vn'>Noel</span>, dessen Frau <span class='default Schwiegertochter2_vn'>Anne</span> ist, und <span class='default Tochter_vn'>Christine</span>, die später <span class='default Schwiegersohn1_vn'>Piers</span> <span class='default Schwiegersohn1_nn'>White</span> heiratet, mit dem sie einen Sohn, <span class='default Tochter_Sohn'>Daniel</span>, bekommt. Nach dem Tod seiner ersten Ehefrau heiratet die Hauptperson <span class='default Ihr_Vorname'>Caroline</span> <span class='default Ihr_Nachname'>Walton</span>, die <span class='default Ihre_Haare'>braun</span>e Haare und <span class='default Ihre_Augen'>grÃ¼n</span>e Augen hat. Ihre gemeinsame Tochter <span class='default Ihre_Tochter1'>Frances</span> heiratet <span class='default Schwiegersohn2_vn'>Rob</span> <span class='default Schwiegersohn2_nn'>Fields</span>. Ihr Sohn <span class='default Ihr_Sohn'>Dennis</span> hat, aus einer Affäre mit seiner Cousine, eine Tochter <span class='default Nichte_Tochter'>Pheasant</span>, dennoch verliebt er sich in <span class='default Schwiegertochter3_vn'>Helen</span> und heiratet sie schließlich. 
Der zweite Sohn des Ahnherrn, <span class='default Sein_Bruder'>Roger</span>, heiratet <span class='default Schwaegerin_vn'>Nicola</span> <span class='default Schwaegerin_nn'>Legrande</span> und hat mit ihr drei Kinder: Die älteste Tochter <span class='default Enttaeuschte_vn'>Beatrice</span> wird von <span class='default Betrueger_vn'>Brian</span> <span class='default Betrueger_nn'>Heath</span> enttäuscht, der ihre jüngere Schwester <span class='default Pferdenaerrin_vn'>Kathleen</span> vorzieht. Nach unglücklicher Ehe mit <span class='default Betrueger_vn'>Brian</span> heiratet <span class='default Pferdenaerrin_vn'>Kathleen</span> <span class='default Retter_vn'>Maurice</span> <span class='default Retter_nn'>Lewis</span>. Der jüngster Sohn <span class='default Neffe_vn'>Christian</span> heiratet <span class='default Neffenfrau_vn'>Karen</span>. 
Die Tochter des Ahnherrn <span class='default Seine_Schwester'>Mary</span> liebt <span class='default Nomade_vn'>Kester</span> <span class='default Nomade_nn'>Larne</span>, mit dem sie ein gemeinsames Kind, <span class='default Nichte_vn'>Sylvia</span>, hat. Verheiratet ist sie mit <span class='default Schwager_vn'>Adam</span> <span class='default Schwager_nn'>Taylor</span>, ihr gemeinsamer Sohn heißt <span class='default Vatersohn_vn'>Stephan</span>. 
Und schließlich wächst die dritte Generation heran: <span class='default Maedchen1_vn'>Virginia</span> und <span class='default Maedchen2_vn'>Jessica</span>, <span class='default Neffenkind_vn'>Doug</span>, <span class='default Erbenenkel_vn'>Christoph</span> und <span class='default Nesthaekchen'>Franziska</span> und <span class='default Enkelin_vn'>Bridget</span> .		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

