<?php $expire = 1394734777; /* http://web.personalnovel.local/customize/book/656.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=656">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Die schottische Heilerin" src="/tl_files/thumbnail-book/die-schottische-heilerin-656-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Die schottische Heilerin“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-656" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    <div class="formitem">
	    
                <div class="name" style="margin-bottom:5px">Bitte wählen Sie die Ausprägung der Liebesszenen</div>
                
                
                
        <div>
        <input style="width:auto;height:auto" type="radio" 
                    name="document" value="391" 
                    id="radio-391"
                    checked=checked />
                    
                <label for="radio-391">Lässig &ndash; Die Szenen werden wortgewandt umschrieben.</label>
                </div>
                
                
        <div>
        <input style="width:auto;height:auto" type="radio" 
                    name="document" value="392" 
                    id="radio-392"
                     />
                    
                <label for="radio-392">Rassig &ndash; Zum Teil explizite Darstellungen.</label>
                </div>
                
        </div>
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weibliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Kayleigh</i>, junge &Auml;rztin; Tochter von Laird <i>Eoghan</i> und Lady <i>Grace</i>; der Roman beginnt mit ihrer Geburt; am Ende der Geschichte ist sie 23 Jahre alt; liebensw&uuml;rdig; strebsam; selbstst&auml;ndig; zierlich gebaut; sieht ihrer Mutter sehr &auml;hnlich; langes Haar; halbmondf&ouml;rmiges Muttermal unter dem Schl&uuml;sselbein; wird nach ihrer Geburt durch <i>Lilian</i> mit deren Tochter <i>Fiona</i> vertauscht; w&auml;chst bei der N&auml;herin <i>Ainslie</i> auf und denkt, dass <i>Ainslie</i> ihre Mutter und <i>Eilidh</i> ihre Schwester ist; geht zusammen mit <i>Eilidh</i> im Alter von 14 Jahren zur Burg von Laird <i>Eoghan</i> und arbeitet dort als K&uuml;chenhilfe; muss fliehen, da ihr ein Mord unterstellt wird; begegnet auf ihrer Flucht der ausgebildeten &Auml;rztin <i>Blair</i> und geht bei ihr in die Lehre; nach <i>Blair</i>s Tod arbeitet sie mit dem Feldscher <i>Linus</i> auf den Schlachtfeldern; als auch dieser stirbt, beschlie&szlig;t sie, nach Salerno zu gehen, um auf der &Auml;rzteschule zu lernen; begegnet dort <i>Duncan</i>, in den sie sich verliebt (mehrere Liebesszenen; verliert ihre Jungfr&auml;ulichkeit an ihn); nach Abschluss ihrer Ausbildung kehrt sie nach Schottland an Laird <i>Eoghan</i>s Hof zur&uuml;ck; rettet <i>Lilian</i> mit einem Kaiserschnitt das Leben; es kommt heraus, dass sie Laird <i>Eoghan</i>s wahre Tochter ist; am Ende des Romans heiratet sie <i>Duncan</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Kayleigh" 
                                name="vars-Heldin_VN" maxlength="30" id="vars-Heldin_VN" 
                                data-fieldname="Heldin_VN" 
                                data-default="Kayleigh" 
                                class="field focuser default" />
							<span class="field_count">845x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Heldin_Haare" maxlength="30" id="vars-Heldin_Haare" 
                                data-fieldname="Heldin_Haare" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="blau" 
                                name="vars-Heldin_Augen" maxlength="30" id="vars-Heldin_Augen" 
                                data-fieldname="Heldin_Augen" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
											<div class="field">
							<label>
							Die Lieblingsfarbe der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="grün" 
                                name="vars-Heldin_Lieblingsfarbe" maxlength="30" id="vars-Heldin_Lieblingsfarbe" 
                                data-fieldname="Heldin_Lieblingsfarbe" 
                                data-default="grün" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Geliebter der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Duncan Graham</i>, <i>Kayleigh</i>s sp&auml;terer Ehemann; Student in Salerno; zweit&auml;ltester von mehreren Br&uuml;dern; 6 Jahre &auml;lter als <i>Kayleigh</i>; gro&szlig;, muskul&ouml;s; freundliche, hilfsbereite Person; sehr strebsam; will Bester des Jahrgangs sein; ist &auml;lter als die anderen Studenten, da er vorher im Krieg gek&auml;mpft hat; verliebt sich in <i>Kayleigh</i> (mehrere Liebesszenen); als sein Vater und sein Bruder bei einer Schlacht fallen, muss er vorzeitig seine Pr&uuml;fungen ablegen und nach Schottland zur&uuml;ckkehren, da er nun der neue Clanchief ist; verliert <i>Kayleigh</i> aus den Augen; macht sich auf die Suche nach ihr, findet sie und bittet sie, seine Frau zu werden.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Geliebten ist																					</label>
																					<input type="text" value="Duncan" 
                                name="vars-Freund_VN" maxlength="30" id="vars-Freund_VN" 
                                data-fieldname="Freund_VN" 
                                data-default="Duncan" 
                                class="field focuser default" />
							<span class="field_count">86x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Geliebten ist																					</label>
																					<input type="text" value="Graham" 
                                name="vars-Freund_NN" maxlength="30" id="vars-Freund_NN" 
                                data-fieldname="Freund_NN" 
                                data-default="Graham" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Schwester der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Eilidh</i>, <i>Kayleigh</i>s Schwester; genauso alt wie <i>Kayleigh</i>; <i>Kayleigh</i> und sie wachsen wie Zwillinge auf; sind in Wirklichkeit nicht leibliche Schwestern; geht mit <i>Kayleigh</i> auf die Burg; verhilft <i>Kayleigh</i> nach den Mordanschuldigungen zur Flucht, bleibt aber selbst dort; am Ende des Romans finden sich die beiden wieder; <i>Eilidh</i> hat geheiratet, arbeitet als N&auml;herin auf der Burg und hat zwei Kinder.<br /></div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Schwester ist																					</label>
																					<input type="text" value="Eilidh" 
                                name="vars-Schwester" maxlength="30" id="vars-Schwester" 
                                data-fieldname="Schwester" 
                                data-default="Eilidh" 
                                class="field focuser default" />
							<span class="field_count">159x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ziehmutter der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Ainslie</i>, <i>Kayleigh</i>s Ziehmutter; <i>Eilidh</i>s Mutter; N&auml;herin; Witwe; ihr Mann ist vor <i>Eilidh</i>s Geburt im Kampf gestorben; gutm&uuml;tige, weise Frau; zieht <i>Kayleigh</i> wie ihre eigene Tochter auf; hilft am Ende, das Geheimnis um <i>Kayleigh</i>s Herkunft zu l&uuml;ften; zieht auf die Burg.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Näherin ist																					</label>
																					<input type="text" value="Ainslie" 
                                name="vars-Ziehmutter" maxlength="30" id="vars-Ziehmutter" 
                                data-fieldname="Ziehmutter" 
                                data-default="Ainslie" 
                                class="field focuser default" />
							<span class="field_count">58x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Vater der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none">Laird <i>Eoghan</i>, Burgherr und <i>Kayleigh</i>s Vater; gutaussehend; volles Haar; gro&szlig;z&uuml;giger Mann; seine erste Frau ist im Kindbett gestorben; seine zweite Frau, Lady <i>Grace</i>, die er sehr liebte, und seine dritte Frau, Lady Caohime, sterben ebenfalls; es wird gemunkelt, dass er verflucht ist; ist seinen Ehefrauen immer treu und behandelt sie mit Respekt; w&uuml;nscht sich verzweifelt einen Erben; l&auml;sst sich schlie&szlig;lich auf <i>Lilian</i> ein, die ihm einen Sohn schenkt; bemerkt <i>Kayleigh</i>s &Auml;hnlichkeit mit Lady <i>Grace</i> und ist davon &uuml;berzeugt, dass <i>Kayleigh</i> seine Tochter ist; als er die Wahrheit herausfindet, l&auml;sst er <i>Lilian</i> in den Kerker werfen, nimmt <i>Kayleigh</i> und <i>Ainslie</i> bei sich auf und behandelt auch <i>Fiona</i> weiterhin wie seine Tochter; hat zuerst Vorbehalte gegen <i>Duncan</i>, richtet dann aber die Hochzeit auf der Burg aus.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Lairds ist																					</label>
																					<input type="text" value="Eoghan" 
                                name="vars-Vater" maxlength="30" id="vars-Vater" 
                                data-fieldname="Vater" 
                                data-default="Eoghan" 
                                class="field focuser default" />
							<span class="field_count">78x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mutter der weiblichen Hauptrolle (stirbt)</div>
				<div class="description" style="margin-top: 5px;display:none">Lady <i>Grace</i>, <i>Kayleigh</i>s wahre Mutter; gro&szlig;e Liebe von Laird <i>Eoghan</i>; gleiche Haar- und Augenfarbe wie <i>Kayleigh</i>; stirbt etwa ein Jahr nach <i>Kayleigh</i>s Geburt; kommt nur kurz am Anfang des Romans vor.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der verstorbenen Mutter ist																					</label>
																					<input type="text" value="Grace" 
                                name="vars-Große_Liebe" maxlength="30" id="vars-Große_Liebe" 
                                data-fieldname="Große_Liebe" 
                                data-default="Grace" 
                                class="field focuser default" />
							<span class="field_count">70x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Skrupellose Dienerin</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Lilian</i>, gerissene Dienerin auf der Burg von Laird <i>Eoghan</i>; skrupellos und hinterh&auml;ltig; strebt nach Macht und nimmt daf&uuml;r jedes Opfer in Kauf; vertauscht <i>Kayleigh</i> mit <i>Fiona</i>, um ein Druckmittel gegen Laird <i>Eoghan</i> zu haben; als <i>Kayleigh </i>auf die Burg kommt, erkennt <i>Lilian</i> sie sofort; versucht mehrmals, <i>Kayleigh</i> umzubringen; t&ouml;tet dabei die Magd Morag; als die Hebamme Brooke ihr auf die Spur kommt, bringt <i>Lilian</i> sie um und schiebt den Mord <i>Kayleigh</i> unter; vergiftet nach und nach die Ehefrauen des Lairds; versucht jahrelang, Laird <i>Eoghan</i> dazu zu bringen, sie zu heiraten; wird seine Geliebte; schenkt ihm einen Sohn; wird bei der komplikationsreichen Geburt von <i>Kayleigh</i> gerettet; gesteht am Ende ihre Intrige und wird in den Kerker geworfen, kann aber fliehen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Dienerin ist																					</label>
																					<input type="text" value="Lilian" 
                                name="vars-Dienerin" maxlength="30" id="vars-Dienerin" 
                                data-fieldname="Dienerin" 
                                data-default="Lilian" 
                                class="field focuser default" />
							<span class="field_count">241x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Tochter der Dienerin</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Fiona</i>, <i>Lilian</i>s Tochter; st&uuml;rmisch; temperamentvoll; arrogant; langes Haar; w&auml;chst als Kind Laird <i>Eoghan</i>s auf und l&auml;sst sich nur von ihm etwas sagen; treibt sich mit den Bediensteten herum; darf auf der Burg bleiben, nachdem klar ist, dass sie <i>Lilian</i>s Tochter ist; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Tochter der Dienerin ist																					</label>
																					<input type="text" value="Fiona" 
                                name="vars-Tochter_Dienerin" maxlength="30" id="vars-Tochter_Dienerin" 
                                data-fieldname="Tochter_Dienerin" 
                                data-default="Fiona" 
                                class="field focuser default" />
							<span class="field_count">79x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ärztin (stirbt)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Blair</i>, &Auml;rztin; schlank; intelligent; zuvorkommend; freundlich; nimmt <i>Kayleigh</i> bei sich auf und unterrichtet sie; best&auml;rkt das junge M&auml;dchen darin, auf die &Auml;rzteschule nach Salerno zu gehen; ist mit <i>Linus</i> zusammen; wird schwer krank und stirbt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Ärztin ist																					</label>
																					<input type="text" value="Blair" 
                                name="vars-Heilerin" maxlength="30" id="vars-Heilerin" 
                                data-fieldname="Heilerin" 
                                data-default="Blair" 
                                class="field focuser default" />
							<span class="field_count">233x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Feldscher (stirbt)</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Linus</i>, Wundarzt; freundlicher Mann; sanft; gutm&uuml;tig; ist mit <i>Blair</i> zusammen; nach deren Tod nimmt er <i>Kayleigh</i> auf und zieht mit ihr von Schlachtfeld zu Schlachtfeld; auch er versucht <i>Kayleigh</i> zu &uuml;berreden, nach Salerno zu gehen; stirbt bei einer gro&szlig;en Schlacht.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Arztes ist																					</label>
																					<input type="text" value="Linus" 
                                name="vars-Wundarzt" maxlength="30" id="vars-Wundarzt" 
                                data-fieldname="Wundarzt" 
                                data-default="Linus" 
                                class="field focuser default" />
							<span class="field_count">145x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Krieger</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Calum</i>, ein Krieger; attraktiv; sehr m&auml;nnlich; lebt fast mit <i>Milly</i> zusammen; <i>Kayleigh</i> verarztet seinen verwundeten Oberarm; rettet <i>Kayleigh</i> vor den Engl&auml;ndern und k&uuml;mmert sich nach <i>Linus</i>&rsquo; Tod um sie; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Highlanders ist																					</label>
																					<input type="text" value="Calum" 
                                name="vars-Krieger_VN" maxlength="30" id="vars-Krieger_VN" 
                                data-fieldname="Krieger_VN" 
                                data-default="Calum" 
                                class="field focuser default" />
							<span class="field_count">24x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Gutmütige Prostituierte</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Milly</i>, eine Prostituierte; &uuml;ppiger Busen; liebevoll; reist mit den Truppen; pflegt den verletzten <i>Calum</i>; k&uuml;mmert sich nach <i>Linus</i>&rsquo; Tod um <i>Kayleigh</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Prostituierten ist																					</label>
																					<input type="text" value="Milly" 
                                name="vars-Prostituierte_VN" maxlength="30" id="vars-Prostituierte_VN" 
                                data-fieldname="Prostituierte_VN" 
                                data-default="Milly" 
                                class="field focuser default" />
							<span class="field_count">10x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Stallbursche</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Alan</i>, Stallbursche auf Laird <i>Eoghan</i>s Burg; Sohn eines Kriegers, den er nie kennengelernt hat; k&uuml;mmert sich liebevoll um die Pferde des Lairds; ist etwas in <i>Kayleigh</i> verliebt, doch zu sch&uuml;chtern, um auf sie zuzugehen; verhilft <i>Kayleigh</i> mit <i>Eilidh</i> zur Flucht; hat am Ende des Romans eine Ehefrau und drei Kinder und ist Heerf&uuml;hrer des Lairds.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Stallburschen ist																					</label>
																					<input type="text" value="Alan" 
                                name="vars-Stallbursche" maxlength="30" id="vars-Stallbursche" 
                                data-fieldname="Stallbursche" 
                                data-default="Alan" 
                                class="field focuser default" />
							<span class="field_count">74x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Köchin</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Erin</i>; K&ouml;chin auf der Burg; langes Haar; drall; nimmt <i>Kayleigh</i> und <i>Eilidh</i> auf, als die Schwestern nach Arbeit suchen; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Köchin ist																					</label>
																					<input type="text" value="Erin" 
                                name="vars-Koechin" maxlength="30" id="vars-Koechin" 
                                data-fieldname="Koechin" 
                                data-default="Erin" 
                                class="field focuser default" />
							<span class="field_count">43x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Magd</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Rona</i>, junge Magd auf der Burg; freundet sich mit <i>Kayleigh</i> und <i>Eilidh</i> an; sehr eng mit Morag befreundet; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Magd ist																					</label>
																					<input type="text" value="Rona" 
                                name="vars-Magd" maxlength="30" id="vars-Magd" 
                                data-fieldname="Magd" 
                                data-default="Rona" 
                                class="field focuser default" />
							<span class="field_count">27x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Amme</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Mairi</i>, Amme auf der Burg; zieht <i>Fiona</i> auf; hilft am Ende bei der Aufl&ouml;sung des Geheimnisses um <i>Kayleigh</i>; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Amme ist																					</label>
																					<input type="text" value="Mairi" 
                                name="vars-Amme" maxlength="30" id="vars-Amme" 
                                data-fieldname="Amme" 
                                data-default="Mairi" 
                                class="field focuser default" />
							<span class="field_count">29x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			<span class='default Heldin_VN'>Kayleigh</span> mit dem <span class='default Heldin_Haare'>braun</span>en Haar und den <span class='default Heldin_Augen'>blau</span>en Augen wächst glücklich mit ihrer Schwester <span class='default Schwester'>Eilidh</span> bei der Näherin <span class='default Ziehmutter'>Ainslie</span> auf. Sie ahnt nicht, dass Laird <span class='default Vater'>Eoghan</span> und die verstorbene Lady <span class='default Große_Liebe'></span> ihre wahren Eltern sind. Die durchtriebene Dienerin <span class='default Dienerin'>Lilian</span> hat <span class='default Heldin_VN'>Kayleigh</span> nach der Geburt mit <span class='default Tochter_Dienerin'>Fiona</span>, ihrer eigenen Tochter, vertauscht, ohne dass die Amme <span class='default Amme'>Mairi</span> es merkte. <span class='default Heldin_VN'>Kayleigh</span> versucht, auf der Burg eine Anstellung zu finden, und begegnet dort der Köchin <span class='default Koechin'>Erin</span>, der Magd <span class='default Magd'>Rona</span> und dem Stallburschen <span class='default Stallbursche'>Alan</span>. Doch sie entscheidet sich schließlich, Ärztin zu werden, und lernt bei <span class='default Heilerin'>Blair</span> und <span class='default Wundarzt'>Linus</span>. Zu ihren Patienten gehört der verwundete Krieger <span class='default Krieger_VN'>Calum</span>, der sehr eng mit der Prostituierten <span class='default Prostituierte_VN'>Milly</span> befreundet ist. In <span class='default Freund_VN'>Duncan</span> vom <span class='default Freund_NN'>Graham</span>-Clan scheint sie die große Liebe gefunden zu haben. Er mag besonders ihre <span class='default Heldin_Lieblingsfarbe'>grÃ¼n</span>en Kleider. 		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

