<?php $expire = 1394175282; /* http://web.personalnovel.local/hochzeits/book/items/636.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Das Haus am Dorfrand - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Nach Jahren der Abwesenheit kehrt der Sohn eines Sägewerksbesitzers zurück in seine Heimat, ein kleines Dorf in den österreichischen Alpen, wo er den elterlichen Betrieb übernehmen soll. Dort hat er nicht nur mit familiären und beruflichen Schwierigkeiten zu kämpfen, sondern trifft auch seine Jugendliebe wieder und alte Gefühle keimen neu auf. Nach all den Jahren scheinen die beiden ihr Glück gefunden zu haben - bis plötzlich eine schreckliche Wahrheit alles zu zerstören droht...">
<meta name="keywords" content="hochzeitsgeschenke, personalisierte hochzeitsgeschenke, persönliche hochzeitsgeschenke, personalisierte geschenke hochzeit, hochzeit, geschenkideen hochzeit, personalisierte bücher hochzeit, persönliche bücher hochzeit, hochzeitsgeschenke mit namen, hochzeitsgeschenke selber machen">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Das Haus am Dorfrand - PersonalNOVEL" /> 
<meta property="og:image" content="http://web.personalnovel.local/tl_files/thumbnail-book/das-haus-am-dorfrand-636-face.png" /> 
<meta property="og:description" content="Nach Jahren der Abwesenheit kehrt der Sohn eines Sägewerksbesitzers zurück in seine Heimat, ein kleines Dorf in den österreichischen Alpen, wo er den elterlichen Betrieb übernehmen soll. Dort hat er nicht nur mit familiären und beruflichen Schwierigkeiten zu kämpfen, sondern trifft auch seine Jugendliebe wieder und alte Gefühle keimen neu auf. Nach all den Jahren scheinen die beiden ihr Glück gefunden zu haben - bis plötzlich eine schreckliche Wahrheit alles zu zerstören droht..." /> 
<meta property="og:url" content="http://web.personalnovel.local/hochzeits/book/636/das-haus-am-dorfrand">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<style media="screen">
#left{width:200px;}
#main{margin-left:200px;}
</style>
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/tabs.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/detail.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.cycle.min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/tg.css" media="screen" type="text/css" rel="stylesheet" />
<style>
.base_header {

} 

#main {
    padding-left: 25px !important;
    padding-right: 0px !important;
    position: relative;
    margin-left: 200px;
    width: auto;
}

</style>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">

<div class="base_header">
<div id="header-links-box">
                        
  <div id="logo"><a href=""></a></div>
   <!--
  <div id="versand"><a href="/service-versand.html"></a></div>
  
  <div class="headerlinks">
      <div id="headerlinkgroup">
      	<a class="hidden" id="basklink"><img title="Warenkorb" kasse="" alt="Warenkorb" src="tl_files/personalnovel_de/static/img/icons/shoppingbag.png"></a>&nbsp;&nbsp;
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So einfach geht‘s</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/newsletter.html">Newsletter</a>&nbsp;|&nbsp; 
        <a style="vertical-align: top;" href="/agb.html">AGB</a>&nbsp;|&nbsp;
        <a style="vertical-align: top;" href="/kontakt.html">Kontakt</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/faq.html">Hilfe</a>&nbsp;
      </div>
  </div>
   -->
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
		<span class="green cartsum" cartsum="24.95">
		24,95</span> 
		<span class="green">EUR </span> <br />inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
    	    	     <a class="cart-link" href="http://web.personalnovel.local/checkout?order=2019807&step=Warenkorb"><img src="tl_files/personalnovel_de/cart.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:1000"></a>
	            
    <div id="cart-detail">
    
        
            <strong>1x 
        Das Haus am Dorfrand                </strong>
        <span class="green">24,95 EUR</span><br/>
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->

<div id="tab-menu">
  <ul>
    <li class='tab-menu-home'><a href="http://personalnovel.de"><img src="/tl_files/personalnovel_de/static/img/icons/home.png" /></a></li>
    <li><a href="http://personalnovel.de/showroom/"><span>Showroom München</span></a></li>
    <li><a title="Weinetiketten" href="http://personalnovel.de/eigenerwein/"><span>Wein &amp; Champagner Etiketten</span></a></li>
      <li><a title="Firmenkunden" href="http://personalnovel.de/kundengeschenke/"><span>Firmenkunden</span></a></li>     
      <li><a title="Besondere Anlässe" href="http://www.personalnovel.de/geschenkbuecher/"><span>Besondere Anlässe</span></a></li> 
      <li><a title="Hochzeit" href="/hochzeitsgeschenke"><span>Hochzeit</span></a></li>
      <li><a title="Personalisierte E-Books" href="/personalisierte-ebooks"><span>E-Books</span></a></li>
       <li><a title="Personalisierte Blog" href="/blog"><span>Blog</span></a></li>

  </ul>
  
  <div id="shoplogos" style = "margin-top:-80px;">
    <a href="http://egoo.de/zertifikat/personalnovel" title="Siegel egoo" target="_blank" alt="Siegel egoo"><img height="48" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016" title="Siegel egoo" alt="Siegel egoo"></a>
   <a href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F" target="_blank"><img width="48" height="48" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408" title="Logo Trusted Shops" alt="Logo Trusted Shops"></a>
  </div>
</div>
<div id="menunav" class="kundengeschenke">
<div class="container">
<ul class="level_1">
    <form id="searhform" method="get" action="http://personalnovel.de/index.php/suche.html">
        <div>
        <input type="text" onblur="this.value=(this.value=='') ? 'Suchen' : this.value;" onfocus="this.value=''" value="Suchen" class="text" id="ctrl_keywords" name="keywords">
        </div>
    </form>

  <li class="active" ><a style="color:white" href="/hochzeitsgeschenke" title="Hochzeit">Hochzeit</a></li>
                <li><a href="http://personalnovel.de/kontakt" title="Kontakt" class="last">Kontakt</a></li>
                <li><a href="http://personalnovel.de/geschenkbuecher" title="Personalisierte Geschenkbücher">Geschenkbücher</a></li>
                <li><a href="http://personalnovel.de/jugendbuecher" title="Personalisierte Jugendbücher">Jugendbücher</a></li>
                <li><a href="http://personalnovel.de/kinderbuecher" title="Personalisierte Kinderbücher">Kinderbücher</a></li>
                <li><a href="http://personalnovel.de/personalisierteklassiker" title="Klassische Literatur personalisiert">Klassiker der Literatur</a></li>
                <li class="first"><a href="http://personalnovel.de/romane" title="Personalisierte Bücher &amp; Romane" class="first">Romane</a></li>
            <li></li>
</ul>

</div>
</div>
<a id="skipNavigation1" class="invisible">&nbsp;</a>

 
</div>
</header>

<div id="container">
<div class="real_content">

<aside id="left">
<div class="inside navigation">

<div class="title_nav"><div class="section ">Hochzeits-Kollektion</div></div>
<div class="links "></div>
<a class='title_nav_a' href='/eigenerwein/'><div class="title_nav"><div class="section ">Wein &amp; Champagner</div></div></a>
<div class="title_nav"><div class="section ">Romane</div></div>
<div class="links ">
  <a href="/hochzeits/geschenk-alter" title="hochzeit" class="navitem">nach Alter</a>
  <a href="/hochzeits/fuer-die-braut?Für+wen=Für+sie" title="Hochzeits-Kollektion" class="navitem">für die Braut</a>
  <a href="/hochzeits/fuer-den-braeutigam?Für+wen=Für+ihn" title="Hochzeits-Kollektion" class="navitem">für den Bräutigam</a>
  <a href="/hochzeits/fuer-das-brautpaar?Für+wen=Für+Paare" title="Hochzeits-Kollektion" class="navitem">für das Brautpaar</a>
  
</div>
<div class="title_nav"><div class="section ">nach Genre</div></div>
<div class="links ">
	
	<a href="/hochzeits/liebe?Genre=Liebe" title="Hochzeits-Kollektion" class="navitem">Liebe</a>
	<a href="/hochzeits/krimi-thriller?Genre=Krimi -Thriller" title="Hochzeits-Kollektion" class="navitem">Krimi - Thriller</a>
        <!--<a href="/hochzeits/frauen.html?Genre=Frauen" title="Hochzeits-Kollektion" class="navitem">Frauen</a>-->
	<a href="/hochzeits/historisch?Genre=Historisch" title="Hochzeits-Kollektion" class="navitem">Historisch</a>
	<a href="/hochzeits/abenteuer?Genre=Abenteuer" title="Hochzeits-Kollektion" class="navitem">Abenteuer</a>
	<!--<a href="/hochzeits/familie-freunde.html" title="Hochzeits-Kollektion" class="navitem">Familie - Freunde</a>
        <a href="/hochzeits/gleichgeschlechtlich.html" title="Hochzeits-Kollektion" class="navitem">Gleichgeschlechtlich</a>-->
	<a href="/hochzeits/mystery-fantasy?Genre=Mystery" title="Hochzeits-Kollektion" class="navitem">Mystery - Fantasy</a>
	<!--<a href="/hochzeits/science-fiction.html" title="Hochzeits-Kollektion" class="navitem">Science - Fiction</a>-->
</div>
<a class='title_nav_a' href='/hochzeits/englische-romane'><div class="title_nav"><div class="section ">Englische Romane</div></div></a>
<a class='title_nav_a' href='/hochzeits/geschenkbuch?Genre=Geschenkbuch'><div class="title_nav"><div class="section ">Geschenkbücher</div></div></a>
<a class='title_nav_a' href='/hochzeits/literaturklassiker'><div class="title_nav"><div class="section ">Literaturklassiker</div></div></a>
<!--<a class='title_nav_a' href='/hochzeits/wines?Anlass=Hochzeit+%2F+Verlobung'><div class="title_nav"><div class="section ">Wein/Champagner</div></div></a>-->
<a class='title_nav_a' href='/hochzeits/widmung'><div class="title_nav"><div class="section ">Hochzeitswidmungen</div></div></a>
<a class='title_nav_a' href='/hochzeits/wissenswertes'><div class="title_nav"><div class="section ">Wissenswertes zur Hochzeit</div></div></a>
<style>
  .title_nav_a{
    color:#000;
  }
</style>
<div class="title_nav"><div class="section ">Ihr Buch</div></div>
<div class="links ">
	<a href="hochzeits/personalisierung" title="personalisierter Roman" class="navitem">Personalisierung</a>
  	<a href="hochzeits/preise-einbaende" title="personalisierter Roman" class="navitem">Einbände &amp; Preise</a>
	<a href="hochzeits/umschlag-gestaltung" title="personalisierter Roman" class="navitem">Umschlag &amp; Gestaltung</a>
        <a href="hochzeits/geschenkbox" title="personalisierter Roman" class="navitem">Geschenkbox</a>
        <a href="hochzeits/galerie" title="personalisierter Roman" class="navitem">Galerie</a>
	<hr class="spacer">
</div>
<div class="title_nav"><div class="section ">Service</div></div>
<div class="links ">
	<a href="/hochzeits/service-versand" title="personalisierter Roman" class="navitem">Liefertermine &amp; Versand </a>
	<a href="/hochzeits/zahlung" title="personalisierter Roman" class="navitem">Zahlung</a>
        <hr class="spacer">
</div>
<div class="title_nav"><div class="section"></div></div>
<div class="navigation centered" style="border-left: 1px solid #E7E6E6;border-right: 1px solid #E7E6E6;margin-bottom:0;">
    <a class="nooutline" href="http://www.personalnovel.de/zahlung" style="padding-left: 0;">
      <img width="198" height="115" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" title="Payment" alt="Payment">
    </a>
</div>
<div class="title_nav"><div class="section ">Kommunikation</div></div>
<div id="social_media">

  <a target="_blank" title="" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659">
    <img title="Folgen Sie uns auf Facebook!" alt="Facebook" src="tl_files/personalnovel_de/static/img/icons/facebook.png">
  </a>
  <a target="_blank" href="http://www.twitter.com/PersonalNOVEL">
  <img alt="Follow PersonalNOVEL on Twitter" src="tl_files/personalnovel_de/static/img/icons/twitter.png" />
  </a>
    <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/youtube.png" />
  </a>
    <a target="_blank" href="http://blog.personalnovel.de/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/google.png" />
  </a>
    <a target="_blank" href="http://pinterest.com/personalnovel/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/p.png" />
  </a>

</div>
<div style="*display:none; ">
  <div style="position:relative; height:160px; width:100%;">
    <div style="position:relative; height:80px; width:100%;">
    	<a href="https://www.facebook.com/PersonaNOVEL" title="PersonaNOVEL" target="_blank">
      	<img style="width:200px; height:80px;" src="/tl_files/personalnovel_de/static/assets/website/teaser_plugin_facebook_like.png">
      	</a>
    </div>
    <div style="position:absolute;margin:-10px 0px 0px 3px; z-index:4; width:195px; ">
      <iframe id='like-pn' src="//www.facebook.com/plugins/like.php?locale=de_DE&href=http%3A%2F%2Fwww.facebook.com%2FPersonaNOVEL&amp;send=false&amp;layout=standard&amp;width=190&amp;show_faces=false&amp;font=tahoma&amp;colorscheme=light&amp;action=like&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:195px; height:70px;" allowTransparency="true"></iframe>
    </div>
    <div style='clear:both;'></div>
  </div>
</div>
<div id="yelp-biz-badge-fsc-8Grwh5KCPCm3cZXlAu5yMw">PersonalNOVEL e.K.</div>
<script type="text/javascript">
 !function(doc, id){
  var js;
  var scriptElement = doc.getElementsByTagName("script")[0];
  if (!doc.getElementById(id)) {
   js = doc.createElement("script");
    js.id = id;
    js.src = "http://dyn.yelpcdn.com/biz_badge_js/fsc/8Grwh5KCPCm3cZXlAu5yMw.js";
    scriptElement.parentNode.insertBefore(js, scriptElement);
  }
} (document, "yelp-biz-badge-script-fsc-8Grwh5KCPCm3cZXlAu5yMw");
</script> 
</div>
</aside>

<section id="main">
<div class="inside">

<article class="mod_article block" id="main">
<!-- indexer::stop -->

<div class="content twocolumn">
	<div class="book_presentation clearfix type_1">
		<div class="leftpanel">
			<a href="http://web.personalnovel.local/tl_files/thumbnail-book/das-haus-am-dorfrand-636-view.png" class="lightbox">
				<img alt="Das Haus am Dorfrand" src="http://web.personalnovel.local/tl_files/thumbnail-book/das-haus-am-dorfrand-636-detail.png" class="bigcover" />
			</a>
			
            		</div>
		
		<div class="rightpanel">
			<h1>
				Das Haus am Dorfrand				            </h1>
            <p>
				Nach Jahren der Abwesenheit kehrt der Sohn eines Sägewerksbesitzers zurück in seine Heimat, ein kleines Dorf in den österreichischen Alpen, wo er den elterlichen Betrieb übernehmen soll. Dort hat er nicht nur mit familiären und beruflichen Schwierigkeiten zu kämpfen, sondern trifft auch seine Jugendliebe wieder und alte Gefühle keimen neu auf.
Nach all den Jahren scheinen die beiden ihr Glück gefunden zu haben - bis plötzlich eine schreckliche Wahrheit alles zu zerstören droht...            
            </p>
            <div class="clearfix">
            	<div class="left" style="width:320px;padding-top:20px;">
            		<p>
		            			            		Autor: <i>Gundula Berger</i><br />
		            			            			            		Illustration: <i>istockphoto.com/Denis Jr. Tangney</i><br />
		            			            			            				            			            	<i>ca. 212 Seiten</i>
		            </p>
            	</div>
            	<div class="right" style="padding-top:44px;">
            		<div class="text">
	                		               </div>
            		
	               
            	</div>
            </div>
		</div>
		
	</div>
	
	<div class="bottompanel">
		    <div class="block1">
                <div class="fb-share-button  fb_iframe_widget " 
                    data-href="" data-type="button"><span style="height: 18px; width: 61px;">
                     <!--<a onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;p[title]=Das+Haus+am+Dorfrand+-+PersonalNOVEL&amp;p[summary]=Nach+Jahren+der+Abwesenheit+kehrt+der+Sohn+eines+S%C3%A4gewerksbesitzers+zur%C3%BCck+in+seine+Heimat%2C+ein+kleines+Dorf+in+den+%C3%B6sterreichischen+Alpen%2C+wo+er+den+elterlichen+Betrieb+%C3%BCbernehmen+soll.+Dort+hat+er+nicht+nur+mit+famili%C3%A4ren+und+beruflichen+Schwierigkeiten+zu+k%C3%A4mpfen%2C+sondern+trifft+auch+seine+Jugendliebe+wieder+und+alte+Gef%C3%BChle+keimen+neu+auf.%0D%0ANach+all+den+Jahren+scheinen+die+beiden+ihr+Gl%C3%BCck+gefunden+zu+haben+-+bis+pl%C3%B6tzlich+eine+schreckliche+Wahrheit+alles+zu+zerst%C3%B6ren+droht...&amp;p[url]=http://web.personalnovel.local/hochzeits/book/636/das-haus-am-dorfrand&amp;&p[images][0]=http://web.personalnovel.local/tl_files/thumbnail-book/das-haus-am-dorfrand-636-detail.png', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)">
                		<img src="/tl_files/personalnovel_de/static/assets/website/share_facebook_off.png">
                	</a>-->
                	<a onClick="window.open('http://www.facebook.com/sharer.php?u=http://web.personalnovel.local/hochzeits/book/636/das-haus-am-dorfrand', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)">
                		<img src="/tl_files/personalnovel_de/static/assets/website/share_facebook_off.png">
                	</a>
                    </span>
                </div>
                
                               <style>
               		
	              	.google-button{
	              		height: 24px;
	              		width: 50px; 
	              		position:absolute; 
	              		float:left; 
	              		margin:2px 3px 0px 62px;
	              		*display:none;
	              	}
	              	.like-facebook-button{
	              		height: 18px; 
	              		width: 50px; 
	              		position:absolute; 
	              		float:left; 
	              		margin:7px 3px 0px 134px;
	              		*display:none;  
	              	}
	              	
              </style>
	             
              </style>
                 <div class="google-button">
                	<div class="g-plusone" data-width="300" data-href="http://web.personalnovel.local/hochzeits/book/636/das-haus-am-dorfrand" style=""></div>
				</div>
				<script type="text/javascript">
				  window.___gcfg = {lang: 'de'};
				  (function() {
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = 'https://apis.google.com/js/plusone.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>
				 <!-- facebook like -->
                <div class='like-facebook-button'>
			    	<iframe src="//www.facebook.com/plugins/like.php?href=http://web.personalnovel.local/hochzeits/book/636/das-haus-am-dorfrand&amp;send=false&amp;layout=button_count&amp;&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true">
			    	</iframe>
		    	</div>
		    </div>
		    
		    <div class="block2">
		                <div>
                <span class="showprice article-price">Ab
                24.95 EUR
                </span>
                <span class="showvat article-price">inkl. 7% MWSt</span>
                <br />
                zzgl.
                <a href="http://web.personalnovel.local/popup-versandkosten" class="popup-link">Versandkosten</a>
            </div>
            		    </div>
		    
		    <div class="block3">
		                <form action="http://web.personalnovel.local/customize" method="GET">
                <button type="submit" class="awesomebutton awesomegreen_gradient awesomeicon awesomeround" style="width: 275px;">
                <span class="icon shopping_bag"><span class="icon">Buch personalisieren und bestellen</span></span>
                </button>
                <input type="hidden" name="book" value="636">
            </form>
           		    </div>
            
    </div>
	
</div>

<div class="content twocolumn">
<div id="tabsdiv">
	<ul id="tabs" class="tab">
	    	
	    	    	    
				<li>
			<a href="#personen">Personen</a>
		</li>
				<li>
			<a href="#allgemein">Allgemein</a>
		</li>
				
						<li>
			<a href="#varianten">
								Liebesszenen
							</a>
		</li>
						
				
				<li>
			<a href="#nennungshaeufigkeit">Nennungshäufigkeit</a>
		</li>
				
				<li>
			<a href="#so_wird_bestellt">So wird bestellt</a>
		</li>
			</ul>
	
			
		<div id="allgemein" class="tabcontent">
						<div class="note">
				<i>(Kursiv:</i>
				wird durch Ihre Angaben ersetzt<i>)</i>
			</div>
										                    	                    <h2>Abriss</h2>
	                    <p><p>
	Dramatische Liebesgeschichte aus den österreichischen Bergen mit einigen Streiterein, einer Prügelei, mehreren Liebesszenen und einem Happy End für alle (Hochzeit und 3 Kinder)</p>
</p>
                    											                    	                    <h2>Schauplatz</h2>
	                    <p><p>
	Dorf in den Salzburger Kalkalpen Almhütte am Hochkönig Hotel in Salzburg Rechtsanwaltskanzlei in Salzburg Kneipe und Appartement in Antwerpen Kapelle Maria Kirchental bei Lofer Tennengebirge Gebirgsmassiv Hochkönig.</p>
</p>
                    											                    	                    <h2>Epoche</h2>
	                    <p><p>
	Ende der 70er Jahre.</p>
</p>
                    										
		</div>
			
		<div id="personen" class="tabcontent">
						<div class="note">
				<i>(Kursiv:</i>
				wird durch Ihre Angaben ersetzt<i>)</i>
			</div>
														    <h2>Personen : </h2>
                                        <h3>9 männliche und 7 weibliche Rollen</h3>                                                                                                    <h4 class="name">Männliche Hauptrolle</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <i>Oscar Margreiter</i>, diplomierter Wirtschaftswissenschaftler, knapp 30 Jahre alt; kehrt nach vielen Jahren, die er u.a. in Antwerpen verbracht hat, zurück in sein Dorf in den österreichischen Alpen, wo er den elterlichen Betrieb übernehmen soll; hat ein schwieriges Verhältnis zu seinen Eltern; hatte als Jugendlicher eine kurze Liebesaffäre mit <i>Julia</i>; sein Vater schickte ihn weg, als er davon erfuhr, da er glaubt, dass <i>Julia</i> und <i>Oskar</i> Halbgeschwister sind; nach seiner Rückkehr verlieben <i>Oskar</i> und <i>Julia</i> sich erneut stürmisch (zahlreiche sexuelle Andeutungen und viel erotische Spannung!); als <i>Jakob Flussinger</i> im Dorf erzählt, dass <i>Oscar</i> und <i>Julia</i> Geschwister sind und <i>Oscar</i>s Vater das bestätigt, geht <i>Oscar</i> zurück nach Antwerpen und versucht, <i>Julia</i> zu vergessen.
                                        </p>
                                                                                                                        <h4 class="name">Weibliche Hauptrolle</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <i>Julia Zimbal</i>; war einst eine stürmische Jugendliebe <i>Oscar</i>s; lange Haare; schmale, feste Brüste; volle, sinnliche Lippen; litt in ihrer Jugend unter den Beschimpfungen als "Zigeunertochter"; selbstbewusste Frau; wird von <i>Jakob Flussinger</i> bedrängt, der sie begehrt und versucht, sie zu vergewaltigen, kann ihm aber entkommen; liebt <i>Oscar</i>; ein Brief ihrer Mutter löst das Geheimnis auf, sodass <i>Julia</i> am Schluss mit <i>Oscar</i> glücklich werden kann - Hochzeit und drei Kinder folgen.                                        </p>
                                                                                                                        <h4 class="name">Vater der männlichen Hauptrolle</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <i>Heinrich Margreiter</i>, Vater von <i>Oscar</i>; bulliger und herrschsüchtiger Sägewerksbesitzer; er hat kein besonders gutes Verhältnis zu seinem Sohn; hatte vor vielen Jahren ein kurzes Verhältnis mit <i>Julia</i>s Mutter, die ihn dann in dem Glauben ließ, <i>Julia</i> sei seine Tochter; seine Frau und seine Mutter wissen davon; versöhnt sich am Schluss mit <i>Oscar</i> und <i>Julia</i>.                                        </p>
                                                                                                                        <h4 class="name">Mutter der männlichen Hauptrolle</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <i>Katharina Margreiter</i>, <i>Oscar</i>s Mutter; liebe, aber stets vor sich hinleidende Frau; graue Haare; schön und gepflegt; ursprünglich aus Norddeutschland; weiß von der Affäre ihres Mannes und dass <i>Julia Oscar</i>s Schwester ist, aber schweigt.                                        </p>
                                                                                                                        <h4 class="name">Großmutter der männlichen Hauptrolle</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <i>Emma Margreiter</i>, <i>Oscar</i>s Großmutter; leidenschaftliche Bridgespielerin; <i>Oscar</i> wohnt bei ihr, da er mit seinen Eltern zerstritten ist; auch sie kennt das Geheimnis, aber schweigt.                                        </p>
                                                                                                                        <h4 class="name">Bruder der männlichen Hauptrolle</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <i>August Margreiter</i>, <i>Oscar</i>s Bruder; geht wegen seiner Freundin nach Amerika; er spielt nur eine kleine Rolle.                                        </p>
                                                                                                                        <h4 class="name">Freundin des Bruders der männlichen Hauptrolle</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <i>Patsy</i>, <i>August</i>s Freundin; Amerikanerin aus Colorado (sehr kleine Rolle).                                        </p>
                                                                                                                        <h4 class="name">Bösartiger Knecht</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <i>Jakob Flussinger</i>, bösartiger Knecht und Holzarbeiter im Sägewerk; kennt das Geheimnis und erpresst <i>Heinrich</i> Margreiter damit; hat es auf <i>Julia</i> abgesehen, die ihn aber abweist; versucht sie zu vergewaltigen, sie entkommt; prügelt sich einmal heftig mit <i>Oscar</i>, der ihn daraufhin entlässt; erzählt Gerücht über <i>Oscar</i> und <i>Julia</i> im Dorf herum; stürzt am Ende in den Fluss und stirbt (es bleibt ungeklärt, ob Unfall oder Selbstmord).
                                        </p>
                                                                                                                        <h4 class="name">Engster Freund der männlichen Hauptrolle</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <i>Leonhard Wasner</i>, erst Forstverwalter, später Geschäftsführer des Sägewerks; ein hoch gewachsener, verlässlicher Mann, dem <i>Oscar</i> sofort vertraut und der sein engster Freund wird; hat einen Sohn, <i>Max</i>; ist mit <i>Lisa</i> zusammen, sie heiraten und bekommen zwei Kinder.                                        </p>
                                                                                                                        <h4 class="name">Sohn des engsten Freundes</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <i>Max</i>, <i>Leonhard</i>s neunjähriger Sohn; blond; ein aufgewecktes Bürschchen, das gelegentlich auch bei <i>Julia</i> im Haus am Dorfrand übernachten darf.                                        </p>
                                                                                                                        <h4 class="name">Sekretärin</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <i>Lisa Bimmer</i>, die neue und sehr tüchtige Sekretärin; kommt mit <i>Leonhard Wasner</i> zusammen; sie heiraten und bekommen 2 Kinder.                                         </p>
                                                                                                                        <h4 class="name">Mutter der weiblichen Hauptrolle</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <i>Martha Zimbal</i>; <i>Julia</i>s verstorbene Mutter; stammt aus Ungarn; kam nach dem Krieg in das kleine Dorf in den Bergen; lange gelingt es ihr aus Rache, dem alten <i>Margreiter</i>, der ihr und der kleinen <i>Julia </i> das Leben im Dorf zur Hölle machte, Geld für seine vermeintliche Tochter zu entlocken; von ihr wird nur gesprochen.
                                        </p>
                                                                                                                        <h4 class="name">Vater der weiblichen Hauptrolle</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <i>Joel Tanneau</i>, ein französischer Soldat, der nach dem Krieg ins Dorf kam; hatte eine Liebesaffäre mit <i>Martha Zimbal</i>, ging dann aber zurück nach Frankreich; <i>Julia</i>s leiblicher Vater; taucht nur am Ende des Buchs auf.                                        </p>
                                                                                                                        <h4 class="name">Ex-Freundin der männlichen Hauptrolle</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <i>Kelly van Lent</i>, eine wunderschöne Flämin und <i>Oscar</i>s Exfreundin; schwarze Haare;  spricht gebrochenes Deutsch; <i>Oscar</i> und sie trennen sich einvernehmlich und freundschaftlich; zunächst gibt es aber noch Verwicklungen, da <i>Oscar</i>s Eltern sie anrufen und bitten zu kommen; sie taucht überraschend auf dem Jägerball auf; sie und <i>Oscar</i> bleiben Freunde und sie freundet sich mit <i>Julia</i> an.                                        </p>
                                                                                                                        <h4 class="name">Neuer Freund der Ex-Freundin der männlichen Hauptrolle</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    <i>Jean</i>; <i>Kellys</i> neuer Freund in Antwerpen. Sehr kleine Rolle.                                        </p>
                                                                                                                        <h4 class="name">Rechtsanwalt</h4>
                    <p style="margin-top: 5px; display: block;" class="description">
                    Rechtsanwalt Dr. <i>Paschnowski</i>, Anwalt von <i>Julia</i>s Mutter; übergibt ihr den Brief, der die Wahrheit enthält.                                        </p>
                                                                                <h3>Nicht personalisiert werden:</h3><p style="margin-top: 5px; display: block;" class="description"></p>
<p>
	Peter Radacher, ein Hotelier.</p>
<p>
	Der Leitinger Sepp, Holzarbeiter im Sägewerk, und seine Frau, die Leitingerin.</p>
<p>
	Madame Chanet, <i>Oscar</i>s Vermieterin in Antwerpen.</p>
<p>
	Monsieur Taverny, <i>Oscar</i>s neuer Arbeitgeber in Antwerpen.</p>
<p>
	Gretl, ehemalige Schulkameradin von <i>Oscar</i>.</p>
<p>
	Hanni von der Aigneralm, Freundin vom <i>Flussinger</i>.</p>
</p>                    
                    										
		</div>
		
	
	
			<div id="varianten" class="tabcontent">
		
		<div class="note">
			<i>(Kursiv:</i>
			wird durch Ihre Angaben ersetzt<i>)</i>
		</div>
		
		
				<h2>Liebesszene lässig</h2>
		„Ich bin ganz ausgehungert, <i>Julia</i>“, raunte er an ihrem Ohr.<br />„Nach einer Frau im Allgemeinen oder nach mir?“, kam es leise fragend zurück.<br />Hm! Eigentlich stimmte beides, aber die <i>Julia</i> war schon etwas Besonderes.<br />„Nach dir“, erwiderte <i>Oscar</i> deshalb wahrheitsgetreu. „Ich bin ausgehungert nach dir, deiner Zärtlichkeit und nach deiner Leidenschaft.“ Er presste sich gegen <i>Julia</i>s Hüftknochen. Sie musste doch spüren, wie es um ihn stand!<br /><i>Julia</i> kuschelte sich an den Körper, der ihren Rücken wärmte. <i>Oscar</i>s Begehren entging ihr nicht. Fest drückte sie sich gegen seine Brust, um dieses herrliche Gefühl auszukosten und die Vorfreude zu genießen, die nun kleine Schauer durch ihren Körper jagte und alle Sinne schärfte.<br />„<i>Julia</i>! Liebe, kleine <i>Julia</i>!“<br /><i>Oscar</i>s Kuss brannte auf ihrem Nacken. <i>Julia</i> drehte sich um. Mit beiden Händen griff sie nach <i>Oscar</i>s Gesicht. Sie sah das Begehren im verschwommenen Blick seiner <i>braun</i>en Augen, las die Sehnsucht nach Körperlichkeit von seinen Lippen und kam ihm entgegen. Nur nicht nachdenken, beschwor sie sich. Lass diesen herrlichen Augenblick nicht so schnell vergehen!<br />„Ich spür’ dein Herz klopfen, <i>Julia</i>“, flüsterte <i>Oscar</i>. Er drängte <i>Julia</i> an die Wand. Dass er dabei ein Bild verschob, war ihm egal. Gierig presste er seine Lippen an <i>Julia</i>s Hals.<br />„<i>Julia</i>?“<br />„Frag nichts“, bat sie leise.<br />„Doch, ich muss. Der <i>Jakob</i>...“<br />„Ist ein Idiot!“, hörte er aus weiter Ferne und beantwortete <i>Julia</i>s Gegenfrage nach seiner belgischen Geliebten nur noch mit einem knappen ‚Vorbei’. Dann hielt ihn nichts mehr.<br />Sie schafften es nicht mehr bis ins Schlafzimmer. Der weiche, flauschige Teppich vor der schweren Garnitur war ihnen genug. Die Wärme aus dem Kachelofen und das gedämpfte Licht der Stehlampe neben <i>Julia</i>s Schaukelstuhl... <i>Oscar</i> hörte auf zu denken.<br />Und <i>Julia</i> auch. Sie fühlte nur noch das Gewicht des Mannes, der sich über sie rollte und sie küsste. Lange war sie nicht mehr so geküsst worden, so eingehüllt gewesen in eine Welle von Zärtlichkeit und Leidenschaft.<br />Einmal noch zuckte <i>Julia</i> zusammen, als ihre Gedanken kurz zu <i>Oscar</i>s Vater abschweiften. Ruckartig richtete sie sich auf.<br />„Was ist los, <i>Julia</i>?“ Liebevoll waren <i>Oscar</i>s <i>braun</i>e Augen auf sie gerichtet, und seine Blicke streichelten ihr Gesicht.<br /><i>Julia</i> wehrte ab. „Ist schon gut.“ Sie konnte schon wieder lächeln. Nur kurz war ihr ein unguter Gedanke durch den Kopf geschossen, aber sie schob ihn rasch beiseite. Sie konnte noch alles korrigieren. Später, wenn dieser lustvolle Augenblick vorbei und ihrer beider Hunger gestillt war. Nun gab sie sich vollends <i>Oscar</i>s Zärtlichkeiten hin. Gemeinsam sanken sie auf den weichen Teppich.<br />„<i>Julia</i>!“, sagte er, und seine Stimme klang rau. „Mein Gott, seit Tagen hab ich mir das schon vorgestellt. Wie es wieder sein könnte mit dir und mir.“<br />Sie legte ihm einen Finger auf die Lippen. <i>Oscar</i> schnappte danach und zog ihn in seinen Mund. Er wollte alles von dieser Frau – und sie nie mehr loslassen.<br />„<i>Julia</i>? Bist du wirklich ganz frei für mich?“<br />Ein Blick aus <i>blau</i>en Augen und ein kurzes Nicken waren die Antwort.<br />„Dann ist’s gut.“ Sein Griff an <i>Julia</i>s Schultern war hart. „Jetzt bist du wieder die Meine!“<br />Er dachte nicht mehr viel. Er ließ seinen Kopf auf <i>Julia</i>s Schultern sinken und genoss die Erfüllung ihrer körperlichen Lust.<br />Liebevoll lächelte <i>Oscar</i> dann auf <i>Julia</i> herunter. Zärtlich küsste er sie auf die Nasenspitze. Ach, war das alles unbeschwert mit dieser Frau. Wenn es nur so bliebe!<br />				<h2>Rassige Liebesszene</h2>
		Nun gab sie sich vollends <i>Oscar</i>s Zärtlichkeiten hin.<br />Nackt kniete sie vor ihm, und bot ihm mit beiden Händen ihre Brüste zum Kuss. Gierig sog er daran, bis sie lustvoll aufstöhnte. Ohne seine Lippen von <i>Julia</i>s Brustspitzen zu lösen, zog <i>Oscar</i> seine Socken aus und schob die Hose über die Hüften hinab. Dass er dabei mit den Lippen etwas heftiger an <i>Julia</i>s Brüsten knabberte, stachelte sie nur noch mehr an. Mit einem ‚Oh’ griff sie nach seinem Körper. Dann sanken sie gemeinsam auf den weichen Teppich.<br /><i>Oscar</i> gab einen gierigen Laut von sich, als <i>Julia</i>s Hand über seine nackte Männlichkeit strich. Genießerisch legte er sich auf dem Teppich zurück – dann gab es kein Halten mehr.<br />„<i>Julia</i>!“, sagte er, und seine Stimme klang rau. „Mein Gott, seit Tagen hab ich mir das schon vorgestellt. Wie es wieder sein könnte mit dir und mir.“<br />Sie legte ihm einen Finger auf die Lippen. <i>Oscar</i> schnappte danach und zog ihn in seinen Mund. Er wollte alles von dieser Frau, sie nehmen, wie keine vor ihr, sie lieben und verwöhnen – und nie mehr loslassen. <br />„<i>Julia</i>“, stöhnte er auf. „Ich kann nicht mehr lange warten. Lass mich zu dir!“<br />Sie lachte kurz auf, aber sie war längst bereit, ihn aufzunehmen. Sie fühlte es an der Hitze zwischen ihren Beinen, an dem Ziehen in ihrem Unterleib, an dem zuckenden Blitz, der sie durchfuhr, als sie daran dachte, was gleich passieren würde.<br /><i>Oscar</i> legte sich auf sie und drängte ihre Schenkel auseinander.<br />„Komm endlich rein in mich. Lass mich dich spüren.“<br />Er setzte an. Schob sich ein kleines Stück in sie – und wartete, obgleich es ihn ungeheure Beherrschung kostete, nicht gleich vollends in <i>Julia</i>s feuchte Hitze einzutauchen. Zustoßen wollte er, sich zurückziehen – und wieder stoßen.<br />„<i>Julia</i>? Bist du wirklich ganz frei für mich?“<br />Ein Blick aus <i>blau</i>en Augen und ein Nicken waren die Antwort. Gleich danach ruckte <i>Julia</i> mit dem Unterkörper hoch, griff gleichzeitig nach <i>Oscar</i>s Hüften und zog ihn rein. Der Druck in ihr war ungeheuer.<br />„Jetzt!“, stöhnte er, und sein Griff an <i>Julia</i>s Schultern war hart. „Jetzt bist du wieder die Meine!“ Er stieß zu.<br />Heftig begann er sich in <i>Julia</i> zu bewegen, suchte gleichzeitig ihren Mund und glich den Rhythmus seiner Zunge dem seiner stoßenden Hüften an. „Ist das gut mit dir.“<br />Er dachte nicht mehr viel, wunderte sich nur, dass <i>Julia</i> schon derartig zuckte. Sie war eng, stöhnte lustvoll, umklammerte ihn mit ihren Beinen und bog ihm ihren Oberkörper entgegen. Seine Lippen ließen die ihren los. <i>Oscar</i> ließ den Kopf auf <i>Julia</i>s Schultern sinken, griff nach ihren festen Hüften, stieß noch einmal heftig zu und war gefangen in einem Frauenkörper, aus dem er nie mehr rauswollte.<br />Sein <i>braun</i>es Haar war nass vom Liebesschweiß. Sein Körper war heiß und fühlte sich unheimlich gut an, als <i>Oscar</i> schwer und zufrieden auf <i>Julia</i> lag. „Bin ich dir zu schwer?“<br />„Bleib so.“<br />„War’s schön für dich?“ Er meinte, selbst in seiner ungeheuren Erregung ihren Höhenpunkt gefühlt zu haben.<br />„Und wie!“ Nie hätte sie gedacht, dass sie so schnell explodieren würde. Aber das war wohl kein Wunder, bei der Leere, die sie so lange in sich gefühlt hatte. Und mit diesem Mann! Das war schon etwas Besonderes gewesen. Diese Vertrautheit, dieser unbändige Drang nach ihm, diese Lust! Sie zuckte mit den Muskeln in ihrem Inneren. „Spürst du das?“<br />Liebevoll lächelte <i>Oscar</i> auf sie herunter. „Ich hab vorher noch viel mehr von dir gespürt.“ Zärtlich küsste er sie auf die Nasenspitze. „Willst du schon wieder?“<br />„Kannst du schon wieder?“ Ach, war das alles unbeschwert mit <i>Oscar</i>. Wenn es nur so bliebe!<br />Er grinste, und seine <i>braun</i>en Augen blitzten schelmisch. „Lass mir ein paar Minuten Zeit.“ Zufrieden rollte er sich von <i>Julia</i> herunter und blieb noch eine Weile so liegen. <br />				
	</div>
			
		
		<div id="nennungshaeufigkeit"  class="tabcontent">
		<h2>Nennungshäufigkeit</h2>
		<p>
			Hier haben wir für Sie alle Möglichkeiten der 
			Personalisierung dieses Buches zusammengefasst. Dazu haben 
			wir auch aufgelistet, wie häufig die entsprechenden 
			Angaben im Buch vorkommen.
		</p>
		<p>
			Sie brauchen nicht alle diese Möglichkeiten zu nutzen
			&ndash; für jede Angabe können Sie auch einfach den 
			Vorgabewert verwenden.
		</p>
		
		<table id="personcount">
			<tbody>
				
								    					<tr class="person" colspan="2">
						<td>Männliche Hauptrolle</td>
					</tr>
											<tr>
							<td>Der Vorname des Helden ist</td>
							<td class="count">887 x</td>
						</tr>
											<tr>
							<td>Der Nachname des Helden ist</td>
							<td class="count">83 x</td>
						</tr>
											<tr>
							<td>die Haarfarbe des Helden ist</td>
							<td class="count">9 x</td>
						</tr>
											<tr>
							<td>Die Augenfarbe des Helden ist</td>
							<td class="count">3 x</td>
						</tr>
											<tr>
							<td>Das After Shave des Helden heißt</td>
							<td class="count">1 x</td>
						</tr>
											<tr>
							<td>Der Hund des Helden heißt</td>
							<td class="count">22 x</td>
						</tr>
											<tr>
							<td>Der Held fährt ein Auto der Marke</td>
							<td class="count">4 x</td>
						</tr>
											<tr>
							<td>Die Lieblingsfarbe des Helden ist</td>
							<td class="count">5 x</td>
						</tr>
											<tr>
							<td>Der Kosename für den Helden lautet</td>
							<td class="count">6 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Weibliche Hauptrolle</td>
					</tr>
											<tr>
							<td>Der Vorname der Heldin ist</td>
							<td class="count">770 x</td>
						</tr>
											<tr>
							<td>Der Nachname der Heldin ist</td>
							<td class="count">8 x</td>
						</tr>
											<tr>
							<td>Der Kosename für die Heldin lautet</td>
							<td class="count">9 x</td>
						</tr>
											<tr>
							<td>Die Haarfarbe der Heldin ist</td>
							<td class="count">14 x</td>
						</tr>
											<tr>
							<td>Die Augenfarbe der Heldin ist</td>
							<td class="count">5 x</td>
						</tr>
											<tr>
							<td>Das Parfüm der Heldin heißt</td>
							<td class="count">4 x</td>
						</tr>
											<tr>
							<td>Die Lieblingsfarbe der Heldin ist</td>
							<td class="count">9 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Vater der männlichen Hauptrolle</td>
					</tr>
											<tr>
							<td>Der Vorname des Vater des Helden ist</td>
							<td class="count">29 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Mutter der männlichen Hauptrolle</td>
					</tr>
											<tr>
							<td>Der Vorname der Mutter des Helden ist</td>
							<td class="count">1 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Großmutter der männlichen Hauptrolle</td>
					</tr>
											<tr>
							<td>Der Vorname der Großmutter des Helden ist</td>
							<td class="count">2 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Bruder der männlichen Hauptrolle</td>
					</tr>
											<tr>
							<td>Der Vorname des Bruders des Helden ist</td>
							<td class="count">19 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Freundin des Bruders der männlichen Hauptrolle</td>
					</tr>
											<tr>
							<td>Die amerikanische Freundin des Bruders des Helden heißt</td>
							<td class="count">4 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Bösartiger Knecht</td>
					</tr>
											<tr>
							<td>Der Vorname des bösen Knechts ist</td>
							<td class="count">40 x</td>
						</tr>
											<tr>
							<td>Der Nachname des bösen Knechts ist</td>
							<td class="count">75 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Engster Freund der männlichen Hauptrolle</td>
					</tr>
											<tr>
							<td>Der Vorname des Geschäftsführers ist</td>
							<td class="count">127 x</td>
						</tr>
											<tr>
							<td>Der Nachname des Geschäftsführers ist</td>
							<td class="count">69 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Sohn des engsten Freundes</td>
					</tr>
											<tr>
							<td>Der Vorname des Sohns des Geschäftsführers des</td>
							<td class="count">21 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Sekretärin</td>
					</tr>
											<tr>
							<td>Der Vorname der Sekretärin ist</td>
							<td class="count">59 x</td>
						</tr>
											<tr>
							<td>Der Nachname der Sekretärin ist</td>
							<td class="count">4 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Mutter der weiblichen Hauptrolle</td>
					</tr>
											<tr>
							<td>Der Vorname der Mutter der Heldin ist</td>
							<td class="count">1 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Vater der weiblichen Hauptrolle</td>
					</tr>
											<tr>
							<td>Der Vorname des Vaters der Heldin ist</td>
							<td class="count">3 x</td>
						</tr>
											<tr>
							<td>Der Nachname des Vaters der Heldin ist</td>
							<td class="count">3 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Ex-Freundin der männlichen Hauptrolle</td>
					</tr>
											<tr>
							<td>Der Vorname der Ex-Freundin des Helden ist</td>
							<td class="count">126 x</td>
						</tr>
											<tr>
							<td>Der Nachname der Ex-Freundin des Helden ist</td>
							<td class="count">1 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Neuer Freund der Ex-Freundin der männlichen Hauptrolle</td>
					</tr>
											<tr>
							<td>Der Vorname des neuen Freunds der Ex-Freundin des Helden ist</td>
							<td class="count">28 x</td>
						</tr>
																		    					<tr class="person" colspan="2">
						<td>Rechtsanwalt</td>
					</tr>
											<tr>
							<td>Der Nachname des Rechtsanwalts ist</td>
							<td class="count">9 x</td>
						</tr>
																		
			</tbody>
		</table>
		<a href="#top" class="toplink" style="display: none;">Nach oben</a>
	</div>
		
		<div id="so_wird_bestellt" class="tabcontent">
		<h4>Bestellhilfe</h4>
		<style type="text/css">
			div#text ul { list-style-type: disc; }
			#tabsdiv br { margin-bottom: 10px }
		</style>
		<p>Sie bestellen bei PersonalNOVEL, indem Sie...</p>
		<ul>
			<li>ein Buch auswählen und in einzelnen Schritten personalisieren.</li>
			<li>von Ihnen personalisierte Bücher in den Warenkorb legen.</li>
			<li>Ihre Liefer- und Zahlungsdaten eingeben.</li>
			<li>Ihre E-Mail-Adresse angeben, damit wir Sie per E-Mail über
				Datenschutz und AGB informieren können.
			</li>
			<li>auf der Kontrollseite die Richtigkeit Ihrer Angaben bestätigen</li>
			<li>am Ende auf den Button „Bestellung absenden” klicken. Die
				Bestellung wird erst mit dem Button „Bestellung absenden”
				verbindlich an uns geschickt. Die Information über den Zeitpunkt
				des Vertragsschlusses finden Sie im entsprechenden Abschnitt
				in AGB. Mehr Infos zum Bestellvorgang finden Sie auf unseren Hilfeseiten.
			</li>
		</ul>
		Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden.
	</div>
		
		
</div>
</div>
<script language="javascript">

$(document).ready(function(){
    $("#nextpic").click(function(){ $("#nextpic2").click() });

    $('#previewleft').cycle({
        fx:      'fade',
        speed:   'slow',
        timeout: 0,
        next:    '#nextpic'
    });
    
    $('#previewright').cycle({
        fx:      'fade',
        speed:   'slow',
        timeout: 0,
        next:    '#nextpic2'
    });

});

</script>
<!-- indexer::continue -->

</article>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

