<?php $expire = 1403581014; /* http://web.personalnovel.local/customize/book/100.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=100">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Die schönste Nebensache" src="/tl_files/thumbnail-book/die-schoenste-nebensache-100-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Die schönste Nebensache“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-100" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Männliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Thomas Ritter</i>, der Held, ein junger Fußballstar, beginnt als Profi beim deutschen Verein <i>FC München</i> und steht schon bald für Deutschland als Nationalspieler bei der WM auf dem Rasen.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Helden																					</label>
																					<input type="text" value="Thomas" 
                                name="vars-Sein_Vorname" maxlength="30" id="vars-Sein_Vorname" 
                                data-fieldname="Sein_Vorname" 
                                data-default="Thomas" 
                                class="field focuser default" />
							<span class="field_count">316x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Helden																					</label>
																					<input type="text" value="Ritter" 
                                name="vars-Sein_Nachname" maxlength="30" id="vars-Sein_Nachname" 
                                data-fieldname="Sein_Nachname" 
                                data-default="Ritter" 
                                class="field focuser default" />
							<span class="field_count">589x</span>
						</div>
											<div class="field">
							<label>
							Seine Augenfarbe																					</label>
																					<input type="text" value="grün" 
                                name="vars-Seine_Augen" maxlength="30" id="vars-Seine_Augen" 
                                data-fieldname="Seine_Augen" 
                                data-default="grün" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Seine Haarfarbe																					</label>
																					<input type="text" value="braun" 
                                name="vars-Seine_Haare" maxlength="30" id="vars-Seine_Haare" 
                                data-fieldname="Seine_Haare" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Brasilianischer Fußballspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Da Cunha</i>, brasilianischer Bundesliga-Spieler beim <i>FC München</i>. Er war einst ein großer Star, hat aber seine beste Zeit hinter sich.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Name des Brasilianers																					</label>
																					<input type="text" value="Da Cunha" 
                                name="vars-Brasilianer_Name" maxlength="30" id="vars-Brasilianer_Name" 
                                data-fieldname="Brasilianer_Name" 
                                data-default="Da Cunha" 
                                class="field focuser default" />
							<span class="field_count">22x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Französischer Fußballspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Marquanteur</i>, französischer Bundesliga-Spieler beim <i>FC München</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Franzosen																					</label>
																					<input type="text" value="Marquanteur" 
                                name="vars-Franzose_Nachname" maxlength="30" id="vars-Franzose_Nachname" 
                                data-fieldname="Franzose_Nachname" 
                                data-default="Marquanteur" 
                                class="field focuser default" />
							<span class="field_count">10x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Argentinischer Fußballspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Paco Sanchez</i>, argentinischer Bundesliga-Spieler beim <i>FC München</i>. 
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Argentiniers																					</label>
																					<input type="text" value="Paco" 
                                name="vars-Argentinier_Vorname" maxlength="30" id="vars-Argentinier_Vorname" 
                                data-fieldname="Argentinier_Vorname" 
                                data-default="Paco" 
                                class="field focuser default" />
							<span class="field_count">28x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Argentiniers																					</label>
																					<input type="text" value="Sanchez" 
                                name="vars-Argentinier_Nachname" maxlength="30" id="vars-Argentinier_Nachname" 
                                data-fieldname="Argentinier_Nachname" 
                                data-default="Sanchez" 
                                class="field focuser default" />
							<span class="field_count">31x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Deutscher Ex-Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Paul Meininger</i>, ein deutscher Ex-Nationalspieler, der seine letzte Saison als Kapitän beim <i>FC München</i> bestreitet. Er freundet sich mit <i>Thomas Ritter</i> an.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Ex-Nationalspielers																					</label>
																					<input type="text" value="Paul" 
                                name="vars-ExNationalspieler_Vor" maxlength="30" id="vars-ExNationalspieler_Vor" 
                                data-fieldname="ExNationalspieler_Vor" 
                                data-default="Paul" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Ex-Nationalspielers																					</label>
																					<input type="text" value="Meininger" 
                                name="vars-ExNationalspieler_Nach" maxlength="30" id="vars-ExNationalspieler_Nach" 
                                data-fieldname="ExNationalspieler_Nach" 
                                data-default="Meininger" 
                                class="field focuser default" />
							<span class="field_count">56x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">1.Abwehrspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Razhenko</i>, der 1. Abwehrspieler beim <i>FC München</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 1. Abwehrspielers																					</label>
																					<input type="text" value="Razhenko" 
                                name="vars-Abwehrspieler1_Nach" maxlength="30" id="vars-Abwehrspieler1_Nach" 
                                data-fieldname="Abwehrspieler1_Nach" 
                                data-default="Razhenko" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">2. Abwehrspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Jablonski</i>, der 2. Abwehrspieler beim <i>FC München</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 2. Abwehrspielers																					</label>
																					<input type="text" value="Jablonski" 
                                name="vars-Abwehrspieler2_Nach" maxlength="30" id="vars-Abwehrspieler2_Nach" 
                                data-fieldname="Abwehrspieler2_Nach" 
                                data-default="Jablonski" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">3. Abwehrspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Suassuna</i>, der 3. Abwehrspieler des <i>FC München</i>, hat nur einen kurzen Auftritt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname eines Mittelstürmers																					</label>
																					<input type="text" value="Suassuna" 
                                name="vars-Abwehrspieler3_Nach" maxlength="30" id="vars-Abwehrspieler3_Nach" 
                                data-fieldname="Abwehrspieler3_Nach" 
                                data-default="Suassuna" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Stürmer</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Mustafa Yagmur</i>, Stürmer beim <i>FC München</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des  Stürmers																					</label>
																					<input type="text" value="Mustafa" 
                                name="vars-Stuermer_Vor" maxlength="30" id="vars-Stuermer_Vor" 
                                data-fieldname="Stuermer_Vor" 
                                data-default="Mustafa" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des  Stürmers																					</label>
																					<input type="text" value="Yagmur" 
                                name="vars-Stuermer_Nach" maxlength="30" id="vars-Stuermer_Nach" 
                                data-fieldname="Stuermer_Nach" 
                                data-default="Yagmur" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Torwartlegende</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Krotz</i>, Torwartlegende des <i>FC München</i> und wird von allen <i>King Kong Krotz</i> genannt. Er ist nur noch Nummer Zwei der Nationalmannschaft. Er ist zunächst mit <i>Thomas Ritter</i> befreundet, bevor er Interna an die Presse verrät.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Torwarts																					</label>
																					<input type="text" value="Krotz" 
                                name="vars-Torwart_Nachname" maxlength="30" id="vars-Torwart_Nachname" 
                                data-fieldname="Torwart_Nachname" 
                                data-default="Krotz" 
                                class="field focuser default" />
							<span class="field_count">97x</span>
						</div>
											<div class="field">
							<label>
							Der Spitzname des Torwarts																					</label>
																					<input type="text" value="King Kong" 
                                name="vars-Torwart_Spitzname" maxlength="30" id="vars-Torwart_Spitzname" 
                                data-fieldname="Torwart_Spitzname" 
                                data-default="King Kong" 
                                class="field focuser default" />
							<span class="field_count">18x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Brasilianische Neuverpflichtung</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Bemundo</i>, der Brasilianer, wird neu verpflichtet beim <i>FC München</i> und soll <i>Da Cunha </i>ersetzen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Name des neuen Brasilianers																					</label>
																					<input type="text" value="Bemundo" 
                                name="vars-BrasilianerNeu_Name" maxlength="30" id="vars-BrasilianerNeu_Name" 
                                data-fieldname="BrasilianerNeu_Name" 
                                data-default="Bemundo" 
                                class="field focuser default" />
							<span class="field_count">18x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Nigeriansiche Neuverpflichtung</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Ndongo</i>, der Nigerianer, wird während der Saison billig für den <i>FC München</i> eingekauft.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Nigerianers																					</label>
																					<input type="text" value="Ndongo" 
                                name="vars-Nigerianer_Nach" maxlength="30" id="vars-Nigerianer_Nach" 
                                data-fieldname="Nigerianer_Nach" 
                                data-default="Ndongo" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Sponsor</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Hans Karrel</i>, Mann mit <i>FC München</i>-Mütze. Er ist ein Sponsor des <i>FC München</i> und glaubt an <i>Ritter</i> und dessen Erfolg. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Sponsors																					</label>
																					<input type="text" value="Hans" 
                                name="vars-Sponsor_Vorname" maxlength="30" id="vars-Sponsor_Vorname" 
                                data-fieldname="Sponsor_Vorname" 
                                data-default="Hans" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Sponsors																					</label>
																					<input type="text" value="Karrel" 
                                name="vars-Sponsor_Nachname" maxlength="30" id="vars-Sponsor_Nachname" 
                                data-fieldname="Sponsor_Nachname" 
                                data-default="Karrel" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Startrainer</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Peter Grotzek</i>, der neue Startrainer des <i>FC München</i>. Er hat schütteres, weißes Haar und ist ein Förderer <i>Thomas Ritter</i>s. Später wird  er entlassen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Startrainers																					</label>
																					<input type="text" value="Peter" 
                                name="vars-Startrainer_Vorname" maxlength="30" id="vars-Startrainer_Vorname" 
                                data-fieldname="Startrainer_Vorname" 
                                data-default="Peter" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Startrainers																					</label>
																					<input type="text" value="Grotzek" 
                                name="vars-Startrainer_Nachname" maxlength="30" id="vars-Startrainer_Nachname" 
                                data-fieldname="Startrainer_Nachname" 
                                data-default="Grotzek" 
                                class="field focuser default" />
							<span class="field_count">74x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Co-Trainer</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Jupp Balberg</i>, Co-Trainer beim <i>FC München</i>. Als er zum Cheftrainer avanciert, hat <i>Thomas Ritter</i> schlechte Karten.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Co-Trainers																					</label>
																					<input type="text" value="Jupp" 
                                name="vars-CoTrainer_Vor" maxlength="30" id="vars-CoTrainer_Vor" 
                                data-fieldname="CoTrainer_Vor" 
                                data-default="Jupp" 
                                class="field focuser default" />
							<span class="field_count">31x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Co-Trainers																					</label>
																					<input type="text" value="Balberg" 
                                name="vars-CoTrainer_Nach" maxlength="30" id="vars-CoTrainer_Nach" 
                                data-fieldname="CoTrainer_Nach" 
                                data-default="Balberg" 
                                class="field focuser default" />
							<span class="field_count">40x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Manager</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Frank Kranberg</i>, der umtriebige, knallharte Manager vom <i>FC München</i>; er hat früher selbst gespielt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Managers																					</label>
																					<input type="text" value="Frank" 
                                name="vars-Manager_Vorname" maxlength="30" id="vars-Manager_Vorname" 
                                data-fieldname="Manager_Vorname" 
                                data-default="Frank" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Managers																					</label>
																					<input type="text" value="Kranberg" 
                                name="vars-Manager_Nachname" maxlength="30" id="vars-Manager_Nachname" 
                                data-fieldname="Manager_Nachname" 
                                data-default="Kranberg" 
                                class="field focuser default" />
							<span class="field_count">100x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mannschaftsarzt</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Dr. van Doorn</i>, der Arzt des <i>FC München</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Vereinsarztes																					</label>
																					<input type="text" value="van Doorn" 
                                name="vars-Vereinsarzt_Nach" maxlength="30" id="vars-Vereinsarzt_Nach" 
                                data-fieldname="Vereinsarzt_Nach" 
                                data-default="van Doorn" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Gegenspieler der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Andreas Lange</i>, der Gegenspieler, spielt auch beim <i>FC München</i>. Er kann <i>Ritter</i> nicht leiden und zeigt ihm das auch.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname seines Gegenspielers																					</label>
																					<input type="text" value="Andreas" 
                                name="vars-Gegenspieler_Vor" maxlength="30" id="vars-Gegenspieler_Vor" 
                                data-fieldname="Gegenspieler_Vor" 
                                data-default="Andreas" 
                                class="field focuser default" />
							<span class="field_count">25x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname seines Gegenspielers																					</label>
																					<input type="text" value="Lange" 
                                name="vars-Gegenspieler_Nach" maxlength="30" id="vars-Gegenspieler_Nach" 
                                data-fieldname="Gegenspieler_Nach" 
                                data-default="Lange" 
                                class="field focuser default" />
							<span class="field_count">45x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Kroatischer Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Dakovic</i>, kroatischer Nationalspieler der gegnerischen Bundesliga-Mannschaft. Er spielt in der Abwehr.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Abwehrspielers der gegnerischen Mannschaft																					</label>
																					<input type="text" value="Dakovic" 
                                name="vars-KroateGegner_Nach" maxlength="30" id="vars-KroateGegner_Nach" 
                                data-fieldname="KroateGegner_Nach" 
                                data-default="Dakovic" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Spieler der gegnerischen Mannschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Giowara</i>, Spieler der gegnerischen Bundesliga-Mannschaft und schießt ein Tor. Im vorherigen Jahr spielte er für den <i>FC München</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname eines gegnerischen Spielers																					</label>
																					<input type="text" value="Giowara" 
                                name="vars-SpielerGegner_Nach" maxlength="30" id="vars-SpielerGegner_Nach" 
                                data-fieldname="SpielerGegner_Nach" 
                                data-default="Giowara" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Torwart der gegnerischen Mannschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Hoffmann</i>, der Torwart der gegnerischen Bundesliga-Mannschaft.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des gegnerischen Torwarts																					</label>
																					<input type="text" value="Hoffmann" 
                                name="vars-TorwartGegner_Nach" maxlength="30" id="vars-TorwartGegner_Nach" 
                                data-fieldname="TorwartGegner_Nach" 
                                data-default="Hoffmann" 
                                class="field focuser default" />
							<span class="field_count">10x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Schiedsrichter</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Dr. Meyer</i>, ist Zahnarzt und Schiedsrichter.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Schiedsrichters																					</label>
																					<input type="text" value="Meyer" 
                                name="vars-Schiedsrichter_Nach" maxlength="30" id="vars-Schiedsrichter_Nach" 
                                data-fieldname="Schiedsrichter_Nach" 
                                data-default="Meyer" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Rumänischer Trainer</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Radvanyi</i>, der rumänische Trainer, ist einer der erfolgreichsten Trainer. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des rumänischen Trainers																					</label>
																					<input type="text" value="Radvanyi" 
                                name="vars-RumaenTrainer_Nach" maxlength="30" id="vars-RumaenTrainer_Nach" 
                                data-fieldname="RumaenTrainer_Nach" 
                                data-default="Radvanyi" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Spielerberater</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Bernd Strömer</i>, der Spielerberater, ist ein zwielichtiger Vermittler, der <i>Ritter</i> unter Vertrag nehmen möchte.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Spielerberaters																					</label>
																					<input type="text" value="Bernd" 
                                name="vars-Spielerberater_Vor" maxlength="30" id="vars-Spielerberater_Vor" 
                                data-fieldname="Spielerberater_Vor" 
                                data-default="Bernd" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Spielerberaters																					</label>
																					<input type="text" value="Strömer" 
                                name="vars-Spielerberater_Nach" maxlength="30" id="vars-Spielerberater_Nach" 
                                data-fieldname="Spielerberater_Nach" 
                                data-default="Strömer" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Dubioser Spielervermittler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Lopez</i>, der Spielervermittler, ist ein dubioser Vermittler, der versucht, <i>Ritter</i> zu <i>Real</i> zu holen. Er spielt nur eine kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Spielervermittlers																					</label>
																					<input type="text" value="Lopez" 
                                name="vars-Spielervermittler_Nach" maxlength="30" id="vars-Spielervermittler_Nach" 
                                data-fieldname="Spielervermittler_Nach" 
                                data-default="Lopez" 
                                class="field focuser default" />
							<span class="field_count">18x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Deutscher Bundestrainer</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Jörg Kleemann</i>, der Bundestrainer, nimmt <i>Ritter</i> in die deutsche Nationalmannschaft auf und will den Sieg bei der WM.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Bundestrainers																					</label>
																					<input type="text" value="Jörg" 
                                name="vars-Bundestrainer_Vor" maxlength="30" id="vars-Bundestrainer_Vor" 
                                data-fieldname="Bundestrainer_Vor" 
                                data-default="Jörg" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Bundestrainers																					</label>
																					<input type="text" value="Kleemann" 
                                name="vars-Bundestrainer_Nach" maxlength="30" id="vars-Bundestrainer_Nach" 
                                data-fieldname="Bundestrainer_Nach" 
                                data-default="Kleemann" 
                                class="field focuser default" />
							<span class="field_count">62x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Neue Nummer Eins im Tor</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Rehmeier</i>, die neue Nummer Eins im Tor der deutschen Mannschaft.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des neuen Torwarts																					</label>
																					<input type="text" value="Rehmaier" 
                                name="vars-TorwartNeu_Nach" maxlength="30" id="vars-TorwartNeu_Nach" 
                                data-fieldname="TorwartNeu_Nach" 
                                data-default="Rehmaier" 
                                class="field focuser default" />
							<span class="field_count">43x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Rot belasteter Abwehrspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Thorsten Brink</i>, Abwehrspieler und scheidet in der Vorbereitung der Nationalmannschaft wegen Roter Karte aus, spielt aber später wieder mit.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des gesperrten Abwehrspielers																					</label>
																					<input type="text" value="Thorsten" 
                                name="vars-AbwehrspielerGesperrt_Vor" maxlength="30" id="vars-AbwehrspielerGesperrt_Vor" 
                                data-fieldname="AbwehrspielerGesperrt_Vor" 
                                data-default="Thorsten" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des gesperrten Abwehrspielers																					</label>
																					<input type="text" value="Brink" 
                                name="vars-AbwehrspielerGesperrt_Nach" maxlength="30" id="vars-AbwehrspielerGesperrt_Nach" 
                                data-fieldname="AbwehrspielerGesperrt_Nach" 
                                data-default="Brink" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mittelfeldstar</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Stefan Wallner</i>, der Mittelfeldstar, fällt in der Vorbereitung aus und kann im Turnier nicht mitspielen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Mittelfeldstars																					</label>
																					<input type="text" value="Stefan" 
                                name="vars-Mittelfeldstar_Vor" maxlength="30" id="vars-Mittelfeldstar_Vor" 
                                data-fieldname="Mittelfeldstar_Vor" 
                                data-default="Stefan" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Mittelfeldstars																					</label>
																					<input type="text" value="Wallner" 
                                name="vars-Mittelfeldstar_Nach" maxlength="30" id="vars-Mittelfeldstar_Nach" 
                                data-fieldname="Mittelfeldstar_Nach" 
                                data-default="Wallner" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">1. Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>König</i>, der dt. Nationalspieler Nr. 1.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 1. Nationalspielers																					</label>
																					<input type="text" value="König" 
                                name="vars-DtNationalspieler1_Nach_" maxlength="30" id="vars-DtNationalspieler1_Nach_" 
                                data-fieldname="DtNationalspieler1_Nach_" 
                                data-default="König" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">2. Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Grünling</i>, der dt. Nationalspieler Nr. 2.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 2. Nationalspielers																					</label>
																					<input type="text" value="Grünling" 
                                name="vars-DtNationalspieler2_Nach" maxlength="30" id="vars-DtNationalspieler2_Nach" 
                                data-fieldname="DtNationalspieler2_Nach" 
                                data-default="Grünling" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">3. Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Severin</i>, der dt. Nationalspieler Nr. 3.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 3. Nationalspielers																					</label>
																					<input type="text" value="Severin" 
                                name="vars-DtNationalspieler3_Nach" maxlength="30" id="vars-DtNationalspieler3_Nach" 
                                data-fieldname="DtNationalspieler3_Nach" 
                                data-default="Severin" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">4. Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Garowski</i>, der dt. Nationalspieler Nr. 4.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 4. Nationalspielers																					</label>
																					<input type="text" value="Garowski" 
                                name="vars-DtNationalspieler4_Nach" maxlength="30" id="vars-DtNationalspieler4_Nach" 
                                data-fieldname="DtNationalspieler4_Nach" 
                                data-default="Garowski" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">5. Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Erler</i>, der dt. Nationalspieler Nr. 5.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 5. Nationalspielers																					</label>
																					<input type="text" value="Erler" 
                                name="vars-DtNationalspieler5_Nach" maxlength="30" id="vars-DtNationalspieler5_Nach" 
                                data-fieldname="DtNationalspieler5_Nach" 
                                data-default="Erler" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">6. Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Haensel</i>, der dt. Nationalspieler Nr. 6.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 6. Nationalspielers																					</label>
																					<input type="text" value="Haensel" 
                                name="vars-DtNationalspieler6_Nach" maxlength="30" id="vars-DtNationalspieler6_Nach" 
                                data-fieldname="DtNationalspieler6_Nach" 
                                data-default="Haensel" 
                                class="field focuser default" />
							<span class="field_count">24x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">7. Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Roeder</i>, der dt. Nationalspieler Nr. 7.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 7. Nationalspielers																					</label>
																					<input type="text" value="Roeder" 
                                name="vars-DtNationalspieler7_Nach" maxlength="30" id="vars-DtNationalspieler7_Nach" 
                                data-fieldname="DtNationalspieler7_Nach" 
                                data-default="Roeder" 
                                class="field focuser default" />
							<span class="field_count">19x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">8. Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Larsen</i>, der dt. Nationalspieler Nr. 8.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 8. Nationalspielers																					</label>
																					<input type="text" value="Larsen" 
                                name="vars-DtNationalspieler8_Nach" maxlength="30" id="vars-DtNationalspieler8_Nach" 
                                data-fieldname="DtNationalspieler8_Nach" 
                                data-default="Larsen" 
                                class="field focuser default" />
							<span class="field_count">19x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">9. Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Prantlmeyer</i>, der dt. Nationalspieler Nr. 9.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 9. Nationalspielers																					</label>
																					<input type="text" value="Prantlmayer" 
                                name="vars-DtNationalspieler9_Nach" maxlength="30" id="vars-DtNationalspieler9_Nach" 
                                data-fieldname="DtNationalspieler9_Nach" 
                                data-default="Prantlmayer" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">10. Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Schmitten</i>, der dt. Nationalspieler Nr. 10.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 10. Nationalspielers																					</label>
																					<input type="text" value="Schmitten" 
                                name="vars-DtNationalspieler10_Nach" maxlength="30" id="vars-DtNationalspieler10_Nach" 
                                data-fieldname="DtNationalspieler10_Nach" 
                                data-default="Schmitten" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">11. Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Brandner</i>, der dt. Nationalspieler Nr. 11.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 11. Nationalspielers																					</label>
																					<input type="text" value="Brandner" 
                                name="vars-DtNationalspieler11_Nach" maxlength="30" id="vars-DtNationalspieler11_Nach" 
                                data-fieldname="DtNationalspieler11_Nach" 
                                data-default="Brandner" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">12. Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Riebula</i>, der dt. Nationalspieler Nr. 12.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 12. Nationalspielers																					</label>
																					<input type="text" value="Riebula" 
                                name="vars-DtNationalspieler12_Nach" maxlength="30" id="vars-DtNationalspieler12_Nach" 
                                data-fieldname="DtNationalspieler12_Nach" 
                                data-default="Riebula" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">13. Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Degenhardt</i>, der dt. Nationalspieler Nr. 13.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 13. Nationalspielers																					</label>
																					<input type="text" value="Degenhardt" 
                                name="vars-DtNationalspieler13_Nach" maxlength="30" id="vars-DtNationalspieler13_Nach" 
                                data-fieldname="DtNationalspieler13_Nach" 
                                data-default="Degenhardt" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">14. Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Rodowski</i>, der dt. Nationalspieler Nr. 14.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 14. Nationalspielers																					</label>
																					<input type="text" value="Rodowski" 
                                name="vars-DtNationalspieler14_Nach" maxlength="30" id="vars-DtNationalspieler14_Nach" 
                                data-fieldname="DtNationalspieler14_Nach" 
                                data-default="Rodowski" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">15. Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Brechting</i>, der dt. Nationalspieler Nr. 15.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 15. Nationalspielers																					</label>
																					<input type="text" value="Brechting" 
                                name="vars-DtNationalspieler15_Nach" maxlength="30" id="vars-DtNationalspieler15_Nach" 
                                data-fieldname="DtNationalspieler15_Nach" 
                                data-default="Brechting" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">16. Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Mangold</i>, der dt. Nationalspieler Nr. 16.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 16. Nationalspielers																					</label>
																					<input type="text" value="Mangold" 
                                name="vars-DtNationalspieler16_Nach" maxlength="30" id="vars-DtNationalspieler16_Nach" 
                                data-fieldname="DtNationalspieler16_Nach" 
                                data-default="Mangold" 
                                class="field focuser default" />
							<span class="field_count">22x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">17. Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Roland</i>, der dt. Nationalspieler Nr. 17.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 17. Nationalspielers																					</label>
																					<input type="text" value="Roland" 
                                name="vars-DtNationalspieler17_Nach" maxlength="30" id="vars-DtNationalspieler17_Nach" 
                                data-fieldname="DtNationalspieler17_Nach" 
                                data-default="Roland" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mannschaftskapitän</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Jörn Christians</i>, der Mannschaftskapitän, kämpft mit <i>Ritter</i> gut zusammen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Mannschaftskapitäns																					</label>
																					<input type="text" value="Jörn" 
                                name="vars-Mannschaftskapitaen_Vor" maxlength="30" id="vars-Mannschaftskapitaen_Vor" 
                                data-fieldname="Mannschaftskapitaen_Vor" 
                                data-default="Jörn" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Mannschaftskapitäns																					</label>
																					<input type="text" value="Christians" 
                                name="vars-Mannschaftskapitaen_Nach" maxlength="30" id="vars-Mannschaftskapitaen_Nach" 
                                data-fieldname="Mannschaftskapitaen_Nach" 
                                data-default="Christians" 
                                class="field focuser default" />
							<span class="field_count">66x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Spieler des ersten Gruppengegners</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Tamlan</i>, der Spieler beim 1. <i>Gruppenspielgegner</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 1. Gruppenspielgegners																					</label>
																					<input type="text" value="Tamlan" 
                                name="vars-SpielerGruppenspielgegner1_Nach" maxlength="30" id="vars-SpielerGruppenspielgegner1_Nach" 
                                data-fieldname="SpielerGruppenspielgegner1_Nach" 
                                data-default="Tamlan" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Spieler des zweiten Gruppengegners</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Makalon</i>, der Spieler beim 2. <i>Gruppenspielgegner</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 2. Gruppenspielgegners																					</label>
																					<input type="text" value="Makalon" 
                                name="vars-Spieler1Gruppenspielgegner2_Nach" maxlength="30" id="vars-Spieler1Gruppenspielgegner2_Nach" 
                                data-fieldname="Spieler1Gruppenspielgegner2_Nach" 
                                data-default="Makalon" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ein weiterer Spieler des zweiten Gruppengegners</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Balon</i>, der 2. Spieler beim 2. <i>Gruppenspielgegner</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 2. Spielers des 2. Gruppenspielgegners																					</label>
																					<input type="text" value="Balon" 
                                name="vars-Spieler2Gruppenspielgegner2_Nach" maxlength="30" id="vars-Spieler2Gruppenspielgegner2_Nach" 
                                data-fieldname="Spieler2Gruppenspielgegner2_Nach" 
                                data-default="Balon" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Spieler des Achtelfinalgegners</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Dago</i>, der Spieler beim <i>Achtelfinalgegner</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Spielers des Achtelfinalgegners																					</label>
																					<input type="text" value="Dago" 
                                name="vars-Spieler1Achtelfinalgegner_Nach" maxlength="30" id="vars-Spieler1Achtelfinalgegner_Nach" 
                                data-fieldname="Spieler1Achtelfinalgegner_Nach" 
                                data-default="Dago" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ein weiterer Spieler des Achtelfinalgegners</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Hondo</i>, der 2. Spieler beim <i>Achtelfinalgegner</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 2. Spielers des Achtelfinales																					</label>
																					<input type="text" value="Hondo" 
                                name="vars-Spieler2Achtefinalgegner_Nach" maxlength="30" id="vars-Spieler2Achtefinalgegner_Nach" 
                                data-fieldname="Spieler2Achtefinalgegner_Nach" 
                                data-default="Hondo" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Stürmerstar des Achtelfinalgegners</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Gaman</i>, der Stürmerstar beim <i>Achtelfinalgegner</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Name des Stürmerstars des Achtelfinalgegners																					</label>
																					<input type="text" value="Gaman" 
                                name="vars-StuermerAchtelfinalgegner_Nach" maxlength="30" id="vars-StuermerAchtelfinalgegner_Nach" 
                                data-fieldname="StuermerAchtelfinalgegner_Nach" 
                                data-default="Gaman" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Starspieler des Viertelfinalgegners</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Farando</i>, der Starspieler beim <i>Viertelfinalgegner</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Starspielers des Viertelfinalgegners																					</label>
																					<input type="text" value="Farando" 
                                name="vars-StarspielerViertelfinalgegner_Nach" maxlength="30" id="vars-StarspielerViertelfinalgegner_Nach" 
                                data-fieldname="StarspielerViertelfinalgegner_Nach" 
                                data-default="Farando" 
                                class="field focuser default" />
							<span class="field_count">16x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Stürmer des Viertelfinalgegners</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Tensold</i>, der Stürmer beim <i>Viertelfinalgegner</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Stürmers des Viertelfinalgegners																					</label>
																					<input type="text" value="Tensold" 
                                name="vars-StuermerViertelfinalgegner_Nach" maxlength="30" id="vars-StuermerViertelfinalgegner_Nach" 
                                data-fieldname="StuermerViertelfinalgegner_Nach" 
                                data-default="Tensold" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mittelfeldspieler des Halbfinalgegners</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Sobol</i>, der Mittelfeldspieler beim <i>Halbfinalgegner</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Mittelfeldspielers des Halbfinales																					</label>
																					<input type="text" value="Sobol" 
                                name="vars-Mittelfeldspieler1Halbfinalgegner_Nach" maxlength="30" id="vars-Mittelfeldspieler1Halbfinalgegner_Nach" 
                                data-fieldname="Mittelfeldspieler1Halbfinalgegner_Nach" 
                                data-default="Sobol" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ein weiterer Spieler des Halbfinalgegners</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Takani</i>, der zweite Mittelfeldspieler beim <i>Halbfinalgegner</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des 2. Mittelfeldspielers des Halbfinalgegners																					</label>
																					<input type="text" value="Takani" 
                                name="vars-Mittelfeldspieler2Halbfinalgegner_Nach" maxlength="30" id="vars-Mittelfeldspieler2Halbfinalgegner_Nach" 
                                data-fieldname="Mittelfeldspieler2Halbfinalgegner_Nach" 
                                data-default="Takani" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Stürmer des Halbfinalgegners</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Garabor</i>, der Stürmer beim <i>Halbfinalgegner</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Stürmers des Halbfinalgegners																					</label>
																					<input type="text" value="Garabor" 
                                name="vars-StuermerHalbfinalgegner_Nach" maxlength="30" id="vars-StuermerHalbfinalgegner_Nach" 
                                data-fieldname="StuermerHalbfinalgegner_Nach" 
                                data-default="Garabor" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mannschaften</div>
				<div class="description" style="margin-top: 5px;display:none"><i>FC München</i>, der Club, in dem <i>Thomas Ritter</i> seine Profikarriere beginnt.
<i>Italien</i>: der Gegner in der Vorbereitung.
<i>Frankreich</i>: der Gegner in der Vorbereitung.
<i>Polen</i>: der 1. Gruppenspielgegner. 
<i>Amerika</i>: der 2. Gruppenspielgegner.
<i>Nigeria</i>: der 3. Gruppenspielgegner.
<i>Tschechien</i>: der Achtelfinalgegner.
<i>England</i>: der Viertelfinalgegner.
<i>Portugal</i>: der Halbfinalgegner.
<i>Brasilien</i>: der Endspielgegner.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Name des Landes des 1. Vorbereitungsspiels																					</label>
																					<input type="text" value="Italien" 
                                name="vars-GegnerVorbereitung1" maxlength="30" id="vars-GegnerVorbereitung1" 
                                data-fieldname="GegnerVorbereitung1" 
                                data-default="Italien" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
											<div class="field">
							<label>
							Der Name des Landes des 2. Vorbereitungsspiels																					</label>
																					<input type="text" value="Frankreich" 
                                name="vars-GegnerVorbereitung2" maxlength="30" id="vars-GegnerVorbereitung2" 
                                data-fieldname="GegnerVorbereitung2" 
                                data-default="Frankreich" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Der Name des Landes des 1.Gruppenspielgegners																					</label>
																					<input type="text" value="Polen" 
                                name="vars-Gruppenspielgegner1" maxlength="30" id="vars-Gruppenspielgegner1" 
                                data-fieldname="Gruppenspielgegner1" 
                                data-default="Polen" 
                                class="field focuser default" />
							<span class="field_count">15x</span>
						</div>
											<div class="field">
							<label>
							Der Name des Landes des 2. Gruppenspielgegners																					</label>
																					<input type="text" value="Amerika" 
                                name="vars-Gruppenspielgegner2" maxlength="30" id="vars-Gruppenspielgegner2" 
                                data-fieldname="Gruppenspielgegner2" 
                                data-default="Amerika" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
											<div class="field">
							<label>
							Der Name des Landes des 3. Gruppenspielgegners																					</label>
																					<input type="text" value="Nigeria" 
                                name="vars-Gruppenspielgegner3" maxlength="30" id="vars-Gruppenspielgegner3" 
                                data-fieldname="Gruppenspielgegner3" 
                                data-default="Nigeria" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Der Name des Landes des Achtelfinalgegners																					</label>
																					<input type="text" value="Tschechien" 
                                name="vars-Achtelfinalgegner" maxlength="30" id="vars-Achtelfinalgegner" 
                                data-fieldname="Achtelfinalgegner" 
                                data-default="Tschechien" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Der Name des Landes des Viertelfinalgegners																					</label>
																					<input type="text" value="England" 
                                name="vars-Viertelfinalgegner" maxlength="30" id="vars-Viertelfinalgegner" 
                                data-fieldname="Viertelfinalgegner" 
                                data-default="England" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
											<div class="field">
							<label>
							Der Name des Landes des Halbfinalgegners																					</label>
																					<input type="text" value="Portugal" 
                                name="vars-Halbfinalgegner" maxlength="30" id="vars-Halbfinalgegner" 
                                data-fieldname="Halbfinalgegner" 
                                data-default="Portugal" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Der Name des Landes des Endspielgegners																					</label>
																					<input type="text" value="Brasilien" 
                                name="vars-Endspielgegner" maxlength="30" id="vars-Endspielgegner" 
                                data-fieldname="Endspielgegner" 
                                data-default="Brasilien" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
											<div class="field">
							<label>
							Die  Mannschaft der Hauptpersonen																					</label>
																					<input type="text" value="FC München" 
                                name="vars-MannschaftHauptperson" maxlength="30" id="vars-MannschaftHauptperson" 
                                data-fieldname="MannschaftHauptperson" 
                                data-default="FC München" 
                                class="field focuser default" />
							<span class="field_count">52x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			Der <span class='default Seine_Haare'>braun</span>haarige, <span class='default Seine_Augen'>grÃ¼n</span>äugige <span class='default Sein_Vorname'>Thomas</span> <span class='default Sein_Nachname'>Ritter</span> beginnt seine steile Fußballerkarriere beim renommierten Verein <span class='default MannschaftHauptperson'>FC MÃ¼nchen</span>, seine Förderer sind der Trainer <span class='default Startrainer_Vorname'>Peter</span> <span class='default Startrainer_Nachname'>Grotzek</span> und der Sponsor <span class='default Sponsor_Vorname'>Hans</span> <span class='default Sponsor_Nachname'>Karrel</span>. Knallharter Manager des Vereins ist <span class='default Manager_Vorname'>Frank</span> <span class='default Manager_Nachname'>Kranberg</span>. Im Team sind die Bundesligaspieler <span class='default Brasilianer_Name'>Da Cunha</span>, <span class='default Franzose_Nachname'>Marquanteur</span>, <span class='default Argentinier_Vorname'>Paco</span> <span class='default Argentinier_Nachname'>Sanchez</span>, der Kapitän <span class='default ExNationalspieler_Vor'>Paul</span> <span class='default ExNationalspieler_Nach'>Meininger</span>, der 1. Abwehrspieler <span class='default Abwehrspieler1_Nach'>Razhenko</span>, der Stürmer <span class='default Stuermer_Vor'>Mustafa</span> <span class='default Stuermer_Nach'>Yagmur</span>, der 2. Abwehrspieler <span class='default Abwehrspieler2_Nach'>Jablonski</span>, der 3. Abwehrspieler <span class='default Abwehrspieler3_Nach'>Suassuna</span>, <span class='default Nigerianer_Nach'>Ndongo</span> und der neue Brasilianer <span class='default BrasilianerNeu_Name'>Bemundo</span>. Die Torwartlegende <span class='default Torwart_Nachname'>Krotz</span>, genannt <span class='default Torwart_Spitzname'>King Kong</span>, ist allerdings nur noch die Nummer zwei der Nationalmannschaft. <span class='default Sein_Nachname'>Ritter</span>s Gegenspieler ist <span class='default Gegenspieler_Vor'>Andreas</span> <span class='default Gegenspieler_Nach'>Lange</span>. Als <span class='default CoTrainer_Vor'>Jupp</span> <span class='default CoTrainer_Nach'>Balberg</span> zum Cheftrainer avanciert, hat <span class='default Sein_Nachname'>Ritter</span> schlechte Karten. Der Vereinsarzt ist <span class='default Vereinsarzt_Nach'>van Doorn</span>. Der Schiedsrichter im dramatischen Spiel ist <span class='default Schiedsrichter_Nach'>Meyer</span>, in der Abwehr spielt <span class='default KroateGegner_Nach'>Dakovic</span>, der Ex-<span class='default MannschaftHauptperson'>FC MÃ¼nchen</span>-Spieler <span class='default SpielerGegner_Nach'>Giowara</span>, Torwart ist <span class='default TorwartGegner_Nach'>Hoffmann</span>. Einer der erfolgreichsten Trainer ist der Rumäne <span class='default RumaenTrainer_Nach'>Radvanyi</span>. Nach seiner Verletzung und durch hartes Training gelingt es <span class='default Sein_Nachname'>Ritter</span>, sich wieder an die Mannschaft heranzuarbeiten. Der zwielichtige Spielerberater  <span class='default Spielerberater_Vor'>Bernd</span> möchte <span class='default Sein_Nachname'>Ritter</span> unter Vertrag nehmen. Doch der ehrgeizige Bundestrainer <span class='default Bundestrainer_Vor'>JÃ¶rg</span> <span class='default Bundestrainer_Nach'>Kleemann</span> nimmt ihn unter Vertrag. <span class='default TorwartNeu_Nach'>Rehmaier</span> wird die Nummer Eins im Tor der deutschen Mannschaft. Schwierigkeiten haben <span class='default AbwehrspielerGesperrt_Vor'>Thorsten</span> <span class='default AbwehrspielerGesperrt_Nach'>Brink</span> und der Mittelfeldstar <span class='default Mittelfeldstar_Vor'>Stefan</span> <span class='default Mittelfeldstar_Nach'>Wallner</span>. Die Nationalspieler sind: Die Nummer 1 <span class='default DtNationalspieler1_Nach_'>KÃ¶nig</span>, Nummer 2 <span class='default DtNationalspieler2_Nach'>GrÃ¼nling</span>, Nummer 3 <span class='default DtNationalspieler3_Nach'>Severin</span>, Nummer 4 <span class='default DtNationalspieler4_Nach'>Garowski</span>, Nummer 5 <span class='default DtNationalspieler5_Nach'>Erler</span>, Nummer 6 <span class='default DtNationalspieler6_Nach'>Haensel</span>, Nummer 7 <span class='default DtNationalspieler7_Nach'>Roeder</span>, Nummer 8 <span class='default DtNationalspieler8_Nach'>Larsen</span>, Nummer 9 <span class='default DtNationalspieler9_Nach'>Prantlmayer</span>, Nummer 10 <span class='default DtNationalspieler10_Nach'>Schmitten</span>, Nummer 11 <span class='default DtNationalspieler11_Nach'>Brandner</span>, Nummer 12 <span class='default DtNationalspieler12_Nach'>Riebula</span>, Nummer 13 <span class='default DtNationalspieler13_Nach'>Degenhardt</span>, Nummer 14 <span class='default DtNationalspieler14_Nach'>Rodowski</span>, Nummer 15 <span class='default DtNationalspieler15_Nach'>Brechting</span>, Nummer 16 <span class='default DtNationalspieler16_Nach'>Mangold</span>, Nummer 17 <span class='default DtNationalspieler17_Nach'>Roland</span>. Der Mannschaftskapitän <span class='default Mannschaftskapitaen_Vor'>JÃ¶rn</span> <span class='default Mannschaftskapitaen_Nach'>Christians</span> kämpft gut mit <span class='default Sein_Nachname'>Ritter</span> zusammen. Der dubiose Vermittler <span class='default Spielervermittler_Nach'>Lopez</span> versucht <span class='default Sein_Nachname'>Ritter</span> abzuwerben. Die Gegner der Nationalmannschaft sind: in der Vorbereitung <span class='default GegnerVorbereitung1'>Italien</span> und <span class='default GegnerVorbereitung2'>Frankreich</span>. Der 1. Gruppenspielgegner ist <span class='default Gruppenspielgegner1'>Polen</span>, Spieler dieser Mannschaft ist <span class='default SpielerGruppenspielgegner1_Nach'>Tamlan</span>, 2. Gruppenspielgegner <span class='default Gruppenspielgegner2'>Amerika</span> mit den Spielern <span class='default Spieler1Gruppenspielgegner2_Nach'>Makalon</span> und <span class='default Spieler2Gruppenspielgegner2_Nach'>Balon</span>, 3. Gruppenspielgegner ist <span class='default Gruppenspielgegner3'>Nigeria</span>, der Achtelfinalgegner ist <span class='default Achtelfinalgegner'>Tschechien</span> mit Stürmerstar <span class='default StuermerAchtelfinalgegner_Nach'>Gaman</span> und den Spielern <span class='default Spieler1Achtelfinalgegner_Nach'>Dago</span> und <span class='default Spieler2Achtefinalgegner_Nach'>Hondo</span>, der Viertelfinalgegner ist <span class='default Viertelfinalgegner'>England</span> mit dem Starspieler <span class='default StarspielerViertelfinalgegner_Nach'>Farando</span> und dem Stürmer <span class='default StuermerViertelfinalgegner_Nach'>Tensold</span>, der Halbfinalgegner ist <span class='default Halbfinalgegner'>Portugal</span>, die beiden Mittelfeldspieler sind <span class='default Mittelfeldspieler1Halbfinalgegner_Nach'>Sobol</span> und <span class='default Mittelfeldspieler2Halbfinalgegner_Nach'>Takani</span> sowie der Stürmer <span class='default StuermerHalbfinalgegner_Nach'>Garabor</span>, der Endspielgegner ist <span class='default Endspielgegner'>Brasilien</span>.		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

