<?php $expire = 1394738542; /* http://web.personalnovel.local/customize/book/628.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href="http://hochzeit.personalnovel.de/"></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=628">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Ein Petticoat für die Liebe" src="/tl_files/thumbnail-book/ein-petticoat-fuer-die-liebe-628-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Ein Petticoat für die Liebe“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-628" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weibliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Tabea Kaiser</i> (im Jahr 2011) bzw. <i>Sophie Torgau</i> (im Jahr 1954), weibliche Hauptrolle; Lehramtsstudentin; eher schüchtern und zurückhaltend; Einzelkind; hat als Kind Klavier gespielt; hatte bisher nur wenige Beziehungen und ist gerade frisch getrennt; ist ein großer Fan der Fünfzigerjahre; findet auf dem Dachboden ihrer Großmutter einen Ring, mit dessen Zauberkraft sie ins Jahr 1954 reist; gibt sich dort als <i>Sophie Torgau</i> aus, eine Cousine ihrer Oma, die mit ihren Eltern nach Amerika ausgewandert und in den Fünfzigern bei einem Schiffsunglück ums Leben gekommen war; wird von der Familie ihrer Oma <i>Anna</i> sehr herzlich aufgenommen; verliebt sich in <i>Volker</i>; wird in die Gegenwart zurückkatapultiert, als sie und <i>Volker</i> sich gerade küssen wollen; da sie ihn nicht vergessen kann, beschließt sie, für immer in die Vergangenheit zurückzukehren; wird am Ende mit <i>Volker</i> glücklich. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der weiblichen Hauptrolle in der Gegenwart ist																					</label>
																					<input type="text" value="Tabea" 
                                name="vars-Heldin_VN1" maxlength="30" id="vars-Heldin_VN1" 
                                data-fieldname="Heldin_VN1" 
                                data-default="Tabea" 
                                class="field focuser default" />
							<span class="field_count">30x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der weiblichen Hauptrolle in der Gegenwart ist																					</label>
																					<input type="text" value="Kaiser" 
                                name="vars-Heldin_NN1" maxlength="30" id="vars-Heldin_NN1" 
                                data-fieldname="Heldin_NN1" 
                                data-default="Kaiser" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname der weiblichen Hauptrolle in den Fünfzigern ist																					</label>
																					<input type="text" value="Sophie" 
                                name="vars-Heldin_VN2" maxlength="30" id="vars-Heldin_VN2" 
                                data-fieldname="Heldin_VN2" 
                                data-default="Sophie" 
                                class="field focuser default" />
							<span class="field_count">63x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der weiblichen Hauptrolle in den Fünfzigern ist																					</label>
																					<input type="text" value="Torgau" 
                                name="vars-Heldin_NN2" maxlength="30" id="vars-Heldin_NN2" 
                                data-fieldname="Heldin_NN2" 
                                data-default="Torgau" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="schwarz" 
                                name="vars-Heldin_Haar" maxlength="30" id="vars-Heldin_Haar" 
                                data-fieldname="Heldin_Haar" 
                                data-default="schwarz" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="grün" 
                                name="vars-Heldin_Augen" maxlength="30" id="vars-Heldin_Augen" 
                                data-fieldname="Heldin_Augen" 
                                data-default="grün" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Das Parfüm der weiblichen Hauptrolle heißt																					</label>
																					<input type="text" value="Chanel No. 5" 
                                name="vars-Heldin_Duft" maxlength="30" id="vars-Heldin_Duft" 
                                data-fieldname="Heldin_Duft" 
                                data-default="Chanel No. 5" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Große Liebe der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Volker Bach</i>, <i>Tabea</i>s große Liebe in den Fünfzigern; schlank; ein wenig älter und größer als <i>Tabea</i>; trägt lange Koteletten; hat eine gerade Nase, geschwungene Lippen, schmale Hände und große Augen; sein Vater ist bereits verstorben, jetzt lebt er mit seiner Mutter und seiner Schwester <i>Karin</i> allein und kümmert sich um den Hof; pflichtbewusst; spielt Gitarre und träumt von einer Karriere als Komponist; verliebt sich ebenfalls in <i>Tabea</i>; ist enttäuscht, als sie plötzlich einfach verschwindet, doch verzeiht ihr nach ihrer Rückkehr schnell. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des attraktiven Nachbarn ist																					</label>
																					<input type="text" value="Volker" 
                                name="vars-Held_VN" maxlength="30" id="vars-Held_VN" 
                                data-fieldname="Held_VN" 
                                data-default="Volker" 
                                class="field focuser default" />
							<span class="field_count">277x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des attraktiven Nachbarn ist																					</label>
																					<input type="text" value="Bach" 
                                name="vars-Held_NN" maxlength="30" id="vars-Held_NN" 
                                data-fieldname="Held_NN" 
                                data-default="Bach" 
                                class="field focuser default" />
							<span class="field_count">16x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe des attraktiven Nachbarn ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Held_Haar" maxlength="30" id="vars-Held_Haar" 
                                data-fieldname="Held_Haar" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des attraktiven Nachbarn ist																					</label>
																					<input type="text" value="blau" 
                                name="vars-Held_Augen" maxlength="30" id="vars-Held_Augen" 
                                data-fieldname="Held_Augen" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Großmutter der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Anna Lohmann</i>, <i>Tabea</i>s Großmutter; Tochter von <i>Wilhelm</i> und <i>Barbara</i>; im Jahr 2011 bereits eine alte Dame von siebzig Jahren, sehr herzlich, aber eher gesittet und bedacht; als junges Mädchen quirlig, temperamentvoll und lebensfroh; hat eine Schwester (namenlos) und zwei Brüder, <i>Johannes</i> und <i>Theodor</i>; hält <i>Tabea</i> in den Fünfzigern für ihre Cousine <i>Sophie</i> und freundet sich mit ihr an; ist selbst vier Mal in der Zeit gereist; erzählt <i>Tabea</i>, dass es möglich ist, dauerhaft in einer anderen Zeit zu leben, wenn man es wirklich will. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Großmutter ist																					</label>
																					<input type="text" value="Anna" 
                                name="vars-Oma_VN" maxlength="30" id="vars-Oma_VN" 
                                data-fieldname="Oma_VN" 
                                data-default="Anna" 
                                class="field focuser default" />
							<span class="field_count">198x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Großmutter ist																					</label>
																					<input type="text" value="Lohmann" 
                                name="vars-Oma_NN" maxlength="30" id="vars-Oma_NN" 
                                data-fieldname="Oma_NN" 
                                data-default="Lohmann" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Großvater der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Stefan</i>, <i>Tabea</i>s Großvater; <i>Anna</i>s Ehemann; ein Freund von <i>Volker</i>; lernt <i>Anna</i> 1955 auf einem Scheunenfest kennen; taucht nur am Ende des Romans kurz auf. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Großvaters ist																					</label>
																					<input type="text" value="Stefan" 
                                name="vars-Opa_VN" maxlength="30" id="vars-Opa_VN" 
                                data-fieldname="Opa_VN" 
                                data-default="Stefan" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Urgroßvater der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Wilhelm</i>, <i>Tabea</i>s Urgroßvater; <i>Barbara</i>s Mann; Vater von <i>Anna</i>, <i>Johannes</i> und <i>Theodor</i>; war im Krieg; ein wenig verbittert, aber herzensgut; die Familie lebt vom Getreide- und Gemüseanbau. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Urgroßvaters ist																					</label>
																					<input type="text" value="Wilhelm" 
                                name="vars-Uropa_VN" maxlength="30" id="vars-Uropa_VN" 
                                data-fieldname="Uropa_VN" 
                                data-default="Wilhelm" 
                                class="field focuser default" />
							<span class="field_count">27x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Urgroßmutter der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Barbara</i>, <i>Tabea</i>s Urgroßmutter; <i>Wilhelm</i>s Frau; Mutter von <i>Anna</i>, <i>Johannes</i> und <i>Theodor</i>; gute Seele, die <i>Tabea</i> das Handarbeiten beibringt. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Urgroßmutter ist																					</label>
																					<input type="text" value="Barbara" 
                                name="vars-Uroma_VN" maxlength="30" id="vars-Uroma_VN" 
                                data-fieldname="Uroma_VN" 
                                data-default="Barbara" 
                                class="field focuser default" />
							<span class="field_count">39x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Älterer Großonkel der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Johannes</i>, <i>Tabea</i>s Großonkel; ältester Sohn von <i>Wilhelm</i> und <i>Barbara</i>; Bruder von <i>Anna</i> und <i>Theodor</i>; schüchtern; kein guter Tänzer; heiratet erst spät. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des älteren Großonkels ist																					</label>
																					<input type="text" value="Johannes" 
                                name="vars-Großonkel1_VN" maxlength="30" id="vars-Großonkel1_VN" 
                                data-fieldname="Großonkel1_VN" 
                                data-default="Johannes" 
                                class="field focuser default" />
							<span class="field_count">17x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Jüngerer Großonkel der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Theodor</i>, <i>Tabea</i>s Großonkel; jüngerer Sohn von <i>Wilhelm</i> und <i>Barbara</i>; Bruder von <i>Anna</i> und <i>Johannes</i>; lebhaft; gut aussehend; verliert seine große Liebe 1959 bei einem Unfall (wird aber nicht näher darauf eingegangen). </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des jüngeren Großonkels ist																					</label>
																					<input type="text" value="Theodor" 
                                name="vars-Großonkel2_VN" maxlength="30" id="vars-Großonkel2_VN" 
                                data-fieldname="Großonkel2_VN" 
                                data-default="Theodor" 
                                class="field focuser default" />
							<span class="field_count">18x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Beste Freundin der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Ella</i>, <i>Tabea</i>s beste Freundin in der Gegenwart; schriller Klamottenstil, Mischung aus Hippie und Gothic; selbstbewusst, flippig; hält <i>Tabea</i> zunächst für verrückt, als die ihr von der Zeitreise erzählt; glaubt ihr dann und ist sehr traurig, dass sie geht. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der besten Freundin ist																					</label>
																					<input type="text" value="Ella" 
                                name="vars-BesteFreundin_VN" maxlength="30" id="vars-BesteFreundin_VN" 
                                data-fieldname="BesteFreundin_VN" 
                                data-default="Ella" 
                                class="field focuser default" />
							<span class="field_count">45x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Freund der besten Freundin der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Uwe</i>, <i>Ella</i>s Freund; schriller Typ; außergewöhnlicher Kleidungsstil; wird nur erwähnt. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Freunds der besten Freundin ist																					</label>
																					<input type="text" value="Uwe" 
                                name="vars-Freund_VN" maxlength="30" id="vars-Freund_VN" 
                                data-fieldname="Freund_VN" 
                                data-default="Uwe" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Eine Freundin der Oma der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Cornelia</i>, eine Freundin von <i>Anna</i> in den Fünfzigern. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der einen Freundin ist																					</label>
																					<input type="text" value="Cornelia" 
                                name="vars-Freundin1_VN" maxlength="30" id="vars-Freundin1_VN" 
                                data-fieldname="Freundin1_VN" 
                                data-default="Cornelia" 
                                class="field focuser default" />
							<span class="field_count">19x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weitere Freundin der Oma der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Edith</i>, eine Freundin von <i>Anna</i> in den Fünfzigern; zierlich und sehr hübsch; verliebt in <i>Volker</i>, doch er hat kein Interesse an ihr. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der anderen Freundin ist																					</label>
																					<input type="text" value="Edith" 
                                name="vars-Freundin2_VN" maxlength="30" id="vars-Freundin2_VN" 
                                data-fieldname="Freundin2_VN" 
                                data-default="Edith" 
                                class="field focuser default" />
							<span class="field_count">43x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Schwester der großen Liebe der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Karin</i>, Volkers Schwester; in <i>Tabea</i>s Alter; kleine Rolle. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Nachbarstochter ist																					</label>
																					<input type="text" value="Karin" 
                                name="vars-Schwester_VN" maxlength="30" id="vars-Schwester_VN" 
                                data-fieldname="Schwester_VN" 
                                data-default="Karin" 
                                class="field focuser default" />
							<span class="field_count">20x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Jugendliebe der Oma der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Gabriel</i> zu <i>Bernadotte</i>, <i>Anna</i>s erste große Liebe; sein Vater ist Baron; spielt Bass; wird später Arzt und hat mehrere Kinder; verlässt <i>Anna</i>, um eine andere wegen ihres Geldes zu heiraten; wird nur erwähnt. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Jugendliebe ist																					</label>
																					<input type="text" value="Gabriel" 
                                name="vars-GroßeLiebe_VN" maxlength="30" id="vars-GroßeLiebe_VN" 
                                data-fieldname="GroßeLiebe_VN" 
                                data-default="Gabriel" 
                                class="field focuser default" />
							<span class="field_count">10x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Jugendliebe ist																					</label>
																					<input type="text" value="Bernadotte" 
                                name="vars-GroßeLiebe_NN" maxlength="30" id="vars-GroßeLiebe_NN" 
                                data-fieldname="GroßeLiebe_NN" 
                                data-default="Bernadotte" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			<span class='default Heldin_VN1'>Tabea</span> <span class='default Heldin_NN1'>Kaiser</span> hat ein ganz besonderes Faible für die Fünfzigerjahre. Am liebsten schlendert sie mit ihrer besten Freundin <span class='default BesteFreundin_VN'>Ella</span> und deren Freund <span class='default Freund_VN'>Uwe</span> über Flohmärkte und stöbert nach antiken Stücken. Eines Tages entdeckt sie auf dem Dachboden ihrer Großmutter <span class='default Oma_VN'>Anna</span> <span class='default Oma_NN'>Lohmann</span> einen Ring, der sie in das Jahr 1954 befördert. Als <span class='default Heldin_VN2'>Sophie</span> <span class='default Heldin_NN2'>Torgau</span> lebt sie fortan in der Familie ihrer Oma, bei ihrem Urgroßvater <span class='default Uropa_VN'>Wilhelm</span>, ihrer Urgroßmutter <span class='default Uroma_VN'>Barbara</span> und ihren beiden Großonkel <span class='default Großonkel1_VN'></span> und <span class='default Großonkel2_VN'></span>. Gemeinsam mit <span class='default Oma_VN'>Anna</span>, deren Freundinnen <span class='default Freundin1_VN'>Cornelia</span> und <span class='default Freundin2_VN'>Edith</span> und der Nachbarstochter <span class='default Schwester_VN'>Karin</span> vergnügt sich <span class='default Heldin_VN2'>Sophie</span> alias <span class='default Heldin_VN1'>Tabea</span> auf so manchem geheimen Scheunenfest. <span class='default Oma_VN'>Anna</span>, zunächst noch unglücklich verliebt in <span class='default GroßeLiebe_VN'></span> zu <span class='default GroßeLiebe_NN'></span>, lernt auf einem dieser Feste ihren zukünftigen Mann <span class='default Opa_VN'>Stefan</span> kennen. Auch <span class='default Heldin_VN1'>Tabea</span> begegnet dort als <span class='default Heldin_VN2'>Sophie</span> ihrer großen Liebe, dem attraktiven <span class='default Held_VN'>Volker</span> <span class='default Held_NN'>Bach</span>, dessen <span class='default Held_Haar'>braun</span>es Haar und wunderschöne <span class='default Held_Augen'>blau</span>e Augen es ihr sofort angetan haben. Auch sie betört ihn mit ihrem <span class='default Heldin_Haar'>schwarz</span>en Haar, den <span class='default Heldin_Augen'>grÃ¼n</span>en Augen und dem Duft nach <span class='default Heldin_Duft'>Chanel No. 5</span>. Doch gibt es für sie eine gemeinsame Zukunft?		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

