<?php $expire = 1394175540; /* http://web.personalnovel.local/customize/book/636.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href="http://hochzeit.personalnovel.de/"></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
		<span class="green cartsum" cartsum="49.90">
		49,90</span> 
		<span class="green">EUR </span> <br />inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
    	    	     <a class="cart-link" href="http://web.personalnovel.local/checkout?order=2019807&step=Warenkorb"><img src="tl_files/personalnovel_de/cart.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:1000"></a>
	            
    <div id="cart-detail">
    
        
            <strong>1x 
        Das Haus am Dorfrand                </strong>
        <span class="green">24,95 EUR</span><br/>
            <strong>1x 
        Das Haus am Dorfrand                </strong>
        <span class="green">24,95 EUR</span><br/>
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=636">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Das Haus am Dorfrand" src="/tl_files/thumbnail-book/das-haus-am-dorfrand-636-detail.png">
				<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Das Haus am Dorfrand“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
												<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-636" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    <div class="formitem">
	    
                <div class="name" style="margin-bottom:5px">Bitte wählen Sie die Ausprägung der Liebesszenen</div>
                
                
                
        <div>
        <input style="width:auto;height:auto" type="radio" 
                    name="document" value="316" 
                    id="radio-316"
                    checked=checked />
                    
                <label for="radio-316">Lässig &ndash; Die Szenen werden wortgewandt umschrieben.</label>
                </div>
                
                
        <div>
        <input style="width:auto;height:auto" type="radio" 
                    name="document" value="317" 
                    id="radio-317"
                     />
                    
                <label for="radio-317">Rassig &ndash; Zum Teil explizite Darstellungen.</label>
                </div>
                
        </div>
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Männliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Oscar Margreiter</i>, diplomierter Wirtschaftswissenschaftler, knapp 30 Jahre alt; kehrt nach vielen Jahren, die er u.a. in Antwerpen verbracht hat, zurück in sein Dorf in den österreichischen Alpen, wo er den elterlichen Betrieb übernehmen soll; hat ein schwieriges Verhältnis zu seinen Eltern; hatte als Jugendlicher eine kurze Liebesaffäre mit <i>Julia</i>; sein Vater schickte ihn weg, als er davon erfuhr, da er glaubt, dass <i>Julia</i> und <i>Oskar</i> Halbgeschwister sind; nach seiner Rückkehr verlieben <i>Oskar</i> und <i>Julia</i> sich erneut stürmisch (zahlreiche sexuelle Andeutungen und viel erotische Spannung!); als <i>Jakob Flussinger</i> im Dorf erzählt, dass <i>Oscar</i> und <i>Julia</i> Geschwister sind und <i>Oscar</i>s Vater das bestätigt, geht <i>Oscar</i> zurück nach Antwerpen und versucht, <i>Julia</i> zu vergessen.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Helden ist																					</label>
																					<input type="text" value="Oscar" 
                                name="vars-Sein_Vorname" maxlength="30" id="vars-Sein_Vorname" 
                                data-fieldname="Sein_Vorname" 
                                data-default="Oscar" 
                                class="field focuser default" />
							<span class="field_count">887x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Helden ist																					</label>
																					<input type="text" value="Margreiter" 
                                name="vars-Sein_Nachname" maxlength="30" id="vars-Sein_Nachname" 
                                data-fieldname="Sein_Nachname" 
                                data-default="Margreiter" 
                                class="field focuser default" />
							<span class="field_count">83x</span>
						</div>
											<div class="field">
							<label>
							die Haarfarbe des Helden ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Seine_Haare" maxlength="30" id="vars-Seine_Haare" 
                                data-fieldname="Seine_Haare" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des Helden ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Seine_Augen" maxlength="30" id="vars-Seine_Augen" 
                                data-fieldname="Seine_Augen" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Das After Shave des Helden heißt																					</label>
																					<input type="text" value="Cool Water" 
                                name="vars-Sein_Duft" maxlength="30" id="vars-Sein_Duft" 
                                data-fieldname="Sein_Duft" 
                                data-default="Cool Water" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Der Hund des Helden heißt																					</label>
																					<input type="text" value="Herkules" 
                                name="vars-Sein_Hund" maxlength="30" id="vars-Sein_Hund" 
                                data-fieldname="Sein_Hund" 
                                data-default="Herkules" 
                                class="field focuser default" />
							<span class="field_count">22x</span>
						</div>
											<div class="field">
							<label>
							Der Held fährt ein Auto der Marke																					</label>
																					<input type="text" value="BMW" 
                                name="vars-Sein_Auto" maxlength="30" id="vars-Sein_Auto" 
                                data-fieldname="Sein_Auto" 
                                data-default="BMW" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Die Lieblingsfarbe des Helden ist																					</label>
																					<input type="text" value="blau" 
                                name="vars-Seine_Farbe" maxlength="30" id="vars-Seine_Farbe" 
                                data-fieldname="Seine_Farbe" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Der Kosename für den Helden lautet																					</label>
																					<input type="text" value="Schatz" 
                                name="vars-Sein_Kose" maxlength="30" id="vars-Sein_Kose" 
                                data-fieldname="Sein_Kose" 
                                data-default="Schatz" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weibliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Julia Zimbal</i>; war einst eine stürmische Jugendliebe <i>Oscar</i>s; lange Haare; schmale, feste Brüste; volle, sinnliche Lippen; litt in ihrer Jugend unter den Beschimpfungen als "Zigeunertochter"; selbstbewusste Frau; wird von <i>Jakob Flussinger</i> bedrängt, der sie begehrt und versucht, sie zu vergewaltigen, kann ihm aber entkommen; liebt <i>Oscar</i>; ein Brief ihrer Mutter löst das Geheimnis auf, sodass <i>Julia</i> am Schluss mit <i>Oscar</i> glücklich werden kann - Hochzeit und drei Kinder folgen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Heldin ist																					</label>
																					<input type="text" value="Julia" 
                                name="vars-Ihr_Vorname" maxlength="30" id="vars-Ihr_Vorname" 
                                data-fieldname="Ihr_Vorname" 
                                data-default="Julia" 
                                class="field focuser default" />
							<span class="field_count">770x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Heldin ist																					</label>
																					<input type="text" value="Zimbal" 
                                name="vars-Ihr_Nachname" maxlength="30" id="vars-Ihr_Nachname" 
                                data-fieldname="Ihr_Nachname" 
                                data-default="Zimbal" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
											<div class="field">
							<label>
							Der Kosename für die Heldin lautet																					</label>
																					<input type="text" value="Baby" 
                                name="vars-Ihr_Kose" maxlength="30" id="vars-Ihr_Kose" 
                                data-fieldname="Ihr_Kose" 
                                data-default="Baby" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Heldin ist																					</label>
																					<input type="text" value="blond" 
                                name="vars-Ihre_Haare" maxlength="30" id="vars-Ihre_Haare" 
                                data-fieldname="Ihre_Haare" 
                                data-default="blond" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Heldin ist																					</label>
																					<input type="text" value="blau" 
                                name="vars-Ihre_Augen" maxlength="30" id="vars-Ihre_Augen" 
                                data-fieldname="Ihre_Augen" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Das Parfüm der Heldin heißt																					</label>
																					<input type="text" value="Joop" 
                                name="vars-Ihr_Duft" maxlength="30" id="vars-Ihr_Duft" 
                                data-fieldname="Ihr_Duft" 
                                data-default="Joop" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Die Lieblingsfarbe der Heldin ist																					</label>
																					<input type="text" value="rot" 
                                name="vars-Ihre_Farbe" maxlength="30" id="vars-Ihre_Farbe" 
                                data-fieldname="Ihre_Farbe" 
                                data-default="rot" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Vater der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Heinrich Margreiter</i>, Vater von <i>Oscar</i>; bulliger und herrschsüchtiger Sägewerksbesitzer; er hat kein besonders gutes Verhältnis zu seinem Sohn; hatte vor vielen Jahren ein kurzes Verhältnis mit <i>Julia</i>s Mutter, die ihn dann in dem Glauben ließ, <i>Julia</i> sei seine Tochter; seine Frau und seine Mutter wissen davon; versöhnt sich am Schluss mit <i>Oscar</i> und <i>Julia</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Vater des Helden ist																					</label>
																					<input type="text" value="Heinrich" 
                                name="vars-Vater" maxlength="30" id="vars-Vater" 
                                data-fieldname="Vater" 
                                data-default="Heinrich" 
                                class="field focuser default" />
							<span class="field_count">29x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mutter der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Katharina Margreiter</i>, <i>Oscar</i>s Mutter; liebe, aber stets vor sich hinleidende Frau; graue Haare; schön und gepflegt; ursprünglich aus Norddeutschland; weiß von der Affäre ihres Mannes und dass <i>Julia Oscar</i>s Schwester ist, aber schweigt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Mutter des Helden ist																					</label>
																					<input type="text" value="Katharina" 
                                name="vars-Mutter" maxlength="30" id="vars-Mutter" 
                                data-fieldname="Mutter" 
                                data-default="Katharina" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Großmutter der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Emma Margreiter</i>, <i>Oscar</i>s Großmutter; leidenschaftliche Bridgespielerin; <i>Oscar</i> wohnt bei ihr, da er mit seinen Eltern zerstritten ist; auch sie kennt das Geheimnis, aber schweigt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Großmutter des Helden ist																					</label>
																					<input type="text" value="Emma" 
                                name="vars-Grossmutter" maxlength="30" id="vars-Grossmutter" 
                                data-fieldname="Grossmutter" 
                                data-default="Emma" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Bruder der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>August Margreiter</i>, <i>Oscar</i>s Bruder; geht wegen seiner Freundin nach Amerika; er spielt nur eine kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Bruders des Helden ist																					</label>
																					<input type="text" value="August" 
                                name="vars-Bruder" maxlength="30" id="vars-Bruder" 
                                data-fieldname="Bruder" 
                                data-default="August" 
                                class="field focuser default" />
							<span class="field_count">19x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Freundin des Bruders der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Patsy</i>, <i>August</i>s Freundin; Amerikanerin aus Colorado (sehr kleine Rolle).</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Die amerikanische Freundin des Bruders des Helden heißt																					</label>
																					<input type="text" value="Patsy" 
                                name="vars-BruderFreundin_VN" maxlength="30" id="vars-BruderFreundin_VN" 
                                data-fieldname="BruderFreundin_VN" 
                                data-default="Patsy" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Bösartiger Knecht</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Jakob Flussinger</i>, bösartiger Knecht und Holzarbeiter im Sägewerk; kennt das Geheimnis und erpresst <i>Heinrich</i> Margreiter damit; hat es auf <i>Julia</i> abgesehen, die ihn aber abweist; versucht sie zu vergewaltigen, sie entkommt; prügelt sich einmal heftig mit <i>Oscar</i>, der ihn daraufhin entlässt; erzählt Gerücht über <i>Oscar</i> und <i>Julia</i> im Dorf herum; stürzt am Ende in den Fluss und stirbt (es bleibt ungeklärt, ob Unfall oder Selbstmord).
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des bösen Knechts ist																					</label>
																					<input type="text" value="Jakob" 
                                name="vars-Vor_Knecht" maxlength="30" id="vars-Vor_Knecht" 
                                data-fieldname="Vor_Knecht" 
                                data-default="Jakob" 
                                class="field focuser default" />
							<span class="field_count">40x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des bösen Knechts ist																					</label>
																					<input type="text" value="Flussinger" 
                                name="vars-Nach_Knecht" maxlength="30" id="vars-Nach_Knecht" 
                                data-fieldname="Nach_Knecht" 
                                data-default="Flussinger" 
                                class="field focuser default" />
							<span class="field_count">75x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Engster Freund der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Leonhard Wasner</i>, erst Forstverwalter, später Geschäftsführer des Sägewerks; ein hoch gewachsener, verlässlicher Mann, dem <i>Oscar</i> sofort vertraut und der sein engster Freund wird; hat einen Sohn, <i>Max</i>; ist mit <i>Lisa</i> zusammen, sie heiraten und bekommen zwei Kinder.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Geschäftsführers ist																					</label>
																					<input type="text" value="Leonhard" 
                                name="vars-Vor_GF" maxlength="30" id="vars-Vor_GF" 
                                data-fieldname="Vor_GF" 
                                data-default="Leonhard" 
                                class="field focuser default" />
							<span class="field_count">127x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Geschäftsführers ist																					</label>
																					<input type="text" value="Wasner" 
                                name="vars-Nach_GF" maxlength="30" id="vars-Nach_GF" 
                                data-fieldname="Nach_GF" 
                                data-default="Wasner" 
                                class="field focuser default" />
							<span class="field_count">69x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Sohn des engsten Freundes</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Max</i>, <i>Leonhard</i>s neunjähriger Sohn; blond; ein aufgewecktes Bürschchen, das gelegentlich auch bei <i>Julia</i> im Haus am Dorfrand übernachten darf.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Sohns des Geschäftsführers des																					</label>
																					<input type="text" value="Max" 
                                name="vars-Sohn" maxlength="30" id="vars-Sohn" 
                                data-fieldname="Sohn" 
                                data-default="Max" 
                                class="field focuser default" />
							<span class="field_count">21x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Sekretärin</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Lisa Bimmer</i>, die neue und sehr tüchtige Sekretärin; kommt mit <i>Leonhard Wasner</i> zusammen; sie heiraten und bekommen 2 Kinder. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Sekretärin ist																					</label>
																					<input type="text" value="Lisa" 
                                name="vars-Vor_Sekretaerin" maxlength="30" id="vars-Vor_Sekretaerin" 
                                data-fieldname="Vor_Sekretaerin" 
                                data-default="Lisa" 
                                class="field focuser default" />
							<span class="field_count">59x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Sekretärin ist																					</label>
																					<input type="text" value="Bimmer" 
                                name="vars-Nach_Sekretaerin" maxlength="30" id="vars-Nach_Sekretaerin" 
                                data-fieldname="Nach_Sekretaerin" 
                                data-default="Bimmer" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mutter der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Martha Zimbal</i>; <i>Julia</i>s verstorbene Mutter; stammt aus Ungarn; kam nach dem Krieg in das kleine Dorf in den Bergen; lange gelingt es ihr aus Rache, dem alten <i>Margreiter</i>, der ihr und der kleinen <i>Julia </i> das Leben im Dorf zur Hölle machte, Geld für seine vermeintliche Tochter zu entlocken; von ihr wird nur gesprochen.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Mutter der Heldin ist																					</label>
																					<input type="text" value="Martha" 
                                name="vars-MutterHeldin_VN" maxlength="30" id="vars-MutterHeldin_VN" 
                                data-fieldname="MutterHeldin_VN" 
                                data-default="Martha" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Vater der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Joel Tanneau</i>, ein französischer Soldat, der nach dem Krieg ins Dorf kam; hatte eine Liebesaffäre mit <i>Martha Zimbal</i>, ging dann aber zurück nach Frankreich; <i>Julia</i>s leiblicher Vater; taucht nur am Ende des Buchs auf.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Vaters der Heldin ist																					</label>
																					<input type="text" value="Joel" 
                                name="vars-VaterHeldin_VN" maxlength="30" id="vars-VaterHeldin_VN" 
                                data-fieldname="VaterHeldin_VN" 
                                data-default="Joel" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Vaters der Heldin ist																					</label>
																					<input type="text" value="Tanneau" 
                                name="vars-VaterHeldin_NN" maxlength="30" id="vars-VaterHeldin_NN" 
                                data-fieldname="VaterHeldin_NN" 
                                data-default="Tanneau" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ex-Freundin der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Kelly van Lent</i>, eine wunderschöne Flämin und <i>Oscar</i>s Exfreundin; schwarze Haare;  spricht gebrochenes Deutsch; <i>Oscar</i> und sie trennen sich einvernehmlich und freundschaftlich; zunächst gibt es aber noch Verwicklungen, da <i>Oscar</i>s Eltern sie anrufen und bitten zu kommen; sie taucht überraschend auf dem Jägerball auf; sie und <i>Oscar</i> bleiben Freunde und sie freundet sich mit <i>Julia</i> an.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Ex-Freundin des Helden ist																					</label>
																					<input type="text" value="Kelly" 
                                name="vars-Vor_Ex" maxlength="30" id="vars-Vor_Ex" 
                                data-fieldname="Vor_Ex" 
                                data-default="Kelly" 
                                class="field focuser default" />
							<span class="field_count">126x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Ex-Freundin des Helden ist																					</label>
																					<input type="text" value="van Lent" 
                                name="vars-Nach_Ex" maxlength="30" id="vars-Nach_Ex" 
                                data-fieldname="Nach_Ex" 
                                data-default="van Lent" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Neuer Freund der Ex-Freundin der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Jean</i>; <i>Kellys</i> neuer Freund in Antwerpen. Sehr kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des neuen Freunds der Ex-Freundin des Helden ist																					</label>
																					<input type="text" value="Jean" 
                                name="vars-FreundEx_VN" maxlength="30" id="vars-FreundEx_VN" 
                                data-fieldname="FreundEx_VN" 
                                data-default="Jean" 
                                class="field focuser default" />
							<span class="field_count">28x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Rechtsanwalt</div>
				<div class="description" style="margin-top: 5px;display:none">Rechtsanwalt Dr. <i>Paschnowski</i>, Anwalt von <i>Julia</i>s Mutter; übergibt ihr den Brief, der die Wahrheit enthält.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Rechtsanwalts ist																					</label>
																					<input type="text" value="Paschnowsky" 
                                name="vars-Rechtsanwalt_NN" maxlength="30" id="vars-Rechtsanwalt_NN" 
                                data-fieldname="Rechtsanwalt_NN" 
                                data-default="Paschnowsky" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			<span class='default Ihr_Vorname'>Julia</span> <span class='default Ihr_Nachname'>Zimbal</span> hat <span class='default Ihre_Augen'>blau</span>e Augen, <span class='default Ihre_Haare'>blond</span>e Haare, liebt die Farbe <span class='default Ihre_Farbe'>rot</span> und trägt vornehmlich <span class='default Ihr_Duft'>Joop</span>. <span class='default Sein_Vorname'>Oscar</span> <span class='default Sein_Nachname'>Margreiter</span> hat <span class='default Seine_Augen'>braun</span>e Augen, <span class='default Seine_Haare'>braun</span>e Haare, liebt die Farbe <span class='default Seine_Farbe'>blau</span> und duftet meistens nach <span class='default Sein_Duft'>Cool Water</span>. Er fährt einen <span class='default Sein_Auto'>BMW</span> und sein Hund heißt <span class='default Sein_Hund'>Herkules</span>. Seine Familie besteht aus den Eltern <span class='default Vater'>Heinrich</span> und <span class='default Mutter'>Katharina</span> sowie seinem Bruder <span class='default Bruder'>August</span>, dessen Freundin <span class='default BruderFreundin_VN'>Patsy</span> und der rührenden Großmutter <span class='default Grossmutter'>Emma</span>. Im Verlauf der Geschichte müssen sich <span class='default Sein_Vorname'>Oscar</span> und <span class='default Ihr_Vorname'>Julia</span> gegen den bösen Knecht <span class='default Vor_Knecht'>Jakob</span> <span class='default Nach_Knecht'>Flussinger</span> zur Wehr setzen, der behauptet dass <span class='default Ihr_Vorname'>Julia</span>s Mutter, <span class='default MutterHeldin_VN'>Martha</span> <span class='default Ihr_Nachname'>Zimbal</span>, eine Affäre mit <span class='default Sein_Vorname'>Oscar</span>s Vater hatte und der ihr Vater ist - in Wirklichkeit aber ist ihr Vater <span class='default VaterHeldin_VN'>Joel</span> <span class='default VaterHeldin_NN'>Tanneau</span>. Dank der Freundschaft des neuen Geschäftsführers <span class='default Vor_GF'>Leonhard</span> <span class='default Nach_GF'>Wasner</span> und seines Sohnes <span class='default Sohn'>Max</span> und der Hilfe der Sekretärin <span class='default Vor_Sekretaerin'>Lisa</span> <span class='default Nach_Sekretaerin'>Bimmer</span> und des Rechtsanwalts <span class='default Rechtsanwalt_NN'>Paschnowsky</span> können sie jedoch alle Hindernisse überwinden.. <span class='default Vor_Ex'>Kelly</span> <span class='default Nach_Ex'>van Lent</span>, <span class='default Sein_Vorname'>Oscar</span>s Ex-Freundin, gibt ihn in aller Freundschaft frei, da sie selbst schon mit <span class='default FreundEx_VN'>Jean</span> glücklich ist. Dennoch liegen viele Steine auf ihrem Weg, bevor die Verliebten zueinander finden und einander zärtlich <span class='default Ihr_Kose'>Baby</span> und <span class='default Sein_Kose'>Schatz</span> nennen können.		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

