<?php $expire = 1405659971; /* http://web.personalnovel.local/customize/book/660.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=660">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Bonny Ann" src="/tl_files/thumbnail-book/bonny-ann-660-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Bonny Ann“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-660" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Hofdame</div>
				<div class="description" style="margin-top: 5px;display:none">Lady<em> Viola Darling</em>, eine Hofdame der Königin, unverheiratet, lebhaft und abenteuerlustig, schätzt das Theater und ihre Unabhängigkeit; liebt die Feste am Hof und schöne Kleider, ist neugierig und impulsiv, tanzt gerne, agiert in der Welt jenseits des Hofes jedoch bisweilen etwas naiv. Für ihre Familie geht sie auch Risiken ein und will ihrer Schwester <em>Bianca</em> helfen, endlich ihren Verlobten <em>Benjamin</em> heiraten zu können; doch dieser steckt in Spielerschwierigkeiten, weswegen sich <em>Viola</em> mit <em>Phinneas Augustus</em> Herzog von <em>Sinclair </em>anlegt und bald hinter dessen eigenes Geheimnis kommt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Hofdame lautet																					</label>
																					<input type="text" value="Viola" 
                                name="vars-Lady_VN" maxlength="30" id="vars-Lady_VN" 
                                data-fieldname="Lady_VN" 
                                data-default="Viola" 
                                class="field focuser default" />
							<span class="field_count">774x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Hofdame lautet																					</label>
																					<input type="text" value="Darling" 
                                name="vars-Lady_NN" maxlength="30" id="vars-Lady_NN" 
                                data-fieldname="Lady_NN" 
                                data-default="Darling" 
                                class="field focuser default" />
							<span class="field_count">19x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Hofdame ist																					</label>
																					<input type="text" value="grün" 
                                name="vars-Lady_Augen" maxlength="30" id="vars-Lady_Augen" 
                                data-fieldname="Lady_Augen" 
                                data-default="grün" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Hofdame ist																					</label>
																					<input type="text" value="kastanienbraun" 
                                name="vars-Lady_Haar" maxlength="30" id="vars-Lady_Haar" 
                                data-fieldname="Lady_Haar" 
                                data-default="kastanienbraun" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Dienerin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Anne Henslowe</em>, etwas jünger als <em>Viola</em>, fröhliche, unbeschwerte junge Frau, älteste Tochter des Theaterbesitzers <em>George Henslowe</em>, praktisch und unabhängig; hilft Lady <em>Viola</em> nach einem Überfall und wird deren Näherin; liebt ihre große Familie und ist froh, am Hof eine Anstellung zu bekommen, um deren knappe Finanzen aufzubessern. Sie findet in Lady<em> Viola</em>s Zofe<em> Kat </em>die erste Feindin am Hof und wird auch von den Pagen ihrer einfachen Herkunft wegen belächelt. Mit ihrer Bodenständigkeit und ihrem Pragmatismus ergänzt sie sich gut mit <em>Viola</em>. Sie wird in die Intrigen hineingezogen, indem sie von <em>Phinneas Augustus </em>zum Diebstahl angestiftet wird, findet dabei jedoch die Beweise für die Verschwörung und wird so zur Schlüsselfigur bei der Aufklärung des Komplotts. <em>Anne </em>wird <em>Violas</em> Vertraute und Freundin.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Dienerin lautet																					</label>
																					<input type="text" value="Anne" 
                                name="vars-Dienerin_VN" maxlength="30" id="vars-Dienerin_VN" 
                                data-fieldname="Dienerin_VN" 
                                data-default="Anne" 
                                class="field focuser default" />
							<span class="field_count">590x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Dienerin lautet																					</label>
																					<input type="text" value="Henslowe" 
                                name="vars-Dienerin_NN" maxlength="30" id="vars-Dienerin_NN" 
                                data-fieldname="Dienerin_NN" 
                                data-default="Henslowe" 
                                class="field focuser default" />
							<span class="field_count">16x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Dienerin ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Dienerin_Augen" maxlength="30" id="vars-Dienerin_Augen" 
                                data-fieldname="Dienerin_Augen" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Dienerin ist																					</label>
																					<input type="text" value="schwarz" 
                                name="vars-Dienerin_Haar" maxlength="30" id="vars-Dienerin_Haar" 
                                data-fieldname="Dienerin_Haar" 
                                data-default="schwarz" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Herzog</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Phinneas Augustus</em> Herzog von <em>Sinclair</em>, ist einer der Günstlinge der Königin, beeindruckt durch seine gutaussehende Erscheinung und seinen scharfen Verstand, allerdings auch ein Lebemann mit vielfältigen Interessen, wie dem Glücksspiel, Frauen und vor allem dem Theater. Anonym schreibt er &nbsp;Theaterstücke, die er von <em>Edmund Henslowe</em>, <em>Anne</em>s ältestem Bruder, aufführen lässt. Doch er ist auch in zwielichtige Geschäfte mit den Franzosen verwickelt und kann am Ende nur mit Mühe seinen Kopf aus der Schlinge ziehen. <em>Viola </em>und er lernen sich widerwillig zu schätzen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Herzogs lautet																					</label>
																					<input type="text" value="Phinneas Augustus" 
                                name="vars-Herzog_VN" maxlength="30" id="vars-Herzog_VN" 
                                data-fieldname="Herzog_VN" 
                                data-default="Phinneas Augustus" 
                                class="field focuser default" />
							<span class="field_count">120x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Herzogs lautet																					</label>
																					<input type="text" value="Sinclair" 
                                name="vars-Herzog_NN" maxlength="30" id="vars-Herzog_NN" 
                                data-fieldname="Herzog_NN" 
                                data-default="Sinclair" 
                                class="field focuser default" />
							<span class="field_count">35x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Schwester der Hofdame</div>
				<div class="description" style="margin-top: 5px;display:none"> Lady <em>Bianca Darling</em>, <em>Viola</em>s ältere Schwester, lebt mit <em>Viola </em>am Hof, seht sich aber nach der Ruhe des Landlebens; die Intrigen am Hof der Königin misbilligt sie. Sie liebt ihren Verlobten sehr und macht sich große Sorgen, als dieser aufgrund seiner Schwierigkeiten unzugänglich reagiert. Ansonsten ist sie unbeschwert und liebenswürdig, eine talentierte Laute-Spielerin, und wird von ihrer Schwester <em>Viola</em> beschützt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Schwester lautet																					</label>
																					<input type="text" value="Bianca" 
                                name="vars-Schwester_VN" maxlength="30" id="vars-Schwester_VN" 
                                data-fieldname="Schwester_VN" 
                                data-default="Bianca" 
                                class="field focuser default" />
							<span class="field_count">137x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Verlobte der Schwester</div>
				<div class="description" style="margin-top: 5px;display:none"> Sir <em>Benjamin Shelley</em>, <em>Viola</em>s zukünftiger Schwager; hat Probleme mit dem Glücksspiel und ist deshalb bei <em>Phinneas Augustus</em> verschuldet; soll für diesen eine kriminelle Handlung durchführen, um seine Schulden zu begleichen; eher naiv, liebt seine Braut <em>Bianca</em> von Herzen, überlässt aber der tatkräftigen <em>Viola</em> gerne die Lösung seines Problems.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Verlobten lautet																					</label>
																					<input type="text" value="Benjamin" 
                                name="vars-Verlobter_VN" maxlength="30" id="vars-Verlobter_VN" 
                                data-fieldname="Verlobter_VN" 
                                data-default="Benjamin" 
                                class="field focuser default" />
							<span class="field_count">114x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Verlobten lautet																					</label>
																					<input type="text" value="Shelley" 
                                name="vars-Verlobter_NN" maxlength="30" id="vars-Verlobter_NN" 
                                data-fieldname="Verlobter_NN" 
                                data-default="Shelley" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Kapitän</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Sean O’Rourke</em>, schottischer raubeiniger Kapitän und wüster Kumpan, verträgt eine Menge und ist auch rasch mit einer Rauferei zugegen; hat früher unter <em>Phinneas Augustus</em> gedient, ist ihm auch jetzt noch treu ergeben und hilft ihm bei seinen Schmuggelfahrten. Sein Schiff, die ‚Bonny Ann‘, ist in des Herzogs Besitz. Er ersticht einen französischen Spion, der mit <em>St. Merd</em> unter einer Decke steckte.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Kapitäns lautet																					</label>
																					<input type="text" value="Sean" 
                                name="vars-Kapitaen_VN" maxlength="30" id="vars-Kapitaen_VN" 
                                data-fieldname="Kapitaen_VN" 
                                data-default="Sean" 
                                class="field focuser default" />
							<span class="field_count">41x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Kapitäns lautet																					</label>
																					<input type="text" value="O'Rourke" 
                                name="vars-Kapitaen_NN" maxlength="30" id="vars-Kapitaen_NN" 
                                data-fieldname="Kapitaen_NN" 
                                data-default="O'Rourke" 
                                class="field focuser default" />
							<span class="field_count">22x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Marquis</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Jean-Etienne de St. Merd</em>, französischer, galanter Marquis, soll im Dienste des französischen Königs ein Spionagenetz in England aufbauen; darüber hinaus unterhält er Geschäftsbeziehungen zu <em>Phinneas Augustus</em> jenseits der Legalität. Um sich einen Platz am Hof zu sichern, will er den Herzog jedoch verraten. Seine Verschwörung wird mit <em>Anne</em>s Hilfe aufgedeckt. Er landet schließlich im Gefängnis.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Marquis lautet																					</label>
																					<input type="text" value="Jean-Etienne" 
                                name="vars-Marquis_VN" maxlength="30" id="vars-Marquis_VN" 
                                data-fieldname="Marquis_VN" 
                                data-default="Jean-Etienne" 
                                class="field focuser default" />
							<span class="field_count">37x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Marquis lautet																					</label>
																					<input type="text" value="St. Merd" 
                                name="vars-Marquis_NN" maxlength="30" id="vars-Marquis_NN" 
                                data-fieldname="Marquis_NN" 
                                data-default="St. Merd" 
                                class="field focuser default" />
							<span class="field_count">31x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der französische Gesandte</div>
				<div class="description" style="margin-top: 5px;display:none">Compte <i>Baptiste de Malipense,</i> Gesandter am englischen Hof, in dessen Arme sich <i>Bianca</i> flüchtet, als sie sich von <i>Benjamin</i> im Stich gelassen fühlt, bleibt ein Ein-Abend-Flirt. Er verdächtigt <i>James,</i> seinen Diener umgebracht zu haben. Deshalb misstrauen ihm <i>Viola</i> und <i>Anne.</i> Am Ende stellt sich jedoch heraus, dass er mit der Verschwörung nichts zu tun hat.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Gesandten lautet																					</label>
																					<input type="text" value="Baptiste" 
                                name="vars-Compte_VN" maxlength="30" id="vars-Compte_VN" 
                                data-fieldname="Compte_VN" 
                                data-default="Baptiste" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des französischen Gesandten ist																					</label>
																					<input type="text" value="de Malipense" 
                                name="vars-Compte_NN" maxlength="30" id="vars-Compte_NN" 
                                data-fieldname="Compte_NN" 
                                data-default="de Malipense" 
                                class="field focuser default" />
							<span class="field_count">20x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Kutscher</div>
				<div class="description" style="margin-top: 5px;display:none"><em>James</em>, <em>Viola</em>s Kutscher, kräftiger Mann und <em>Viola</em>s Familie seit langer Zeit treu ergeben. Er ist <em>Viola</em> ein ständiger Beschützer und Begleiter. <em>Anne </em>gegenüber verhält er sich erst misstrauisch, als er jedoch merkt, dass sie ihrer Herrin treu dient, hält er auch über <em>Anne </em>seine schützende Hand. Später wird er von den Männern des Marquis schwer verletzt, als er <em>Anne </em>bewachen soll.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Kutschers ist																					</label>
																					<input type="text" value="James" 
                                name="vars-Kutscher_VN" maxlength="30" id="vars-Kutscher_VN" 
                                data-fieldname="Kutscher_VN" 
                                data-default="James" 
                                class="field focuser default" />
							<span class="field_count">106x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Zofe der Hofdame</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Kat</em>, <em>Viola</em>s Zofe, hübsches aber mürrisches Mädchen mit hervorragendem Modegeschmack. Sie ist eifersüchtig auf <em>Anne </em>und versucht, ständig, sie wieder loszuwerden. Sie freut sich, dass <em>Anne</em> als Diebin verhaftet werden soll.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Zofe lautet																					</label>
																					<input type="text" value="Kat" 
                                name="vars-Zofe_VN" maxlength="30" id="vars-Zofe_VN" 
                                data-fieldname="Zofe_VN" 
                                data-default="Kat" 
                                class="field focuser default" />
							<span class="field_count">101x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Page</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Cecil Montgomery</em>, Page und Diener des Herzogs von <em>Sinclair</em>; stiller junger Mann und der Einzige, der zu<em> Anne</em> nett ist; die beiden verlieben sich ein bisschen ineinander.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Pagen lautet																					</label>
																					<input type="text" value="Cecil" 
                                name="vars-Page_VN" maxlength="30" id="vars-Page_VN" 
                                data-fieldname="Page_VN" 
                                data-default="Cecil" 
                                class="field focuser default" />
							<span class="field_count">52x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Pagen lautet																					</label>
																					<input type="text" value="Montgomery" 
                                name="vars-Page_NN" maxlength="30" id="vars-Page_NN" 
                                data-fieldname="Page_NN" 
                                data-default="Montgomery" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Vater der Dienerin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>George Henslowe</em>, <em>Anne</em>s Vater; bodenständig, leitet eine kleine Theatertruppe und steht in geschäftlicher Verbindung mit <em>Phinneas Augustus</em>, dessen Stücke er bisweilen aufführt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Vaters ist																					</label>
																					<input type="text" value="George" 
                                name="vars-Vater_VN" maxlength="30" id="vars-Vater_VN" 
                                data-fieldname="Vater_VN" 
                                data-default="George" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Vaters ist																					</label>
																					<input type="text" value="Henslowe" 
                                name="vars-Vater_NN" maxlength="30" id="vars-Vater_NN" 
                                data-fieldname="Vater_NN" 
                                data-default="Henslowe" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Mutter der Dienerin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Maureen Henslowe, Anne</em>s Mutter, näht die Kostüme für die Theatergruppe. Die Geldnot der Familie setzt ihr sehr zu, doch <em>Anne</em> steht sie immer mit gutem Rat und Trost zur Seite.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Mutter lautet																					</label>
																					<input type="text" value="Maureen" 
                                name="vars-Mutter_VN" maxlength="30" id="vars-Mutter_VN" 
                                data-fieldname="Mutter_VN" 
                                data-default="Maureen" 
                                class="field focuser default" />
							<span class="field_count">10x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Mutter lautet																					</label>
																					<input type="text" value="Henslowe" 
                                name="vars-Mutter_NN" maxlength="30" id="vars-Mutter_NN" 
                                data-fieldname="Mutter_NN" 
                                data-default="Henslowe" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der ältere Bruder der Dienerin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Edmund Henslowe, Anne</em>s älterer Bruder und Vertrauter, stattlicher Mann, weiht sie in alle geschäftlichen Dinge rund um die Theatertruppe ein. Er selbst arbeitet als Schauspieler und wird das Geschäft von seinem Vater übernehmen. Er ist verlobt, kann sich eine Heirat jedoch noch nicht leisten.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des älteren Bruders ist																					</label>
																					<input type="text" value="Edmund" 
                                name="vars-Schauspieler_VN" maxlength="30" id="vars-Schauspieler_VN" 
                                data-fieldname="Schauspieler_VN" 
                                data-default="Edmund" 
                                class="field focuser default" />
							<span class="field_count">68x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des älteren Bruders ist																					</label>
																					<input type="text" value="Henslowe" 
                                name="vars-Schauspieler_NN" maxlength="30" id="vars-Schauspieler_NN" 
                                data-fieldname="Schauspieler_NN" 
                                data-default="Henslowe" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der jüngere Bruder der Dienerin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Michael Henslowe, Anne</em>s jüngerer, aber um einen Kopf größerer Bruder, hat auf der ‚Bonny Ann‘, dem Schiff von <em>Sean O’Rourke</em> angeheuert. Er hilft am Ende dem Herzog mit einer kleinen Lüge gegen den französischen Marquis.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des jüngeren Bruders ist																					</label>
																					<input type="text" value="Michael" 
                                name="vars-Matrose_VN" maxlength="30" id="vars-Matrose_VN" 
                                data-fieldname="Matrose_VN" 
                                data-default="Michael" 
                                class="field focuser default" />
							<span class="field_count">42x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des jüngeren Bruders ist																					</label>
																					<input type="text" value="Henslowe" 
                                name="vars-Matrose_NN" maxlength="30" id="vars-Matrose_NN" 
                                data-fieldname="Matrose_NN" 
                                data-default="Henslowe" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Straßenjunge</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Jack</em>, minderjähriger Straßenjunge, will am Anfang <em>Viola</em> berauben und verletzt sie dabei an der Hand; später hilft er ihr jedoch bei der Suche nach <em>Phinneas Augustus</em>, der sich im Hafenviertel bei Captain <em>Sean O’Rourke </em>in zwielichtigen Spelunken herumtreibt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Straßenjungen lautet																					</label>
																					<input type="text" value="Jack" 
                                name="vars-Junge_VN" maxlength="30" id="vars-Junge_VN" 
                                data-fieldname="Junge_VN" 
                                data-default="Jack" 
                                class="field focuser default" />
							<span class="field_count">91x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Mutter des Straßenjungen</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Mary</em>, <em>Jack</em>s Mutter, lebt mit ihrem Sohn in einer sehr ärmlichen, aber sauberen Unterkunft. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Mutter des Straßenjungen ist																					</label>
																					<input type="text" value="Mary" 
                                name="vars-Junge_Mutter_VN" maxlength="30" id="vars-Junge_Mutter_VN" 
                                data-fieldname="Junge_Mutter_VN" 
                                data-default="Mary" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			<span class='default Dienerin_VN'>Anne</span> <span class='default Dienerin_NN'>Henslowe</span> hat <span class='default Dienerin_Augen'>braun</span>e Augen und <span class='default Dienerin_Haar'>schwarz</span>es Haar. Sie lebt mit ihrer Familie im London des 16. Jahrhunderts. <span class='default Dienerin_VN'>Anne</span> stammt aus ärmlichen Verhältnissen, worunter vor allem ihre Mutter <span class='default Mutter_VN'>Maureen</span> <span class='default Mutter NN'></span> leidet. Ihr Vater <span class='default Vater_VN'>George</span> <span class='default Vater_NN'>Henslowe</span> betreibt ein Theater, in dem ihr älterer Bruder <span class='default Schauspieler_VN'>Edmund</span> <span class='default Schauspieler_NN'>Henslowe</span> die männlichen Hauptrollen spielt. Der stattliche junge Mann hat selbst in der gehobenen Schicht begeisterte Fans, darunter die Theater-Liebhaberin Lady <span class='default Lady_VN'>Viola</span> <span class='default Lady_NN'>Darling</span>. Die lebenslustige Frau wurde schon oft wegen ihrer <span class='default Lady_Augen'>grÃ¼n</span>en Augen und ihrer prächtigen, <span class='default Lady_Haar'>kastanienbraun</span>en Locken zum Thema eines Sonnetts und genießt die Aufmerksamkeit. Die beiden jungen Frauen lernen sich bei einem Überfall auf <span class='default Lady_VN'>Viola</span> kennen. Durch ihr beherztes Eingreifen bekommt <span class='default Dienerin_VN'>Anne</span> eine Anstellung bei der jungen Lady. Von ihrer neuen Herrin wird sie sehr gut behandelt, doch die Zofe <span class='default Zofe_VN'>Kat</span> versucht alles, um sie wieder loszuwerden. Auch der Kutscher <span class='default Kutscher_VN'>James</span> verhält sich ihr gegenüber anfangs sehr misstrauisch. Nur der Page <span class='default Page_VN'>Cecil</span> <span class='default Page_NN'>Montgomery</span> ist nett zu ihr. So erkämpft sich <span class='default Dienerin_VN'>Anne</span> ihren Platz am Hof. Dort lernt sie auch <span class='default Lady_VN'>Viola</span>s liebenswürdige Schwester <span class='default Schwester_VN'>Bianca</span> kennen. Sie ist mit ihrem Verlobten <span class='default Verlobter_VN'>Benjamin</span> <span class='default Verlobter_NN'>Shelley</span> glücklich und sehnt sich nach einem ruhigen Leben mit ihm. Doch <span class='default Verlobter_VN'>Benjamin</span> steckt in Schwierigkeiten. Er ist bei dem undurchsichtigen Herzog <span class='default Herzog_VN'>Phinneas Augustus</span> von <span class='default Herzog_NN'>Sinclair</span> verschuldet und soll für ihn den französischen Marquis <span class='default Marquis_VN'>Jean-Etienne</span> <span class='default Marquis_NN'>St. Merd</span> bestehlen. Der Herzog vermutet eine Verschwörung gegen die Königin, in die auch der französische Gesandte <span class='default Compte_VN'>Baptiste</span> <span class='default Compte_NN'>de Malipense</span> verwickelt sein könnte. Doch <span class='default Herzog_VN'>Phinneas Augustus</span> <span class='default Herzog_NN'>Sinclair</span> selbst steckt bis zum Hals in zwielichtigen Geschäften, die er mit seinem alten Freund, dem Kapitän <span class='default Kapitaen_VN'>Sean</span> <span class='default Kapitaen_NN'>O'Rourke</span> eingefädelt hat. Auf seinem Schmuggelschiff, der Bonny Ann, heuert auch <span class='default Dienerin_VN'>Anne</span>s Bruder <span class='default Matrose_VN'>Michael</span> <span class='default Matrose_NN'>Henslowe</span> an. Um <span class='default Schwester_VN'>Bianca</span> zu helfen, beschließen <span class='default Lady_VN'>Viola</span> und <span class='default Dienerin_VN'>Anne</span>, das Komplott aufzudecken und geraten dabei in immer größere Gefahr. Dabei benötigen sie sogar die Hilfe von <span class='default Junge_VN'>Jack</span>, einem Straßenjungen, der in sehr ärmlichen Verhältnissen bei seiner Mutter <span class='default Junge_Mutter_VN'>Mary</span> wohnt.		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

