<?php $expire = 1393863478; /* http://web.personalnovel.local/service-versand_kinderbucher.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Kinderbücher - Liefertermine &amp; Versand - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Personalisierte Kinderbücher für Mädchen und Jungen von PersonalNOVEL sind einzigartige und persönliche Geschenke für Kinder und Heranwachsende! ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Kinderbücher - Liefertermine &amp; Versand - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Personalisierte Kinderbücher für Mädchen und Jungen von PersonalNOVEL sind einzigartige und persönliche Geschenke für Kinder und Heranwachsende! " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<style media="screen">
#left{width:200px;}
#main{margin-left:200px;}
</style>
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/tg.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<style>
#main {
padding-right: 0px !important;
} 
</style>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">

<div class="base_header">
<div id="header-links-box">
                        
  <div id="logo"><a href=""></a></div>
   <!--
  <div id="versand"><a href="/service-versand.html"></a></div>
  
  <div class="headerlinks">
      <div id="headerlinkgroup">
      	<a class="hidden" id="basklink"><img title="Warenkorb" kasse="" alt="Warenkorb" src="tl_files/personalnovel_de/static/img/icons/shoppingbag.png"></a>&nbsp;&nbsp;
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So einfach geht‘s</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/newsletter.html">Newsletter</a>&nbsp;|&nbsp; 
        <a style="vertical-align: top;" href="/agb.html">AGB</a>&nbsp;|&nbsp;
        <a style="vertical-align: top;" href="/kontakt.html">Kontakt</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/faq.html">Hilfe</a>&nbsp;
      </div>
  </div>
   -->
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->

<style>
#tab-menu li.oktoberfest:hover {
      background-color: hsl(197, 100%, 47%) !important;
  }
  #tab-menu { margin-top: 5px !important }
</style>
<div id="tab-menu">
  <ul>
    <li><a title="Besondere Anlässe" href="http://www.personalnovel.de/geschenkbuecher/"><span>Besondere Anlässe</span></a></li> 
    <li><a title="Valentinstag" href="http://www.personalnovel.de/valentinstag"><span>Valentinstag</span></a></li>
    <li><a title="Hochzeit" href="/hochzeitsgeschenke"><span>Hochzeit</span></a></li>
   </ul>
</div>
<div class="kundengeschenke" id="menunav">
<div class="container">
<ul class="level_1">
<li class="first"><a class="first" title="Personalisierte Bücher &amp; Romane" href="/romane/">Romane</a></li>
<li><a title="Klassische Literatur personalisiert" href="/personalisierteklassiker/">Klassiker der Literatur</a></li>
<li><a title="Personalisierte Kinderbücher" href="/kinderbuecher/">Kinderbücher</a></li>
<li><a title="Personalisierte Jugendbücher" href="/jugendbuecher/">Jugendbücher</a></li>
<li ><a  title="Personalisierte Kalender" href="/kalender/">Kalender</a></li>
<li><a href="/eigenerwein/" title="Weinetiketten"><span>Wein &amp; Champagner Etiketten</span></a></li>
<li><a href="/kundengeschenke/" title="Firmenkunden"><span>Firmenkunden</span></a></li>
<li class="last"><a href="/personalisierte-ebooks" title="Personalisierte E-Books"><span>E-Books</span></a></li>
</ul>

<div class='flash-language'>
  <a class='active' onclick="return false" href='' title="Germany"></a>
  <a class='inactive' href='http://www.personalnovel.co.uk' title="United Kingdom"></a>
</div>
<style>
  .flash-language a {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
    width:24px;
    height:24px;
  }
  .flash-language {
    position: absolute;
    right: 0px;
    height: 30px;
    line-height: 30px;
    width: 70px;
  }
  .flash-language .active{
    background:url("/tl_files/personalnovel_de/image/uk/Germany-Flag.png") no-repeat;
  }
  .flash-language .inactive{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag-active.png") no-repeat;
  }
  .flash-language .inactive:hover{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag.png") no-repeat;	
  }
</style>

</div>
</div>
 
</div>
</header>

<div id="container">
<div class="real_content">

<aside id="left">
<div class="inside navigation">

<div class="title_nav"><div class="section ">Deutsche Kinderbücher</div></div>
<div class="links "><a href="/kinderbuecher/bilderbuecher-maedchen-de" title="Personalisiertes Kinderbuch" class="navitem">Bilderbücher&nbsp;Mädchen</a>
	<a href="/kinderbuecher/bilderbuecher-jungen-de" title="Personalisiertes Kinderbuch" class="navitem">Bilderbücher&nbsp;Jungen</a>
	<a href="/kinderbuecher/poesiealben" title="Personalisiertes Kinderbuch" class="navitem">Poesiealben</a>
	<a href="/kinderbuecher/books?filter=alter" title="Personalisiertes Kinderbuch" class="navitem">Nach&nbsp;Alter</a>
	<hr class="spacer ">
</div>
<div class="title_nav"><div class="section ">Englische Kinderbücher</div></div>
<div class="links ">
	<a href="/kinderbuecher/bilderbuecher-maedchen-en" title="Personalisiertes Kinderbuch" class="navitem">Bilderbücher&nbsp;Mädchen</a>
	<a href="/kinderbuecher/bilderbuecher-jungen-en" title="Personalisiertes Kinderbuch" class="navitem">Bilderbücher&nbsp;Jungen</a>
	<hr class="spacer ">
</div>
<div class="title_nav"><div class="section ">Ihr Buch</div></div>
<div class="links ">
  <a href="/kinderbucher/personalisierung" title="Personalisiertes Kinderbuch" class="navitem">Personalisierung</a>
        <a href="/kinderbucher/widmung" title="Personalisiertes Kinderbuch" class="navitem">Widmung</a>
	<a href="/kinderbucher/preise-einbaende" title="Personalisiertes Kinderbuch" class="navitem">Einbände&nbsp;&amp;&nbsp;Preise</a>
	<a href="/kinderbucher/umschlag-gestaltung" title="Personalisiertes Kinderbuch" class="navitem">Umschlag&nbsp;&amp;&nbsp;Gestaltung</a>
       <!-- <a href="/kinderbucher/geschenkbox" title="Personalisiertes Kinderbuch" class="navitem"> Geschenkbox</a>-->
        	
        <hr class="spacer">
	<!--      
	<a href="/service-versand_kinderbucher.html" class="navitem">Liefertermine&nbsp;&amp;&nbsp;Versand</a>
	<a href="/zahlung_kinderbucher.html" class="navitem">Zahlung</a>
	<hr class="spacer">
         -->
</div>
<div class="title_nav"><div class="section ">Service</div></div>
<div class="links ">
	<a href="/service-versand_kinderbucher" title="Personalisiertes Kinderbuch" class="navitem">Liefertermine&nbsp;&amp;&nbsp;Versand</a>
	<a href="/zahlung_kinderbucher" title="Personalisiertes Kinderbuch" class="navitem">Zahlung</a>
        <a href="/showroom/" class="navitem"  title="Showroom München">Showroom München</a>
	<hr class="spacer">
</div>
<div class="title_nav"><div class="section"></div></div>
<div class="navigation centered" style="border-left: 1px solid #E7E6E6;border-right: 1px solid #E7E6E6;margin-bottom:0;">
    <a class="nooutline" href="/zahlung_kinderbucher" style="padding-left: 0;">
      <img width="198" height="115" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" title="Payment" alt="Payment">
    </a>
</div>
<div class="title_nav"><div class="section ">Kommunikation</div></div>
<div id="social_media">

  <a target="_blank" title="" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659">
    <img title="Folgen Sie uns auf Facebook!" alt="Facebook" src="tl_files/personalnovel_de/static/img/icons/facebook.png">
  </a>
  <a target="_blank" href="http://www.twitter.com/PersonalNOVEL">
  <img alt="Follow PersonalNOVEL on Twitter" src="tl_files/personalnovel_de/static/img/icons/twitter.png" />
  </a>
    <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/youtube.png" />
  </a>
    <a target="_blank" href="http://blog.personalnovel.de/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/google.png" />
  </a>
    <a target="_blank" href="http://pinterest.com/personalnovel/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/p.png" />
  </a>

</div>
<div style="*display:none; ">
  <div style="position:relative; height:160px; width:100%;">
    <div style="position:relative; height:80px; width:100%;">
    	<a href="https://www.facebook.com/PersonaNOVEL" title="PersonaNOVEL" target="_blank">
      	<img style="width:200px; height:80px;" src="/tl_files/personalnovel_de/static/assets/website/teaser_plugin_facebook_like.png">
      	</a>
    </div>
    <div style="position:absolute;margin:-10px 0px 0px 3px; z-index:4; width:195px; ">
      <iframe id='like-pn' src="//www.facebook.com/plugins/like.php?locale=de_DE&href=http%3A%2F%2Fwww.facebook.com%2FPersonaNOVEL&amp;send=false&amp;layout=standard&amp;width=190&amp;show_faces=false&amp;font=tahoma&amp;colorscheme=light&amp;action=like&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:195px; height:70px;" allowTransparency="true"></iframe>
    </div>
    <div style='clear:both;'></div>
  </div>
</div>
<div id="yelp-biz-badge-fsc-8Grwh5KCPCm3cZXlAu5yMw">PersonalNOVEL e.K.</div>
<script type="text/javascript">
 !function(doc, id){
  var js;
  var scriptElement = doc.getElementsByTagName("script")[0];
  if (!doc.getElementById(id)) {
   js = doc.createElement("script");
    js.id = id;
    js.src = "http://dyn.yelpcdn.com/biz_badge_js/fsc/8Grwh5KCPCm3cZXlAu5yMw.js";
    scriptElement.parentNode.insertBefore(js, scriptElement);
  }
} (document, "yelp-biz-badge-script-fsc-8Grwh5KCPCm3cZXlAu5yMw");
</script> 
</div>
</aside>

<section id="main">
<div class="inside">

<article class="mod_article block" id="service-versand">

<h1 class="ce_headline">Liefertermine und Versand</h1>

<section class="ce_text block">

<p><strong>Bitte beachten Sie: Die Produktionszeit Ihres PersonalNOVEL-Produkts beginnt mit dem Eingang / Nachweis Ihrer Zahlung.</strong></p>
</section>

<section class="ce_text block">

<h2>Druck und Bindung</h2>

<ul>
<li>Bevor Ihr PersonalNOVEL-Produkt in den Versand gehen kann, durchläuft es den Produktionsprozess.</li>
<li>Produktionstage sind Montag bis Freitag (Ausnahme Feiertage in Bayern).</li>
<li>Je nach Ausführung und Versandart dauert die Auslieferung (= Produktionszeit + Versanddauer) ca.:</li>
</ul>
<h2><span style="font-size: 15px;"><strong>Versand in Deutschland</strong></span></h2>
<table style="border: none; width: 743px; height: 939px;" frame="void" rules="none" align="center">
<tbody>
<tr>
<td style="border-right: none; border-bottom: none; margin-right: 32px; display: table;" rowspan="5">
<p style="text-align: center;"><span style="font-size: 13px;"><em><strong>DHL Premium Versand </strong></em></span>(5,99 EUR)</p>
<p style="text-align: center;">Versanddauer: <strong>2-3 Versandtage</strong><em><strong><br></strong></em></p>
<p style="padding-top: 25px;"><strong>Romane</strong></p>
<table style="border: none; width: 743px; height: 939px;" frame="void" rules="none" align="center">
<tbody>
<tr>
<td style="border-right: none; border-bottom: none; margin-right: 32px; display: table;" rowspan="5">
<p style="text-align: center;"><span style="font-size: 14px;"><em><strong>DHL Premium Versand </strong></em></span>(<span style="font-size: 14px;"><strong><span style="color: #008000;">5,99 EUR</span></strong></span>)</p>
<p style="text-align: center;">Versanddauer: <strong>2-3 Versandtage</strong><em><strong><br></strong></em></p>
<p style="padding-top: 25px;"><strong>Romane</strong></p>
<table style="border-color: #f0f0f0; border-width: 0px; background-color: #ffffff; border-style: solid; width: 350px; height: 200px; margin-bottom: 10px;" frame="box" rules="all" align="left">
<tbody>
<tr style="background-color: #dfdfdd;">
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div><strong>Version</strong></div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>Lieferdauer</strong></div>
<div>(= Produktionszeit + Versanddauer)</div>
</td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div>Taschenbuch</div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 4-5 Werktage</strong></div>
<div><span style="font-size: 10px;">(ca. 2 Werktage Produktion + 2-3 Versandtage)</span></div>
</td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div>Taschenbuch XL</div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 4-5 Werktage</strong></div>
<span style="font-size: 10px;">(ca. 2 Werktage Produktion + 2-3 Versandtage)</span></td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div>Hardcover</div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 5-6 Werktage</strong></div>
<span style="font-size: 10px;">(ca. 3 Werktage Produktion + 2-3 Versandtage)</span></td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div>Leinen</div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 5-6 Werktage</strong></div>
<span style="font-size: 10px;">(ca. 3 Werktage Produktion + 2-3 Versandtage)</span></td>
</tr>
</tbody>
</table>
<p><strong>Kinderbücher</strong></p>
<table style="width: 350px; height: 133px; margin-bottom: 10px;" frame="box" rules="all" align="left">
<tbody>
<tr style="background-color: #dfdfdd;">
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div><strong>Version</strong></div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>Lieferdauer</strong></div>
<div>(= Produktionszeit + Versanddauer)</div>
</td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div>Heftung</div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 4-5 Werktage</strong></div>
<span style="font-size: 10px;">(ca. 2 Werktage Produktion + 2-3 Versandtage)</span></td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div>Softcover</div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 4-5 Werktage</strong></div>
<span style="font-size: 10px;">(ca. 2 Werktage Produktion + 2-3 Versandtage)</span></td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div>Hardcover</div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 6-7 Werktage</strong></div>
<span style="font-size: 10px;">(ca. 4 Werktage Produktion + 2-3 Versandtage)</span></td>
</tr>
</tbody>
</table>
<p><strong>Geschenkbücher</strong></p>
<table style="width: 350px; height: 110px; margin-bottom: 10px;" frame="box" rules="all" align="left">
<tbody>
<tr style="background-color: #dfdfdd;">
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div><strong>Version</strong></div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>Lieferdauer</strong></div>
<div>(= Produktionszeit + Versanddauer)</div>
</td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">Softcover</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 4-5 Werktage</strong></div>
<div><span style="font-size: 10px;">(ca. 2 Werktage Produktion + 2-3 Versandtage)</span></div>
</td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">Hardcover</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 6-7 Werktage</strong></div>
<span style="font-size: 10px;">(ca. 4 Werktage Produktion + 2-3 Versandtage)</span></td>
</tr>
</tbody>
</table>
<p><strong>Klassiker</strong></p>
<table style="width: 350px; height: 150px; margin-bottom: 10px;" frame="box" rules="all" align="left">
<tbody>
<tr style="background-color: #dfdfdd;">
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div><strong>Version</strong></div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>Lieferdauer</strong></div>
<div>(= Produktionszeit + Versanddauer)</div>
</td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div>Taschenbuch</div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 4-5 Werktage</strong></div>
<span style="font-size: 10px;">(ca. 2 Werktage Produktion + 2-3 Versandtage)</span></td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">Hardcover</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 5-6 Werktage</strong></div>
<span style="font-size: 10px;">(ca. 3 Werktage Produktion + 2-3 Versandtage)</span></td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">Leinen</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 6-7 Werktage</strong></div>
<span style="font-size: 10px;">(ca. 4 Werktage Produktion + 2-3 Versandtage)</span></td>
</tr>
</tbody>
</table>
</td>
<td style="border-bottom: none; border-right: none;" rowspan="5">
<p style="text-align: center;"><span style="font-size: 14px;"><em><strong>DHL Express Versand</strong></em></span> (<span style="font-size: 14px;"><strong><span style="color: #008000;">16,99 EUR</span></strong>)</span></p>
<p style="text-align: center;">Versanddauer:<strong> 1 Versandtag</strong> <em><strong><br></strong></em></p>
<p style="padding-top: 23px;"><strong>Romane</strong></p>
<table style="border-width: 0px; border-style: solid; width: 350px; height: 200px; margin-bottom: 10px;" frame="box" rules="all" align="left">
<tbody>
<tr style="background-color: #dfdfdd;">
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div><strong>Version</strong></div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>Lieferdauer</strong></div>
<div>(= Produktionszeit + Versanddauer)</div>
</td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div>Taschenbuch</div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 3 Werktage</strong></div>
<div><span style="font-size: 10px;">(ca. 2 Werktage Produktion + 1 Versandtag)</span></div>
</td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div>Taschenbuch XL</div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 3 Werktage</strong></div>
<span style="font-size: 10px;">(ca. 2 Werktage Produktion + 1 Versandtag)</span></td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div>Hardcover</div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 4 Werktage</strong></div>
<span style="font-size: 10px;">(ca. 3 Werktage Produktion + 1 Versandtag)</span></td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div>Leinen</div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 4 Werktage</strong></div>
<span style="font-size: 10px;">(ca. 3 Werktage Produktion + 1 Versandtag)</span></td>
</tr>
</tbody>
</table>
<p><strong>Kinderbücher</strong></p>
<table style="width: 349px; height: 133px; margin-bottom: 10px;" frame="box" rules="all" align="left">
<tbody>
<tr style="background-color: #dfdfdd;">
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div><strong>Version</strong></div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>Lieferdauer</strong></div>
<div>(= Produktionszeit + Versanddauer)</div>
</td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div>Heftung</div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 3 Werktage</strong></div>
<span style="font-size: 10px;">(ca. 2 Werktage Produktion + <span style="font-size: 10px;">1 Versandtag)</span><br></span></td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div>Softcover</div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 3 Werktage</strong></div>
<span style="font-size: 10px;">(ca. 2 Werktage Produktion + <span style="font-size: 10px;">1 Versandtag)</span><br></span></td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div>Hardcover</div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 5 Werktage</strong></div>
<span style="font-size: 10px;">(ca. 4 Werktage Produktion + <span style="font-size: 10px;">1 Versandtag)</span><br></span></td>
</tr>
</tbody>
</table>
<p><strong>Geschenkbücher</strong></p>
<table style="width: 350px; height: 110px; margin-bottom: 10px;" frame="box" rules="all" align="left">
<tbody>
<tr style="background-color: #dfdfdd;">
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div><strong>Version</strong></div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>Lieferdauer</strong></div>
<div>(= Produktionszeit + Versanddauer)</div>
</td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">Softcover</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 3 Werktage</strong></div>
<div><span style="font-size: 10px;">(ca. 2 Werktage Produktion + 1 Versandtag)</span></div>
</td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">Hardcover</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 5Werktage</strong></div>
<span style="font-size: 10px;">(ca. 4 Werktage Produktion + 1 Versandtag)</span></td>
</tr>
</tbody>
</table>
<p><strong>Klassiker</strong></p>
<table style="width: 350px; height: 150px; margin-bottom: 10px;" frame="box" rules="all" align="left">
<tbody>
<tr style="background-color: #dfdfdd;">
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div><strong>Version</strong></div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>Lieferdauer</strong></div>
<div>(= Produktionszeit + Versanddauer)</div>
</td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">
<div>Taschenbuch</div>
</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 4-5 Werktage</strong></div>
<span style="font-size: 10px;">(ca. 2 Werktage Produktion + 1 Versandtag)</span></td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">Hardcover</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 5-6 Werktage</strong></div>
<span style="font-size: 10px;">(ca. 3 Werktage Produktion + 1 Versandtag)</span></td>
</tr>
<tr>
<td style="width: 100px; height: 35px; border-color: #dfdfdd; border-style: solid; border-width: 1px;">Leinen</td>
<td style="border-color: #e6e6e5; border-style: solid; border-width: 1px; text-align: center;">
<div><strong>ca. 6-7 Werktage</strong></div>
<span style="font-size: 10px;">(ca. 4 Werktage Produktion + 1 Versandtag)</span></td>
</tr>
</tbody>
</table>
<p><strong><br></strong></p>
<p><strong><br></strong></p>
<p><strong><br></strong></p>
<p><strong>Express-Versand für Wein/Champagner ist leider nicht möglich</strong></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</section>

<section class="ce_text block">

<h2><span style="font-size: 13px;"><strong>DHL Versand</strong></span></h2>
<ul>
<li>
<div><span style="font-size: 12px;">DHL liefert montags bis samstags aus (ausgenommen lokale Feiertage)</span></div>
</li>
<li>
<div>Übergabe unserer PersonalNovel-Produkte an DHL: Montag bis Freitag</div>
</li>
<li>
<div>Eine Lieferung an Packstationen ist möglich</div>
</li>
<li style="font-size: 12px;">
<div>An Postfachadressen liefert DHL leider nicht aus</div>
</li>
</ul>
<div><strong><strong>&nbsp;</strong></strong></div>
<p><strong>DHL Premium-Versand</strong><br><strong></strong></p>
<ul>
<li>Versanddauer: 2-3 Versandtage nach Übergabe an DHL</li>
</ul>
<p><strong>&nbsp;</strong><br><strong>DHL Express-Versand</strong></p>
<ul>
<li>Express-Versand ist nur innerhalb Deutschlands möglich</li>
<li>Versanddauer: Zustellung nach Übergabe an DHL am nächsten Werktag von 9-17 Uhr</li>
<li>Express-Versand für Wein ist leider nicht möglich</li>
<li>Express-Versand ins Ausland ist leider nicht möglich - auch nicht gegen Aufpreis</li>
</ul>
<p><strong>&nbsp;</strong><br><strong>Abholung im PersonalNOVEL Showroom, München</strong></p>
<ul>
<li>Abholung ist nur bei ausschließlicher Bestellung von Weinartikeln möglich</li>
<li>Bücher können leider nicht abgeholt werden.</li>
</ul>
<ul>
<li>Adresse: PersonalNOVEL Showroom, Barerstr. 82, 80799 München</li>
<li>Öffnungszeiten:
<table style="font-size: 100%; background-color: #ffffff; border-style: solid; border-width: 0px; width: 237px; height: 76px;" frame="box" rules="all">
<tbody>
<tr>
<td>Mo:</td>
<td>12.00-16.00 Uhr</td>
</tr>
<tr>
<td>Di/Mi:</td>
<td style="text-align: left;">11.00-15.00 Uhr</td>
</tr>
<tr>
<td>Do:</td>
<td>13.00-17.00 Uhr</td>
</tr>
</tbody>
</table>
</li>
<li>Die Abholung Ihrer personalisierten Weinflasche ist, unter Beachtung der Öffnungszeiten, ab dem auf Ihren Zahlungseingang folgenden Werktag möglich.</li>
<li>Bitte bringen Sie zur Abholung Ihren Personalausweis und die Bestellbestätigung mit.</li>
<li>Jugendschutz: Gemäß Jugendschutzgesetz liefern wir Wein ausschließlich an Personen, die das 18. Lebensjahr vollendet haben</li>
</ul>
<p>&nbsp;</p>
</section>

<section class="ce_text block">

<h1>Versand ins Ausland</h1>

<ul>
<li>Der Versand in alle zustellbaren Länder (siehe Tabelle unten) erfolgt per DHL Premium-Versand</li>
<li>Bei Lieferungen in das Nicht-EU-Ausland fallen zusätzliche Zölle, Steuern und Gebühren an. Weitere Informationen zu Zöllen finden Sie beispielsweise unter <a href="http://ec.europa.eu/taxation_customs/index_de.htm" target="_blank">ec.europa.eu</a> und zur Einfuhrumsatzsteuer unter <a href="http://auskunft.ezt-online.de/ezto/Welcome.do" target="_blank">auskunft.ezt-online.de</a> sowie speziell für die Schweiz unter <a href="http://xtares.admin.ch/tares/login/loginFormFiller.do" target="_blank">xtares.admin.ch</a></li>
</ul>
<p><strong><br></strong></p>
<p><strong>Länder, Laufzeiten und Kosten</strong></p>
<ul>
<ul>
<li>Die Versandzeiten unterliegen den Geschäftsbedingungen der beauftragten Logistikunternehmen und sind Circa-Angaben in Werktagen, deren Einhaltung PersonalNOVEL nicht garantieren kann</li>
<li>Alle Preise verstehen sich inklusive der gesetzlichen Mehrwertsteuer</li>
</ul>
</ul>
<p>&nbsp;</p>
<table style="width: 100%;">
<thead>
<tr style="background-color: #dfdfdd;">
<td>
<p><strong>&nbsp; Land</strong></p>
</td>
<td>
<p align="right"><strong>Lieferzeit&nbsp; <br> Circa-Angaben&nbsp; <br> (Mo.-Fr.)&nbsp;</strong></p>
</td>
<td>
<p align="right"><strong>Kosten&nbsp;</strong></p>
</td>
</tr>
</thead>
<tbody>
<tr>
<td>
<p>Österreich</p>
</td>
<td>
<p align="right">2-3 Werktage</p>
</td>
<td>
<p align="right">9,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Schweiz*</p>
</td>
<td>
<p align="right">2-3 Werktage</p>
</td>
<td>
<p align="right">11,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Liechtenstein*</p>
</td>
<td>
<p align="right">3 Werktage</p>
</td>
<td>
<p align="right">14,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Andorra</p>
</td>
<td>
<p align="right">5 Werktage</p>
</td>
<td>
<p align="right">14,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Belgien</p>
</td>
<td>
<p align="right">2-3 Werktage</p>
</td>
<td>
<p align="right">11,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Bulgarien</p>
</td>
<td>
<p align="right">15 Werktage</p>
</td>
<td>
<p align="right">16,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Dänemark</p>
</td>
<td>
<p align="right">3 Werktage</p>
</td>
<td>
<p align="right">11,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Estland</p>
</td>
<td>
<p align="right">9 Werktage</p>
</td>
<td>
<p align="right">16,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Finnland</p>
</td>
<td>
<p align="right">6 Werktage</p>
</td>
<td>
<p align="right">13,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Frankreich</p>
</td>
<td>
<p align="right">3 Werktage</p>
</td>
<td>
<p align="right">11,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Griechenland</p>
</td>
<td>
<p align="right">10 Werktage</p>
</td>
<td>
<p align="right">11,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Irland</p>
</td>
<td>
<p align="right">8 Werktage</p>
</td>
<td>
<p align="right">13,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Italien</p>
</td>
<td>
<p align="right">3 Werktage</p>
</td>
<td>
<p align="right">11,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Lettland</p>
</td>
<td>
<p align="right">12 Werktage</p>
</td>
<td>
<p align="right">16,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Litauen</p>
</td>
<td>
<p align="right">11 Werktage</p>
</td>
<td>
<p align="right">16,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Luxemburg</p>
</td>
<td>
<p align="right">3 Werktage</p>
</td>
<td>
<p align="right">11,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Malta</p>
</td>
<td>
<p align="right">5 Werktage</p>
</td>
<td>
<p align="right">11,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Monaco</p>
</td>
<td>
<p align="right">3-4 Werktage</p>
</td>
<td>
<p align="right">11,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Niederlande</p>
</td>
<td>
<p align="right">2-3 Werktage</p>
</td>
<td>
<p align="right">11,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Norwegen</p>
</td>
<td>
<p align="right">8 Werktage</p>
</td>
<td>
<p align="right">13,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Polen</p>
</td>
<td>
<p align="right">7 Werktage</p>
</td>
<td>
<p align="right">16,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Portugal</p>
</td>
<td>
<p align="right">9 Werktage</p>
</td>
<td>
<p align="right">13,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Republik Zypern</p>
</td>
<td>
<p align="right">8 Werktage</p>
</td>
<td>
<p align="right">11,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Rumänien</p>
</td>
<td>
<p align="right">18 Werktage</p>
</td>
<td>
<p align="right">16,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>San Marino</p>
</td>
<td>
<p align="right">8 Werktage</p>
</td>
<td>
<p align="right">11,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Schweden</p>
</td>
<td>
<p align="right">4 Werktage</p>
</td>
<td>
<p align="right">11,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Slowakei</p>
</td>
<td>
<p align="right">8 Werktage</p>
</td>
<td>
<p align="right">16,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Slowenien</p>
</td>
<td>
<p align="right">4 Werktage</p>
</td>
<td>
<p align="right">16,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Spanien (außer Kanar. Inseln, Ceuta, Melilla)</p>
</td>
<td>
<p align="right">7 Werktage</p>
</td>
<td>
<p align="right">&gt;13,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Tschechien</p>
</td>
<td>
<p align="right">3 Werktage</p>
</td>
<td>
<p align="right">&gt;16,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Ungarn</p>
</td>
<td>
<p align="right">5 Werktage</p>
</td>
<td>
<p align="right">16,99 EUR</p>
</td>
</tr>
<tr>
<td>
<p>Vereinigte Staaten von Amerika</p>
</td>
<td>
<p align="right">30 Werktage</p>
</td>
<td>
<p align="right">35,99 EUR</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
</section>

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

