<?php $expire = 1410667273; /* http://web.personalnovel.local/customize/book/291.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href="http://geburtstag.personalnovel.de/"></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
		<span class="green cartsum" cartsum="24.95">
		24,95</span> 
		<span class="green">EUR </span> <br />inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
    	    	     <a class="cart-link" href="http://web.personalnovel.local/checkout?order=2059047&step=Warenkorb"><img src="tl_files/personalnovel_de/cart.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:1000"></a>
	            
    <div id="cart-detail">
    
        
            <strong>1x 
        Kleiner Kater, großes Leben                </strong>
        <span class="green">24,95 EUR</span><br/>
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=291">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Männer, Jobs und ganz viel Leben!" src="/tl_files/thumbnail-book/maenner-jobs-und-ganz-viel-leben-291-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Männer, Jobs und ganz viel Leben!“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-291" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weibliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Britta Schmidt</i>, Ich-Erzählerin; 26 Jahre alt; liebt Eis und hasst Sushi; attraktiv, träumerisch, aber nicht gerade eine Sportskanone; arbeitet nach ihrem Studium als Personalassistentin bei der Firma SimsonTec AG; hofft nach zwei arbeitsintensiven Jahren auf eine Festanstellung, wird jedoch zusammen mit 200 Mitarbeitern aus der Produktion fristlos gekündigt; seit 3 Jahren mit <i>Thomas</i> zusammen; die Beziehung plätschert nur noch vor sich hin und als <i>Britta</i> ihn mit einer anderen erwischt, macht sie Schluss; wird durch Zufall für die TV-Dokumentation '90 Tage arbeitslos' ausgewählt und lässt sich zu so manch medienwirksamer Maßnahme überreden (z.B. Umstyling, Personal Trainer); bleibt sich jedoch immer selbst treu und findet am Ende zu einem neuen "Ich" und mit <i>Frank</i> einen Partner für den lang ersehnten Urlaub auf den Malediven - und vielleicht sogar fürs Leben!</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Heldin ist																					</label>
																					<input type="text" value="Britta" 
                                name="vars-Heldin_VN" maxlength="30" id="vars-Heldin_VN" 
                                data-fieldname="Heldin_VN" 
                                data-default="Britta" 
                                class="field focuser default" />
							<span class="field_count">117x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Heldin ist																					</label>
																					<input type="text" value="Schmidt" 
                                name="vars-Heldin_NN" maxlength="30" id="vars-Heldin_NN" 
                                data-fieldname="Heldin_NN" 
                                data-default="Schmidt" 
                                class="field focuser default" />
							<span class="field_count">69x</span>
						</div>
											<div class="field">
							<label>
							Der erste Buchstabe des Nachnamens ist																					</label>
																					<input type="text" value="S" 
                                name="vars-Heldin_Initiale" maxlength="30" id="vars-Heldin_Initiale" 
                                data-fieldname="Heldin_Initiale" 
                                data-default="S" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Heldin ist																					</label>
																					<input type="text" value="blau" 
                                name="vars-Heldin_Augen" maxlength="30" id="vars-Heldin_Augen" 
                                data-fieldname="Heldin_Augen" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Heldin ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Heldin_Haare" maxlength="30" id="vars-Heldin_Haare" 
                                data-fieldname="Heldin_Haare" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Der Lieblingsfilm der Heldin ist																					</label>
																					<input type="text" value="Kill Bill" 
                                name="vars-Heldin_Film" maxlength="30" id="vars-Heldin_Film" 
                                data-fieldname="Heldin_Film" 
                                data-default="Kill Bill" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Das Parfüm der Heldin heißt																					</label>
																					<input type="text" value="Pleasures" 
                                name="vars-Heldin_Duft" maxlength="30" id="vars-Heldin_Duft" 
                                data-fieldname="Heldin_Duft" 
                                data-default="Pleasures" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Das Kaninchen der Heldin heißt (männl.)																					</label>
																					<input type="text" value="Mr. Bunny" 
                                name="vars-Hase" maxlength="30" id="vars-Hase" 
                                data-fieldname="Hase" 
                                data-default="Mr. Bunny" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">TV-Redakteur und neuer Freund der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Frank Heinze</i>, Redakteur bei 'Kosmos TV'; 28 Jahre; hat in Heidelberg Publizistik studiert und ist des Jobs wegen nach Berlin gezogen; trägt eine Brille; liebt Sushi; ist von Anfang an von <i>Britta</i> angetan; während der Dreharbeiten zu der Dokumentation kommt es zwar zu einem Kuss zwischen ihm und <i>Britta</i>, es dauert jedoch noch eine ganze Weile, bis sie sich ihre Gefühle endlich eingestehen; chattet als 'The Sword 05' oft mit 'Freefighter 78'; als er dahinterkommt, dass seine Chatpartnerin allem Anschein nach <i>Britta</i> ist, spielt er das Spielchen noch ein bisschen weiter, verrät es ihr aber zum Schluss; fliegt am Ende anstatt <i>Thomas</i> mit <i>Britta</i> auf die Malediven.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des TV-Journalisten ist																					</label>
																					<input type="text" value="Frank" 
                                name="vars-Journalist_VN" maxlength="30" id="vars-Journalist_VN" 
                                data-fieldname="Journalist_VN" 
                                data-default="Frank" 
                                class="field focuser default" />
							<span class="field_count">154x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des TV-Journalisten ist																					</label>
																					<input type="text" value="Heinze" 
                                name="vars-Journalist_NN" maxlength="30" id="vars-Journalist_NN" 
                                data-fieldname="Journalist_NN" 
                                data-default="Heinze" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des TV-Journalisten ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Journalist_Augen" maxlength="30" id="vars-Journalist_Augen" 
                                data-fieldname="Journalist_Augen" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe des TV-Journalisten ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Journalist_Haare" maxlength="30" id="vars-Journalist_Haare" 
                                data-fieldname="Journalist_Haare" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ex-Freund der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Thomas Wolmer</i>, <i>Britta</i>s (Ex-)Freund; groß, schlaksig und mit dunklen Haaren; ewiger Student in Geldnöten; lässt sich von <i>Britta</i> finanziell aushalten und betrügt sie mit <i>Lisa</i>; als <i>Britta</i> dahinterkommt, gibt sie ihm den Laufpass, und auch <i>Lisa</i> hat bald die Schnauze voll von ihm.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Ex-Freundes ist																					</label>
																					<input type="text" value="Thomas" 
                                name="vars-Exfreund_VN" maxlength="30" id="vars-Exfreund_VN" 
                                data-fieldname="Exfreund_VN" 
                                data-default="Thomas" 
                                class="field focuser default" />
							<span class="field_count">84x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Ex-Freundes ist																					</label>
																					<input type="text" value="Wolmer" 
                                name="vars-Exfreund_NN" maxlength="30" id="vars-Exfreund_NN" 
                                data-fieldname="Exfreund_NN" 
                                data-default="Wolmer" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Der erste Buchstabe des Vornamens des Ex-Freunds ist																					</label>
																					<input type="text" value="T" 
                                name="vars-Exfreund_Initiale" maxlength="30" id="vars-Exfreund_Initiale" 
                                data-fieldname="Exfreund_Initiale" 
                                data-default="T" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Neue Freundin des Ex-Freundes</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Lisa Waldesloh</i>, wegen ihrer Oberweite von <i>Britta</i> nur Doppel-D-<i>Lisa</i> genannt; blonde Barbiepuppe; dümmlich; zutiefst verletzt träumt <i>Britta</i> einmal sogar, dass <i>Lisa</i> stirbt und <i>Thomas</i> reumütig zu ihr zurückkommt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Konkurrentin ist																					</label>
																					<input type="text" value="Lisa" 
                                name="vars-Barbie_VN" maxlength="30" id="vars-Barbie_VN" 
                                data-fieldname="Barbie_VN" 
                                data-default="Lisa" 
                                class="field focuser default" />
							<span class="field_count">29x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Konkurrentin ist																					</label>
																					<input type="text" value="Waldesloh" 
                                name="vars-Barbie_NN" maxlength="30" id="vars-Barbie_NN" 
                                data-fieldname="Barbie_NN" 
                                data-default="Waldesloh" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Chef der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Olaf Bayer</i>, <i>Britta</i>s Chef bei der SimsonTec AG; Witzfigur mit überlangen Gliedmaßen und dämlichem Dauergrinsen; starker Raucher; karrieregeil; für den Aufstieg in den Vorstand ist ihm jedes Mittel recht; veranlasst die Kündigung von 200 Mitarbeitern und <i>Britta</i>, die ihm als Assistentin nicht attraktiv genug ist; am Ende stellt sich heraus, dass er den Betriebsrat bestochen hat, damit dieser der Kündigung der 200 Mitarbeiter zustimmt; außerdem wirft man ihm Belästigung weiblicher Mitarbeiter und Veruntreuung von Geldern vor; auch sein Plan, <i>Britta</i> um die ihr zustehende Abfindung zu betrügen, geht nicht auf.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Personalchefs ist																					</label>
																					<input type="text" value="Olaf" 
                                name="vars-Uebeltaeter_VN" maxlength="30" id="vars-Uebeltaeter_VN" 
                                data-fieldname="Uebeltaeter_VN" 
                                data-default="Olaf" 
                                class="field focuser default" />
							<span class="field_count">15x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Personalchefs ist																					</label>
																					<input type="text" value="Bayer" 
                                name="vars-Uebeltaeter_NN" maxlength="30" id="vars-Uebeltaeter_NN" 
                                data-fieldname="Uebeltaeter_NN" 
                                data-default="Bayer" 
                                class="field focuser default" />
							<span class="field_count">70x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Arbeitskollegin der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Rita Neureuther</i>, <i>Britta</i>s Kollegin bei der SimsonTec AG; Tratschweib, die <i>Olaf Bayer</i> schöne Augen macht und hinter <i>Britta</i>s Rücken über sie herzieht.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Arbeitskollegin ist																					</label>
																					<input type="text" value="Rita" 
                                name="vars-Kollegin_VN" maxlength="30" id="vars-Kollegin_VN" 
                                data-fieldname="Kollegin_VN" 
                                data-default="Rita" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Arbeitskollegin ist																					</label>
																					<input type="text" value="Neureuther" 
                                name="vars-Kollegin_NN" maxlength="30" id="vars-Kollegin_NN" 
                                data-fieldname="Kollegin_NN" 
                                data-default="Neureuther" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Kameramann</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Hannes</i>, Kameramann; kleiner, drahtiger Typ; Zyniker; meist schlecht gelaunt und lustlos; er und <i>Britta</i> verstehen sich zu Anfang nicht besonders gut; er schätzt jedoch ihren Mut und ihre Natürlichkeit und kommt ihr das eine oder andere Mal sogar zu Hilfe.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Kameramanns ist																					</label>
																					<input type="text" value="Hannes" 
                                name="vars-Kameramann_VN" maxlength="30" id="vars-Kameramann_VN" 
                                data-fieldname="Kameramann_VN" 
                                data-default="Hannes" 
                                class="field focuser default" />
							<span class="field_count">93x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Stylistin</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Maroussia</i>, Modeexpertin, die für <i>Britta</i>s Umstyling verantwortlich ist; flippig gekleidet und mit knallrotem Haar; an der Unterlippe und am Bauchnabel gepierct; äußerst schlagfertig; in ihr findet <i>Britta</i> eine gute Freundin.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Stylistin ist																					</label>
																					<input type="text" value="Maroussia" 
                                name="vars-Stylistin_VN" maxlength="30" id="vars-Stylistin_VN" 
                                data-fieldname="Stylistin_VN" 
                                data-default="Maroussia" 
                                class="field focuser default" />
							<span class="field_count">57x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Personal Trainer</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Meik</i>, <i>Britta</i>s Personal Trainer; Vizeweltmeister in Karate und Ironman-Triathlet; groß, blond und mit einem Haarschnitt wie David Beckham; nach außen hin freundlich und motivierend, entpuppt sich jedoch als arroganter, stereoidverblödeter Typ, der sich über <i>Britta</i>s Unsportlichkeit lustig macht.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Personal Trainers ist																					</label>
																					<input type="text" value="Meik" 
                                name="vars-Trainer_VN" maxlength="30" id="vars-Trainer_VN" 
                                data-fieldname="Trainer_VN" 
                                data-default="Meik" 
                                class="field focuser default" />
							<span class="field_count">43x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mutter der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Ingrid</i>, <i>Britta</i>s Mutter; ruft ihre Tochter bei jeder Gelegenheit an, was <i>Britta</i> zuweilen auf die Nerven geht; liebt ihre Tochter, baut sie auf und glaubt an sie.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Mutter ist																					</label>
																					<input type="text" value="Ingrid" 
                                name="vars-Mutter_VN" maxlength="30" id="vars-Mutter_VN" 
                                data-fieldname="Mutter_VN" 
                                data-default="Ingrid" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Freundin der Mutter</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Heidruth</i>, die beste Freundin von <i>Ingrid</i>; geschwätzig; alleinstehend und das mahnende Beispiel für Frauen, die sich nicht rechtzeitig einen Mann suchen; am Ende scheint jedoch auch sie ihren Prinzen gefunden zu haben.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Freundin der Mutter ist																					</label>
																					<input type="text" value="Heidruth" 
                                name="vars-FreundinMutter_VN" maxlength="30" id="vars-FreundinMutter_VN" 
                                data-fieldname="FreundinMutter_VN" 
                                data-default="Heidruth" 
                                class="field focuser default" />
							<span class="field_count">18x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Polizist und Verehrer der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Andreas Reuther</i>, Polizist, der mit <i>Britta</i> flirtet; hat Grübchen und einen Knackpopo; <i>Britta</i> findet ihn zwar sympathisch, zu einem Date oder einer Annäherung der beiden kommt es aber nicht.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Polizisten ist																					</label>
																					<input type="text" value="Andreas" 
                                name="vars-Polizist_VN" maxlength="30" id="vars-Polizist_VN" 
                                data-fieldname="Polizist_VN" 
                                data-default="Andreas" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Polizisten ist																					</label>
																					<input type="text" value="Reuther" 
                                name="vars-Polizist_NN" maxlength="30" id="vars-Polizist_NN" 
                                data-fieldname="Polizist_NN" 
                                data-default="Reuther" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">TV-Moderator</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Dieter Wedefenster</i>, Moderator der Sendung 'Kosmos TV'; groß und schlaksig; Anfang 50; randlose Brille.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Moderators ist																					</label>
																					<input type="text" value="Dieter" 
                                name="vars-Moderator_VN" maxlength="30" id="vars-Moderator_VN" 
                                data-fieldname="Moderator_VN" 
                                data-default="Dieter" 
                                class="field focuser default" />
							<span class="field_count">17x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Moderators ist																					</label>
																					<input type="text" value="Wedefenster" 
                                name="vars-Moderator_NN" maxlength="30" id="vars-Moderator_NN" 
                                data-fieldname="Moderator_NN" 
                                data-default="Wedefenster" 
                                class="field focuser default" />
							<span class="field_count">16x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Nachbarin</div>
				<div class="description" style="margin-top: 5px;display:none">Frau <i>Müller</i>, neugierige Nachbarin von <i>Britta</i>, alte, einsame Frau, die ihre Augen und Ohren überall hat.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname der Nachbarin ist																					</label>
																					<input type="text" value="Müller" 
                                name="vars-Nachbarin_NN" maxlength="30" id="vars-Nachbarin_NN" 
                                data-fieldname="Nachbarin_NN" 
                                data-default="Müller" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Berater beim Arbeitsamt</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Fritz Böhme</i>, Berater beim Arbeitsamt; stocksteifer Typ, der <i>Britta</i> nicht wirklich helfen kann.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Arbeitsamtberaters ist																					</label>
																					<input type="text" value="Fritz" 
                                name="vars-Berater_VN" maxlength="30" id="vars-Berater_VN" 
                                data-fieldname="Berater_VN" 
                                data-default="Fritz" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Arbeitsamtberaters ist																					</label>
																					<input type="text" value="Böhme" 
                                name="vars-Berater_NN" maxlength="30" id="vars-Berater_NN" 
                                data-fieldname="Berater_NN" 
                                data-default="Böhme" 
                                class="field focuser default" />
							<span class="field_count">13x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			Die <span class='default Heldin_Haare'>braun</span>haarige und <span class='default Heldin_Augen'>blau</span>äugige <span class='default Heldin_VN'>Britta</span> <span class='default Heldin_NN'>Schmidt</span> staunt nicht schlecht, als sie plötzlich ihre Kündigung in der Hand hält. Das haben sich ihr Chef <span class='default Uebeltaeter_VN'>Olaf</span> <span class='default Uebeltaeter_NN'>Bayer</span> und ihre Kollegin <span class='default Kollegin_VN'>Rita</span> <span class='default Kollegin_NN'>Neureuther</span> ja fein ausgedacht! Zu allem Übel erwischt sie auch noch ihren Freund <span class='default Exfreund_VN'>Thomas</span> <span class='default Exfreund_NN'>Wolmer</span> beim Fremdgehen mit <span class='default Barbie_VN'>Lisa</span> <span class='default Barbie_NN'>Waldesloh</span>. Trösten können sie schließlich nur ihr Kaninchen <span class='default Hase'>Mr. Bunny</span> und ihr Lieblingsfilm <span class='default Heldin_Film'>Kill Bill</span>, denn ihre Mutter <span class='default Mutter_VN'>Ingrid</span> nervt andauernd mit ihrer Freundin <span class='default FreundinMutter_VN'>Heidruth</span> und die neugierige Nachbarin Frau <span class='default Nachbarin_NN'>MÃ¼ller</span> steckt ihre Nase in Dinge, die sie nichts angehen. Der <span class='default Journalist_Haare'>braun</span>haarige und <span class='default Journalist_Augen'>braun</span>äugige TV-Journalist <span class='default Journalist_VN'>Frank</span> <span class='default Journalist_NN'>Heinze</span> macht <span class='default Heldin_VN'>Britta</span> zur Hauptfigur seiner TV-Dokumentation "Nach der Kündigung - 90 Tage der <span class='default Heldin_VN'>Britta</span> <span class='default Heldin_Initiale'>S</span>.", und fortan wird sie von Kameramann <span class='default Kameramann_VN'>Hannes</span> begleitet. In dieser Zeit macht sie Bekanntschaft mit dem netten Polizisten <span class='default Polizist_VN'>Andreas</span> <span class='default Polizist_NN'>Reuther</span>, dem Arbeitsamtberater <span class='default Berater_VN'>Fritz</span> <span class='default Berater_NN'>BÃ¶hme</span>, dem Personal Trainer <span class='default Trainer_VN'>Meik</span> und der Stylistin <span class='default Stylistin_VN'>Maroussia</span> - und <span class='default Exfreund_Initiale'>T</span>. ist bald vergessen! Am Ende wird <span class='default Heldin_VN'>Britta</span>, die bevorzugt das Parfüm <span class='default Heldin_Duft'>Pleasures</span> aufträgt, auch noch zu <span class='default Moderator_VN'>Dieter</span> <span class='default Moderator_NN'>Wedefenster</span> in seine Show eingeladen. 		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

