<?php $expire = 1394166727; /* http://web.personalnovel.local/agb.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>AGB - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="AGB - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<style media="screen">
#left{width:200px;}
#main{margin-left:200px;}
</style>
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/tg.css" media="screen" type="text/css" rel="stylesheet" />
<style>
#main {
padding-right: 0px !important;
} 
</style>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">

<div class="base_header">
<div id="header-links-box">
                        
  <div id="logo"><a href=""></a></div>
   <!--
  <div id="versand"><a href="/service-versand.html"></a></div>
  
  <div class="headerlinks">
      <div id="headerlinkgroup">
      	<a class="hidden" id="basklink"><img title="Warenkorb" kasse="" alt="Warenkorb" src="tl_files/personalnovel_de/static/img/icons/shoppingbag.png"></a>&nbsp;&nbsp;
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So einfach geht‘s</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/newsletter.html">Newsletter</a>&nbsp;|&nbsp; 
        <a style="vertical-align: top;" href="/agb.html">AGB</a>&nbsp;|&nbsp;
        <a style="vertical-align: top;" href="/kontakt.html">Kontakt</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/faq.html">Hilfe</a>&nbsp;
      </div>
  </div>
   -->
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
		<span class="green cartsum" cartsum="105.75">
		105,75</span> 
		<span class="green">EUR </span> <br />inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
    	    	     <a class="cart-link" href="http://web.personalnovel.local/checkout?order=2019810&step=Warenkorb"><img src="tl_files/personalnovel_de/cart.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:1000"></a>
	            
    <div id="cart-detail">
    
        
            <strong>1x 
        Four Degrees North                </strong>
        <span class="green">24,95 EUR</span><br/>
            <strong>1x 
        Die schottische Heilerin                </strong>
        <span class="green">24,95 EUR</span><br/>
            <strong>1x 
        Im Auftrag des Königs                </strong>
        <span class="green">24,95 EUR</span><br/>
            <strong>1x 
        Im Auftrag des Königs                </strong>
        <span class="green">24,95 EUR</span><br/>
        
        <div class="cart-shipping">
        <strong>Versand:</strong> Premium-Versand <span class="green">
        5,95 EUR</span>
    </div>
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->

<style>
#tab-menu li.oktoberfest:hover {
      background-color: hsl(197, 100%, 47%) !important;
  }
  #tab-menu { margin-top: 5px !important }
</style>
<div id="tab-menu">
  <ul>
    <li class='tab-menu-home'><a href="/"><img src="/tl_files/personalnovel_de/static/img/icons/home.png" /></a></li>
   
    <li><a href="/showroom/"><span>Showroom München</span></a></li>
    <li><a title="Weinetiketten" href="/eigenerwein/"><span>Wein &amp; Champagner Etiketten</span></a></li>
      <li><a title="Firmenkunden" href="/kundengeschenke/"><span>Firmenkunden</span></a></li>
    <li><a title="Besondere Anlässe" href="http://www.personalnovel.de/geschenkbuecher/"><span>Besondere Anlässe</span></a></li> 
    <li><a title="Hochzeit" href="/hochzeitsgeschenke"><span>Hochzeit</span></a></li>
    <li><a title="Personalisierte E-Books" href="/personalisierte-ebooks"><span>E-Books</span></a></li>
    <li><a title="Personalisierte Blog" href="/blog"><span>Blog</span></a></li>
      </ul>
  
      <div id="shoplogos" style ="margin-top:-80px;">
    <a href="http://egoo.de/zertifikat/personalnovel" title="Siegel egoo" target="_blank" alt="Siegel egoo"><img height="48" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016" title="Siegel egoo" alt="Siegel egoo"></a>
   <a href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F" target="_blank"><img width="48" height="48" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408" title="Logo Trusted Shops" alt="Logo Trusted Shops"></a>
  </div>
</div>
<div class="kundengeschenke" id="menunav">
<div class="container">

 
<div class='flash-language'>
  <a class='active' onclick="return false" href='' title="Germany"></a>
  <a class='inactive' href='http://www.personalnovel.co.uk' title="United Kingdom"></a>
</div>
<style>
  .flash-language a {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
    width:24px;
    height:24px;
  }
  .flash-language {
    position: absolute;
    left: 20px;
    height: 30px;
    line-height: 30px;
    width: 100px;
  }
  .flash-language .active{
    background:url("/tl_files/personalnovel_de/image/uk/Germany-Flag.png") no-repeat;
  }
  .flash-language .inactive{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag-active.png") no-repeat;
  }
  .flash-language .inactive:hover{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag.png") no-repeat;	
  }
</style>

  <style>.margin-right-menu{float:right; width:130px; /* width: 45px; */ height:24px; }</style>
<div class="margin-right-menu"></div>
<ul class="level_1">
 <!-- <li class="last"><a class="last" title="Black Friday" href="/personalisierte-kinderbuecher/black-Friday_2013">Black Friday</a></li>-->
  <li class="last"><a class="last" title="Weihnachten" href="/weihnachten">Weihnachten</a></li>
  <li><a  title="Kontakt" href="kontakt">Kontakt</a></li>
<!--<li><a title="Personalisierte E-Books" href="/personalisierte-ebooks">E-Books</a></li>-->
  <li ><a  title="Personalisierte Kalender" href="/kalender/">Kalender</a></li>
<li><a title="Personalisierte Geschenkbücher" href="/romane/geschenk-anlass?filter=anlass">Geschenkbücher</a></li>
<li><a title="Personalisierte Jugendbücher" href="/jugendbuecher/">Jugendbücher</a></li>
<li><a title="Personalisierte Kinderbücher" href="/kinderbuecher/">Kinderbücher</a></li>
<li><a title="Klassische Literatur personalisiert" href="/personalisierteklassiker/">Klassiker der Literatur</a></li>
<li class="first"><a class="first" title="Personalisierte Bücher &amp; Romane" href="/romane/">Romane</a></li>
<li class="menunav_first"></li>
</ul>

</div>
</div>
 
</div>
</header>

<div id="container">
<div class="real_content">

<aside id="left">
<div class="inside navigation">

<div class="title_nav"><div class="section ">Geschenk nach Anlass</div></div>
<div class="links ">
        <a href="/geburtstagsgeschenke/" title="personalisierter Geburtstag" class="navitem">Geburtstag</a>
        <a href="/weihnachten/" title="personalisierter Weihnachten" class="navitem">Weihnachten</a>
        <a href="/hochzeitsgeschenke/" title="personalisierter Hochzeit" class="navitem">Hochzeit</a>
       <!-- <a href="/valentinstag/" title="personalisierter Valentinstag" class="navitem">Valentinstag</a>-->
        <a href="/mutterstag/" title="personalisierter Muttertag" class="navitem">Muttertag</a>
       <a href="/romane/geschenk-anlass?filter=anlass" title="personalisierter Roman" class="navitem">Noch mehr Anlässe</a>
       <hr class="spacer">
</div>
<div class="title_nav"><div class="section "> Geschenke für alle </div></div>
 <div class="links ">
	<!--<a href="/romane/geschenk-anlass?filter=anlass" title="personalisierter Roman" class="navitem">Anlass</a>-->
	<a href="/romane/geschenk-alter?filter=alter" title="personalisierter Roman" class="navitem">Je nach Alter</a>
	<a href="/romane/geschenk-sie?Für+wen=Für+sie" title="personalisierter Roman" class="navitem">Frauen in der Hauptrolle</a>
	<a href="/romane/geschenk-ihn?Für+wen=Für+ihn" title="personalisierter Roman" class="navitem">Männer in der Hauptrolle</a>		
	<a href="/romane/geschenk-paare?Für+wen=Für+Paare" title="personalisierter Roman" class="navitem">Für Paare</a>	
	<a href="/romane/geschenk-freunde?Für+wen=Für+Freunde" title="personalisierter Roman" class="navitem">Für Freunde in Freundschaft</a>  
	<a href="/kinderbuecher/" title="personalisierter Roman" class="navitem">Kinderbücher für die Jüngsten</a>
	<a href="/romane/geschenk-teenager?Für+wen=Für+Teenager" title="personalisierter Roman" class="navitem">Teenager- und für Jugendbücher</a>
	<a href="/romane/geschenk-familie?Für+wen=Für+Familie" title="personalisierter Roman" class="navitem">Für die ganze Familie</a>
	<a href="/romane/neuerscheinungen" title="personalisierter Roman" class="navitem">Neu bei PersonalNOVEL</a>
        <hr class="spacer">
</div>
<div class="title_nav"><div class="section "> Geschenkideen </div></div>
 <div class="links ">
	 <a href="/romane/gesamtsortiment" title="personalisierter Roman" class="navitem">Gesamtsortiment</a>
                <a href="/eigenerwein/" title="Weinetiketten" class="navitem">Wein &amp; Champagner</a>
                <a href="/kalender_fuer_2014_2015/" title="Kalender personalisieren" class="navitem">Kalender für 2014</a>
        
       <hr class="spacer">
</div>
<div class="title_nav"><div class="section ">Genres</div></div>
<div class="links ">
	<a href="/romane/krimi-thriller" title="personalisierter Roman" class="navitem">Krimi - Thriller</a>
	<a href="/romane/liebe" title="personalisierter Roman" class="navitem">Liebe</a>
	<a href="/romane/frauen" title="personalisierter Roman" class="navitem">Frauen</a>
	<a href="/romane/historisch" title="personalisierter Roman" class="navitem">Historisch</a>
        <a href="/romane/cameo-klassiker" title="personalisierter Roman" class="navitem">Cameo Klassiker</a>
	<a href="/romane/abenteuer" title="personalisierter Roman" class="navitem">Abenteuer</a>
	<a href="/romane/science-fiction" title="personalisierter Roman" class="navitem">Science - Fiction</a>
	<a href="/romane/mystery-fantasy" title="personalisierter Roman" class="navitem">Mystery - Fantasy</a>
	<a href="/romane/familie-freunde" title="personalisierter Roman" class="navitem">Familie - Freunde</a>
	<a href="/romane/sport-fussball" title="personalisierter Roman" class="navitem">Sport - Fussball</a>
	<a href="/romane/gleichgeschlechtlich" title="personalisierter Roman" class="navitem">Gleichgeschlechtlich</a>
        <a href="/romane/english-books" title="personalisierter Roman" class="navitem">Englische Romane</a>
        <hr class="spacer">
	<!--
  	<a href="/weinetiketten/wines.html?Weinart=Champagner" class="navitem">Champagneretiketten</a>
  	<a href="/weinetiketten/wines.html" class="navitem">Weinetiketten</a>
	<hr class="spacer">
        -->
</div>
<div class="title_nav"><div class="section ">Ihr Buch</div></div>
<div class="links ">
	<a href="romane/personalisierung" title="personalisierter Roman" class="navitem">Personalisierung</a>
        <a href="romane/widmung" title="personalisierter Roman" class="navitem">Widmung</a>
  	<a href="romane/preise-einbaende" title="personalisierter Roman" class="navitem">Einbände &amp; Preise</a>
	<a href="romane/umschlag-gestaltung" title="personalisierter Roman" class="navitem">Umschlag &amp; Gestaltung</a>
        <a href="romane/geschenkbox" title="personalisierter Roman" class="navitem">Geschenkbox</a>
        <a href="romane/galerie" title="personalisierter Roman" class="navitem">Galerie</a>
	<hr class="spacer">
</div>
<div class="title_nav"><div class="section ">Service</div></div>
<div class="links ">
	<a href="/service-versand" title="personalisierter Roman" class="navitem">Liefertermine &amp; Versand </a>
	<a href="/zahlung" title="personalisierter Roman" class="navitem">Zahlung</a>
        <hr class="spacer">
</div>
<div class="title_nav"><div class="section"></div></div>
<div class="navigation centered" style="border-left: 1px solid #E7E6E6;border-right: 1px solid #E7E6E6;margin-bottom:0;">
    <a class="nooutline" href="http://www.personalnovel.de/zahlung" style="padding-left: 0;">
      <img width="198" height="115" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" title="Payment" alt="Payment">
    </a>
</div>
<div class="title_nav"><div class="section ">Kommunikation</div></div>
<div id="social_media">

  <a target="_blank" title="" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659">
    <img title="Folgen Sie uns auf Facebook!" alt="Facebook" src="tl_files/personalnovel_de/static/img/icons/facebook.png">
  </a>
  <a target="_blank" href="http://www.twitter.com/PersonalNOVEL">
  <img alt="Follow PersonalNOVEL on Twitter" src="tl_files/personalnovel_de/static/img/icons/twitter.png" />
  </a>
    <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/youtube.png" />
  </a>
    <a target="_blank" href="http://blog.personalnovel.de/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/google.png" />
  </a>
    <a target="_blank" href="http://pinterest.com/personalnovel/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/p.png" />
  </a>

</div>
<div style="*display:none; ">
  <div style="position:relative; height:160px; width:100%;">
    <div style="position:relative; height:80px; width:100%;">
    	<a href="https://www.facebook.com/PersonaNOVEL" title="PersonaNOVEL" target="_blank">
      	<img style="width:200px; height:80px;" src="/tl_files/personalnovel_de/static/assets/website/teaser_plugin_facebook_like.png">
      	</a>
    </div>
    <div style="position:absolute;margin:-10px 0px 0px 3px; z-index:4; width:195px; ">
      <iframe id='like-pn' src="//www.facebook.com/plugins/like.php?locale=de_DE&href=http%3A%2F%2Fwww.facebook.com%2FPersonaNOVEL&amp;send=false&amp;layout=standard&amp;width=190&amp;show_faces=false&amp;font=tahoma&amp;colorscheme=light&amp;action=like&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:195px; height:70px;" allowTransparency="true"></iframe>
    </div>
    <div style='clear:both;'></div>
  </div>
</div>
<div id="yelp-biz-badge-fsc-8Grwh5KCPCm3cZXlAu5yMw">PersonalNOVEL e.K.</div>
<script type="text/javascript">
 !function(doc, id){
  var js;
  var scriptElement = doc.getElementsByTagName("script")[0];
  if (!doc.getElementById(id)) {
   js = doc.createElement("script");
    js.id = id;
    js.src = "http://dyn.yelpcdn.com/biz_badge_js/fsc/8Grwh5KCPCm3cZXlAu5yMw.js";
    scriptElement.parentNode.insertBefore(js, scriptElement);
  }
} (document, "yelp-biz-badge-script-fsc-8Grwh5KCPCm3cZXlAu5yMw");
</script> 
</div>
</aside>

<section id="main">
<div class="inside">

<article class="mod_article block" id="agb">

<h1 class="ce_headline">Allgemeine Geschäftsbedingungen</h1>

<section class="ce_text block">

<p><a href="tl_files/personalnovel_de/pdf/personalnovel-agb-ab-03.11.2011.pdf">Download AGB als PDF-Datei ab 03.11.2011</a><br> <a href="tl_files/personalnovel_de/pdf/personalnovel-agb-ab-02.11.2009.pdf">Download AGB als PDF-Datei bis 02.11.2011</a><br> <a href="tl_files/personalnovel_de/pdf/personalnovel-agb-ab-10.03.2011.pdf">Download AGB als PDF-Datei bis 09.03.2011</a><br> <a href="tl_files/personalnovel_de/pdf/personalnovel-agb-bis-01.11.2009.pdf">Download AGB als PDF-Datei bis 01.11.2009</a><br> <a href="http://get.adobe.com/reader/">Acrobat Reader zur Ansicht von PDF-Dateien kostenlos herunterladen</a></p>
<h4>Anbieterkennzeichnung:</h4>
<p>PersonalNOVEL e.K.<br> Barer Str. 82<br>80799 München<br> <br> Tel&nbsp; 089 340 77 19 0<br>Fax 089 2555755 13<br> Erreichbarkeit von Montag bis Freitag 09:00 - 18:00<br> <br> E-Mail: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#112;&#x65;&#x72;&#115;&#111;&#110;&#x61;&#x6C;&#110;&#x6F;&#x76;&#101;&#108;&#x2E;&#x64;&#101;">&#105;&#110;&#102;&#111;&#64;&#112;&#x65;&#x72;&#115;&#111;&#110;&#x61;&#x6C;&#110;&#x6F;&#x76;&#101;&#108;&#x2E;&#x64;&#101;</a><br> <br> Handelsregister: HRA 93609 Amtsgericht München<br> USt.-IdNr.: DE 228470665<br> <br> Inhaber: Jan-Christoph Goetze, München</p>
<div align="right">Stand: 03.11.2011</div>
<ul>
<li><a href="agb.html#p0">Präambel</a></li>
<li><a href="agb.html#p1">§ 1 Geltungsbereich</a></li>
<li><a href="agb.html#p2">§ 2 Produktauswahl</a></li>
<li><a href="agb.html#p3">§ 3 Preise</a></li>
<li><a href="agb.html#p4">§ 4 Vertragsschluss</a></li>
<li><a href="agb.html#p5">§ 5 Zahlungsbedingungen</a></li>
<li><a href="agb.html#p6">§ 6 Lieferung</a></li>
<li><a href="agb.html#p7">§ 7 Eigentumsvorbehalt</a></li>
<li><a href="agb.html#p8">§ 8 Widerruf</a></li>
<li><a href="agb.html#p9">§ 9 Gewährleistung</a></li>
<li><a href="agb.html#p10">§ 10 Haftung</a></li>
<li><a href="agb.html#p11">§ 11 Urheberrecht</a></li>
<li><a href="agb.html#p12">§ 12 Schlussbestimmungen</a></li>
</ul>
<hr>
<h4 id="p0">Präambel</h4>
<p>PersonalNOVEL betreibt unter der Domain www.personalnovel.de eine Website, auf der personalisierte Bücher und andere personalisierte Artikel sowie Gutscheine zum Kauf über das Internet angeboten werden. Die oben genannte Adresse ist die ladungsfähige Anschrift von PersonalNOVEL. Die nachfolgenden Geschäftsbedingungen können vom Kunden abgerufen und gespeichert werden.</p>
<h4 id="p1">§ 1 Geltungsbereich</h4>
<p>(I) Unsere Geschäftsbedingungen gelten ausschließlich; entgegenstehende oder von unseren Geschäftsbedingungen abweichende Bedingungen des Kunden erkennen wir nicht an, es sei denn, wir haben ausdrücklich schriftlich ihrer Geltung zugestimmt.</p>
<p>(II) Alle Vereinbarungen, die zwischen uns und dem Kunden zwecks Ausführung des Vertrages getroffen werden, sind in diesem Vertrag schriftlich niedergelegt. Mündliche Abreden sind nicht getroffen.</p>
<h4 id="p2">§ 2 Produktauswahl</h4>
<p>(I) Der Kunde hat die Möglichkeit, auf unserer Website www.personalnovel.de Bücher und andere Artikel auszuwählen, diese mit seinen persönlichen Angaben zu versehen und zu bestellen. Die Bestellung des Kunden stellt ein Vertragsangebot dar, ein bindender Vertrag ist mit dem Absenden der Bestellung noch nicht geschlossen.</p>
<p>(II) Vor dem Absenden der Bestellung ist der Kunde gehalten, seine Angaben genau zu überprüfen. Hierzu steht am Ende des Bestellvorgangs eine Übersichtsseite mit allen relevanten Daten zur Verfügung. Der Kunde kann seine Angaben ändern und korrigieren, bis er die Bestellung absendet.</p>
<p>(III) Fehler bei der Eingabe der Angaben des Kunden, insbesondere Rechtschreibfehler, können wir nur in sehr begrenztem Umfang überprüfen. Insofern ist eine Haftung für Eingabefehler des Kunden ausdrücklich ausgeschlossen.</p>
<h4 id="p3">§ 3 Preise</h4>
<p>(I) Es gelten die Preise zum Zeitpunkt der Bestellung, siehe auch diese <a href="romane/preise-einbaende.html">Preisübersicht</a>.</p>
<p>(II) Alle angegebenen Preise verstehen sich einschließlich der jeweils zum Zeitpunkt des Vertragsabschlusses gültigen gesetzlichen Mehrwertsteuer.</p>
<p>(III) Die zusätzlich anfallenden Kosten für den <a href="service-versand.html">Versand</a> werden gesondert aufgeführt.</p>
<h4 id="p4">§ 4 Vertragsschluss</h4>
<p>(I) Die Darstellung der Produkte im Online-Shop stellt kein rechtlich bindendes Angebot, sondern einen unverbindlichen Online-Katalog dar. Durch Anklicken des Buttons „Bestellung senden“ geben Sie eine verbindliche Bestellung der im Warenkorb enthaltenen Waren ab. Die Bestätigung des Eingangs Ihrer Bestellung erfolgt zusammen mit der Annahme der Bestellung unmittelbar nach dem Absenden durch eine automatisierte E-Mail. Mit dieser E-Mail-Bestätigung ist der Kaufvertrag zustande gekommen.</p>
<p>(II) Die Annahme erfolgt unter dem Vorbehalt der Verfügbarkeit der bestellten Artikel. Sofern wir die Bestellung (das Angebot) des Kunden nicht annehmen können, wird dies dem Kunden schriftlich bzw. per E-Mail unverzüglich mitgeteilt.</p>
<p>(III) Ihre Daten zur Bestellung werden bei uns gespeichert. Sollten Sie Ihre Unterlagen zu Ihrer Bestellung nicht auffinden, wenden Sie sich bitte per E-Mail/Fax/Telefon an uns. Wir senden Ihnen eine Kopie der Daten Ihrer Bestellung gerne zu.</p>
<h4 id="p5">§ 5 Zahlungsbedingungen</h4>
<p>(I) Der Gesamtpreis, d.h. der Kaufpreis ggf. einschließlich der Mehrwertsteuer und zuzüglich der Versandkosten, wird dem Kunden/in vor Absenden der Bestellung mitgeteilt, in der Auftragsbestätigung bestätigt und ist mit deren Zugang sofort fällig. Alle Zahlungen sind bei Fälligkeit ohne Abzug zu leisten.</p>
<p>(II) Wir akzeptieren nur die im Rahmen des Bestellvorgangs genannten Zahlungsarten. Diese können Sie in dieser Übersicht der <a href="zahlung.html">Zahlungsarten</a> nachschlagen.</p>
<p>(III) Der Druck des Buches bzw. die Herstellung anderer personalisierter Artikel erfolgt grundsätzlich erst nach Zahlungseingang.</p>
<h4 id="p6">§ 6 Lieferung</h4>
<p>(I) Die Lieferung erfolgt an die vom Kunden angegebene Adresse. Die Rechnung wird der Lieferung beigelegt. Teillieferungen sind zulässig, sofern ihre Entgegennahme durch den Kunden nicht mit unverhältnismäßigem Aufwand verbunden ist.</p>
<p>(II) Unsere genannten Termine und Lieferfristen sind Zirkaangaben, sofern wir dem Kunden nicht schriftlich bzw. per E-Mail einen verbindlichen Liefertermin zugesagt haben. Die genannten Termine und Lieferfristen stehen außerdem unter dem Vorbehalt der richtigen und rechtzeitigen Zahlung des Kunden. Sie verlängern sich um die Zeit, in der keine Zahlung bei uns eingeht.</p>
<p>(III) Wir liefern in folgende <a href="service-versand.html#t01">Länder</a>, abhängig von der gewählten Artikelvariante, nach den in <a href="service-versand.html">Liefertermine und Versand</a> angezeigten Zeiten. Für Verzögerungen, die wir nicht zu vertreten haben, insbesondere höhere Gewalt, übernehmen wir keine Haftung. Hier finden Sie eine komplette Übersicht über die <a href="service-versand.html#t01">Liefertermine und Liefergebiete</a>.</p>
<p>(IV) Die Haftung für Lieferverzug richtet sich nach den gesetzlichen Bestimmungen, wobei die Schadensersatzhaftung auf den vorhersehbaren, typischerweise eintretenden Schaden begrenzt ist.</p>
<p>(V) Bei Lieferverzögerungen werden wir Sie umgehend informieren.</p>
<p>(VI) Für Kunden außerhalb der EU: Unter <a href="service-versand.html">Liefertermine und Versand</a> finden Sie die aktuellen Kosten und ungefähren Laufzeiten. Bei Lieferungen in das Nicht-EU Ausland fallen zusätzliche Zölle, Steuern und Gebühren an. Weitere Informationen zu Zöllen finden Sie beispielsweise unter <a href="http://ec.europa.eu/taxation_customs/index_de.htm" target="_blank"> http://ec.europa.eu/taxation_customs/index_de.htm</a> und zur Einfuhrumsatzsteuer unter <a href="http://auskunft.ezt-online.de/" target="_blank"> http://auskunft.ezt-online.de/</a> sowie speziell für die Schweiz unter <a href="http://xtares.admin.ch/tares/login/loginFormFiller.do" target="_blank"> http://xtares.admin.ch/tares/login/loginFormFiller.do</a></p>
<h4 id="p7">§ 7 Eigentumsvorbehalt</h4>
<p>Das Eigentum an den gelieferten Artikeln geht erst nach vollständiger Bezahlung des Gesamtpreises an PersonalNOVEL auf den Kunden über.</p>
<h4 id="p8">§ 8 Widerruf</h4>
<p style="border: 3px solid red;">I. Unsere personalisierten Bücher, personalisierten Wein- und Champagnerflaschen, personalisierten Weinverpackungen und personalisierten Lesezeichen werden nach den persönlichen Wünschen und Angaben unserer Kunden erstellt. Ein Widerrufsrecht besteht daher für diese Artikel gemäß § 312d Abs. 4 Nr. 1 BGB nicht.</p>
<p>II. Für andere von uns angebotene Artikel (z.B. Gutscheine) besteht folgendes Widerrufsrecht:</p>
<p><strong>Widerrufsrecht</strong></p>
<p>Sie können Ihre Vertragserklärung innerhalb von 14 Tagen ohne Angabe von Gründen in Textform (z.B. Brief, Fax, E-Mail) oder - wenn Ihnen die Sache vor Fristablauf überlassen wird - durch Rücksendung der Sache widerrufen.</p>
<p>Die Frist beginnt nach Erhalt dieser Belehrung in Textform, jedoch nicht vor Vertragsschluss und auch nicht vor Eingang der Ware beim Empfänger (bei der wiederkehrenden Lieferung gleichartiger Waren nicht vor Eingang der ersten Teillieferung) und auch nicht vor Erfüllung unserer Informationspflichten gemäß Artikel 246 § 2 in Verbindung mit § 1 Abs. 1 und 2 EGBGB sowie unserer Pflichten gemäß § 312 e Abs. 1 Satz 1 BGB und § 312 g Abs. 1 Satz 1 BGB in Verbindung mit Artikel 246 § 3 EGBGB. Zur Wahrung der Widerrufsfrist genügt die rechtzeitige Absendung des Widerrufs oder der Sache.</p>
<p>Der Widerruf ist zu richten an:</p>
<p>PersonalNOVEL e.K.<br>Barer Str. 82<br>80799 München</p>
<p>Tel&nbsp; 089 340 77 19 0<br>Fax 089 2555755 13<br>&#105;&#110;&#102;&#111;&#64;&#112;&#x65;&#x72;&#115;&#111;&#110;&#x61;&#x6C;&#110;&#x6F;&#x76;&#101;&#108;&#x2E;&#x64;&#101;</p>
<p><strong>Widerrufsfolgen:</strong></p>
<p>Im Falle eines wirksamen Widerrufs sind die beiderseits empfangenen Leistungen zurückzugewähren und ggf. gezogene Nutzungen (z.B. Zinsen) herauszugeben. Können Sie uns die empfangene Leistung sowie Nutzungen (z.B. Gebrauchsvorteile) nicht oder teilweise nicht oder nur in verschlechtertem Zustand zurückgewähren beziehungsweise herausgeben, müssen Sie uns insoweit Wertersatz leisten. Für die Verschlechterung der Sache und für gezogene Nutzungen müssen Sie Wertersatz nur leisten, soweit die Nutzungen oder die Verschlechterung auf einen Umgang mit der Sache zurückzuführen ist, der über die Prüfung der Eigenschaften und der Funktionsweise hinausgeht. Unter "Prüfung der Eigenschaften und der Funktionsweise" versteht man das Testen und Ausprobieren der jeweiligen Ware, wie es etwa im Ladengeschäft möglich und üblich ist.</p>
<p>Paketversandfähige Sachen sind auf unsere Kosten und Gefahr zurückzusenden. Nicht paketversandfähige Sachen werden bei Ihnen abgeholt. Verpflichtungen zur Erstattung von Zahlungen müssen innerhalb von 30 Tagen erfüllt werden. Die Frist beginnt für Sie mit der Absendung Ihrer Widerrufserklärung oder der Sache, für uns mit deren Empfang.</p>
<p><strong>Besondere Hinweise:</strong></p>
<p>Bei einer Dienstleistung erlischt Ihr Widerrufsrecht vorzeitig, wenn der Vertrag von beiden Seiten auf Ihren ausdrücklichen Wunsch vollständig erfüllt ist, bevor Sie Ihr Widerrufsrecht ausgeübt haben.</p>
<p>Ende der Widerrufsbelehrung</p>
<h4 id="p9">§ 9 Gewährleistung</h4>
<p>(I) Rechtschreibfehler, die auf Fehler des Kunden bei der Eingabe beruhen, stellen keinen Mangel dar (vgl. § 2 III). Rechtschreib- und Formatierungsfehler in sehr geringem Umfang, die wir zu vertreten haben, stellen keinen Mangel dar und führen nicht zu einem Gewährleistungsanspruch des Kunden.</p>
<p>(II) Der Kunde teilt uns offensichtliche Mängel umgehend, jedoch spätestens zwei Wochen nach Kenntnis dieser Mängel, mit. Die Mitteilung ist schriftlich bzw. per E-Mail zu richten an unseren Kundendienst:</p>
<pre>      PersonalNOVEL e.K.          www.personalnovel.de
                                Telefon: 089 340 77 19 0
      Barer Str. 82              Telefax: 089 2555755 13
      80799 München               E-Mail: &#105;&#110;&#102;&#111;&#64;&#112;&#x65;&#x72;&#115;&#111;&#110;&#x61;&#x6C;&#110;&#x6F;&#x76;&#101;&#108;&#x2E;&#x64;&#101;
</pre>
<p>(III) Die weitere Abwicklung erfolgt in Absprache mit uns. Zur Prüfung unserer Einstandspflicht hat der Kunde den mangelhaften Artikel zurückzusenden. Der Kunde ist angehalten, den fehlerhaften Artikel als Buch- bzw. Warensendung zu versenden. Die hierfür anfallenden Kosten werden von uns umgehend erstattet. Höhere Versandkosten können wir regelmäßig nicht übernehmen.</p>
<p>(IV) Sofern ein Mangel vorliegt erfolgt in der Regel eine Ersatzlieferung, d.h. bei einem personalisierten Artikel, dass dieser auf unsere Kosten neu gedruckt bzw. hergestellt und geliefert wird.</p>
<p>(V) Sollte die Ersatzlieferung innerhalb einer angemessenen Frist fehlschlagen, hat der Kunde nach seiner Wahl das Recht zu mindern oder vom Vertrag zurückzutreten.</p>
<p>(VI) Die Verjährungsfrist für gesetzliche Mängelansprüche beträgt 2 Jahre und beginnt mit dem Datum der Ablieferung d.h. Empfangnahme der Sache durch den Käufer.</p>
<h4 id="p10">§ 10 Haftung</h4>
<p>(I) Wir haften für Vorsatz und grobe Fahrlässigkeit, auch unserer Erfüllungsgehilfen, jedoch jeweils der Höhe nach begrenzt auf den typischen und vorhersehbaren Schaden.</p>
<p>(II) Die Haftung wegen Verletzung des Lebens, des Körpers oder der Gesundheit sowie die Haftung nach dem Produkthaftungsgesetz bleiben unberührt.</p>
<h4 id="p11">§ 11 Urheberrecht</h4>
<p>(I) Die von uns angebotenen und bereitgestellten Bücher und Vorlagen, einschließlich der Bilder sowie der Titel und Umschläge der Bücher, sind urheberrechtlich geschützt.</p>
<p>(II) Jede vom Urheberrechtsgesetz nicht zugelassene Nutzung bedarf unserer vorherigen Zustimmung. Dies gilt insbesondere für Vervielfältigung, Verbreitung, Bearbeitung und Übersetzung der geschützten Werke.</p>
<h4 id="p12">§ 12 Schlussbestimmungen</h4>
<p>(I) Vertragssprache ist Deutsch.</p>
<p>(II) Sollte eine der vorgenannten Bedingungen nichtig sein oder werden, so bleiben die sonstigen Bestimmungen im Übrigen wirksam.</p>
<p>München, 03.11.2011</p>
<p>Zur <a href="datenschutz.html">Datenschutzerklärung</a></p>
<p>&nbsp; &nbsp;</p>
</section>

</article>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

