<?php $expire = 1407558643; /* http://web.personalnovel.local/checkout/order/2059006.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Bestellung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Bestellung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/checkout.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/checkout.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
		<span class="green cartsum" cartsum="24.95">
		24,95</span> 
		<span class="green">EUR </span> <br />inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
    	    	     <a class="cart-link" href="http://web.personalnovel.local/checkout?order=2059006&step=Warenkorb"><img src="tl_files/personalnovel_de/cart.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:1000"></a>
	            
    <div id="cart-detail">
    
        
            <strong>1x 
        Männer, Jobs und ganz viel Leben!                </strong>
        <span class="green">24,95 EUR</span><br/>
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="checkout">
<!-- indexer::stop -->

<div class="checkout_steps">

	<ul id="progress">
		<li class="first current">Warenkorb</li>
		<li class="">Bestellen</li>
		<li class="">Versand</li>
		<li class="">Bestätigen</li>
		<li class="">Bezahlen</li>
		<li class="last ">Fertig</li>
	</ul>
	<div class="step1">
<form id="step1" method="post" action="/checkout?order=2059006">
	<input type=hidden name="step" value=1 />
	<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		
	<div class="formheader clearfix">
		<div class="left">
			<h1>Warenkorb Übersicht</h1>
			
			<table style="clear: left" id="basket-general-view">
	            <tbody>
	            
	            		            
		        		        																		<tr class="item_cell">
						<td class="text_cell">
							<strong>
							<span class="item_pieces_8090689">1</span>x 
							Männer, Jobs und ganz viel Leben!														</strong>
						</td>
						<td rowspan="3" class="price_cell basket-general-links">
							<a href="/checkout?order=2059006#book_291">Ändern</a>
						</td>
						<td rowspan="3" class="price_cell" id="overview-book-8090689"> 24,95 EUR </td>
						</tr>
						<tr>
							<td class="text_cell">
								Widmung "Standard"							</td>
						</tr>
						<tr>
							<td class="text_cell">
								Standardtitel							</td>
						</tr>
						
												 
						<tr><td colspan='3'></td></tr>
							              
		        </tbody>
	        </table>
	        
	        <div class="summary">
				<div class="right price_cell"><strong>24,95 EUR</strong></div>
				<div class="right" style="margin-right: 20px;"><strogn>Gesamtwert Ihres Einkaufs:</strong></div>
	        </div>
		</div>
		
		<div class="right controls">
			<p>
				<button name="submitter" id="True" class="awesomebutton awesomegreen_gradient checkout-button submit awesomeround" type="button">
					<span><span>Zur Kasse gehen &gt;&gt;</span></span>
				</button>
			</p><br />
			<p>
				<a style="float: right;" class="awesomebutton awesomegreen_gradient onlyjs morebooks awesomeround awesomeoutline" href="/romane/">
					<span><span>Weitere Bücher bestellen</span></span>
				</a>
			</p><br />
			
			<p>
				<a style="margin-top: 0.25em;float:right;" class="awesomebutton awesomegreen_gradient onlyjs morewines awesomeround awesomeoutline" href="/eigenerwein/">
					<span><span>Wein dazu bestellen</span></span>
				</a>
			</p>
		</div>
	</div>
	
	
			
	
	
			
		
		
	
	
	    		
	<hr />
	
	<div class="formbody clearfix">
		<div class="title clearfix">
			<a  name="book_291"></a>
			<h1>
				Männer, Jobs und ganz viel Leben!							</h1>
		</div>
		
		<div class="left">
			<table cellspacing=0 cellpadding=0>
		        <tbody>
				    <tr class="headline">
				      <td class="instruction_label_cell">
				        Übersicht:
				      </td>
				      <td colspan="2" class="instruction_cell">
				        Klicken Sie auf Ihre Eingaben um diese zu modifizieren
				      </td>
				    </tr>
				    <tr class="item_row">
				      <td class="label_cell">
				      				          Personalisierung:
				          				      </td>
				      <td class="text_cell None">
				      	<input type="hidden" name="book-edit-291" value="true" />
				      	
				      					      	<a href="/customize?order=2059006&bookitem=8090689&step=1&edit=1"
				      	    class="edit_link" >
				      					      	
				        				        Vollständig
				        				        </a>				      
				      </td>
				      <td class="price_cell inclusive">
				          inklusive
				      </td>
				    </tr>
				    <tr class="item_row">
				      <td class="label_cell">
				          Widmung:
				      </td>
				      <td class="text_cell None">
				        				                                    <a href="/customize?order=2059006&bookitem=8090689&widmungitem=8090690&step=2&edit=1"
                                class="edit_link">
                                Widmung "Standard"                            </a>
				      					        
				        <br>
				        				        				      </td>
				      <td class="price_cell inclusive">
				          inklusive 
				      </td>
				    </tr>
				    
				    <tr class="item_row">
				      <td class="label_cell">
				          Umschlag:
				      </td>
				      <td class="text_cell None">
				        				                                    <a href="/customize?order=2059006&bookitem=8090689&designitem=8090691&step=4&edit=1"
                                class="edit_link">
                                Standardtitel                            </a>
				      					        
				        <br>
				        				      </td>
				      <td class="price_cell inclusive">
				         inklusive 
				      </td>
				    </tr>
				    
				    				    
				    				    <tr class="item_row">
				      <td class="label_cell">
				          Einband:
				      </td>
				      <td class="text_cell None">
                                                    <a href="/customize?order=2059006&bookitem=8090689&step=3&edit=1"
                                class="edit_link">
                                Taschenbuch 'Edition'                            </a>
				      					        
				        <br>
				      </td>
				      <td class="price_cell ">
				      	  				          24,95 EUR
				      </td>
				    </tr>
				     				    <tr class="item_row">
				      <td class="label_cell">
				          Schrift:
				      </td>
				      <td class="text_cell None">
				                                    <a href="/customize?order=2059006&bookitem=8090689&step=5&edit=1"
                                class="edit_link">
                                New Century Schoolbook                            </a>
				      					        
				      </td>
				      <td class="price_cell inclusive">
				          inklusive
				      </td>
				    </tr>
				    				    				    				    <tr class="item_row">
				      <td class="label_cell">
				          Anzahl:
				      </td>
				      <td class="text_cell None">
				      					        <input type="text"  bookid="8090689" value="1" 
				        name="item_pieces_8090689" 
				        id="item_pieces_8090689" class="n numbook">
				         <span>Stück zu je</span>
				         <span class="single_price_with_upgrades_8090689 price">
				           24,95 EUR
				         </span>
				         <input type="hidden" value="24.95" id="total_8090689">
				      </td>
				      <td class="price_cell ">
						<span class="total_with_upgrades_8090689 price_strong">
														24,95 
						</span>
						EUR
				      </td>
				    </tr>
				    
				    				    
				    				    				    				    				    				    				    <tr class="headline">
				      <th></th>
				      <th colspan="2">Darf es noch etwas sein?</th>
				    </tr>
				    				     <tr class="item_row">
						<td class="label_cell">
													    Geschenkbox
						    						</td>
						<td class="text_cell giftbox">
                                                            <a href="/customize?order=2059006&bookitem=8090689&step=6&edit=1"
                                        class="edit_link">
                                Keine Artikel ausgewählt.
                                </a>
                            						
						</td>
						<td class="price_cell"></td>
				    				    
				    <tr class="linkline">
				      <td colspan="3">
				      
                                                    <a href="/customize?order=2059006&bookitem=8090689&step=6&edit=1"
                                    class="edit_link">
                            Weitere Artikel hinzufügen
                            </a>
                        				        
				      </td>
				    </tr>
				    				    				    
				    				    
				    <tr class="headline">
				      <th></th>
				      <th colspan="2">Versand Ihrer Artikel</th>
				    </tr>
				    <tr class="item_row">
				      <td class="label_cell">
				          Versand:
				      </td>
				      				      <td class="text_cell None">
				        Versandkosten ab 5,95 EUR, <br> innerhalb Deutschlands kostenlos ab 50,00 EUR
				        <br>(Auswahl Lieferort nächste Seite)
				      </td>
				      <td class="price_cell "></td>
				      				    </tr>
				    				    
		        </tbody>
		      </table>
			</div>
			
			<div class="right">
								<div class="tabsdiv">
					<ul class="tabheader clearfix">
						<li><a href="#umschlagbild">Umschlagbild</a></li>
												<li><a href="#widmung">Widmung</a></li>
												<li><a href="#textvorschau">Textvorschau</a></li>
												<li><a href="#personen">
												Personen
												</a></li>
											</ul>
										<div id="umschlagbild">
												<img src="http://preview.personalnovel.de/preview/BookItem/8090689/19d02231338945ed29c52277e1a08b68.png?width=350&shadow=3&1406953843&1406953843" />
										        
				                                    <a href="/customize?order=2059006&bookitem=8090689&designitem=8090691&step=4&edit=1"
                                    class="edit_link">
                            Umschlag&nbsp;ändern</a><br />
				      							
						
						
						<span style="font-size:10px; font-style:italic">Problem mit Bildhochladen? <br />
                            Bitte schicken Sie das Bild an <a href="mailto:technik@personalnovel.de">technik@personalnovel.de</a>
                        </span>
					</div>
															<div id="widmung" style="text-align:center">
												
												<p>
														<a class="lightbox" href="http://preview.personalnovel.de/preview/WidmungItem/7118343/87bfde7fd52b178fe99321e56101801c.png?width=750&text=sdfdsfds&fontface=Century Schoolbook L&fontcolor=black&fontsize=10" >
							<img src="http://preview.personalnovel.de/preview/WidmungItem/7118343/87bfde7fd52b178fe99321e56101801c.png?width=350&text=sdfdsfds&fontface=Century Schoolbook L&fontcolor=black&fontsize=10" />
                            </a>
                            
                                                            <a href="/customize?order=2059006&bookitem=8090689&widmungitem=8090690&step=2&edit=1"
                                    class="edit_link"> 
                                    Widmung ändern</a>
                            							    
						</p>
											</div>
					
										<div id="textvorschau">
					<p><strong>Bitte beachten Sie, dass wir Ihre Daten exakt wie hier angegeben übernehmen.</strong></p>
										<p>Die <span class='default Heldin_Haare'>braun</span>haarige und <span class='default Heldin_Augen'>blau</span>äugige <span class='default Heldin_VN'>dvdv</span> <span class='default Heldin_NN'>dvd</span> staunt nicht schlecht, als sie plötzlich ihre Kündigung in der Hand hält. Das haben sich ihr Chef <span class='default Uebeltaeter_VN'>Olaf</span> <span class='default Uebeltaeter_NN'>Bayer</span> und ihre Kollegin <span class='default Kollegin_VN'>Rita</span> <span class='default Kollegin_NN'>Neureuther</span> ja fein ausgedacht! Zu allem Übel erwischt sie auch noch ihren Freund <span class='default Exfreund_VN'>Thomas</span> <span class='default Exfreund_NN'>Wolmer</span> beim Fremdgehen mit <span class='default Barbie_VN'>Lisa</span> <span class='default Barbie_NN'>Waldesloh</span>. Trösten können sie schließlich nur ihr Kaninchen <span class='default Hase'>Mr. Bunny</span> und ihr Lieblingsfilm <span class='default Heldin_Film'>Kill Bill</span>, denn ihre Mutter <span class='default Mutter_VN'>Ingrid</span> nervt andauernd mit ihrer Freundin <span class='default FreundinMutter_VN'>Heidruth</span> und die neugierige Nachbarin Frau <span class='default Nachbarin_NN'>Müller</span> steckt ihre Nase in Dinge, die sie nichts angehen. Der <span class='default Journalist_Haare'>braun</span>haarige und <span class='default Journalist_Augen'>braun</span>äugige TV-Journalist <span class='default Journalist_VN'>Frank</span> <span class='default Journalist_NN'>Heinze</span> macht <span class='default Heldin_VN'>dvdv</span> zur Hauptfigur seiner TV-Dokumentation "Nach der Kündigung - 90 Tage der <span class='default Heldin_VN'>dvdv</span> <span class='default Heldin_Initiale'>S</span>.", und fortan wird sie von Kameramann <span class='default Kameramann_VN'>Hannes</span> begleitet. In dieser Zeit macht sie Bekanntschaft mit dem netten Polizisten <span class='default Polizist_VN'>Andreas</span> <span class='default Polizist_NN'>Reuther</span>, dem Arbeitsamtberater <span class='default Berater_VN'>Fritz</span> <span class='default Berater_NN'>Böhme</span>, dem Personal Trainer <span class='default Trainer_VN'>Meik</span> und der Stylistin <span class='default Stylistin_VN'>Maroussia</span> - und <span class='default Exfreund_Initiale'>T</span>. ist bald vergessen! Am Ende wird <span class='default Heldin_VN'>dvdv</span>, die bevorzugt das Parfüm <span class='default Heldin_Duft'>Pleasures</span> aufträgt, auch noch zu <span class='default Moderator_VN'>Dieter</span> <span class='default Moderator_NN'>Wedefenster</span> in seine Show eingeladen. </p>
					<center>
					                                <a href="/customize?order=2059006&bookitem=8090689&step=1&edit=1"
                                class="edit_link">
                                Personalisierung&nbsp;ändern</a>
				      	                        
					</center>
					</div>
										
					<div id="personen">
						<p>
							<strong>Bitte beachten Sie, dass wir Ihre Daten exakt wie hier angegeben übernehmen</strong>.
						</p>
						
						<table style="border-collapse: collapse; width: 100%;">
							<tbody>
																								<tr class="item_row">
									<td class="label_cell">Der Vorname der Heldin ist</td>
									<td title="Standardwert" class="text_cell">dvdv</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der Heldin ist</td>
									<td title="Standardwert" class="text_cell">dvd</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der erste Buchstabe des Nachnamens ist</td>
									<td title="Standardwert" class="text_cell">S</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Augenfarbe der Heldin ist</td>
									<td title="Standardwert" class="text_cell">blau</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Haarfarbe der Heldin ist</td>
									<td title="Standardwert" class="text_cell">braun</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Lieblingsfilm der Heldin ist</td>
									<td title="Standardwert" class="text_cell">Kill Bill</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Das Parfüm der Heldin heißt</td>
									<td title="Standardwert" class="text_cell">Pleasures</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Das Kaninchen der Heldin heißt (männl.)</td>
									<td title="Standardwert" class="text_cell">Mr. Bunny</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des TV-Journalisten ist</td>
									<td title="Standardwert" class="text_cell">Frank</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des TV-Journalisten ist</td>
									<td title="Standardwert" class="text_cell">Heinze</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Augenfarbe des TV-Journalisten ist</td>
									<td title="Standardwert" class="text_cell">braun</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Haarfarbe des TV-Journalisten ist</td>
									<td title="Standardwert" class="text_cell">braun</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Ex-Freundes ist</td>
									<td title="Standardwert" class="text_cell">Thomas</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Ex-Freundes ist</td>
									<td title="Standardwert" class="text_cell">Wolmer</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der erste Buchstabe des Vornamens des Ex-Freunds ist</td>
									<td title="Standardwert" class="text_cell">T</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Konkurrentin ist</td>
									<td title="Standardwert" class="text_cell">Lisa</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der Konkurrentin ist</td>
									<td title="Standardwert" class="text_cell">Waldesloh</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Personalchefs ist</td>
									<td title="Standardwert" class="text_cell">Olaf</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Personalchefs ist</td>
									<td title="Standardwert" class="text_cell">Bayer</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Arbeitskollegin ist</td>
									<td title="Standardwert" class="text_cell">Rita</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der Arbeitskollegin ist</td>
									<td title="Standardwert" class="text_cell">Neureuther</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Kameramanns ist</td>
									<td title="Standardwert" class="text_cell">Hannes</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Stylistin ist</td>
									<td title="Standardwert" class="text_cell">Maroussia</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Personal Trainers ist</td>
									<td title="Standardwert" class="text_cell">Meik</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Mutter ist</td>
									<td title="Standardwert" class="text_cell">Ingrid</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Freundin der Mutter ist</td>
									<td title="Standardwert" class="text_cell">Heidruth</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Polizisten ist</td>
									<td title="Standardwert" class="text_cell">Andreas</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Polizisten ist</td>
									<td title="Standardwert" class="text_cell">Reuther</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Moderators ist</td>
									<td title="Standardwert" class="text_cell">Dieter</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Moderators ist</td>
									<td title="Standardwert" class="text_cell">Wedefenster</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Nachname der Nachbarin ist</td>
									<td title="Standardwert" class="text_cell">Müller</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Arbeitsamtberaters ist</td>
									<td title="Standardwert" class="text_cell">Fritz</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Arbeitsamtberaters ist</td>
									<td title="Standardwert" class="text_cell">Böhme</td>
								</tr>
																							<!--
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
															-->
							</tbody>
						</table>
						<br />
						
						                            <a href="/customize?order=2059006&bookitem=8090689&step=1&edit=1"
                                    class="edit_link">
                              Personalisierung&nbsp;ändern
                            </a>
				      							
					</div>
				</div>
			
			</div>
	</div>
	
	<div class="formfooter clearfix">
		<div class="left controls">
            <a onclick="return confirm('&quot; Männer, Jobs und ganz viel Leben! &quot; wirklich löschen?');" style="float: left;width:105px;" class="awesomebutton awesomegreen_gradient onlyjs morebooks awesomeround awesomeoutline" 
            href="/checkout?order=2059006&action=remove&bookitem=8090689">
                <span><span>Buch löschen</span></span>
            </a>
		</div>
		<p class="bookbar_total">
		Gesamtpreis inkl. MWSt zzgl. Versandkosten:<span id="book-8090689" class="amount price smallsum" 
		smallsum="24.95">
		24,95  EUR</span></p>
		
		
		<div class="right controls">
			<a style="float: left;width:169px;" class="awesomebutton awesomegreen_gradient onlyjs morebooks awesomeround awesomeoutline" href="/romane/">
				<span><span>Weitere Bücher bestellen</span></span>
			</a>
			<button name="submitter" style="width:169px;margin-left:10px" class="awesomebutton awesomegreen_gradient checkout-button submit awesomeround" type="button">
					<span><span>Zur Kasse gehen &gt;&gt;</span></span>
			</button>
			
		</div>
	</div>
	
		
	
	
		
		
</form>

</div>

<script language="javascript">
$(document).ready(function(){
    var widmung_warning = false;
    var design_warning  = false;
    $("#step1").submit(function(){
        if(design_warning)
        {
            var msg = "Mindestens einer der Artikel in Ihrem Warenkorb hat:\n\n"
                    + "- keinen geänderten Untertitel/Textaufdruck und/oder\n"
                    + "- keine geänderten Personennamen (sondern vorgegebene Originalnamen)\n\n"
                    + "Bitte geben Sie diese ein, bevor Sie die Bestellung abschließen.";

            alert(msg);
            return false;
        }
        
        if(widmung_warning)
        {
            var msg = "Mindestens einer der Artikel in Ihrem Warenkorb hat:\n\n- keine Widmung und/oder\n- " 
                    + "keinen geänderten Untertitel/Textaufdruck\n\nKlicken Sie auf OK falls dies gewollt " 
                    + "ist, oder auf Abbrechen um den Warenkorb zu bearbeiten.";
            
            if(confirm(msg))
                return true;
            else 
                return false;
        }
        
        return true;
    });
});
</script>					

</div>
<!-- indexer::continue -->
</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

