<?php $expire = 1404291130; /* http://web.personalnovel.local/customize/book/549.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=549">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Entscheidung in Kiew - 1972" src="/tl_files/thumbnail-book/entscheidung-in-kiew-1972-549-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Entscheidung in Kiew - 1972“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-549" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Männliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Mark Marino</i>, Profifu&szlig;baller, der f&uuml;r den Bundesligaverein aus <i>Bremen</i> spielt; Mittelfeldspieler; zeichnet sich durch Zielstrebigkeit, Verl&auml;sslichkeit, Ehrgeiz und Siegeswille aus; gilt als Routinier, der andere mitziehen kann; hofft auf die Chance, f&uuml;r den Europameisterschaftskader von <i>Johannes L&ouml;we</i> nominiert zu werden; zieht sich im Bundesligaduell mit Stuttgart einen B&auml;nderriss zu, woraufhin sein j&uuml;ngerer Kontrahent <i>Christian Stein</i> den Platz in der Nationalelf bekommt; wird schlie&szlig;lich nachnominiert und reist als Ersatzspieler zur Europameisterschaft; bekommt seine Chance im Turnier und erweist sich als echter Teamplayer und Motivator; ist mit <i>Annabell</i> zusammen, liebt sie sehr und m&ouml;chte ihr nach seiner aktiven Zeit ein sch&ouml;nes Leben bieten.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Helden ist																					</label>
																					<input type="text" value="Mark" 
                                name="vars-Held_VN" maxlength="30" id="vars-Held_VN" 
                                data-fieldname="Held_VN" 
                                data-default="Mark" 
                                class="field focuser default" />
							<span class="field_count">738x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Helden ist																					</label>
																					<input type="text" value="Marino" 
                                name="vars-Held_NN" maxlength="30" id="vars-Held_NN" 
                                data-fieldname="Held_NN" 
                                data-default="Marino" 
                                class="field focuser default" />
							<span class="field_count">30x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe des Helden ist																					</label>
																					<input type="text" value="schwarz" 
                                name="vars-Held_Haare" maxlength="30" id="vars-Held_Haare" 
                                data-fieldname="Held_Haare" 
                                data-default="schwarz" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des Helden ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Held_Augen" maxlength="30" id="vars-Held_Augen" 
                                data-fieldname="Held_Augen" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Der Held spielt im Verein der Stadt (Achtung: Name der Stadt, nicht des Vereins!)																					</label>
																					<input type="text" value="Bremen" 
                                name="vars-Held_Verein" maxlength="30" id="vars-Held_Verein" 
                                data-fieldname="Held_Verein" 
                                data-default="Bremen" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Freundin der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Annabell</i>, Freundin von <i>Mark</i>; mochte Fu&szlig;ball anfangs &uuml;berhaupt nicht, unterst&uuml;tzt <i>Mark</i> aber nun, wo sie kann; keine einf&auml;ltige Spielerfrau, sondern <i>Mark</i> eine gleichgestellte Partnerin, die ihm immer ehrlich die Meinung sagt; schlagfertig, witzig und klug; liebt Shoppen und Fotografieren.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Freundin des Helden ist																					</label>
																					<input type="text" value="Annabell" 
                                name="vars-Freundin_VN" maxlength="30" id="vars-Freundin_VN" 
                                data-fieldname="Freundin_VN" 
                                data-default="Annabell" 
                                class="field focuser default" />
							<span class="field_count">175x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Freundin ist																					</label>
																					<input type="text" value="hellbraun" 
                                name="vars-Freundin_Haare" maxlength="30" id="vars-Freundin_Haare" 
                                data-fieldname="Freundin_Haare" 
                                data-default="hellbraun" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Freundin ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Freundin_Augen" maxlength="30" id="vars-Freundin_Augen" 
                                data-fieldname="Freundin_Augen" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Eltern der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Helga</i>, <i>Mark</i>s Mutter; hat ein gutes Verh&auml;ltnis zu ihrem Sohn und dessen Freundin.</br>
<i>Manfred</i>, <i>Mark</i>s Vater; ist selbst der gr&ouml;&szlig;te Fan seines Sohnes.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Mutter ist																					</label>
																					<input type="text" value="Helga" 
                                name="vars-Mutter_VN" maxlength="30" id="vars-Mutter_VN" 
                                data-fieldname="Mutter_VN" 
                                data-default="Helga" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des Vaters ist																					</label>
																					<input type="text" value="Manfred" 
                                name="vars-Vater_VN" maxlength="30" id="vars-Vater_VN" 
                                data-fieldname="Vater_VN" 
                                data-default="Manfred" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Befreundetes Ehepaar</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Sonja</i>, <i>Annabell</i>s beste Freundin; durch sie lernten <i>Annabell</i> und <i>Mark</i> sich kennen; verheiratet mit <i>Jens</i>.<br />
	<i>Jens</i>, <i>Mark</i>s bester Freund; ebenfalls Fu&szlig;baller, aber nur auf Amateurniveau; verheiratet mit <i>Sonja</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des besten Freundes des Helden ist																					</label>
																					<input type="text" value="Jens" 
                                name="vars-Paar_er" maxlength="30" id="vars-Paar_er" 
                                data-fieldname="Paar_er" 
                                data-default="Jens" 
                                class="field focuser default" />
							<span class="field_count">10x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname der Ehefrau des besten Freundes ist																					</label>
																					<input type="text" value="Sonja" 
                                name="vars-Paar_sie" maxlength="30" id="vars-Paar_sie" 
                                data-fieldname="Paar_sie" 
                                data-default="Sonja" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Trainer der Nationalmannschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Johannes L&ouml;we</i>, Bundestrainer; setzt auf junge Spieler und st&ouml;&szlig;t mit seiner Entscheidung f&uuml;r <i>Christian Stein</i> auf viel Unverst&auml;ndnis; freundlich, aber sehr dickk&ouml;pfig, l&auml;sst sich nicht gerne in seine Arbeit reinreden; h&auml;lt flammende Reden und wird w&uuml;tend, wenn seine Spieler nicht die erforderliche Leistung bringen; setzt aber auch auf Teamst&auml;rke und Fair Play.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Trainers ist																					</label>
																					<input type="text" value="Johannes" 
                                name="vars-Bundestrainer_VN" maxlength="30" id="vars-Bundestrainer_VN" 
                                data-fieldname="Bundestrainer_VN" 
                                data-default="Johannes" 
                                class="field focuser default" />
							<span class="field_count">71x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Trainers ist																					</label>
																					<input type="text" value="Löwe" 
                                name="vars-Bundestrainer_NN" maxlength="30" id="vars-Bundestrainer_NN" 
                                data-fieldname="Bundestrainer_NN" 
                                data-default="Löwe" 
                                class="field focuser default" />
							<span class="field_count">122x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Manager der Nationalmannschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Olaf Biermann</i>, Manager der Nationalmannschaft; Repr&auml;sentant des Fu&szlig;ballverbandes; l&auml;dt den kleinen Gl&uuml;cksbringer Freddie zum Finale ein.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Managers ist																					</label>
																					<input type="text" value="Olaf" 
                                name="vars-Manager_VN" maxlength="30" id="vars-Manager_VN" 
                                data-fieldname="Manager_VN" 
                                data-default="Olaf" 
                                class="field focuser default" />
							<span class="field_count">32x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Managers ist																					</label>
																					<input type="text" value="Biermann" 
                                name="vars-Manager_NN" maxlength="30" id="vars-Manager_NN" 
                                data-fieldname="Manager_NN" 
                                data-default="Biermann" 
                                class="field focuser default" />
							<span class="field_count">34x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Rivale der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Christian Stein</i>, Fu&szlig;balltalent ohne internationale Erfahrung; foult <i>Mark</i> in dem wichtigen Duell zwischen <i>Bremen</i> und <i>Stuttgart</i>, dem auch Bundestrainer <i>Johannes L&ouml;we</i> beiwohnt; wird anstelle von <i>Mark</i> f&uuml;r die Nationalmannschaft nominiert; junger Hei&szlig;sporn, der sich gerne mal selbst &uuml;bersch&auml;tzt; macht einige Fehler in den ersten Spielen, sodass er schlie&szlig;lich f&uuml;r ein Spiel gesperrt wird; l&auml;sst seine ganze Wut an <i>Mark</i> aus und zieht sogar in der Presse &uuml;ber ihn her; am Ende raufen sich die beiden jedoch zusammen und holen gemeinsam den Pokal.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Rivalen ist																					</label>
																					<input type="text" value="Christian" 
                                name="vars-Kontrahent_VN" maxlength="30" id="vars-Kontrahent_VN" 
                                data-fieldname="Kontrahent_VN" 
                                data-default="Christian" 
                                class="field focuser default" />
							<span class="field_count">156x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Rivalen ist																					</label>
																					<input type="text" value="Stein" 
                                name="vars-Kontrahent_NN" maxlength="30" id="vars-Kontrahent_NN" 
                                data-fieldname="Kontrahent_NN" 
                                data-default="Stein" 
                                class="field focuser default" />
							<span class="field_count">61x</span>
						</div>
											<div class="field">
							<label>
							Der Rivale spielt für den Verein der Stadt (Achtung: Name der Stadt, nicht des Vereins!)																					</label>
																					<input type="text" value="Stuttgart" 
                                name="vars-Kontrahent_Verein" maxlength="30" id="vars-Kontrahent_Verein" 
                                data-fieldname="Kontrahent_Verein" 
                                data-default="Stuttgart" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Torwarte der Nationalmannschaft</div>
				<div class="description" style="margin-top: 5px;display:none">i>Frank Falke</i>, 1. Torwart der Nationalmannschaft; <i>Mark</i>s Zimmerkollege; fr&ouml;hlicher Typ und ein echter Sympathietr&auml;ger; spielt leidenschaftlich gern mit der Spielkonsole; setzt sich f&uuml;r <i>Mark</i> ein, als diesem die Suspendierung droht; als Torwart ist er reaktionsschnell und umsichtig, gilt allerdings nicht gerade als Elfmetert&ouml;ter; h&auml;lt im Finale den entscheidenden Ball.</br>
<i>Toni Riese</i>, Ersatztorwart der Nationalmannschaft; Vereinskollege von <i>Mark</i> bei Bremen; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Torwarts ist																					</label>
																					<input type="text" value="Frank" 
                                name="vars-Torwart1_VN" maxlength="30" id="vars-Torwart1_VN" 
                                data-fieldname="Torwart1_VN" 
                                data-default="Frank" 
                                class="field focuser default" />
							<span class="field_count">59x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Torwarts ist																					</label>
																					<input type="text" value="Falke" 
                                name="vars-Torwart1_NN" maxlength="30" id="vars-Torwart1_NN" 
                                data-fieldname="Torwart1_NN" 
                                data-default="Falke" 
                                class="field focuser default" />
							<span class="field_count">16x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des Ersatztorwarts ist																					</label>
																					<input type="text" value="Toni" 
                                name="vars-Torwart2_VN" maxlength="30" id="vars-Torwart2_VN" 
                                data-fieldname="Torwart2_VN" 
                                data-default="Toni" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Ersatztorwarts ist																					</label>
																					<input type="text" value="Riese" 
                                name="vars-Torwart2_NN" maxlength="30" id="vars-Torwart2_NN" 
                                data-fieldname="Torwart2_NN" 
                                data-default="Riese" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Abwehr der Nationalmannschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Clemens L&auml;hm</i>, rechter Au&szlig;enverteidiger der Nationalmannschaft; kleine Rolle.<br />
	<i>Philipp Fritz</i>, linker Au&szlig;enverteidiger der Nationalmannschaft; fr&uuml;herer Vereinskollege und guter Freund von <i>Mark</i>; kleine Rolle.<br />
	<i>Peter Baumann</i>, Innenverteidiger der Nationalmannschaft; gro&szlig; gewachsen; ein sehr erfahrener Spieler; fr&uuml;herer Vereinskollege und guter Freund von <i>Mark</i>; kleine Rolle.<br />
	<i>Sebastian Tr&ouml;dl</i>, Innenverteidiger der Nationalmannschaft; gro&szlig; gewachsen; junger Spieler; kleine Rolle.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des rechten Außenverteidigers ist																					</label>
																					<input type="text" value="Clemens" 
                                name="vars-AussenRechts_VN" maxlength="30" id="vars-AussenRechts_VN" 
                                data-fieldname="AussenRechts_VN" 
                                data-default="Clemens" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des rechten Außenverteidigers ist 																					</label>
																					<input type="text" value="Lähm" 
                                name="vars-AussenRechts_NN" maxlength="30" id="vars-AussenRechts_NN" 
                                data-fieldname="AussenRechts_NN" 
                                data-default="Lähm" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des linken Außenverteidigers ist 																					</label>
																					<input type="text" value="Philipp" 
                                name="vars-AussenLinks_VN" maxlength="30" id="vars-AussenLinks_VN" 
                                data-fieldname="AussenLinks_VN" 
                                data-default="Philipp" 
                                class="field focuser default" />
							<span class="field_count">10x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des linken Außenverteidigers ist																					</label>
																					<input type="text" value="Fritz" 
                                name="vars-AussenLinks_NN" maxlength="30" id="vars-AussenLinks_NN" 
                                data-fieldname="AussenLinks_NN" 
                                data-default="Fritz" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des rechten Innenverteidigers ist																					</label>
																					<input type="text" value="Peter" 
                                name="vars-InnenRechts_VN" maxlength="30" id="vars-InnenRechts_VN" 
                                data-fieldname="InnenRechts_VN" 
                                data-default="Peter" 
                                class="field focuser default" />
							<span class="field_count">20x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des rechten Innenverteidigers ist																					</label>
																					<input type="text" value="Baumann" 
                                name="vars-InnenRechts_NN" maxlength="30" id="vars-InnenRechts_NN" 
                                data-fieldname="InnenRechts_NN" 
                                data-default="Baumann" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des linken Innenverteidigers ist																					</label>
																					<input type="text" value="Sebastian" 
                                name="vars-InnenLinks_VN" maxlength="30" id="vars-InnenLinks_VN" 
                                data-fieldname="InnenLinks_VN" 
                                data-default="Sebastian" 
                                class="field focuser default" />
							<span class="field_count">18x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des linken Innenverteidigers ist																					</label>
																					<input type="text" value="Trödl" 
                                name="vars-InnenLinks_NN" maxlength="30" id="vars-InnenLinks_NN" 
                                data-fieldname="InnenLinks_NN" 
                                data-default="Trödl" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mittelfeld der Nationalmannschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Michael Pollack</i>, Kapit&auml;n der Nationalmannschaft; sehr gefragter Fu&szlig;ballstar und alter Hase in der Nationalelf; spielt schon die dritte Europameisterschaft; ist verheiratet.<br />
	<i>Paul Denkena</i>, Vorstopper der Nationalmannschaft; erfahrener Spieler und eine gro&szlig;e St&uuml;tze im Team; erleidet w&auml;hrend des Turniers eine Verletzung, die ihn zur&uuml;ckwirft und ihn schlie&szlig;lich den Einsatz im Finale kostet.<br />
<i>Andreas Schmitz</i>, spielt im linken Mittelfeld der Nationalmannschaft; hat eine etwas flapsige Art; kleine Rolle.<br />
	<i>Holger M&uuml;ller</i>, spielt im rechten Mittelfeld der Nationalmannschaft; kleine Rolle.
	</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Kapitäns ist																					</label>
																					<input type="text" value="Michael" 
                                name="vars-Spielmacher_VN" maxlength="30" id="vars-Spielmacher_VN" 
                                data-fieldname="Spielmacher_VN" 
                                data-default="Michael" 
                                class="field focuser default" />
							<span class="field_count">77x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Kapitäns ist																					</label>
																					<input type="text" value="Pollack" 
                                name="vars-Spielmacher_NN" maxlength="30" id="vars-Spielmacher_NN" 
                                data-fieldname="Spielmacher_NN" 
                                data-default="Pollack" 
                                class="field focuser default" />
							<span class="field_count">24x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des Vorstoppers ist																					</label>
																					<input type="text" value="Paul" 
                                name="vars-Vorstopper_VN" maxlength="30" id="vars-Vorstopper_VN" 
                                data-fieldname="Vorstopper_VN" 
                                data-default="Paul" 
                                class="field focuser default" />
							<span class="field_count">51x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Vorstoppers ist																					</label>
																					<input type="text" value="Denkena" 
                                name="vars-Vorstopper_NN" maxlength="30" id="vars-Vorstopper_NN" 
                                data-fieldname="Vorstopper_NN" 
                                data-default="Denkena" 
                                class="field focuser default" />
							<span class="field_count">17x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des rechten Mittelfeldspielers ist																					</label>
																					<input type="text" value="Andreas" 
                                name="vars-MitteRechts_VN" maxlength="30" id="vars-MitteRechts_VN" 
                                data-fieldname="MitteRechts_VN" 
                                data-default="Andreas" 
                                class="field focuser default" />
							<span class="field_count">24x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des rechten Mittelfeldspielers ist																					</label>
																					<input type="text" value="Schmitz" 
                                name="vars-MitteRechts_NN" maxlength="30" id="vars-MitteRechts_NN" 
                                data-fieldname="MitteRechts_NN" 
                                data-default="Schmitz" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des linken Mittelfeldspielers ist																					</label>
																					<input type="text" value="Holger" 
                                name="vars-MitteLinks_VN" maxlength="30" id="vars-MitteLinks_VN" 
                                data-fieldname="MitteLinks_VN" 
                                data-default="Holger" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des linken Mittelfeldspielers ist 																					</label>
																					<input type="text" value="Müller" 
                                name="vars-MitteLinks_NN" maxlength="30" id="vars-MitteLinks_NN" 
                                data-fieldname="MitteLinks_NN" 
                                data-default="Müller" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Sturm der Nationalmannschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Mario Meyer</i>, St&uuml;rmer der Nationalmannschaft; Linksfu&szlig;; wird &sbquo;Chancentod&lsquo; genannt, weil er viele gute Chancen verspielt; verletzungs- und grippegeschw&auml;cht ist er gegen Ende des Turniers nicht mehr voll einsatzf&auml;hig.<br />
	<i>Bernd Kloski</i>, St&uuml;rmer der Nationalmannschaft; extrem kopfballstark.<br />
	<i>Mike Lukas</i>, Auswechselspieler der Nationalmannschaft (St&uuml;rmer); bekommt seine Chance, als <i>Mario Meyer</i> ausf&auml;llt; junger Spieler.<br /></div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des 1. Stürmers ('Chancentod') ist																					</label>
																					<input type="text" value="Mario" 
                                name="vars-Stuermer1_VN" maxlength="30" id="vars-Stuermer1_VN" 
                                data-fieldname="Stuermer1_VN" 
                                data-default="Mario" 
                                class="field focuser default" />
							<span class="field_count">32x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des 1. Stürmers ('Chancentod') ist																					</label>
																					<input type="text" value="Meyer" 
                                name="vars-Stuermer1_NN" maxlength="30" id="vars-Stuermer1_NN" 
                                data-fieldname="Stuermer1_NN" 
                                data-default="Meyer" 
                                class="field focuser default" />
							<span class="field_count">16x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des 2., kopfballstarken Stürmers ist																					</label>
																					<input type="text" value="Bernd" 
                                name="vars-Stuermer2_VN" maxlength="30" id="vars-Stuermer2_VN" 
                                data-fieldname="Stuermer2_VN" 
                                data-default="Bernd" 
                                class="field focuser default" />
							<span class="field_count">20x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des 2., kopfballstarken Stürmers ist																					</label>
																					<input type="text" value="Kloski" 
                                name="vars-Stuermer2_NN" maxlength="30" id="vars-Stuermer2_NN" 
                                data-fieldname="Stuermer2_NN" 
                                data-default="Kloski" 
                                class="field focuser default" />
							<span class="field_count">10x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des 3. Stürmers (Ersatzmann) ist																					</label>
																					<input type="text" value="Mike" 
                                name="vars-Stuermer3_VN" maxlength="30" id="vars-Stuermer3_VN" 
                                data-fieldname="Stuermer3_VN" 
                                data-default="Mike" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des 3. Stürmers (Ersatzmann) ist																					</label>
																					<input type="text" value="Lukas" 
                                name="vars-Stuermer3_NN" maxlength="30" id="vars-Stuermer3_NN" 
                                data-fieldname="Stuermer3_NN" 
                                data-default="Lukas" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Verletzter Nationalspieler</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Simon Rolf</i>, junger, sehr talentierter Nationalspieler, der wegen einer Kn&ouml;chelverletzung ausf&auml;llt, woraufhin <i>Mark</i> nachnominiert wird; wird nur erwähnt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des verletzten Nationalspielers ist																					</label>
																					<input type="text" value="Simon" 
                                name="vars-Verletzter_VN" maxlength="30" id="vars-Verletzter_VN" 
                                data-fieldname="Verletzter_VN" 
                                data-default="Simon" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des verletzten Nationalspielers ist																					</label>
																					<input type="text" value="Rolf" 
                                name="vars-Verletzter_NN" maxlength="30" id="vars-Verletzter_NN" 
                                data-fieldname="Verletzter_NN" 
                                data-default="Rolf" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Chefbetreuer der Nationalmannschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Oskar</i>, Chefbetreuer des Nationalteams; engagierter Mittsechziger; seit &uuml;ber zwanzig Jahren im Team; die gute Seele der Mannschaft; verheiratet.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Chefbetreuers ist																					</label>
																					<input type="text" value="Oskar" 
                                name="vars-Betreuer_VN" maxlength="30" id="vars-Betreuer_VN" 
                                data-fieldname="Betreuer_VN" 
                                data-default="Oskar" 
                                class="field focuser default" />
							<span class="field_count">17x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Journalisten</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Rudi Kraus</i>, aufdringlicher Reporter eines Privatsenders; ist als <i>L&ouml;we</i>-Kritiker bekannt und stellt dem Bundestrainer gern unangenehme Fragen.<br />
	<i>Max Herrlich</i>, ein weiterer Reporter des Privatsenders.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des 1. Reporters ist																					</label>
																					<input type="text" value="Rudi" 
                                name="vars-Reporter1_VN" maxlength="30" id="vars-Reporter1_VN" 
                                data-fieldname="Reporter1_VN" 
                                data-default="Rudi" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des 1. Reporters ist																					</label>
																					<input type="text" value="Kraus" 
                                name="vars-Reporter1_NN" maxlength="30" id="vars-Reporter1_NN" 
                                data-fieldname="Reporter1_NN" 
                                data-default="Kraus" 
                                class="field focuser default" />
							<span class="field_count">13x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des 2. Reporters ist																					</label>
																					<input type="text" value="Max" 
                                name="vars-Reporter2_VN" maxlength="30" id="vars-Reporter2_VN" 
                                data-fieldname="Reporter2_VN" 
                                data-default="Max" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des 2. Reporters ist																					</label>
																					<input type="text" value="Herrlich" 
                                name="vars-Reporter2_NN" maxlength="30" id="vars-Reporter2_NN" 
                                data-fieldname="Reporter2_NN" 
                                data-default="Herrlich" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Viertelfinalgegner</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Russland</i>, Viertelfinalgegner der deutschen Nationalmannschaft; eigentlich starker Gegner, spielen aber ohne den n&ouml;tigen Biss, sind z&ouml;gerlich im Spielaufbau und nur darauf bedacht, keinen Gegentreffer zu kassieren; Endstand 1:0 f&uuml;r Deutschland.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Viertelfinalgegner ist das Land																					</label>
																					<input type="text" value="Russland" 
                                name="vars-Viertelfinale_Land" maxlength="30" id="vars-Viertelfinale_Land" 
                                data-fieldname="Viertelfinale_Land" 
                                data-default="Russland" 
                                class="field focuser default" />
							<span class="field_count">17x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Halbfinalgegner</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Spanien</i>, Halbfinalgegner der deutschen Nationalmannschaft; starke Techniker und ber&uuml;chtigt f&uuml;r ihr Kurzpassspiel; f&uuml;hren lange 1-0; aber kurz vor Schluss gelingt Deutschland der Ausgleich und der Siegtreffer. Endstand 2-1 f&uuml;r Deutschland.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Halbfinalgegner ist das Land																					</label>
																					<input type="text" value="Spanien" 
                                name="vars-Halbfinale_Land" maxlength="30" id="vars-Halbfinale_Land" 
                                data-fieldname="Halbfinale_Land" 
                                data-default="Spanien" 
                                class="field focuser default" />
							<span class="field_count">31x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Topspieler des Halbfinalgegners</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Andreas Iniosta</i>, absoluter Starspieler des <i>spanischen</i> Teams; schnell, technisch hochbegabt und extrem torgef&auml;hrlich; <i>Mark</i>s direkter Gegenspieler im Halbfinale.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Topspielers des Halbfinalgegners ist																					</label>
																					<input type="text" value="Andreas" 
                                name="vars-Topspieler1_VN" maxlength="30" id="vars-Topspieler1_VN" 
                                data-fieldname="Topspieler1_VN" 
                                data-default="Andreas" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Topspielers des Halbfinalgegners ist																					</label>
																					<input type="text" value="Iniosta" 
                                name="vars-Topspieler1_NN" maxlength="30" id="vars-Topspieler1_NN" 
                                data-fieldname="Topspieler1_NN" 
                                data-default="Iniosta" 
                                class="field focuser default" />
							<span class="field_count">13x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Finalgegner</div>
				<div class="description" style="margin-top: 5px;display:none"><i>England</i>, Finalgegner der deutschen Nationalmannschaft; dominieren die Partie gegen Deutschland von Beginn an; f&uuml;hren zur Halbzeit schon 2:0; nach dem Ausgleich in wirklich letzter Minute geht das Spiel in die Verl&auml;ngerung und anschlie&szlig;end ins Elfmeterschie&szlig;en. Endstand 7:6 f&uuml;r Deutschland.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Finalgegner ist das Land																					</label>
																					<input type="text" value="England" 
                                name="vars-Finale_Land" maxlength="30" id="vars-Finale_Land" 
                                data-fieldname="Finale_Land" 
                                data-default="England" 
                                class="field focuser default" />
							<span class="field_count">41x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Topspieler des Finalgegners</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Wayne Rodney</i>, Sturmstar des <i>englischen</i> Teams; mehrfacher Torsch&uuml;tze gegen <i>Tschechien</i>; verschie&szlig;t im Finale den entscheidenden Elfmeter.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Nachname des Topspielers des Finalgegners ist																					</label>
																					<input type="text" value="Rodney" 
                                name="vars-Topspieler2_NN" maxlength="30" id="vars-Topspieler2_NN" 
                                data-fieldname="Topspieler2_NN" 
                                data-default="Rodney" 
                                class="field focuser default" />
							<span class="field_count">17x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des Topspielers des Finalgegners ist																					</label>
																					<input type="text" value="Wayne" 
                                name="vars-Topspieler2_VN" maxlength="30" id="vars-Topspieler2_VN" 
                                data-fieldname="Topspieler2_VN" 
                                data-default="Wayne" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Großer Verlierer der Europameisterschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Tschechien</i>, Halbfinalgegner von <i>England</i>; sind Mitfavoriten, werden in ihrem letzten Spiel aber vorgef&uuml;hrt und verlieren 0:5.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der große Verlierer des Turniers ist das Land (Achtung: Bitte keines der bereits genannten Länder wählen!)																					</label>
																					<input type="text" value="Tschechien" 
                                name="vars-Verlierer_Land" maxlength="30" id="vars-Verlierer_Land" 
                                data-fieldname="Verlierer_Land" 
                                data-default="Tschechien" 
                                class="field focuser default" />
							<span class="field_count">16x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			<span class='default Held_VN'>Mark</span> <span class='default Held_NN'>Marino</span>, ein Fußballprofi mit <span class='default Held_Augen'>braun</span>en Augen und <span class='default Held_Haare'>schwarz</span>en Haaren, hofft darauf, als Nationalspieler für die Europameisterschaft nominiert zu werden. Seine Eltern <span class='default Mutter_VN'>Helga</span> und <span class='default Vater_VN'>Manfred</span> <span class='default Held_NN'>Marino</span> sowie das befreundete Ehepaar <span class='default Paar_sie'>Sonja</span> und <span class='default Paar_er'>Jens</span> drücken ihm die Daumen, besondere Unterstützung aber bekommt er von seiner Freundin <span class='default Freundin_VN'>Annabell</span> mit den <span class='default Freundin_Augen'>braun</span>en Augen und dem <span class='default Freundin_Haare'>hellbraun</span>en Haar. Sie tröstet ihn, als er im Duell <span class='default Held_Verein'>Bremen</span> gegen <span class='default Kontrahent_Verein'>Stuttgart</span> von <span class='default Kontrahent_VN'>Christian</span> <span class='default Kontrahent_NN'>Stein</span>, seinem direkten Konkurrenten um den Platz in der Nationalmannschaft, gefoult und verletzt wird und der EM-Zug scheinbar ohne ihn abfährt. Doch Nationaltrainer <span class='default Bundestrainer_VN'>Johannes</span> <span class='default Bundestrainer_NN'>LÃ¶we</span> und Manager <span class='default Manager_VN'>Olaf</span> <span class='default Manager_NN'>Biermann</span> nominieren <span class='default Held_VN'>Mark</span> schließlich doch noch für ihr Team, als <span class='default Verletzter_VN'>Simon</span> <span class='default Verletzter_NN'>Rolf</span> verletzungsbedingt ausfällt. So fährt <span class='default Held_VN'>Mark</span> zusammen mit Towart <span class='default Torwart1_VN'>Frank</span> <span class='default Torwart1_NN'>Falke</span>, Ersatztorwart <span class='default Torwart2_VN'>Toni</span> <span class='default Torwart2_NN'>Riese</span>, den Abwehrspielern <span class='default AussenRechts_VN'>Clemens</span> <span class='default AussenRechts_NN'>LÃ¤hm</span>, <span class='default AussenLinks_VN'>Philipp</span> <span class='default AussenLinks_NN'>Fritz</span>, <span class='default InnenRechts_VN'>Peter</span> <span class='default InnenRechts_NN'>Baumann</span> und <span class='default InnenLinks_VN'>Sebastian</span> <span class='default InnenLinks_NN'>TrÃ¶dl</span>, den beiden Mittelfeldspielern <span class='default MitteRechts_VN'>Andreas</span> <span class='default MitteRechts_NN'>Schmitz</span> und <span class='default MitteLinks_VN'>Holger</span> <span class='default MitteLinks_NN'>MÃ¼ller</span> sowie den Stürmern <span class='default Stuermer1_VN'>Mario</span> <span class='default Stuermer1_NN'>Meyer</span>, <span class='default Stuermer2_VN'>Bernd</span> <span class='default Stuermer2_NN'>Kloski</span> und <span class='default Stuermer3_VN'>Mike</span> <span class='default Stuermer3_NN'>Lukas</span> nach Polen und in die Ukraine, um den Pokal zu holen. Große Stützen der relativ jungen Mannschaft sind Kapitän <span class='default Spielmacher_VN'>Michael</span> <span class='default Spielmacher_NN'>Pollack</span> und der erfahrene <span class='default Vorstopper_VN'>Paul</span> <span class='default Vorstopper_NN'>Denkena</span>. Auch der Betreuer <span class='default Betreuer_VN'>Oskar</span> ist vom ersten Gruppenspiel an voll im Einsatz. Nach dem Bestehen der Vorrunde besiegt Deutschland im Viertelfinale <span class='default Viertelfinale_Land'>Russland</span> 1:0. Im Halbfinale gegen <span class='default Halbfinale_Land'>Spanien</span> macht ihnen der Topspieler <span class='default Topspieler1_VN'>Andreas</span> <span class='default Topspieler1_NN'>Iniosta</span> das Leben schwer, aber dank des 2:1-Siegs erreicht Deutschland schließlich das Finale. <span class='default Finale_Land'>England</span> besiegt im zweiten Halbfinale <span class='default Verlierer_Land'>Tschechien</span> deutlich mit 5:0, und so kommt es zum großen Showdown zwischen Deutschland und <span class='default Finale_Land'>England</span>. Wird Superstar <span class='default Topspieler2_VN'>Wayne</span> <span class='default Topspieler2_NN'>Rodney</span> den entscheidenen Treffer landen? Oder wird Deutschland am Ende Europameister 2012?		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

