<?php $expire = 1393863481; /* http://web.personalnovel.local/showroom.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Showroom - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Der Showroom ist der Ausstellungsraum für die personalisierbaren Produkte von PersonalNOVEL, dem Spezialist für personalisiert Bücher und Romane.  ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Showroom - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Der Showroom ist der Ausstellungsraum für die personalisierbaren Produkte von PersonalNOVEL, dem Spezialist für personalisiert Bücher und Romane.  " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<style media="screen">
#left{width:200px;}
#right{width:220px;}
#main{margin-left:200px;margin-right:220px;}
</style>
<link rel="stylesheet" href="system/modules/coin_slider/html/css/coin-slider-styles.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="system/modules/coin_slider/html/js/jquery-1.4.1.min.js"></script>
<script src="system/modules/coin_slider/html/js/coin-slider.min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<style>
.base_header {

} 
</style>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">

<div class="base_header">
<div id="header-links-box">
                        
  <div id="logo"><a href="/showroom/"></a></div>
   <!--
  <div id="versand"><a href="/service-versand.html"></a></div>
  
  <div class="headerlinks">
      <div id="headerlinkgroup">
      	<a class="hidden" id="basklink"><img title="Warenkorb" kasse="" alt="Warenkorb" src="tl_files/personalnovel_de/static/img/icons/shoppingbag.png"></a>&nbsp;&nbsp;
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So einfach geht‘s</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/newsletter.html">Newsletter</a>&nbsp;|&nbsp; 
        <a style="vertical-align: top;" href="/agb.html">AGB</a>&nbsp;|&nbsp;
        <a style="vertical-align: top;" href="/kontakt.html">Kontakt</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/faq.html">Hilfe</a>&nbsp;
      </div>
  </div>
   -->
</div>
</div>
<style>
  #tab-menu{left:325px !important;}
</style><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->

<style>
#tab-menu li.oktoberfest:hover {
      background-color: hsl(197, 100%, 47%) !important;
  }
  #tab-menu { margin-top: 5px !important }
</style>
<div id="tab-menu">
  <ul>
    <li><a title="Besondere Anlässe" href="http://www.personalnovel.de/geschenkbuecher/"><span>Besondere Anlässe</span></a></li> 
    <li><a title="Valentinstag" href="http://www.personalnovel.de/valentinstag"><span>Valentinstag</span></a></li>
    <li><a title="Hochzeit" href="/hochzeitsgeschenke"><span>Hochzeit</span></a></li>
   </ul>
</div>
<div class="kundengeschenke" id="menunav">
<div class="container">
<ul class="level_1">
<li class="first"><a class="first" title="Personalisierte Bücher &amp; Romane" href="/romane/">Romane</a></li>
<li><a title="Klassische Literatur personalisiert" href="/personalisierteklassiker/">Klassiker der Literatur</a></li>
<li><a title="Personalisierte Kinderbücher" href="/kinderbuecher/">Kinderbücher</a></li>
<li><a title="Personalisierte Jugendbücher" href="/jugendbuecher/">Jugendbücher</a></li>
<li ><a  title="Personalisierte Kalender" href="/kalender/">Kalender</a></li>
<li><a href="/eigenerwein/" title="Weinetiketten"><span>Wein &amp; Champagner Etiketten</span></a></li>
<li><a href="/kundengeschenke/" title="Firmenkunden"><span>Firmenkunden</span></a></li>
<li class="last"><a href="/personalisierte-ebooks" title="Personalisierte E-Books"><span>E-Books</span></a></li>
</ul>

<div class='flash-language'>
  <a class='active' onclick="return false" href='' title="Germany"></a>
  <a class='inactive' href='http://www.personalnovel.co.uk' title="United Kingdom"></a>
</div>
<style>
  .flash-language a {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
    width:24px;
    height:24px;
  }
  .flash-language {
    position: absolute;
    right: 0px;
    height: 30px;
    line-height: 30px;
    width: 70px;
  }
  .flash-language .active{
    background:url("/tl_files/personalnovel_de/image/uk/Germany-Flag.png") no-repeat;
  }
  .flash-language .inactive{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag-active.png") no-repeat;
  }
  .flash-language .inactive:hover{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag.png") no-repeat;	
  }
</style>

</div>
</div>
 
</div>
</header>

<div id="container">
<div class="real_content">

<aside id="left">
<div class="inside navigation">

<div class="section ">
  Über den Showroom
</div>
<div class="links ">
  <a class="navitem" href="/showroom#">Konzept&nbsp;des&nbsp;Showrooms</a>
  <a class="navitem" href="/showroom#lageplan">Anfahrt&nbsp;zum&nbsp;Showroom</a>
  <a class="navitem" href="/showroom#oeffnungszeiten"> Öffnungszeiten</a>
  <a class="navitem" href="/showroom#oeffnungszeiten">Projekte&nbsp;im&nbsp;Showroom</a>
</div>

<div class="section ">
  Über den Showroom
</div>
<div class="links ">
    <a class="navitem" href="https://www.facebook.com/pages/PersonalNOVEL-Showroom/226708300677929" target="_blank"> Facebook</a>
    <a class="navitem" href="http://www.barer82.de/" target="_blank">Showroom&nbsp;b82&nbsp;Blog</a>
</div>
<div class="title_nav"><div class="section"></div></div>
<div class="navigation centered" style="border-left: 1px solid #E7E6E6;border-right: 1px solid #E7E6E6;margin-bottom:0;">
    <a class="nooutline" href="/zahlung" style="padding-left: 0;">
      <img width="198" height="115" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" title="Payment" alt="Payment">
    </a>
</div>
<div class="title_nav"><div class="section ">Kommunikation</div></div>
<div id="social_media">

  <a target="_blank" title="" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659">
    <img title="Folgen Sie uns auf Facebook!" alt="Facebook" src="tl_files/personalnovel_de/static/img/icons/facebook.png">
  </a>
  <a target="_blank" href="http://www.twitter.com/PersonalNOVEL">
  <img alt="Follow PersonalNOVEL on Twitter" src="tl_files/personalnovel_de/static/img/icons/twitter.png" />
  </a>
    <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/youtube.png" />
  </a>
    <a target="_blank" href="http://blog.personalnovel.de/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/google.png" />
  </a>
    <a target="_blank" href="http://pinterest.com/personalnovel/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/p.png" />
  </a>

</div>
<div style="*display:none; ">
  <div style="position:relative; height:160px; width:100%;">
    <div style="position:relative; height:80px; width:100%;">
    	<a href="https://www.facebook.com/PersonaNOVEL" title="PersonaNOVEL" target="_blank">
      	<img style="width:200px; height:80px;" src="/tl_files/personalnovel_de/static/assets/website/teaser_plugin_facebook_like.png">
      	</a>
    </div>
    <div style="position:absolute;margin:-10px 0px 0px 3px; z-index:4; width:195px; ">
      <iframe id='like-pn' src="//www.facebook.com/plugins/like.php?locale=de_DE&href=http%3A%2F%2Fwww.facebook.com%2FPersonaNOVEL&amp;send=false&amp;layout=standard&amp;width=190&amp;show_faces=false&amp;font=tahoma&amp;colorscheme=light&amp;action=like&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:195px; height:70px;" allowTransparency="true"></iframe>
    </div>
    <div style='clear:both;'></div>
  </div>
</div>
<div id="yelp-biz-badge-fsc-8Grwh5KCPCm3cZXlAu5yMw">PersonalNOVEL e.K.</div>
<script type="text/javascript">
 !function(doc, id){
  var js;
  var scriptElement = doc.getElementsByTagName("script")[0];
  if (!doc.getElementById(id)) {
   js = doc.createElement("script");
    js.id = id;
    js.src = "http://dyn.yelpcdn.com/biz_badge_js/fsc/8Grwh5KCPCm3cZXlAu5yMw.js";
    scriptElement.parentNode.insertBefore(js, scriptElement);
  }
} (document, "yelp-biz-badge-script-fsc-8Grwh5KCPCm3cZXlAu5yMw");
</script> 
</div>
</aside>

<aside id="right">
<div class="inside">
<!-- indexer::stop -->

<script>
    jQuery.noConflict();
    jQuery(function(){
    	
    	 
         jQuery(".random_image_book div.text_image_book").hide();
         jQuery(".random_image_book a").css("opacity","0");

         jQuery(".random_image_book a:first").css("opacity","1");
         jQuery(".random_image_book a:first").css("z-index","2");
         jQuery(".random_image_book div.text_image_book:first").show();

         jQuery(".random_image_book .text_image_book").click(function(){
         	var href = jQuery(this).attr("id");
         	window.location.href = href;
         });
         
          var href_first = jQuery(".random_image_book a:first").attr("href");
          jQuery(".bg_random_image_book a").attr("href",href_first);
          
        var random_image_book=function(){
            var count= jQuery(".random_image_book a").length;
            var items=Math.floor((Math.random()*count));
            jQuery(".random_image_book div.text_image_book").hide();
            
             
             
             jQuery(".random_image_book a").css("z-index","1").animate({opacity:0},1000);
             
             //for webkit
             //for firefox
             if (jQuery.browser.webkit || jQuery.browser.safari || jQuery.browser.opera || jQuery.browser.mozilla) {
		 jQuery(".bg_random_image_book").animate({opacity:0},1000);
	     }
             jQuery(".random_image_book a:eq("+items+")").css("z-index","2").animate({opacity:1},2000);
             var href_img = jQuery(".random_image_book a:eq("+items+")").attr("href");
             jQuery(".bg_random_image_book a").attr("href",href_img);
             jQuery(".random_image_book div.text_image_book:eq("+items+")").show();
             
             //for webkit
             //for firefox
              if (jQuery.browser.webkit || jQuery.browser.safari || jQuery.browser.opera || jQuery.browser.mozilla) {
		 jQuery(".bg_random_image_book").animate({opacity:1},1000);
	     }
        };
        setInterval(random_image_book,12000);
    });

</script>

<!--<style type="text/css">

        .random_image_book {  
            margin:0px auto; 
            height:240px;  
            text-align: center;
            background-color: #F4F4F4;

             }

        .random_image_book .img_image_book {
            text-align:left;
            margin: 0px 20px 0px 32px;
            position:absolute;
            top:0px;
            left:0px;
        }
        .bg_random_image_book {
            text-align:left;
            width:218px;
            height:250px; 
            margin:0px auto;
            background:url("tl_files/personalnovel_de/static/assets/website/Buchvorschau_neu.png") no-repeat scroll 100% 100%;
            background-color: transparent;
            position:absolute;
            left:0px;
            top:0px;
            z-index:100;
            display:none;
        }
        .bg_random_image_book a{
            width:217px;
            height:249px;
            text-decoration: none;
            float:left;
            z-index:1;
        }
        .bg_random_image_book a:hover{
        	 cursor:pointer;
        }

        .random_image_book .text_image_book:hover,.random_image_book a:hover{
        	 cursor:pointer;
        }
        
        .random_image_book a
        {
            left:0; 
            top:0;
            float:left;
            z-index:1; 
            color: #666; 
            text-decoration: none; 
            opacity:1;
            position: absolute;
            width:220px;
            height:240px;
            background:url("tl_files/personalnovel_de/static/assets/website/Buchvorschau_Hintergrund_Explorer.png") no-repeat scroll 100% 100%;
            background-color: transparent;
        }
        .random_image_book .title_image_book
        { 
            padding:0px 10px 0px 10px;
            color: #404040;
            font-style: normal;
            font-size: 1.5em; 
            text-decoration: none; 
            margin-top: 5px;
            margin-left:2%;
            display:none;
        }

        .random_image_book .text_image_book { 
            padding:5px 20px;
            width:180px;
            font-family: Arial;
            font-size: 12px;
            z-index:103;
            text-align:center;
            position:absolute;
            color:#707070;
            display:none;
            left:0px;
            top:0px;
            background-color: transparent;
        }
         .random_image_book a img{
             height:183px;
             width:122px;
             margin:46px 0px 0px 11px;
             *margin:46px 0px 0px 11px;
             *height:183px;
             left:0px;
             top:0px;
              
        }
        
        .random_image_book a:hover{ text-decoration: none; }

         @-moz-document url-prefix() { 
            .bg_random_image_book {
                display:block;
            }
            .random_image_book a{
                background:none;

            }
            .random_image_book a img {
                 height:184px;
                 width:130px;
                 left:0px;
                 top:0px;
                 margin:51px 0px 0px 3px;
                -moz-transform: matrix(1, 0.07, 0, 1, 0, 0);
                }

          }
        @media screen and (-webkit-min-device-pixel-ratio:0) {

            .bg_random_image_book {
                display:block;
            }
            .random_image_book a{
                background:none;
            }
            .random_image_book a img {
                 height:184px;
                 width:130px;
                 left:0px;
                 top:0px;
                 margin:51px 0px 0px 3px;
                -moz-transform: matrix3d(1, 0.07, 0, 0, 0, 1, 0, 0, 0, 2, 1, 1, 0, 300, 0, 1);
                transform: matrix3d(1, 0.07, 0, 0, 0, 1, 0, 0, 0, 2, 1, 1, 0, 0, 0, 1);
                -webkit-transform: matrix3d(1, 0.07, 0, 0, 0, 1, 0, 0, 0, 2, 1, 1, 0, 0, 0, 1);
                -o-transform: matrix3d(1, 0, 0, 0.07, 0, 1, 0, 0, 0, 2, 1, 1, 0, 0, 0, 1);
                }

        }
</style>-->

<div class='random_image_book div_box'>
    <div class='title_image_book'>
       
    </div>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/648/so-schnell-kanns-gehen">
                         <b>Empfehlung:</b><br>
            So schnell kann's gehen    </div>
    
    <a href="http://web.personalnovel.local/book/648/so-schnell-kanns-gehen">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/so-schnell-kanns-gehen-648-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/646/mord-muskat">
                         <b>Empfehlung:</b><br>
            Mord &amp; Muskat    </div>
    
    <a href="http://web.personalnovel.local/book/646/mord-muskat">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/mord-muskat-646-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/639/kleiner-kater-grosses-leben">
                         <b>Empfehlung:</b><br>
            Kleiner Kater, großes Leben    </div>
    
    <a href="http://web.personalnovel.local/book/639/kleiner-kater-grosses-leben">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/kleiner-kater-grosses-leben-639-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/637/a-nightcats-prowl">
                         <b>Empfehlung:</b><br>
            A Nightcat's Prowl    </div>
    
    <a href="http://web.personalnovel.local/book/637/a-nightcats-prowl">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/a-nightcats-prowl-637-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/626/hundsurlaub">
                         <b>Empfehlung:</b><br>
            Hundsurlaub    </div>
    
    <a href="http://web.personalnovel.local/book/626/hundsurlaub">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/hundsurlaub-626-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/625/hundsurlaub">
                         <b>Empfehlung:</b><br>
            Hundsurlaub    </div>
    
    <a href="http://web.personalnovel.local/book/625/hundsurlaub">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/hundsurlaub-625-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/612/four-degrees-north">
                         <b>Empfehlung:</b><br>
            Four Degrees North    </div>
    
    <a href="http://web.personalnovel.local/book/612/four-degrees-north">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/four-degrees-north-612-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/611/wo-gehobelt-wird-da-fallen-zaehne">
                         <b>Empfehlung:</b><br>
            Wo gehobelt wird, da fallen Zähne    </div>
    
    <a href="http://web.personalnovel.local/book/611/wo-gehobelt-wird-da-fallen-zaehne">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/wo-gehobelt-wird-da-fallen-zaehne-611-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/610/der-cleopatra-papyrus">
                         <b>Empfehlung:</b><br>
            Der Cleopatra-Papyrus    </div>
    
    <a href="http://web.personalnovel.local/book/610/der-cleopatra-papyrus">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/der-cleopatra-papyrus-610-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/609/die-nulldimension">
                         <b>Empfehlung:</b><br>
            Die Nulldimension    </div>
    
    <a href="http://web.personalnovel.local/book/609/die-nulldimension">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/die-nulldimension-609-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/608/schoen-klug-bewaffnet">
                         <b>Empfehlung:</b><br>
            Schön, Klug, Bewaffnet    </div>
    
    <a href="http://web.personalnovel.local/book/608/schoen-klug-bewaffnet">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/schoen-klug-bewaffnet-608-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/607/prinzen-und-froesche-im-kaufhaus">
                         <b>Empfehlung:</b><br>
            Prinzen und Frösche im Kaufhaus    </div>
    
    <a href="http://web.personalnovel.local/book/607/prinzen-und-froesche-im-kaufhaus">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/prinzen-und-froesche-im-kaufhaus-607-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/602/das-labyrinth-von-sess">
                         <b>Empfehlung:</b><br>
            Das Labyrinth von Sess    </div>
    
    <a href="http://web.personalnovel.local/book/602/das-labyrinth-von-sess">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/das-labyrinth-von-sess-602-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/601/bonny-ann">
                         <b>Empfehlung:</b><br>
            Bonny Ann    </div>
    
    <a href="http://web.personalnovel.local/book/601/bonny-ann">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/bonny-ann-601-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/597/nachtgesandte">
                         <b>Empfehlung:</b><br>
            Nachtgesandte    </div>
    
    <a href="http://web.personalnovel.local/book/597/nachtgesandte">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/nachtgesandte-597-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/586/griessbrei-und-kandierte-chilischoten">
                         <b>Empfehlung:</b><br>
            Grießbrei und kandierte Chilischoten    </div>
    
    <a href="http://web.personalnovel.local/book/586/griessbrei-und-kandierte-chilischoten">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/griessbrei-und-kandierte-chilischoten-586-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/585/stilles-ende-schnelles-erbe">
                         <b>Empfehlung:</b><br>
            Stilles Ende, schnelles Erbe    </div>
    
    <a href="http://web.personalnovel.local/book/585/stilles-ende-schnelles-erbe">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/stilles-ende-schnelles-erbe-585-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/582/die-bruderschaft-des-kondors">
                         <b>Empfehlung:</b><br>
            Die Bruderschaft des Kondors    </div>
    
    <a href="http://web.personalnovel.local/book/582/die-bruderschaft-des-kondors">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/die-bruderschaft-des-kondors-582-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/579/oliver-twist">
                         <b>Empfehlung:</b><br>
            Oliver Twist    </div>
    
    <a href="http://web.personalnovel.local/book/579/oliver-twist">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/oliver-twist-579-detail.png">
            </div>
        </div>
    </a>
        
    <div class='text_image_book' id="http://web.personalnovel.local/book/575/wiesngeister">
                         <b>Empfehlung:</b><br>
            Wiesngeister    </div>
    
    <a href="http://web.personalnovel.local/book/575/wiesngeister">
        <div class="border_image_book">
            <div class='img_image_book'>
            <img src="http://web.personalnovel.local/tl_files/thumbnail-book/wiesngeister-575-detail.png">
            </div>
        </div>
    </a>
    </div>
<div class="bg_random_image_book"><a href=""></a></div>

<!-- indexer::continue -->


  
<div id="help_info" class="div_box_01" >
   
 
   <img class="bewertung" style = " height: 193px; margin: 12px 0 -9px 14px; position: relative; width: 193px;" alt="PersonalNOVEL bewertungen" border="0" src="https://www.trustedshops.com/bewertung/widget/widgets/X2C834FF848E080243F1AFD2A3C74272F.gif"/>

<a target="_blank" href="https://www.trustedshops.de/bewertung/info_X2C834FF848E080243F1AFD2A3C74272F.html" title="Händlerbewertungen von PersonalNOVEL einsehen">
   <img class="bewertung" style = " height: 219px; margin-left: 1px; margin-top: -199px; position: relative; width: 218px;" alt="PersonalNOVEL bewertungen" border="0" src="tl_files/personalnovel_de/static/assets/website/Hintergrund_TrustedShop.png"/>
</a>
</div>

<div class="teaser-blog-pn div_box_01">
  <a href="/blog" title="Blog" target="_blank">
    <img src="tl_files/personalnovel_de/static/assets/website/personalnovel-blog.png" alt="Blog">
  </a>
</div>
 <div id="advantages" class="div_box">
    <h2>Ihre Vorteile</h2>
    <img width="218" height="118" src="/tl_files/personalnovel_de/static/assets/website/120206_Vorteilsbox.png?1329230395" title="Vorteilsbox" alt="Vorteilsbox">
</div>
<div id="help_info" class="div_box_01">
    <a href="/kontakt">
        <img width="218" src="/tl_files/personalnovel_de/img14.png" title="Kontaktbox" alt="Kontaktbox">
    </a>
</div>
<div class="div_box">
    <div class="press_box">
        <h2>Pressestimmen</h2>
        <a href="/pressestimmen.html">
          <img width="200" height="50" src="tl_files/personalnovel_de/static/assets/presselogos/Presse-6.jpg?1320662033" title="Pressestimmen-Logos 6" alt="Pressestimmen-Logos 6">
        </a>
    </div>
</div> 
</div>
</aside>

<section id="main">
<div class="inside">

<article class="mod_article block" id="showroom">

<style>
  .base_header #logo{background-image: url(/tl_files/personalnovel_de/logo_website_showroom.png);width:323px;}
</style><section style='position:relative;'  class="ce_coinSlider block">
    
    
        			
		
        <div id="showroom-slider">
		
        
            <a href="">
                <img alt="" src="tl_files/personalnovel_de/image_slider/Showroom/07032012_slider_frame1.png" />
                               <span></span>
                            </a>
			
        
            <a href="">
                <img alt="" src="tl_files/personalnovel_de/image_slider/Showroom/07032012_slider_frame2.png" />
                               <span></span>
                            </a>
			
        
            <a href="">
                <img alt="" src="tl_files/personalnovel_de/image_slider/Showroom/07032012_slider_frame3.png" />
                               <span></span>
                            </a>
			
        
            <a href="">
                <img alt="" src="tl_files/personalnovel_de/image_slider/Showroom/07032012_slider_frame4.png" />
                               <span></span>
                            </a>
			
                </div>
            
</section>


<script type="text/javascript">
<!--//--><![CDATA[//><!--

jQuery.noConflict();
    jQuery(document).ready(function(){
        jQuery('#showroom-slider').coinslider({
            width : 520,
            height : 250,
            spw : 7,
            sph : 5,
            delay : 3000,
            sDelay : 30,
            opacity : 0.7,
            titleSpeed : 500,
            effect :'random',
                                        navigation : true,
                        links : false,
                        hoverPause : false
                });
});
//--><!]]>
</script>

<h1 class="ce_headline">Showroom barer82 in München –  showcasing personalisierte Bücher &amp; Weine</h1>

<section class="ce_text block">

<h2>Über den Showroom</h2>

<p>“the showroom” von PersonalNOVEL, dem Marktführer für personalisierte Bücher und Romane, liegt mitten im “Akademie- und Galerie Viertel” des Münchner Stadtteils “Maxvorstadt”, nahe den Museen und der Ludwig-Maximilians-Universität.</p>
<p>“the showroom” ist der Ausstellungsraum für die personalisierbaren Produkte von PersonalNOVEL. Es werden Beispiele der personalisierten Romane, Kinderbücher und Geschenkbücher gezeigt , die verschiedenen Materialien und Ausstattungsmöglichkeiten.</p>
<p>Besonderes Augenmerk richtet sich auf die in München vorgenommen Produktion der personalisierten individuellen Wunschetiketten für Wein, Champagner und Prosecco.</p>
<p>Abgerundet wird das Konzept mit wechselnden Ausstellungen und Partnerangeboten vor Ort.</p>
</section>

<section class="ce_text block" id="lageplan">

<h2>Lageplan und Anfahrt</h2>

<p><img src="tl_files/personalnovel_de/static/assets/website/07032012_barer82_map.png?1331137367" alt="" width="520" height="320"></p>
</section>

<section class="ce_text block" id="oeffnungszeiten">

<h2>Öffnungszeiten</h2>

<table>
<tbody>
<tr>
<td>Mo:</td>
<td>12.00-16.00 Uhr</td>
</tr>
<tr>
<td>Di/Mi:</td>
<td>11.00-15.00 Uhr</td>
</tr>
<tr>
<td>Do:</td>
<td>13.00-17.00 Uhr</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>Unsere Öffnungszeiten zum Start der „GLAMOUR Shopping Week 2013“ am Samstag, den 6. April: 10:00 bis 14:00</p>
</section>

<section class="ce_text block">

<h2>Termine und Ausstellungen</h2>

<ul>
<li>06. bis 13. April 2013 Glamour Shopping Week</li>
<li>12. Mai 2013 Muttertag</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
</section>

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

