<?php $expire = 1401789788; /* http://web.personalnovel.local/customize/order/2043261/bookitem/8022544/step/3.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href="http://muttertag.personalnovel.de/"></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
		<span class="green cartsum" cartsum="29.94">
		29,94</span> 
		<span class="green">EUR </span> <br />inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
    	    	      <a class="cart-link"><img src="tl_files/personalnovel_de/cart.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:1000"></a>
	            
    <div id="cart-detail">
    
        
            <strong>1x 
        Die Nulldimension                </strong>
        <span class="green">29,94 EUR</span><br/>
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first ">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="current">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
			<div class="step3">
	<form id="step3" method="post" action="/customize?order=2043261&bookitem=8022544&step=3">
		<input type=hidden name="step" value=3 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
	
		<div class="formheader clearfix">
			<div class="left">
			<h1>Wählen Sie Ihren Einband</h1>
			<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				
				<h1 class="book-price" 
				    old_price="24.95" 
                    price="4.99">
                    29,94 EUR</h1>
				<div class="controls">
										<button value="Weiter zur Umschlagoption &gt;&gt;" name="submitter" id="nextpage" class="awesomebutton awesomegreen_gradient nextpage awesomeround" type="submit">
						<span><span>Weiter zur Umschlagoption &gt;&gt;</span></span>
					</button>
									</div>
			</div>
		</div>
		
		<div class="formdata">
																			<div class="formitem clearfix has_decocover">
					<div class="left">
						<div class="col1">
							<input type="radio" price="24.95" value="424062" 
							name="artikel" id="artikel-0" checked=checked>
							<label for="artikel-0"><span class="article-name">Taschenbuch 'Edition'</span>
								<span class="article-price">24.95 EUR</span>
								<p>
	<em>Als Geschenk f&uuml;r jeden Anlass</em><br />
	Format 13 cm x 19 cm, 212 Seiten<br />
	Stabile Taschenbuchbindung</p>
								<p>
									Herstellung ca.
									<strong>2 Werktage</strong>
									zzgl.
									<a href="popup-versandkosten.html" class="popup-link">
									Versandzeit</a>
								</p>
							</label>
						</div>
						<div class="col2 selected">
																							<div data-decocover="350" class="color-option">
									<input type="radio" value="350" name="decocover" 
									id="decocover-350" data-decocover="350" />
									<a rel="lightbox" href="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=350&height=600&width=410" class="lightbox preview">
										<img src="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=350&height=60&width=42" class="decocover-rect" />
									</a>
								</div>
																<div data-decocover="351" class="color-option">
									<input type="radio" value="351" name="decocover" 
									id="decocover-351" data-decocover="351" />
									<a rel="lightbox" href="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=351&height=600&width=410" class="lightbox preview">
										<img src="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=351&height=60&width=42" class="decocover-rect" />
									</a>
								</div>
																<div data-decocover="216" class="color-option">
									<input type="radio" value="216" name="decocover" 
									id="decocover-216" data-decocover="216" />
									<a rel="lightbox" href="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=216&height=600&width=410" class="lightbox preview">
										<img src="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=216&height=60&width=42" class="decocover-rect" />
									</a>
								</div>
																					</div>
					</div>
					<div class="right">
																		<img title="Beispielfoto: Taschenbuch 'Edition'" alt="Beispielfoto" src="/tl_files/personalnovel_de/static/assets/einbandversionsbilder/version-1-uebersicht_de.jpg" class="version-img" />
																		<img title="Detail vorne" alt="Detail vorne" src="/tl_files/personalnovel_de/static/assets/einbandversionsbilder/version-1-vorne_international.jpg" class="version-img" />
																		<img title="Detail hinten" alt="Detail hinten" src="/tl_files/personalnovel_de/static/assets/einbandversionsbilder/version-1-detail_de.jpg" class="version-img" />
											</div>
				</div>
				
																			<div class="formitem clearfix has_decocover">
					<div class="left">
						<div class="col1">
							<input type="radio" price="29.95" value="424069" 
							name="artikel" id="artikel-1" >
							<label for="artikel-1"><span class="article-name">Taschenbuch XL</span>
								<span class="article-price">29.95 EUR</span>
								<p>
	<em>F&uuml;r Personen, die lieber gr&ouml;&szlig;ere Schrift lesen</em><br />
	Format 15 cm x 22 cm, 212 Seiten<br />
	Stabile Taschenbuchbindung</p>
								<p>
									Herstellung ca.
									<strong>2 Werktage</strong>
									zzgl.
									<a href="popup-versandkosten.html" class="popup-link">
									Versandzeit</a>
								</p>
							</label>
						</div>
						<div class="col2 ">
																							<div data-decocover="350" class="color-option">
									<input type="radio" value="350" name="decocover" 
									id="decocover-350" data-decocover="350" />
									<a rel="lightbox" href="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=350&height=600&width=410" class="lightbox preview">
										<img src="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=350&height=60&width=42" class="decocover-rect" />
									</a>
								</div>
																<div data-decocover="351" class="color-option">
									<input type="radio" value="351" name="decocover" 
									id="decocover-351" data-decocover="351" />
									<a rel="lightbox" href="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=351&height=600&width=410" class="lightbox preview">
										<img src="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=351&height=60&width=42" class="decocover-rect" />
									</a>
								</div>
																<div data-decocover="216" class="color-option">
									<input type="radio" value="216" name="decocover" 
									id="decocover-216" data-decocover="216" />
									<a rel="lightbox" href="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=216&height=600&width=410" class="lightbox preview">
										<img src="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=216&height=60&width=42" class="decocover-rect" />
									</a>
								</div>
																					</div>
					</div>
					<div class="right">
																		<img title="Beispielfoto: Taschenbuch 'Edition'" alt="Beispielfoto" src="/tl_files/personalnovel_de/static/assets/einbandversionsbilder/version-1-uebersicht_de.jpg" class="version-img" />
																		<img title="Detail vorne" alt="Detail vorne" src="/tl_files/personalnovel_de/static/assets/einbandversionsbilder/version-1-vorne_international.jpg" class="version-img" />
																		<img title="Detail hinten" alt="Detail hinten" src="/tl_files/personalnovel_de/static/assets/einbandversionsbilder/version-1-detail_de.jpg" class="version-img" />
											</div>
				</div>
				
																			<div class="formitem clearfix has_decocover">
					<div class="left">
						<div class="col1">
							<input type="radio" price="39.95" value="424064" 
							name="artikel" id="artikel-2" >
							<label for="artikel-2"><span class="article-name">Hardcover 'Liebhaber'</span>
								<span class="article-price">39.95 EUR</span>
								<p>
	<em>Als Geschenk zu einem wichtigen Anlass</em><br />
	Format ca. 13,4 cm x 19,7 cm, 212 Seiten<br />
	Langlebige Ausf&uuml;hrung mit Hochglanz-Umschlag</p>
								<p>
									Herstellung ca.
									<strong>3 Werktage</strong>
									zzgl.
									<a href="popup-versandkosten.html" class="popup-link">
									Versandzeit</a>
								</p>
							</label>
						</div>
						<div class="col2 ">
																							<div data-decocover="350" class="color-option">
									<input type="radio" value="350" name="decocover" 
									id="decocover-350" data-decocover="350" />
									<a rel="lightbox" href="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=350&height=600&width=410" class="lightbox preview">
										<img src="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=350&height=60&width=42" class="decocover-rect" />
									</a>
								</div>
																<div data-decocover="351" class="color-option">
									<input type="radio" value="351" name="decocover" 
									id="decocover-351" data-decocover="351" />
									<a rel="lightbox" href="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=351&height=600&width=410" class="lightbox preview">
										<img src="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=351&height=60&width=42" class="decocover-rect" />
									</a>
								</div>
																<div data-decocover="216" class="color-option">
									<input type="radio" value="216" name="decocover" 
									id="decocover-216" data-decocover="216" />
									<a rel="lightbox" href="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=216&height=600&width=410" class="lightbox preview">
										<img src="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=216&height=60&width=42" class="decocover-rect" />
									</a>
								</div>
																					</div>
					</div>
					<div class="right">
												<img width="110" src="/tl_files/personalnovel_de/static/assets/website/gold-qualitaetssiegel_110x74-1.png" 
							title="Herstellerempfehlung" alt="Herstellerempfehlung"
							class="siegel" style="margin-right: 3px">
																		<img title="Beispielfoto: Taschenbuch 'Edition'" alt="Beispielfoto" src="/tl_files/personalnovel_de/static/assets/einbandversionsbilder/version-2-uebersicht_de.jpg" class="version-img" />
																		<img title="Detail vorne" alt="Detail vorne" src="/tl_files/personalnovel_de/static/assets/einbandversionsbilder/version-2-vorne_international.jpg" class="version-img" />
																		<img title="Detail hinten" alt="Detail hinten" src="/tl_files/personalnovel_de/static/assets/einbandversionsbilder/version-2-detail_de.jpg" class="version-img" />
											</div>
				</div>
				
																			<div class="formitem clearfix has_decocover">
					<div class="left">
						<div class="col1">
							<input type="radio" price="49.95" value="424065" 
							name="artikel" id="artikel-3" >
							<label for="artikel-3"><span class="article-name">Leinen 'Exquisit'</span>
								<span class="article-price">49.95 EUR</span>
								<p>
	<em>Als Geschenk zu einem gehobenen Anlass</em><br />
	Format 13,6 cm x 19,7 cm, 212 Seiten<br />
	Handgebunden mit kirschrotem Leineneinband</p>
								<p>
									Herstellung ca.
									<strong>3 Werktage</strong>
									zzgl.
									<a href="popup-versandkosten.html" class="popup-link">
									Versandzeit</a>
								</p>
							</label>
						</div>
						<div class="col2 ">
																							<div data-decocover="350" class="color-option">
									<input type="radio" value="350" name="decocover" 
									id="decocover-350" data-decocover="350" />
									<a rel="lightbox" href="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=350&height=600&width=410" class="lightbox preview">
										<img src="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=350&height=60&width=42" class="decocover-rect" />
									</a>
								</div>
																<div data-decocover="351" class="color-option">
									<input type="radio" value="351" name="decocover" 
									id="decocover-351" data-decocover="351" />
									<a rel="lightbox" href="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=351&height=600&width=410" class="lightbox preview">
										<img src="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=351&height=60&width=42" class="decocover-rect" />
									</a>
								</div>
																<div data-decocover="216" class="color-option">
									<input type="radio" value="216" name="decocover" 
									id="decocover-216" data-decocover="216" />
									<a rel="lightbox" href="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=216&height=600&width=410" class="lightbox preview">
										<img src="http://preview.personalnovel.de/preview/BookArtikel/424062/23e559b101d537b36350f95617f6e151.png?cover=216&height=60&width=42" class="decocover-rect" />
									</a>
								</div>
																					</div>
					</div>
					<div class="right">
																		<img title="Beispielfoto: Taschenbuch 'Edition'" alt="Beispielfoto" src="/tl_files/personalnovel_de/static/assets/einbandversionsbilder/version-3-uebersicht_de.jpg" class="version-img" />
																		<img title="Detail vorne" alt="Detail vorne" src="/tl_files/personalnovel_de/static/assets/einbandversionsbilder/version-3-vorne_international.jpg" class="version-img" />
																		<img title="Detail hinten" alt="Detail hinten" src="/tl_files/personalnovel_de/static/assets/einbandversionsbilder/version-3-detail_de.jpg" class="version-img" />
											</div>
				</div>
				
						
		</div>
		
		<div class="formfooter clearfix">
			<div class="right controls">
			    				<button value="Weiter zur Umschlagoption &gt;&gt;" name="submitter" id="nextpage" 
				class="awesomebutton awesomegreen_gradient nextpage awesomeround" type="submit">
					<span><span>Weiter zur Umschlagoption &gt;&gt;</span></span>
				</button>
							</div>
		</div>
		
	</form>
</div>

<style>
#preview-tooltip{
	position:absolute;
	border:1px solid #ccc;
	background:#FFF;
	padding:3px;
	display:none;
	color:#fff;
} 
</style>

<script language="javascript">

$(document).ready(function(){

	var decocover_id = 0;

	$(".step3 .has_decocover .left .col1 input").click(function(){
		$(this).parent().parent().children(".col2").addClass("selected");
		setTimeout(updateRadio, 50);
    });
    
    $(".step3 .has_color .left .col1 input").click(function(){
		$(this).parent().parent().children(".col2").addClass("selected");
		$(".step3 .col2 .color-option input[name=decocover]").remove();
		setTimeout(function(){
			if(!$(".step3 .has_color .selected input").is(":checked")) {
				$(".step3 .selected .decocolor-option input:first").attr("checked","checked");
			}
		}, 50);
    });
    
    function updateRadio() {
		$(".step3 .col2 .color-option input[name=decocover]").remove();
		$(".step3 .selected .color-option").each(function(){
			var radioValue = $(this).attr("data-decocover");
			var radio = $("<input type=radio />").attr({
					name: "decocover",
					value: radioValue,
					"data-decocover" : radioValue,
					id: "decocover-" + radioValue
				}).bind("click", function(){
					decocover_id = $(this).val();
				});;
			
			if(decocover_id == radioValue)
				$(radio).attr("checked", "checked");
				
			$(this).children("a").before(radio);
		});
		
		if(!decocover_id) {
			$(".step3 .selected .color-option input:first").attr("checked","checked");
		}
	}
	
	function tooltipPreview() {
		xOffset = 10;
		yOffset = 30;
		$("a.preview").hover(function(e){
			this.t = this.title;
			this.title = "";	
			var c = (this.t != "") ? "<br/>" + this.t : "";
			$("body").append("<p id='preview-tooltip'><img src='"+ this.href +"' alt='Image preview' />"+ c +"</p>");								 
			$("#preview-tooltip")
				.css("top",(e.pageY - xOffset) + "px")
				.css("left",(e.pageX + yOffset) + "px")
				.fadeIn("fast");						
		},
		function(){
			this.title = this.t;	
			$("#preview-tooltip").remove();
		});	
		
		$("a.preview").mousemove(function(e){
			$("#preview-tooltip")
				.css("top",(e.pageY - xOffset) + "px")
				.css("left",(e.pageX + yOffset) + "px");
		});
	}
	
	updateRadio();
	tooltipPreview();
	
});

</script>									
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

