<?php $expire = 1409869401; /* http://web.personalnovel.local/geburtstag/geschenk-freunde.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher als Geschenk zum Geburtstag für Freunde - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL finden Sie personalisierte Bücher und Romane - ein einzigartiges und persönliches Geburtstagsgeschenk für Ihre Freunde!">
<meta name="keywords" content="geburtstagsgeschenke, personalisierte geburtstagsgeschenke, persönliche geburtstagsgeschenke, personalisierte geschenke geburtstag, geburtstag, geschenkideen geburtstag, personalisierte bücher geburtstag, persönliche bücher geburtstag, geburtstagsgeschenke mit namen, geburtstagsgeschenke selber machen, geburtstag geschenke, geschenke geburtstag, geschenke geburtstag bücher, bücher geburtstag, personalisiertes, personalisierte geschenke">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher als Geschenk zum Geburtstag für Freunde - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL finden Sie personalisierte Bücher und Romane - ein einzigartiges und persönliches Geburtstagsgeschenk für Ihre Freunde!" /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<style media="screen">
#left{width:200px;}
#main{margin-left:200px;}
</style>
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/filter_panel.css" media="screen">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/filter_panel.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/tg.css" media="screen" type="text/css" rel="stylesheet" />
<style>
.base_header {

} 

#main {
    padding-left: 25px !important;
    padding-right: 0px !important;
    position: relative;
    margin-left: 200px;
    width: auto;
}

</style>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">

<div class="base_header">
<div id="header-links-box">
                        
  <div id="logo"><a href="/romane/"></a></div>
   <!--
  <div id="versand"><a href="/service-versand.html"></a></div>
  
  <div class="headerlinks">
      <div id="headerlinkgroup">
      	<a class="hidden" id="basklink"><img title="Warenkorb" kasse="" alt="Warenkorb" src="tl_files/personalnovel_de/static/img/icons/shoppingbag.png"></a>&nbsp;&nbsp;
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So einfach geht‘s</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/newsletter.html">Newsletter</a>&nbsp;|&nbsp; 
        <a style="vertical-align: top;" href="/agb.html">AGB</a>&nbsp;|&nbsp;
        <a style="vertical-align: top;" href="/kontakt.html">Kontakt</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/faq.html">Hilfe</a>&nbsp;
      </div>
  </div>
   -->
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->

<style>
#tab-menu li.oktoberfest:hover {
      background-color: hsl(197, 100%, 47%) !important;
  }
  #tab-menu { margin-top: 5px !important }
</style>
<div id="tab-menu">
  <ul>
    <li><a title="Besondere Anlässe" href="geschenkbuecher/"><span>Besondere Anlässe</span></a></li> 
    <li><a title="Valentinstag" href="/muttertag"><span>Muttertag</span></a></li>
    <li><a title="Hochzeit" href="/hochzeitsgeschenke"><span>Hochzeit</span></a></li>
   </ul>
</div>
<!--
<div id="tab-menu">
 
  <ul>
    <li class='tab-menu-home'><a href="http://personalnovel.de"><img src="/tl_files/personalnovel_de/static/img/icons/home.png" /></a></li>
    <li><a href="http://personalnovel.de/showroom/"><span>Showroom München</span></a></li>
    <li><a title="Weinetiketten" href="http://personalnovel.de/eigenerwein/"><span>Wein &amp; Champagner Etiketten</span></a></li>
      <li><a title="Firmenkunden" href="http://personalnovel.de/kundengeschenke/"><span>Firmenkunden</span></a></li>     
      <li><a title="Besondere Anlässe" href="http://www.personalnovel.de/geschenkbuecher/"><span>Besondere Anlässe</span></a></li> 
      <li><a title="Hochzeit" href="/hochzeitsgeschenke"><span>Hochzeit</span></a></li>
      <li><a title="Personalisierte E-Books" href="/personalisierte-ebooks"><span>E-Books</span></a></li>
       <li><a title="Personalisierte Blog" href="/blog"><span>Blog</span></a></li>

  </ul>
  <!--
  <div id="shoplogos" style = "margin-top:-80px;">
    <a href="http://egoo.de/zertifikat/personalnovel" title="Siegel egoo" target="_blank" alt="Siegel egoo"><img height="48" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016" title="Siegel egoo" alt="Siegel egoo"></a>
   <a href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F" target="_blank"><img width="48" height="48" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408" title="Logo Trusted Shops" alt="Logo Trusted Shops"></a>
  </div>
  
</div>
-->
<div class="kundengeschenke" id="menunav">
<div class="container">

 
<div class='flash-language'>
  <a class='active' onclick="return false" href='' title="Germany"></a>
  <a class='inactive' href='http://www.personalnovel.co.uk' title="United Kingdom"></a>
</div>
<style>
  .flash-language a {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
    width:24px;
    height:24px;
  }
  .flash-language {
    position: absolute;
    right: 0px;
    height: 30px;
    line-height: 30px;
    width: 70px;
  }
  .flash-language .active{
    background:url("/tl_files/personalnovel_de/image/uk/Germany-Flag.png") no-repeat;
  }
  .flash-language .inactive{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag-active.png") no-repeat;
  }
  .flash-language .inactive:hover{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag.png") no-repeat;	
  }
</style>

  <style>.margin-right-menu{float:right; width:55px; /* width: 45px; */ height:24px; }</style>
<div class="margin-right-menu"></div>
<ul class="level_1">
 <!-- <li class="last"><a class="last" title="Black Friday" href="/personalisierte-kinderbuecher/black-Friday_2013">Black Friday</a></li>-->
  <li class="active" ><a style="color:white" href="/geburtstagsgeschenke/" title="Geburtstag">Geburtstag</a></li>
  <li><a  title="Weihnachten" href="/weihnachten">Weihnachten</a></li>
  <li><a  title="Kontakt" href="kontakt">Kontakt</a></li>
<!--<li><a title="Personalisierte E-Books" href="/personalisierte-ebooks">E-Books</a></li>-->
  <li ><a  title="Personalisierte Kalender" href="/kalender/">Kalender</a></li>
<li><a title="Personalisierte Geschenkbücher" href="/romane/geschenk-anlass?filter=anlass">Geschenkbücher</a></li>
<li><a title="Personalisierte Jugendbücher" href="/jugendbuecher/">Jugendbücher</a></li>
<li><a title="Personalisierte Kinderbücher" href="/kinderbuecher/">Kinderbücher</a></li>
<li><a title="Klassische Literatur personalisiert" href="/personalisierteklassiker/">Klassiker der Literatur</a></li>
<li class="first"><a class="first" title="Personalisierte Bücher &amp; Romane" href="/romane/">Romane</a></li>
<li class="menunav_first"></li>
</ul>

</div>
</div> 
</div>
</header>

<div id="container">
<div class="real_content">

<aside id="left">
<div class="inside navigation">

<div class="title_nav"><div class="section ">Geschenk finden</div></div>
<div class="links ">
  <a href="/geburtstag/geschenk-anlass?filter=anlass" title="geburtstag" class="navitem">Anlass</a>
  <a href="/geburtstag/geschenk-alter?filter=alter" title="geburtstag" class="navitem">Alter</a>
  <a href="/geburtstag/geschenk-sie" title="" class="navitem">Frauen</a>
  <a href="/geburtstag/geschenk-ihn" title="" class="navitem">Männer</a>
  <a href="/geburtstag/geschenk-teenager" title="" class="navitem">Teenager</a>
  <a href="/geburtstag/geschenk-paare" title="" class="navitem">Paare</a>
  <a href="/geburtstag/geschenk-familie" title="" class="navitem">Familie</a>
  <a href="/geburtstag/geschenk-freunde" title="" class="navitem">Freunde</a>
  <a href="/geburtstag/neuerscheinungen" title="" class="navitem">Neuerscheinungen</a>
  <a href="/geburtstag/gesamtsortiment" title="" class="navitem">Gesamtsortiment</a>
  <hr class = "spacer"/>
</div>
<div class="title_nav"><div class="section ">Genre</div></div>
<div class="links ">
	
        <a href="/geburtstag/krimi-thriller" title="geburtstag" class="navitem">Krimi - Thriller</a>
	<a href="/geburtstag/liebe" title="geburtstag" class="navitem">Liebe</a>
	
        <a href="/geburtstag/frauen" title="geburtstag" class="navitem">Frauen</a>
	<a href="/geburtstag/historisch" title="geburtstag" class="navitem">Historisch</a>
        <a href="/geburtstag/cameo-klassiker" title="geburtstag" class="navitem">Cameo Klassiker</a>
        <a href="/geburtstag/abenteuer" title="geburtstag" class="navitem">Abenteuer</a>
	<a href="/geburtstag/science-fiction" title="geburtstag" class="navitem">Science - Fiction</a>
        <a href="/geburtstag/mystery-fantasy" title="geburtstag" class="navitem">Mystery - Fantasy</a>
        <a href="/geburtstag/familie-freunde" title="geburtstag" class="navitem">Familie - Freunde</a>
        <a href="/geburtstag/sport-fussball" title="geburtstag" class="navitem">Sport - Fussball</a>
        <a href="/geburtstag/gleichgeschlechtlich" title="geburtstag" class="navitem">Gleichgeschlechtlich</a>
	<a class="navitem" title="" href="/geburtstag/englische-romane">Englische Romane</a>
        <a class="navitem" title="" href="/geburtstag/jugendbuecher">Jugendbücher</a>
      
	<hr class="spacer">
</div>

<div class="title_nav"><div class="section ">Ihr Buch</div></div>
<div class="links ">
	<a href="/geburtstag/personalisierung" title="" class="navitem">Personalisierung</a>
	<a href="geburtstag/widmung" title="personalisierter Roman" class="navitem">Widmung</a>
	<a href="/geburtstag/preise-einbaende" title="" class="navitem">Einbände &amp; Preise</a>
	<a href="/geburtstag/umschlag-gestaltung" title="personalisierter Roman" class="navitem">Umschlag &amp; Gestaltung</a>
        <a href="/geburtstag/galerie" title="personalisierter Roman" class="navitem">Galerie</a>
	<hr class="spacer">
</div>
<div class="title_nav"><div class="section ">Service</div></div>
<div class="links ">
  	<a href="/geburtstag/service-versand" title="" class="navitem">Liefertermine &amp; Versand </a>
	<a href="/geburtstag/zahlung" title="" class="navitem">Zahlung</a>
        <a href="/showroom/" class="navitem"  title="Showroom München">Showroom München</a>
        <hr class="spacer">
</div>
<div class="title_nav"><div class="section"></div></div>
<div class="navigation centered" style="border-left: 1px solid #E7E6E6;border-right: 1px solid #E7E6E6;margin-bottom:0;">
    <a class="nooutline" href="http://www.personalnovel.de/zahlung" style="padding-left: 0;">
      <img width="198" height="115" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" title="Payment" alt="Payment">
    </a>
</div>
<div class="title_nav"><div class="section ">Kommunikation</div></div>
<div id="social_media">

  <a target="_blank" title="" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659">
    <img title="Folgen Sie uns auf Facebook!" alt="Facebook" src="tl_files/personalnovel_de/static/img/icons/facebook.png">
  </a>
  <a target="_blank" href="http://www.twitter.com/PersonalNOVEL">
  <img alt="Follow PersonalNOVEL on Twitter" src="tl_files/personalnovel_de/static/img/icons/twitter.png" />
  </a>
    <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/youtube.png" />
  </a>
    <a target="_blank" href="http://blog.personalnovel.de/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/google.png" />
  </a>
    <a target="_blank" href="http://pinterest.com/personalnovel/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/p.png" />
  </a>

</div>
<div style="*display:none; ">
  <div style="position:relative; height:160px; width:100%;">
    <div style="position:relative; height:80px; width:100%;">
    	<a href="https://www.facebook.com/PersonalNOVEL" title="PersonaNOVEL" target="_blank">
      	<img style="width:200px; height:80px;" src="/tl_files/personalnovel_de/static/assets/website/teaser_plugin_facebook_like.png">
      	</a>
    </div>
    <div style="position:absolute;margin:-10px 0px 0px 3px; z-index:4; width:195px; ">
      <iframe id='like-pn' src="//www.facebook.com/plugins/like.php?locale=de_DE&href=https://www.facebook.com/PersonalNOVEL&amp;send=false&amp;layout=standard&amp;width=190&amp;show_faces=false&amp;font=tahoma&amp;colorscheme=light&amp;action=like&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:195px; height:70px;" allowTransparency="true"></iframe>
    </div>
    <div style='clear:both;'></div>
  </div>
</div>
<div id="yelp-biz-badge-fsc-8Grwh5KCPCm3cZXlAu5yMw">PersonalNOVEL e.K.</div>
<script type="text/javascript">
 !function(doc, id){
  var js;
  var scriptElement = doc.getElementsByTagName("script")[0];
  if (!doc.getElementById(id)) {
   js = doc.createElement("script");
    js.id = id;
    js.src = "http://dyn.yelpcdn.com/biz_badge_js/fsc/8Grwh5KCPCm3cZXlAu5yMw.js";
    scriptElement.parentNode.insertBefore(js, scriptElement);
  }
} (document, "yelp-biz-badge-script-fsc-8Grwh5KCPCm3cZXlAu5yMw");
</script> 
</div>
</aside>

<section id="main">
<div class="inside">

<article class="mod_article block" id="main">

<style>
  #muttertag-menu-main{
    padding:20px 0px;
    height:90px;
  }
  #muttertag-menu-main a{ 
  	text-decoration: none;
        padding:0px; 
        text-align:center;
        width:137px; 
        height:85px; 
        margin-right:20px;
    	float:left;
        background-size:100% 100%;
        }
  #muttertag-menu-main a span{
  	color: #666; 
        font-size:12px; 
        font-family: Arial; 
        height:15px;
    	margin: 3px 3px 0px;
    	width:120px;
    	float:left;
        }
 
  #muttertag-menu-main a:hover{
    background-color:#FFF;
  }
  #muttertag-menu-main a:hover span{
    color: #000; 
  }
</style>
<div id='muttertag-menu-main'>
  <a href='/geburtstag/geschenk-anlass?filter=anlass' style="background-image:url('tl_files/Geburtstag/Geburtstag_Romane.png');"></a>
  <a href='/geburtstag/geschenkbuch?Genre=Geschenkbuch' style="background-image:url('tl_files/personalnovel_de/static/assets/website/Geschenkbucher_passiv.jpg');"></a>
  <a href='/geburtstag/cameo-klassiker' style="background-image:url('tl_files/personalnovel_de/static/assets/website/Klassiker_passiv.jpg');"></a>
 <!-- <a href='/geburtstag/wines' style="background-image:url('tl_files/personalnovel_de/static/assets/website/Wein_passiv.jpg');"></a> -->
  <a href='/geburtstag/kinderbuecher/personalisierung-kostenlos-testen' style="margin-right:0px; background-image:url('tl_files/Geburtstag/Geburtstag_Kinderbuecher.png');"></a>
</div>
<!-- indexer::stop -->


<div class="clear"></div>
<ul class="tag-mega-dropdown" id="tag-mega-dropdown-list">
						<li class="mega" style="z-index: 999;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Alter				</span>
			</span>
						<div class="values col1" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Alter=14+Jahre+und+%C3%A4lter" rel="noindex">
							14 Jahre und älter (6)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Alter=20+bis+30+Jahre" rel="noindex">
							20  -  30 Jahre (32)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Alter=30+bis+40+Jahre" rel="noindex">
							30  -  40 Jahre (37)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Alter=40+bis+50+Jahre" rel="noindex">
							40  -  50 Jahre (24)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Alter=50+bis+60+Jahre" rel="noindex">
							50  -  60 Jahre (17)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Alter=60+bis+70+Jahre" rel="noindex">
							60  -  70 Jahre (8)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Alter=70+bis+80+Jahre" rel="noindex">
							70  -  80 Jahre (5)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 998;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Epoche				</span>
			</span>
						<div class="values col2" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Epoche=19.+Jahrhundert" rel="noindex">
							19. Jahrhundert (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Epoche=Gegenwart" rel="noindex">
							Gegenwart (31)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Epoche=Antike" rel="noindex">
							Antike (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Epoche=16.+Jahrhundert" rel="noindex">
							16. Jahrhundert (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Epoche=Zukunft" rel="noindex">
							Zukunft (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Epoche=20.+Jahrhundert" rel="noindex">
							20. Jahrhundert (2)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 997;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Kulisse				</span>
			</span>
						<div class="values col3" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Herrenhaus" rel="noindex">
							Herrenhaus (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Krankenhaus" rel="noindex">
							Krankenhaus (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Schiff" rel="noindex">
							Schiff (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Hotel" rel="noindex">
							Hotel (7)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Schloss" rel="noindex">
							Schloss (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Anwaltskanzlei" rel="noindex">
							Anwaltskanzlei (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Detektei" rel="noindex">
							Detektei (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Polizeipr%C3%A4sidium" rel="noindex">
							Polizeipräsidium (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Filmstudio" rel="noindex">
							Filmstudio (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Arztpraxis" rel="noindex">
							Arztpraxis (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Golfplatz" rel="noindex">
							Golfplatz (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Firma" rel="noindex">
							Firma (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Farm" rel="noindex">
							Farm (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Universit%C3%A4t" rel="noindex">
							Universität (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Dorf" rel="noindex">
							Dorf (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Weltall" rel="noindex">
							Weltall (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Park" rel="noindex">
							Park (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Zauberwelt" rel="noindex">
							Zauberwelt (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Buchhandlung" rel="noindex">
							Buchhandlung (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=TV-Studio" rel="noindex">
							TV-Studio (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Fu%C3%9Fballplatz" rel="noindex">
							Fußballplatz (5)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Insel" rel="noindex">
							Insel (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Rennstrecke" rel="noindex">
							Rennstrecke (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Kleinstadt" rel="noindex">
							Kleinstadt (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Seniorenheim" rel="noindex">
							Seniorenheim (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Strand" rel="noindex">
							Strand (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Theater" rel="noindex">
							Theater (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kulisse=Gro%C3%9Fstadt" rel="noindex">
							Großstadt (3)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 996;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Stil				</span>
			</span>
						<div class="values col4" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Stil=Romantisch" rel="noindex">
							Romantisch (5)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Stil=Spannend" rel="noindex">
							Spannend (29)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Stil=Dramatisch" rel="noindex">
							Dramatisch (11)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Stil=Heiter" rel="noindex">
							Heiter (19)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Stil=Beschaulich" rel="noindex">
							Beschaulich (3)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 995;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Anlass				</span>
			</span>
						<div class="values col1" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Anlass=Hochzeit+%2F+Verlobung" rel="noindex">
							Hochzeit / Verlobung (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Anlass=Jahrestag" rel="noindex">
							Jahrestag (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Anlass=Geburtstag+20%2B" rel="noindex">
							Geburtstag 20+ (30)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Anlass=Geburtstag+30%2B" rel="noindex">
							Geburtstag 30+ (36)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Anlass=Geburtstag+40%2B" rel="noindex">
							Geburtstag 40+ (27)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Anlass=Vatertag" rel="noindex">
							Vatertag (21)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Anlass=Geburtstag+50%2B" rel="noindex">
							Geburtstag 50+ (16)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Anlass=Geburtstag+60%2B" rel="noindex">
							Geburtstag 60+ (9)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Anlass=Geburtstag+70%2B" rel="noindex">
							Geburtstag 70+ (5)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Anlass=Abschiedsgeschenk" rel="noindex">
							Abschiedsgeschenk (13)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Anlass=Geburtstag+10%2B" rel="noindex">
							Geburtstag 10+ (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde" rel="noindex">
							Geburtstag (44)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 994;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Für wen				</span>
			</span>
						<div class="values col2" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&F%C3%BCr+wen=F%C3%BCr+sie" rel="noindex">
							  Für Frauen  (17)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&F%C3%BCr+wen=F%C3%BCr+ihn" rel="noindex">
							 Für Männer  (24)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&F%C3%BCr+wen=F%C3%BCr+Paare" rel="noindex">
							Für Paare (8)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&F%C3%BCr+wen=F%C3%BCr+Teenager" rel="noindex">
							Für Teenager (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&F%C3%BCr+wen=F%C3%BCr+Familie" rel="noindex">
							Für Familie (9)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde" rel="noindex">
							Für Freunde (44)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&F%C3%BCr+wen=Her" rel="noindex">
							Her (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&F%C3%BCr+wen=Him" rel="noindex">
							Him (1)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 993;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Länder				</span>
			</span>
						<div class="values col3" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=England" rel="noindex">
							England (6)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=Deutschland" rel="noindex">
							Deutschland (18)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=Brasilien" rel="noindex">
							Brasilien (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=Spanien" rel="noindex">
							Spanien (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=%C3%96sterreich" rel="noindex">
							Österreich (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=Belgien" rel="noindex">
							Belgien (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=Frankreich" rel="noindex">
							Frankreich (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=USA" rel="noindex">
							USA (6)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=Irland" rel="noindex">
							Irland (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=Italien" rel="noindex">
							Italien (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=Australien" rel="noindex">
							Australien (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=Schweiz" rel="noindex">
							Schweiz (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=China" rel="noindex">
							China (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=Russland" rel="noindex">
							Russland (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=Portugal" rel="noindex">
							Portugal (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=Bahrain" rel="noindex">
							Bahrain (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=Malaysia" rel="noindex">
							Malaysia (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=Monaco" rel="noindex">
							Monaco (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=Malediven" rel="noindex">
							Malediven (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=%C3%84thiopien" rel="noindex">
							Äthiopien (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=Polen" rel="noindex">
							Polen (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=Ukraine" rel="noindex">
							Ukraine (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=Griechenland" rel="noindex">
							Griechenland (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=Costa+Rica" rel="noindex">
							Costa Rica (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&L%C3%A4nder=Kolumbien" rel="noindex">
							Kolumbien (1)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 992;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Städte / Gegenden				</span>
			</span>
						<div class="values col4" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&St%C3%A4dte+%2F+Gegenden=London" rel="noindex">
							London (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&St%C3%A4dte+%2F+Gegenden=Karibik" rel="noindex">
							Karibik (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&St%C3%A4dte+%2F+Gegenden=Amazonas" rel="noindex">
							Amazonas (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&St%C3%A4dte+%2F+Gegenden=Berlin" rel="noindex">
							Berlin (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&St%C3%A4dte+%2F+Gegenden=New+York" rel="noindex">
							New York (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&St%C3%A4dte+%2F+Gegenden=Savanne" rel="noindex">
							Savanne (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&St%C3%A4dte+%2F+Gegenden=Dublin" rel="noindex">
							Dublin (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&St%C3%A4dte+%2F+Gegenden=Los+Angeles" rel="noindex">
							Los Angeles (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&St%C3%A4dte+%2F+Gegenden=Toskana" rel="noindex">
							Toskana (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&St%C3%A4dte+%2F+Gegenden=Rom" rel="noindex">
							Rom (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&St%C3%A4dte+%2F+Gegenden=Sibirien" rel="noindex">
							Sibirien (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&St%C3%A4dte+%2F+Gegenden=Abu+Dhabi" rel="noindex">
							Abu Dhabi (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&St%C3%A4dte+%2F+Gegenden=D%C3%BCsseldorf" rel="noindex">
							Düsseldorf (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&St%C3%A4dte+%2F+Gegenden=Frankfurt" rel="noindex">
							Frankfurt (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&St%C3%A4dte+%2F+Gegenden=Personalisierbare+Stadt+%2F+Gegend" rel="noindex">
							Personalisierbare Stadt / Gegend (6)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&St%C3%A4dte+%2F+Gegenden=Steiermark" rel="noindex">
							Steiermark (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&St%C3%A4dte+%2F+Gegenden=Quepos" rel="noindex">
							Quepos (1)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 991;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Beruf				</span>
			</span>
						<div class="values col1" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Arzt%2F%C3%84rztin" rel="noindex">
							Arzt/Ärztin (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Grundbesitzer%2Fin" rel="noindex">
							Grundbesitzer/in (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Pilot%2Fin" rel="noindex">
							Pilot/in (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Wissenschaftler%2Fin" rel="noindex">
							Wissenschaftler/in (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Soldat" rel="noindex">
							Soldat (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Unternehmer" rel="noindex">
							Unternehmer (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Ingenieur" rel="noindex">
							Ingenieur (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Polizist" rel="noindex">
							Polizist (5)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Lehrer%2Fin" rel="noindex">
							Lehrer/in (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Bedienstete" rel="noindex">
							Bedienstete (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Schauspieler%2Fin" rel="noindex">
							Schauspieler/in (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Manager" rel="noindex">
							Manager (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Autor%2Fin" rel="noindex">
							Autor/in (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Agent" rel="noindex">
							Agent (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Priesterin" rel="noindex">
							Priesterin (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Detektiv" rel="noindex">
							Detektiv (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Assistentin" rel="noindex">
							Assistentin (7)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Journalist%2Fin" rel="noindex">
							Journalist/in (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Regisseur%2Fin" rel="noindex">
							Regisseur/in (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Leibw%C3%A4chter" rel="noindex">
							Leibwächter (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Magier%2Fin" rel="noindex">
							Magier/in (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Kapit%C3%A4n+%28m%2Fw%29" rel="noindex">
							Kapitän (m/w) (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Designer%2Fin" rel="noindex">
							Designer/in (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Sportler%2Fin" rel="noindex">
							Sportler/in (6)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Fotografin" rel="noindex">
							Fotografin (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Hausfrau" rel="noindex">
							Hausfrau (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Buchh%C3%A4ndlerin" rel="noindex">
							Buchhändlerin (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Spion" rel="noindex">
							Spion (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=S%C3%A4nger%2Fin" rel="noindex">
							Sänger/in (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Hotelier" rel="noindex">
							Hotelier (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Marketingchef" rel="noindex">
							Marketingchef (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Pirat%2Fin" rel="noindex">
							Pirat/in (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Rentner%2Fin" rel="noindex">
							Rentner/in (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Fu%C3%9Fballspieler%2Fin" rel="noindex">
							Fußballspieler/in (5)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Politikerin" rel="noindex">
							Politikerin (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Kommissar%2Fin" rel="noindex">
							Kommissar/in (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Vampir" rel="noindex">
							Vampir (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Rennfahrer" rel="noindex">
							Rennfahrer (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Pferdez%C3%BCchter" rel="noindex">
							Pferdezüchter (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Maler%2Fin" rel="noindex">
							Maler/in (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Arbeitslos" rel="noindex">
							Arbeitslos (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=TV-Doku-Darstellerin" rel="noindex">
							TV-Doku-Darstellerin (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Offizier+%28m%2Fw%29" rel="noindex">
							Offizier (m/w) (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Gladiator" rel="noindex">
							Gladiator (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Ladenbesitzerin" rel="noindex">
							Ladenbesitzerin (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Jurist%2Fin" rel="noindex">
							Jurist/in (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Kunstsachverst%C3%A4ndiger" rel="noindex">
							Kunstsachverständiger (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Tierarzt" rel="noindex">
							Tierarzt (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Kinderg%C3%A4rtnerin" rel="noindex">
							Kindergärtnerin (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Altenpflegerin" rel="noindex">
							Altenpflegerin (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Koch%2FK%C3%B6chin" rel="noindex">
							Koch/Köchin (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Architekt" rel="noindex">
							Architekt (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beruf=Hofdame" rel="noindex">
							Hofdame (1)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 990;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Genre				</span>
			</span>
						<div class="values col2" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Genre=Historische+Romane" rel="noindex">
							Historische Romane (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Genre=Abenteuer" rel="noindex">
							Abenteuer (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Genre=Mystery" rel="noindex">
							Mystery (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Genre=Krimi+-Thriller" rel="noindex">
							Krimi -Thriller (12)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Genre=Familie+-+Freunde" rel="noindex">
							Familie - Freunde (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Genre=English+Books" rel="noindex">
							English Books (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Genre=Valentinstags-Kollektion" rel="noindex">
							Valentinstags-Kollektion (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Genre=Frauen" rel="noindex">
							Frauen (8)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Genre=Urlaubskrimis" rel="noindex">
							Urlaubskrimis (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Genre=Sport+-+Fu%C3%9Fball" rel="noindex">
							Sport - Fußball (5)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Genre=Fantasy+-+Science+Fiction" rel="noindex">
							Fantasy - Science Fiction (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Genre=Historisch" rel="noindex">
							Historisch (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Genre=Cameo+Klassiker" rel="noindex">
							Cameo Klassiker (2)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 989;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Mit Liebesgeschichte				</span>
			</span>
						<div class="values col3" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Mit+Liebesgeschichte=Ja" rel="noindex">
							 Mit Liebesgeschichte  (10)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Mit+Liebesgeschichte=Nein" rel="noindex">
							 Ohne Liebesgeschichte  (34)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 988;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Tiere				</span>
			</span>
						<div class="values col4" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Tiere=Hund" rel="noindex">
							Hund (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Tiere=Katze" rel="noindex">
							Katze (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Tiere=Drache" rel="noindex">
							Drache (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Tiere=Einhorn" rel="noindex">
							Einhorn (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Tiere=Hase" rel="noindex">
							Hase (1)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 987;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Beziehungen				</span>
			</span>
						<div class="values col1" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Partnerschaft" rel="noindex">
							Partnerschaft (17)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Eltern+-+Tochter" rel="noindex">
							Eltern - Tochter (5)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Beste+Freundinnen" rel="noindex">
							Beste Freundinnen (13)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Arbeitskollegen" rel="noindex">
							Arbeitskollegen (17)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Beste+Freunde" rel="noindex">
							Beste Freunde (15)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Mutter+-+Tochter" rel="noindex">
							Mutter - Tochter (9)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Tante+-+Nichte" rel="noindex">
							Tante - Nichte (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Cousin+-+Cousine" rel="noindex">
							Cousin - Cousine (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Vater+-+Sohn" rel="noindex">
							Vater - Sohn (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Freunde" rel="noindex">
							Freunde (19)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Bruder+-+Schwester" rel="noindex">
							Bruder - Schwester (6)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Enkelin+-+Gro%C3%9Fmutter" rel="noindex">
							Enkelin - Großmutter (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Mutter+-+Sohn" rel="noindex">
							Mutter - Sohn (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Lehrer+-+Sch%C3%BCler" rel="noindex">
							Lehrer - Schüler (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Br%C3%BCder" rel="noindex">
							Brüder (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Cousins" rel="noindex">
							Cousins (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Vater+-+Tochter" rel="noindex">
							Vater - Tochter (6)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Eltern+-+Sohn" rel="noindex">
							Eltern - Sohn (6)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Schwiegermutter+-+Schwiegertochter" rel="noindex">
							Schwiegermutter - Schwiegertochter (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Mannschaftskameraden" rel="noindex">
							Mannschaftskameraden (5)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Vater+-+Kinder" rel="noindex">
							Vater - Kinder (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Schwestern" rel="noindex">
							Schwestern (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Tante+-+Neffe" rel="noindex">
							Tante - Neffe (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Onkel+-+Neffe" rel="noindex">
							Onkel - Neffe (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Cousinen" rel="noindex">
							Cousinen (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Onkel+-+Nichte" rel="noindex">
							Onkel - Nichte (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Beziehungen=Eltern+-+Kinder" rel="noindex">
							Eltern - Kinder (2)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 986;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Hauptrolle				</span>
			</span>
						<div class="values col2" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Hauptrolle=Weiblich" rel="noindex">
							Weiblich (14)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Hauptrolle=M%C3%A4nnlich" rel="noindex">
							Männlich (25)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Hauptrolle=M%C3%A4nnlich+%2B+Weiblich" rel="noindex">
							Männlich + Weiblich (6)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Hauptrolle=M%C3%A4nnlich+%2B+M%C3%A4nnlich" rel="noindex">
							Männlich + Männlich (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Hauptrolle=Weiblich+%2B+Weiblich" rel="noindex">
							Weiblich + Weiblich (5)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 985;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Personenanzahl				</span>
			</span>
						<div class="values col3" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Personenanzahl=30+oder+mehr" rel="noindex">
							30 oder mehr (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Personenanzahl=10+bis+19" rel="noindex">
							10  -  19 (20)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Personenanzahl=20+bis+29" rel="noindex">
							20  -  29 (15)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Personenanzahl=+2+bis+9" rel="noindex">
							 2  -  9 (8)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 984;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Titel				</span>
			</span>
						<div class="values col4" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Titel=Adlige%2Fr" rel="noindex">
							Adlige/r (2)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Titel=K%C3%B6nigin" rel="noindex">
							Königin (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Titel=Dr." rel="noindex">
							Dr. (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Titel=Prof." rel="noindex">
							Prof. (2)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 983;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Englisches Genre				</span>
			</span>
						<div class="values col1" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Englisches+Genre=Crime+-+Thriller" rel="noindex">
							Crime - Thriller (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Englisches+Genre=Mystery+-+Adventure" rel="noindex">
							Mystery - Adventure (1)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 982;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Kinderanzahl				</span>
			</span>
						<div class="values col2" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kinderanzahl=Schwanger" rel="noindex">
							Schwanger (1)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kinderanzahl=1+Kind" rel="noindex">
							1 Kind (7)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kinderanzahl=2+Kinder" rel="noindex">
							2 Kinder (4)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kinderanzahl=3+Kinder" rel="noindex">
							3 Kinder (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Kinderanzahl=5+Kinder" rel="noindex">
							5 Kinder (1)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 981;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Sprache				</span>
			</span>
						<div class="values col3" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Sprache=Deutsch" rel="noindex">
							Deutsch (43)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Sprache=Englisch" rel="noindex">
							Englisch (1)						</a>
					</li>
									</ul>
			</div>
					</li>
									<li class="mega" style="z-index: 980;">
			<span class="sexysimple sexybutton sexyoutline sexylist toggle " style="">
				<span>
					Verhältnis m / w				</span>
			</span>
						<div class="values col4" style="z-index: 10;">
				<ul class="tags" style="">
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Verh%C3%A4ltnis+m+%2F+w=M%C3%A4nnlich+%3D+Weiblich" rel="noindex">
							Männlich = Weiblich (3)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Verh%C3%A4ltnis+m+%2F+w=M%C3%A4nnlich+%3E+Weiblich" rel="noindex">
							Männlich > Weiblich (29)						</a>
					</li>
										<li>
												<a href="/geburtstag/geschenk-freunde?Anlass=Geburtstag&F%C3%BCr+wen=F%C3%BCr+Freunde&Verh%C3%A4ltnis+m+%2F+w=Weiblich+%3E+M%C3%A4nnlich" rel="noindex">
							Weiblich > Männlich (9)						</a>
					</li>
									</ul>
			</div>
					</li>
						</ul>
<div class="clear"></div>
<h1 class="headline_filter">Geschenke für Freunde</h1>

<div class="articles browse clearfix">
	
	<div class="selected-tags">
		<span>1</span> &ndash; 
		<span>12</span> von insgesamt
		<span>44</span> Büchern
		  für		
								
						<span>
			Geburtstag			</span>
																	 und 										<span>
		Für Freunde		</span>
		
		<a href="/geburtstag/geschenk-freunde?"> <img src="system/themes/default/images/delete.gif"/> </a>
												<div class="perpage">
		<label for="perpage">Artikel pro Seite:</label>
		<select name="perpage" id="perpage">
			<option value="12"  selected="selected" >12 </option>
			<option value="24"  >24</option>
			<option value="36"  >36</option>
			<option value="72"  >72</option>
			<option value="all"  >Alle</option>
		</select>
		</div>
	</div>
	
	
		<div class="article-box columns3 editlist">
		<a href="geburtstagbook/612/four-degrees-north.html">
			<div class="article-image">
				<img alt="Four Degrees North" src="http://web.personalnovel.local/tl_files/thumbnail-book/four-degrees-north-612-list.png" class="thumb">
			</div>
			<div class="article-info">
				<div class="names">
					<em class="name"> Four Degrees North </em>
					<br>
					<em class="subname">bis zu 10 Personen</em>
				</div>
				<p class="desc"><p>
	South American terrorists, self-made escape planes and blooming love!</p>
</p>
				
			</div>
		</a>
		
		<div class="buttons">
			<a style="margin-right: 2px" class="awesomebutton awesomegreen_gradient awesomeinvert awesomeround" href="geburtstagbook/612/four-degrees-north.html">
				<span><span>Mehr über das Buch</span></span>
			</a>
			<a class="awesomebutton awesomegreen_gradient awesomeround" href="geburtstagbook/612/four-degrees-north.html">
				<span><span>Bestellen</span></span>
			</a>
		</div>
		
	</div>
			<div class="article-box columns3 editlist">
		<a href="geburtstagbook/611/wo-gehobelt-wird-da-fallen-zaehne.html">
			<div class="article-image">
				<img alt="Wo gehobelt wird, da fallen Zähne" src="http://web.personalnovel.local/tl_files/thumbnail-book/wo-gehobelt-wird-da-fallen-zaehne-611-list.png" class="thumb">
			</div>
			<div class="article-info">
				<div class="names">
					<em class="name"> Wo gehobelt wird, da fallen Zähne </em>
					<br>
					<em class="subname">bis zu 8 Personen</em>
				</div>
				<p class="desc"><p>
	Fangzähne machen noch lange keinen Vampir - eine Parodie auf das Fantasy-Genre</p>
</p>
				
			</div>
		</a>
		
		<div class="buttons">
			<a style="margin-right: 2px" class="awesomebutton awesomegreen_gradient awesomeinvert awesomeround" href="geburtstagbook/611/wo-gehobelt-wird-da-fallen-zaehne.html">
				<span><span>Mehr über das Buch</span></span>
			</a>
			<a class="awesomebutton awesomegreen_gradient awesomeround" href="geburtstagbook/611/wo-gehobelt-wird-da-fallen-zaehne.html">
				<span><span>Bestellen</span></span>
			</a>
		</div>
		
	</div>
			<div class="article-box columns3 editlist">
		<a href="geburtstagbook/610/der-cleopatra-papyrus.html">
			<div class="article-image">
				<img alt="Der Cleopatra-Papyrus" src="http://web.personalnovel.local/tl_files/thumbnail-book/der-cleopatra-papyrus-610-list.png" class="thumb">
			</div>
			<div class="article-info">
				<div class="names">
					<em class="name"> Der Cleopatra-Papyrus </em>
					<br>
					<em class="subname">bis zu 9 Personen</em>
				</div>
				<p class="desc"><p>
	Ein antiker Papyrus, Mord und Schmuggelgeschäfte - ein vertrackter Fall für den pensionierten Kommissar</p>
</p>
				
			</div>
		</a>
		
		<div class="buttons">
			<a style="margin-right: 2px" class="awesomebutton awesomegreen_gradient awesomeinvert awesomeround" href="geburtstagbook/610/der-cleopatra-papyrus.html">
				<span><span>Mehr über das Buch</span></span>
			</a>
			<a class="awesomebutton awesomegreen_gradient awesomeround" href="geburtstagbook/610/der-cleopatra-papyrus.html">
				<span><span>Bestellen</span></span>
			</a>
		</div>
		
	</div>
	<div class='clear'> </div>		<div class="article-box columns3 editlist">
		<a href="geburtstagbook/609/die-nulldimension.html">
			<div class="article-image">
				<img alt="Die Nulldimension" src="http://web.personalnovel.local/tl_files/thumbnail-book/die-nulldimension-609-list.png" class="thumb">
			</div>
			<div class="article-info">
				<div class="names">
					<em class="name"> Die Nulldimension </em>
					<br>
					<em class="subname">bis zu 21 Personen</em>
				</div>
				<p class="desc"><p>
	Ein Experiment mit ungeahnten Folgen, zwielichtige Konzern-Bosse und verrückte Wissenschaftler</p>
</p>
				
			</div>
		</a>
		
		<div class="buttons">
			<a style="margin-right: 2px" class="awesomebutton awesomegreen_gradient awesomeinvert awesomeround" href="geburtstagbook/609/die-nulldimension.html">
				<span><span>Mehr über das Buch</span></span>
			</a>
			<a class="awesomebutton awesomegreen_gradient awesomeround" href="geburtstagbook/609/die-nulldimension.html">
				<span><span>Bestellen</span></span>
			</a>
		</div>
		
	</div>
			<div class="article-box columns3 editlist">
		<a href="geburtstagbook/608/schoen-klug-bewaffnet.html">
			<div class="article-image">
				<img alt="Schön, Klug, Bewaffnet" src="http://web.personalnovel.local/tl_files/thumbnail-book/schoen-klug-bewaffnet-608-list.png" class="thumb">
			</div>
			<div class="article-info">
				<div class="names">
					<em class="name"> Schön, Klug, Bewaffnet </em>
					<br>
					<em class="subname">bis zu 16 Personen</em>
				</div>
				<p class="desc"><p>
	Sexy und bewaffnet - schöne Polizistinnen sind nicht zu unterschätzen, auch nicht im Urlaub</p>
</p>
				
			</div>
		</a>
		
		<div class="buttons">
			<a style="margin-right: 2px" class="awesomebutton awesomegreen_gradient awesomeinvert awesomeround" href="geburtstagbook/608/schoen-klug-bewaffnet.html">
				<span><span>Mehr über das Buch</span></span>
			</a>
			<a class="awesomebutton awesomegreen_gradient awesomeround" href="geburtstagbook/608/schoen-klug-bewaffnet.html">
				<span><span>Bestellen</span></span>
			</a>
		</div>
		
	</div>
			<div class="article-box columns3 editlist">
		<a href="geburtstagbook/601/bonny-ann.html">
			<div class="article-image">
				<img alt="Bonny Ann" src="http://web.personalnovel.local/tl_files/thumbnail-book/bonny-ann-601-list.png" class="thumb">
			</div>
			<div class="article-info">
				<div class="names">
					<em class="name"> Bonny Ann </em>
					<br>
					<em class="subname">bis zu 17 Personen</em>
				</div>
				<p class="desc"><p>
	Eine Intrige am Hof der englischen Königin - mittendrin zwei ungewöhnliche Frauen</p>
</p>
				
			</div>
		</a>
		
		<div class="buttons">
			<a style="margin-right: 2px" class="awesomebutton awesomegreen_gradient awesomeinvert awesomeround" href="geburtstagbook/601/bonny-ann.html">
				<span><span>Mehr über das Buch</span></span>
			</a>
			<a class="awesomebutton awesomegreen_gradient awesomeround" href="geburtstagbook/601/bonny-ann.html">
				<span><span>Bestellen</span></span>
			</a>
		</div>
		
	</div>
	<div class='clear'> </div>		<div class="article-box columns3 editlist">
		<a href="geburtstagbook/586/griessbrei-und-kandierte-chilischoten.html">
			<div class="article-image">
				<img alt="Grießbrei und kandierte Chilischoten" src="http://web.personalnovel.local/tl_files/thumbnail-book/griessbrei-und-kandierte-chilischoten-586-list.png" class="thumb">
			</div>
			<div class="article-info">
				<div class="names">
					<em class="name"> Grießbrei und kandierte Chilischoten </em>
					<br>
					<em class="subname">bis zu 11 Personen</em>
				</div>
				<p class="desc"><p>
	Mit Mitte 50 nochmal ganz von vorn anfangen? Die Hobbyköchin geht es an!</p>
</p>
				
			</div>
		</a>
		
		<div class="buttons">
			<a style="margin-right: 2px" class="awesomebutton awesomegreen_gradient awesomeinvert awesomeround" href="geburtstagbook/586/griessbrei-und-kandierte-chilischoten.html">
				<span><span>Mehr über das Buch</span></span>
			</a>
			<a class="awesomebutton awesomegreen_gradient awesomeround" href="geburtstagbook/586/griessbrei-und-kandierte-chilischoten.html">
				<span><span>Bestellen</span></span>
			</a>
		</div>
		
	</div>
			<div class="article-box columns3 editlist">
		<a href="geburtstagbook/585/stilles-ende-schnelles-erbe.html">
			<div class="article-image">
				<img alt="Stilles Ende, schnelles Erbe" src="http://web.personalnovel.local/tl_files/thumbnail-book/stilles-ende-schnelles-erbe-585-list.png" class="thumb">
			</div>
			<div class="article-info">
				<div class="names">
					<em class="name"> Stilles Ende, schnelles Erbe </em>
					<br>
					<em class="subname">bis zu 18 Personen</em>
				</div>
				<p class="desc"><p>
	Miss Marple im Seniorenheim</p>
</p>
				
			</div>
		</a>
		
		<div class="buttons">
			<a style="margin-right: 2px" class="awesomebutton awesomegreen_gradient awesomeinvert awesomeround" href="geburtstagbook/585/stilles-ende-schnelles-erbe.html">
				<span><span>Mehr über das Buch</span></span>
			</a>
			<a class="awesomebutton awesomegreen_gradient awesomeround" href="geburtstagbook/585/stilles-ende-schnelles-erbe.html">
				<span><span>Bestellen</span></span>
			</a>
		</div>
		
	</div>
			<div class="article-box columns3 editlist">
		<a href="geburtstagbook/579/oliver-twist.html">
			<div class="article-image">
				<img alt="Oliver Twist" src="http://web.personalnovel.local/tl_files/thumbnail-book/oliver-twist-579-list.png" class="thumb">
			</div>
			<div class="article-info">
				<div class="names">
					<em class="name"> Oliver Twist </em>
					<br>
					<em class="subname">bis zu 7 Personen</em>
				</div>
				<p class="desc">Helfen Sie einem Waisenjungen bei der Suche nach seinem Glück.
</p>
				
			</div>
		</a>
		
		<div class="buttons">
			<a style="margin-right: 2px" class="awesomebutton awesomegreen_gradient awesomeinvert awesomeround" href="geburtstagbook/579/oliver-twist.html">
				<span><span>Mehr über das Buch</span></span>
			</a>
			<a class="awesomebutton awesomegreen_gradient awesomeround" href="geburtstagbook/579/oliver-twist.html">
				<span><span>Bestellen</span></span>
			</a>
		</div>
		
	</div>
	<div class='clear'> </div>		<div class="article-box columns3 editlist">
		<a href="geburtstagbook/571/ein-weihnachtslied.html">
			<div class="article-image">
				<img alt="Ein Weihnachtslied" src="http://web.personalnovel.local/tl_files/thumbnail-book/ein-weihnachtslied-571-list.png" class="thumb">
			</div>
			<div class="article-info">
				<div class="names">
					<em class="name"> Ein Weihnachtslied </em>
					<br>
					<em class="subname">bis zu 10 Personen</em>
				</div>
				<p class="desc">Erleben Sie dieses Weihnachtsmärchen an der Seite von Mr. Scrooge.
</p>
				
			</div>
		</a>
		
		<div class="buttons">
			<a style="margin-right: 2px" class="awesomebutton awesomegreen_gradient awesomeinvert awesomeround" href="geburtstagbook/571/ein-weihnachtslied.html">
				<span><span>Mehr über das Buch</span></span>
			</a>
			<a class="awesomebutton awesomegreen_gradient awesomeround" href="geburtstagbook/571/ein-weihnachtslied.html">
				<span><span>Bestellen</span></span>
			</a>
		</div>
		
	</div>
			<div class="article-box columns3 editlist">
		<a href="geburtstagbook/551/entscheidung-in-kiew-1996.html">
			<div class="article-image">
				<img alt="Entscheidung in Kiew - 1996" src="http://web.personalnovel.local/tl_files/thumbnail-book/entscheidung-in-kiew-1996-551-list.png" class="thumb">
			</div>
			<div class="article-info">
				<div class="names">
					<em class="name"> Entscheidung in Kiew - 1996 </em>
					<br>
					<em class="subname">bis zu 20 Personen</em>
				</div>
				<p class="desc">Holt Deutschland den Titel Fußballeuropameister 2012?
</p>
				
			</div>
		</a>
		
		<div class="buttons">
			<a style="margin-right: 2px" class="awesomebutton awesomegreen_gradient awesomeinvert awesomeround" href="geburtstagbook/551/entscheidung-in-kiew-1996.html">
				<span><span>Mehr über das Buch</span></span>
			</a>
			<a class="awesomebutton awesomegreen_gradient awesomeround" href="geburtstagbook/551/entscheidung-in-kiew-1996.html">
				<span><span>Bestellen</span></span>
			</a>
		</div>
		
	</div>
			<div class="article-box columns3 editlist">
		<a href="geburtstagbook/550/entscheidung-in-kiew-1980.html">
			<div class="article-image">
				<img alt="Entscheidung in Kiew - 1980" src="http://web.personalnovel.local/tl_files/thumbnail-book/entscheidung-in-kiew-1980-550-list.png" class="thumb">
			</div>
			<div class="article-info">
				<div class="names">
					<em class="name"> Entscheidung in Kiew - 1980 </em>
					<br>
					<em class="subname">bis zu 20 Personen</em>
				</div>
				<p class="desc">Holt Deutschland den Titel Fußballeuropameister 2012?
</p>
				
			</div>
		</a>
		
		<div class="buttons">
			<a style="margin-right: 2px" class="awesomebutton awesomegreen_gradient awesomeinvert awesomeround" href="geburtstagbook/550/entscheidung-in-kiew-1980.html">
				<span><span>Mehr über das Buch</span></span>
			</a>
			<a class="awesomebutton awesomegreen_gradient awesomeround" href="geburtstagbook/550/entscheidung-in-kiew-1980.html">
				<span><span>Bestellen</span></span>
			</a>
		</div>
		
	</div>
	<div class='clear'> </div>	</div>

<div class="clear"></div>

<!-- indexer::stop -->
<div class="pagination block">

<p>Seite 1 von 4</p>
<ul>
  <li><span class="current">1</span></li> <li><a href="geburtstag/geschenk-freunde?page=2" class="link" title="Gehe zu Seite 2">2</a></li> <li><a href="geburtstag/geschenk-freunde?page=3" class="link" title="Gehe zu Seite 3">3</a></li> <li><a href="geburtstag/geschenk-freunde?page=4" class="link" title="Gehe zu Seite 4">4</a></li> 
  <li class="next"><a href="geburtstag/geschenk-freunde?page=2" class="next" title="Gehe zu Seite 2">&rsaquo;</a></li>
  <li class="last"><a href="geburtstag/geschenk-freunde?page=4" class="last" title="Gehe zu Seite 4">&raquo;</a></li>
</ul>

</div>
<!-- indexer::continue -->
<!-- indexer::continue -->

<section class="ce_text block">

<h2 style="text-align: justify;">Personalisierte Geburtstagsgeschenke für Freunde</h2>
<p style="text-align: justify;">Erleben Sie gemeinsam mit Ihrer besten Freundin, Ihrem besten Freund oder der ganzen Clique spannende Abenteuer. Lösen Sie mysteriöse Kriminalfälle, entdecken Sie fremde Länder oder gehen Sie auf eine Zeitreise in vergangene Epochen und unglaubliche Welten. Unsere personalisierten Bücher für Freunde sind persönliche und einzigartige Geschenke zum Geburtstag, die jedes Geburtstagskind überraschen und begeistern werden!</p>
<p><span><br></span></p>
</section>

</article>

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.personalnovel.de/blog"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://www.personalnovel.de/blog">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

