<?php $expire = 1401789757; /* http://web.personalnovel.local/customize/book/609.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href="http://muttertag.personalnovel.de/"></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=609">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Die Nulldimension" src="/tl_files/thumbnail-book/die-nulldimension-609-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Die Nulldimension“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-609" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der zeitreisende Major</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Frank Boone,</em> Major, Pilot, Wortführer der Zeitreisenden, impulsiv.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Majors lautet																					</label>
																					<input type="text" value="Frank" 
                                name="vars-Major_VN" maxlength="30" id="vars-Major_VN" 
                                data-fieldname="Major_VN" 
                                data-default="Frank" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Majors lautet																					</label>
																					<input type="text" value="Boone" 
                                name="vars-Major_NN" maxlength="30" id="vars-Major_NN" 
                                data-fieldname="Major_NN" 
                                data-default="Boone" 
                                class="field focuser default" />
							<span class="field_count">108x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der zeitreisende Lieutenant</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Mark Wilkinson,</em> Lieutnant, Co-Pilot, technischer Ingenieur, durchtrainiert und optimistisch. Er stellt die Drawning-Wingrand-Theorie auf und treibt somit die Aufklärung des Rätsels entscheidend voran. Er flirtet ziemlich offen mit <em>Pamela Frawley</em>, war im ‚früheren‘ Leben, also 250 Jahre zuvor, mit Trisha verlobt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Lieutenants lautet																					</label>
																					<input type="text" value="Mark" 
                                name="vars-CoPilot_VN" maxlength="30" id="vars-CoPilot_VN" 
                                data-fieldname="CoPilot_VN" 
                                data-default="Mark" 
                                class="field focuser default" />
							<span class="field_count">83x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Lieutenants lautet																					</label>
																					<input type="text" value="Wilkinson" 
                                name="vars-CoPilot_NN" maxlength="30" id="vars-CoPilot_NN" 
                                data-fieldname="CoPilot_NN" 
                                data-default="Wilkinson" 
                                class="field focuser default" />
							<span class="field_count">24x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die zeitreisende Biotechnikerin</div>
				<div class="description" style="margin-top: 5px;display:none">	Dr. <em>Jean Powell,</em> Biotechnikerin, sehr still und zurückhaltend, ebenso wie der Rest ihrer Crew leidet sie darunter, ihre Heimat verloren zu haben, hält sich aber im Hintergrund. Als Drawning von den Zeitreisenden zur Rede gestellt wird und sich vollkommen kalt und uneinsichtige zeigt, ersticht sie ihn.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Biotechnikerin lautet																					</label>
																					<input type="text" value="Jean" 
                                name="vars-Biotechnikerin_VN" maxlength="30" id="vars-Biotechnikerin_VN" 
                                data-fieldname="Biotechnikerin_VN" 
                                data-default="Jean" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Biotechnikerin lautet																					</label>
																					<input type="text" value="Powell" 
                                name="vars-Biotechnikerin_NN" maxlength="30" id="vars-Biotechnikerin_NN" 
                                data-fieldname="Biotechnikerin_NN" 
                                data-default="Powell" 
                                class="field focuser default" />
							<span class="field_count">34x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der zeitreisende Chemiker</div>
				<div class="description" style="margin-top: 5px;display:none">Dr. <em>Robert Peterson</em>, Chemiker, hat eine Familie und leidet sehr darunter, sie nie wieder sehen zu können. Er verliert die Nerven, steckt das Raumschiff in Brand und nimmt eine Geisel (Situation kann entschärft werden).</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Chemikers lautet																					</label>
																					<input type="text" value="Robert" 
                                name="vars-Chemiker_VN" maxlength="30" id="vars-Chemiker_VN" 
                                data-fieldname="Chemiker_VN" 
                                data-default="Robert" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Chemikers lautet																					</label>
																					<input type="text" value="Peterson" 
                                name="vars-Chemiker_NN" maxlength="30" id="vars-Chemiker_NN" 
                                data-fieldname="Chemiker_NN" 
                                data-default="Peterson" 
                                class="field focuser default" />
							<span class="field_count">67x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der zeitreisende Physiker</div>
				<div class="description" style="margin-top: 5px;display:none">Prof. <em>George Bartlett,</em> Physiker, wie sich schnell herausstellt, war er in Drawnings Pläne eingeweiht, das Versuchs-Shuttle durch Raum und Zeit zu schicken. Er ist begeistert vom wissenschaftlich-technischen Fortschritt seiner Arbeit und bezeichnet das Experiment als Durchbruch der Forschung. Drawning bewundert er sehr wegen seiner Erfindungen. Erst als er in der Zukunft, Wingrand, den er als Drawning wiedererkennt, trifft, erkennt er dessen größenwahnsinnige Absichten. Als er seinen früheren Kollegen deshalb zur Rede stellen will, wird er von diesem erschossen. Es gelingt ihm jedoch, noch kurz vorher eine Warnbotschaft an seine Kameraden zu übermitteln. Erst darin bereut er sein skrupelloses Handeln.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Physikers lautet																					</label>
																					<input type="text" value="George" 
                                name="vars-Physiker_VN" maxlength="30" id="vars-Physiker_VN" 
                                data-fieldname="Physiker_VN" 
                                data-default="George" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Physikers ist																					</label>
																					<input type="text" value="Bartlett" 
                                name="vars-Physiker_NN" maxlength="30" id="vars-Physiker_NN" 
                                data-fieldname="Physiker_NN" 
                                data-default="Bartlett" 
                                class="field focuser default" />
							<span class="field_count">128x</span>
						</div>
											<div class="field">
							<label>
							Der Anfangsbuchstabe seines Nachnamens ist																					</label>
																					<input type="text" value="B" 
                                name="vars-Physiker_Initial" maxlength="30" id="vars-Physiker_Initial" 
                                data-fieldname="Physiker_Initial" 
                                data-default="B" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Piratin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Berenice ‚Tiger‘ Mandrill,</em> Piratin, kühn, unerschrocken, mutig, clever, kann auch in den verfahrensten Situationen einen Ausweg finden, selbstbewusst, kämpferisch, leidenschaftlich, nicht besonders zimperlich bei Kämpfen sowie Wortgefechten, flucht zuweilen wie ein Seemann. Sie ist unter ihrem Decknamen ‚<em>Tiger</em>‘ als berüchtigte Piratin bekannt und gefürchtet und wird auch von ihren Kameraden so gerufen. Nur ihre engsten Freunde und Vertraute kennen ihren richtigen Namen. Um Geld zu verdienen, betreibt sie ein illegales Casino und schmuggelt Alkohol. Durch Zufall rettet sie <em>Marty Donegan</em> vor Auftragskillern und versucht von da an, herauszufinden, was es mit dem mysteriösen Raumschiff aus der Vergangenheit auf sich hat.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Piratin lautet																					</label>
																					<input type="text" value="Berenice" 
                                name="vars-Heldin_VN" maxlength="30" id="vars-Heldin_VN" 
                                data-fieldname="Heldin_VN" 
                                data-default="Berenice" 
                                class="field focuser default" />
							<span class="field_count">38x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Piratin lautet																					</label>
																					<input type="text" value="Mandrill" 
                                name="vars-Heldin_NN" maxlength="30" id="vars-Heldin_NN" 
                                data-fieldname="Heldin_NN" 
                                data-default="Mandrill" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
											<div class="field">
							<label>
							Der Deckname der Piratin ist																					</label>
																					<input type="text" value="Tiger" 
                                name="vars-Heldin_Spitzname" maxlength="30" id="vars-Heldin_Spitzname" 
                                data-fieldname="Heldin_Spitzname" 
                                data-default="Tiger" 
                                class="field focuser default" />
							<span class="field_count">246x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der Piratin ist																					</label>
																					<input type="text" value="blau" 
                                name="vars-Heldin_Augen" maxlength="30" id="vars-Heldin_Augen" 
                                data-fieldname="Heldin_Augen" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der Piratin ist																					</label>
																					<input type="text" value="schwarz" 
                                name="vars-Heldin_Haar" maxlength="30" id="vars-Heldin_Haar" 
                                data-fieldname="Heldin_Haar" 
                                data-default="schwarz" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Die Piratin trinkt am liebsten																					</label>
																					<input type="text" value="Scotch" 
                                name="vars-Heldin_Drink" maxlength="30" id="vars-Heldin_Drink" 
                                data-fieldname="Heldin_Drink" 
                                data-default="Scotch" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der verschollene Vater der Piratin</div>
				<div class="description" style="margin-top: 5px;display:none">	<em>Steven Mandrill,</em> Vater von <em>Tiger</em>, hat vor Jahren seinen Tod vorgetäuscht, jetzt ist er Botschafter der Grunen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Vaters lautet																					</label>
																					<input type="text" value="Steven" 
                                name="vars-Vater_VN" maxlength="30" id="vars-Vater_VN" 
                                data-fieldname="Vater_VN" 
                                data-default="Steven" 
                                class="field focuser default" />
							<span class="field_count">35x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Vaters lautet																					</label>
																					<input type="text" value="Mandrill" 
                                name="vars-Vater_NN" maxlength="30" id="vars-Vater_NN" 
                                data-fieldname="Vater_NN" 
                                data-default="Mandrill" 
                                class="field focuser default" />
							<span class="field_count">42x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der abenteuerliche Onkel der Piratin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Roy Callahan</em>, <em>Tiger</em>s Onkel, Kapitän der ‚Osiris‘, der Mann für waghalsige Flugaktionen. Er ist <em>Tigers</em> engster Vertrauter und einer der wenigen Menschen, die wissen, dass <em>Steven Mandrill </em>seinen Tod nur vorgetäuscht hat.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Onkels lautet																					</label>
																					<input type="text" value="Roy" 
                                name="vars-Onkel_VN" maxlength="30" id="vars-Onkel_VN" 
                                data-fieldname="Onkel_VN" 
                                data-default="Roy" 
                                class="field focuser default" />
							<span class="field_count">18x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Onkels lautet																					</label>
																					<input type="text" value="Callahan" 
                                name="vars-Onkel_NN" maxlength="30" id="vars-Onkel_NN" 
                                data-fieldname="Onkel_NN" 
                                data-default="Callahan" 
                                class="field focuser default" />
							<span class="field_count">76x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Kamerad der Piratin</div>
				<div class="description" style="margin-top: 5px;display:none"><em>John,</em> <em>Tiger</em>s rechte Hand, sehr kampferfahren, groß und kräftig, geheimer TSA-Agent.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname von Tigers rechter Hand ist																					</label>
																					<input type="text" value="John" 
                                name="vars-Kamerad_VN" maxlength="30" id="vars-Kamerad_VN" 
                                data-fieldname="Kamerad_VN" 
                                data-default="John" 
                                class="field focuser default" />
							<span class="field_count">91x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Pilot der Piraten</div>
				<div class="description" style="margin-top: 5px;display:none"> <em>Ben,</em> <em>Tiger</em>s Pilot.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Piraten-Piloten ist																					</label>
																					<input type="text" value="Ben" 
                                name="vars-Anderer_Kamerad_VN" maxlength="30" id="vars-Anderer_Kamerad_VN" 
                                data-fieldname="Anderer_Kamerad_VN" 
                                data-default="Ben" 
                                class="field focuser default" />
							<span class="field_count">23x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Pilotenanwärter</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Marty Donegan,</em> ehrgeizig, bewundert Piloten und will selbst einer werden. Er wird von vielen unterschätzt. <em>Marty</em> entdeckt die ‚Mystery‘, denn er steuert das Frachtschiff, auf dessen Kurs das Shuttle strandet. Nur durch sein beherztes Eingreifen kann ein Zusammenstoß verhindert werden. Von da an wird er zur Zielscheibe eines unsichtbaren Feindes, der ihn aus dem Weg räumen will.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Pilotenanwärters ist																					</label>
																					<input type="text" value="Marty" 
                                name="vars-Abenteurer_VN" maxlength="30" id="vars-Abenteurer_VN" 
                                data-fieldname="Abenteurer_VN" 
                                data-default="Marty" 
                                class="field focuser default" />
							<span class="field_count">152x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Pilotenanwärters ist																					</label>
																					<input type="text" value="Donegan" 
                                name="vars-Abenteurer_NN" maxlength="30" id="vars-Abenteurer_NN" 
                                data-fieldname="Abenteurer_NN" 
                                data-default="Donegan" 
                                class="field focuser default" />
							<span class="field_count">33x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des Pilotenanwärters ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Abenteurer_Augen" maxlength="30" id="vars-Abenteurer_Augen" 
                                data-fieldname="Abenteurer_Augen" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe des Pilotenanwärters ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Abenteurer_Haar" maxlength="30" id="vars-Abenteurer_Haar" 
                                data-fieldname="Abenteurer_Haar" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der heldenhafte Kommandant der 'Explorer'</div>
				<div class="description" style="margin-top: 5px;display:none"> <em>Patrick ‚Pat‘ Parker,</em> Kapitän des Raumschiffs ‚Explorer‘, Veteran aus dem ersten Wiya-Krieg und bester Freund von <em>Steven Mandril,</em> bedacht und verantwortungsbewusst. Seine Mannschaft hält fest zu ihm und vertraut ihm voll und ganz. Er nimmt die Besatzung der ‚Mystery‘ bei sich auf und soll diese zu einer Raumstation des Protektorats bringen. Je mehr er jedoch über die unerklärlichen Vorgänge erfährt, umso sicherer ist er, dass die Crew-Mitglieder in großer Gefahr schweben. Um ihr Leben zu schützen, ist er sogar bereit, Anweisungen seines Vorgesetzten zu missachten. Er steht mit <em>Tiger </em>in regelmäßigem Kontakt, denn er ist ihr Patenonkel.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Explorer-Kommandanten lautet																					</label>
																					<input type="text" value="Patrick" 
                                name="vars-Held_VN" maxlength="30" id="vars-Held_VN" 
                                data-fieldname="Held_VN" 
                                data-default="Patrick" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Explorer-Kommandanten lautet																					</label>
																					<input type="text" value="Parker" 
                                name="vars-Held_NN" maxlength="30" id="vars-Held_NN" 
                                data-fieldname="Held_NN" 
                                data-default="Parker" 
                                class="field focuser default" />
							<span class="field_count">384x</span>
						</div>
											<div class="field">
							<label>
							Der Spitzname des Kommandanten ist																					</label>
																					<input type="text" value="Pat" 
                                name="vars-Held_Spitzname" maxlength="30" id="vars-Held_Spitzname" 
                                data-fieldname="Held_Spitzname" 
                                data-default="Pat" 
                                class="field focuser default" />
							<span class="field_count">15x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des Kommandanten ist																					</label>
																					<input type="text" value="braun" 
                                name="vars-Held_Augen" maxlength="30" id="vars-Held_Augen" 
                                data-fieldname="Held_Augen" 
                                data-default="braun" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe des Kommandanten ist																					</label>
																					<input type="text" value="grau" 
                                name="vars-Held_Haar" maxlength="30" id="vars-Held_Haar" 
                                data-fieldname="Held_Haar" 
                                data-default="grau" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Der Lieblingsdrink des Kommandanten ist																					</label>
																					<input type="text" value="Amaretto" 
                                name="vars-Held_Drink" maxlength="30" id="vars-Held_Drink" 
                                data-fieldname="Held_Drink" 
                                data-default="Amaretto" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der erste Offizier der 'Explorer'</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Dan Lynne,</em> Offizier, enger Vertrauter von Parker, sehr loyal.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Offiziers lautet																					</label>
																					<input type="text" value="Dan" 
                                name="vars-Offizier_VN" maxlength="30" id="vars-Offizier_VN" 
                                data-fieldname="Offizier_VN" 
                                data-default="Dan" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Offiziers lautet																					</label>
																					<input type="text" value="Lynne" 
                                name="vars-Offizier_NN" maxlength="30" id="vars-Offizier_NN" 
                                data-fieldname="Offizier_NN" 
                                data-default="Lynne" 
                                class="field focuser default" />
							<span class="field_count">95x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der hübsche Lieutenant der 'Explorer'</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Pamela Frawley,</em> Lieutenant, ehrgeizig, hübsch aber streng und immer auf die Einhaltung der Vorschriften bedacht. Auf<em> Mark Wilkinsons </em>Flirtversuche reagiert sie eher kühl. Je länger die beiden zusammenarbeiten, umso besser verstehen sie sich.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der vorname des hübschen Lieutenants ist																					</label>
																					<input type="text" value="Pamela" 
                                name="vars-Lieutenant_VN" maxlength="30" id="vars-Lieutenant_VN" 
                                data-fieldname="Lieutenant_VN" 
                                data-default="Pamela" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des hübschen Lieutenants ist																					</label>
																					<input type="text" value="Frawley" 
                                name="vars-Lieutenant_NN" maxlength="30" id="vars-Lieutenant_NN" 
                                data-fieldname="Lieutenant_NN" 
                                data-default="Frawley" 
                                class="field focuser default" />
							<span class="field_count">43x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Arzt auf der 'Explorer'</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Marcel Cartier,</em> Arzt, Franzose.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Arztes lautet																					</label>
																					<input type="text" value="Marcel" 
                                name="vars-Arzt_VN" maxlength="30" id="vars-Arzt_VN" 
                                data-fieldname="Arzt_VN" 
                                data-default="Marcel" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Arztes lautet																					</label>
																					<input type="text" value="Cartier" 
                                name="vars-Arzt_NN" maxlength="30" id="vars-Arzt_NN" 
                                data-fieldname="Arzt_NN" 
                                data-default="Cartier" 
                                class="field focuser default" />
							<span class="field_count">27x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Techniker auf der 'Explorer'</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Jordan Dent,</em> findiger Ingenieur, Computerfreak.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Technikers lautet																					</label>
																					<input type="text" value="Jordan" 
                                name="vars-Techniker_VN" maxlength="30" id="vars-Techniker_VN" 
                                data-fieldname="Techniker_VN" 
                                data-default="Jordan" 
                                class="field focuser default" />
							<span class="field_count">17x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Technikers lautet																					</label>
																					<input type="text" value="Dent" 
                                name="vars-Techniker_NN" maxlength="30" id="vars-Techniker_NN" 
                                data-fieldname="Techniker_NN" 
                                data-default="Dent" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Direktorin der Raumkommission</div>
				<div class="description" style="margin-top: 5px;display:none"> <em>Sally Albertson,</em> Mitglied der KIR (Kommission für interstellare Raumfahrt), Direktorin der TSA, geheime Kontaktperson von <em>Steven Mandrill.</em></div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Direktorin lautet																					</label>
																					<input type="text" value="Sally" 
                                name="vars-Direktorin_VN" maxlength="30" id="vars-Direktorin_VN" 
                                data-fieldname="Direktorin_VN" 
                                data-default="Sally" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Direktorin lautet																					</label>
																					<input type="text" value="Albertson" 
                                name="vars-Direktorin_NN" maxlength="30" id="vars-Direktorin_NN" 
                                data-fieldname="Direktorin_NN" 
                                data-default="Albertson" 
                                class="field focuser default" />
							<span class="field_count">29x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der General des Raumkommandos</div>
				<div class="description" style="margin-top: 5px;display:none"><p> General <em>Montgomery Adam, </em>General des Raumkommandos, erteilt Befehle an <em>Patrick Parker. </em>Er hält sich ohne Widerspruch an die Richtlinien des Protektorats.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Generals lautet																					</label>
																					<input type="text" value="Montgomery" 
                                name="vars-General_VN" maxlength="30" id="vars-General_VN" 
                                data-fieldname="General_VN" 
                                data-default="Montgomery" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Generals lautet																					</label>
																					<input type="text" value="Adam" 
                                name="vars-General_NN" maxlength="30" id="vars-General_NN" 
                                data-fieldname="General_NN" 
                                data-default="Adam" 
                                class="field focuser default" />
							<span class="field_count">50x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Kommandant der Ulysses</div>
				<div class="description" style="margin-top: 5px;display:none"> <em>Craig Orlando, </em>kantiger Typ mit stechenden Augen, unleidlicher Zeitgenosse, aber seinen Vorgesetzten gegenüber absolut loyal.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Ulysses-Kommandanten ist																					</label>
																					<input type="text" value="Craig" 
                                name="vars-Kommandant_VN" maxlength="30" id="vars-Kommandant_VN" 
                                data-fieldname="Kommandant_VN" 
                                data-default="Craig" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Ulysses-Kommandanten ist																					</label>
																					<input type="text" value="Orlando" 
                                name="vars-Kommandant_NN" maxlength="30" id="vars-Kommandant_NN" 
                                data-fieldname="Kommandant_NN" 
                                data-default="Orlando" 
                                class="field focuser default" />
							<span class="field_count">28x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Der Direktor der Minengesellschaft</div>
				<div class="description" style="margin-top: 5px;display:none"><em>Stanley Stander,</em> Direktor der ‚Pleyad Minings‘, 50 Jahre, verheiratet, hat eine Tochter, selbstbewusst, korrupt, skurpellos, in undurchsichtige Geschäfte mit den Wiyas verwickelt. Sein Unternehmen ‚Pleyad Minings‘ ist eines der erfolgreichsten und finanzstärksten des gesamten Plejaden-Systems. Auch politisch ist er sehr einflussreich und war maßgeblich an der Festlegung der Grenze zwischen Wiyas und Menschen beteiligt. Er strebt vor allem nach Profit.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Minendirektors lautet																					</label>
																					<input type="text" value="Stanley" 
                                name="vars-Minendirektor_VN" maxlength="30" id="vars-Minendirektor_VN" 
                                data-fieldname="Minendirektor_VN" 
                                data-default="Stanley" 
                                class="field focuser default" />
							<span class="field_count">16x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Minendirektors ist																					</label>
																					<input type="text" value="Stander" 
                                name="vars-Minendirektor_NN" maxlength="30" id="vars-Minendirektor_NN" 
                                data-fieldname="Minendirektor_NN" 
                                data-default="Stander" 
                                class="field focuser default" />
							<span class="field_count">149x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Die Tochter des Minendirektors</div>
				<div class="description" style="margin-top: 5px;display:none"> <em>Scarlett Stander,</em> hübsche Tochter von <em>Stanley Stander</em>, die zuletzt die Gewissenlosigkeit ihres Vaters erkennt und <em>Tiger</em> hilft, aus dessen Gefangenschaft zu entkommen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Tochter des Minendirektors lautet																					</label>
																					<input type="text" value="Scarlett" 
                                name="vars-Minentochter_VN" maxlength="30" id="vars-Minentochter_VN" 
                                data-fieldname="Minentochter_VN" 
                                data-default="Scarlett" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			Im Jahr 2022 startet die NASA ein Experiment mit der Raumfähre Mystery'. An Bord befinden sich Major <span class='default Major_VN'>Frank</span> <span class='default Major_NN'>Boone</span>, Lieutenant <span class='default CoPilot_VN'>Mark</span> <span class='default CoPilot_NN'>Wilkinson</span>, die Biotechnikerin Dr. <span class='default Biotechnikerin_VN'>Jean</span> <span class='default Biotechnikerin_NN'>Powell</span>, der Chemiker Dr. <span class='default Chemiker_VN'>Robert</span> <span class='default Chemiker_NN'>Peterson</span> und der Physiker Prof. <span class='default Physiker_VN'>George</span> <span class='default Physiker_NN'>Bartlett</span>. Das Space Shuttle verschwindet spurlos und taucht erst 250 Jahre später wieder in einem Sternhaufen der Plejaden auf. Der Pilotenanwärter <span class='default Abenteurer_VN'>Marty</span> <span class='default Abenteurer_NN'>Donegan</span> rammt die Mystery' beinahe, kann aber im letzten Moment eine Kollision verhindern. Doch nun ist er plötzlich zum Ziel gefährlicher Auftragskiller geworden. Der Mann mit dem <span class='default Abenteurer_Haar'>braun</span>en Haar und den <span class='default Abenteurer_Augen'>braun</span>en Augen entkommt ihnen nur knapp und wird von der Piratin <span class='default Heldin_Spitzname'>Tiger</span> und ihrer Crew <span class='default Kamerad_VN'>John</span> und <span class='default Anderer_Kamerad_VN'>Ben</span> gerettet. Auch ihr Onkel <span class='default Onkel_VN'>Roy</span> <span class='default Onkel_NN'>Callahan</span> ist mit von der Partie. <span class='default Heldin_Spitzname'>Tiger</span>, die in Wirklichkeit <span class='default Heldin_VN'>Berenice</span> <span class='default Heldin_NN'>Mandrill</span> heißt, hat strahlende <span class='default Heldin_Augen'>blau</span>e Augen und <span class='default Heldin_Haar'>schwarz</span>es Haar. Am liebsten trinkt sie <span class='default Heldin_Drink'>Scotch</span>. Zusammen mit ihrem Patenonkel <span class='default Held_VN'>Patrick</span> <span class='default Held_NN'>Parker</span> will sie dem Rätsel auf die Spur kommen. Da trifft es sich gut, dass dieser als Kommandant der Explorer' dazu bestimmt wird, die Zeitreisenden bei sich aufzunehmen. Der Mann mit den <span class='default Held_Augen'>braun</span>en Augen und den <span class='default Held_Haar'>grau</span>en Haaren, der an der Bar gerne <span class='default Held_Drink'>Amaretto</span> bestellt, wird von allen an Bord sehr respektiert. Von seinen engsten und ältesten Freunden wird er <span class='default Held_Spitzname'>Pat</span> gerufen. In seiner Crew sind der erste Offizier <span class='default Offizier_VN'>Dan</span> <span class='default Offizier_NN'>Lynne</span>, die hübsche <span class='default Lieutenant_VN'>Pamela</span> <span class='default Lieutenant_NN'>Frawley</span>, der Arzt <span class='default Arzt_VN'>Marcel</span> <span class='default Arzt_NN'>Cartier</span> und der Techniker <span class='default Techniker_VN'>Jordan</span> <span class='default Techniker_NN'>Dent</span>. Schnell finden sie heraus, dass <span class='default Physiker_NN'>Bartlett</span> wusste, dass eine Zeitreise geplant war. <span class='default Physiker_Initial'>B</span>... <span class='default Physiker_Initial'>B</span>... <span class='default Physiker_NN'>Bartlett</span>! Wie konntest du uns das antun?, fragt <span class='default Chemiker_NN'>Peterson</span> ihn ganz außer sich und verfällt dabei sogar ins Stottern. Auch der skrupellose Direktor der Pleyad Minings' <span class='default Minendirektor_VN'>Stanley</span> <span class='default Minendirektor_NN'>Stander</span> rückt immer mehr in den Fokus. Er versucht seine finsteren Machenschaften zu vertuschen und schreckt dabei auch nicht davor zurück, <span class='default Heldin_Spitzname'>Tiger</span> gefangenzunehmen. Doch seine Tochter <span class='default Minentochter_VN'>Scarlett</span> befreit die Piratin in letzter Sekunde. Zuletzt kommt es zu einer großen Schlacht zwischen Menschen und feindlichen Wiyas, bei der auch die Direktorin <span class='default Direktorin_VN'>Sally</span> <span class='default Direktorin_NN'>Albertson</span>, der General <span class='default General_VN'>Montgomery</span> <span class='default General_NN'>Adam</span> und der Kommandant der Osiris' <span class='default Kommandant_VN'>Craig</span> <span class='default Kommandant_NN'>Orlando</span> von der Partie sind. Nachdem die Schlacht gewonnen und das Rätsel um die Mystery' gelöst ist, taucht <span class='default Heldin_Spitzname'>Tiger</span>s tot geglaubter Vater <span class='default Vater_VN'>Steven</span> <span class='default Vater_NN'>Mandrill</span> auf.		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

