<?php $expire = 1404287688; /* http://web.personalnovel.local/customize/book/292.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href=""></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=292">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Entscheidung in Madrid" src="/tl_files/thumbnail-book/entscheidung-in-madrid-292-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Entscheidung in Madrid“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-292" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Männliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Paul Schmidt</i>, defensiver Mittelfeldspieler beim FC Bayern München; verheiratet (seine Frau wird nicht namentlich erwähnt und tritt auch nicht in Erscheinung); seit 11 Jahren seinem Verein treu ergeben; gehört leider meist zum B-Team und bekommt selten die Chance, von Anfang an zu spielen; saß bei der schmerzhaften Niederlage 1999 (Manchester United gegen Bayern München, 2:1) auf der Ersatzbank, hofft jetzt auf ein glücklicheres Ende; ist wegen einer Verletzung die letzten Wochen ausgefallen, wird aber pünktlich zum Saisonfinale wieder fit; da <i>Marco van Troddel</i> vor dem Endspiel verletzungsbedingt ausfällt, darf <i>Paul</i> von Beginn an spielen und erzielt sogar einen entscheidenden Treffer. </div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Held heißt mit Vornamen																					</label>
																					<input type="text" value="Paul" 
                                name="vars-Held_VN" maxlength="30" id="vars-Held_VN" 
                                data-fieldname="Held_VN" 
                                data-default="Paul" 
                                class="field focuser default" />
							<span class="field_count">208x</span>
						</div>
											<div class="field">
							<label>
							Der Held heißt mit Nachnamen																					</label>
																					<input type="text" value="Schmidt" 
                                name="vars-Held_NN" maxlength="30" id="vars-Held_NN" 
                                data-fieldname="Held_NN" 
                                data-default="Schmidt" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Bester Freund der männlichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Murat Schulz</i>, bester Freund von <i>Paul</i>; ehemaliger Bayern-Profi; trainiert jetzt die U23-Mannschaft des FC Bayern; verheiratet; witziger Typ.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des besten Freundes ist																					</label>
																					<input type="text" value="Murat" 
                                name="vars-Freund_VN" maxlength="30" id="vars-Freund_VN" 
                                data-fieldname="Freund_VN" 
                                data-default="Murat" 
                                class="field focuser default" />
							<span class="field_count">23x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des besten Freundes ist																					</label>
																					<input type="text" value="Schulz" 
                                name="vars-Freund_NN" maxlength="30" id="vars-Freund_NN" 
                                data-fieldname="Freund_NN" 
                                data-default="Schulz" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Journalist</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Rudi Kruse</i>, ein Journalist; den <i>Paul</i> schon lange kennt und mag; etwa so alt wie <i>Paul</i>.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Journalisten ist																					</label>
																					<input type="text" value="Rudi" 
                                name="vars-Reporter_VN" maxlength="30" id="vars-Reporter_VN" 
                                data-fieldname="Reporter_VN" 
                                data-default="Rudi" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Journalisten ist																					</label>
																					<input type="text" value="Kruse" 
                                name="vars-Reporter_NN" maxlength="30" id="vars-Reporter_NN" 
                                data-fieldname="Reporter_NN" 
                                data-default="Kruse" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Trainer des deutschen Vereins</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Luis van Gool</i>, Trainer des FC Bayern München.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Trainers ist																					</label>
																					<input type="text" value="Luis" 
                                name="vars-Trainer_VN" maxlength="30" id="vars-Trainer_VN" 
                                data-fieldname="Trainer_VN" 
                                data-default="Luis" 
                                class="field focuser default" />
							<span class="field_count">10x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Trainers ist																					</label>
																					<input type="text" value="van Gool" 
                                name="vars-Trainer_NN" maxlength="30" id="vars-Trainer_NN" 
                                data-fieldname="Trainer_NN" 
                                data-default="van Gool" 
                                class="field focuser default" />
							<span class="field_count">28x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Torwart des deutschen Vereins</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Hans Joachim Putt</i>, Torwart des FC Bayern München.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Bayern-Torwarts ist																					</label>
																					<input type="text" value="Hans Joachim" 
                                name="vars-TorwartFCB_VN" maxlength="30" id="vars-TorwartFCB_VN" 
                                data-fieldname="TorwartFCB_VN" 
                                data-default="Hans Joachim" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Bayern-Torwarts ist																					</label>
																					<input type="text" value="Putt" 
                                name="vars-TorwartFCB_NN" maxlength="30" id="vars-TorwartFCB_NN" 
                                data-fieldname="TorwartFCB_NN" 
                                data-default="Putt" 
                                class="field focuser default" />
							<span class="field_count">16x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Abwehr des deutschen Vereins</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Tim van Huyten</i>, Verteidiger des FC Bayern München; Holländer; sehr groß.

<i>Martin Demarkus</i>, Verteidiger des FC Bayern München.

<i>Fritz Lähm</i>, Verteidiger des FC Bayern München; ersetzt im Endspiel den verletzten <i>Marco van Troddel</i> als Kapitän der Mannschaft.

<i>Sergio Constaso</i>, Verteidiger des FC Bayern München.

<i>Franz Kammer</i>, Verteidiger des FC Bayern München.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des ersten Bayern-Verteidigers ist																					</label>
																					<input type="text" value="Tim" 
                                name="vars-AbwehrFCB1_VN" maxlength="30" id="vars-AbwehrFCB1_VN" 
                                data-fieldname="AbwehrFCB1_VN" 
                                data-default="Tim" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des ersten Bayern-Verteidigers ist																					</label>
																					<input type="text" value="van Huyten" 
                                name="vars-AbwehrFCB1_NN" maxlength="30" id="vars-AbwehrFCB1_NN" 
                                data-fieldname="AbwehrFCB1_NN" 
                                data-default="van Huyten" 
                                class="field focuser default" />
							<span class="field_count">13x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des zweiten Bayern-Verteidigers ist																					</label>
																					<input type="text" value="Martin" 
                                name="vars-AbwehrFCB2_VN" maxlength="30" id="vars-AbwehrFCB2_VN" 
                                data-fieldname="AbwehrFCB2_VN" 
                                data-default="Martin" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des zweiten Bayern-Verteidigers ist																					</label>
																					<input type="text" value="Demarkus" 
                                name="vars-AbwehrFCB2_NN" maxlength="30" id="vars-AbwehrFCB2_NN" 
                                data-fieldname="AbwehrFCB2_NN" 
                                data-default="Demarkus" 
                                class="field focuser default" />
							<span class="field_count">7x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des dritten Bayern-Verteidigers ist																					</label>
																					<input type="text" value="Fritz" 
                                name="vars-AbwehrFCB3_VN" maxlength="30" id="vars-AbwehrFCB3_VN" 
                                data-fieldname="AbwehrFCB3_VN" 
                                data-default="Fritz" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des dritten Bayern-Verteidigers ist																					</label>
																					<input type="text" value="Lähm" 
                                name="vars-AbwehrFCB3_NN" maxlength="30" id="vars-AbwehrFCB3_NN" 
                                data-fieldname="AbwehrFCB3_NN" 
                                data-default="Lähm" 
                                class="field focuser default" />
							<span class="field_count">20x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des vierten Bayern-Verteidigers ist																					</label>
																					<input type="text" value="Sergio" 
                                name="vars-AbwehrFCB4_VN" maxlength="30" id="vars-AbwehrFCB4_VN" 
                                data-fieldname="AbwehrFCB4_VN" 
                                data-default="Sergio" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des vierten Bayern-Verteidigers ist																					</label>
																					<input type="text" value="Constaso" 
                                name="vars-AbwehrFCB4_NN" maxlength="30" id="vars-AbwehrFCB4_NN" 
                                data-fieldname="AbwehrFCB4_NN" 
                                data-default="Constaso" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des fünften Bayern-Verteidigers ist																					</label>
																					<input type="text" value="Franz" 
                                name="vars-AbwehrFCB5_VN" maxlength="30" id="vars-AbwehrFCB5_VN" 
                                data-fieldname="AbwehrFCB5_VN" 
                                data-default="Franz" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des fünften Bayern-Verteidigers ist																					</label>
																					<input type="text" value="Kammer" 
                                name="vars-AbwehrFCB5_NN" maxlength="30" id="vars-AbwehrFCB5_NN" 
                                data-fieldname="AbwehrFCB5_NN" 
                                data-default="Kammer" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mittelfeld des deutschen Vereins</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Nicolas Libéry</i>, Mittelfeldspieler des FC Bayern München; Franzose.

<i>Hasan Tolgatop</i>, Mittelfeldspieler des FC Bayern München.

<i>Ruben Robbe</i>, Mittelfeldspieler des FC Bayern München; holländischer Nationalspieler; hat einen kometenhaften Aufstieg beim FC Bayern München hingelegt.

<i>Marco van Troddel</i>, Mittelfeldspieler des FC Bayern München; holländischer Nationalspieler; fällt vor dem Finale verletzungsbedingt aus, weswegen <i>Paul</i> von Beginn an spielen darf.

<i>Sebastian Katzenberger</i>, Mittelfeldspieler des FC Bayern München.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des ersten Bayern-Mittelfeldspielers ist																					</label>
																					<input type="text" value="Nicolas" 
                                name="vars-MittelFCB1_VN" maxlength="30" id="vars-MittelFCB1_VN" 
                                data-fieldname="MittelFCB1_VN" 
                                data-default="Nicolas" 
                                class="field focuser default" />
							<span class="field_count">10x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des ersten Bayern-Mittelfeldspielers ist																					</label>
																					<input type="text" value="Libéry" 
                                name="vars-MittelFCB1_NN" maxlength="30" id="vars-MittelFCB1_NN" 
                                data-fieldname="MittelFCB1_NN" 
                                data-default="Libéry" 
                                class="field focuser default" />
							<span class="field_count">19x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des zweiten Bayern-Mittelfeldspielers ist																					</label>
																					<input type="text" value="Hasan" 
                                name="vars-MittelFCB2_VN" maxlength="30" id="vars-MittelFCB2_VN" 
                                data-fieldname="MittelFCB2_VN" 
                                data-default="Hasan" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des zweiten Bayern-Mittelfeldspielers ist																					</label>
																					<input type="text" value="Tolgatop" 
                                name="vars-MittelFCB2_NN" maxlength="30" id="vars-MittelFCB2_NN" 
                                data-fieldname="MittelFCB2_NN" 
                                data-default="Tolgatop" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des dritten Bayern-Mittelfeldspielers ist																					</label>
																					<input type="text" value="Ruben" 
                                name="vars-MittelFCB3_VN" maxlength="30" id="vars-MittelFCB3_VN" 
                                data-fieldname="MittelFCB3_VN" 
                                data-default="Ruben" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des dritten Bayern-Mittelfeldspielers ist																					</label>
																					<input type="text" value="Robbe" 
                                name="vars-MittelFCB3_NN" maxlength="30" id="vars-MittelFCB3_NN" 
                                data-fieldname="MittelFCB3_NN" 
                                data-default="Robbe" 
                                class="field focuser default" />
							<span class="field_count">31x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des vierten Bayern-Mittelfeldspielers ist																					</label>
																					<input type="text" value="Marco" 
                                name="vars-MittelFCB4_VN" maxlength="30" id="vars-MittelFCB4_VN" 
                                data-fieldname="MittelFCB4_VN" 
                                data-default="Marco" 
                                class="field focuser default" />
							<span class="field_count">15x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des vierten Bayern-Mittelfeldspielers ist																					</label>
																					<input type="text" value="van Troddel" 
                                name="vars-MittelFCB4_NN" maxlength="30" id="vars-MittelFCB4_NN" 
                                data-fieldname="MittelFCB4_NN" 
                                data-default="van Troddel" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des fünften Bayern-Mittelfeldspielers ist																					</label>
																					<input type="text" value="Sebastian" 
                                name="vars-MittelFCB5_VN" maxlength="30" id="vars-MittelFCB5_VN" 
                                data-fieldname="MittelFCB5_VN" 
                                data-default="Sebastian" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des fünften Bayern-Mittelfeldspielers ist																					</label>
																					<input type="text" value="Katzenberger" 
                                name="vars-MittelFCB5_NN" maxlength="30" id="vars-MittelFCB5_NN" 
                                data-fieldname="MittelFCB5_NN" 
                                data-default="Katzenberger" 
                                class="field focuser default" />
							<span class="field_count">10x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Sturm des deutschen Vereins</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Ivano Ilic</i>, Stürmer des FC Bayern München; erfolgreicher Torjäger.

<i>Mark Gomera</i>, Stürmer des FC Bayern München.

<i>Adam Kloski</i>, Stürmer des FC Bayern München; deutscher Nationalspieler, der aber bei Bayern München, ähnlich wie <i>Paul</i>, immer um einen Platz in der ersten Elf kämpfen muss.

<i>Thommy Meyer</i>, Stürmer des FC Bayern München; mit 20 Jahren der Youngster im Team; vielversprechendes Talent.
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des ersten Bayern-Stürmers ist																					</label>
																					<input type="text" value="Ivano" 
                                name="vars-SturmFCB1_VN" maxlength="30" id="vars-SturmFCB1_VN" 
                                data-fieldname="SturmFCB1_VN" 
                                data-default="Ivano" 
                                class="field focuser default" />
							<span class="field_count">13x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des ersten Bayern-Stürmers ist																					</label>
																					<input type="text" value="Ilic" 
                                name="vars-SturmFCB1_NN" maxlength="30" id="vars-SturmFCB1_NN" 
                                data-fieldname="SturmFCB1_NN" 
                                data-default="Ilic" 
                                class="field focuser default" />
							<span class="field_count">30x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des zweiten Bayern-Stürmers ist																					</label>
																					<input type="text" value="Mark" 
                                name="vars-SturmFCB2_VN" maxlength="30" id="vars-SturmFCB2_VN" 
                                data-fieldname="SturmFCB2_VN" 
                                data-default="Mark" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des zweiten Bayern-Stürmers ist																					</label>
																					<input type="text" value="Gomera" 
                                name="vars-SturmFCB2_NN" maxlength="30" id="vars-SturmFCB2_NN" 
                                data-fieldname="SturmFCB2_NN" 
                                data-default="Gomera" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des dritten Bayern-Stürmers ist																					</label>
																					<input type="text" value="Adam" 
                                name="vars-SturmFCB3_VN" maxlength="30" id="vars-SturmFCB3_VN" 
                                data-fieldname="SturmFCB3_VN" 
                                data-default="Adam" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des dritten Bayern-Stürmers ist																					</label>
																					<input type="text" value="Kloski" 
                                name="vars-SturmFCB3_NN" maxlength="30" id="vars-SturmFCB3_NN" 
                                data-fieldname="SturmFCB3_NN" 
                                data-default="Kloski" 
                                class="field focuser default" />
							<span class="field_count">24x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des vierten Bayern-Stürmers ist																					</label>
																					<input type="text" value="Thommy" 
                                name="vars-SturmFCB4_VN" maxlength="30" id="vars-SturmFCB4_VN" 
                                data-fieldname="SturmFCB4_VN" 
                                data-default="Thommy" 
                                class="field focuser default" />
							<span class="field_count">12x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des vierten Bayern-Stürmers ist																					</label>
																					<input type="text" value="Meyer" 
                                name="vars-SturmFCB4_NN" maxlength="30" id="vars-SturmFCB4_NN" 
                                data-fieldname="SturmFCB4_NN" 
                                data-default="Meyer" 
                                class="field focuser default" />
							<span class="field_count">15x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ehemaliger Stürmer des deutschen Vereins</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Toni Lukas</i>, ehemaliger Stürmer des FC Bayern München.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des ehemaligen Bayern-Spielers ist																					</label>
																					<input type="text" value="Toni" 
                                name="vars-Ehemaliger_VN" maxlength="30" id="vars-Ehemaliger_VN" 
                                data-fieldname="Ehemaliger_VN" 
                                data-default="Toni" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des ehemaligen Bayern-Spielers ist																					</label>
																					<input type="text" value="Lukas" 
                                name="vars-Ehemaliger_NN" maxlength="30" id="vars-Ehemaliger_NN" 
                                data-fieldname="Ehemaliger_NN" 
                                data-default="Lukas" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Torwart des italienischen Vereins</div>
				<div class="description" style="margin-top: 5px;display:none"><i>José Antonius</i>, Torwart von Inter Mailand. 
</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Inter-Torwarts ist																					</label>
																					<input type="text" value="José" 
                                name="vars-TorwartIM_VN" maxlength="30" id="vars-TorwartIM_VN" 
                                data-fieldname="TorwartIM_VN" 
                                data-default="José" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Inter-Torwarts ist																					</label>
																					<input type="text" value="Antonius" 
                                name="vars-TorwartIM_NN" maxlength="30" id="vars-TorwartIM_NN" 
                                data-fieldname="TorwartIM_NN" 
                                data-default="Antonius" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Abwehr des italienischen Vereins</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Miguel Frenetti</i>, Verteidiger von Inter Mailand.

<i>Lucinho</i>, Verteidiger von Inter Mailand; spielte früher selbst beim FC Bayern München.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des ersten Inter-Verteidigers ist																					</label>
																					<input type="text" value="Miguel" 
                                name="vars-AbwehrIM1_VN" maxlength="30" id="vars-AbwehrIM1_VN" 
                                data-fieldname="AbwehrIM1_VN" 
                                data-default="Miguel" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des ersten Inter-Verteidigers ist																					</label>
																					<input type="text" value="Frenetti" 
                                name="vars-AbwehrIM1_NN" maxlength="30" id="vars-AbwehrIM1_NN" 
                                data-fieldname="AbwehrIM1_NN" 
                                data-default="Frenetti" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des zweiten Inter-Verteidigers ist																					</label>
																					<input type="text" value="Lucinho" 
                                name="vars-AbwehrIM2_NN" maxlength="30" id="vars-AbwehrIM2_NN" 
                                data-fieldname="AbwehrIM2_NN" 
                                data-default="Lucinho" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Mittelfeld des italienischen Vereins</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Jayden Vollenhoven</i>, Mittelfeldspieler von Inter Mailand, holländischer Nationalspieler; 25 Jahre alt.

<i>Gabriel Biasso</i>, Mittelfeldspieler von Inter Mailand.

<i>Marcio Grotta</i>, Mittelfeldspieler von Inter Mailand.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des ersten Inter-Mittelfeldspielers ist																					</label>
																					<input type="text" value="Jayden" 
                                name="vars-MittelIM1_VN" maxlength="30" id="vars-MittelIM1_VN" 
                                data-fieldname="MittelIM1_VN" 
                                data-default="Jayden" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des ersten Inter-Mittelfeldspielers ist																					</label>
																					<input type="text" value="Vollenhoven" 
                                name="vars-MittelIM1_NN" maxlength="30" id="vars-MittelIM1_NN" 
                                data-fieldname="MittelIM1_NN" 
                                data-default="Vollenhoven" 
                                class="field focuser default" />
							<span class="field_count">14x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des zweiten Inter-Mittelfeldspielers ist																					</label>
																					<input type="text" value="Gabriel" 
                                name="vars-MittelIM2_VN" maxlength="30" id="vars-MittelIM2_VN" 
                                data-fieldname="MittelIM2_VN" 
                                data-default="Gabriel" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des zweiten Inter-Mittelfeldspielers ist																					</label>
																					<input type="text" value="Biasso" 
                                name="vars-MittelIM2_NN" maxlength="30" id="vars-MittelIM2_NN" 
                                data-fieldname="MittelIM2_NN" 
                                data-default="Biasso" 
                                class="field focuser default" />
							<span class="field_count">5x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des dritten Inter-Mittelfeldspielers ist																					</label>
																					<input type="text" value="Marcio" 
                                name="vars-MittelIM3_VN" maxlength="30" id="vars-MittelIM3_VN" 
                                data-fieldname="MittelIM3_VN" 
                                data-default="Marcio" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des dritten Inter-Mittelfeldspielers ist																					</label>
																					<input type="text" value="Grotta" 
                                name="vars-MittelIM3_NN" maxlength="30" id="vars-MittelIM3_NN" 
                                data-fieldname="MittelIM3_NN" 
                                data-default="Grotta" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Sturm des italienischen Vereins</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Sammy Eto</i>, Stürmer von Inter Mailand.

<i>Pablo Finito</i>, Stürmer von Inter Mailand.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des ersten Inter-Stürmers ist																					</label>
																					<input type="text" value="Sammy" 
                                name="vars-SturmIM1_VN" maxlength="30" id="vars-SturmIM1_VN" 
                                data-fieldname="SturmIM1_VN" 
                                data-default="Sammy" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des ersten Inter-Stürmers ist																					</label>
																					<input type="text" value="Eto" 
                                name="vars-SturmIM1_NN" maxlength="30" id="vars-SturmIM1_NN" 
                                data-fieldname="SturmIM1_NN" 
                                data-default="Eto" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
											<div class="field">
							<label>
							Der Vorname des zweiten Inter-Stürmers ist																					</label>
																					<input type="text" value="Pablo" 
                                name="vars-SturmIM2_VN" maxlength="30" id="vars-SturmIM2_VN" 
                                data-fieldname="SturmIM2_VN" 
                                data-default="Pablo" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des zweiten Inter-Stürmers ist																					</label>
																					<input type="text" value="Finito" 
                                name="vars-SturmIM2_NN" maxlength="30" id="vars-SturmIM2_NN" 
                                data-fieldname="SturmIM2_NN" 
                                data-default="Finito" 
                                class="field focuser default" />
							<span class="field_count">9x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			Der Bayern-Profi <span class='default Held_VN'>Paul</span> <span class='default Held_NN'>Schmidt</span> hofft auf einen Einsatz im Finale des größten und wichtigsten Wettbewerbs für europäische Fußball-Vereinsmannschaften. Sein Kumpel <span class='default Freund_VN'>Murat</span> <span class='default Freund_NN'>Schulz</span> und der freundliche Journalist <span class='default Reporter_VN'>Rudi</span> <span class='default Reporter_NN'>Kruse</span> drücken die Daumen, dass der verletzte Mittelfeldspieler bald wieder fit genug ist, um neben all seinen Vereinskollegen um die Krone Europas zu kämpfen. Bayern-Trainer <span class='default Trainer_VN'>Luis</span> <span class='default Trainer_NN'>van Gool</span> stehen folgende Spieler zur Verfügung: Der Torwart <span class='default TorwartFCB_VN'>Hans Joachim</span> <span class='default TorwartFCB_NN'>Putt</span>, die Verteidiger <span class='default AbwehrFCB1_VN'>Tim</span> <span class='default AbwehrFCB1_NN'>van Huyten</span>, <span class='default AbwehrFCB2_VN'>Martin</span> <span class='default AbwehrFCB2_NN'>Demarkus</span>, <span class='default AbwehrFCB3_VN'>Fritz</span> <span class='default AbwehrFCB3_NN'>LÃ¤hm</span>, <span class='default AbwehrFCB4_VN'>Sergio</span> <span class='default AbwehrFCB4_NN'>Constaso</span> und <span class='default AbwehrFCB5_VN'>Franz</span> <span class='default AbwehrFCB5_NN'>Kammer</span>, die Mittelfeldspieler <span class='default MittelFCB2_VN'>Hasan</span> <span class='default MittelFCB2_NN'>Tolgatop</span>, <span class='default MittelFCB3_VN'>Ruben</span> <span class='default MittelFCB3_NN'>Robbe</span>, <span class='default MittelFCB4_VN'>Marco</span> <span class='default MittelFCB4_NN'>van Troddel</span> und <span class='default MittelFCB5_VN'>Sebastian</span> <span class='default MittelFCB5_NN'>Katzenberger</span> sowie die Stürmerstars <span class='default SturmFCB1_VN'>Ivano</span> <span class='default SturmFCB1_NN'>Ilic</span>, <span class='default SturmFCB2_VN'>Mark</span> <span class='default SturmFCB2_NN'>Gomera</span>, <span class='default SturmFCB3_VN'>Adam</span> <span class='default SturmFCB3_NN'>Kloski</span> und <span class='default SturmFCB4_VN'>Thommy</span> <span class='default SturmFCB4_NN'>Meyer</span>. Nur der Franzose <span class='default MittelFCB1_VN'>Nicolas</span> <span class='default MittelFCB1_NN'>LibÃ©ry</span> und <span class='default Ehemaliger_VN'>Toni</span> <span class='default Ehemaliger_NN'>Lukas</span> werden nicht dabei sein. Der eine aufgrund einer Sperre, der andere wegen eines erst kürzlich vollzogenen Vereinswechsels. Kann die Mannschaft aus Italien dem deutschen Verein die Stirn bieten? Torwart <span class='default TorwartIM_VN'>JosÃ©</span> <span class='default TorwartIM_NN'>Antonius</span> und seine Mannen, darunter die Verteidiger <span class='default AbwehrIM1_VN'>Miguel</span> <span class='default AbwehrIM1_NN'>Frenetti</span> und <span class='default AbwehrIM2_NN'>Lucinho</span>, die Mittelfeldspieler <span class='default MittelIM1_VN'>Jayden</span> <span class='default MittelIM1_NN'>Vollenhoven</span>, <span class='default MittelIM2_VN'>Gabriel</span> <span class='default MittelIM2_NN'>Biasso</span> und <span class='default MittelIM3_VN'>Marcio</span> <span class='default MittelIM3_NN'>Grotta</span> sowie die Stürmer <span class='default SturmIM1_VN'>Sammy</span> <span class='default SturmIM1_NN'>Eto</span> und <span class='default SturmIM2_VN'>Pablo</span> <span class='default SturmIM2_NN'>Finito</span> werden es in jedem Fall versuchen.
		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

