<?php $expire = 1405664032; /* http://web.personalnovel.local/popup-datenschutz.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>popup-datenschutz - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="popup-datenschutz - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="" /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/tl_files/personalnovel_de/css/style.css">
<link rel="stylesheet" type="text/css" media="screen" href="/tl_files/personalnovel_de/css/screen.css">
<style>
.top-header{display:none !important;}
#container{width:auto !important;}
</style>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">

<!-- Belboon -->
<script type="text/javascript">
var belboonTag = {};
</script>
<script type="text/javascript" src="http://containertags.belboon.de/belboonTag.js.php?pId=11937&page=start&type=static"></script>
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Donnerstag 09:00 bis 16:00, Freitag 09:00 bis 15:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="popup-datenschutz">

<section class="ce_text block">

<div id="text">
<h1>Datenschutzerklärung</h1>
<a href="http://personalnovel.de/static/assets/agb/personalnovel-datenschutz-ab-22.11.2010.pdf">Download Datenschutz als PDF-Datei ab 22.11.2010</a><br> <a href="http://personalnovel.de/static/assets/agb/personalnovel-datenschutz-ab-02.11.2009.pdf">Download Datenschutz als PDF-Datei ab 02.11.2009 bis 21.11.2010</a><br> <a href="http://personalnovel.de/static/assets/agb/personalnovel-datenschutz-bis-01.11.2009.pdf">Download Datenschutz als PDF-Datei bis 01.11.2009</a><br> <a href="http://get.adobe.com/reader/">Acrobat Reader zur Ansicht von PDF-Dateien kostenlos herunterladen</a><br> <br>
<p>Stand 22.11.2010</p>
<p>Wir nehmen den Schutz Ihrer Daten sehr ernst. Da Sie uns für die Personalisierung Ihres Buches möglicherweise persönliche Daten mitteilen, ist es für uns selbstverständlich, die datenschutzrechtlichen Bestimmungen einzuhalten. Im Folgenden erhalten Sie Informationen über unsere Datenschutzgrundsätze, die Verwendung Ihrer Daten und damit zusammenhängende Fragen.</p>
<p>Unsere Datenschutzpraxis steht im Einklang mit dem Bundesdatenschutzgesetz (BDSG) sowie dem Telemediengesetz (TMG).</p>
<h4>1. Datenerhebung und Datenverarbeitung</h4>
<p>PersonalNOVEL erhebt nur die zum Zwecke der Bestellung der Waren angegebenen persönlichen Daten, die zur Erfüllung und Abwicklung des Vertrages erforderlich sind. Hierzu gehören die Bestelldaten (Name und Vorname des Bestellers) sowie die Lieferadresse. Eventuell angegebene Kreditkarten- und Bankverbindungsdaten werden von uns nach Abwicklung des Bezahlvorgangs nicht weiter gespeichert.</p>
<h4>2. Datenverwendung und Datenweitergabe</h4>
<p>Wir verwenden Ihre Daten ausschließlich zur Erfüllung und Abwicklung des Vertrages. Wir lassen unsere Bücher von einem externen Unternehmen drucken und fertig stellen. Dieses erhält Kenntnis von Ihren Daten, soweit dies zum Druck und der Erstellung der Waren notwendig ist. Die beauftragten Zahlungs- und Versandunternehmen erhalten Kenntnis von Ihren Daten, soweit dies zur Abwicklung der Zahlung und Lieferung der Waren notwendig ist. Im Übrigen geben wir Ihre Daten nicht an Dritte weiter.</p>
<p>Mit der vollständigen Abwicklung des Vertrages, wozu auch die vollständige Zahlung des vereinbarten Kaufpreises gehört, werden diejenigen Daten, die aus (steuer)rechtlichen Gründen aufbewahrt werden müssen, gesperrt. Diese Daten stehen einer weiteren Verwendung nicht mehr zur Verfügung. Die übrigen Daten werden gelöscht, sofern Sie einer weitere Verarbeitung und Nutzung Ihrer Daten nicht ausdrücklich zugestimmt haben.</p>
<h4>3. Cookies und Warenkorb</h4>
<p>Um Ihre Bestellung realisieren zu können, setzen wir einen Cookie ein. Dieser stellt die Verbindung zwischen den bei uns gespeicherten Daten Ihrer Bestellung (Warenkorb) und Ihrem Browser her. Der Cookie ist 60 Tage gültig. Nach erfolgreicher Bestellung löschen wir die Daten Ihres Warenkorbs vollständig.</p>
<p>Ein "Cookie" ist eine kleine Datendatei, die von uns auf Ihren Computer übertragen wird, wenn Sie auf unserer Site surfen. Ein Cookie kann nur Informationen enthalten, die wir selbst an Ihren Rechner senden - private Daten lassen sich damit nicht auslesen. Wenn Sie die Cookies auf unserer Site akzeptieren, haben wir keinen Zugriff auf Ihre persönlichen Informationen, aber mit Hilfe der Cookies können wir Ihren Computer identifizieren.</p>
<p>Die meisten Browser akzeptieren Cookies standardmäßig. Sie können in den Sicherheitseinstellungen temporäre und gespeicherte Cookies unabhängig voneinander zulassen oder verbieten. Wenn Sie Cookies deaktivieren, stehen Ihnen unter Umständen bestimmte Features auf unserer Site nicht zur Verfügung, und einige Webseiten werden möglicherweise nicht richtig angezeigt.</p>
<p>Die in unseren Cookies gespeicherten Daten werden nicht mit Ihren persönlichen Daten (Name, Adresse usw.) verknüpft.</p>
<p>Ohne Ihre ausdrückliche Zustimmung werden wir die in unseren Cookies gespeicherten Daten nicht mit Ihren persönlichen Daten (Name, Adresse usw.) verknüpfen.</p>
<h4>4. Web Bugs oder „Clear Gifs”</h4>
<p>Um zu ermitteln, wie Werbeaktionen bei den Benutzern ankommen, legen wir ein sogenanntes Web-Bug auf Ihrem Computer ab. Auf diese Weise können wir Ihren Computer erkennen, wenn über diesen die Site erneut aufgerufen wird, Web-Bugs oder auch "clear GIFs" sind kleine, ca. 1*1 Pixel große GIF-Dateien, die in anderen Grafiken, E-Mails, o. ä. versteckt werden können. Web-Bugs erfüllen ähnliche Funktionen wie Cookies, sind für Sie als Benutzer jedoch nicht zu bemerken. Web-Bugs senden Ihre IP-Adresse, die Internet-Adresse der besuchten Webseite URL), den Zeitpunkt an dem der Web-Bug angesehen wurde, den Browsertyp des Benutzers, sowie zuvor gesetzte Cookie-Informationen an einen Web-Server. Um Web-Bugs auf unseren Seiten zu unterbinden, können Sie Tools wie z. B. webwasher, bugnosys oder AdBlock (für den Firefox Browser) verwenden.</p>
<h4>5. Einsatz von Trackingtools</h4>
<p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google”). Google Analytics verwendet sog. „Cookies”, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den USA übertragen und dort gespeichert. <br> Angesichts der Diskussion um den Einsatz von Analysetools mit vollständigen IP-Adressen möchten wir darauf hinweisen, dass diese Website Google Analytics mit der Erweiterung „_anonymizeIp()“ verwendet und daher IP-Adressen nur in gekürzter Form weiterverarbeitet. Damit ist eine direkte Personenbeziehbarkeit ausgeschlossen. Google wird diese gekürzte IP-Adresse benutzen, um Ihre Nutzung der Website so weit möglich auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden. Der Datenerhebung und -speicherung kann jederzeit mit Wirkung für die Zukunft <a href="http://tools.google.com/dlpage/gaoptout?hl=de">hier</a> (http://tools.google.com/dlpage/gaoptout?hl=de) widersprochen werden.</p>
<h4>6. Newsletter &amp; E-Mail</h4>
<p>Sofern Sie dies wünschen, werden wir Sie über unser Angebot gerne auf dem Laufenden halten. Hierfür erhalten Sie unseren Newsletter mit attraktiven Specials und Sonderangeboten. Wir verwenden Ihre E-Mail für diesen Zweck nur dann, wenn Sie hiermit einverstanden sind. Ihr Einverständnis können Sie <a href="romane/newsrm">jederzeit widerrufen</a>.</p>
<h4>7. Auskunftsrecht</h4>
<p>Auf Verlangen werden wir Ihnen unentgeltlich Auskunft über die zu Ihrer Person oder Ihrem Pseudonym gespeicherten Daten erteilen. Wenn Sie dies wünschen, senden Sie bitte eine Nachricht an <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#x69;&#110;&#102;&#111;&#x40;&#112;&#x65;&#x72;&#115;&#111;&#110;&#x61;&#108;&#110;&#111;&#x76;&#101;&#x6C;&#46;&#100;&#x65;">&#x69;&#110;&#102;&#111;&#x40;&#112;&#x65;&#x72;&#115;&#111;&#110;&#x61;&#108;&#110;&#111;&#x76;&#101;&#x6C;&#46;&#100;&#x65;</a>. Ebenso sind wir verpflichtet, auf Verlangen, die über Sie gespeicherten Daten zu berichtigen, zu sperren oder zu löschen.</p>
<h4>8. Widerspruchsrecht</h4>
<p>Sie können der Datenspeicherung - auch nachträglich - jederzeit widersprechen. Ist uns eine Nutzung Ihrer Daten zu Werbezwecken gestattet worden, so kann auch dies jederzeit widerrufen werden. Auf Ihren Wunsch werden wir Ihre Daten berichtigen oder löschen.</p>
<h4>9. Widerruf von Einwilligungen</h4>
<p>Die nachstehende(n) Einwilligung(en) haben Sie gg. Im Verlaufe des Bestellprozesses ausdrücklich erteilt. Wir möchten Sie darauf hinweisen, dass Sie Ihre Einwilligung jederzeit mit Wirkung für die Zukunft widerrufen können.<br> Erlaubnis zur Email Werbung Newsletter:<br> Im Bestellprozess: „JA, ich möchte den kostenlosen Newsletter mit exklusiven Angeboten und Neuigkeiten zu PersonalNOVEL abonnieren.”<br> Auf der Webseite: Ja, ich möchte den kostenlosen Newsletter abonnieren! (Abmeldung jederzeit möglich)</p>
<h4>10. Ansprechpartner</h4>
<p>Sollten Sie weitere Fragen zum Thema Datenschutz haben, so wenden Sie sich gerne an uns:</p>
<p>PersonalNOVEL e.K.<br> Münchner Freiheit 2<br> D-80802 München<br> <br> Telefon: 089 340 77 19 0<br> Telefax: +49 89 255 57 55 13<br> Erreichbarkeit: Montag bis Freitag 9:00 bis 18:00, ausgenommen Feiertage in Bayern.<br> <br> E-Mail: &#x69;&#110;&#102;&#111;&#x40;&#112;&#x65;&#x72;&#115;&#111;&#110;&#x61;&#108;&#110;&#111;&#x76;&#101;&#x6C;&#46;&#100;&#x65;<br> <br> </p>
<p>München, 22.11.2010</p>
</div>
<div id="buttons"><input id="close" style="float: right;" type="button" value="Fenster schließen"> <input id="print" style="float: left;" type="button" value="Drucken"></div>
</section>

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>

</div>

</body>
</html>

