<?php $expire = 1393878446; /* http://web.personalnovel.local/book/items/677.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>New Kinderbue - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Test">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="New Kinderbue - PersonalNOVEL" /> 
<meta property="og:image" content="http://web.personalnovel.local/tl_files/thumbnail-book/new-kinderbue-677-face.png" /> 
<meta property="og:description" content="Test" /> 
<meta property="og:url" content="http://web.personalnovel.local/book/677/new-kinderbue">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<style media="screen">
#left{width:200px;}
#main{margin-left:200px;}
</style>
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/tabs.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/detail.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.cycle.min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/tg.css" media="screen" type="text/css" rel="stylesheet" />
<style>
#main {
padding-right: 0px !important;
} 
</style>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">

<div class="base_header">
<div id="header-links-box">
                        
  <div id="logo"><a href=""></a></div>
   <!--
  <div id="versand"><a href="/service-versand.html"></a></div>
  
  <div class="headerlinks">
      <div id="headerlinkgroup">
      	<a class="hidden" id="basklink"><img title="Warenkorb" kasse="" alt="Warenkorb" src="tl_files/personalnovel_de/static/img/icons/shoppingbag.png"></a>&nbsp;&nbsp;
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So einfach geht‘s</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/newsletter.html">Newsletter</a>&nbsp;|&nbsp; 
        <a style="vertical-align: top;" href="/agb.html">AGB</a>&nbsp;|&nbsp;
        <a style="vertical-align: top;" href="/kontakt.html">Kontakt</a>&nbsp;|&nbsp;
       
        <a style="vertical-align: top;" href="/faq.html">Hilfe</a>&nbsp;
      </div>
  </div>
   -->
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
		<span class="green cartsum" cartsum="14.95">
		14,95</span> 
		<span class="green">EUR </span> <br />inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
    	    	     <a class="cart-link" href="http://web.personalnovel.local/checkout?order=2043225&step=Warenkorb"><img src="tl_files/personalnovel_de/cart.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:1000"></a>
	            
    <div id="cart-detail">
    
        
            <strong>1x 
        Auf Schatzsuche         (für Jungen)        </strong>
        <span class="green">14,95 EUR</span><br/>
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->

<style>
#tab-menu li.oktoberfest:hover {
      background-color: hsl(197, 100%, 47%) !important;
  }
  #tab-menu { margin-top: 5px !important }
</style>
<div id="tab-menu">
  <ul>
    <li><a title="Besondere Anlässe" href="http://www.personalnovel.de/geschenkbuecher/"><span>Besondere Anlässe</span></a></li> 
    <li><a title="Valentinstag" href="http://www.personalnovel.de/valentinstag"><span>Valentinstag</span></a></li>
    <li><a title="Hochzeit" href="/hochzeitsgeschenke"><span>Hochzeit</span></a></li>
   </ul>
</div>
<div class="kundengeschenke" id="menunav">
<div class="container">
<ul class="level_1">
<li class="first"><a class="first" title="Personalisierte Bücher &amp; Romane" href="/romane/">Romane</a></li>
<li><a title="Klassische Literatur personalisiert" href="/personalisierteklassiker/">Klassiker der Literatur</a></li>
<li><a title="Personalisierte Kinderbücher" href="/kinderbuecher/">Kinderbücher</a></li>
<li><a title="Personalisierte Jugendbücher" href="/jugendbuecher/">Jugendbücher</a></li>
<li ><a  title="Personalisierte Kalender" href="/kalender/">Kalender</a></li>
<li><a href="/eigenerwein/" title="Weinetiketten"><span>Wein &amp; Champagner Etiketten</span></a></li>
<li><a href="/kundengeschenke/" title="Firmenkunden"><span>Firmenkunden</span></a></li>
<li class="last"><a href="/personalisierte-ebooks" title="Personalisierte E-Books"><span>E-Books</span></a></li>
</ul>

<div class='flash-language'>
  <a class='active' onclick="return false" href='' title="Germany"></a>
  <a class='inactive' href='http://www.personalnovel.co.uk' title="United Kingdom"></a>
</div>
<style>
  .flash-language a {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
    width:24px;
    height:24px;
  }
  .flash-language {
    position: absolute;
    right: 0px;
    height: 30px;
    line-height: 30px;
    width: 70px;
  }
  .flash-language .active{
    background:url("/tl_files/personalnovel_de/image/uk/Germany-Flag.png") no-repeat;
  }
  .flash-language .inactive{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag-active.png") no-repeat;
  }
  .flash-language .inactive:hover{
    background:url("/tl_files/personalnovel_de/image/uk/United-Kingdom-flag.png") no-repeat;	
  }
</style>

</div>
</div>
 
</div>
</header>

<div id="container">
<div class="real_content">

<aside id="left">
<div class="inside navigation">

<div class="title_nav"><div class="section ">Geschenk nach Anlass</div></div>
<div class="links ">
        <a href="/geburtstagsgeschenke/" title="personalisierter Geburtstag" class="navitem">Geburtstag</a>
        <a href="/weihnachten/" title="personalisierter Weihnachten" class="navitem">Weihnachten</a>
        <a href="/hochzeitsgeschenke/" title="personalisierter Hochzeit" class="navitem">Hochzeit</a>
       <!-- <a href="/valentinstag/" title="personalisierter Valentinstag" class="navitem">Valentinstag</a>-->
        <a href="/mutterstag/" title="personalisierter Muttertag" class="navitem">Muttertag</a>
       <a href="/romane/geschenk-anlass?filter=anlass" title="personalisierter Roman" class="navitem">Noch mehr Anlässe</a>
       <hr class="spacer">
</div>
<div class="title_nav"><div class="section "> Geschenke für alle </div></div>
 <div class="links ">
	<!--<a href="/romane/geschenk-anlass?filter=anlass" title="personalisierter Roman" class="navitem">Anlass</a>-->
	<a href="/romane/geschenk-alter?filter=alter" title="personalisierter Roman" class="navitem">Je nach Alter</a>
	<a href="/romane/geschenk-sie?Für+wen=Für+sie" title="personalisierter Roman" class="navitem">Frauen in der Hauptrolle</a>
	<a href="/romane/geschenk-ihn?Für+wen=Für+ihn" title="personalisierter Roman" class="navitem">Männer in der Hauptrolle</a>		
	<a href="/romane/geschenk-paare?Für+wen=Für+Paare" title="personalisierter Roman" class="navitem">Für Paare</a>	
	<a href="/romane/geschenk-freunde?Für+wen=Für+Freunde" title="personalisierter Roman" class="navitem">Für Freunde in Freundschaft</a>  
	<a href="/kinderbuecher/" title="personalisierter Roman" class="navitem">Kinderbücher für die Jüngsten</a>
	<a href="/romane/geschenk-teenager?Für+wen=Für+Teenager" title="personalisierter Roman" class="navitem">Teenager- und für Jugendbücher</a>
	<a href="/romane/geschenk-familie?Für+wen=Für+Familie" title="personalisierter Roman" class="navitem">Für die ganze Familie</a>
	<a href="/romane/neuerscheinungen" title="personalisierter Roman" class="navitem">Neu bei PersonalNOVEL</a>
        <hr class="spacer">
</div>
<div class="title_nav"><div class="section "> Geschenkideen </div></div>
 <div class="links ">
	 <a href="/romane/gesamtsortiment" title="personalisierter Roman" class="navitem">Gesamtsortiment</a>
                <a href="/eigenerwein/" title="Weinetiketten" class="navitem">Wein &amp; Champagner</a>
                <a href="/kalender_fuer_2014_2015/" title="Kalender personalisieren" class="navitem">Kalender für 2014</a>
        
       <hr class="spacer">
</div>
<div class="title_nav"><div class="section ">Genres</div></div>
<div class="links ">
	<a href="/romane/krimi-thriller" title="personalisierter Roman" class="navitem">Krimi - Thriller</a>
	<a href="/romane/liebe" title="personalisierter Roman" class="navitem">Liebe</a>
	<a href="/romane/frauen" title="personalisierter Roman" class="navitem">Frauen</a>
	<a href="/romane/historisch" title="personalisierter Roman" class="navitem">Historisch</a>
        <a href="/romane/cameo-klassiker" title="personalisierter Roman" class="navitem">Cameo Klassiker</a>
	<a href="/romane/abenteuer" title="personalisierter Roman" class="navitem">Abenteuer</a>
	<a href="/romane/science-fiction" title="personalisierter Roman" class="navitem">Science - Fiction</a>
	<a href="/romane/mystery-fantasy" title="personalisierter Roman" class="navitem">Mystery - Fantasy</a>
	<a href="/romane/familie-freunde" title="personalisierter Roman" class="navitem">Familie - Freunde</a>
	<a href="/romane/sport-fussball" title="personalisierter Roman" class="navitem">Sport - Fussball</a>
	<a href="/romane/gleichgeschlechtlich" title="personalisierter Roman" class="navitem">Gleichgeschlechtlich</a>
        <a href="/romane/english-books" title="personalisierter Roman" class="navitem">Englische Romane</a>
        <hr class="spacer">
	<!--
  	<a href="/weinetiketten/wines.html?Weinart=Champagner" class="navitem">Champagneretiketten</a>
  	<a href="/weinetiketten/wines.html" class="navitem">Weinetiketten</a>
	<hr class="spacer">
        -->
</div>
<div class="title_nav"><div class="section ">Ihr Buch</div></div>
<div class="links ">
	<a href="romane/personalisierung" title="personalisierter Roman" class="navitem">Personalisierung</a>
        <a href="romane/widmung" title="personalisierter Roman" class="navitem">Widmung</a>
  	<a href="romane/preise-einbaende" title="personalisierter Roman" class="navitem">Einbände &amp; Preise</a>
	<a href="romane/umschlag-gestaltung" title="personalisierter Roman" class="navitem">Umschlag &amp; Gestaltung</a>
        <a href="romane/geschenkbox" title="personalisierter Roman" class="navitem">Geschenkbox</a>
        <a href="romane/galerie" title="personalisierter Roman" class="navitem">Galerie</a>
	<hr class="spacer">
</div>
<div class="title_nav"><div class="section ">Service</div></div>
<div class="links ">
	<a href="/service-versand" title="personalisierter Roman" class="navitem">Liefertermine &amp; Versand </a>
	<a href="/zahlung" title="personalisierter Roman" class="navitem">Zahlung</a>
        <a href="/showroom/" class="navitem"  title="Showroom München">Showroom München</a>
        <hr class="spacer">
</div>
<div class="title_nav"><div class="section"></div></div>
<div class="navigation centered" style="border-left: 1px solid #E7E6E6;border-right: 1px solid #E7E6E6;margin-bottom:0;">
    <a class="nooutline" href="http://www.personalnovel.de/zahlung" style="padding-left: 0;">
      <img width="198" height="115" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" title="Payment" alt="Payment">
    </a>
</div>
<div class="title_nav"><div class="section ">Kommunikation</div></div>
<div id="social_media">

  <a target="_blank" title="" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659">
    <img title="Folgen Sie uns auf Facebook!" alt="Facebook" src="tl_files/personalnovel_de/static/img/icons/facebook.png">
  </a>
  <a target="_blank" href="http://www.twitter.com/PersonalNOVEL">
  <img alt="Follow PersonalNOVEL on Twitter" src="tl_files/personalnovel_de/static/img/icons/twitter.png" />
  </a>
    <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/youtube.png" />
  </a>
    <a target="_blank" href="http://blog.personalnovel.de/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/google.png" />
  </a>
    <a target="_blank" href="http://pinterest.com/personalnovel/">
  <img alt="" src="tl_files/personalnovel_de/static/img/icons/p.png" />
  </a>

</div>
<div style="*display:none; ">
  <div style="position:relative; height:160px; width:100%;">
    <div style="position:relative; height:80px; width:100%;">
    	<a href="https://www.facebook.com/PersonaNOVEL" title="PersonaNOVEL" target="_blank">
      	<img style="width:200px; height:80px;" src="/tl_files/personalnovel_de/static/assets/website/teaser_plugin_facebook_like.png">
      	</a>
    </div>
    <div style="position:absolute;margin:-10px 0px 0px 3px; z-index:4; width:195px; ">
      <iframe id='like-pn' src="//www.facebook.com/plugins/like.php?locale=de_DE&href=http%3A%2F%2Fwww.facebook.com%2FPersonaNOVEL&amp;send=false&amp;layout=standard&amp;width=190&amp;show_faces=false&amp;font=tahoma&amp;colorscheme=light&amp;action=like&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:195px; height:70px;" allowTransparency="true"></iframe>
    </div>
    <div style='clear:both;'></div>
  </div>
</div>
<div id="yelp-biz-badge-fsc-8Grwh5KCPCm3cZXlAu5yMw">PersonalNOVEL e.K.</div>
<script type="text/javascript">
 !function(doc, id){
  var js;
  var scriptElement = doc.getElementsByTagName("script")[0];
  if (!doc.getElementById(id)) {
   js = doc.createElement("script");
    js.id = id;
    js.src = "http://dyn.yelpcdn.com/biz_badge_js/fsc/8Grwh5KCPCm3cZXlAu5yMw.js";
    scriptElement.parentNode.insertBefore(js, scriptElement);
  }
} (document, "yelp-biz-badge-script-fsc-8Grwh5KCPCm3cZXlAu5yMw");
</script> 
</div>
</aside>

<section id="main">
<div class="inside">

<article class="mod_article block" id="book">
<!-- indexer::stop -->
<div class="content twocolumn">
	<div class="book_presentation clearfix type_1">
		<div class="leftpanel">
			<a href="http://web.personalnovel.local/tl_files/thumbnail-book/new-kinderbue-677-view.png" class="lightbox">
				<img alt="New Kinderbue" src="http://web.personalnovel.local/tl_files/thumbnail-book/new-kinderbue-677-detail.png" class="bigcover" />
			</a>
			
            		</div>
		
		<div class="rightpanel">
			<h1>
				New Kinderbue				            </h1>
            <p>
				Test            
            </p>
            <div class="clearfix">
            	<div class="left" style="width:320px;padding-top:20px;">
            		<p>
		            			            		Autor: <i>Gisela Dürr</i><br />
		            			            			            			            				            			            	<i>ca. 212 Seiten</i>
		            </p>
            	</div>
            	<div class="right" style="padding-top:44px;">
            		<div class="text">
	                		               </div>
            		
	               
            	</div>
            </div>
		</div>
		
	</div>
	
	<div class="bottompanel">
		    <div class="block1">
                <div class="fb-share-button  fb_iframe_widget " 
                    data-href="" data-type="button"><span style="height: 18px; width: 61px;">
                    <!--<a onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;p[title]=New+Kinderbue+-+PersonalNOVEL&amp;p[summary]=Test&amp;p[url]=http://web.personalnovel.local/book/677/new-kinderbue&amp;&p[images][0]=http://web.personalnovel.local/tl_files/thumbnail-book/new-kinderbue-677-detail.png', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)">
                		<img src="/tl_files/personalnovel_de/static/assets/website/share_facebook_off.png">
                	</a>-->
                	<a onClick="window.open('http://www.facebook.com/sharer.php?u=http://web.personalnovel.local/book/677/new-kinderbue', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)">
                		<img src="/tl_files/personalnovel_de/static/assets/website/share_facebook_off.png">
                	</a>
       				</span>
                </div>
                
                               <style>
               		
	              	.google-button{
	              		height: 24px;
	              		width: 50px; 
	              		position:absolute; 
	              		float:left; 
	              		margin:2px 3px 0px 62px;
	              		*display:none;
	              	}
	              	.like-facebook-button{
	              		height: 18px; 
	              		width: 50px; 
	              		position:absolute; 
	              		float:left; 
	              		margin:7px 3px 0px 134px;
	              		*display:none;
	              	}
	            
              </style>
               
		    	<div class="google-button">
                	<div class="g-plusone" data-width="300" data-href="http://web.personalnovel.local/book/677/new-kinderbue"></div>
				</div>
				<script type="text/javascript">
				  window.___gcfg = {lang: 'de'};
				  (function() {
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = 'https://apis.google.com/js/plusone.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>
				 <!-- facebook like -->
                <div class='like-facebook-button'>
			    	<iframe src="//www.facebook.com/plugins/like.php?href=http://web.personalnovel.local/book/677/new-kinderbue&amp;send=false&amp;layout=button_count&amp;&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true">
			    	</iframe>
		    	</div>
             
		    </div>
		    
		    <div class="block2">
		                <div>
                <span class="showprice article-price">Ab
                24.95 EUR
                </span>
                <span class="showvat article-price">inkl. 7% MWSt</span>
                <br />
                zzgl.
                <a href="/popup-versandkosten" class="popup-link">Versandkosten</a>
            </div>
            		    </div>
		    
		    <div class="block3">
		                          
                <form action="/customize" method="GET">
                    <button type="submit" class="awesomebutton awesomegreen_gradient awesomeicon awesomeround" style="width: 275px;font-size:8.5pt">
                    <span class="icon shopping_bag"><span class="icon">Buch personalisieren und bestellen</span></span>
                    </button>
                    <input type="hidden" name="book" value="677">
                </form>
            
                                <form action="/customize" method="GET">
                    <button type="submit" class="awesomebutton awesomelightblue_gradient awesomeicon awesomeround" style="width: 275px;font-size:8.5pt">
                    <span class="icon arrow_down"><span class="icon">E-Book personalisieren und herunterladen</span></span>
                    </button>
                    <input type="hidden" name="ebook" value="677">
                </form>
                                    
                       		    </div>
            
    </div>
    
</div>


<div class="clear"></div>
<div style="margin: 5px 0 0 18px;width:768px" class="column ebook-help">
    <div class="disclosure-widget">
        <strong>Wie kann ich mein E-Book lesen?</strong>
        <ul style="display: none;">
            <li> eReader-Geräte können unsere E-Books darstellen, sofern
            sie das ePUB-Format unterstützen (z.B. Sony, OYO, Kobo, TrekStor etc.) </li>
            <li> Windows, MacOS und Linux: mit der kostenlosen Software
            <a target="_blank" href="http://calibre-ebook.com/download">Calibre</a>. </li>
            <li> Android-Smartphones: mit einer kostenlosen App wie z.B.
            Aldiko oder FBReader. </li>
            <li> iPhone, iPad etc. mit der kostenlosen iBooks-App. </li>
            <li> Amazon Kindle wird aktuell leider nicht unterstützt. </li>
        </ul>
    </div>
</div>


<div class="content twocolumn">
<div id="tabsdiv">
	<ul id="tabs" class="tab">
	    	
	    	    	    
				<li>
			<a href="#personen">Personen</a>
		</li>
				
								
				
				
				<li>
			<a href="#so_wird_bestellt">So wird bestellt</a>
		</li>
			</ul>
	
			
		<div id="personen" class="tabcontent">
						<div class="note">
				<i>(Kursiv:</i>
				wird durch Ihre Angaben ersetzt<i>)</i>
			</div>
						
							
										                    <h2>Character</h2>
	                    <p><p>
	Descriping character</p>
</p>
                    										
		</div>
		
				
		
		
		<div id="so_wird_bestellt" class="tabcontent">
		<h4>Bestellhilfe</h4>
		<style type="text/css">
			div#text ul { list-style-type: disc; }
			#tabsdiv br { margin-bottom: 10px }
		</style>
		<p>Sie bestellen bei PersonalNOVEL, indem Sie...</p>
		<ul>
			<li>ein Buch auswählen und in einzelnen Schritten personalisieren.</li>
			<li>von Ihnen personalisierte Bücher in den Warenkorb legen.</li>
			<li>Ihre Liefer- und Zahlungsdaten eingeben.</li>
			<li>Ihre E-Mail-Adresse angeben, damit wir Sie per E-Mail über
				Datenschutz und AGB informieren können.
			</li>
			<li>auf der Kontrollseite die Richtigkeit Ihrer Angaben bestätigen</li>
			<li>am Ende auf den Button „Bestellung absenden” klicken. Die
				Bestellung wird erst mit dem Button „Bestellung absenden”
				verbindlich an uns geschickt. Die Information über den Zeitpunkt
				des Vertragsschlusses finden Sie im entsprechenden Abschnitt
				in AGB. Mehr Infos zum Bestellvorgang finden Sie auf unseren Hilfeseiten.
			</li>
		</ul>
		Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden.
	</div>
		
		
</div>
</div>
<script language="javascript">

$(document).ready(function(){
    $("#nextpic").click(function(){ $("#nextpic2").click() });

    $('#previewleft').cycle({
        fx:      'fade',
        speed:   'slow',
        timeout: 0,
        next:    '#nextpic'
    });
    
    $('#previewright').cycle({
        fx:      'fade',
        speed:   'slow',
        timeout: 0,
        next:    '#nextpic2'
    });
    
    $('.disclosure-widget strong').click(function(){
		$(this).parent().toggleClass("disclosed");
		$(this).parent().children("ul").toggle(200);
	});
});

</script>
<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

