<?php $expire = 1401789800; /* http://web.personalnovel.local/checkout/order/2043261.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Bestellung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Bestellung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/checkout.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/checkout.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href="http://muttertag.personalnovel.de/"></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
		<span class="green cartsum" cartsum="29.94">
		29,94</span> 
		<span class="green">EUR </span> <br />inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
    	    	     <a class="cart-link" href="http://web.personalnovel.local/checkout?order=2043261&step=Warenkorb"><img src="tl_files/personalnovel_de/cart.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:1000"></a>
	            
    <div id="cart-detail">
    
        
            <strong>1x 
        Die Nulldimension                </strong>
        <span class="green">29,94 EUR</span><br/>
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="checkout">
<!-- indexer::stop -->

<div class="checkout_steps">

	<ul id="progress">
		<li class="first current">Warenkorb</li>
		<li class="">Bestellen</li>
		<li class="">Versand</li>
		<li class="">Bestätigen</li>
		<li class="">Bezahlen</li>
		<li class="last ">Fertig</li>
	</ul>
	<div class="step1">
<form id="step1" method="post" action="/checkout?order=2043261">
	<input type=hidden name="step" value=1 />
	<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		
	<div class="formheader clearfix">
		<div class="left">
			<h1>Warenkorb Übersicht</h1>
			
			<table style="clear: left" id="basket-general-view">
	            <tbody>
	            
	            		            
		        		        																		<tr class="item_cell">
						<td class="text_cell">
							<strong>
							<span class="item_pieces_8022544">1</span>x 
							Die Nulldimension														</strong>
						</td>
						<td rowspan="3" class="price_cell basket-general-links">
							<a href="/checkout?order=2043261#book_609">Ändern</a>
						</td>
						<td rowspan="3" class="price_cell" id="overview-book-8022544"> 29,94 EUR </td>
						</tr>
						<tr>
							<td class="text_cell">
								Widmung "Handschrift"							</td>
						</tr>
						<tr>
							<td class="text_cell">
								Standardtitel							</td>
						</tr>
						
												 
						<tr><td colspan='3'></td></tr>
							              
		        </tbody>
	        </table>
	        
	        <div class="summary">
				<div class="right price_cell"><strong>29,94 EUR</strong></div>
				<div class="right" style="margin-right: 20px;"><strogn>Gesamtwert Ihres Einkaufs:</strong></div>
	        </div>
		</div>
		
		<div class="right controls">
			<p>
				<button name="submitter" id="True" class="awesomebutton awesomegreen_gradient checkout-button submit awesomeround" type="button">
					<span><span>Zur Kasse gehen &gt;&gt;</span></span>
				</button>
			</p><br />
			<p>
				<a style="float: right;" class="awesomebutton awesomegreen_gradient onlyjs morebooks awesomeround awesomeoutline" href="/romane/">
					<span><span>Weitere Bücher bestellen</span></span>
				</a>
			</p><br />
			
			<p>
				<a style="margin-top: 0.25em;float:right;" class="awesomebutton awesomegreen_gradient onlyjs morewines awesomeround awesomeoutline" href="/eigenerwein/">
					<span><span>Wein dazu bestellen</span></span>
				</a>
			</p>
		</div>
	</div>
	
	
			
	
	
			
		
		
	
	
	    		
	<hr />
	
	<div class="formbody clearfix">
		<div class="title clearfix">
			<a  name="book_609"></a>
			<h1>
				Die Nulldimension							</h1>
		</div>
		
		<div class="left">
			<table cellspacing=0 cellpadding=0>
		        <tbody>
				    <tr class="headline">
				      <td class="instruction_label_cell">
				        Übersicht:
				      </td>
				      <td colspan="2" class="instruction_cell">
				        Klicken Sie auf Ihre Eingaben um diese zu modifizieren
				      </td>
				    </tr>
				    <tr class="item_row">
				      <td class="label_cell">
				      				          Personalisierung:
				          				      </td>
				      <td class="text_cell None">
				      	<input type="hidden" name="book-edit-609" value="true" />
				      	
				      					      	<a href="/customize?order=2043261&bookitem=8022544&step=1&edit=1"
				      	    class="edit_link" >
				      					      	
				        				        Vollständig
				        				        </a>				      
				      </td>
				      <td class="price_cell inclusive">
				          inklusive
				      </td>
				    </tr>
				    <tr class="item_row">
				      <td class="label_cell">
				          Widmung:
				      </td>
				      <td class="text_cell None">
				        				                                    <a href="/customize?order=2043261&bookitem=8022544&widmungitem=8022545&step=2&edit=1"
                                class="edit_link">
                                Widmung "Handschrift"                            </a>
				      					        
				        <br>
				        				        				      </td>
				      <td class="price_cell ">
				          4,99 EUR 
				      </td>
				    </tr>
				    
				    <tr class="item_row">
				      <td class="label_cell">
				          Umschlag:
				      </td>
				      <td class="text_cell None">
				        				                                    <a href="/customize?order=2043261&bookitem=8022544&designitem=8022546&step=4&edit=1"
                                class="edit_link">
                                Standardtitel                            </a>
				      					        
				        <br>
				        				      </td>
				      <td class="price_cell inclusive">
				         inklusive 
				      </td>
				    </tr>
				    
				    				    
				    				    <tr class="item_row">
				      <td class="label_cell">
				          Einband:
				      </td>
				      <td class="text_cell None">
                                                    <a href="/customize?order=2043261&bookitem=8022544&step=3&edit=1"
                                class="edit_link">
                                Taschenbuch 'Edition'                            </a>
				      					        
				        <br>
				      </td>
				      <td class="price_cell ">
				      	  				          24,95 EUR
				      </td>
				    </tr>
				     				    <tr class="item_row">
				      <td class="label_cell">
				          Schrift:
				      </td>
				      <td class="text_cell None">
				                                    <a href="/customize?order=2043261&bookitem=8022544&step=5&edit=1"
                                class="edit_link">
                                Bookman Light                            </a>
				      					        
				      </td>
				      <td class="price_cell inclusive">
				          inklusive
				      </td>
				    </tr>
				    				    				    				    <tr class="item_row">
				      <td class="label_cell">
				          Anzahl:
				      </td>
				      <td class="text_cell None">
				      					        <input type="text"  bookid="8022544" value="1" 
				        name="item_pieces_8022544" 
				        id="item_pieces_8022544" class="n numbook">
				         <span>Stück zu je</span>
				         <span class="single_price_with_upgrades_8022544 price">
				           29,94 EUR
				         </span>
				         <input type="hidden" value="29.94" id="total_8022544">
				      </td>
				      <td class="price_cell ">
						<span class="total_with_upgrades_8022544 price_strong">
														29,94 
						</span>
						EUR
				      </td>
				    </tr>
				    
				    				    
				    				    				    				    				    				    				    <tr class="headline">
				      <th></th>
				      <th colspan="2">Darf es noch etwas sein?</th>
				    </tr>
				    				     <tr class="item_row">
						<td class="label_cell">
													    Geschenkbox
						    						</td>
						<td class="text_cell giftbox">
                                                            <a href="/customize?order=2043261&bookitem=8022544&step=6&edit=1"
                                        class="edit_link">
                                Keine Artikel ausgewählt.
                                </a>
                            						
						</td>
						<td class="price_cell"></td>
				    				    
				    <tr class="linkline">
				      <td colspan="3">
				      
                                                    <a href="/customize?order=2043261&bookitem=8022544&step=6&edit=1"
                                    class="edit_link">
                            Weitere Artikel hinzufügen
                            </a>
                        				        
				      </td>
				    </tr>
				    				    				    
				    				    
				    <tr class="headline">
				      <th></th>
				      <th colspan="2">Versand Ihrer Artikel</th>
				    </tr>
				    <tr class="item_row">
				      <td class="label_cell">
				          Versand:
				      </td>
				      				      <td class="text_cell None">
				        Versandkosten ab 5,95 EUR, <br> innerhalb Deutschlands kostenlos ab 50,00 EUR
				        <br>(Auswahl Lieferort nächste Seite)
				      </td>
				      <td class="price_cell "></td>
				      				    </tr>
				    				    
		        </tbody>
		      </table>
			</div>
			
			<div class="right">
								<div class="tabsdiv">
					<ul class="tabheader clearfix">
						<li><a href="#umschlagbild">Umschlagbild</a></li>
												<li><a href="#widmung">Widmung</a></li>
												<li><a href="#textvorschau">Textvorschau</a></li>
												<li><a href="#personen">
												Personen
												</a></li>
											</ul>
										<div id="umschlagbild">
												<img src="http://preview.personalnovel.de/preview/BookItem/8022544/54e050d71c5689757cc5959b70c12dd3.png?width=350&shadow=3&1401185000&1401185000" />
										        
				                                    <a href="/customize?order=2043261&bookitem=8022544&designitem=8022546&step=4&edit=1"
                                    class="edit_link">
                            Umschlag&nbsp;ändern</a><br />
				      							
						
						
						<span style="font-size:10px; font-style:italic">Problem mit Bildhochladen? <br />
                            Bitte schicken Sie das Bild an <a href="mailto:technik@personalnovel.de">technik@personalnovel.de</a>
                        </span>
					</div>
															<div id="widmung" style="text-align:center">
												
												<p>
														<a class="lightbox" href="http://preview.personalnovel.de/preview/WidmungItem/7118343/87bfde7fd52b178fe99321e56101801c.png?width=750&text=Liebe+Nora+-+Lieber+00Benjamin+mit+Greta+und+Niklas%2C+%0D%0A%0D%0Awir+w%C3%BCnschen+Euch+einen+unverge%C3%9Flichen+Start+in+eine+gemeinsame+Zukunft.+%0D%0AM%C3%B6gen+-+Gl%C3%BCck+-+herzliches+Kinderlachen+-+strahlende+Kinderaugen+-+Gesundheit+-+Humor+-+Sonnenstunden+-+Familie+-+Freunde+-+Euch+stets+begleiten.+%0D%0AWir+freuen+uns+total+f%C3%BCr+Euch.+Und+nat%C3%BCrlich+schon+sehr+auf+weitere+bezaubernde+Spontanbesuche%2C+Grill-Abende+oder+Kaffee-und-Kuchen-Nachmittage+mit+Euch.+%0D%0A%0D%0ABleibt+wie+ihr+seid%2C+so+ists+goldrichtig%21%0D%0A%0D%0AHolger%2C+Petra+mit+Max+%28%26+Heidi%29%0D%0A&fontface=Zapfino Extra LT&fontcolor=blue&fontsize=10" >
							<img src="http://preview.personalnovel.de/preview/WidmungItem/7118343/87bfde7fd52b178fe99321e56101801c.png?width=350&text=Liebe+Nora+-+Lieber+00Benjamin+mit+Greta+und+Niklas%2C+%0D%0A%0D%0Awir+w%C3%BCnschen+Euch+einen+unverge%C3%9Flichen+Start+in+eine+gemeinsame+Zukunft.+%0D%0AM%C3%B6gen+-+Gl%C3%BCck+-+herzliches+Kinderlachen+-+strahlende+Kinderaugen+-+Gesundheit+-+Humor+-+Sonnenstunden+-+Familie+-+Freunde+-+Euch+stets+begleiten.+%0D%0AWir+freuen+uns+total+f%C3%BCr+Euch.+Und+nat%C3%BCrlich+schon+sehr+auf+weitere+bezaubernde+Spontanbesuche%2C+Grill-Abende+oder+Kaffee-und-Kuchen-Nachmittage+mit+Euch.+%0D%0A%0D%0ABleibt+wie+ihr+seid%2C+so+ists+goldrichtig%21%0D%0A%0D%0AHolger%2C+Petra+mit+Max+%28%26+Heidi%29%0D%0A&fontface=Zapfino Extra LT&fontcolor=blue&fontsize=10" />
                            </a>
                            
                                                            <a href="/customize?order=2043261&bookitem=8022544&widmungitem=8022545&step=2&edit=1"
                                    class="edit_link"> 
                                    Widmung ändern</a>
                            							    
						</p>
											</div>
					
										<div id="textvorschau">
					<p><strong>Bitte beachten Sie, dass wir Ihre Daten exakt wie hier angegeben übernehmen.</strong></p>
										<p>Im Jahr 2022 startet die NASA ein Experiment mit der Raumfähre ‚Mystery'. An Bord befinden sich Major <span class='default Major_VN'>gdfg</span> <span class='default Major_NN'>gdfgdf</span>, Lieutenant <span class='default CoPilot_VN'>Mark</span> <span class='default CoPilot_NN'>Wilkinson</span>, die Biotechnikerin Dr. <span class='default Biotechnikerin_VN'>Jean</span> <span class='default Biotechnikerin_NN'>Powell</span>, der Chemiker Dr. <span class='default Chemiker_VN'>Robert</span> <span class='default Chemiker_NN'>Peterson</span> und der Physiker Prof. <span class='default Physiker_VN'>George</span> <span class='default Physiker_NN'>Bartlett</span>. Das Space Shuttle verschwindet spurlos und taucht erst 250 Jahre später wieder in einem Sternhaufen der Plejaden auf. Der Pilotenanwärter <span class='default Abenteurer_VN'>Marty</span> <span class='default Abenteurer_NN'>Donegan</span> rammt die ‚Mystery' beinahe, kann aber im letzten Moment eine Kollision verhindern. Doch nun ist er plötzlich zum Ziel gefährlicher Auftragskiller geworden. Der Mann mit dem <span class='default Abenteurer_Haar'>braun</span>en Haar und den <span class='default Abenteurer_Augen'>braun</span>en Augen entkommt ihnen nur knapp und wird von der Piratin <span class='default Heldin_Spitzname'>Tiger</span> und ihrer Crew <span class='default Kamerad_VN'>John</span> und <span class='default Anderer_Kamerad_VN'>Ben</span> gerettet. Auch ihr Onkel <span class='default Onkel_VN'>Roy</span> <span class='default Onkel_NN'>Callahan</span> ist mit von der Partie. <span class='default Heldin_Spitzname'>Tiger</span>, die in Wirklichkeit <span class='default Heldin_VN'>Berenice</span> <span class='default Heldin_NN'>Mandrill</span> heißt, hat strahlende <span class='default Heldin_Augen'>blau</span>e Augen und <span class='default Heldin_Haar'>schwarz</span>es Haar. Am liebsten trinkt sie <span class='default Heldin_Drink'>Scotch</span>. Zusammen mit ihrem Patenonkel <span class='default Held_VN'>Patrick</span> <span class='default Held_NN'>Parker</span> will sie dem Rätsel auf die Spur kommen. Da trifft es sich gut, dass dieser als Kommandant der ‚Explorer' dazu bestimmt wird, die Zeitreisenden bei sich aufzunehmen. Der Mann mit den <span class='default Held_Augen'>braun</span>en Augen und den <span class='default Held_Haar'>grau</span>en Haaren, der an der Bar gerne <span class='default Held_Drink'>Amaretto</span> bestellt, wird von allen an Bord sehr respektiert. Von seinen engsten und ältesten Freunden wird er <span class='default Held_Spitzname'>Pat</span> gerufen. In seiner Crew sind der erste Offizier <span class='default Offizier_VN'>Dan</span> <span class='default Offizier_NN'>Lynne</span>, die hübsche <span class='default Lieutenant_VN'>Pamela</span> <span class='default Lieutenant_NN'>Frawley</span>, der Arzt <span class='default Arzt_VN'>Marcel</span> <span class='default Arzt_NN'>Cartier</span> und der Techniker <span class='default Techniker_VN'>Jordan</span> <span class='default Techniker_NN'>Dent</span>. Schnell finden sie heraus, dass <span class='default Physiker_NN'>Bartlett</span> wusste, dass eine Zeitreise geplant war. „<span class='default Physiker_Initial'>B</span>... <span class='default Physiker_Initial'>B</span>... <span class='default Physiker_NN'>Bartlett</span>! Wie konntest du uns das antun?“, fragt <span class='default Chemiker_NN'>Peterson</span> ihn ganz außer sich und verfällt dabei sogar ins Stottern. Auch der skrupellose Direktor der ‚Pleyad Minings' <span class='default Minendirektor_VN'>Stanley</span> <span class='default Minendirektor_NN'>Stander</span> rückt immer mehr in den Fokus. Er versucht seine finsteren Machenschaften zu vertuschen und schreckt dabei auch nicht davor zurück, <span class='default Heldin_Spitzname'>Tiger</span> gefangenzunehmen. Doch seine Tochter <span class='default Minentochter_VN'>Scarlett</span> befreit die Piratin in letzter Sekunde. Zuletzt kommt es zu einer großen Schlacht zwischen Menschen und feindlichen Wiyas, bei der auch die Direktorin <span class='default Direktorin_VN'>Sally</span> <span class='default Direktorin_NN'>Albertson</span>, der General <span class='default General_VN'>Montgomery</span> <span class='default General_NN'>Adam</span> und der Kommandant der ‚Osiris' <span class='default Kommandant_VN'>Craig</span> <span class='default Kommandant_NN'>Orlando</span> von der Partie sind. Nachdem die Schlacht gewonnen und das Rätsel um die ‚Mystery' gelöst ist, taucht <span class='default Heldin_Spitzname'>Tiger</span>s tot geglaubter Vater <span class='default Vater_VN'>Steven</span> <span class='default Vater_NN'>Mandrill</span> auf.</p>
					<center>
					                                <a href="/customize?order=2043261&bookitem=8022544&step=1&edit=1"
                                class="edit_link">
                                Personalisierung&nbsp;ändern</a>
				      	                        
					</center>
					</div>
										
					<div id="personen">
						<p>
							<strong>Bitte beachten Sie, dass wir Ihre Daten exakt wie hier angegeben übernehmen</strong>.
						</p>
						
						<table style="border-collapse: collapse; width: 100%;">
							<tbody>
							
																								<tr class="item_row">
									<td class="label_cell">Der Vorname des Majors lautet</td>
									<td title="Standardwert" class="text_cell">gdfg</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Majors lautet</td>
									<td title="Standardwert" class="text_cell">gdfgdf</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Lieutenants lautet</td>
									<td title="Standardwert" class="text_cell">Mark</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Lieutenants lautet</td>
									<td title="Standardwert" class="text_cell">Wilkinson</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Biotechnikerin lautet</td>
									<td title="Standardwert" class="text_cell">Jean</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der Biotechnikerin lautet</td>
									<td title="Standardwert" class="text_cell">Powell</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Chemikers lautet</td>
									<td title="Standardwert" class="text_cell">Robert</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Chemikers lautet</td>
									<td title="Standardwert" class="text_cell">Peterson</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Physikers lautet</td>
									<td title="Standardwert" class="text_cell">George</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Physikers ist</td>
									<td title="Standardwert" class="text_cell">Bartlett</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Anfangsbuchstabe seines Nachnamens ist</td>
									<td title="Standardwert" class="text_cell">B</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Piratin lautet</td>
									<td title="Standardwert" class="text_cell">Berenice</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der Piratin lautet</td>
									<td title="Standardwert" class="text_cell">Mandrill</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Deckname der Piratin ist</td>
									<td title="Standardwert" class="text_cell">Tiger</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Augenfarbe der Piratin ist</td>
									<td title="Standardwert" class="text_cell">blau</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Haarfarbe der Piratin ist</td>
									<td title="Standardwert" class="text_cell">schwarz</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Piratin trinkt am liebsten</td>
									<td title="Standardwert" class="text_cell">Scotch</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Vaters lautet</td>
									<td title="Standardwert" class="text_cell">Steven</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Vaters lautet</td>
									<td title="Standardwert" class="text_cell">Mandrill</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Onkels lautet</td>
									<td title="Standardwert" class="text_cell">Roy</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Onkels lautet</td>
									<td title="Standardwert" class="text_cell">Callahan</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname von Tigers rechter Hand ist</td>
									<td title="Standardwert" class="text_cell">John</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Piraten-Piloten ist</td>
									<td title="Standardwert" class="text_cell">Ben</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Pilotenanwärters ist</td>
									<td title="Standardwert" class="text_cell">Marty</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Pilotenanwärters ist</td>
									<td title="Standardwert" class="text_cell">Donegan</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Augenfarbe des Pilotenanwärters ist</td>
									<td title="Standardwert" class="text_cell">braun</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Haarfarbe des Pilotenanwärters ist</td>
									<td title="Standardwert" class="text_cell">braun</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Explorer-Kommandanten lautet</td>
									<td title="Standardwert" class="text_cell">Patrick</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Explorer-Kommandanten lautet</td>
									<td title="Standardwert" class="text_cell">Parker</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Spitzname des Kommandanten ist</td>
									<td title="Standardwert" class="text_cell">Pat</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Augenfarbe des Kommandanten ist</td>
									<td title="Standardwert" class="text_cell">braun</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Die Haarfarbe des Kommandanten ist</td>
									<td title="Standardwert" class="text_cell">grau</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Lieblingsdrink des Kommandanten ist</td>
									<td title="Standardwert" class="text_cell">Amaretto</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Offiziers lautet</td>
									<td title="Standardwert" class="text_cell">Dan</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Offiziers lautet</td>
									<td title="Standardwert" class="text_cell">Lynne</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der vorname des hübschen Lieutenants ist</td>
									<td title="Standardwert" class="text_cell">Pamela</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des hübschen Lieutenants ist</td>
									<td title="Standardwert" class="text_cell">Frawley</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Arztes lautet</td>
									<td title="Standardwert" class="text_cell">Marcel</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Arztes lautet</td>
									<td title="Standardwert" class="text_cell">Cartier</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Technikers lautet</td>
									<td title="Standardwert" class="text_cell">Jordan</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Technikers lautet</td>
									<td title="Standardwert" class="text_cell">Dent</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Direktorin lautet</td>
									<td title="Standardwert" class="text_cell">Sally</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname der Direktorin lautet</td>
									<td title="Standardwert" class="text_cell">Albertson</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Generals lautet</td>
									<td title="Standardwert" class="text_cell">Montgomery</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Generals lautet</td>
									<td title="Standardwert" class="text_cell">Adam</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Ulysses-Kommandanten ist</td>
									<td title="Standardwert" class="text_cell">Craig</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Ulysses-Kommandanten ist</td>
									<td title="Standardwert" class="text_cell">Orlando</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname des Minendirektors lautet</td>
									<td title="Standardwert" class="text_cell">Stanley</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Nachname des Minendirektors ist</td>
									<td title="Standardwert" class="text_cell">Stander</td>
								</tr>
																																<tr class="item_row">
									<td class="label_cell">Der Vorname der Tochter des Minendirektors lautet</td>
									<td title="Standardwert" class="text_cell">Scarlett</td>
								</tr>
																							<!--
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
																<tr class="item_row">
									<td class="label_cell">Der Vorname der&nbsp;Schauspielerin&nbsp;ist</td>
									<td title="Standardwert" class="text_cell">Lily</td>
								</tr>
															-->
							</tbody>
						</table>
						<br />
						
						                            <a href="/customize?order=2043261&bookitem=8022544&step=1&edit=1"
                                    class="edit_link">
                              Personalisierung&nbsp;ändern
                            </a>
				      							
					</div>
				</div>
			
			</div>
	</div>
	
	<div class="formfooter clearfix">
		<div class="left controls">
            <a onclick="return confirm('&quot; Die Nulldimension &quot; wirklich löschen?');" style="float: left;width:105px;" class="awesomebutton awesomegreen_gradient onlyjs morebooks awesomeround awesomeoutline" 
            href="/checkout?order=2043261&action=remove&bookitem=8022544">
                <span><span>Buch löschen</span></span>
            </a>
		</div>
		<p class="bookbar_total">
		Gesamtpreis inkl. MWSt zzgl. Versandkosten:<span id="book-8022544" class="amount price smallsum" 
		smallsum="29.94">
		29,94  EUR</span></p>
		
		
		<div class="right controls">
			<a style="float: left;width:169px;" class="awesomebutton awesomegreen_gradient onlyjs morebooks awesomeround awesomeoutline" href="/romane/">
				<span><span>Weitere Bücher bestellen</span></span>
			</a>
			<button name="submitter" style="width:169px;margin-left:10px" class="awesomebutton awesomegreen_gradient checkout-button submit awesomeround" type="button">
					<span><span>Zur Kasse gehen &gt;&gt;</span></span>
			</button>
			
		</div>
	</div>
	
		
	
	
		
		
</form>

</div>

<script language="javascript">
$(document).ready(function(){
    var widmung_warning = false;
    var design_warning  = false;
    $("#step1").submit(function(){
        if(design_warning)
        {
            var msg = "Mindestens einer der Artikel in Ihrem Warenkorb hat:\n\n"
                    + "- keinen geänderten Untertitel/Textaufdruck und/oder\n"
                    + "- keine geänderten Personennamen (sondern vorgegebene Originalnamen)\n\n"
                    + "Bitte geben Sie diese ein, bevor Sie die Bestellung abschließen.";

            alert(msg);
            return false;
        }
        
        if(widmung_warning)
        {
            var msg = "Mindestens einer der Artikel in Ihrem Warenkorb hat:\n\n- keine Widmung und/oder\n- " 
                    + "keinen geänderten Untertitel/Textaufdruck\n\nKlicken Sie auf OK falls dies gewollt " 
                    + "ist, oder auf Abbrechen um den Warenkorb zu bearbeiten.";
            
            if(confirm(msg))
                return true;
            else 
                return false;
        }
        
        return true;
    });
});
</script>					

</div>
<!-- indexer::continue -->
</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

