<?php $expire = 1401785906; /* http://web.personalnovel.local/customize/book/430.html */ ?>
<!DOCTYPE html>
<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--

	This website is powered by Contao Open Source CMS :: Licensed under GNU/LGPL
	Copyright ©2005-2014 by Leo Feyer :: Extensions are copyright of their respective owners
	Visit the project website at http://www.contao.org for more information

//-->
<title>Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL</title>
<base href="http://web.personalnovel.local/">
<meta name="robots" content="index,follow">
<meta name="description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. ">
<meta name="keywords" content="">
<meta name="google-site-verification" content="Lj2RCexeEOYOEOfnkYgkWe7F63lgExUxmGtaoTiBvmQ" />
<meta property="og:title" content="Personalisierte Bücher &amp; Romane - Personalisierung - PersonalNOVEL" /> 
<meta property="og:image" content="" /> 
<meta property="og:description" content="Bei PersonalNOVEL können Sie personalisierte Bücher und Romane, Geschenkbücher, personalisierte Kinder-und Jugendbücher erstellen - das ideale Geschenk für Familie, Freunde oder den Partner. " /> 
<meta property="og:url" content="">


<link rel="publisher" href="https://plus.google.com/108463798620929948804"/>
<link rel="shortcut icon" href="/system/modules/tt_manage_books/html/img/favicon.ico">
<link rel="stylesheet" href="system/contao.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/order.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.lightbox-0.5.css" media="screen">
<link rel="stylesheet" href="/system/modules/tt_manage_books/html/css/jquery.alerts.css" media="screen">
<link rel="stylesheet" href="system/scripts/49fd54944f41.css" media="all">
<script src="system/scripts/6bb6ab418aaa.js"></script>
<script>window.jQuery || document.write('<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js">\x3C/script>')</script>
<script src="/system/modules/tt_personalnovel/html/js/jquery.summarize.js" type="text/javascript"></script>
<script>$.noConflict();</script>
<script src="/system/modules/tt_personalnovel/html/js/expandable.js" type="text/javascript"></script>
<script src="/system/modules/tt_personalnovel/html/js/jquery-1.4.1.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.lightbox-0.5.pack.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.alerts.js"></script>
<script src="/system/modules/tt_manage_books/html/js/order.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.typing-0.2.0.min.js"></script>
<script src="/system/modules/tt_manage_books/html/js/jquery.preload-min.js"></script>
<link href="/tl_files/personalnovel_de/css/screen.css" media="screen" type="text/css" rel="stylesheet" />
<link href="/tl_files/personalnovel_de/css/style.css" media="screen" type="text/css" rel="stylesheet" />
<script src="/system/modules/tt_manage_books/html/js/jquery.popupWindow.js"></script>

<!--[if lt IE 9]><script src="plugins/html5shim/html5-1.6.2.js"></script><![endif]-->
<!--[if lte IE 9]><style>
.step2 input#coupons_used { width: 68% }
#tabsdiv br {line-height: 25px;margin-bottom: 10px;}
</style><![endif]-->
<!--[if IE 9]><style>.col1 >label >p  >b >b{font-weight:600;}</style><![endif]-->
<!--fix chorme-->
<style>
@media screen and (-webkit-min-device-pixel-ratio:0) {#tabsdiv br {line-height: 25px;margin-bottom: 10px;} }
</style><!--end-->
</head>
<body id="top" class="{{ua::class}}">
















<script src="//config1.veinteractive.com/tags/9BBAFEDF/31A3/4ED5/89AA/049CBDA7692C/tag.js" type="text/javascript" async></script>

<script src="https://www.dwin1.com/3531.js" type="text/javascript" defer="defer"></script>


<!--[if lte IE 6]>
<div style="background:#ffc;padding:12px;border-bottom:1px solid #e4790f;font-size:14px;color:#000;text-align:center;"><strong>Achtung!</strong> Sie verwenden einen <a href="http://ie6countdown.com" style="font-size:14px;color:#e4790f;">veralteten Browser</a> und <strong>können nicht alle Funktionen dieser Webseite nutzen</strong>.</div>
<![endif]-->
<div class="top-header">
      	<span>Kostenloser Versand ab 50 EUR Warenwert (nur Deutschland und Österreich)</span>
      	<span>Hotline 089 - 9545740 20 Montag bis Freitag 10:00 bis 17:00</span>
        <a style="vertical-align: top;" href="/so_einfach_geht.html">So geht's</a>
        <a style="vertical-align: top;" href="/faq.html">H&auml;ufige Fragen</a>

</div>
<div id="wrapper">

<header id="header">
<div class="inside">
<div class="base_header">
<div id="header-links-box">                   
  <div id="logo"><a href="http://muttertag.personalnovel.de/"></a></div>
</div>
</div><!-- indexer::stop -->

<div class="minicart">
    <div class="left">
        <a style="float: left; margin: 10px 0px;" alt="Siegel egoo" target="_blank" title="Siegel egoo" href="http://egoo.de/zertifikat/personalnovel">
            <img height="48" alt="Siegel egoo" title="Siegel egoo" src="/tl_files/personalnovel_de/static/assets/website/h50-egoo-seal.png?1351260016">
        </a>
        <a style="float: left; margin: 10px 0px 10px 10px;" target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
            <img width="48" height="48" alt="Logo Trusted Shops" title="Logo Trusted Shops" src="/tl_files/personalnovel_de/static/assets/website/logo_trusted_shops.png?1330599408">
        </a>
    </div>
    <div class="middletop">
    <div style="padding-right: 50px">
                Gesamt
        <span class="green cartsum">0</span> 
        <span class="green">EUR </span> <br />
        inkl. MWSt zzgl. <a class="versand" href="#">Versandkosten</a>
            </div>
        <img src="tl_files/personalnovel_de/cart_2.png" alt="" style="position:absolute; top: -10px; right: 0;z-index:100">
        
    <div id="cart-detail">
    
        
        
        
    </div>
    
    </div>
    <div class="middlebottom">
    <script>
      (function() {
        var cx = '001843810901273617471:r_shbdgk13m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
</div>
<script>
jQuery(document).ready(function(){
    jQuery(".minicart a.cart-link img").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery(".minicart a.cart-link img").mouseout(function() { jQuery("#cart-detail").hide() });
    jQuery("#cart-detail").mouseover(function(){ jQuery("#cart-detail").show() });
    jQuery("#cart-detail").mouseout(function() { jQuery("#cart-detail").hide() });
});
</script>

<!-- indexer::continue -->
 
</div>
</header>

<div id="container">
<div class="real_content">

<section id="main">
<div class="inside">

<article class="mod_article block" id="customize">
<!-- indexer::stop -->


<div class="order_steps">


	<ul id="progress"  >
		<li class="first current">
		Personen		</li>
		<li class="">Widmung</li>
		
				<li class="">Einbandvariante</li>
				
		<li class="">Umschlag</li>
		
				<li class="">
			Schriftauswahl		</li>
				
				<li class="last ">Weitere Produkte</li>
			</ul>
	
	<div class="step1">
	<form id="step1" method="post" action="/customize?book=430">
		<input type=hidden name="step" value=1 />
		<input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
		<div class="controls clearfix ">
			<div class="left">
				<img width='115' alt="Cover: Ihr Hobby: Mord" src="/tl_files/thumbnail-book/ihr-hobby-mord-430-detail.png">
								<div class="title">
					<div class="top">
						<h1>
												Personalisieren Sie:
						<br /> 
						„Ihr Hobby: Mord“</h1>
						<p>
						    Bitte nehmen Sie sich ca. 10 Minuten Zeit für Ihre Bestellung.
						    Unser Formular leitet Sie strukturiert durch alle Schritte.
					    </p>
					    
					</div>
					<div class="bottom">
						<p>
					        <span class="showprice article-price">Ab
					            24.95 EUR
					        </span>
					        <span class="showvat article-price">inkl. 7% MWSt</span>,<br />
					        	je nach
					            							    <a href="popup-einband.html" class="popup-link">Einband</a> und 
							    <a href="popup-umschlaggestaltung.html" class="popup-link">Umschlaggestaltung</a>, zzgl.
							    <a href="popup-versandkosten.html" class="popup-link">Versandkosten</a>
					            					            
					    </p>
					</div>
				</div>
				<div class="orderstep_teaser"></div>
			</div>
			<div class="right">
				<h1 class="book-price">24,95 EUR</h1>
																<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button>
								
				<br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was ist „Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
											</div>
		</div>
		
		<div class="formdata">
			
			<input type="hidden" class="formitem-edit" name="book-edit-430" value="false" />
			<div class="type_roman">
	<div class="left">
	
	    	    
				    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Weibliche Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Silke Sarter</i>, pensionierte Kommissarin; immer noch attraktiv und durchtrainiert; verheiratet mit <i>Heribert</i>; hat einen Sohn und zwei Enkeltöchter; möchte ihren Ruhestand eigentlich mit ihren geliebten Rosen oder gemütlich bei einer Tasse Kaffee verbringen, doch die Neugier siegt und sie beginnt, im Fall <i>Wieland</i> zu ermitteln; hilft ihrer Enkelin <i>Felicitas</i> und nimmt sie und deren Freund <i>Frank</i> bei sich auf; ihr nicht zu täuschender Spürsinn und ihr Bauchgefühl lassen sie schließlich den Fall lösen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der pensionierten Kommissarin ist																					</label>
																					<input type="text" value="Silke" 
                                name="vars-Heldin_VN" maxlength="30" id="vars-Heldin_VN" 
                                data-fieldname="Heldin_VN" 
                                data-default="Silke" 
                                class="field focuser default" />
							<span class="field_count">515x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der pensionierten Kommissarin (und aller anderen Familienmitglieder) ist																					</label>
																					<input type="text" value="Sarter" 
                                name="vars-Heldin_NN" maxlength="30" id="vars-Heldin_NN" 
                                data-fieldname="Heldin_NN" 
                                data-default="Sarter" 
                                class="field focuser default" />
							<span class="field_count">33x</span>
						</div>
											<div class="field">
							<label>
							Die Haarfarbe der pensionierten Kommissarin ist																					</label>
																					<input type="text" value="grau-blond" 
                                name="vars-Heldin_Haare" maxlength="30" id="vars-Heldin_Haare" 
                                data-fieldname="Heldin_Haare" 
                                data-default="grau-blond" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe der pensionierten Kommissarin ist																					</label>
																					<input type="text" value="blau" 
                                name="vars-Heldin_Augen" maxlength="30" id="vars-Heldin_Augen" 
                                data-fieldname="Heldin_Augen" 
                                data-default="blau" 
                                class="field focuser default" />
							<span class="field_count">4x</span>
						</div>
											<div class="field">
							<label>
							Ihr Ehemann nennt die pensionierte Kommissarin liebevoll																					</label>
																					<input type="text" value="Mutsch" 
                                name="vars-Heldin_Kose" maxlength="30" id="vars-Heldin_Kose" 
                                data-fieldname="Heldin_Kose" 
                                data-default="Mutsch" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
											<div class="field">
							<label>
							Die pensionierte Kommissarin hört gerne Musik von																					</label>
																					<input type="text" value="Edith Piaf" 
                                name="vars-Heldin_Musik" maxlength="30" id="vars-Heldin_Musik" 
                                data-fieldname="Heldin_Musik" 
                                data-default="Edith Piaf" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
											<div class="field">
							<label>
							Der Hund der pensionierten Kommissarin heißt																					</label>
																					<input type="text" value="Benny" 
                                name="vars-Heldin_Hund" maxlength="30" id="vars-Heldin_Hund" 
                                data-fieldname="Heldin_Hund" 
                                data-default="Benny" 
                                class="field focuser default" />
							<span class="field_count">16x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ehemann der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Heribert Sarter</i>, <i>Silke</i>s Mann; emeritierter Mathematikprofessor; trägt eine Brille; ruhige Person; spielt gerne Schach; kann mit dem Familienhund <i>Benny</i> nichts anfangen, hätte lieber einen Kater; nach anfänglichem Zögern beginnt auch er, über <i>Gerhard Wieland</i> Ermittlungen anzustellen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Ehemanns der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Heribert" 
                                name="vars-Ehemann_VN" maxlength="30" id="vars-Ehemann_VN" 
                                data-fieldname="Ehemann_VN" 
                                data-default="Heribert" 
                                class="field focuser default" />
							<span class="field_count">180x</span>
						</div>
											<div class="field">
							<label>
							Die Augenfarbe des Ehemanns der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="grau" 
                                name="vars-Ehemann_Augen" maxlength="30" id="vars-Ehemann_Augen" 
                                data-fieldname="Ehemann_Augen" 
                                data-default="grau" 
                                class="field focuser default" />
							<span class="field_count">2x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Sohn der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Stephan Sarter</i>, Sohn von <i>Silke</i> und <i>Heribert</i>; Staatsanwalt; wohlhabend; arbeitet viel; schlank; attraktiv; um die 50; fährt einen silbernen BMW; hat ein schwieriges Verhältnis zu seiner Tochter <i>Felicitas</i> und lehnt deren Freund <i>Frank</i> ab; am Schluss kommt es zur Versöhnung.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Staatsanwalts ist																					</label>
																					<input type="text" value="Stephan" 
                                name="vars-Sohn_VN" maxlength="30" id="vars-Sohn_VN" 
                                data-fieldname="Sohn_VN" 
                                data-default="Stephan" 
                                class="field focuser default" />
							<span class="field_count">57x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ältere Enkelin der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Meret Sarter</i>, älteste Tochter von <i>Stephan</i>; Mitte 20; Naturwissenschaftlerin; ruhig und vernünftig; wohnt mit ihrem Freund in <i>Frankfurt</i>; fährt einen A1; hilft auch bei der Lösung des Falls mit.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der älteren Enkelin der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Meret" 
                                name="vars-Enkelin1_VN" maxlength="30" id="vars-Enkelin1_VN" 
                                data-fieldname="Enkelin1_VN" 
                                data-default="Meret" 
                                class="field focuser default" />
							<span class="field_count">137x</span>
						</div>
											<div class="field">
							<label>
							Die ältere Enkelin der weiblichen Hauptrolle wohnt in																					</label>
																					<input type="text" value="Frankfurt" 
                                name="vars-Enkelin1_Wohnort" maxlength="30" id="vars-Enkelin1_Wohnort" 
                                data-fieldname="Enkelin1_Wohnort" 
                                data-default="Frankfurt" 
                                class="field focuser default" />
							<span class="field_count">3x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Jüngere Enkelin der weiblichen Hauptrolle</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Felicitas Sarter</i>, jüngere Tochter von <i>Stephan</i>; 18; hat rote Strähnchen; fährt einen uralten Twingo; impulsiv und manchmal etwas kindisch; ist wegen ihres Freundes mit ihrem Vater zerstritten; wird von <i>Frank</i>s kriminellen Freunden entführt (von denen sie mehrere Male als "Bullenschlampe" bezeichnet wird), aber von ihrer Großmutter gerettet; am Schluss versöhnt sie sich mit ihrem Vater.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der jüngeren Enkelin der weiblichen Hauptrolle ist																					</label>
																					<input type="text" value="Felicitas" 
                                name="vars-Enkelin2_VN" maxlength="30" id="vars-Enkelin2_VN" 
                                data-fieldname="Enkelin2_VN" 
                                data-default="Felicitas" 
                                class="field focuser default" />
							<span class="field_count">215x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Freund der jüngeren Enkelin und Tatverdächtiger</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Frank Korber</i>, Freund von <i>Felicitas</i>; Anfang 20; gutaussehend, aber gammliges Äußeres; saß bereits wegen Ladendiebstahls im Gefängnis, will aber mit seinen damaligen Freunden nichts mehr zutun haben und hat sich geändert; wegen seiner kriminellen Vergangenheit lehnt <i>Stephan Sarter</i> ihn ab; da er das Mordopfer kannte, wird er verdächtigt, festgenommen und wieder freigelassen; als <i>Felicitas</i> entführt wird, zwingen <i>Fabio</i> und <i>Steffen</i> ihn dazu, ein „Geständnis“ abzulegen“, aber die Wahrheit kommt doch noch ans Licht; am Ende reicht <i>Stephan Sarter</i> ihm die Hand.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Tatverdächtigen ist																					</label>
																					<input type="text" value="Frank" 
                                name="vars-Verdaechtiger_VN" maxlength="30" id="vars-Verdaechtiger_VN" 
                                data-fieldname="Verdaechtiger_VN" 
                                data-default="Frank" 
                                class="field focuser default" />
							<span class="field_count">312x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Tatverdächtigen ist																					</label>
																					<input type="text" value="Korber" 
                                name="vars-Verdaechtiger_NN" maxlength="30" id="vars-Verdaechtiger_NN" 
                                data-fieldname="Verdaechtiger_NN" 
                                data-default="Korber" 
                                class="field focuser default" />
							<span class="field_count">19x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Einbruchsopfer und Versicherungsbetrüger</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Gerhard Wieland</i>, Dozent für Mathematik; ehemaliger Kollege von <i>Heribert</i>; zurückweichender Haaransatz; Bauchansatz; Tränensäcke; wollte vor einigen Jahren eine Frau wegen ihres Geldes heiraten; ging nach Beendigung dieser Beziehung nach Hamburg; ist mit <i>Katja Keller</i> zusammen, die er aufrichtig liebt; hat finanzielle Probleme und arrangiert den Einbruch, um seine Versicherung zu betrügen; legt am Schluss ein Geständnis ab.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Einbruchsopfers ist																					</label>
																					<input type="text" value="Gerhard" 
                                name="vars-Opfer_VN" maxlength="30" id="vars-Opfer_VN" 
                                data-fieldname="Opfer_VN" 
                                data-default="Gerhard" 
                                class="field focuser default" />
							<span class="field_count">104x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Einbruchsopfers ist																					</label>
																					<input type="text" value="Wieland" 
                                name="vars-Opfer_NN" maxlength="30" id="vars-Opfer_NN" 
                                data-fieldname="Opfer_NN" 
                                data-default="Wieland" 
                                class="field focuser default" />
							<span class="field_count">70x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Nachbarin und Freundin des Einbruchsopfers</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Katja Keller</i>, Nachbarin von <i>Gerhard Wieland</i>; mollig; nicht unattraktiv; gefärbte Haare; Pflanzenliebhaberin und Teetrinkerin; geschieden; ihr Sohn lebt in England; ist mit <i>Gerhard Wieland</i> zusammen; wird am Schluss als Mörderin überführt – hat den Einbrecher erschlagen, weil sie dachte, er sei bewaffnet.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Nachbarin ist																					</label>
																					<input type="text" value="Katja" 
                                name="vars-Nachbarin_VN" maxlength="30" id="vars-Nachbarin_VN" 
                                data-fieldname="Nachbarin_VN" 
                                data-default="Katja" 
                                class="field focuser default" />
							<span class="field_count">124x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Nachbarin ist																					</label>
																					<input type="text" value="Keller" 
                                name="vars-Nachbarin_NN" maxlength="30" id="vars-Nachbarin_NN" 
                                data-fieldname="Nachbarin_NN" 
                                data-default="Keller" 
                                class="field focuser default" />
							<span class="field_count">35x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Einbrecher und Toter</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Jako Kremer</i>, der Tote; Freund von <i>Frank</i>; vorbestrafter Kleinkrimineller, der in <i>Gerhard Wieland</i>s Haus einbrechen sollte und dabei von <i>Katja Keller</i> erschlagen wird.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Einbrechers ist (stirbt)																					</label>
																					<input type="text" value="Jako" 
                                name="vars-Toter_VN" maxlength="30" id="vars-Toter_VN" 
                                data-fieldname="Toter_VN" 
                                data-default="Jako" 
                                class="field focuser default" />
							<span class="field_count">47x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Einbrechers ist (stirbt)																					</label>
																					<input type="text" value="Kremer" 
                                name="vars-Toter_NN" maxlength="30" id="vars-Toter_NN" 
                                data-fieldname="Toter_NN" 
                                data-default="Kremer" 
                                class="field focuser default" />
							<span class="field_count">1x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Freundin des Toten</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Sandra Liebig</i>, Exfreundin von <i>Frank</i>; Freundin von <i>Jako</i>; zahlreiche Piercings; Raucherin; ist auf <i>Felicitas</i> eifersüchtig; hilft zunächst <i>Steffen</i>, verrät dann aber <i>Silke</i>, wo <i>Felicitas</i> gefangen gehalten wird; Ihre Mutter Frau <i>Liebig</i> hat nur einen kurzen Auftritt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Freundin des Toten ist																					</label>
																					<input type="text" value="Sandra" 
                                name="vars-FreundinToter_VN" maxlength="30" id="vars-FreundinToter_VN" 
                                data-fieldname="FreundinToter_VN" 
                                data-default="Sandra" 
                                class="field focuser default" />
							<span class="field_count">86x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der Freundin des Toten ist																					</label>
																					<input type="text" value="Liebig" 
                                name="vars-FreundinToter_NN" maxlength="30" id="vars-FreundinToter_NN" 
                                data-fieldname="FreundinToter_NN" 
                                data-default="Liebig" 
                                class="field focuser default" />
							<span class="field_count">6x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ermittelnder Kommissar</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Wolfgang Schmitz</i>, ermittelnder Kommissar; <i>Silke</i> war seine Vorgesetzte; Bulldoggengesicht; kräftig und grob; kleines Bäuchchen; müde und überarbeitet; lässt zu, dass <i>Silke</i> sich in den Fall einmischt.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Kommissars ist																					</label>
																					<input type="text" value="Wolfgang" 
                                name="vars-Kommissar_VN" maxlength="30" id="vars-Kommissar_VN" 
                                data-fieldname="Kommissar_VN" 
                                data-default="Wolfgang" 
                                class="field focuser default" />
							<span class="field_count">8x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Kommissars ist																					</label>
																					<input type="text" value="Schmitz" 
                                name="vars-Kommissar_NN" maxlength="30" id="vars-Kommissar_NN" 
                                data-fieldname="Kommissar_NN" 
                                data-default="Schmitz" 
                                class="field focuser default" />
							<span class="field_count">102x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ermittelnde Polizistin</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Karina Winter</i>, ermittelnde Polizistin; energisch; durchtrainiert; Pferdeschwanz; bewundert <i>Silke</i> und ist enttäuscht, als diese ihr nicht sagt, warum sie sich tatsächlich für den Fall interessiert.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der jungen Polizistin ist																					</label>
																					<input type="text" value="Karina" 
                                name="vars-Polizistin_VN" maxlength="30" id="vars-Polizistin_VN" 
                                data-fieldname="Polizistin_VN" 
                                data-default="Karina" 
                                class="field focuser default" />
							<span class="field_count">38x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname der jungen Polizistin ist																					</label>
																					<input type="text" value="Winter" 
                                name="vars-Polizistin_NN" maxlength="30" id="vars-Polizistin_NN" 
                                data-fieldname="Polizistin_NN" 
                                data-default="Winter" 
                                class="field focuser default" />
							<span class="field_count">23x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Krimineller Freund des Toten</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Fabio</i>, Freund von <i>Jako</i>; Narbe auf der Wange; fährt einen BMW; wird wegen Hehlerei eingebuchtet.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Verbrechers ist																					</label>
																					<input type="text" value="Fabio" 
                                name="vars-Verbrecher1_VN" maxlength="30" id="vars-Verbrecher1_VN" 
                                data-fieldname="Verbrecher1_VN" 
                                data-default="Fabio" 
                                class="field focuser default" />
							<span class="field_count">55x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Krimineller Freund des Toten und Entführer</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Steffen</i>, Freund von <i>Jako</i>; bullig und gewalttätig; entführt <i>Felicitas</i>; wird am Schluss nach einer Schussverletzung gefangengenommen.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Entführers ist																					</label>
																					<input type="text" value="Steffen" 
                                name="vars-Verbrecher2_VN" maxlength="30" id="vars-Verbrecher2_VN" 
                                data-fieldname="Verbrecher2_VN" 
                                data-default="Steffen" 
                                class="field focuser default" />
							<span class="field_count">42x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Professor</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Engelbrecht Wagenmeister</i>, Prof. Dr. Dr.; ehemaliger Kollege von <i>Heribert</i>; 50; verheiratet mit <i>Britta</i>; hat drei Kinder und mehrere Enkel; hat einen Bart; Pfeifenraucher; sehr spöttisch und macht <i>Gerhard</i> bei einem Abendessen nieder; wird von <i>Katja</i> als Kotzbrocken bezeichnet.</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname des Professors ist																					</label>
																					<input type="text" value="Engelbrecht" 
                                name="vars-Professor_VN" maxlength="30" id="vars-Professor_VN" 
                                data-fieldname="Professor_VN" 
                                data-default="Engelbrecht" 
                                class="field focuser default" />
							<span class="field_count">35x</span>
						</div>
											<div class="field">
							<label>
							Der Nachname des Professors (und seiner Frau) ist																					</label>
																					<input type="text" value="Wagenmeister" 
                                name="vars-Professor_NN" maxlength="30" id="vars-Professor_NN" 
                                data-fieldname="Professor_NN" 
                                data-default="Wagenmeister" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
									</div>
			</div>
							    			<div class="formitem">
								<a href="#" class="more">Beschreibung</a>
								<div class="name">Ehefrau des Professors</div>
				<div class="description" style="margin-top: 5px;display:none"><i>Britta Wagenmeister</i>, Frau von <i>Engelbrecht</i>; jünger als er; natürlich; lebendig; arbeitet in einem Verlag (kleine Rolle).</div>
				<div class="fields clearfix">
											<div class="field">
							<label>
							Der Vorname der Frau des Professors ist																					</label>
																					<input type="text" value="Britta" 
                                name="vars-ProfessorFrau_VN" maxlength="30" id="vars-ProfessorFrau_VN" 
                                data-fieldname="ProfessorFrau_VN" 
                                data-default="Britta" 
                                class="field focuser default" />
							<span class="field_count">11x</span>
						</div>
									</div>
			</div>
						</div>
	<div class="right">
		<div id="tabsdiv">
			<ul class="tabheader clearfix">
				<li><a href="#wichtig">Wichtig!</a></li>
				<li><a href="#datenschutz">Datenschutz</a></li>
				<li><a href="#vorschau">Vorschau</a></li>
			</ul>
			<div id="wichtig">
				<h1>Informationen zur Personalisierung</h1>
				<ul style="margin: 0">
					<li class="warning">
						Wir übernehmen exakt Ihre Angaben, bitte achten Sie auf 		
						Rechtschreibung und Groß- und Kleinschreibung
					</li>
					<li>
						Geschlechter können nicht geändert werden
					</li>
					<li>
						Änderungen vor Abschluss der Bestellung sind möglich
					</li>
					<li>
						Rechts neben dem Eingabefeld wird die Häufigkeit der 		
						Nennungen im Buch angezeigt
					</li>
					<li>
						Möchten Sie ein Feld nicht personalisieren, kann unser 		
						Vorschlag übernommen werden
					</li>
				</ul>
			</div>
			<div id="datenschutz">
				Wir werden Ihre persönlichen Daten ausschließlich zur Abwicklung der Bestellung erfragen und verwenden. 
			</div>
			<div id="vorschau">
				Nachstehend erhalten Sie eine Vorschau Ihrer Eingaben. Bitte beachten Sie, dass dieser 
				Text nicht Bestandteil des Buchumschlags oder Buchinhalts ist sondern lediglich als Hilfestellung 
				bei der Personalisierung dient. Zudem werden grammatikalische Bezüge in dem Beispieltext teilweise 
				nicht korrekt angezeigt, im gedruckten Buch sind diese jedoch einwandfrei.
				Zum Beispiel: Vorschau „Maxs Yacht“, 
				Buch „Max’ Yacht“ oder Vorschau „silberes Haar“, Buch „silbernes Haar“ etc. 
			</div>
		</div>
		
		<div id="preview_anchor"></div>
		<div id="preview" class="preview_box" style="display:block">
			Die pensionierte Exkommissarin <span class='default Heldin_VN'>Silke</span> <span class='default Heldin_NN'>Sarter</span>, mit den <span class='default Heldin_Haare'>grau-blond</span>en Haaren und <span class='default Heldin_Augen'>blau</span>en Augen, würde ihren Ruhestand am liebsten mit ihren Rosen, ihrem Hund <span class='default Heldin_Hund'>Benny</span>, Musik von <span class='default Heldin_Musik'>Edith Piaf</span> und ihrem <span class='default Ehemann_Augen'>grau</span>äugigen Ehemann <span class='default Ehemann_VN'>Heribert</span> <span class='default Heldin_NN'>Sarter</span>, der sie liebevoll <span class='default Heldin_Kose'>Mutsch</span> nennt, verbringen. Doch dann erfährt sie, dass bei <span class='default Opfer_VN'>Gerhard</span> <span class='default Opfer_NN'>Wieland</span> eingebrochen wurde und der Täter <span class='default Toter_VN'>Jako</span> <span class='default Toter_NN'>Kremer</span> ermordet aufgefunden wurde. Zu den Verdächtigen gehört auch <span class='default Verdaechtiger_VN'>Frank</span> <span class='default Verdaechtiger_NN'>Korber</span>, der Freund ihrer Enkelin <span class='default Enkelin2_VN'>Felicitas</span> <span class='default Heldin_NN'>Sarter</span>, die wegen ihm schon lange mit ihrem Vater <span class='default Sohn_VN'>Stephan</span> <span class='default Heldin_NN'>Sarter</span> im Klinsch liegt. Gemeinsam mit ihrer anderen Enkelin <span class='default Enkelin1_VN'>Meret</span> <span class='default Heldin_NN'>Sarter</span>, die extra aus <span class='default Enkelin1_Wohnort'>Frankfurt</span> angereist ist, und dem ermittelnden Kommissar <span class='default Kommissar_VN'>Wolfgang</span> <span class='default Kommissar_NN'>Schmitz</span> sowie der Polizistin <span class='default Polizistin_VN'>Karina</span> <span class='default Polizistin_NN'>Winter</span> ermittelt <span class='default Heldin_VN'>Silke</span>. Bald weisen erste Spuren zu Freunden des Toten, <span class='default FreundinToter_VN'>Sandra</span> <span class='default FreundinToter_NN'>Liebig</span>, <span class='default Verbrecher1_VN'>Fabio</span> und <span class='default Verbrecher2_VN'>Steffen</span>. Oder steckt doch jemand anderes dahinter? Weiß die Nachbarin <span class='default Nachbarin_VN'>Katja</span> <span class='default Nachbarin_NN'>Keller</span> vielleicht mehr? Warum reagiert sie so verunsichert auf den Besuch von <span class='default Professor_VN'>Engelbrecht</span> <span class='default Professor_NN'>Wagenmeister</span> und seiner Frau <span class='default ProfessorFrau_VN'>Britta</span>?		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("a.more").click(function(e){
			e.preventDefault();
			$(this).parent().children(".description").toggle(200);
		});
			
		var preview_top = $("#preview_anchor").offset() ? $("#preview_anchor").offset().top : 0;
		var footer_top = $("#footer").offset().top;
		var spacing = 20;
		var preview_timer = null;
	
		function scroll_preview() {
			// scrollTop strongly depends on the browser software
			var window_top = $("body").scrollTop() || $("html").scrollTop();
			var new_top = Math.max(0, window_top - preview_top + spacing);
			new_top = Math.min(new_top, footer_top - document.getElementById("preview").offsetHeight - spacing - preview_top);
			$("#preview").stop().animate({'margin-top': (new_top + 20)+'px'}, 500);
		}
	
		$(window).scroll(function() {
			if (preview_timer) {
				clearTimeout(preview_timer);
			}
			preview_timer = setTimeout(scroll_preview, 50);
		});
	});
</script>		</div>
		<div class="controls clearfix " style="border:none; ">
			<div class="right" style="padding-top:10px">
								<button type="submit" 
					class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					id="nextpage" name="submitter" 
					value="Weiter zur Widmung &gt;&gt;">
					<span><span>Weiter zur Widmung &gt;&gt;</span></span>
				</button><br/>
								
				<!--
								<button type="submit" class="awesomebutton awesomegreen_gradient nextpage awesomeround" 
					name="quicksubmitter" value="Direkt zum Warenkorb &gt;&gt;">
					<span><span>Schnellbestellung &gt;&gt;</span></span>
				</button>
								-->
				
								<!--
								<div class="disclosure-widget">
				<strong style="font-size:11px;">Was bedeutet„Schnellbestellung“?</strong>
				<div style="display: none; padding-top:7px;">Der Button „Schnellbestellung“ speichert Ihre Personalisierung und führt Sie direkt zum Warenkorb. Von dort aus können Sie weitere Eigenschaften Ihres Buches wie Umschlag und Untertitel personalisieren.</div>
				</div>
								-->
				
								
			</div>
		</div>
		
	</form>
</div>
<style>
	.disclosure-widget > :first-child {
		padding-left:5px;
	}
</style											
</div>

<!-- indexer::continue -->

</article>
 
</div>
 
<div id="clear"></div>
<script language="javascript">
    // SEO part
    var ia_tc = ""; // optional Kampagne
    var ia_sc = ""; // optional AdGroup

    // DON'T CHANGE ANYTHING BELOW THIS LINE !!!
    var ia_cl="8353634303236323131303";
    var ia_bmcl="5393835313236323131303";

    document.write('<sc'+'ript src="'+'http'+(document.location.protocol=='https:'?'s':'')+'://t13.intelliad.de/ia2.js"></sc'+'ript>');
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-219368-1']);

  _gaq.push(['_trackPageview']);

  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();
</script>
</section>

</div>
</div>

<footer id="footer">
<div class="inside">

<div class="romane" id="base_footer">
                
              <div class="border"></div>
              
              <div class="base_footer_inner highlighted">
                  <div class="footer_column">
                      <p>Sie finden uns auch hier</p>
                      
                        <a target="_blank" class="media_icons" href="http://www.facebook.com/pages/PersonalNOVEL/98304609659"><img src="/tl_files/personalnovel_de/static/css/images/sm_fb.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.twitter.com/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_tw.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://www.youtube.com/user/PersonalNOVEL"><img src="/tl_files/personalnovel_de/static/css/images/sm_yt.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://blog.personalnovel.de/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pn.png" alt="Logos von Social-Media-Firmen"></a>
                      
                        <a target="_blank" class="media_icons" href="http://pinterest.com/personalnovel/"><img src="/tl_files/personalnovel_de/static/css/images/sm_pi.png" alt="Logos von Social-Media-Firmen"></a>
                      
                  </div>
                  <div class="footer_column">
                      <p>Unser Logistikpartner</p>
                      <img src="/tl_files/personalnovel_de/static/css/images/DHL.png" alt="DHL Logo">
                  </div>
                  <div class="footer_column">
                      <p>Zahlungsmethoden</p>
                    <img style="margin-top: -1px;margin-left: -11px;height: 79px;" src="/tl_files/personalnovel_de/static/assets/website/zahlung.jpg?1320662046" alt="Logos der Zahlungsanbieter">
                  </div>
                  <div class="footer_column">
                      <p>Geprüfte Leistung</p>
                      
                        
                        <a target="_blank" class="media_icons" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_trusted-e-shop.png?1332348951" title="Siegel Trusted Shops" alt="Siegel Trusted Shops"></a>
                     
                        
                        <a target="_blank" class="media_icons" href="http://egoo.de/zertifikat/personalnovel"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_egoo.png?1332349114" title="Siegel egoo" alt="Siegel egoo"></a>
                      
                        
                        <a target="_blank" class="media_icons" href="http://mass-customization.blogs.com/mass_customization_open_i/2006/08/mcoi_interview__1.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/Siegel_500.png?1332349201" title="Siegel "The Customization 500"" alt="Siegel "The Customization 500""></a>
                      
                        <a target="_blank" class="media_icons" href="https://pci.usd.de/compliance/1837-07BF-641A-8BCE-57CB-85A2/details_de.html"><img width="33" height="33" src="/tl_files/personalnovel_de/static/assets/website/seal.png?1332349251" title="Seal "The Customization 500"" alt="Seal "></a>
                  </div>
              </div>
              
              <div class="base_footer_inner">
              
                  
                  
  
    
  <div class="footer_column">
    <p class="heading">Recht</p>
    
      
  <a href="/impressum">
    Impressum
  </a>

    
      
  <a href="/agb">
    AGB
  </a>

    
      
  <a href="/datenschutz">
    Datenschutz und Sicherheit
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Sicherheit</p>
    
      
  <a target="_blank" href="http://www.trustedshops.de/info/was-ist-der-trusted-shops-kaeuferschutz/">
    Käuferschutz
  </a>

    
      
  <a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X2C834FF848E080243F1AFD2A3C74272F">
    Trusted-Shops-Siegel
  </a>


    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Service</p>
    
      
  <a href="/faq">
    FAQ / Hilfe
  </a>

    
      
  <a href="/so-wird-bestellt">
    So wird bestellt
  </a>

    
      
  <a href="/kontakt">
    Kontakt
  </a>

    
      
  <a href="/service-versand">
    Lieferzeiten
  </a>

    
      
  <a href="/newsletter">
    Newsletter
  </a>

    
      
  <a href="/sitemap">
    Sitemap
  </a>

    
      
  <a href="http://www.personalnovel.co.uk">
    Personalised books (UK)
  </a>

    
  </div>

  
    
  <div class="footer_column">
    <p class="heading">Über PersonalNOVEL</p>
    
      
  <a href="/press">
    Unternehmen
  </a>

    
      
  <a target="_blank" href="http://blog.personalnovel.de/">
    Aktuelles und Blog
  </a>

    
      
  <a href="/press">
    Presse
  </a>

    
      
  <a href="/kundenstimmen">
    Kundenstimmen
  </a>

    
      
  <a href="/jobs-karriere-autor">
    Jobs / Karriere / Autor
  </a>   
  <a href="/partnerprogramm">
    Partnerprogramm
  </a>   
  <a target="_blank" href="http://www.youtube.com/user/PersonalNOVEL">
    PersonalNOVEL auf YouTube
  </a>
  </div>
</div>
              
            </div> 
</div>
</footer>

</div>

</body>
</html>

