.tt_thumbnails{
	padding:20px 20px;
}
.tt_search_box{ 
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:solid 2px #666;
}
.tt_search_box label{
	font-size:14px;
	font-weight:bold;
}
.tt_show_thumbnails .notdata{
	color:red;
}
.tt_show_thumbnails table{
	width:100%;
}
.tt_show_thumbnails table th{
	padding:10px 0px;
	text-align:left;
}
.tt_show_thumbnails table td{
	padding:3px 0px;
}
.tt_show_thumbnails .delete_thumbnail{
	height:40px;
	text-align:left;
	padding-top:10px;
	border-top:solid 2px #666;
}