#be_mod_tracking
{
    overflow-x: auto;
    margin: 10px;
    min-height: 677px;
}

#be_mod_tracking table
{
    border: 1px solid #c4c4c4;
    border-spacing: 1px;
    border-collapse: collapse;
}

#be_mod_tracking table td, #be_mod_tracking table th
{
    padding: 2px 5px;
    border: 1px solid #c4c4c4;
}